Repository neovim/neovim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jamessan, @dundargoc, @bfredl, @gpanders, @vigoux, @mjlbach, @mfussenegger

feat(lua): add notify_once() (#16956)
  runtime/doc/lua.txt
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/util.lua
  src/nvim/lua/vim.lua
  test/functional/lua/vim_spec.lua
Owners: @mjlbach, @mfussenegger, @bfredl

fix(lua): print multiple return values with =expr (#16933)
  runtime/doc/lua.txt
  src/nvim/lua/executor.c
  src/nvim/lua/vim.lua
  test/functional/lua/commands_spec.lua
Owners: @bfredl

fix(runtime): check markdownError before syn-clear (#16930)
  runtime/syntax/checkhealth.vim
Owners: none

feat(lsp): skip or reduce debounce after idling
  runtime/lua/vim/lsp.lua
Owners: @mjlbach, @mfussenegger

vim-patch:8.2.0951: search stat test has leftover from debugging
  src/nvim/testdir/test_search_stat.vim
Owners: @bfredl

vim-patch:8.2.0951: search stat test has leftover from debugging (#16967)
  src/nvim/testdir/test_search_stat.vim
Owners: @bfredl

feat(filetype.lua): add support for tmux.conf files
  runtime/lua/vim/filetype.lua
Owners: none

vim-patch:8.2.4007: session does not restore help buffer properly
  src/nvim/ex_session.c
  src/nvim/testdir/test_mksession.vim
Owners: @bfredl

vim-patch:8.2.4014: git and gitcommit file types not properly recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  runtime/scripts.vim
  src/nvim/testdir/test_filetype.vim
  test/functional/lua/filetype_spec.lua
Owners: @bfredl

vim-patch:8.2.4014: git and gitcommit file types not properly recognized (#16953)
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  runtime/scripts.vim
  src/nvim/testdir/test_filetype.vim
  test/functional/lua/filetype_spec.lua
Owners: @bfredl

fixup! feat(lsp): skip or reduce debounce after idling
  runtime/lua/vim/lsp.lua
Owners: @mjlbach, @mfussenegger

feat(lsp): skip or reduce debounce after idle (#16881)
  runtime/lua/vim/lsp.lua
Owners: @mjlbach, @mfussenegger

ci: run type-scope job after the triage job
  .github/workflows/labeler.yml
Owners: @jamessan

vim-patch:8.2.3669: buffer overflow with long help argument
  src/nvim/ex_cmds.c
  src/nvim/testdir/test_help.vim
Owners: @bfredl

vim-patch:8.2.3611: crash when using CTRL-W f without finding a file name
  src/nvim/file_search.c
  src/nvim/normal.c
  src/nvim/path.c
  src/nvim/testdir/test_visual.vim
Owners: @bfredl

feat: sync omnifunc
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
Owners: @mjlbach, @mfussenegger

vim-patch:8.2.3613: :find test fails
  src/nvim/file_search.c
Owners: @bfredl

vim-patch:8.2.3612: using freed memory with regexp using a mark
  src/nvim/regexp.c
  src/nvim/regexp_nfa.c
  src/nvim/testdir/test_regexp_latin.vim
Owners: @bfredl

ci: set CLANG_SANITIZER variable to TSAN when running the tsan job
  .github/workflows/env.sh
Owners: @jamessan

fix(filetype): match negative priority patterns after extensions
  runtime/lua/vim/filetype.lua
Owners: none

vim-patch:8.2.4033: running filetype tests leaves directory behind
  src/nvim/testdir/test_filetype.vim
Owners: @bfredl

fix(lsp): resolve bufnr for get_lines
  runtime/lua/vim/lsp/util.lua
Owners: @mjlbach, @mfussenegger

fix: allow nvim -es to be used interactively with a TTY
  src/nvim/main.c
Owners: @bfredl

vim-patch:8.2.4033: running filetype tests leaves directory behind (#16984)
  src/nvim/testdir/test_filetype.vim
Owners: @bfredl

fix(filetype): match negative priority patterns after extensions (#16980)
  runtime/lua/vim/filetype.lua
Owners: none

fix: make mode() return correct value in ex mode
  src/nvim/state.c
  test/functional/core/startup_spec.lua
Owners: @bfredl

WIP: Improved Neovim filetype detection mechanism (filetype.lua)
  runtime/filetype.lua
  runtime/lua/vim/filetype.lua
Owners: none

feat(autochdir): extract CWD from term:// URI
  src/nvim/file_search.c
  test/functional/options/autochdir_spec.lua
Owners: @bfredl

test: remove redundant feed_command('terminal')
  test/functional/terminal/buffer_spec.lua
Owners: none

fix(lsp): resolve bufnr for get_lines (#16986)
  runtime/lua/vim/lsp/util.lua
Owners: @mjlbach, @mfussenegger

fix(lsp): resolve bufnr for get_lines
  runtime/lua/vim/lsp/util.lua
Owners: @mjlbach, @mfussenegger

fix(api): throw error on failure to convert Lua value to Vim variable
  src/nvim/api/private/converter.c
  test/functional/api/vim_spec.lua
Owners: @bfredl

test: add VIMRUNTIME variable to the clear function
  test/functional/core/startup_spec.lua
  test/functional/helpers.lua
Owners: none

ci: use continue-on-error instead of "|| true"
  .github/workflows/labeler.yml
Owners: @jamessan

fix(lsp): only send command and args in executeCommand
  runtime/lua/vim/lsp/buf.lua
Owners: @mjlbach, @mfussenegger

test: remove redundant feed_command('terminal') (#16993)
  test/functional/terminal/buffer_spec.lua
Owners: none

feat(extmarks): add strict option
  src/nvim/api/extmark.c
  src/nvim/api/keysets.lua
Owners: @bfredl

fix(lsp): only send valid params in executeCommand (#16987)
  runtime/lua/vim/lsp/buf.lua
Owners: @mjlbach, @mfussenegger

fix(lsp): only send command and args in executeCommand
  runtime/lua/vim/lsp/buf.lua
Owners: @mjlbach, @mfussenegger

feat(filetype.lua): Add support for detecting files under .git
  runtime/lua/vim/filetype.lua
Owners: none

.github/CODEOWNERS:

# CI
/.github/ @jamessan
/ci/      @jamessan
/scripts/ @jamessan

# src
/src/uncrustify.cfg @dundargoc
/src/nvim/          @bfredl

# runtime
/runtime/lua/vim/diagnostic.lua @gpanders
/runtime/lua/vim/treesitter/    @bfredl @vigoux
/runtime/lua/vim/treesitter.lua @bfredl @vigoux
/runtime/lua/vim/lsp.lua        @mjlbach @mfussenegger
/runtime/lua/vim/lsp/           @mjlbach @mfussenegger
