Repository neovim/neovim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jamessan, @dundargoc, @bfredl, @gpanders, @vigoux, @mjlbach, @mfussenegger

.github/CODEOWNERS:

# CI
/.github/ @jamessan
/ci/      @jamessan
/scripts/ @jamessan

# src
/src/uncrustify.cfg @dundargoc
/src/nvim/          @bfredl

# runtime
/runtime/lua/vim/diagnostic.lua @gpanders
/runtime/lua/vim/treesitter/    @bfredl @vigoux
/runtime/lua/vim/treesitter.lua @bfredl @vigoux
/runtime/lua/vim/lsp.lua        @mjlbach @mfussenegger
/runtime/lua/vim/lsp/           @mjlbach @mfussenegger

feat(filetype.lua): add support for patch files
  runtime/lua/vim/filetype.lua
Owners: none

refactor(PVS/V1048): ignore "assigned the same value" warning
  src/nvim/memline.c
Owners: @bfredl

fix(api): validate user_command name
  src/nvim/api/private/helpers.c
Owners: @bfredl

feat(treesitter): add vim.treesitter.config
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/config.lua
  runtime/lua/vim/treesitter/query.lua
  test/functional/treesitter/query_spec.lua
Owners: @bfredl, @vigoux

feat(treesitter): set allocator when possible
  CMakeLists.txt
  src/nvim/lua/treesitter.c
Owners: @bfredl
