Repository neovim/neovim, changes with the labels that .github/labeler.yml gives for each.
All labels: lsp, lua, tui, treesitter, dependencies, topic: spell, topic: :terminal, topic: column, topic: folds, topic: mouse, topic: documentation, topic: clipboard, topic: diff, topic: build

.github/labeler.yml:

"lsp":
  - runtime/lua/vim/lsp.lua
  - runtime/lua/vim/lsp/*

"lua":
  - runtime/lua/**/*
  - src/nvim/lua

"tui":
  - src/nvim/tui/tui.*

"treesitter":
  - src/nvim/lua/treesitter.*
  - runtime/lua/vim/treesitter.lua
  - runtime/lua/vim/treesitter/*

"dependencies":
  - third-party/**/*

"topic: spell":
  - src/nvim/spell*

"topic: :terminal":
  - src/nvim/terminal.*

"topic: column":
  - src/nvim/mark.h
  - src/nvim/mark.c
  - src/nvim/sign*

"topic: folds":
  - src/nvim/fold*

"topic: mouse":
  - src/nvim/mouse*

"topic: documentation":
  - runtime/doc/*

"topic: clipboard":
  - runtime/autoload/provider/clipboard.vim

"topic: diff":
  - src/nvim/diff.*

"topic: build":
  - CMakeLists.txt
  - "**/CMakeLists.txt"
  - "**/*.cmake"

Delete remnant from merge conflict
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua

Add files via upload
  development.html
Labels: none

lsp: add vim.lsp.diagnostic.set_qflist() function (#14831)
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua, topic: documentation

feat(treesitter): allow to set highlight priority for queries
  runtime/lua/vim/treesitter/highlighter.lua
  test/functional/treesitter/highlight_spec.lua
Labels: lua, treesitter

docs(tree-sitter): document highlight priority
  runtime/doc/api.txt
  runtime/doc/treesitter.txt
Labels: topic: documentation

fix(lsp): guard against `nil` in lsp.buf_request_all
  runtime/lua/vim/lsp.lua
Labels: lsp, lua

option parsing cleanup
  src/nvim/globals.h
  src/nvim/main.c
Labels: none

misc cleanup in option parsing
  src/nvim/main.c
Labels: none

refactor(global): make exmode_active an enum
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_docmd.h
  src/nvim/ex_getln.c
  src/nvim/globals.h
  src/nvim/main.c
  src/nvim/message.c
  src/nvim/normal.c
  src/nvim/state.c
Labels: none

refactor(hardcopy): use C99 bools instead of ints
  src/nvim/hardcopy.c
Labels: none

Should fix ci
  src/nvim/main.c
Labels: none

so unused variables cause errors...
  src/nvim/main.c
Labels: none

Remove EXMODE_NORMAL
  runtime/doc/eval.txt
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/doc/vim_diff.txt
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_docmd.h
  src/nvim/ex_getln.c
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/main.c
  src/nvim/main.h
  src/nvim/message.c
  src/nvim/normal.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/state.c
Labels: topic: documentation

fix(ci): disable broken test on openbsd on all CI due to resource constraints
  test/functional/plugin/lsp_spec.lua
Labels: none

fix(ci): lower timeout to 45 minutes (from default 360 mins)
  .github/workflows/ci.yml
Labels: none

added ccls-cache in .gitignore
  .gitignore
Labels: none

fix(lsp): remove vim.list_extend to improve symbols_to_items performance
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

chore: update bug report template by using githubs new issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

ci: set timeout limit to 60 minutes for all jobs.
  .github/workflows/api-docs.yml
  .github/workflows/ci.yml
  .github/workflows/coverity-scan.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/vim-patches.yml
Labels: none

chore: PVS/V751: ignore warning
  src/nvim/tui/tui.c
Labels: tui

chore: update feature request template by using githubs issue forms.
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

chore: updated lsp bug report by using github issue forms.
  .github/ISSUE_TEMPLATE/lsp_bug_report.md
  .github/ISSUE_TEMPLATE/lsp_bug_report.yml
Labels: none

fix: source syncolors.vim after startup scripts
  src/nvim/main.c
Labels: none

doc: group documentation of predicates and directives
  runtime/doc/treesitter.txt
Labels: topic: documentation

treesitter: add query.list_directives
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/query.lua
  test/functional/treesitter/parser_spec.lua
Labels: lua, treesitter, topic: documentation

typo
  runtime/doc/lua.txt
Labels: topic: documentation

fix: fix incorrect call sites of xcalloc
  src/nvim/api/buffer.c
  src/nvim/api/vim.c
  src/nvim/buffer_updates.c
  src/nvim/undo.c
Labels: none

fix(highlight): use the right condition for reloading syncolors.vim
  src/nvim/syntax.c
Labels: none

feat(api): add "viS" to mode() result
  runtime/doc/eval.txt
  src/nvim/globals.h
  src/nvim/normal.c
  src/nvim/state.c
  src/nvim/testdir/test_functions.vim
Labels: topic: documentation

chore: update bug report template by using Github's new issue forms (#15152)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

chore: update feature request template by using Github issue forms. (#15158)
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

chore: update LSP bug report with Github issue forms (#15159)
  .github/ISSUE_TEMPLATE/lsp_bug_report.md
  .github/ISSUE_TEMPLATE/lsp_bug_report.yml
Labels: none

chore: added ccls-cache in .gitignore (#15175)
  .gitignore
Labels: none

chore: PVS/V751: ignore warning #15153
  src/nvim/tui/tui.c
Labels: tui

docs(ts): add documentation for listing fns
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/query.lua
Labels: lua, treesitter, topic: documentation

refactor: replace TRUE/FALSE macros with C99 true/false
  src/nvim/buffer.c
  src/nvim/change.c
  src/nvim/digraph.c
  src/nvim/highlight.c
  src/nvim/indent.c
  src/nvim/keymap.c
  src/nvim/mbyte.c
  src/nvim/memfile_defs.h
  src/nvim/misc1.c
  src/nvim/mouse.c
  src/nvim/normal.c
  src/nvim/search.h
  src/nvim/sign.c
Labels: topic: column, topic: mouse

vim-patch:8.1.1336: some eval functionality is not covered by tests
  src/nvim/testdir/test_bufline.vim
  src/nvim/testdir/test_cindent.vim
  src/nvim/testdir/test_cursor_func.vim
  src/nvim/testdir/test_expand_func.vim
  src/nvim/testdir/test_float_func.vim
  src/nvim/testdir/test_functions.vim
  test/functional/legacy/delete_spec.lua
  test/functional/legacy/fnamemodify_spec.lua
Labels: none

vim-patch:8.2.0212: missing search/substitute pattern hardly tested
  runtime/doc/eval.txt
  runtime/doc/testing.txt
  runtime/doc/usr_41.txt
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/regexp.c
  src/nvim/search.c
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_search.vim
  src/nvim/testdir/test_sort.vim
  src/nvim/testdir/test_substitute.vim
Labels: topic: documentation

vim-patch:8.2.0243: insufficient code coverage for ex_docmd.c functions
  src/nvim/testdir/test_arglist.vim
  src/nvim/testdir/test_buffer.vim
  src/nvim/testdir/test_cd.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_ex_mode.vim
  src/nvim/testdir/test_excmd.vim
  src/nvim/testdir/test_mapping.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_search.vim
  src/nvim/testdir/test_sort.vim
  src/nvim/testdir/test_source.vim
  src/nvim/testdir/test_substitute.vim
  src/nvim/testdir/test_undo.vim
  src/nvim/testdir/test_vimscript.vim
  src/nvim/testdir/test_window_cmd.vim
Labels: none

vim-patch:8.2.0250: test_clear_search_pat() is unused
  runtime/doc/eval.txt
  runtime/doc/testing.txt
  runtime/doc/usr_41.txt
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/regexp.c
  src/nvim/search.c
  src/nvim/testdir/test_writefile.vim
Labels: topic: documentation
