Repository neovim/neovim, changes with the labels that .github/labeler.yml gives for each.
All labels: lsp, lua, tui, treesitter, diagnostic, dependencies, spell, terminal, column, folds, mouse, clipboard, diff, build, ci

Update
  runtime/lua/vim/path.lua
Labels: lua

docs: clarify UIEnter and UILeave docs
  runtime/doc/autocmd.txt
Labels: none

chore: fix typos
  runtime/autoload/health/provider.vim
  runtime/doc/api.txt
  runtime/doc/diagnostic.txt
  runtime/doc/eval.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/nvim_terminal_emulator.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/log.lua
  runtime/lua/vim/lsp/rpc.lua
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/event/loop.c
  src/nvim/lua/vim.lua
  src/nvim/testdir/test_put.vim
  src/nvim/tui/tui.c
  test/README.md
Labels: lsp, lua, tui, diagnostic

vim-patch:8.2.3905: Dockerfile using prefix name not recognized
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: none

vim-patch:8.2.3909: Containerfile using prefix name not recognized
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: none

feat(:source, nvim_exec): line numbers in :verbose output
  src/nvim/ex_cmds2.c
  test/functional/api/vim_spec.lua
Labels: none

Update
  runtime/lua/vim/path.lua
Labels: lua

Address review
  runtime/lua/vim/path.lua
Labels: lua

Address review
  runtime/lua/vim/path.lua
Labels: lua

vim-patch:8.2.3914: various spelling mistakes in comments
  src/nvim/buffer.c
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/fold.c
  src/nvim/getchar.c
  src/nvim/menu.c
  src/nvim/message.c
  src/nvim/move.c
  src/nvim/option.c
  src/nvim/quickfix.c
  src/nvim/regexp_nfa.c
  src/nvim/screen.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/window.c
Labels: spell, folds, diff

fixup! vim-patch:8.2.3914: various spelling mistakes in comments
  src/nvim/ex_cmds2.c
  src/nvim/file_search.c
  src/nvim/indent_c.c
  src/nvim/ops.c
  src/nvim/plines.c
  src/nvim/screen.c
  src/nvim/spell.c
Labels: spell

fixup!: clint
  src/nvim/indent_c.c
Labels: none

build: remove + prefix
  Makefile
Labels: none

build: remove conditional that checks if BUILD_TOOL is empty
  Makefile
Labels: none

vim-patch:8.2.3914 (#16808)
  src/nvim/buffer.c
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/file_search.c
  src/nvim/fold.c
  src/nvim/getchar.c
  src/nvim/indent_c.c
  src/nvim/menu.c
  src/nvim/message.c
  src/nvim/move.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/plines.c
  src/nvim/quickfix.c
  src/nvim/regexp_nfa.c
  src/nvim/screen.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/window.c
Labels: spell, folds, diff

vim-patch:a4d131d11052
  runtime/filetype.vim
Labels: none

chore: fix compiler warning for multi-line comment
  src/nvim/indent_c.c
Labels: none

vim-patch:a4d131d11052 (#16811)
  runtime/filetype.vim
Labels: none

chore: fix compiler warning for multi-line comment (#16812)
  src/nvim/indent_c.c
Labels: none

chore: fix typos (#16506)
  runtime/autoload/health/provider.vim
  runtime/doc/api.txt
  runtime/doc/diagnostic.txt
  runtime/doc/eval.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/nvim_terminal_emulator.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/log.lua
  runtime/lua/vim/lsp/rpc.lua
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/event/loop.c
  src/nvim/lua/vim.lua
  src/nvim/testdir/test_put.vim
  src/nvim/tui/tui.c
  test/README.md
Labels: lsp, lua, tui, diagnostic

chore: fix typos
  runtime/autoload/health/provider.vim
  runtime/doc/api.txt
  runtime/doc/diagnostic.txt
  runtime/doc/eval.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/nvim_terminal_emulator.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/log.lua
  runtime/lua/vim/lsp/rpc.lua
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/event/loop.c
  src/nvim/lua/vim.lua
  src/nvim/testdir/test_put.vim
  src/nvim/tui/tui.c
  test/README.md
Labels: lsp, lua, tui, diagnostic

feat(api): implement nvim_{add,del}_user_command
  runtime/doc/api.txt
  runtime/doc/map.txt
  src/nvim/api/buffer.c
  src/nvim/api/keysets.lua
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_docmd.c
  src/nvim/ex_docmd.h
  src/nvim/ex_getln.c
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/generators/gen_keysets.lua
  src/nvim/lua/executor.c
  src/nvim/lua/executor.h
  src/nvim/vim.h
  test/functional/api/command_spec.lua
  test/functional/lua/api_spec.lua
Labels: lua

build: merge two of the same conditional into one
  Makefile
Labels: none

vim-patch:8.2.3921: the way xdiff is used is inefficient
  src/nvim/diff.c
Labels: diff

fix(options): typos
  src/nvim/options.lua
Labels: none

docs: fix help tag in nvim_add_user_command docs
  runtime/doc/api.txt
  src/nvim/api/vim.c
Labels: none

.github/labeler.yml:

"lsp":
  - runtime/lua/vim/lsp.lua
  - runtime/lua/vim/lsp/*

"lua":
  - runtime/lua/**/*
  - src/nvim/lua/*

"tui":
  - src/nvim/tui/tui.*

"treesitter":
  - src/nvim/lua/treesitter.*
  - runtime/lua/vim/treesitter.lua
  - runtime/lua/vim/treesitter/*

"diagnostic":
  - runtime/lua/vim/diagnostic.lua

"dependencies":
  - third-party/**/*

"spell":
  - src/nvim/spell*

"terminal":
  - src/nvim/terminal.*

"column":
  - src/nvim/mark.h
  - src/nvim/mark.c
  - src/nvim/sign*

"folds":
  - src/nvim/fold*

"mouse":
  - src/nvim/mouse*

"documentation":
  - all: ["runtime/doc/*"]

"clipboard":
  - runtime/autoload/provider/clipboard.vim

"diff":
  - src/nvim/diff.*

"build":
  - CMakeLists.txt
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"tests":
  - all: ["test/**/*"]

"ci":
  - .github/labeler.yml
  - .github/workflows/**/*
  - .builds/*
  - ci/**/*
