Repository neovim/neovim, changes with the labels that .github/labeler.yml gives for each.
All labels: lsp, lua, tui, treesitter, diagnostic, dependencies, spell, terminal, column, folds, mouse, clipboard, diff, build, ci

vim-patch:8.2.3843: dep3patch files are not recognized
  runtime/autoload/dist/ft.vim
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: none

feat(autocmd): add Recording autocmds
  runtime/doc/autocmd.txt
  runtime/doc/eval.txt
  runtime/doc/intro.txt
  runtime/doc/repeat.txt
  runtime/doc/vim_diff.txt
  src/nvim/auevents.lua
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/globals.h
  src/nvim/normal.c
  src/nvim/ops.c
  test/functional/autocmd/recording_spec.lua
  test/functional/editor/macro_spec.lua
Labels: none

docs(autocmd): update docs to match implementation
  runtime/doc/autocmd.txt
  runtime/doc/eval.txt
  runtime/doc/index.txt
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/doc/repeat.txt
  runtime/doc/vim_diff.txt
  src/nvim/auevents.lua
Labels: none

test(old): change usage of Q to gQ
  src/nvim/testdir/test_ex_mode.vim
  src/nvim/testdir/test_substitute.vim
  src/nvim/testdir/test_timers.vim
Labels: none

feat(runtime): new checkhealth filetype (#16660)
  runtime/autoload/health.vim
  runtime/ftplugin/checkhealth.vim
  runtime/syntax/checkhealth.vim
  test/functional/plugin/health_spec.lua
Labels: none

feat(tui): add error logging (#16615)
  src/nvim/tui/tui.c
Labels: tui

feat(runtime): new checkhealth filetype
  runtime/autoload/health.vim
  runtime/ftplugin/checkhealth.vim
  runtime/syntax/checkhealth.vim
  test/functional/plugin/health_spec.lua
Labels: none

vim-patch:8.2.3843: dep3patch files are not recognized (#16700)
  runtime/autoload/dist/ft.vim
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: none

build(deps): bump luajit to commit 1d20f33
  third-party/CMakeLists.txt
Labels: dependencies, build

Apply suggestions from code review
  third-party/cmake/BuildLuajit.cmake
Labels: dependencies, build

fix(build): install luajit modules on windows (#16658)
  third-party/cmake/BuildLuajit.cmake
Labels: dependencies, build

test: allow excluding functional/unit tests using TEST_FILTER_OUT
  cmake/RunTests.cmake
  test/README.md
Labels: build

fix(build): check for empty value of LUAC_PRG
  src/nvim/generators/gen_char_blob.lua
Labels: none

fix(build): check for empty value of LUAC_PRG (#16711)
  src/nvim/generators/gen_char_blob.lua
Labels: none

build(deps): bump luajit to commit 1d20f33 (#16712)
  third-party/CMakeLists.txt
Labels: dependencies, build

test: allow excluding functional/unit tests using TEST_FILTER_OUT
  cmake/RunTests.cmake
  test/README.md
Labels: build

fix: update last cursor on first CursorMoved
  src/nvim/autocmd.c
  test/functional/autocmd/cursormoved_spec.lua
Labels: none

vim-patch:8.2.2563: cannot use multibyte characters for folding in 'fillchars'
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_fold.vim
Labels: none

test: add more statusline-related tests
  test/functional/api/vim_spec.lua
  test/unit/buffer_spec.lua
Labels: none

vim-patch:8.2.2569: 'fillchars' "stl" and "stlnc" items must be single byte
  runtime/doc/options.txt
  src/nvim/api/vim.c
  src/nvim/buffer.c
  src/nvim/macros.h
  src/nvim/screen.c
  src/nvim/testdir/test_fold.vim
  src/nvim/testdir/test_statusline.vim
  test/unit/buffer_spec.lua
Labels: none

test(old): skip fold tests where Nvim diverges from Vim
  src/nvim/testdir/test_fold.vim
Labels: none

vim-patch:8.2.3846: no error when using control character for 'lcs' or 'fcs'
  src/nvim/option.c
  src/nvim/testdir/test_display.vim
  src/nvim/testdir/test_listchars.vim
Labels: none

vim-patch:8.2.2641: display test fails because of lacking redraw
  src/nvim/testdir/test_display.vim
Labels: none

vim-patch:8.2.2508: cannot change the character displayed in non existing lines
  runtime/doc/windows.txt
  src/nvim/testdir/test_display.vim
Labels: none

fix: update last cursor on first CursorMoved (#16698)
  src/nvim/autocmd.c
  test/functional/autocmd/cursormoved_spec.lua
Labels: none

fix(api): make nil value in nvim_set_option_value clear local value
  src/nvim/api/vim.c
  src/nvim/option.c
  src/nvim/option.h
  test/functional/api/vim_spec.lua
Labels: none

fix(build): check that LuaJIT has required modules for compilation
  CMakeLists.txt
Labels: build

fix(build): check that LuaJIT has required modules for compilation (#16714)
  CMakeLists.txt
Labels: build

docs(lsp): fix #16718
  runtime/lua/vim/lsp/handlers.lua
Labels: lsp, lua

chore: suppress -Wunused-but-set-variable warns
  src/mpack/lmpack.c
Labels: none

chore(build): add option to disable Lua bytecode compilation
  CMakeLists.txt
Labels: build

vim-patch:8.2.3850: illegal memory access when displaying a partial
  src/nvim/testdir/test_messages.vim
Labels: none

vim-patch:8.2.3855: illegal memory access when displaying a blob
  src/nvim/regexp_nfa.c
  src/nvim/testdir/test_blob.vim
  src/nvim/testdir/test_messages.vim
Labels: none

fix(lsp): avoid attaching to unloaded buffers
  runtime/lua/vim/lsp.lua
Labels: lsp, lua

fix(lsp): avoid attaching to unloaded buffers (#16723)
  runtime/lua/vim/lsp.lua
Labels: lsp, lua

fix(lsp): avoid attaching to unloaded buffers
  runtime/lua/vim/lsp.lua
Labels: lsp, lua

fix(treesitter): cache parser per buffer and language
  runtime/lua/vim/treesitter.lua
  test/functional/treesitter/parser_spec.lua
Labels: lua, treesitter

fixup! fix(api): make nil value in nvim_set_option_value clear local value
  src/nvim/api/vim.c
  test/functional/api/vim_spec.lua
Labels: none

chore(build): add option to disable Lua bytecode compilation (#16722)
  CMakeLists.txt
Labels: build

docs: stop suggestion "good first issue" as a good first issue
  CONTRIBUTING.md
Labels: none

.github/labeler.yml:

"lsp":
  - runtime/lua/vim/lsp.lua
  - runtime/lua/vim/lsp/*

"lua":
  - runtime/lua/**/*
  - src/nvim/lua/*

"tui":
  - src/nvim/tui/tui.*

"treesitter":
  - src/nvim/lua/treesitter.*
  - runtime/lua/vim/treesitter.lua
  - runtime/lua/vim/treesitter/*

"diagnostic":
  - runtime/lua/vim/diagnostic.lua

"dependencies":
  - third-party/**/*

"spell":
  - src/nvim/spell*

"terminal":
  - src/nvim/terminal.*

"column":
  - src/nvim/mark.h
  - src/nvim/mark.c
  - src/nvim/sign*

"folds":
  - src/nvim/fold*

"mouse":
  - src/nvim/mouse*

"documentation":
  - all: ["runtime/doc/*"]

"clipboard":
  - runtime/autoload/provider/clipboard.vim

"diff":
  - src/nvim/diff.*

"build":
  - CMakeLists.txt
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"tests":
  - all: ["test/**/*"]

"ci":
  - .github/labeler.yml
  - .github/workflows/**/*
  - .builds/*
  - ci/**/*
