Repository neovim/neovim, changes with the labels that .github/labeler.yml gives for each.
All labels: lsp, lua, tui, treesitter, dependencies, topic: spell, topic: :terminal, topic: column, topic: folds, topic: mouse, topic: documentation, topic: clipboard, topic: diff, topic: build

Fix vimscript test
  src/nvim/testdir/test_vimscript.vim
Labels: none

Remove chdir called (not present in nvim)
  src/nvim/testdir/test_cd.vim
Labels: none

refactor: replace TRUE/FALSE with true/false
  src/nvim/eval/funcs.c
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/fileio.c
  src/nvim/globals.h
  src/nvim/main.c
  src/nvim/message.c
  src/nvim/misc1.c
  src/nvim/search.c
Labels: none

chore: remove checkbox from issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

feat(lsp): make list handlers configurable
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/handlers.lua
Labels: lsp, lua, topic: documentation

feat(lsp): make list handlers configurable (#15199)
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/handlers.lua
Labels: lsp, lua, topic: documentation

docs: regenerate
  runtime/doc/api.txt
  runtime/doc/lsp.txt
  runtime/doc/treesitter.txt
Labels: topic: documentation

chore(flake): export VIMRUNTIME
  contrib/flake.nix
Labels: none

feat: add vim.ui.pick
  src/nvim/api/vim.c
  src/nvim/lua/vim.lua
Labels: none

feat(lsp): implement vim.lsp.diagnostic.redraw()
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua, topic: documentation

wip
  src/nvim/api/vim.c
  src/nvim/lua/vim.lua
  test/functional/api/vim_spec.lua
Labels: none

docs(contributing): change how we handle PR states and tags
  CONTRIBUTING.md
Labels: none

fix(lsp): runtime error buf_request_all if no server supports a request
  runtime/lua/vim/lsp.lua
Labels: lsp, lua

fix(highlight): remove syncolor.vim
  runtime/doc/syntax.txt
  runtime/syntax/syncolor.vim
  runtime/syntax/synload.vim
  src/nvim/main.c
  src/nvim/syntax.c
  test/unit/viml/expressions/parser_spec.lua
Labels: topic: documentation

fixup! fix(highlight): remove syncolor.vim
  runtime/doc/vim_diff.txt
Labels: topic: documentation

fixup! fix(highlight): remove syncolor.vim
  src/nvim/syntax.c
Labels: none

.github/labeler.yml:

"lsp":
  - runtime/lua/vim/lsp.lua
  - runtime/lua/vim/lsp/*

"lua":
  - runtime/lua/**/*
  - src/nvim/lua

"tui":
  - src/nvim/tui/tui.*

"treesitter":
  - src/nvim/lua/treesitter.*
  - runtime/lua/vim/treesitter.lua
  - runtime/lua/vim/treesitter/*

"dependencies":
  - third-party/**/*

"topic: spell":
  - src/nvim/spell*

"topic: :terminal":
  - src/nvim/terminal.*

"topic: column":
  - src/nvim/mark.h
  - src/nvim/mark.c
  - src/nvim/sign*

"topic: folds":
  - src/nvim/fold*

"topic: mouse":
  - src/nvim/mouse*

"topic: documentation":
  - runtime/doc/*

"topic: clipboard":
  - runtime/autoload/provider/clipboard.vim

"topic: diff":
  - src/nvim/diff.*

"topic: build":
  - CMakeLists.txt
  - "**/CMakeLists.txt"
  - "**/*.cmake"
