Repository neovim/neovim, changes with the labels that .github/labeler.yml gives for each.
All labels: lsp, lua, tui, treesitter, diagnostic, dependencies, spell, terminal, column, folds, mouse, clipboard, diff, build, ci

.github/labeler.yml:

"lsp":
  - runtime/lua/vim/lsp.lua
  - runtime/lua/vim/lsp/*

"lua":
  - runtime/lua/**/*
  - src/nvim/lua/*

"tui":
  - src/nvim/tui/tui.*

"treesitter":
  - src/nvim/lua/treesitter.*
  - runtime/lua/vim/treesitter.lua
  - runtime/lua/vim/treesitter/*

"diagnostic":
  - runtime/lua/vim/diagnostic.lua

"dependencies":
  - third-party/**/*

"spell":
  - src/nvim/spell*

"terminal":
  - src/nvim/terminal.*

"column":
  - src/nvim/mark.h
  - src/nvim/mark.c
  - src/nvim/sign*

"folds":
  - src/nvim/fold*

"mouse":
  - src/nvim/mouse*

"documentation":
  - all: ["runtime/doc/*"]

"clipboard":
  - runtime/autoload/provider/clipboard.vim

"diff":
  - src/nvim/diff.*

"build":
  - CMakeLists.txt
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"tests":
  - all: ["test/**/*"]

"ci":
  - .github/labeler.yml
  - .github/workflows/**/*
  - .builds/*
  - ci/**/*

refactor(lua): use references directly on main thread
  src/nvim/lua/converter.c
  src/nvim/lua/executor.c
  src/nvim/lua/executor.h
Labels: lua

fubbit
  src/nvim/lua/executor.h
Labels: lua

vim-patch:8.2.3873: go.mod files are not recognized (#16757)
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: none

vim-patch:8.2.3880: Solution filter files are not recognized
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: none

build: convert order-only prerequisites to normal for phony targets
  Makefile
Labels: none

build: add missing phony targets to .PHONY
  Makefile
Labels: none

build: remove deprecated variable USE_BUNDLED_DEPS
  Makefile
Labels: none

fix(lsp): call config on_exit handler before context is cleared
  runtime/lua/vim/lsp.lua
Labels: lsp, lua

refactor(lsp): remove usage of deprecated function
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua

feat(lsp): use `vim.ui.select` for selecting lsp client
  runtime/lua/vim/lsp/buf.lua
Labels: lsp, lua

fix(lsp): handle offset encoding
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

feat(lsp,diagnostic): open folds in jump-related functions
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua, diagnostic

fix(lsp): fix `nil`-index behavior for UTF-8 in `_str_*index_enc` methods
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

ci: cancel in-progress CI if a PR is updated
  .github/workflows/ci.yml
Labels: ci

refactor(lsp): remove usage of deprecated function (#16787)
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua

vim-patch:partial fa3b72348d88
  runtime/autoload/dist/ft.vim
  runtime/doc/eval.txt
  runtime/doc/map.txt
  runtime/doc/nvim_terminal_emulator.txt
  runtime/doc/syntax.txt
  runtime/filetype.vim
  runtime/ftplugin/zsh.vim
  runtime/indent/sh.vim
  runtime/indent/xml.vim
  runtime/pack/dist/opt/matchit/autoload/matchit.vim
  runtime/pack/dist/opt/matchit/doc/matchit.txt
  runtime/pack/dist/opt/matchit/plugin/matchit.vim
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  runtime/syntax/debcontrol.vim
  runtime/syntax/dep3patch.vim
  runtime/syntax/dtd.vim
  runtime/syntax/xml.vim
  runtime/syntax/zsh.vim
Labels: none

fix(msgpack#strptime): use calendar.timegm to get seconds since epoch
  runtime/autoload/msgpack.vim
Labels: none

build: check if USE_BUNDLED is empty instead of parsing its value
  Makefile
Labels: none

feat(lua): add vim.spell (#16620)
  runtime/doc/lua.txt
  src/nvim/lua/spell.c
  src/nvim/lua/spell.h
  src/nvim/lua/stdlib.c
  test/functional/lua/spell_spec.lua
Labels: lua

test(old): reenable Test_virtual_replace() (#16674)
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_visual.vim
Labels: none

test: port test_filechanged.vim
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_filechanged.vim
Labels: none

vim-patch:8.1.1184: undo file left behind after running test
  src/nvim/testdir/test_filechanged.vim
Labels: none

vim-patch:8.1.1379: filechanged test hangs
  src/nvim/testdir/test_filechanged.vim
Labels: none

vim-patch:8.2.3880: Solution filter files are not recognized (#16779)
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: none

vim-patch:8.2.3883: crash when switching to other regexp engine fails (#16773)
  src/nvim/ex_cmds.c
Labels: none

fixup! vim-patch:8.2.2468: not easy to get the full command name from a shortened one
  src/nvim/ex_docmd.c
Labels: none

vim-patch:8.1.1412: test 30 is old style (#16768)
  src/nvim/testdir/test_fileformat.vim
Labels: none

fix: do not save K_EVENT as lastc in Insert mode
  src/nvim/edit.c
  test/functional/api/vim_spec.lua
  test/functional/editor/mode_insert_spec.lua
  test/functional/editor/mode_visual_spec.lua
Labels: none

vim-patch:partial fa3b72348d88 (#16780)
  runtime/autoload/dist/ft.vim
  runtime/doc/eval.txt
  runtime/doc/map.txt
  runtime/doc/nvim_terminal_emulator.txt
  runtime/doc/syntax.txt
  runtime/filetype.vim
  runtime/ftplugin/zsh.vim
  runtime/indent/sh.vim
  runtime/indent/xml.vim
  runtime/pack/dist/opt/matchit/autoload/matchit.vim
  runtime/pack/dist/opt/matchit/doc/matchit.txt
  runtime/pack/dist/opt/matchit/plugin/matchit.vim
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  runtime/syntax/debcontrol.vim
  runtime/syntax/dep3patch.vim
  runtime/syntax/dtd.vim
  runtime/syntax/xml.vim
  runtime/syntax/zsh.vim
Labels: none

vim-patch:8.2.3903: "gM" does not count tabs as expected
  src/nvim/normal.c
  src/nvim/testdir/test_normal.vim
Labels: none

fix(uri): change scheme pattern to not include the comma character
  runtime/lua/vim/uri.lua
  test/functional/lua/uri_spec.lua
Labels: lua

fix(uri): change scheme pattern to not include the comma character (#16797)
  runtime/lua/vim/uri.lua
  test/functional/lua/uri_spec.lua
Labels: lua

fix(uri): change scheme pattern to not include the comma character
  runtime/lua/vim/uri.lua
  test/functional/lua/uri_spec.lua
Labels: lua

fix(terminal): correctly forward mouse events
  src/nvim/terminal.c
  test/functional/terminal/mouse_spec.lua
Labels: terminal

fix(api): nvim__set_hl_ns causes extra redraws
  src/nvim/api/vim.c
Labels: none

test(old): fix indent in Test_multibyte_op_end_mark()
  src/nvim/testdir/test_put.vim
Labels: none

vim-patch:8.2.3580: gj does not move properly with a wide character
  src/nvim/normal.c
  src/nvim/testdir/test_normal.vim
Labels: none

vim-patch:8.2.3494: illegal memory access in utf_head_off
  src/nvim/normal.c
  src/nvim/testdir/test_visual.vim
Labels: none

feat: add path lib
  runtime/lua/vim/path.lua
  src/nvim/lua/vim.lua
Labels: lua

NIGHTMARE FUEL
  runtime/lua/vim/path.lua
Labels: lua
