Repository neovim/neovim, changes with the labels that .github/labeler.yml gives for each.
All labels: lsp, lua, tui, treesitter, diagnostic, dependencies, spell, terminal, column, folds, mouse, clipboard, diff, build, ci

vim-patch:8.1.0040: warnings from 64-bit compiler
  src/nvim/edit.c
Labels: none

refactor: remove some chdir-related unnecessary calls and checks
  src/nvim/eval/funcs.c
  src/nvim/ex_docmd.c
  src/nvim/file_search.c
Labels: none

Remove redundant else branch
  runtime/lua/vim/_meta.lua
Labels: lua

Fix typo
  src/nvim/option.c
Labels: none

fix(lsp): fix `nil`-index behavior for UTF-8 in `_str_*index_enc` methods
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

Set option to default when using vim.opt.option = nil
  runtime/lua/vim/_meta.lua
Labels: lua

fix(lsp): fix `nil`-index behavior for UTF-8 in `_str_*index_enc` methods (#16731)
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

ci: remove unused "squash typo" workflow
  .github/workflows/squash-typos.yml
  scripts/squash_typos.py
Labels: ci

refactor(lsp): always crop matching text from end of incremental sync range
  runtime/lua/vim/lsp/sync.lua
  test/functional/plugin/lsp/incremental_sync_spec.lua
Labels: lsp, lua

Replace UTF helper functions with `vim.lsp.util._str_utfindex_enc()`.
  runtime/lua/vim/lsp/sync.lua
Labels: lsp, lua

vim-patch:8.2.3543: swapname has double slash when 'directory' ends in it
  src/nvim/memline.c
  src/nvim/testdir/test_swap.vim
Labels: none

docs(api): define columns and virtual columns to help differentiation
  runtime/doc/api.txt
Labels: none

feat(lsp): add buf_detach_client
  runtime/lua/vim/lsp.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp, lua

feat(lsp): add buf_detach_client (#16250)
  runtime/lua/vim/lsp.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp, lua

feat(lsp): add buf_detach_client
  runtime/lua/vim/lsp.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp, lua

fix(api): make nil value in nvim_set_option_value clear local value (#16710)
  src/nvim/api/vim.c
  src/nvim/option.c
  src/nvim/option.h
  test/functional/api/vim_spec.lua
Labels: none

docs: regenerate
  runtime/doc/lsp.txt
Labels: none

refactor: fix comment spacing in option.h
  src/nvim/option.h
Labels: none

refactor: fix comment spacing in option.h (#16749)
  src/nvim/option.h
Labels: none

vim-patch:8.2.3874: cannot highlight the number column for a sign
  runtime/doc/sign.txt
  src/nvim/sign.c
  src/nvim/testdir/test_signs.vim
Labels: column

chore: set max_line_length in editorconfig
  .editorconfig
Labels: none

vim-patch:8.2.3482: reading beyond end of line ending in quote and backslash
  src/nvim/indent_c.c
  src/nvim/testdir/test_cindent.vim
Labels: none

vim-patch:8.2.3876: 'cindent' does not recognize inline namespace
  src/nvim/indent_c.c
  src/nvim/testdir/test_cindent.vim
Labels: none

vim-patch:8.1.1585: :let-heredoc does not trim enough
  src/nvim/testdir/test_cindent.vim
Labels: none

vim-patch:8.2.3625: illegal memory access when C-indenting
  src/nvim/indent_c.c
  src/nvim/testdir/test_cindent.vim
Labels: none

vim-patch:8.1.1434: test 3 is old style
  src/nvim/testdir/test_cindent.vim
Labels: none

feat(lua): add vim.spell
  runtime/doc/lua.txt
  src/nvim/lua/spell.c
  src/nvim/lua/spell.h
  src/nvim/lua/stdlib.c
  test/functional/lua/spell_spec.lua
Labels: lua

vim-patch:8.2.3873: go.mod files are not recognized
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: none

refactor(lint): apply clang-tidy fixes
  .clang-format
  src/nvim/eval/decode.c
  src/nvim/eval/encode.c
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/eval/userfunc.c
  src/nvim/lua/converter.c
  src/nvim/lua/executor.c
  src/nvim/tui/tui.c
Labels: lua, tui

chore: set max_line_length in editorconfig (#16755)
  .editorconfig
Labels: none

fix(screen): truncate double-width character correctly
  src/nvim/screen.c
Labels: none

fix(screen): truncate double-width character correctly
  src/nvim/screen.c
Labels: none

fix(screen): truncate when overwriting right half of a double-width char
  src/nvim/screen.c
Labels: none

refactor(pum_redraw): rename col -> grid_col
  src/nvim/popupmnu.c
Labels: none

fix(pum_redraw): use grid_puts_len() to truncate the text
  src/nvim/popupmnu.c
  test/functional/ui/popupmenu_spec.lua
Labels: none

refactor(eval): remove redundant calls to gettext()
  src/nvim/eval/funcs.c
Labels: none

fix(options): disallow empty 'fdc' and 'scl'
  src/nvim/option.c
  test/functional/legacy/options_spec.lua
Labels: none

vim-patch:8.1.1184: undo file left behind after running test
  src/nvim/testdir/test_autocmd.vim
Labels: none

vim-patch:8.1.1434: test 3 is old style
  src/nvim/testdir/test_cindent.vim
Labels: none

vim-patch:8.2.3879: getreg() and getregtype() contain dead code
  src/nvim/eval/funcs.c
Labels: none

.github/labeler.yml:

"lsp":
  - runtime/lua/vim/lsp.lua
  - runtime/lua/vim/lsp/*

"lua":
  - runtime/lua/**/*
  - src/nvim/lua/*

"tui":
  - src/nvim/tui/tui.*

"treesitter":
  - src/nvim/lua/treesitter.*
  - runtime/lua/vim/treesitter.lua
  - runtime/lua/vim/treesitter/*

"diagnostic":
  - runtime/lua/vim/diagnostic.lua

"dependencies":
  - third-party/**/*

"spell":
  - src/nvim/spell*

"terminal":
  - src/nvim/terminal.*

"column":
  - src/nvim/mark.h
  - src/nvim/mark.c
  - src/nvim/sign*

"folds":
  - src/nvim/fold*

"mouse":
  - src/nvim/mouse*

"documentation":
  - all: ["runtime/doc/*"]

"clipboard":
  - runtime/autoload/provider/clipboard.vim

"diff":
  - src/nvim/diff.*

"build":
  - CMakeLists.txt
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"tests":
  - all: ["test/**/*"]

"ci":
  - .github/labeler.yml
  - .github/workflows/**/*
  - .builds/*
  - ci/**/*
