Repository neovim/neovim, changes with the labels that .github/labeler.yml gives for each.
All labels: lsp, lua, tui, treesitter, diagnostic, dependencies, spell, terminal, column, folds, mouse, clipboard, diff, build, ci

.github/labeler.yml:

"lsp":
  - runtime/lua/vim/lsp.lua
  - runtime/lua/vim/lsp/*

"lua":
  - runtime/lua/**/*
  - src/nvim/lua/*

"tui":
  - src/nvim/tui/tui.*

"treesitter":
  - src/nvim/lua/treesitter.*
  - runtime/lua/vim/treesitter.lua
  - runtime/lua/vim/treesitter/*

"diagnostic":
  - runtime/lua/vim/diagnostic.lua

"dependencies":
  - third-party/**/*

"spell":
  - src/nvim/spell*

"terminal":
  - src/nvim/terminal.*

"column":
  - src/nvim/mark.h
  - src/nvim/mark.c
  - src/nvim/sign*

"folds":
  - src/nvim/fold*

"mouse":
  - src/nvim/mouse*

"documentation":
  - all: ["runtime/doc/*"]

"clipboard":
  - runtime/autoload/provider/clipboard.vim

"diff":
  - src/nvim/diff.*

"build":
  - CMakeLists.txt
  - "**/CMakeLists.txt"
  - "**/*.cmake"

"tests":
  - all: ["test/**/*"]

"ci":
  - .github/labeler.yml
  - .github/workflows/**/*
  - .builds/*
  - ci/**/*

vim-patch:8.2.3882: more duplicated code in f_getreginfo()
  src/nvim/eval/funcs.c
Labels: none

fix(docs): use correct entry for client_errors
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/rpc.lua
Labels: lsp, lua

vim-patch:8.1.1412: test 30 is old style
  src/nvim/testdir/test_fileformat.vim
Labels: none

vim-patch:8.2.3883: crash when switching to other regexp engine fails
  src/nvim/ex_cmds.c
Labels: none

vim-patch:8.2.2468: not easy to get the full command name from a shortened one
  runtime/doc/eval.txt
  runtime/doc/usr_41.txt
  src/nvim/eval.lua
  src/nvim/ex_docmd.c
  src/nvim/ex_docmd.h
  src/nvim/testdir/test_cmdline.vim
Labels: none

vim-patch:partial:6aa57295cfbe
  runtime/doc/eval.txt
Labels: none

vim-patch:partial:6c391a74fe90
  runtime/doc/eval.txt
Labels: none

vim-patch:8.2.3780: ":cd" works differently on MS-Windows
  runtime/doc/editing.txt
  runtime/doc/quickref.txt
  runtime/optwin.vim
  src/nvim/ex_docmd.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/test_options.vim
Labels: none

vim-patch:partial:0e6adf8a29d5
  runtime/optwin.vim
  src/nvim/options.lua
Labels: none

vim-patch:8.2.3784: the help for options is outdated
  runtime/doc/options.txt
Labels: none

chore(editorconfig): set max_line_length for .h files
  .editorconfig
Labels: none

fix(options): disallow empty 'fdc' and 'scl' (#16765)
  src/nvim/option.c
  test/functional/legacy/options_spec.lua
Labels: none

chore(editorconfig): set max_line_length for .in files
  .editorconfig
Labels: none

chore(editorconfig): set max_line_length for .h and .in files (#16775)
  .editorconfig
Labels: none

fix(options): disallow empty 'fdc' and 'scl'
  src/nvim/option.c
  test/functional/legacy/options_spec.lua
Labels: none

docs: add log section to lua
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/log.lua
  src/nvim/lua/vim.lua
Labels: lsp, lua

docs(eval.txt): fix more alignment
  runtime/doc/eval.txt
Labels: none

feat(lua): add vim.mpack in thread
  src/nvim/lua/executor.c
  src/nvim/lua/stdlib.c
Labels: lua

feat(lua): add vim.loop in thread
  src/nvim/lua/executor.c
Labels: lua

feat(lua): add vim.is_thread()
  src/nvim/lua/executor.c
Labels: lua

feat(lua): add vim.inspect,shared in thread
  src/nvim/lua/executor.c
Labels: lua

fix(lua): replace caller of callback in thread
  src/nvim/lua/executor.c
Labels: lua

feat(lua): add vim.diff in thread
  src/nvim/lua/stdlib.c
Labels: lua

feat(lua): replace print() in thread
  src/nvim/lua/executor.c
Labels: lua

feat(lua): add vim.NIL,_empty_dict_mt in thread
  src/nvim/lua/executor.c
Labels: lua

refactor(lua): change to use helper func for initialization
  src/nvim/lua/executor.c
Labels: lua

refactor(lua): move common parts into nlua_common_vim_init
  src/nvim/lua/executor.c
Labels: lua

fix(lua): change all luv functions to run in protected mode
  src/nvim/lua/executor.c
Labels: lua

refactor(lua): remove reference related code from thread
  src/nvim/lua/executor.c
Labels: lua

test(lua): add more test for thread
  test/functional/lua/thread_spec.lua
Labels: none

feat(lua): add vim.json in thread
  src/cjson/lua_cjson.c
  src/nvim/api/vim.c
  src/nvim/lua/converter.c
  src/nvim/lua/executor.c
  src/nvim/lua/executor.h
  src/nvim/lua/stdlib.c
Labels: lua

fix(lua): change fpconv_init to be called only once in main thread
  src/cjson/lua_cjson.c
Labels: none

refactor(lua): change to use mutex for runtime path
  src/nvim/lua/executor.c
  src/nvim/main.c
  src/nvim/os/fs.c
  src/nvim/runtime.c
Labels: lua

test(lua): add test for thread
  test/functional/lua/thread_spec.lua
Labels: none

feat(lua): change to allow loading from rtp on thread
  runtime/lua/vim/_load_package.lua
  src/nvim/CMakeLists.txt
  src/nvim/lua/executor.c
  src/nvim/lua/vim.lua
Labels: lua, build

fix(main): change order of fs_init calls
  src/nvim/main.c
Labels: none

feat(lua): add vim.api.nvim__get_runtime to thread
  src/nvim/lua/executor.c
  src/nvim/os/fs.c
  src/nvim/runtime.c
Labels: lua

build(deps): bump luv to 53e471da71a01e94f557d4ca0abda5a535205bb7
  third-party/CMakeLists.txt
Labels: dependencies, build

build(third-party): upgrade libluv: 1.40.0-0 => 1.42.0-0
  CMakeLists.txt
Labels: build

fixup: mongled the rebase
  src/nvim/lua/executor.c
Labels: lua
