Repository neovim/neovim, pull requests merged in 2018-07, with the labels that each got.

#8635 [RFC] vim-patch:8.0.0252
  src/nvim/charset.c
  src/nvim/mbyte.c
  test/unit/mbyte_spec.lua
Labels: RFC

#8680 [RDY] vim-patch:8.0.0{640,686}
  src/nvim/screen.c
  src/nvim/syntax.c
Labels: RDY

#8702 [RDY] Fix test_vimscript.vim
  src/nvim/eval.c
  src/nvim/message.c
  src/nvim/testdir/test_vimscript.vim
  test/functional/viml/function_spec.lua
Labels: RDY

#8708 Fix standout mode
  src/nvim/tui/tui.c
Labels: RFC

#8684 [RDY] vim-patch:8.0.1464
  src/nvim/path.c
  src/nvim/testdir/test_find_complete.vim
Labels: RDY

#8703 [RFC] More unittests for build_stl_str_hl
  src/nvim/buffer.c
  test/unit/buffer_spec.lua
Labels: RFC, tests

#8717 [RFC] vim-patch:8.0.0522
  src/nvim/testdir/test_alot.vim
  src/nvim/testdir/test_global.vim
Labels: RFC

#8716 [RFC] vim-patch.sh: handle wrapped commit messages
  scripts/vim-patch.sh
Labels: RFC

#8709 [RFC] Man Plugin: Improve C highlighting
  runtime/syntax/man.vim
Labels: RFC

#8721 [RFC] Fix redrawing issues with narrow screen and remove extra wait in resize tests
  src/nvim/screen.c
  test/functional/ui/screen.lua
  test/functional/ui/screen_basic_spec.lua
Labels: RFC

#8726 [RFC] terminal: handle &confirm and :confirm on unloading
  src/nvim/buffer.c
  src/nvim/ex_cmds2.c
  test/functional/terminal/buffer_spec.lua
Labels: RFC

#8734 [RDY] vim-patch:8.0.0630
  runtime/doc/repeat.txt
  src/nvim/ex_cmds.c
  src/nvim/testdir/test_global.vim
Labels: RDY

#8746 [RDY] Fix crash in channel_job_start() in combination with rpc and unknown command
  src/nvim/channel.c
Labels: RDY

#8651 [RFC] channel.c: refactor spaghetti code
  src/nvim/api/private/dispatch.c
  src/nvim/api/vim.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/msgpack_rpc/helpers.c
Labels: RFC

#8761 [RDY] vim-patch:8.0.1503,8.1.0056
  src/nvim/hardcopy.c
  src/nvim/testdir/test_hardcopy.vim
Labels: RDY

#8221 [RDY] UI grid protocol revision: line based updates and semantic highlights
  runtime/doc/ui.txt
  src/nvim/api/ui.c
  src/nvim/api/ui_events.in.h
  src/nvim/api/vim.c
  src/nvim/buffer.c
  src/nvim/event/defs.h
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/generators/gen_api_ui_events.lua
  src/nvim/highlight.c
  src/nvim/highlight.h
  src/nvim/highlight_defs.h
  src/nvim/lib/kvec.h
  src/nvim/main.c
  src/nvim/map.c
  src/nvim/map.h
  src/nvim/memory.c
  src/nvim/message.c
  src/nvim/misc1.c
  src/nvim/popupmnu.c
  src/nvim/screen.c
  src/nvim/syntax.c
  src/nvim/terminal.c
  src/nvim/tui/tui.c
  src/nvim/ugrid.c
  src/nvim/ugrid.h
  src/nvim/ui.c
  src/nvim/ui.h
  src/nvim/ui_bridge.c
  test/functional/api/version_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/highlight_spec.lua
  test/functional/ui/hlstate_spec.lua
  test/functional/ui/options_spec.lua
  test/functional/ui/screen.lua
  test/functional/ui/screen_basic_spec.lua
Labels: RDY, refactor, ui, ui-ext

#8764 [RDY] man.vim: improve manSentence accuracy
  runtime/syntax/man.vim
Labels: RDY

#8762 [RDY] vim-patch:8.0.1398
  src/nvim/ex_cmds2.c
  test/functional/legacy/packadd_spec.lua
Labels: RDY

#8753 [RDY] vim-patch:8.0.{724,727,1799}
  src/nvim/ops.c
  src/nvim/testdir/Makefile
  src/nvim/testdir/test_registers.vim
Labels: RDY

#8757 [RDY] vim-patch:8.0.1765
  src/nvim/charset.c
  src/nvim/testdir/test_virtualedit.vim
Labels: RDY

#8589 [RFC] Make "v:errmsg", "v:shell_error" and "v:this_session" distinct
  runtime/doc/eval.txt
  runtime/doc/vim_diff.txt
  src/nvim/eval.c
  test/functional/eval/special_vars_spec.lua
Labels: RFC, compatibility

#8654 [RDY] Add LTO support
  CMakeLists.txt
  src/nvim/CMakeLists.txt
Labels: RDY, platform:windows

#8771 [RFC] redraw glitches
  src/nvim/api/ui.c
  src/nvim/screen.c
  src/nvim/tui/tui.c
  src/nvim/ugrid.c
  test/functional/ui/screen.lua
  test/functional/ui/screen_basic_spec.lua
Labels: WIP

#8779 [RFC] tui: clip invalid regions on resize
  src/nvim/tui/tui.c
Labels: RFC

#8769 [RDY] vim-patch:8.0.{1502,1512,1622}
  src/nvim/buffer.c
  src/nvim/ex_cmds.c
  src/nvim/ex_getln.c
  src/nvim/memline.c
  src/nvim/path.c
  src/nvim/quickfix.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/tag.c
Labels: RDY

#8485 [RDY] vim-patch:8.0.{805,806,810,1012,1017}
  src/nvim/os/env.c
  src/nvim/testdir/Makefile
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_windows_home.vim
Labels: RDY

#8767 [RDY] vim-patch:8.0.0493
  src/nvim/file_search.c
  src/nvim/testdir/test_alot.vim
  src/nvim/testdir/test_cd.vim
Labels: RDY

#8789 [RFC] screen.c: add update_window_hl to special redrawing entrypoints
  src/nvim/screen.c
  test/functional/ui/sign_spec.lua
Labels: RFC

#8793 [RDY] vim-patch:8.0.0837
  src/nvim/file_search.c
  src/nvim/screen.c
Labels: RDY

#8791 [RDY] Fix possible truncation in cmdbuf array
  src/nvim/log.c
Labels: RDY

#8770 [RDY] vim-patch:8.0.{726,734,794,830,835,1778,1839},8.1.0111
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/po/check.vim
  src/nvim/po/cleanup.vim
  src/nvim/testdir/test_functions.vim
Labels: RDY

#8730 [RFC] eval: handle profiling and verbose in system()
  src/nvim/eval.c
  test/functional/eval/system_spec.lua
  test/functional/helpers.lua
  test/helpers.lua
Labels: RFC
