Repository neovim/neovim, pull requests merged in 2018-12, with the labels that each got.

#9298 vim-patch:8.1.0553
  runtime/doc/repeat.txt
  src/nvim/ex_cmds.lua
  src/nvim/ex_cmds2.c
  src/nvim/testdir/test_scriptnames.vim
Labels: vim-patch

#9299 [RFC] insert: make <cmd> mapping work in completion (CTRL-X) mode
  src/nvim/edit.c
  test/functional/ex_cmds/cmd_map_spec.lua
Labels: RFC

#9291 vim-patch:8.1.{550,551}
  src/nvim/eval.c
  src/nvim/message.c
  test/functional/ex_cmds/debug_spec.lua
  test/functional/legacy/108_backtrace_debug_commands_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/embed_spec.lua
Labels: vim-patch

#9300 [WIP] rpc: turn errors from async calls into notifications
  runtime/doc/api.txt
  runtime/doc/develop.txt
  src/nvim/msgpack_rpc/channel.c
  test/functional/api/vim_spec.lua
  test/functional/helpers.lua
Labels: WIP

#9309 [RFC] Revert unused check from #9304
  runtime/autoload/provider/clipboard.vim
Labels: RFC

#9310 vim-patch:8.1.0559
  src/nvim/testdir/test_arglist.vim
  src/nvim/testdir/test_filetype.vim
  src/nvim/testdir/test_history.vim
  src/nvim/testdir/test_messages.vim
  src/nvim/testdir/test_syntax.vim
Labels: vim-patch

#9317 vim-patch:8.0.1425
  src/nvim/eval.c
  src/nvim/testdir/test_usercommands.vim
Labels: vim-patch

#9322 vim-patch:8.1.{563,564}
  src/nvim/eval.c
  src/nvim/testdir/test_eval_stuff.vim
Labels: vim-patch

#9339 vim-patch:8.1.0574
  src/nvim/misc1.c
  src/nvim/testdir/test_fold.vim
Labels: vim-patch

#9345 [RDY] macOS: infer primary language if $LANG is empty
  src/nvim/os/lang.c
Labels: RDY

#9344 [RFC] provider: improve error message
  src/nvim/ex_cmds2.c
Labels: RFC

#7946 [RFC] CmdlineChanged vim-patch:8.0.1445
  runtime/doc/autocmd.txt
  src/nvim/auevents.lua
  src/nvim/ex_getln.c
  src/nvim/testdir/test_autocmd.vim
  test/functional/autocmd/cmdline_spec.lua
Labels: RFC, vim-patch

#9348 vim-patch:8.0.1748
  src/nvim/ex_docmd.c
  src/nvim/fileio.c
  src/nvim/testdir/test_autocmd.vim
Labels: vim-patch

#9376 [RFC] Fix appimage problem
  scripts/genappimage.sh
Labels: RFC

#9369 [RFC] vim-patch:8.1.0596
  src/nvim/strings.c
  src/nvim/testdir/test_expr.vim
Labels: RFC, vim-patch

#9280 Lua 5.2+ compatbility
  CMakeLists.txt
  cmake/RunTests.cmake
  runtime/lua/man.lua
  runtime/lua/vim/compat.lua
  test/functional/helpers.lua
Labels: lua

#9392 vim-patch:8.1.0627
  src/nvim/testdir/test_python2.vim
  src/nvim/testdir/test_python3.vim
Labels: vim-patch

#9409 [RFC] vim-patch:8.0.1469,8.0.1734,8.1.0353,8.1.0354
  src/nvim/ex_cmds2.c
  test/functional/legacy/packadd_spec.lua
Labels: RFC, revisit-at-release, vim-patch

#9411 vim-patch:8.1.0662: needlessly searching for tilde in string
  src/nvim/os/env.c
Labels: vim-patch

#9401 win/TUI: Improve terminal/console support
  scripts/update_terminfo.sh
  scripts/windows.ti
  src/nvim/option.c
  src/nvim/os/env.c
  src/nvim/os/tty.c
  src/nvim/os/tty.h
  src/nvim/tui/terminfo.c
  src/nvim/tui/terminfo_defs.h
  src/nvim/tui/tui.c
  test/functional/terminal/tui_spec.lua
  third-party/CMakeLists.txt
Labels: platform:windows

#9408 TUI: attempt "title stacking" unconditionally
  src/nvim/tui/tui.c
Labels: revisit-at-release

#8455 [RFC] Break up screen grid into resizable window grids
  CMakeLists.txt
  runtime/doc/ui.txt
  src/nvim/api/private/defs.h
  src/nvim/api/ui.c
  src/nvim/api/ui_events.in.h
  src/nvim/api/vim.c
  src/nvim/buffer_defs.h
  src/nvim/charset.c
  src/nvim/cursor.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/grid_defs.h
  src/nvim/hardcopy.c
  src/nvim/highlight.c
  src/nvim/indent.c
  src/nvim/mbyte.c
  src/nvim/mbyte.h
  src/nvim/memory.c
  src/nvim/message.c
  src/nvim/misc1.c
  src/nvim/mouse.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/popupmnu.c
  src/nvim/screen.c
  src/nvim/screen.h
  src/nvim/search.c
  src/nvim/types.h
  src/nvim/ui.c
  src/nvim/ui.h
  src/nvim/version.c
  src/nvim/window.c
  test/functional/api/vim_spec.lua
  test/functional/helpers.lua
  test/functional/terminal/helpers.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/multigrid_spec.lua
  test/functional/ui/options_spec.lua
  test/functional/ui/screen.lua
  test/functional/ui/wildmode_spec.lua
  test/helpers.lua
Labels: RFC, gsoc
