Repository neovim/neovim, pull requests merged in 2018-11, with the labels that each got.

#9178 vim-patch:8.1.0501
  src/nvim/memline.c
Labels: vim-patch

#9180 [RFC] api: implement nvim_buf_get_offset_for_line
  src/nvim/api/buffer.c
  test/functional/api/buffer_spec.lua
Labels: RFC

#7506 deps: update libuv
  test/functional/core/job_spec.lua
  test/functional/terminal/window_split_tab_spec.lua
  third-party/CMakeLists.txt
  third-party/cmake/BuildLibuv.cmake
  third-party/cmake/LibuvCMakeLists.txt
  third-party/patches/libuv-overlapped.patch
Labels: build, distribution

#9183 [RFC] api: make nvim_buf_get_offset independent on platform option
  src/nvim/api/buffer.c
  src/nvim/buffer.c
  src/nvim/eval.c
  src/nvim/memline.c
  test/functional/api/buffer_spec.lua
Labels: RFC

#9184 vim-patch:8.0.{1758,1766}
  src/nvim/edit.c
  src/nvim/misc1.c
  src/nvim/testdir/test_mapping.vim
Labels: vim-patch

#9192 vim-patch:8.1.0504
  src/nvim/edit.c
  src/nvim/testdir/test_edit.vim
Labels: vim-patch

#9195 vim-patch:8.1.0507
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: vim-patch

#9196 vim-patch:8.1.0508
  src/nvim/testdir/test_suspend.vim
Labels: vim-patch

#9112 doc
  Makefile
  man/nvim.1
  runtime/CMakeLists.txt
  runtime/doc/api.txt
  runtime/doc/autocmd.txt
  runtime/doc/cmdline.txt
  runtime/doc/debug.txt
  runtime/doc/deprecated.txt
  runtime/doc/eval.txt
  runtime/doc/help.txt
  runtime/doc/if_lua.txt
  runtime/doc/index.txt
  runtime/doc/intro.txt
  runtime/doc/options.txt
  runtime/doc/pi_msgpack.txt
  runtime/doc/remote.txt
  runtime/doc/sign.txt
  runtime/doc/sponsor.txt
  runtime/doc/ui.txt
  runtime/doc/usr_01.txt
  runtime/doc/usr_05.txt
  runtime/doc/usr_45.txt
  runtime/doc/various.txt
  runtime/plugin/README.txt
  runtime/plugin/rrhelper.vim
  scripts/vim-patch.sh
  src/nvim/api/buffer.c
  src/nvim/api/vim.c
Labels: documentation

#9207 vim-patch:8.1.0511
  src/nvim/eval.c
  src/nvim/testdir/test_functions.vim
Labels: vim-patch

#9206 vim-patch:8.1.{510,512}
  src/nvim/ex_cmds2.c
  src/nvim/option.c
Labels: vim-patch

#9204 [RFC] Fix hang on job start caused by non-executable cwd option
  src/nvim/channel.c
  src/nvim/eval.c
  src/nvim/os/fs.c
  test/functional/core/job_spec.lua
Labels: RFC

#9211 [WIP] ui_options: also send when starting or from OptionSet
  src/nvim/option.c
  test/functional/ui/options_spec.lua
Labels: WIP

#9218 [RFC] channel: avoid buffering output when only terminal and no callbacks are active
  src/nvim/channel.c
Labels: RFC

#9215 [RDY]vim-patch:8.1.0337
  src/nvim/ex_docmd.c
  src/nvim/testdir/test_quickfix.vim
Labels: RDY, vim-patch

#9193 [WIP] UI/TUI: improvements and cleanups for scrolling and clearing
  runtime/doc/ui.txt
  src/nvim/highlight_defs.h
  src/nvim/message.c
  src/nvim/move.c
  src/nvim/screen.c
  src/nvim/tui/tui.c
  src/nvim/ugrid.c
  src/nvim/ugrid.h
Labels: WIP

#9224 [RDY]vim-patch:8.1.0516
  src/nvim/ex_cmds.c
  src/nvim/testdir/test_alot.vim
  src/nvim/testdir/test_move.vim
Labels: RDY, vim-patch

#8952 [RDY] vim-patch:8.0.1620,8.1.{96,340}
  src/nvim/fileio.c
  src/nvim/testdir/test_spell.vim
Labels: RDY, vim-patch

#9049 [WIP] vim-patch:8.0.1352
  scripts/check_urls.vim
  scripts/vim-patch.sh
Labels: WIP, vim-patch

#9234 vim-patch:8.1.0527
  src/nvim/fold.c
Labels: vim-patch

#9235 vim-patch:8.1.0108
  src/nvim/po/CMakeLists.txt
  src/nvim/po/da.po
Labels: vim-patch

#9238 vim-patch:8.1.0146
  src/nvim/testdir/test_compiler.vim
Labels: vim-patch

#9247 vim-patch:8.1.{258,298,299,318,376}
  src/nvim/screen.c
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/test_ins_complete.vim
  src/nvim/testdir/test_stat.vim
Labels: vim-patch

#9251 vim-patch:8.1.0536: file time test fails when using NFS
  src/nvim/testdir/test_stat.vim
Labels: vim-patch

#9205 defaults: background=dark
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/options.lua
  test/functional/terminal/helpers.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/embed_spec.lua
  test/functional/ui/output_spec.lua
  test/functional/ui/screen.lua
Labels: defaults

#9256 [RDY] vim-patch:8.0.{737,1163,1165,1171,1249,1427}
  src/nvim/quickfix.c
  src/nvim/testdir/shared.vim
  src/nvim/testdir/test_popup.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_quotestar.vim
Labels: RDY, vim-patch

#9257 [RFC] health/python: warn if pynvim upgrade failed
  runtime/autoload/health/provider.vim
  runtime/autoload/provider/pythonx.vim
Labels: RFC

#9261 vim-patch:8.0.1731,8.1.0038
  src/nvim/edit.c
  src/nvim/testdir/test_popup.vim
Labels: vim-patch

#6920 [RFC] make namespaces explicit (intitially for bufhl and virttext)
  src/nvim/api/buffer.c
  src/nvim/api/vim.c
  src/nvim/api/vim.h
  src/nvim/buffer.c
  src/nvim/channel.c
  src/nvim/main.c
  src/nvim/map.c
  src/nvim/map.h
  src/nvim/memory.c
  test/functional/api/vim_spec.lua
Labels: RFC

#9221 doc, scripts, misc
  .clang-format
  .travis.yml
  man/nvim.1
  runtime/doc/api.txt
  runtime/doc/autocmd.txt
  runtime/doc/develop.txt
  runtime/doc/help.txt
  runtime/doc/intro.txt
  runtime/doc/map.txt
  runtime/plugin/matchit.vim
  scripts/gen_help_html.py
  src/nvim/api/vim.c
  src/nvim/version.c
  test/functional/api/vim_spec.lua
  test/functional/ui/screen.lua
Labels: documentation

#9283 vim-patch:8.1.0098: segfault when pattern with \z() is very slow
  src/nvim/regexp.c
  src/nvim/regexp.h
  src/nvim/regexp_nfa.c
  src/nvim/screen.c
  src/nvim/syntax.c
  src/nvim/testdir/test_syntax.vim
Labels: vim-patch

#9289 [RFC] API: rename nvim_buf_clear_highlight to nvim_buf_clear_namespace
  src/nvim/api/buffer.c
  test/functional/ui/bufhl_spec.lua
Labels: RFC
