Repository neovim/neovim, pull requests merged in 2018-02, with the labels that each got.

#7979 [RFC] Shell: support bell and buffer incomplete UTF-8 sequences
  src/nvim/os/shell.c
  test/functional/eval/backtick_expansion_spec.lua
  test/functional/ex_cmds/bang_filter_spec.lua
  test/functional/fixtures/shell-test.c
  test/functional/ui/output_spec.lua
Labels: RFC

#7982 [RFC] highlighting refactor + implement termguicolors purely on TUI side
  src/nvim/api/ui.c
  src/nvim/api/ui_events.in.h
  src/nvim/ex_getln.c
  src/nvim/highlight_defs.h
  src/nvim/options.lua
  src/nvim/screen.c
  src/nvim/syntax.c
  src/nvim/syntax.h
  src/nvim/syntax_defs.h
  src/nvim/terminal.c
  src/nvim/tui/tui.c
  src/nvim/ugrid.c
  src/nvim/ugrid.h
  src/nvim/ui.c
  src/nvim/ui.h
  src/nvim/ui_bridge.c
  test/functional/terminal/tui_spec.lua
  test/functional/ui/screen.lua
Labels: RFC

#7939 [RFC] Resolve neovim issue #7937
  src/nvim/screen.c
  test/functional/ui/spell_spec.lua
Labels: RFC

#7990 [RFC] vim-patch:8.0.0490
  src/nvim/testdir/test_window_cmd.vim
  src/nvim/window.c
Labels: RFC

#7759 [RFC] ui: refactor external widget options
  runtime/doc/api.txt
  runtime/doc/ui.txt
  src/nvim/api/private/helpers.c
  src/nvim/api/ui.c
  src/nvim/ui.c
  src/nvim/ui.h
  src/nvim/ui_bridge.c
  test/functional/api/version_spec.lua
  test/functional/eval/api_functions_spec.lua
  test/functional/eval/msgpack_functions_spec.lua
  test/functional/ui/options_spec.lua
Labels: RFC

#8008 [WIP] ex_getln: clear cmdline_block after it's freed
  src/nvim/ex_getln.c
  test/functional/ui/cmdline_spec.lua
Labels: WIP

#8015 [RFC] vim-patch:8.0.0323
  src/nvim/testdir/test_cmdline.vim
Labels: RFC

#8016 [RFC] third-party: upgrade libunibilium from 1.2.1 to 2.0.0
  third-party/CMakeLists.txt
Labels: RFC

#8011 [RFC] vim-patch:8.0.0649 and vim-patch:8.0.0650
  runtime/filetype.vim
  src/nvim/ex_cmds.c
  src/nvim/option.c
  test/functional/autocmd/filetype_spec.lua
Labels: RFC, gsoc

#8009 [RFC] vim-patch:8.0.0212
  src/nvim/keymap.c
  src/nvim/keymap.h
Labels: RFC

#8003 [RFC] vim-patch:8.0.1493: completion items cannot be annotated
  runtime/doc/insert.txt
  src/nvim/edit.c
  src/nvim/edit.h
  src/nvim/testdir/test_ins_complete.vim
  test/functional/viml/completion_spec.lua
Labels: RFC

#8010 [RFC] vim-patch:8.0.0214
  src/nvim/syntax.c
Labels: RFC

#7412 [WIP] Enable more tests in Windows
  test/functional/autocmd/termclose_spec.lua
  test/functional/core/job_spec.lua
  test/functional/eval/system_spec.lua
  test/functional/ex_cmds/cd_spec.lua
  test/functional/ex_cmds/write_spec.lua
  test/functional/helpers.lua
  test/functional/legacy/011_autocommands_spec.lua
  test/functional/legacy/025_jump_tag_hidden_spec.lua
  test/functional/legacy/030_fileformats_spec.lua
  test/functional/legacy/051_highlight_spec.lua
  test/functional/legacy/059_utf8_spell_checking_spec.lua
  test/functional/legacy/093_mksession_cursor_cols_latin1_spec.lua
  test/functional/legacy/097_glob_path_spec.lua
  test/functional/legacy/107_adjust_window_and_contents_spec.lua
  test/functional/legacy/arglist_spec.lua
  test/functional/legacy/delete_spec.lua
  test/functional/legacy/fixeol_spec.lua
  test/functional/legacy/getcwd_spec.lua
  test/functional/legacy/packadd_spec.lua
  test/functional/legacy/wordcount_spec.lua
  test/functional/ui/wildmode_spec.lua
Labels: WIP, platform:windows, tests

#8031 [RFC] jobwait: return -2 on interrupt even with timeout
  src/nvim/event/process.c
  test/functional/core/job_spec.lua
Labels: RFC

#8030 [RFC] vim-patch:8.0.0222
  src/nvim/testdir/Makefile
  src/nvim/testdir/test_alot.vim
  src/nvim/testdir/test_put.vim
Labels: RFC

#8039 [RFC] remove dead code in screen.c for terminals without scroll regions
  src/nvim/screen.c
Labels: RFC

#8040 [RFC] vim-patch:8.0.0225: put in Visual block mode terminates early
  src/nvim/testdir/test_put.vim
Labels: RFC

#8050 [RFC] ui_bridge: make sure TUI receives no more messages after "stop" message
  src/nvim/tui/tui.c
  src/nvim/ui.c
  src/nvim/ui_bridge.c
Labels: RFC

#8055 [RFC] make 'writedelay' show all redraws
  runtime/doc/options.txt
  src/nvim/screen.c
  src/nvim/ui.c
Labels: RFC

#8079 [RFC] cscope: ignore EINTR while reading the prompt
  src/nvim/if_cscope.c
Labels: RFC
