Repository neovim/neovim, pull requests merged in 2018-08, with the labels that each got.

#8799 [RDY] vim-patch:8.0.1541
  src/nvim/buffer_defs.h
  src/nvim/screen.c
  src/nvim/syntax.c
  src/nvim/syntax_defs.h
Labels: RDY

#8749 [RDY] clint: detect MAYBE and recommend TriState
  src/clint.py
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/fold.c
  src/nvim/globals.h
  src/nvim/hardcopy.c
  src/nvim/hardcopy.h
  src/nvim/menu.c
  src/nvim/misc1.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/state.c
  src/nvim/window.c
Labels: RDY

#8792 [RDY] eval, ex_getln: Fix incompatible pointer types
  src/nvim/eval.c
  src/nvim/ex_getln.c
Labels: RDY

#8818 [RFC] vim-patch:8.1.0240
  src/nvim/buffer.c
Labels: RFC

#8820 [RDY] vim-patch:8.0.{671,722,948,1507}
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/misc1.c
  src/nvim/mouse.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/testdir/runtest.vim
Labels: RDY

#8821 [RDY] vim-patch:8.1.000{3,4,5}
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_alot.vim
  src/nvim/testdir/test_compiler.vim
Labels: RDY

#8827 [RDY] options: win: set shellpipe for cmd.exe
  src/nvim/options.lua
Labels: RDY

#8797 [RFC] vim-patch:8.0.0{687,735}
  runtime/doc/eval.txt
  runtime/doc/quickfix.txt
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: RFC

#8834 [RDY] vim-patch:8.1.0024
  src/nvim/testdir/test_goto.vim
Labels: RDY

#8835 [RDY] vim-patch:8.0.1819
  src/nvim/memline.c
  src/nvim/testdir/test_swap.vim
Labels: RDY

#7981 [RDY] terminfo: update built-in terminfo entries by script
  scripts/update_terminfo.sh
  src/nvim/tui/terminfo.c
  src/nvim/tui/terminfo_defs.h
Labels: WIP

#8845 [RDY] vim-patch:8.0.1490
  src/nvim/spell_defs.h
  src/nvim/spellfile.c
Labels: RDY

#8718 [RFC] Remove vim_strrchr() and replace with strrchar()
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/path.c
  src/nvim/spellfile.c
  src/nvim/strings.c
  src/nvim/vim.h
Labels: RFC

#8847 [RDY] vim-patch:8.0.{1037,1046,1361}
  runtime/doc/options.txt
  src/nvim/buffer.c
  src/nvim/diff.c
  src/nvim/testdir/test_diffmode.vim
Labels: RDY

#8833 [RDY] vim-patch:8.0.{1004,1105,1410,1421},8.1.{8,204,257}
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/strings.c
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_match.vim
Labels: RDY

#8837 [RDY] vim-patch:8.0.{1290,1433},8.1.0025
  src/nvim/mark.c
  src/nvim/mbyte.c
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_undo.vim
Labels: RDY

#8843 [RDY] vim-patch:8.0.{828,1254,1470,1517},8.1.{78,90,97,99}
  src/nvim/regexp.c
  src/nvim/regexp_nfa.c
  src/nvim/spellfile.c
Labels: RDY

#8790 [RFC] pass highlight attrs per value and thread-safely to TUI thread
  runtime/doc/ui.txt
  src/nvim/api/ui.c
  src/nvim/cursor_shape.c
  src/nvim/highlight.c
  src/nvim/screen.c
  src/nvim/syntax.c
  src/nvim/tui/tui.c
  src/nvim/ui.c
  test/functional/ui/cursor_spec.lua
  test/functional/ui/screen.lua
Labels: RFC

#8852 [RDY] vim-patch:8.0.1630,8.1.{161,262}
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/fileio.c
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_stat.vim
Labels: RDY

#8829 [RFC] Remove occurrences of mb_off2cells
  src/nvim/mbyte.c
  src/nvim/mbyte.h
  src/nvim/screen.c
Labels: RFC

#8806 [RFC] tui: fix resize and use BCE more often
  src/nvim/tui/tui.c
Labels: RFC

#8859 [RFC] cmdline: always use save_cmdline before command_line_enter
  src/nvim/ex_getln.c
  test/functional/ex_cmds/cmd_map_spec.lua
Labels: RFC

#8860 [RFC] API: Use `ps -o comm` in nvim_get_proc()
  src/nvim/lua/vim.lua
Labels: RFC

#8872 [RDY] vim-patch:8.0.{762,1148,1291,1486,1487},8.1.{18,290}
  src/nvim/search.c
  src/nvim/search.h
  src/nvim/testdir/Makefile
  src/nvim/testdir/test_gn.vim
  src/nvim/testdir/test_preview.vim
  src/nvim/testdir/test_textobjects.vim
  test/functional/legacy/003_cindent_spec.lua
Labels: RDY

#8866 [RDY] vim-patch:8.0.{878,1090,1091,1231,1418,1649,1787,1816},8.1.0{101,159}
  runtime/doc/cmdline.txt
  runtime/doc/eval.txt
  runtime/doc/map.txt
  src/nvim/buffer.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/vim.h
Labels: RDY

#8877 [RDY] vim-patch:8.0.1441
  src/nvim/ex_docmd.c
  src/nvim/testdir/test_undo.vim
  src/nvim/undo.c
Labels: RDY

#8880 [RDY] vim-patch:8.0.{1331,1426,1707,1790}
  src/nvim/testdir/test_gf.vim
  src/nvim/testdir/test_winbuf_close.vim
  src/nvim/window.c
Labels: RDY

#8886 [RDY] vim-patch:8.0.1151
  src/nvim/ex_docmd.c
  src/nvim/testdir/test_startup.vim
Labels: RDY

#8887 [RDY] vim-patch:8.0.1242
  src/nvim/eval.c
  src/nvim/testdir/test_ins_complete.vim
Labels: RDY

#8896 [RDY] vim-patch:8.1.0083
  src/nvim/search.c
  src/nvim/testdir/test_textobjects.vim
Labels: RDY

#8914 [RDY] vim-patch:8.1.0327
  src/nvim/testdir/test_normal.vim
Labels: RDY

#8918 [RDY] vim-patch:8.1.0322
  src/nvim/testdir/test_options.vim
Labels: RDY

#8891 [RFC] use keyword args for screen:expect{...} + hl fixup for ext_cmdline
  src/nvim/api/ui.c
  src/nvim/ex_getln.c
  test/functional/core/job_spec.lua
  test/functional/ex_cmds/ctrl_c_spec.lua
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/ex_terminal_spec.lua
  test/functional/terminal/scrollback_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/cursor_spec.lua
  test/functional/ui/inccommand_spec.lua
  test/functional/ui/mode_spec.lua
  test/functional/ui/output_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/ui/screen.lua
  test/functional/ui/tabline_spec.lua
  test/functional/ui/wildmode_spec.lua
  test/functional/viml/completion_spec.lua
  test/helpers.lua
Labels: RFC

#8925 [RFC] vim-patch:8.0.1001
  src/nvim/options.lua
Labels: RFC

#8929 [RDY] vim-patch:8.0.0983
  src/nvim/ex_cmds2.c
  src/nvim/window.c
Labels: RDY
