Repository neovim/neovim, pull requests merged in 2018-06, with the labels that each got.

#8454 [RDY] vim-patch:8.0.0321,8.0.1232
  runtime/mswin.vim
Labels: RDY

#8458 [RFC] vim-patch:8.0.0516
  src/nvim/globals.h
  src/nvim/testdir/test_normal.vim
Labels: RFC

#8460 [RFC] vim-patch:8.0.0519
  runtime/doc/pattern.txt
  src/nvim/regexp.c
  src/nvim/regexp_nfa.c
  src/nvim/testdir/test_regexp_utf8.vim
Labels: RFC

#8453 [RFC] Close wildmenu before redrawing statusline
  src/nvim/ex_getln.c
  test/functional/ui/wildmode_spec.lua
Labels: RFC

#8456 [RFC] nvim_list_uis: include channel id
  src/nvim/api/ui.c
  src/nvim/api/ui_events.in.h
  src/nvim/api/vim.c
  src/nvim/ui.c
  src/nvim/ui.h
  src/nvim/ui_bridge.c
  test/functional/api/vim_spec.lua
  test/functional/terminal/tui_spec.lua
Labels: RFC

#8461 [RFC] ex_getln: don't redraw statusline on top of scrolled messages
  src/nvim/ex_getln.c
  test/functional/ex_cmds/debug_spec.lua
  test/functional/ui/cmdline_spec.lua
Labels: RFC

#8464 build/CMake: find_package(… REQUIRED)
  .gitignore
  .travis.yml
  CMakeLists.txt
  cmake/FindLibIntl.cmake
  makedeps.bat
  src/nvim/CMakeLists.txt
  src/nvim/mbyte.c
  src/nvim/os/win_defs.h
  src/nvim/po/CMakeLists.txt
  third-party/CMakeLists.txt
Labels: build

#8513 [RFC] vim-patch:8.0.0520
  src/nvim/message.c
  src/nvim/regexp.c
  src/nvim/regexp_nfa.c
  src/nvim/screen.c
  src/nvim/spell.c
Labels: RFC

#8499 [RDY]vim-patch:8.0.0{533,541}
  src/nvim/edit.c
  src/nvim/testdir/test_mapping.vim
Labels: RDY

#7679 startup: treat stdin as text instead of commands
  man/nvim.1
  runtime/doc/starting.txt
  runtime/doc/vim_diff.txt
  src/nvim/event/rstream.c
  src/nvim/globals.h
  src/nvim/main.c
  src/nvim/message.c
  src/nvim/os/input.c
  test/functional/core/startup_spec.lua
  test/functional/helpers.lua
Labels: enhancement, ux

#8534 [RDY] tests for folded lines with multibyte and cmdwin char, and double-width rendering
  test/functional/ui/fold_spec.lua
  test/functional/ui/multibyte_spec.lua
Labels: RDY

#8536 [RFC] Fix implicit conversion warning
  src/nvim/fileio.c
Labels: RFC

#7992 [RFC] Represent Screen state as UTF-8
  runtime/doc/mbyte.txt
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/eval.c
  src/nvim/globals.h
  src/nvim/mbyte.c
  src/nvim/mouse.c
  src/nvim/option.c
  src/nvim/options.lua
  src/nvim/screen.c
  test/functional/options/num_options_spec.lua
  test/functional/ui/fold_spec.lua
Labels: RFC, refactor, ui

#8546 [RFC] Add fillchar for EndOfBuffer and check for invalid UTF-8
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/globals.h
  src/nvim/option.c
  src/nvim/screen.c
  test/functional/options/fillchars_spec.lua
Labels: RFC

#8526 [RDY]vim-patch:8.0.0451
  src/nvim/charset.c
  src/nvim/charset.h
  src/nvim/cursor.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/fold.c
  src/nvim/globals.h
  src/nvim/macros.h
  src/nvim/mark.c
  src/nvim/mbyte.c
  src/nvim/memline.c
  src/nvim/menu.c
  src/nvim/message.c
  src/nvim/misc1.c
  src/nvim/mouse.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/path.c
  src/nvim/popupmnu.c
  src/nvim/regexp.c
  src/nvim/regexp_nfa.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/strings.c
  src/nvim/syntax.c
  src/nvim/undo.c
  src/nvim/window.c
Labels: RDY

#8543 [RDY] vim-patch:8.0.0596
  src/nvim/edit.c
  src/nvim/testdir/test_popup.vim
Labels: RDY

#8565 [RDY] vim-patch:8.0.0{575,577}
  src/nvim/indent.c
  src/nvim/testdir/test_options.vim
Labels: RDY

#8567 [RFC] vim-patch:8.0.0530,8.0.0531,8.0.0532,8.0.0543,8.0.0545
  src/nvim/edit.c
  src/nvim/testdir/test_edit.vim
Labels: RFC

#8573 [RDY] vim-patch:8.0.0625
  src/nvim/eval.c
  src/nvim/testdir/test_functions.vim
Labels: RDY

#8571 [RDY] vim-patch:8.0.0609
  src/nvim/normal.c
  test/functional/eval/system_spec.lua
  test/functional/ui/cmdline_highlight_spec.lua
Labels: RDY

#8520 [RFC] Ex mode: use getexline() instead of getexmodeline()
  man/nvim.1
  runtime/doc/intro.txt
  runtime/doc/starting.txt
  runtime/doc/vim_diff.txt
  src/nvim/ex_docmd.c
  src/nvim/main.c
  test/functional/core/startup_spec.lua
Labels: RFC

#8502 [RDY]vim-patch:8.0.0481
  src/nvim/syntax.c
Labels: RDY

#8584 [RFC] vim-patch:8.0.0{467,547}
  src/nvim/eval.c
  src/nvim/testdir/test_cmdline.vim
Labels: RFC

#8585 [RDY] vim-patch:8.0.0598
  src/nvim/ex_docmd.c
Labels: RDY

#8580 [RDY] vim-patch:8.0.0542
  runtime/doc/eval.txt
  src/nvim/eval.c
Labels: RDY

#8592 [RFC] vim-patch:8.0.0537
  src/nvim/ex_cmds.c
  src/nvim/testdir/test_alot.vim
  src/nvim/testdir/test_ex_z.vim
Labels: RFC

#8588 [RFC] vim-patch:8.0.0546
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/option.c
Labels: RFC

#8503 [RDY] vim-patch:8.0.0{549,568}
  src/nvim/normal.c
  src/nvim/testdir/test_goto.vim
  src/nvim/testdir/test_normal.vim
Labels: RDY

#8579 [RFC] cmake: Improvements for building with IDEs
  CMakeLists.txt
  makedeps.bat
  src/nvim/CMakeLists.txt
  src/nvim/po/CMakeLists.txt
  test/includes/CMakeLists.txt
Labels: RFC, platform:windows

#8600 [RDY] vim-patch:8.0.0669
  src/nvim/edit.c
  src/nvim/testdir/test_popup.vim
Labels: RDY

#8601 [RDY] vim-patch:8.0.0{469,581,583}
  src/nvim/fold.c
  src/nvim/testdir/test_fold.vim
Labels: RDY

#8606 [RDY] vim-patch:8.0.0616
  src/nvim/option.c
  src/nvim/syntax.c
  src/nvim/testdir/test_syntax.vim
Labels: RDY

#7941 [RFC] vim-patch:8.0.0455,8.0.0467,8.0.0468
  src/nvim/ex_getln.c
  src/nvim/memory.c
  src/nvim/message.c
Labels: RFC

#8612 [RDY] vim-patch:8.0.0{621,648}
  src/nvim/buffer.c
  src/nvim/buffer.h
  src/nvim/buffer_defs.h
  src/nvim/ex_cmds.c
  src/nvim/search.c
  src/nvim/tag.c
  src/nvim/testdir/test_tagjump.vim
Labels: RDY

#7551 [WIP] fix copying setl options for buffer currently displayed in another window
  src/nvim/buffer.c
  src/nvim/testdir/test_options.vim
Labels: +sent-to-vim_dev, WIP

#8627 [RFC] vim-patch:8.0.0544
  src/nvim/farsi.c
Labels: RFC

#8629 [RFC] vim-patch:8.0.0548
  src/nvim/buffer_defs.h
  src/nvim/eval.c
  src/nvim/fileio.c
  src/nvim/getchar.c
  src/nvim/testdir/test_functions.vim
Labels: RFC

#8621 [RDY] vim-patch:8.0.0642
  src/nvim/eval.c
  src/nvim/testdir/test_writefile.vim
  test/functional/eval/writefile_spec.lua
Labels: RDY

#8642 [RDY] vim-patch:8.0.0{704,706,707}
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds.lua
  src/nvim/ex_getln.c
  src/nvim/option.c
Labels: RDY

#8645 [RFC] vim-patch:8.0.0{677,688}
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds.lua
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_getln.c
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: RFC

#8639 [RFC] vim-patch:8.0.0593
  src/nvim/eval.c
  src/nvim/eval/typval.c
  src/nvim/eval/typval.h
Labels: RFC
