Repository neovim/neovim, pull requests merged in 2018-03, with the labels that each got.

#8042 [RFC] third-party: build all deps with debugging symbols
  third-party/CMakeLists.txt
  third-party/cmake/BuildLibtermkey.cmake
  third-party/cmake/BuildLibvterm.cmake
  third-party/cmake/BuildUnibilium.cmake
Labels: RFC

#8095 [RFC] vim-patch:8.0.1561
  src/nvim/syntax.c
Labels: RFC

#8094 [RFC] ci: the homebrew formula for Python 3 was renamed
  .travis.yml
  ci/before_install.sh
Labels: RFC

#8077 [RFC] msg: don't output unprintable chars to screen
  src/nvim/message.c
  test/functional/ui/input_spec.lua
Labels: RFC

#8052 [RFC] vim-patch:8.0.0234,8.0.0236,8.0.0225
  src/nvim/ops.c
  src/nvim/testdir/test_put.vim
Labels: RFC

#8103 [RFC] vim-patch:8.0.0513
  src/nvim/eval.c
  src/nvim/ex_cmds.c
  src/nvim/syntax.c
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_syntax.vim
Labels: RFC

#8084 [RDY] Building with VS2017
  CMakeLists.txt
  appveyor.yml
  ci/build.bat
  cmake/FindMsgpack.cmake
  src/nvim/eval.c
  src/nvim/generators/gen_declarations.lua
  src/nvim/lib/kvec.h
  src/nvim/main.c
  src/nvim/option.c
  src/nvim/os/os_defs.h
  src/nvim/os/unix_defs.h
  src/nvim/os/win_defs.h
  src/nvim/spellfile.c
  test/functional/fixtures/shell-test.c
  third-party/CMakeLists.txt
  third-party/cmake/BuildLibtermkey.cmake
  third-party/cmake/BuildLibuv.cmake
  third-party/cmake/BuildLibvterm.cmake
  third-party/cmake/BuildLuajit.cmake
  third-party/cmake/BuildLuarocks.cmake
  third-party/cmake/BuildMsgpack.cmake
  third-party/cmake/BuildUnibilium.cmake
  third-party/cmake/UnibiliumCMakeLists.txt
  third-party/msvc-compat/unistd.h
  third-party/patches/libvterm-Remove-VLAs-for-MSVC.patch
  third-party/patches/luarocks-Change-default-downloader-to-curl.patch
Labels: RDY, platform:windows

#8117 build: use Ninja on travis CI; avoid parallel Luarocks bootstrap
  .travis.yml
  CMakeLists.txt
  Makefile
  appveyor.yml
  ci/before_install.sh
  ci/build.bat
  ci/common/build.sh
  ci/install.sh
  ci/run_lint.sh
  test/functional/api/server_notifications_spec.lua
  test/functional/api/server_requests_spec.lua
  test/functional/autocmd/cmdline_spec.lua
  test/functional/core/channels_spec.lua
  test/functional/core/job_spec.lua
  test/functional/ex_cmds/dict_notifications_spec.lua
  test/functional/helpers.lua
  test/functional/ui/input_spec.lua
  third-party/cmake/BuildLuarocks.cmake
Labels: platform:windows

#8124 [RDY] ci/AppVeyor: Replace Batch script with PowerShell script
  appveyor.yml
  ci/build.bat
  ci/build.ps1
Labels: RDY

#8134 [RFC] vim-patch:8.0.0316
  src/nvim/ex_cmds.c
Labels: RFC

#8140 [RFC] Fix buffer-local DirChanged autocmd
  src/nvim/file_search.c
  test/functional/autocmd/dirchanged_spec.lua
Labels: RFC

#8141 [RFC] vim-patch:8.0.0344
  src/nvim/testdir/test_unlet.vim
Labels: RFC

#5802 [RDY] screen.c: column width returned by function
  src/nvim/move.c
  src/nvim/screen.c
Labels: RDY

#8107 jobs: child proc must have a separate process-group
  src/nvim/api/vim.c
  src/nvim/event/libuv_process.c
  src/nvim/event/process.c
  src/nvim/lua/vim.lua
  src/nvim/os/fileio.c
  src/nvim/os/process.c
  src/nvim/os/process.h
  src/nvim/os/pty_process_unix.c
  test/functional/api/proc_spec.lua
  test/functional/autocmd/termclose_spec.lua
  test/functional/core/job_spec.lua
Labels: api, job-control

#8161 [RFC] vim-patch:8.0.0357
  src/nvim/cursor_shape.c
  src/nvim/testdir/test_options.vim
Labels: RFC

#8162 [RFC] vim-patch:8.0.0387
  src/nvim/memline.c
Labels: RFC

#4419 [RFC] implement <Cmd> key
  runtime/doc/map.txt
  src/nvim/edit.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/keymap.c
  src/nvim/keymap.h
  src/nvim/normal.c
  src/nvim/screen.c
  src/nvim/terminal.c
  test/functional/ex_cmds/cmd_map_spec.lua
Labels: RFC

#8163 [RDY] build/msvc: Add libintl to bundled dependencies
  cmake/FindLibIntl.cmake
  third-party/CMakeLists.txt
  third-party/cmake/BuildGettext.cmake
  third-party/cmake/GettextCMakeLists.txt
  third-party/patches/gettext-Fix-compilation-on-a-system-without-alloca.patch
Labels: RDY, platform:windows

#8174 [RFC] vim-patch:8.0.0417
  src/nvim/testdir/runtest.vim
Labels: RFC

#7881 [RFC] *: Make sure that !did_throw implies !current_exception
  src/nvim/api/private/helpers.c
  src/nvim/api/private/helpers.h
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/globals.h
  test/functional/ui/cmdline_highlight_spec.lua
Labels: RFC

#8183 [RFC] build/msvc: Fix functional tests
  appveyor.yml
  ci/build.ps1
  test/functional/legacy/077_mf_hash_grow_spec.lua
  third-party/patches/libvterm-Remove-VLAs-for-MSVC.patch
Labels: RFC, platform:windows

#6377 [RDY] options: fixes and some refactoring for number options
  src/nvim/option.c
  test/functional/options/num_options_spec.lua
Labels: RDY

#8199 [RDY] Stop time watcher on timer_pause
  src/nvim/eval.c
  src/nvim/testdir/test_timers.vim
Labels: RDY

#8088 [RFC] add display=msgsep flag to separate messages and avoid full-screen scrolling
  runtime/doc/options.txt
  runtime/doc/syntax.txt
  runtime/doc/vim_diff.txt
  src/nvim/globals.h
  src/nvim/highlight_defs.h
  src/nvim/message.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/screen.c
  src/nvim/syntax.c
  test/functional/api/vim_spec.lua
  test/functional/autocmd/cmdline_spec.lua
  test/functional/clipboard/clipboard_provider_spec.lua
  test/functional/eval/execute_spec.lua
  test/functional/eval/input_spec.lua
  test/functional/ex_cmds/cmd_map_spec.lua
  test/functional/ex_cmds/oldfiles_spec.lua
  test/functional/lua/overrides_spec.lua
  test/functional/ui/cmdline_highlight_spec.lua
  test/functional/ui/cursor_spec.lua
  test/functional/ui/highlight_spec.lua
  test/functional/ui/inccommand_spec.lua
  test/functional/ui/input_spec.lua
  test/functional/ui/mouse_spec.lua
  test/functional/ui/output_spec.lua
  test/functional/ui/screen_basic_spec.lua
Labels: RFC, ux
