Repository neovim/neovim, pull requests merged in 2018-10, with the labels that each got.

#9064 [RFC] UI: rename ext_newgrid to ext_linegrid and add --embed UI startup recommendations
  runtime/doc/starting.txt
  runtime/doc/ui.txt
  src/nvim/api/ui.c
  src/nvim/api/ui_events.in.h
  src/nvim/syntax.c
  src/nvim/tui/tui.c
  src/nvim/ui.h
  test/functional/api/version_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/embed_spec.lua
  test/functional/ui/options_spec.lua
  test/functional/ui/screen.lua
  test/functional/ui/screen_basic_spec.lua
Labels: RFC, design, discuss

#9052 [RFC] tui: add support for undercurl
  runtime/doc/syntax.txt
  src/nvim/tui/tui.c
Labels: RFC

#9078 [RDY] vim-patch:8.0.1832,8.1.0047
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/ex_docmd.c
  src/nvim/testdir/test_unlet.vim
Labels: RDY, vim-patch

#9076 [RDY] vim-patch:8.1.0440
  src/nvim/testdir/test_listdict.vim
Labels: RDY, vim-patch

#9036 [RFC] log.c;message.c;strings.c add func_attr_printf
  src/nvim/buffer_updates.c
  src/nvim/eval.c
  src/nvim/eval/encode.c
  src/nvim/eval/typval.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/garray.h
  src/nvim/log.c
  src/nvim/lua/executor.c
  src/nvim/main.c
  src/nvim/message.c
  src/nvim/regexp_nfa.c
  src/nvim/shada.c
  src/nvim/spellfile.c
  src/nvim/strings.c
  src/nvim/tui/terminfo.c
  src/nvim/undo.c
Labels: RFC

#9092 [RFC] vim-patch:8.0.1807,8.1.{453,454}
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_options.vim
Labels: RFC, platform:windows, vim-patch

#9098 [RDY] vim-patch:8.1.{459,463,466}
  src/nvim/getchar.c
  src/nvim/getchar.h
  src/nvim/memline.c
  src/nvim/message.c
  src/nvim/misc1.c
  src/nvim/testdir/test_functions.vim
Labels: RDY, vim-patch

#9079 [RFC] TUI cursor fixes
  src/nvim/tui/tui.c
  src/nvim/ugrid.c
  test/functional/terminal/tui_spec.lua
Labels: RFC

#8954 vim-patch:8.0.1423
  src/nvim/eval.c
  src/nvim/testdir/test_eval_stuff.vim
Labels: WIP, vim-patch

#9101 vim-patch:8.1.0468
  src/nvim/ex_cmds.c
  src/nvim/testdir/test_filter_cmd.vim
Labels: vim-patch

#9104 vim-patch:8.0.1777
  runtime/colors/README.txt
  src/nvim/auevents.lua
  src/nvim/fileio.c
  src/nvim/syntax.c
Labels: vim-patch

#9106 vim-patch:8.0.1837
  src/nvim/ex_getln.c
  src/nvim/testdir/test_mapping.vim
Labels: vim-patch

#8902 doc
  MAINTAIN.md
  man/nvim.1
  runtime/doc/api.txt
  runtime/doc/channel.txt
  runtime/doc/develop.txt
  runtime/doc/eval.txt
  runtime/doc/filetype.txt
  runtime/doc/gui.txt
  runtime/doc/if_pyth.txt
  runtime/doc/job_control.txt
  runtime/doc/nvim.txt
  runtime/doc/options.txt
  runtime/doc/provider.txt
  runtime/doc/starting.txt
  runtime/doc/term.txt
  runtime/doc/vim_diff.txt
  runtime/tutor/en/vim-01-beginner.tutor
  src/nvim/README.md
  src/nvim/event/loop.c
  test/README.md
Labels: documentation

#9114 vim-patch:2f0584910c0e
  runtime/doc/eval.txt
  runtime/doc/insert.txt
  runtime/doc/options.txt
  runtime/filetype.vim
  runtime/ftplugin/zsh.vim
  runtime/syntax/cf.vim
  runtime/syntax/zsh.vim
Labels: vim-patch

#8968 [RFC] vim-patch:8.0.0685
  src/nvim/fileio.c
  src/nvim/testdir/test_writefile.vim
Labels: RFC, vim-patch

#9119 [RDY] vim-patch:8.0.1590
  src/nvim/eval/typval.h
Labels: RDY, vim-patch

#9121 [RFC] API: make nvim_buf_set_virtual_text handle invalid chars
  src/nvim/api/buffer.c
  test/functional/ui/bufhl_spec.lua
Labels: RFC

#9118 [RDY] vim-patch:8.0.{971,1547,1843}
  runtime/optwin.vim
Labels: RDY, vim-patch

#9095 CI/travis/macOS: fix missing pip3
  .travis.yml
  ci/before_install.sh
  ci/common/test.sh
  ci/install.sh
  src/nvim/testdir/test_timers.vim
  test/functional/eval/timer_spec.lua
Labels: WIP, ci

#6930 [RFC] tests: detect and fix fragile sceen tests, and mark intentional unchanged expect():s
  test/functional/api/menu_spec.lua
  test/functional/eval/execute_spec.lua
  test/functional/eval/input_spec.lua
  test/functional/eval/timer_spec.lua
  test/functional/legacy/search_spec.lua
  test/functional/normal/put_spec.lua
  test/functional/options/fillchars_spec.lua
  test/functional/terminal/scrollback_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/cmdline_highlight_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/highlight_spec.lua
  test/functional/ui/inccommand_spec.lua
  test/functional/ui/mouse_spec.lua
  test/functional/ui/output_spec.lua
  test/functional/ui/screen.lua
  test/functional/ui/screen_basic_spec.lua
  test/functional/ui/searchhl_spec.lua
  test/functional/ui/wildmode_spec.lua
  test/functional/viml/completion_spec.lua
Labels: RFC

#9131 vim-patch:8.0.{670,1067}
  src/nvim/testdir/test_timers.vim
Labels: vim-patch

#9086 vim-patch:8.1.0448: cursorline not removed when using 'cursorbind'
  src/nvim/buffer_defs.h
  src/nvim/move.c
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/test_diffmode.vim
  test/functional/ui/highlight_spec.lua
Labels: vim-patch

#9144 [RFC] api/ui: verify compatibility of UI events
  src/nvim/api/ui_events.in.h
  test/functional/api/version_spec.lua
Labels: RFC

#9143 [WIP] disable clearing almost everywhere
  src/nvim/digraph.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/farsi.c
  src/nvim/globals.h
  src/nvim/message.c
  src/nvim/move.c
  src/nvim/option.c
  src/nvim/options.lua
  src/nvim/screen.c
  src/nvim/syntax.c
  src/nvim/window.c
  test/functional/eval/input_spec.lua
  test/functional/ui/cmdline_highlight_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/fold_spec.lua
  test/functional/ui/highlight_spec.lua
  test/functional/ui/mouse_spec.lua
Labels: WIP

#9155 [RFC] UI: add missing redraw after enter_tabpage
  src/nvim/window.c
  test/functional/ui/screen_basic_spec.lua
Labels: RFC
