Repository neovim/neovim, pull requests merged in 2018-04, with the labels that each got.

#8215 Add complete support for OpenBSD
  src/nvim/CMakeLists.txt
  src/nvim/os/process.c
  third-party/cmake/BuildLuajit.cmake
Labels: platform:openbsd

#8208 [RDY] Clean up dependency patches
  third-party/CMakeLists.txt
  third-party/cmake/BuildLibtermkey.cmake
  third-party/cmake/BuildLuv.cmake
  third-party/cmake/PatchLuv.cmake
  third-party/cmake/libtermkeyCMakeLists.txt
  third-party/patches/libtermkey-Add-support-for-Windows.patch
  third-party/patches/luv-Add-missing-definitions-for-MinGW.patch
Labels: RDY

#5908 shada: Also save numbered marks in a ShaDa file
  src/nvim/macros.h
  src/nvim/quickfix.c
  src/nvim/shada.c
  test/functional/shada/merging_spec.lua
  test/functional/shada/shada_spec.lua
  test/helpers.lua
Labels: WIP

#8093 [RFC] screen: make winhl=Normal:XXX not override syntax
  src/nvim/screen.c
  test/functional/ui/highlight_spec.lua
Labels: RFC

#8228 [RFC] Make vim_fgets() return the same values as in Vim
  src/nvim/fileio.c
Labels: RFC

#8236 [RFC] TUI: clean up handling of CursorShape enum
  src/nvim/tui/tui.c
Labels: RFC

#8250 [RFC] remove last usages of screen functions in os/shell.c
  src/nvim/os/shell.c
Labels: RFC

#7813 channels: fix use after free
  src/nvim/channel.c
  test/functional/core/job_spec.lua
Labels: WIP

#8267 [RDY] win: Fix reading content from stdin
  src/nvim/fileio.c
Labels: RDY, platform:windows

#8160 [RFC]oldtests: win: run on cmd.exe
  ci/build.ps1
  runtime/doc/eval.txt
  src/nvim/testdir/Makefile
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_find_complete.vim
  src/nvim/testdir/test_help_tagjump.vim
  src/nvim/testdir/test_makeencoding.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_recover.vim
  src/nvim/testdir/test_stat.vim
  src/nvim/testdir/test_system.vim
Labels: platform:windows

#6272 [RDY] stdpath() (#5297)
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/eval.h
  src/nvim/eval.lua
  src/nvim/os/stdpaths.c
  test/functional/options/defaults_spec.lua
Labels: RDY

#8120 [RDY] test: win: use cmd.exe by default in job_spec.lua
  test/functional/core/job_spec.lua
  test/functional/helpers.lua
Labels: RDY, platform:windows, tests

#8249 [RFC] terminal: resize to the max viewed size (#8096).
  src/nvim/terminal.c
  test/functional/terminal/mouse_spec.lua
Labels: RFC

#8276 Make -s - read from stdin
  src/nvim/getchar.c
  src/nvim/getchar.h
  src/nvim/globals.h
  src/nvim/main.c
  src/nvim/message.c
  src/nvim/os/fileio.c
  src/nvim/os/fileio.h
  src/nvim/os/fs.c
  test/functional/core/main_spec.lua
  test/helpers.lua
  test/includes/pre/sys/stat.h
  test/unit/helpers.lua
  test/unit/os/fileio_spec.lua
  test/unit/os/fs_spec.lua
  test/unit/preprocess.lua
Labels: WIP

#8297 [RDY] document correct init.vim path for Windows
  runtime/doc/nvim.txt
Labels: RDY

#8316 [RFC] Fix #8281 ci: updated build.sh
  ci/common/build.sh
Labels: RFC

#8113 [RFC] open subprocess pipes in overlapped mode on windows
  src/nvim/event/libuv_process.c
  third-party/cmake/BuildLibuv.cmake
  third-party/patches/libuv-overlapped.patch
Labels: platform:windows

#8218 [RFC] Fix errors reported by PVS
  config/pathdef.c.in
  scripts/pvscheck.sh
  src/nvim/api/buffer.c
  src/nvim/api/vim.c
  src/nvim/buffer.c
  src/nvim/charset.c
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/decode.c
  src/nvim/eval/typval.c
  src/nvim/eval/typval.h
  src/nvim/eval/typval_encode.c.h
  src/nvim/event/loop.h
  src/nvim/event/process.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/file_search.c
  src/nvim/fileio.c
  src/nvim/fold.c
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/globals.h
  src/nvim/if_cscope.c
  src/nvim/lib/kvec.h
  src/nvim/mbyte.c
  src/nvim/mbyte.h
  src/nvim/memline.c
  src/nvim/memory.c
  src/nvim/message.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/os/env.c
  src/nvim/os/fs.c
  src/nvim/path.c
  src/nvim/popupmnu.c
  src/nvim/pos.h
  src/nvim/quickfix.c
  src/nvim/regexp_nfa.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/strings.c
  src/nvim/strings.h
  src/nvim/syntax.c
  src/nvim/tui/tui.c
  src/nvim/ugrid.h
  src/nvim/ui_bridge.c
  src/nvim/undo.c
  src/nvim/viml/parser/expressions.c
  src/nvim/window.c
  test/functional/eval/sort_spec.lua
  test/functional/eval/uniq_spec.lua
Labels: RFC

#8299 [RFC] clarify `stdout_buffered` docs
  runtime/doc/channel.txt
Labels: RFC
