Repository neovim/neovim, pull requests merged in 2019-05, with the labels that each got.

#9967 [RFC] ex_getln: fix statusline redraw logic
  src/nvim/ex_getln.c
  test/functional/ui/cmdline_spec.lua
Labels: RFC

#9970 vim-patch:8.0.1708,8.1.{369,794,1242}
  runtime/doc/repeat.txt
  runtime/indent/vim.vim
  src/nvim/eval.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/testdir/test_eval_stuff.vim
  src/nvim/testdir/test_tabpage.vim
  src/nvim/window.c
Labels: vim-patch

#9842 [RFC] vim-patch:8.0.{1353,1389,1406,1420,1432,1500,1569,1634,1678,1727,1782,1805,1831}
  runtime/doc/eval.txt
  runtime/doc/quickfix.txt
  src/nvim/eval.c
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
  test/functional/ex_cmds/quickfix_commands_spec.lua
  test/functional/viml/errorlist_spec.lua
Labels: RFC, vim-patch

#9972 [RFC] vim-patch:8.1.{613,1046,1249}
  src/nvim/buffer.c
  src/nvim/option.c
  src/nvim/regexp_nfa.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_findfile.vim
  src/nvim/testdir/test_normal.vim
Labels: RFC, vim-patch

#9798 [RFC] Use floating window as autocmd window
  src/nvim/fileio.c
  src/nvim/window.c
Labels: RFC

#9978 vim-patch:8.1.{1284,1285,1286}
  runtime/filetype.vim
  src/nvim/testdir/Makefile
  src/nvim/testdir/test17.in
  src/nvim/testdir/test17.ok
  src/nvim/testdir/test17a.in
  src/nvim/testdir/test_checkpath.vim
  src/nvim/testdir/test_filetype.vim
  src/nvim/testdir/test_gf.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_tabpage.vim
Labels: vim-patch

#9979 vim-patch:8.0.{876,1144},8.1.0133
  src/nvim/path.c
  src/nvim/quickfix.c
  src/nvim/tag.c
  src/nvim/testdir/test_taglist.vim
Labels: vim-patch

#9982 vim-patch:8.1.1293
  runtime/doc/debug.txt
Labels: vim-patch

#9980 vim-patch:8.1.1205: BufReadPre may move the cursor
  src/nvim/buffer_defs.h
  src/nvim/fileio.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/window.c
Labels: vim-patch

#9987 vim-patch:8.1.{865,1299}
  src/nvim/screen.c
  src/nvim/testdir/test_listchars.vim
Labels: vim-patch

#9992 UI/nvim_ui_attach(): add "override" option
  runtime/doc/debug.txt
  runtime/doc/deprecated.txt
  runtime/doc/intro.txt
  runtime/doc/ui.txt
  src/nvim/api/ui.c
  src/nvim/ui.c
  src/nvim/ui.h
  test/functional/api/vim_spec.lua
  test/functional/terminal/tui_spec.lua
Labels: enhancement, ui, ui-ext

#9990 Update vim-01-beginner.tutor [RDY]
  runtime/tutor/en/vim-01-beginner.tutor
Labels: RDY

#9994 vim-patch:8.1.{1306,1312}
  runtime/doc/debug.txt
  src/nvim/ex_cmds2.c
  src/nvim/quickfix.c
Labels: vim-patch

#10001 vim-patch:8.1.0543
  src/nvim/move.c
Labels: vim-patch

#9993 UI/ext_messages: learn more message kinds
  runtime/doc/api.txt
  runtime/doc/deprecated.txt
  runtime/doc/develop.txt
  runtime/doc/ui.txt
  src/nvim/api/ui.c
  src/nvim/api/vim.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/message.c
  src/nvim/misc1.c
  src/nvim/vim.h
  test/functional/ui/messages_spec.lua
  test/functional/ui/screen.lua
Labels: api, documentation, enhancement, ui

#10003 API/nvim_set_keymap: minor cleanup
  .gitignore
  runtime/doc/api.txt
  src/nvim/api/buffer.c
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/getchar.c
  test/functional/api/keymap_spec.lua
Labels: api

#9985 Fix aucmd_win issues: crashes and redrawing errors.
  src/nvim/fileio.c
  src/nvim/window.c
  test/functional/autocmd/autocmd_spec.lua
Labels: WIP

#9883 make terminal state redraw like any other state
  src/nvim/terminal.c
  test/functional/terminal/scrollback_spec.lua
  test/functional/terminal/window_split_tab_spec.lua
  test/functional/ui/searchhl_spec.lua
  test/functional/ui/wildmode_spec.lua
Labels: WIP

#8364 [RFC] Port of the termdebug.vim plugin to neovim terminal feature.
  runtime/doc/nvim_terminal_emulator.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: RFC, runtime

#10015 [RFC] Port of the termdebug.vim plugin to neovim terminal feature (Part 2).
  runtime/doc/nvim_terminal_emulator.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: RFC

#10023 vim-patch:8.1.1338
  src/nvim/screen.c
Labels: vim-patch

#10027 [RFC] Fix #9893 zsync download not working
  scripts/genappimage.sh
Labels: RFC

#9301 runtime/lua
  runtime/lua/vim/shared.lua
  src/nvim/lua/vim.lua
  src/nvim/testdir/load.vim
  src/nvim/testdir/test_timers.vim
  test/functional/api/keymap_spec.lua
  test/functional/api/server_requests_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/core/channels_spec.lua
  test/functional/eval/let_spec.lua
  test/functional/helpers.lua
  test/functional/options/defaults_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/options_spec.lua
  test/functional/ui/screen.lua
  test/functional/ui/wildmode_spec.lua
  test/helpers.lua
  test/unit/eval/typval_spec.lua
  test/unit/helpers.lua
  test/unit/undo_spec.lua
  test/unit/viml/expressions/lexer_spec.lua
  test/unit/viml/expressions/parser_spec.lua
Labels: WIP, lua

#10028 vim-patch:8.1.{1325,1345,1348,1349}
  src/nvim/ex_cmds.c
  src/nvim/fileio.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_edit.vim
  src/nvim/testdir/test_substitute.vim
  src/nvim/testdir/test_writefile.vim
Labels: vim-patch

#9740 [RDY] Luadoc: Lua doxygen docstrings
  runtime/doc/if_lua.txt
  runtime/lua/vim/shared.lua
  scripts/gen_vimdoc.py
  scripts/lua2dox.lua
  scripts/lua2dox_filter
  src/Doxyfile
  src/nvim/lua/vim.lua
  test/helpers.lua
Labels: RDY, documentation

#10034 [RFC] vim-patch:8.1.{1352,1353}
  src/nvim/eval.c
  src/nvim/testdir/test_undo.vim
Labels: RFC, vim-patch

#10033 vim-patch:8.0.{1082,1497,1498,1513},8.1.{901,1357,1358}
  runtime/doc/eval.txt
  runtime/doc/usr_41.txt
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/getchar.c
  src/nvim/mark.c
  src/nvim/shada.c
  src/nvim/testdir/Makefile
  src/nvim/testdir/test37.in
  src/nvim/testdir/test37.ok
  src/nvim/testdir/test_clientserver.vim
  src/nvim/testdir/test_jumplist.vim
  src/nvim/testdir/test_scrollbind.vim
Labels: vim-patch

#9709 [RFC] Add os_copy function that uses uv_fs_copyfile (Issue #8288)
  runtime/doc/if_lua.txt
  runtime/lua/vim/shared.lua
  src/nvim/fileio.c
  src/nvim/lua/vim.lua
  src/nvim/os/fs.c
  test/functional/core/fileio_spec.lua
  test/unit/helpers.lua
Labels: RFC, io, performance, system

#10038 [RDY] vim-patch:8.0.{1514,1519},8.1.1360
  runtime/doc/eval.txt
  runtime/doc/usr_41.txt
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/ex_cmds.c
  src/nvim/testdir/test_changelist.vim
  src/nvim/testdir/test_substitute.vim
Labels: RDY, vim-patch

#10048 vim-patch:8.1.1363
  src/nvim/ex_cmds2.c
  src/nvim/testdir/test_options.vim
Labels: vim-patch

#10049 vim-patch:8.1.0293: checks for type of stack is cryptic
  src/nvim/quickfix.c
Labels: vim-patch

#10017 doc, etc. (gen_vimdoc.py: fancy "bullet")
  runtime/doc/api.txt
  runtime/doc/channel.txt
  runtime/doc/cmdline.txt
  runtime/doc/eval.txt
  runtime/doc/if_lua.txt
  runtime/doc/msgpack_rpc.txt
  runtime/doc/various.txt
  runtime/lua/vim/shared.lua
  scripts/gen_vimdoc.py
  scripts/lua2dox.lua
  src/nvim/api/vim.c
Labels: documentation

#10046 refactor: introduce XFREE_CLEAR()
  src/clint.py
  src/nvim/buffer.c
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/hardcopy.c
  src/nvim/if_cscope.c
  src/nvim/lib/kbtree.h
  src/nvim/lib/khash.h
  src/nvim/lib/klist.h
  src/nvim/lib/kvec.h
  src/nvim/lib/ringbuf.h
  src/nvim/mark.c
  src/nvim/mbyte.c
  src/nvim/memfile.c
  src/nvim/memline.c
  src/nvim/memory.c
  src/nvim/memory.h
  src/nvim/menu.c
  src/nvim/message.c
  src/nvim/misc1.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/os_unix.c
  src/nvim/path.c
  src/nvim/quickfix.c
  src/nvim/regexp.c
  src/nvim/regexp_nfa.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/shada.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/ugrid.c
  src/nvim/ui_compositor.c
  src/nvim/undo.c
  src/nvim/window.c
  test/functional/autocmd/autocmd_spec.lua
Labels: refactor, robustness

#10063 vim-patch:8.1.{205,206,208,506,546,547,751}
  src/nvim/option.c
  src/nvim/testdir/test_alot.vim
  src/nvim/testdir/test_glob2regpat.vim
  src/nvim/testdir/test_modeline.vim
  src/nvim/testdir/test_regexp_latin.vim
Labels: vim-patch

#10064 vim-patch:8.1.{211,307}
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/ex_docmd.c
  src/nvim/if_cscope.c
  src/nvim/os/env.c
  src/nvim/testdir/test_window_id.vim
  src/nvim/window.c
  test/functional/legacy/expand_spec.lua
Labels: vim-patch

#9547 messages: use proper multiline errors for rpcrequest and API wrappers
  runtime/doc/eval.txt
  runtime/doc/ui.txt
  src/nvim/eval.c
  src/nvim/globals.h
  src/nvim/lua/executor.c
  src/nvim/msgpack_rpc/channel.c
  test/functional/api/server_requests_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/autocmd/autocmd_spec.lua
  test/functional/eval/api_functions_spec.lua
  test/functional/helpers.lua
  test/functional/provider/python3_spec.lua
  test/functional/ui/messages_spec.lua
  test/functional/ui/screen.lua
  third-party/cmake/BuildLuarocks.cmake
Labels: WIP, api, enhancement

#9897 vim-patch:8.0.0683
  src/nvim/misc1.c
Labels: vim-patch

#9804 [RFC] Check to redrawcmdline after handling K_EVENT or K_COMMAND
  src/nvim/ex_getln.c
  src/nvim/globals.h
  src/nvim/message.c
  src/nvim/screen.c
  test/functional/ui/cmdline_spec.lua
Labels: RFC

#10059 [RDY] vim-patch:8.1.0614,8.1.0632,8.1.0644,8.1.0658,8.1.0660,8.1.0669,8.1.0673,8.1.0679,8.1.0697,8.1.0701,8.1.0702,8.1.0709,8.1.0717,8.1.0750,8.1.0767,8.1.0772,8.1.0039
  runtime/doc/eval.txt
  runtime/doc/sign.txt
  runtime/doc/usr_41.txt
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/globals.h
  src/nvim/if_cscope.c
  src/nvim/main.c
  src/nvim/mark.c
  src/nvim/mbyte.c
  src/nvim/memline.c
  src/nvim/memory.c
  src/nvim/message.c
  src/nvim/normal.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/sign.c
  src/nvim/sign.h
  src/nvim/sign_defs.h
  src/nvim/syntax.c
  src/nvim/testdir/test_signs.vim
  test/functional/ui/sign_spec.lua
Labels: RDY, vim-patch

#10068 vim-patch:8.1.{20,995,1077}
  runtime/doc/eval.txt
  runtime/doc/usr_41.txt
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/ex_docmd.c
  src/nvim/fileio.c
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/message.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/screen.c
  src/nvim/testdir/test_functions.vim
Labels: WIP, vim-patch

#10073 vim-patch:8.1.1411
  src/nvim/charset.c
Labels: vim-patch

#10083 vim-patch:8.0.0785
  src/nvim/ex_docmd.c
Labels: vim-patch
