Repository neovim/neovim, pull requests merged in 2019-10, with the labels that each got.

#11131 build: get rid of warnings with `cmake --debug-output`
  CMakeLists.txt
Labels: build

#11124 Fix/revisit git-describe enhancement
  config/CMakeLists.txt
  config/versiondef.h.in
  scripts/update_version_stamp.lua
  src/nvim/CMakeLists.txt
Labels: bug, build

#11134 Fix flaky test: tui_spec: increase timeout
  test/functional/terminal/tui_spec.lua
Labels: tests

#11130 shell: improve displaying of pulse
  src/nvim/os/shell.c
Labels: io, shell

#11093 ci: Travis: simplify 32bit build
  .travis.yml
  ci/common/build.sh
Labels: build, enhancement

#11144 tests: unit: NVIM_TEST_TRACE_LEVEL: default to 0
  test/README.md
  test/unit/helpers.lua
Labels: tests

#11087 vim-patch:8.1.{10,230,315,330,514,517,518,1327,1347,1758,2072,2074,2091,2095,2103}
  runtime/doc/windows.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  src/nvim/buffer.c
  src/nvim/eval.c
  src/nvim/ex_docmd.c
  src/nvim/fileio.c
  src/nvim/getchar.c
  src/nvim/normal.c
  src/nvim/quickfix.c
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_window_cmd.vim
  src/nvim/window.c
  test/functional/ui/inccommand_spec.lua
  test/functional/ui/mouse_spec.lua
  test/functional/ui/popupmenu_spec.lua
Labels: vim-patch

#11145 tui: fix handling of bg response after suspend
  src/nvim/tui/input.c
  src/nvim/tui/input.h
  src/nvim/tui/tui.c
  test/unit/tui_spec.lua
Labels: bug, tui

#11141 Refactor a common pattern of plines() usage into a new plines_win_full() function
  src/nvim/misc1.c
  src/nvim/move.c
Labels: refactor

#11096 oldtest: align test file contents
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_window_cmd.vim
Labels: WIP, vim-patch

#11127 ci: coverage for Lua (without Windows, using luacov)
  .luacov
  .travis.yml
  ci/before_script.sh
  ci/common/submit_coverage.sh
Labels: ci

#11151 [RFC] Fix potential deadlock
  src/nvim/os/env.c
Labels: RFC

#11153 Makefile: use `$TMPDIR` below `src/nvim/testdir`
  src/nvim/testdir/Makefile
Labels: tests

#10981 version.c: update [ci skip]
  src/nvim/version.c
Labels: vim-patch

#11081 [RFC] vim-patch:8.1.1371: cannot recover from a swap file
  src/nvim/buffer.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/main.c
  src/nvim/memline.c
  src/nvim/path.c
  src/nvim/path.h
  src/nvim/search.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/tag.c
  src/nvim/testdir/test_swap.vim
  test/unit/path_spec.lua
Labels: RFC, vim-patch

#11158 [RFC] Fix test filter example in test README
  test/README.md
Labels: RFC

#11157 vim-patch:8.1.{59, 586, 2113}
  runtime/doc/digraph.txt
  src/nvim/digraph.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds.lua
  src/nvim/ex_docmd.c
  src/nvim/message.c
  src/nvim/testdir/test_digraph.vim
  src/nvim/testdir/test_help.vim
Labels: vim-patch

#11155 tests: retry: "wait() evaluates the condition on given interval"
  test/functional/eval/wait_spec.lua
Labels: tests

#11168 test/old: add test_fnamemodify.vim
  src/nvim/testdir/test_fnamemodify.vim
Labels: tests

#11152 [WIP] ci: use cluacov
  ci/before_script.sh
Labels: WIP, ci

#11172 cmake: only set LUA_PRG with successful check
  CMakeLists.txt
Labels: build

#11178 ci: OpenBSD: enable functionaltest [ci skip]
  .builds/openbsd.yml
Labels: ci

#10426 Coverage for Lua (Windows)
  ci/build.ps1
Labels: RFC, ci, tests

#11177 third-party: upgrade libvterm to 0.1.2
  third-party/CMakeLists.txt
Labels: WIP

#11122 doc: update shellquote for powershell
  runtime/doc/options.txt
  test/functional/helpers.lua
  test/functional/ui/output_spec.lua
Labels: platform:windows, shell

#11186 update_version_stamp: redirect stderr on first try, --first-parent
  scripts/update_version_stamp.lua
Labels: build

#11187 Fix recoverymode / -r
  src/nvim/main.c
Labels: RFC, startup

#11232 tests: tui_spec: fix waiting for terminal to be ready
  test/functional/terminal/tui_spec.lua
Labels: tests

#11207 scripts/vim-patch.sh: lazy update Vim source
  scripts/vim-patch.sh
Labels: vim-patch

#11229 vim-patch:8.1.2096: too many #ifdefs
  src/nvim/edit.c
  src/nvim/misc1.c
  src/nvim/ops.c
Labels: vim-patch

#11215 [RFC] vim-patch:8.1.{84,85,361}
  src/nvim/CMakeLists.txt
  src/nvim/os/users.c
  src/nvim/testdir/test_cmdline.vim
Labels: RFC, vim-patch

#11247 tests: fix non-controversial misuse of `pending`
  test/functional/api/server_requests_spec.lua
  test/functional/core/job_spec.lua
  test/functional/ex_cmds/write_spec.lua
  test/functional/legacy/delete_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/embed_spec.lua
  test/functional/ui/output_spec.lua
Labels: tests

#11230 build: do not build test fixtures by default
  CMakeLists.txt
  test/functional/fixtures/CMakeLists.txt
Labels: build

#11233 tests: let_spec: enable "multibyte env var to child process"
  test/functional/eval/let_spec.lua
  test/functional/fixtures/printenv-test.c
Labels: tests

#11173 test/functional: retry/Screen: failure instead of error
  test/functional/helpers.lua
  test/functional/ui/screen.lua
Labels: tests

#11249 vim-patch:8.1.{2151,2152,2161,2162,2175,2177,2178}
  runtime/filetype.vim
  src/nvim/search.c
  src/nvim/tag.c
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/test_alot.vim
  src/nvim/testdir/test_filetype.vim
Labels: vim-patch

#11211 vim-patch:8.1.{1585,1625,1723,1729}
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/ex_cmds2.c
  src/nvim/testdir/test_cindent.vim
  src/nvim/testdir/test_debugger.vim
  src/nvim/testdir/test_goto.vim
  src/nvim/testdir/test_let.vim
  src/nvim/testdir/test_mksession_utf8.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_popup.vim
  src/nvim/testdir/test_profile.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_vimscript.vim
Labels: vim-patch

#11258 build/doc/CI: remove/update quickbuild references
  CMakeLists.txt
  CONTRIBUTING.md
  runtime/doc/if_lua.txt
  runtime/doc/intro.txt
  test/functional/api/server_requests_spec.lua
  test/functional/helpers.lua
  test/helpers.lua
  test/unit/mbyte_spec.lua
Labels: ci

#11259 [RFC] Add exclusive control of environment variables
  src/nvim/os/env.c
  src/nvim/tui/tui.c
Labels: RFC, environment, robustness, tui

#11265 vim-patch:8.1.2168: heredoc assignment not skipped in if block
  src/nvim/eval.c
  src/nvim/testdir/test_let.vim
Labels: vim-patch

#11266 [RFC] ci/install.sh: Use tree-sitter-cli v0.15.9 for ci
  ci/install.sh
Labels: RFC

#11199 [RFC] vim-patch:8.1.{1099,1228,1962} add 'tagfunc'
  runtime/doc/options.txt
  runtime/doc/tagsrch.txt
  runtime/optwin.vim
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/globals.h
  src/nvim/hashtab.h
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/tag.c
  src/nvim/tag.h
  src/nvim/testdir/test_alot.vim
  src/nvim/testdir/test_tagfunc.vim
  src/nvim/window.c
Labels: RFC, vim-patch

#11261 vim-patch:8.1.{2185,2188,2190,2197}
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.h
  src/nvim/testdir/test_exit.vim
  src/nvim/testdir/test_syntax.vim
Labels: vim-patch

#11213 vim-patch:8.1.{14,288,345,410,434,438,455}
  runtime/doc/eval.txt
  src/nvim/ex_docmd.c
  src/nvim/memline.c
  src/nvim/quickfix.c
  src/nvim/tag.c
  src/nvim/testdir/test_quickfix.vim
  src/nvim/window.c
Labels: vim-patch

#11286 [RFC] runtime/man: never switch to non-man window
  runtime/autoload/man.vim
Labels: RFC

#11285 vim-patch:8.1.0859
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: vim-patch

#11271 lua/vim.shared: improve some validation messages
  runtime/lua/vim/shared.lua
  test/functional/lua/treesitter_spec.lua
  test/functional/lua/utility_functions_spec.lua
  test/helpers.lua
Labels: RFC, lua

#11292 Add -fstack-protector* to linker for unix platforms. Needed by chromeOS
  CMakeLists.txt
Labels: build

#11028 tests: remove some legacy functional tests
  test/functional/legacy/022_line_ending_spec.lua
  test/functional/legacy/041_writing_and_reading_hundred_kbyte_spec.lua
  test/functional/legacy/077_mf_hash_grow_spec.lua
  test/functional/legacy/084_curswant_spec.lua
  test/functional/legacy/098_scrollbind_spec.lua
  test/functional/legacy/104_let_assignment_spec.lua
Labels: tests

#11294 vim-patch:8.1.{2173,2207,2218}
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/normal.c
  src/nvim/quickfix.c
  src/nvim/search.c
  src/nvim/search.h
  src/nvim/spell.c
  src/nvim/tag.c
  src/nvim/testdir/test_gn.vim
  src/nvim/version.c
Labels: vim-patch

#11295 win/dist: nvim-qt v0.2.15
  third-party/CMakeLists.txt
Labels: distribution, platform:windows

#11298 vim-patch:8.1.2220
  ci/before_install.sh
  ci/install.sh
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: vim-patch

#11304 Fix pythonx current working directory path removing
  runtime/autoload/health/provider.vim
  runtime/autoload/provider/pythonx.vim
Labels: runtime

#11303 vim-patch:8.1.{1245,2154}
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: vim-patch

#11276 [RFC] Use module pattern with vim/shared.lua
  runtime/lua/vim/shared.lua
  scripts/lua2dox.lua
Labels: RFC, lua

#11315 [release-0.4] test: delete duplicate highlight group
  test/functional/terminal/helpers.lua
Labels: tests
