Repository neovim/neovim, pull requests merged in 2019-11, with the labels that each got.

#11321 vim-patch:8.1.2231: not easy to move to the middle of a text line
  runtime/doc/index.txt
  runtime/doc/motion.txt
  runtime/doc/quickref.txt
  runtime/doc/usr_25.txt
  src/nvim/normal.c
  src/nvim/testdir/test_normal.vim
Labels: vim-patch

#11323 [RFC] Fix error message of update_version_stamp.lua on Windows
  scripts/update_version_stamp.lua
Labels: RFC

#11324 vim-patch:8.1.{2235,2236}
  src/nvim/ex_cmds.c
  src/nvim/ops.c
  src/nvim/quickfix.c
  src/nvim/syntax.c
  src/nvim/testdir/test_substitute.vim
  src/nvim/testdir/test_virtualedit.vim
Labels: vim-patch

#10994 allow pass through of :terminal palette colors with termguicolors
  src/nvim/highlight.c
  src/nvim/highlight_defs.h
  src/nvim/terminal.c
  src/nvim/tui/tui.c
  test/functional/core/main_spec.lua
  test/functional/terminal/highlight_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/hlstate_spec.lua
  test/functional/ui/screen.lua
Labels: WIP

#11291 vim-patch:8.1.{0252,0407,0469,0488,0532,1006,1030,1062,1098,1112,1256} cannot navigate through errors relative to the cursor (take 2)
  runtime/doc/index.txt
  runtime/doc/quickfix.txt
  src/nvim/ex_cmds.lua
  src/nvim/memory.c
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: vim-patch, waiting-on-author

#11277 doc [ci skip]
  runtime/doc/api.txt
  runtime/doc/develop.txt
  runtime/doc/eval.txt
  runtime/doc/if_lua.txt
  runtime/doc/index.txt
  runtime/doc/motion.txt
  runtime/doc/options.txt
  src/nvim/api/buffer.c
  src/nvim/api/vim.c
  src/nvim/lua/vim.lua
  test/functional/lua/utility_functions_spec.lua
  test/functional/terminal/tui_spec.lua
Labels: documentation

#11350 [WIP]build: add shlint target for shellcheck
  Makefile
  ci/run_lint.sh
Labels: WIP

#11360 paste: handle Select-mode, Visual-mode
  src/nvim/api/vim.c
  src/nvim/lua/vim.lua
  test/functional/terminal/tui_spec.lua
Labels: clipboard

#11343 [RDY]vim-patch:8.1.{324,1091,2244,2258,2262,2268,2270,2272}
  src/nvim/eval.c
  src/nvim/ex_docmd.c
  src/nvim/misc1.c
  src/nvim/quickfix.c
  src/nvim/search.c
  src/nvim/spellfile.c
  src/nvim/testdir/test_gf.vim
  src/nvim/testdir/test_gn.vim
  src/nvim/testdir/test_let.vim
  src/nvim/testdir/test_spell.vim
  src/nvim/testdir/test_vimscript.vim
Labels: RDY, vim-patch

#11004 tests: Screen:expect: support "{MATCH:…}"
  test/functional/terminal/scrollback_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/messages_spec.lua
  test/functional/ui/screen.lua
Labels: tests

#11310 lua RPC client
  runtime/doc/if_lua.txt
  runtime/lua/vim/inspect.lua
  src/nvim/lua/converter.c
  src/nvim/lua/executor.c
  src/nvim/lua/executor.h
  src/nvim/main.c
  test/functional/lua/utility_functions_spec.lua
Labels: WIP, api, enhancement, lua

#11354 API: add nvim_buf_get_virtual_text()
  CMakeLists.txt
  runtime/doc/api.txt
  src/nvim/api/buffer.c
  test/functional/ui/bufhl_spec.lua
Labels: api, enhancement

#11373 vim-patch:8.1.0622
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: vim-patch

#11384 vim-patch:8.1.{927,2293}
  runtime/doc/options.txt
  src/nvim/ops.c
  src/nvim/quickfix.c
  src/nvim/spell.c
  src/nvim/testdir/test_join.vim
Labels: vim-patch

#11398 vim-patch:8.1.0992
  src/nvim/buffer_defs.h
  src/nvim/ex_docmd.c
  src/nvim/testdir/test_functions.vim
Labels: vim-patch

#11338 v:lua and better error messages for vimL->lua
  runtime/doc/eval.txt
  runtime/doc/if_lua.txt
  src/nvim/eval.c
  src/nvim/eval.h
  src/nvim/lua/executor.c
  test/functional/lua/api_spec.lua
  test/functional/lua/commands_spec.lua
  test/functional/lua/luaeval_spec.lua
  test/functional/lua/overrides_spec.lua
  test/functional/ui/messages_spec.lua
Labels: WIP, lua

#11404 [RFC] tutor: change vimtutor's arrows (--->) to symbols ✗ and ✓
  runtime/tutor/en/vim-01-beginner.tutor
  runtime/tutor/en/vim-01-beginner.tutor.json
Labels: RFC, runtime

#11406 vim-patch:8.1.{1922,2289,2305}
  runtime/doc/options.txt
  src/nvim/diff.c
  src/nvim/diff.h
  src/nvim/fold.c
  src/nvim/globals.h
  src/nvim/options.lua
  src/nvim/po/check.vim
  src/nvim/screen.c
  src/nvim/testdir/test_diffmode.vim
  src/nvim/window.c
Labels: vim-patch

#11402 [RFC] provider/python: add python3.8 executable
  runtime/autoload/provider/pythonx.vim
Labels: RFC

#11412 Fix LuaJIT build on macOS Catalina
  third-party/cmake/BuildLuajit.cmake
Labels: build, platform:macos

#11410 [RFC] Minor fix
  src/nvim/os/tty.c
  src/nvim/tui/input.c
  src/nvim/tui/tui.c
Labels: RFC

#11340 Factor out parse_one_cmd()
  src/nvim/ex_docmd.c
  src/nvim/mark.c
Labels: refactor

#11378 doc [ci skip]
  .gitignore
  runtime/doc/api.txt
  runtime/doc/eval.txt
  runtime/doc/help.txt
  runtime/doc/if_lua.txt
  runtime/doc/lua.txt
  runtime/doc/msgpack_rpc.txt
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  scripts/gen_vimdoc.py
  src/nvim/api/buffer.c
  src/nvim/lua/vim.lua
Labels: documentation

#11414 vim-patch:8.1.{2312,2314,2317}
  src/nvim/search.c
  src/nvim/tag.c
  src/nvim/testdir/test_spell.vim
  src/nvim/testdir/test_tagjump.vim
  src/nvim/testdir/test_textobjects.vim
Labels: vim-patch

#11269 vim-patch:8.1.0251: using full path is not supported for 'backupdir'
  runtime/doc/options.txt
  src/nvim/fileio.c
  src/nvim/memline.c
  src/nvim/testdir/test_alot.vim
  src/nvim/testdir/test_backup.vim
  test/functional/core/fileio_spec.lua
Labels: vim-patch

#10292 build: upgrade bundled luarocks: 2.4.4 => 3.x
  ci/build.ps1
  third-party/CMakeLists.txt
  third-party/cmake/BuildLuarocks.cmake
Labels: RDY, build, enhancement

#11426 vim-patch:8.0.{1449,1793}
  src/nvim/edit.c
  src/nvim/testdir/shared.vim
Labels: vim-patch

#11431 vim-patch:8.1.{471,723,1235,1490,1951,2183,2269,2329,2330}
  Makefile
  src/nvim/search.c
  src/nvim/tag.c
  src/nvim/testdir/Makefile
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/shared.vim
  src/nvim/testdir/test_substitute.vim
  src/nvim/testdir/test_tagjump.vim
  src/nvim/testdir/test_textobjects.vim
Labels: vim-patch

#11443 vim-patch:8.1.1334
  src/nvim/buffer.c
  src/nvim/testdir/test_options.vim
Labels: vim-patch

#11442 Improve Lua vim ergonomics.
  .luacheckrc
  runtime/lua/vim/shared.lua
  src/nvim/CMakeLists.txt
  src/nvim/generators/gen_char_blob.lua
  src/nvim/lua/executor.c
  src/nvim/lua/vim.lua
  test/functional/lua/vim_spec.lua
  test/helpers.lua
Labels: enhancement, lua

#11430 [WIP] LSP Followup
  runtime/autoload/lsp.vim
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/builtin_callbacks.lua
  runtime/lua/vim/lsp/default_callbacks.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/shared.lua
  runtime/lua/vim/uri.lua
  test/functional/lua/vim_spec.lua
  test/functional/plugin/lsp/util_spec.lua
Labels: WIP

#11453 vim-patch:8.1.0461
  src/nvim/buffer.c
  src/nvim/ex_cmds.c
  src/nvim/fileio.c
  src/nvim/main.c
  src/nvim/memline.c
  src/nvim/quickfix.c
Labels: vim-patch

#11434 [RFC] Fix terminal close error message formatting
  src/nvim/buffer.c
  src/nvim/po/af.po
  src/nvim/po/fi.po
  src/nvim/po/uk.po
Labels: RFC

#11454 vim-patch:8.1.{223,836,1732}
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_ins_complete.vim
Labels: vim-patch

#11421 doc + extmarks minor rename [ci skip]
  runtime/doc/api.txt
  runtime/doc/change.txt
  runtime/doc/eval.txt
  runtime/doc/index.txt
  runtime/doc/intro.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/map.txt
  runtime/doc/message.txt
  runtime/doc/motion.txt
  runtime/doc/starting.txt
  runtime/doc/visual.txt
  runtime/lua/vim/shared.lua
  src/nvim/api/buffer.c
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/state.c
  test/functional/api/mark_extended_spec.lua
  test/functional/api/proc_spec.lua
  test/functional/cmdline/ctrl_r_spec.lua
  test/functional/normal/put_spec.lua
Labels: documentation

#11449 [RFC] extmark: fix E315 in nvim_buf_set_extmark
  src/nvim/api/buffer.c
  test/functional/api/mark_extended_spec.lua
Labels: RFC, extmarks

#11455 UI: emit mouse_on/mouse_off on attach
  runtime/doc/develop.txt
  runtime/doc/ui.txt
  src/nvim/mouse.c
  src/nvim/option.c
  test/functional/ui/options_spec.lua
Labels: mouse, ui

#11452 LSP: Move default buf callbacks to vim.lsp.callbacks
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/callbacks.lua
  runtime/lua/vim/lsp/default_callbacks.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#11445 options: make 'fillchars' and 'listchars' global-local instead of local-only
  runtime/doc/options.txt
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/testdir/test_display.vim
  test/functional/options/chars_spec.lua
  test/functional/ui/mouse_spec.lua
Labels: editor, enhancement

#11467 vim-patch:8.1.{1252,1253,1254,1268,2345,2348,2349}
  runtime/filetype.vim
  src/nvim/eval.c
  src/nvim/ex_docmd.c
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_const.vim
  src/nvim/testdir/test_filetype.vim
  src/nvim/testdir/test_let.vim
Labels: vim-patch

#11461 add russian-jcukenwintype.vim keymap
  runtime/keymap/russian-jcukenwintype.vim
Labels: runtime, waiting-on-author

#11428 Update SNAP packaging
  .travis.yml
  ci/snap/after_success.sh
  ci/snap/deploy.sh
  ci/snap/install.sh
  ci/snap/script.sh
  ci/snap/travis_snapcraft.cfg
  snap/snapcraft.yaml
Labels: ci, distribution

#11429 deps: update libtermkey to 0.22
  third-party/CMakeLists.txt
Labels: dependencies

#11460 [RFC] Fix crash when set rightleft on terminal
  src/nvim/screen.c
  test/functional/terminal/buffer_spec.lua
Labels: RFC, bug-crash

#11469 lsp: allow the user to config LspDiagnosticError like any hl group
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#11479 vim-patch:8.1.2017: cannot execute commands after closing the cmdline window
  runtime/doc/autocmd.txt
  runtime/doc/cmdline.txt
  src/nvim/ex_getln.c
  src/nvim/testdir/test_cmdline.vim
Labels: vim-patch

#11480 vim-patch:8.1.2315: not always using the right window when jumping to an error
  runtime/doc/options.txt
  src/nvim/option_defs.h
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: vim-patch

#11483 vim-patch:8.1.{2355,2363}
  runtime/doc/eval.txt
  src/nvim/buffer.c
  src/nvim/eval.c
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_statusline.vim
Labels: vim-patch
