Repository neovim/neovim, pull requests merged in 2019-08, with the labels that each got.

#10584 process_stop: send SIGTERM always first, do not close stdin
  src/nvim/event/process.c
  test/functional/core/job_spec.lua
Labels: WIP

#10664 [RDY]vim-patch:8.1.{1374,1780}
  src/nvim/fileio.c
Labels: RDY, vim-patch

#10666 vim-patch: runtime updates
  runtime/autoload/dist/ft.vim
  runtime/doc/autocmd.txt
  runtime/doc/change.txt
  runtime/doc/digraph.txt
  runtime/doc/eval.txt
  runtime/doc/filetype.txt
  runtime/doc/indent.txt
  runtime/doc/index.txt
  runtime/doc/message.txt
  runtime/doc/motion.txt
  runtime/doc/options.txt
  runtime/doc/pattern.txt
  runtime/doc/pi_netrw.txt
  runtime/doc/print.txt
  runtime/doc/russian.txt
  runtime/doc/spell.txt
  runtime/doc/tagsrch.txt
  runtime/doc/usr_05.txt
  runtime/doc/usr_41.txt
  runtime/doc/usr_45.txt
  runtime/doc/vi_diff.txt
  runtime/doc/visual.txt
  runtime/doc/windows.txt
  runtime/filetype.vim
  runtime/ftplugin/8th.vim
  runtime/ftplugin/cobol.vim
  runtime/ftplugin/dosbatch.vim
  runtime/ftplugin/make.vim
  runtime/ftplugin/nroff.vim
  runtime/ftplugin/ocaml.vim
  runtime/ftplugin/python.vim
  runtime/ftplugin/rst.vim
  runtime/ftplugin/sql.vim
  runtime/indent/awk.vim
  runtime/indent/cobol.vim
  runtime/indent/html.vim
  runtime/indent/mma.vim
  runtime/indent/python.vim
  runtime/indent/rmd.vim
  runtime/indent/sh.vim
  runtime/indent/testdir/html.ok
  runtime/indent/testdir/xml.ok
  runtime/indent/xml.vim
  runtime/syntax/8th.vim
  runtime/syntax/c.vim
  runtime/syntax/cobol.vim
  runtime/syntax/dcl.vim
  runtime/syntax/debchangelog.vim
  runtime/syntax/debsources.vim
  runtime/syntax/html.vim
  runtime/syntax/lisp.vim
  runtime/syntax/make.vim
  runtime/syntax/maple.vim
  runtime/syntax/rmd.vim
  runtime/syntax/sh.vim
  runtime/syntax/spec.vim
  runtime/syntax/template.vim
  runtime/syntax/tex.vim
  runtime/syntax/vim.vim
  runtime/syntax/yacc.vim
Labels: vim-patch

#10670 terminfo_start: use unibi_from_term, skip without TERM
  src/nvim/tui/tui.c
Labels: tui

#10678 [RDY]vim-patch:8.1.{1187,1761,1762,1775}
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: RDY, vim-patch

#10683 vim-patch:8.1.{1237,1796}
  src/nvim/ex_docmd.c
  src/nvim/testdir/test_arglist.vim
Labels: vim-patch

#10161 [RFC] Add function to reload providers
  runtime/autoload/health/nvim.vim
  runtime/autoload/provider/clipboard.vim
  runtime/autoload/provider/node.vim
  runtime/autoload/provider/python.vim
  runtime/autoload/provider/python3.vim
  runtime/autoload/provider/ruby.vim
  runtime/doc/develop.txt
  runtime/doc/provider.txt
  src/nvim/eval.c
  test/functional/fixtures/autoload/provider/clipboard.vim
  test/functional/fixtures/autoload/provider/python.vim
  test/functional/fixtures/autoload/provider/ruby.vim
  test/functional/provider/provider_spec.lua
Labels: RFC, enhancement, provider

#10691 vim-patch:8.1.1251
  src/nvim/getchar.c
  src/nvim/testdir/test_cmdline.vim
Labels: vim-patch

#10689 :doautocmd : Never show "No matching autocommands"
  runtime/doc/autocmd.txt
  runtime/doc/vim_diff.txt
  src/nvim/ex_docmd.c
  test/functional/autocmd/autocmd_spec.lua
Labels: compatibility, editor, ux, viml

#10695 test: various fixes
  test/functional/api/server_requests_spec.lua
  test/functional/autocmd/termclose_spec.lua
  test/functional/core/job_spec.lua
  test/functional/ex_cmds/ctrl_c_spec.lua
  test/functional/plugin/man_spec.lua
  test/functional/ui/output_spec.lua
  test/helpers.lua
  test/unit/mbyte_spec.lua
Labels: tests

#10699 vim-patch:8.1.1439
  src/nvim/garray.c
Labels: vim-patch

#10701 test: Eliminate plugin/helpers.lua
  test/functional/plugin/health_spec.lua
  test/functional/plugin/helpers.lua
  test/functional/plugin/matchparen_spec.lua
  test/functional/plugin/msgpack_spec.lua
  test/functional/plugin/shada_spec.lua
  test/unit/mbyte_spec.lua
Labels: lua, tests

#10703 [RDY]clang/"dead assignment": suppessed getchar.c
  src/nvim/getchar.c
Labels: RDY

#10705 [RDY]cmakelists: fixed tests to avoid clang warnings
  CMakeLists.txt
Labels: RDY, build, enhancement

#10395 build: port FindLibVterm to LibFindMacros
  cmake/FindLibVterm.cmake
Labels: build, enhancement

#10697 [RFC] build/MSVC: Fix problem that HAVE_ICONV_H is false
  config/CMakeLists.txt
Labels: RFC, platform:windows

#10725 vim-patch:8.1.1824
  src/nvim/spell.c
  src/nvim/testdir/test_spell.vim
Labels: vim-patch

#10688 lua: minimal UTF-16 support needed for LSP
  runtime/doc/if_lua.txt
  src/nvim/lua/executor.c
  src/nvim/mbyte.c
  test/functional/lua/utility_functions_spec.lua
Labels: lua

#10729 vim-patch:8.1.1540
  src/nvim/ex_docmd.c
Labels: vim-patch

#10700 [WIP] Keep term buffer synced with the command output when switching tab
  src/nvim/terminal.c
Labels: WIP

#10708 [RFC] remove DYNAMIC_ICONV
  config/CMakeLists.txt
  config/config.h.in
  src/nvim/eval.c
  src/nvim/fileio.c
  src/nvim/globals.h
  src/nvim/iconv.h
  src/nvim/main.c
  src/nvim/mbyte.c
  src/nvim/mbyte.h
  src/nvim/version.c
Labels: RFC

#9782 vim-patch:8.1.{199,200}
  src/nvim/eval.c
  src/nvim/testdir/test_spell.vim
Labels: vim-patch

#10573 [RDY] channels: reflect exit due to signals in exit status code
  runtime/doc/job_control.txt
  src/nvim/eval.c
  src/nvim/event/libuv_process.c
  src/nvim/event/process.c
  src/nvim/event/process.h
  src/nvim/os/pty_process_unix.c
  src/nvim/os/pty_process_win.c
  test/functional/core/job_spec.lua
Labels: RDY

#10171 vim-patch:8.1.1318: code for text changes is in a "misc" file
  src/nvim/api/buffer.c
  src/nvim/buffer.c
  src/nvim/change.c
  src/nvim/change.h
  src/nvim/cursor.c
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/fileio.c
  src/nvim/fold.c
  src/nvim/indent.c
  src/nvim/lua/executor.c
  src/nvim/memline.c
  src/nvim/misc1.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/spell.c
  src/nvim/terminal.c
  src/nvim/undo.c
Labels: vim-patch

#10706 vim-patch:8.1.{1465,1467}
  src/nvim/testdir/samples/memfile_test.c
  src/nvim/testdir/test_cscope.vim
Labels: vim-patch

#10704 vim-patch:8.1.1458: crash when using gtags
  src/nvim/screen.c
Labels: vim-patch

#10734 win/os_env_exists(): workaround libuv bug
  src/nvim/os/env.c
  test/functional/eval/environ_spec.lua
Labels: platform:windows

#10087 [RFC] nvim_win_close should not be able to close cmdline-window
  src/nvim/api/window.c
  test/functional/api/window_spec.lua
Labels: RFC

#10737 vim-patch:8.1.0911: tag line with Ex command cannot have extra fields
  runtime/doc/tagsrch.txt
  src/nvim/tag.c
  src/nvim/testdir/test_taglist.vim
Labels: vim-patch

#10662 [RFC] Fix Test_WindowsHome()
  src/nvim/os/env.c
  src/nvim/testdir/test_windows_home.vim
Labels: RFC, platform:windows

#10743 Windows: remove env var if set to empty string
  src/nvim/os/env.c
Labels: RFC, compatibility, platform:windows

#10745 vim-patch:8.1.1461 / vim-patch:8.1.1462
  src/nvim/testdir/test_debugger.vim
  src/nvim/testdir/test_environ.vim
  src/nvim/testdir/test_filetype.vim
  src/nvim/testdir/test_source.vim
Labels: vim-patch

#10749 [RDY] ex_getln.c: fix compute_cmdrow() not resetting lines_left
  src/nvim/ex_getln.c
  test/functional/ui/inccommand_spec.lua
Labels: RDY

#10661 build: link libraries by full path (for luv.so)
  cmake/FindLibLUV.cmake
  src/nvim/CMakeLists.txt
Labels: build

#10756 vim-patch:8.1.1843
  src/nvim/fileio.c
Labels: vim-patch

#10755 [RFC] clang/"null pointer dereference"
  src/nvim/edit.c
Labels: RFC

#10752 vim-patch:8.0.1179: Test_popup_and_window_resize() does not always pass
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/shared.vim
  src/nvim/testdir/test_popup.vim
  src/nvim/testdir/test_syntax.vim
Labels: vim-patch

#10764 vim-patch:8.1.0456: running test hangs when the input file is being edited
  src/nvim/testdir/runtest.vim
Labels: vim-patch

#10763 startup: handle 'guicursor' after user config
  src/nvim/main.c
  src/nvim/option.c
Labels: tui

#10776 [RFC] clang/"null pointer dereference"
  src/nvim/edit.c
Labels: RFC

#10761 utf8_to_utf16, utf16_to_utf8: align with libuv
  src/nvim/main.c
  src/nvim/mbyte.c
  src/nvim/message.c
  src/nvim/os/env.c
  src/nvim/os/fs.c
  src/nvim/os/fs_defs.h
  src/nvim/os/os_defs.h
  src/nvim/os/pty_process_win.c
Labels: platform:windows

#10778 emsg_multiline: log Vim errors
  src/nvim/message.c
Labels: RFC

#10784 Improve compile options/definitions with sanitizer builds (for --version)
  cmake/GetCompileFlags.cmake
  src/nvim/CMakeLists.txt
Labels: build, enhancement

#10783 [RFC] fix: flaky 'jobstop() kills entire process tree #6530'
  test/functional/core/job_spec.lua
Labels: RFC, debug

#10788 vim-patch:8.1.1852: timers test is flaky
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/test_timers.vim
Labels: vim-patch

#10786 ci: AppVeyor: skip MSVC_32 for non-PR builds [skip travis]
  appveyor.yml
Labels: ci, enhancement

#10791 vim-patch:8.1.1854: now another timer test is flaky
  src/nvim/testdir/runtest.vim
Labels: vim-patch

#10794 vim-patch:8.1.{1857,1858,1860}
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/test_mapping.vim
Labels: vim-patch

#10797 Add oldtests to OpenBSD CI.
  .builds/openbsd.yml
  src/nvim/testdir/test_functions.vim
Labels: ci, platform:openbsd

#10800 vim-patch:8.1.{1679,1839,1870}
  src/nvim/ex_docmd.c
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/test_window_cmd.vim
Labels: vim-patch

#10679 [RFC] Fix oldtest on Windows
  src/nvim/path.c
  src/nvim/testdir/Makefile
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/shared.vim
  src/nvim/testdir/test42.in
  src/nvim/testdir/test52.in
  src/nvim/testdir/test52.ok
  src/nvim/testdir/test_increment_dbcs.vim
  src/nvim/testdir/test_mksession.vim
  src/nvim/testdir/test_undo.vim
Labels: RFC, platform:windows

#10626 [RDY]Enable more tests
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/window_split_tab_spec.lua
  test/functional/ui/output_spec.lua
Labels: RDY

#10780 src/nvim/README: revisit sanitizer section
  src/nvim/README.md
Labels: build

#10814 vim-patch:8.1.{1887,1890}
  src/nvim/fold.c
  src/nvim/misc1.c
  src/nvim/normal.c
  src/nvim/testdir/test_fold.vim
Labels: vim-patch

#10816 test/functional/ui/mode_spec: improve "ui mode_change event"
  test/functional/ui/mode_spec.lua
Labels: tests

#10819 [RDY] vim-patch:8.1.0888
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/testdir/test_let.vim
  src/nvim/testdir/test_listdict.vim
  test/functional/legacy/055_list_and_dict_types_spec.lua
Labels: RDY, vim-patch

#10187 ci: AppVeyor: exitIfFailed with old tests
  ci/build.ps1
Labels: WIP, ci, platform:windows, tests

#10823 vim-patch:8.1.1124
  src/nvim/edit.c
  src/nvim/edit.h
  src/nvim/search.c
  src/nvim/spell.c
Labels: WIP, vim-patch

#10824 [RDY] test: Fix problem of breaking user's viminfo
  src/nvim/testdir/Makefile
Labels: RDY

#9097 tui: handle Smulx extension capability (extended underline)
  src/nvim/tui/tui.c
Labels: tui

#10815 vim-patch:8.1.1483: skipped tests are not properly listed
  src/nvim/testdir/Makefile
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/summarize.vim
  src/nvim/testdir/test_alot_utf8.vim
  src/nvim/testdir/test_arabic.vim
  src/nvim/testdir/test_autochdir.vim
  src/nvim/testdir/test_breakindent.vim
  src/nvim/testdir/test_charsearch_utf8.vim
  src/nvim/testdir/test_clientserver.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_debugger.vim
  src/nvim/testdir/test_diffmode.vim
  src/nvim/testdir/test_digraph.vim
  src/nvim/testdir/test_display.vim
  src/nvim/testdir/test_edit.vim
  src/nvim/testdir/test_erasebackword.vim
  src/nvim/testdir/test_expr_utf8.vim
  src/nvim/testdir/test_fold.vim
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_ga.vim
  src/nvim/testdir/test_highlight.vim
  src/nvim/testdir/test_makeencoding.vim
  src/nvim/testdir/test_maparg.vim
  src/nvim/testdir/test_mapping.vim
  src/nvim/testdir/test_marks.vim
  src/nvim/testdir/test_match.vim
  src/nvim/testdir/test_matchadd_conceal_utf8.vim
  src/nvim/testdir/test_mksession_utf8.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_plus_arg_edit.vim
  src/nvim/testdir/test_profile.vim
  src/nvim/testdir/test_put.vim
  src/nvim/testdir/test_regex_char_classes.vim
  src/nvim/testdir/test_search.vim
  src/nvim/testdir/test_source_utf8.vim
  src/nvim/testdir/test_spell.vim
  src/nvim/testdir/test_startup_utf8.vim
  src/nvim/testdir/test_syntax.vim
  src/nvim/testdir/test_tabpage.vim
  src/nvim/testdir/test_utf8.vim
  src/nvim/testdir/test_utf8_comparisons.vim
  src/nvim/testdir/test_virtualedit.vim
  src/nvim/testdir/test_visual.vim
  src/nvim/testdir/test_wordcount.vim
  src/nvim/testdir/test_writefile.vim
Labels: vim-patch

#10827 vim-patch:8.1.1897
  src/nvim/charset.c
  src/nvim/ex_getln.c
  src/nvim/os/env.c
  src/nvim/path.c
Labels: vim-patch

#10830 [RDY] API: fix nvim_command_output buffer overflow
  src/nvim/api/vim.c
  test/functional/api/vim_spec.lua
Labels: RDY

#9163 vim-patch:8.0.1193: crash when wiping buffer after getbufinfo()
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/eval/typval.c
  src/nvim/testdir/test_autocmd.vim
Labels: vim-patch

#10833 vim-patch:8.0.1386,8.1.{37,39,187}
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/testdir/test_bufline.vim
  src/nvim/testdir/test_bufwintabinfo.vim
  src/nvim/testdir/test_edit.vim
Labels: vim-patch

#10837 vim-patch:8.0.1236
  src/nvim/eval.c
  src/nvim/macros.h
Labels: vim-patch

#10840 vim-patch:8.1.{1757,1924}
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/testdir/test_arglist.vim
  src/nvim/testdir/test_bufline.vim
Labels: vim-patch

#10845 vim-patch:8.1.1913: not easy to compute the space on the command line
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/eval.h
  src/nvim/option.c
  src/nvim/testdir/test_messages.vim
Labels: vim-patch

#10841 vim-patch:7.4.1407,8.1.1111
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/testdir/test_float_func.vim
Labels: vim-patch

#10849 vim-patch:8.1.1926
  src/nvim/change.c
Labels: vim-patch

#10677 third-party: use neovim/unibilium
  third-party/CMakeLists.txt
  third-party/cmake/BuildUnibilium.cmake
  third-party/patches/unibilium-Relax-checks-for-extended-capability-to-support-new-.patch
Labels: WIP

#10852 vim-patch:8.1.1923: some source files are not in a normal encoding
  src/nvim/digraph.c
Labels: vim-patch

#10769 timer_spec: no timeout with "doesn't mess up the cmdline"
  test/functional/eval/timer_spec.lua
Labels: tests

#10858 vim-patch:8.1.{1930,1931}
  runtime/filetype.vim
  runtime/ftplugin/javascriptreact.vim
  runtime/indent/javascriptreact.vim
  runtime/syntax/javascriptreact.vim
  src/nvim/testdir/test_filetype.vim
  src/nvim/testdir/test_syntax.vim
Labels: vim-patch

#4448 paste: redesign, fixes, 10x speedup
  runtime/doc/api.txt
  runtime/doc/eval.txt
  runtime/doc/if_lua.txt
  runtime/doc/provider.txt
  runtime/doc/term.txt
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/event/loop.c
  src/nvim/ex_getln.c
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/keymap.c
  src/nvim/keymap.h
  src/nvim/lua/vim.lua
  src/nvim/ops.c
  src/nvim/os/input.c
  src/nvim/state.c
  src/nvim/terminal.c
  src/nvim/tui/input.c
  src/nvim/tui/input.h
  src/nvim/tui/tui.c
  src/nvim/types.h
  test/functional/api/vim_spec.lua
  test/functional/terminal/helpers.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/input_spec.lua
Labels: RFC, api, enhancement

#10868 vim-patch:8.0.0303
  src/nvim/ops.c
Labels: vim-patch

#10479 [RFC] oldtest: set helpfile for runtime/doc/tags in build dir
  CMakeLists.txt
  Makefile
  ci/common/test.sh
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_taglist.vim
  test/functional/autocmd/bufenter_spec.lua
  test/functional/autocmd/filetype_spec.lua
  test/functional/ex_cmds/help_spec.lua
  test/functional/helpers.lua
  test/functional/provider/python3_spec.lua
  test/functional/provider/ruby_spec.lua
Labels: RFC, tests

#10465 third-party: remove msvc-compat/unistd.h [skip travis]
  third-party/cmake/BuildUnibilium.cmake
  third-party/cmake/UnibiliumCMakeLists.txt
  third-party/msvc-compat/unistd.h
Labels: build, platform:windows

#10877 paste: handle CR, CRLF
  runtime/doc/provider.txt
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  test/functional/api/vim_spec.lua
  test/functional/terminal/tui_spec.lua
  test/helpers.lua
Labels: clipboard

#10885 [ci skip] vim-patch:8.1.1937
  runtime/ftplugin/javascriptreact.vim
  runtime/indent/javascriptreact.vim
  runtime/syntax/javascriptreact.vim
Labels: vim-patch

#10886 vim-patch:8.1.{233,1938}
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/ex_getln.c
  src/nvim/normal.c
Labels: vim-patch

#10855 Revisit out_data_decide_throttle
  src/nvim/os/shell.c
  test/functional/fixtures/shell-test.c
  test/functional/ui/output_spec.lua
Labels: shell

#10884 API: nvim_paste: add `crlf` parameter
  runtime/doc/api.txt
  src/nvim/api/vim.c
  src/nvim/tui/input.c
  test/functional/api/vim_spec.lua
  test/functional/terminal/tui_spec.lua
Labels: api

#10888 scripts/vim-patch.sh: massage args for git-log [ci skip]
  scripts/vim-patch.sh
Labels: vim-patch

#10889 vim-patch:8.0.0930: terminal buffers are stored in the viminfo file
  src/nvim/shada.c
Labels: vim-patch

#10892 vim-patch:cb00f0393
  src/nvim/testdir/test_reltime.vim
Labels: vim-patch

#10894 vim-patch:8.1.1941: getftype() test fails on Mac
  src/nvim/testdir/test_stat.vim
Labels: vim-patch

#10893 vim-patch:8.1.1947: when executing one test the report doesn't show it
  src/nvim/testdir/summarize.vim
Labels: vim-patch

#10902 vim-patch:8.1.1950
  src/nvim/syntax.c
Labels: vim-patch
