Repository neovim/neovim, pull requests merged in 2019-01, with the labels that each got.

#9173 [RFC] vim-patch: 8.0.0251 (pyxversion, :pythonx)
  runtime/doc/eval.txt
  runtime/doc/if_pyth.txt
  runtime/doc/index.txt
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/optwin.vim
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/ex_cmds.lua
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/testdir/pyxfile/py2_magic.py
  src/nvim/testdir/pyxfile/py2_shebang.py
  src/nvim/testdir/pyxfile/py3_magic.py
  src/nvim/testdir/pyxfile/py3_shebang.py
  src/nvim/testdir/pyxfile/pyx.py
  src/nvim/testdir/test_pyx2.vim
  src/nvim/testdir/test_pyx3.vim
Labels: RFC, vim-patch

#9447 vim-patch:8.1.{651,653}
  src/nvim/ex_cmds2.c
  src/nvim/testdir/test_arglist.vim
Labels: vim-patch

#8604 [RDY] vim-patch:8.0.0286,8.1.{674,683}
  src/nvim/screen.c
Labels: RDY, vim-patch

#9459 vim-patch:8.1.{677,685,687}
  src/nvim/eval.c
  src/nvim/regexp.c
  src/nvim/testdir/test_visual.vim
Labels: vim-patch

#9464 vim-patch:8.1.0700: using "gt" sometimes does not redraw a tab
  src/nvim/screen.c
  src/nvim/window.c
Labels: vim-patch

#9474 [RFC] Fix issue that text overrides line numbers on Windows/TUI
  scripts/windows.ti
  src/nvim/tui/terminfo_defs.h
Labels: RFC, platform:windows

#9445 [RFC] API: select items in popupmenu
  src/nvim/api/vim.c
  src/nvim/edit.c
  test/functional/ui/popupmenu_spec.lua
Labels: RFC

#9484 screen: make update_screen() the only entry point for redrawing
  src/nvim/edit.c
  src/nvim/normal.c
  src/nvim/screen.c
  src/nvim/window.c
Labels: +sent-to-vim_dev, WIP

#9487 [RFC] Improve error message if provider is missing
  src/nvim/eval.c
  src/nvim/ex_cmds2.c
  test/functional/provider/python3_spec.lua
  test/functional/provider/python_spec.lua
  test/functional/provider/ruby_spec.lua
Labels: RFC

#9492 redraw: share more code between cursorline and conceal redraws
  src/nvim/edit.c
  src/nvim/globals.h
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/screen.c
  src/nvim/window.c
  test/functional/ui/mouse_spec.lua
  test/functional/ui/syntax_conceal_spec.lua
Labels: +upstreamed, display, refactor

#9292 [RFC] Load-adjust timer tests
  .travis.yml
  src/nvim/testdir/load.vim
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_help_tagjump.vim
  src/nvim/testdir/test_lambda.vim
  src/nvim/testdir/test_timers.vim
  test/functional/eval/timer_spec.lua
  test/functional/helpers.lua
Labels: RFC

#9429 API/UI: add nvim_input_mouse() including multigrid mouse support
  runtime/doc/ui.txt
  src/nvim/api/vim.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/mouse.c
  src/nvim/normal.c
  src/nvim/os/input.c
  src/nvim/terminal.c
  src/nvim/ui.c
  src/nvim/window.c
  test/functional/ui/mouse_spec.lua
  test/functional/ui/multigrid_spec.lua
Labels: WIP

#9535 :terminal : Fix F1-F4 key codes
  third-party/CMakeLists.txt
Labels: RFC

#9520 Lua: format multiline messages / emsgf_multiline()
  src/nvim/eval.c
  src/nvim/lua/executor.c
  src/nvim/message.c
  src/nvim/message.h
  src/nvim/quickfix.c
  test/functional/api/vim_spec.lua
  test/functional/lua/commands_spec.lua
Labels: RFC, display, enhancement, lua

#9552 vim-patch:8.0.{411,412}
  src/nvim/menu.c
  src/nvim/testdir/test_menu.vim
Labels: vim-patch

#8173 [RFC] vim-patch:8.0.0411,8.0.0412,8.0.0413
  src/nvim/testdir/test_menu.vim
Labels: RFC, vim-patch

#9551 Fix :terminal resizing, and some multigrid size cleanup
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/charset.c
  src/nvim/cursor.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/getchar.c
  src/nvim/grid_defs.h
  src/nvim/indent.c
  src/nvim/misc1.c
  src/nvim/mouse.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/screen.c
  src/nvim/screen.h
  src/nvim/search.c
  src/nvim/terminal.c
  src/nvim/ui.c
  src/nvim/window.c
  test/functional/terminal/helpers.lua
  test/functional/terminal/mouse_spec.lua
  test/functional/terminal/window_spec.lua
Labels: WIP

#9539 [RFC] options: make 'listchars' and 'fillchars' local to window
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/charset.c
  src/nvim/eval.c
  src/nvim/globals.h
  src/nvim/indent.c
  src/nvim/message.c
  src/nvim/misc1.c
  src/nvim/mouse.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/screen.c
  src/nvim/testdir/test_listchars.vim
  test/functional/options/chars_spec.lua
  test/functional/ui/mouse_spec.lua
Labels: +upstreamed, RFC

#8325 [RFC] terminal: set topline based on window height (#8324).
  src/nvim/buffer_defs.h
  src/nvim/terminal.c
  test/functional/terminal/altscreen_spec.lua
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/cursor_spec.lua
  test/functional/terminal/highlight_spec.lua
  test/functional/terminal/mouse_spec.lua
  test/functional/terminal/scrollback_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/terminal/window_spec.lua
  test/functional/terminal/window_split_tab_spec.lua
Labels: RFC
