Repository neovim/neovim, pull requests merged in 2019-09, with the labels that each got.

#10903 vim-patch:8.0.1217
  src/nvim/ex_cmds2.c
  src/nvim/globals.h
Labels: vim-patch

#10901 [RDY] vim-patch:8.1.0141: :cexpr no longer jumps to the first error
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: RDY, vim-patch

#10906 vim-patch:8.0.{1241,1246,1260}
  src/nvim/testdir/test_clientserver.vim
  src/nvim/testdir/test_popup.vim
  src/nvim/testdir/test_quotestar.vim
Labels: vim-patch

#10733 test: use shell-test (avoid system shell)
  test/functional/helpers.lua
  test/functional/terminal/ex_terminal_spec.lua
  test/functional/ui/inccommand_spec.lua
  test/functional/ui/wildmode_spec.lua
Labels: tests

#10400 Dedicated message grid
  runtime/doc/syntax.txt
  runtime/doc/ui.txt
  src/nvim/api/ui.c
  src/nvim/api/ui_events.in.h
  src/nvim/buffer.c
  src/nvim/eval.c
  src/nvim/ex_getln.c
  src/nvim/grid_defs.h
  src/nvim/highlight.c
  src/nvim/highlight_defs.h
  src/nvim/memline.c
  src/nvim/message.c
  src/nvim/message.h
  src/nvim/mouse.c
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/screen.c
  src/nvim/syntax.c
  src/nvim/ui.c
  src/nvim/ui_compositor.c
  src/nvim/window.c
  test/functional/eval/timer_spec.lua
  test/functional/terminal/helpers.lua
  test/functional/terminal/tui_spec.lua
  test/functional/terminal/window_spec.lua
  test/functional/ui/cursor_spec.lua
  test/functional/ui/embed_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/ui/highlight_spec.lua
  test/functional/ui/hlstate_spec.lua
  test/functional/ui/multigrid_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/ui/screen.lua
Labels: WIP, enhancement, ui, ui-ext

#10382 [RDY] eval: add wait()
  runtime/doc/eval.txt
  runtime/doc/usr_41.txt
  src/nvim/eval.c
  src/nvim/eval.lua
  test/functional/eval/wait_spec.lua
Labels: RDY

#10896 paste: one undo-block per paste-stream
  runtime/doc/api.txt
  src/nvim/api/vim.c
  src/nvim/lua/vim.lua
  test/functional/api/vim_spec.lua
  test/functional/terminal/tui_spec.lua
Labels: clipboard

#9110 API: make nvim_win_set_option() set the window value
  src/nvim/api/private/helpers.c
  test/functional/api/window_spec.lua
  test/functional/eval/buf_functions_spec.lua
Labels: WIP, api, editor

#10911 vim-patch:8.0.1653
  src/nvim/testdir/test_autocmd.vim
Labels: vim-patch

#10910 API: nvim_buf_set_lines: handle 'nomodifiable'
  src/nvim/api/buffer.c
  test/functional/api/buffer_spec.lua
Labels: api

#10908 vim-patch:8.0.0858
  src/nvim/option.c
  src/nvim/undo.c
Labels: vim-patch

#10804 CI/OpenBSD: functional tests
  .builds/openbsd.yml
  test/functional/core/channels_spec.lua
  test/functional/core/job_spec.lua
  test/functional/eval/timer_spec.lua
  test/functional/fixtures/shell-test.c
  test/functional/helpers.lua
  test/functional/terminal/scrollback_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/embed_spec.lua
  test/functional/ui/output_spec.lua
  test/functional/ui/screen.lua
  test/helpers.lua
Labels: ci, platform:openbsd

#10913 screen: fixes for `set display-=msgsep`
  src/nvim/message.c
  src/nvim/screen.c
  test/functional/ui/embed_spec.lua
Labels: WIP, ui

#10918 vim-patch:8.0.{1697,1729}
  src/nvim/eval.c
  src/nvim/ex_eval.h
  src/nvim/testdir/shared.vim
  src/nvim/testdir/test_clientserver.vim
  src/nvim/testdir/test_quotestar.vim
Labels: vim-patch

#10917 vim-patch.sh: fix "unbound variable" error with Bash < 4.4 [ci skip]
  scripts/vim-patch.sh
Labels: vim-patch

#10921 vim-patch:8.0.{1768,1806},8.1.{46,1063}
  src/nvim/edit.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/globals.h
  src/nvim/option.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/shada.c
  src/nvim/tag.c
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_mksession.vim
  src/nvim/testdir/test_popup.vim
  src/nvim/vim.h
  src/nvim/window.c
Labels: vim-patch

#10915 f_jobwait: fix race if job exits quickly
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/event/process.c
  test/functional/core/job_spec.lua
  test/functional/ui/wildmode_spec.lua
Labels: job-control, tests

#10898 [RFC] shada/context: fully remove jumplist duplicates
  src/nvim/mark.c
  src/nvim/shada.c
  test/functional/api/vim_spec.lua
  test/functional/eval/ctx_functions_spec.lua
Labels: RFC

#10929 test: enable 'emits "exit" event after "stdout"'
  test/functional/core/job_spec.lua
Labels: job-control, tests

#10933 test: is_os()
  test/functional/api/server_requests_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/core/channels_spec.lua
  test/functional/core/job_spec.lua
  test/functional/helpers.lua
  test/functional/legacy/file_perm_spec.lua
  test/helpers.lua
Labels: tests

#10934 vim-patch:8.0.{1752,1844},8.1.0145
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: WIP, vim-patch

#10308 version.c: update [ci skip]
  src/nvim/version.c
Labels: vim-patch

#10914 tests: scrollback_spec: use shell-test instead of awk
  test/functional/terminal/scrollback_spec.lua
Labels: tests

#10946 vim-patch:8.1.1498,8.1.1501: b:changedtick
  runtime/doc/eval.txt
  src/nvim/buffer.c
  src/nvim/change.c
  src/nvim/ex_cmds2.c
  src/nvim/fileio.c
  src/nvim/memline.c
  src/nvim/testdir/test_changedtick.vim
  src/nvim/undo.c
Labels: vim-patch

#10451 anchor float to buffer position
  runtime/doc/eval.txt
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/buffer_defs.h
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/move.c
  src/nvim/testdir/test_cursor_func.vim
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: WIP

#10951 test/shada_spec: avoid exit_event race
  test/functional/plugin/shada_spec.lua
Labels: tests

#10952 vim-patch:8.1.0561: MSCV error format has changed
  src/nvim/option_defs.h
Labels: defaults, vim-patch

#10947 test/wildmode_spec: fix flaky test
  test/functional/ui/wildmode_spec.lua
Labels: tests

#10958 build: cmake: error out with CLANG_TSAN + USE_GCOV
  src/nvim/CMakeLists.txt
Labels: build

#10259 vim-patch:8.0.1332: highlighting in quickfix window could be better
  src/nvim/quickfix.c
  src/nvim/syntax.c
Labels: vim-patch

#10930 fixes for pager glitches and crashes
  src/nvim/message.c
  src/nvim/option_defs.h
  src/nvim/screen.c
  test/functional/terminal/tui_spec.lua
  test/functional/ui/messages_spec.lua
  test/functional/ui/screen.lua
Labels: WIP

#10928 build: rename CMake find modules for LibFindMacros
  CMakeLists.txt
  cmake/FindLIBVTERM.cmake
  cmake/FindUNIBILIUM.cmake
Labels: build

#10942 version.c: update [ci skip]
  src/nvim/version.c
Labels: vim-patch

#10904 disable line numbers in termdebug floats
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: runtime

#10932 test: Eliminate expect_err
  runtime/lua/vim/shared.lua
  test/functional/api/buffer_spec.lua
  test/functional/api/buffer_updates_spec.lua
  test/functional/api/command_spec.lua
  test/functional/api/keymap_spec.lua
  test/functional/api/server_requests_spec.lua
  test/functional/api/tabpage_spec.lua
  test/functional/api/ui_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/api/window_spec.lua
  test/functional/autocmd/autocmd_spec.lua
  test/functional/core/job_spec.lua
  test/functional/eval/api_functions_spec.lua
  test/functional/eval/buf_functions_spec.lua
  test/functional/eval/changedtick_spec.lua
  test/functional/eval/ctx_functions_spec.lua
  test/functional/eval/match_functions_spec.lua
  test/functional/eval/server_spec.lua
  test/functional/eval/wait_spec.lua
  test/functional/ex_cmds/swapfile_preserve_recover_spec.lua
  test/functional/helpers.lua
  test/functional/lua/utility_functions_spec.lua
  test/functional/normal/search_spec.lua
  test/functional/provider/provider_spec.lua
  test/functional/provider/python3_spec.lua
  test/functional/provider/python_spec.lua
  test/functional/provider/ruby_spec.lua
  test/functional/terminal/scrollback_spec.lua
  test/functional/ui/float_spec.lua
  test/helpers.lua
Labels: lua, tests

#10962 vim-patch: runtime updates
  runtime/autoload/syntaxcomplete.vim
  runtime/doc/cmdline.txt
  runtime/doc/eval.txt
  runtime/doc/indent.txt
  runtime/doc/index.txt
  runtime/doc/message.txt
  runtime/doc/quickfix.txt
  runtime/filetype.vim
  runtime/makemenu.vim
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  runtime/synmenu.vim
  runtime/syntax/cs.vim
  runtime/syntax/css.vim
  runtime/syntax/dockerfile.vim
  runtime/syntax/hollywood.vim
  runtime/syntax/murphi.vim
  runtime/syntax/prolog.vim
  runtime/syntax/vue.vim
Labels: vim-patch

#10963 vim-patch:8.0.1550,8.1.{1716,1988}
  src/nvim/ex_docmd.c
  src/nvim/mbyte.c
  src/nvim/normal.c
  src/nvim/option_defs.h
  src/nvim/testdir/test_edit.vim
Labels: vim-patch

#10959 fix crash on :!tmux split, redraw after resize in pager
  src/nvim/eval.c
  src/nvim/event/multiqueue.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/getchar.c
  src/nvim/getchar.h
  src/nvim/main.c
  src/nvim/message.c
  src/nvim/misc1.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/os/input.c
  src/nvim/os/input.h
  src/nvim/state.c
  src/nvim/ui.c
  src/nvim/ui.h
  test/functional/helpers.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/messages_spec.lua
Labels: WIP

#10475 [RFC] Fix some keys not working in ext_popupmenu
  src/nvim/api/ui.c
  src/nvim/popupmnu.c
  src/nvim/ui.c
  src/nvim/ui.h
  test/functional/ui/popupmenu_spec.lua
Labels: RFC

#10970 vim-patch:8.1.2007
  src/nvim/testdir/test_highlight.vim
Labels: vim-patch

#10777 [RDY] ex_getln.c: fix <S-Tab> not triggering Pmenu when wildoptions=pum
  src/nvim/ex_getln.c
  test/functional/ui/popupmenu_spec.lua
Labels: RDY

#10974 paste: reset 'paste' option immediately
  src/nvim/lua/vim.lua
  test/functional/terminal/tui_spec.lua
Labels: clipboard

#10972 vim-patch:8.0.0970: passing invalid highlight id
  src/nvim/syntax.c
Labels: vim-patch

#10975 paste: fix various bugs
  runtime/doc/provider.txt
  src/nvim/lua/vim.lua
  test/functional/terminal/tui_spec.lua
Labels: clipboard

#10973 vim-patch:8.1.1197
  src/nvim/main.c
  src/nvim/testdir/test_startup.vim
  test/functional/core/startup_spec.lua
Labels: vim-patch

#10976 paste: fix normal-mode paste by different approach
  runtime/doc/provider.txt
  src/nvim/lua/vim.lua
  test/functional/terminal/tui_spec.lua
Labels: clipboard

#10980 provider: has("python3_dynamic") et al.
  src/nvim/eval.c
  test/functional/provider/python3_spec.lua
  test/functional/provider/python_spec.lua
Labels: provider

#10546 doc
  MAINTAIN.md
  man/nvim.1
  runtime/doc/api.txt
  runtime/doc/channel.txt
  runtime/doc/develop.txt
  runtime/doc/eval.txt
  runtime/doc/help.txt
  runtime/doc/if_lua.txt
  runtime/doc/intro.txt
  runtime/doc/job_control.txt
  runtime/doc/msgpack_rpc.txt
  runtime/doc/repeat.txt
  runtime/doc/starting.txt
  runtime/doc/syntax.txt
  runtime/doc/ui.txt
  runtime/doc/usr_41.txt
  runtime/doc/vim_diff.txt
  runtime/nvim.appdata.xml
  scripts/gen_vimdoc.py
  src/nvim/README.md
  src/nvim/api/buffer.c
  src/nvim/api/tabpage.c
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/lua/vim.lua
  test/README.md
Labels: documentation

#10982 vim-patch:8.0.{937,941}
  src/nvim/syntax.c
Labels: vim-patch

#10983 vim-patch:8.0.1309
  runtime/doc/options.txt
  src/nvim/popupmnu.c
Labels: vim-patch

#10986 doc
  runtime/doc/api.txt
  runtime/doc/eval.txt
  runtime/doc/if_lua.txt
  runtime/doc/index.txt
  src/nvim/api/ui.c
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/lua/vim.lua
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: documentation

#10997 build: dependencies: specify minimum libvterm
  CMakeLists.txt
Labels: build

#10956 tests: fix system_spec when run with clipboard manager
  CMakeLists.txt
  test/functional/core/job_spec.lua
  test/functional/eval/system_spec.lua
  test/functional/fixtures/CMakeLists.txt
  test/functional/fixtures/streams-test.c
  test/functional/helpers.lua
Labels: job-control, system, tests

#11007 vim-patch:8.0.1772,8.1.{248,259,261,267}
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: vim-patch

#10971 [RDY]vim-patch:8.0.1038: strike-through text not supported
  runtime/doc/eval.txt
  runtime/doc/syntax.txt
  runtime/doc/ui.txt
  src/nvim/eval.c
  src/nvim/highlight.c
  src/nvim/highlight_defs.h
  src/nvim/syntax.c
  src/nvim/terminal.c
  src/nvim/tui/tui.c
  test/functional/api/highlight_spec.lua
  test/functional/terminal/helpers.lua
  test/functional/terminal/highlight_spec.lua
  test/functional/ui/highlight_spec.lua
  test/functional/ui/screen.lua
Labels: RDY, vim-patch

#11013 vim-patch:8.1.2026
  src/nvim/ops.c
Labels: vim-patch

#11018 vim-patch:8.1.2023: no test for synIDattr() returning "strikethrough"
  src/nvim/testdir/test_syn_attr.vim
Labels: vim-patch

#8550 TermEnter, TermLeave autocommands
  runtime/doc/autocmd.txt
  runtime/doc/nvim_terminal_emulator.txt
  src/nvim/auevents.lua
  src/nvim/terminal.c
  test/functional/autocmd/termxx_spec.lua
Labels: :terminal, enhancement

#11020 vim-patch:8.0.{1134,1148},8.1.{212,289,2028}
  ci/install.sh
  src/nvim/quickfix.c
  src/nvim/syntax.c
  src/nvim/testdir/Makefile
  src/nvim/testdir/test_python2.vim
  src/nvim/testdir/test_python3.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_ruby.vim
Labels: vim-patch

#11021 API: Context: "opts" param, et al.
  runtime/doc/api.txt
  runtime/doc/repeat.txt
  src/nvim/api/vim.c
  src/nvim/context.c
  src/nvim/context.h
  src/nvim/eval.c
  test/functional/api/vim_spec.lua
  test/functional/eval/ctx_functions_spec.lua
  test/functional/helpers.lua
Labels: api, multicursor, multiproc

#11026 vim-patch:8.1.0220
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_ruby.vim
Labels: vim-patch

#10875 server_requests_spec: use Lua path/cpath from tests
  test/functional/api/rpc_fixture.lua
  test/functional/api/server_requests_spec.lua
Labels: tests

#11003 Fix flaky test: "scrollback_spec: 'scrollback' option deletes lines (only) if necessary"
  test/functional/terminal/scrollback_spec.lua
Labels: tests

#11035 vim-patch:8.0.{1523,1770}
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/testdir/test_assert.vim
  test/functional/legacy/assert_spec.lua
Labels: vim-patch

#11027 win_update: fix redraw regression introduced in 6e9ea5ad
  src/nvim/screen.c
  test/functional/ui/diff_spec.lua
Labels: bug, bug-regression, tui

#11057 Vim patches for indent tests
  .gitignore
  Makefile
  runtime/indent/Makefile
  runtime/indent/README.txt
  runtime/indent/testdir/README.txt
  runtime/indent/testdir/runtest.vim
  runtime/indent/testdir/vim.in
  runtime/indent/testdir/vim.ok
Labels: tests, vim-patch

#11051 vim-patch:8.1.0460
  src/nvim/eval.c
  src/nvim/eval.lua
  test/functional/legacy/assert_spec.lua
Labels: vim-patch

#11060 vim-patch:8.0.{1109,1529,1539,1621,1733,1771,1776},8.1.{1783,2054,2058}
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/ex_cmds.lua
  src/nvim/ex_docmd.c
  src/nvim/mark.c
  src/nvim/syntax.c
  src/nvim/testdir/shared.vim
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_clientserver.vim
  src/nvim/testdir/test_compiler.vim
  src/nvim/testdir/test_popup.vim
  src/nvim/testdir/test_quotestar.vim
  src/nvim/testdir/test_syntax.vim
  src/nvim/testdir/test_timers.vim
Labels: vim-patch

#11058 vim-patch:8.1.2055: not easy to jump to function line from profile
  src/nvim/eval.c
  src/nvim/testdir/test_profile.vim
Labels: vim-patch

#11044 checkhealth: skip python checks if intentionally disabled
  runtime/autoload/health/provider.vim
Labels: enhancement

#11034 Fix "precedes" listchar behavior in wrap mode
  runtime/doc/options.txt
  src/nvim/screen.c
  src/nvim/testdir/test_display.vim
  src/nvim/testdir/view_util.vim
  test/functional/ui/highlight_spec.lua
Labels: +upstreamed, bug-vim

#11050 env: use putenv_s for LC_ALL, LANG, etc.
  src/nvim/os/env.c
Labels: RFC, bug, bug-regression, environment, platform:windows

#11049 screen: missing redraw/highlight for ruler in message area
  src/nvim/screen.c
  test/functional/ui/messages_spec.lua
Labels: WIP

#11068 tests: make 'win_update redraws lines properly' more readable
  test/functional/ui/diff_spec.lua
Labels: tests

#11076 Fix fold patches: vim-patch:8.1.2052, vim-patch:8.1.2059
  src/nvim/normal.c
  src/nvim/testdir/test_fold.vim
Labels: vim-patch

#11078 vim-patch:8.0.1812
  src/nvim/quickfix.c
Labels: vim-patch

#11084 vim-patch:8.0.1754
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: vim-patch

#11086 tests: tui_spec: improve "TUI paste: exactly 64 bytes"
  test/functional/terminal/tui_spec.lua
Labels: tests

#11080 timer_spec: fix/harden flaky tests
  test/functional/eval/timer_spec.lua
Labels: tests

#11091 cmake/GetCompileFlags: include CMAKE_C_COMPILER_ARG1
  cmake/GetCompileFlags.cmake
Labels: build

#11075 [RFC/WIP] tests: busted: nvim handler: display durations always
  test/busted/outputHandlers/nvim.lua
Labels: tests

#10978 third-party: update libuv to v1.32.0
  src/nvim/os/env.c
  test/functional/eval/environ_spec.lua
  test/functional/preload.lua
  third-party/CMakeLists.txt
Labels: WIP, core

#11095 Fix two more flaky tests
  test/functional/ui/mode_spec.lua
  test/functional/ui/screen_basic_spec.lua
Labels: tests

#10907 build: add support for building for FreeBSD under Sourcehut
  .builds/freebsd.yml
  test/helpers.lua
Labels: ci, platform:freebsd

#11106 vim-patch:8.1.2083: multi-byte chars do not work properly with "%.*S" in printf()
  src/nvim/strings.c
  src/nvim/testdir/test_expr.vim
Labels: vim-patch

#10124 Tree-sitter step 1: vendor runtime lib + add lua API
  CMakeLists.txt
  ci/build.ps1
  ci/install.sh
  ci/run_tests.sh
  cmake/FindUtf8proc.cmake
  codecov.yml
  runtime/doc/if_lua.txt
  runtime/lua/vim/treesitter.lua
  src/nvim/CMakeLists.txt
  src/nvim/lua/executor.c
  src/nvim/lua/treesitter.c
  src/nvim/lua/treesitter.h
  src/nvim/lua/vim.lua
  src/tree_sitter/LICENSE
  src/tree_sitter/alloc.h
  src/tree_sitter/api.h
  src/tree_sitter/array.h
  src/tree_sitter/atomic.h
  src/tree_sitter/clock.h
  src/tree_sitter/error_costs.h
  src/tree_sitter/get_changed_ranges.c
  src/tree_sitter/get_changed_ranges.h
  src/tree_sitter/language.c
  src/tree_sitter/language.h
  src/tree_sitter/length.h
  src/tree_sitter/lexer.c
  src/tree_sitter/lexer.h
  src/tree_sitter/lib.c
  src/tree_sitter/node.c
  src/tree_sitter/parser.c
  src/tree_sitter/parser.h
  src/tree_sitter/point.h
  src/tree_sitter/reduce_action.h
  src/tree_sitter/reusable_node.h
  src/tree_sitter/stack.c
  src/tree_sitter/stack.h
  src/tree_sitter/subtree.c
  src/tree_sitter/subtree.h
  src/tree_sitter/tree.c
  src/tree_sitter/tree.h
  src/tree_sitter/tree_cursor.c
  src/tree_sitter/tree_cursor.h
  src/tree_sitter/utf16.c
  src/tree_sitter/utf16.h
  test/functional/lua/treesitter_spec.lua
  third-party/CMakeLists.txt
  third-party/cmake/BuildUtf8proc.cmake
Labels: enhancement, syntax

#11117 build: run git-describe for dev version during build
  CMakeLists.txt
  ci/before_install.sh
  cmake/GetGitRevisionDescription.cmake
  cmake/GetGitRevisionDescription.cmake.in
  config/CMakeLists.txt
  scripts/update_version_stamp.lua
Labels: build, enhancement

#10321 deps: Luajit v2.1
  third-party/CMakeLists.txt
  third-party/cmake/BuildLuajit.cmake
  third-party/cmake/BuildLuarocks.cmake
  third-party/cmake/BuildLuv.cmake
Labels: build, lua

#11067 Fix handle_background_color: short-circuit / wait for response
  src/nvim/tui/input.c
  src/nvim/tui/input.h
  src/nvim/tui/tui.c
  test/functional/terminal/tui_spec.lua
  test/unit/tui_spec.lua
Labels: tui
