Repository neovim/neovim, pull requests merged in 2019-03, with the labels that each got.

#7920 env: use libuv v1.12 getenv/setenv API
  CMakeLists.txt
  config/CMakeLists.txt
  config/config.h.in
  src/clint.py
  src/nvim/hashtab.h
  src/nvim/lib/khash.h
  src/nvim/main.c
  src/nvim/map.c
  src/nvim/map.h
  src/nvim/mbyte.c
  src/nvim/memory.c
  src/nvim/os/env.c
  src/nvim/os/fs_defs.h
  src/nvim/os/pty_process_unix.c
  src/nvim/path.c
  test/functional/eval/let_spec.lua
  test/functional/fixtures/CMakeLists.txt
  test/functional/fixtures/printenv-test.c
  test/helpers.lua
  test/unit/helpers.lua
  test/unit/os/env_spec.lua
Labels: encoding, platform:windows, system

#9653 vim-patch:8.1.0985 et al.
  src/nvim/misc1.c
  src/nvim/regexp.c
  src/nvim/regexp_nfa.c
  src/nvim/testdir/test_search.vim
Labels: vim-patch

#6619 [RFC] Floating windows in TUI and Remote UI
  runtime/doc/ui.txt
  runtime/doc/windows.txt
  src/nvim/api/private/helpers.c
  src/nvim/api/ui.c
  src/nvim/api/ui_events.in.h
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/globals.h
  src/nvim/grid_defs.h
  src/nvim/main.c
  src/nvim/memory.c
  src/nvim/message.c
  src/nvim/mouse.c
  src/nvim/normal.c
  src/nvim/os/input.c
  src/nvim/popupmnu.c
  src/nvim/popupmnu.h
  src/nvim/screen.c
  src/nvim/tui/tui.c
  src/nvim/ui.c
  src/nvim/ui.h
  src/nvim/ui_compositor.c
  src/nvim/window.c
  test/functional/ui/float_spec.lua
  test/functional/ui/screen.lua
  test/helpers.lua
Labels: RFC, tui, ui-ext

#9658 vim-patch:8.1.0971: failure for selecting quoted text object moves cu…
  src/nvim/search.c
  src/nvim/testdir/test_textobjects.vim
Labels: vim-patch

#9666 [RFC] Windows: Fix completing multibyte environment variable name
  src/nvim/os/env.c
  src/nvim/os/fs.c
  src/nvim/search.c
  test/functional/ui/wildmode_spec.lua
Labels: RFC, platform:windows

#8349 [RFC] edit.c: Don't indent during completion
  src/nvim/edit.c
  test/functional/viml/completion_spec.lua
Labels: RFC

#9673 [RFC] ui_compositor.c: fix insert at
  src/nvim/ui_compositor.c
Labels: RFC

#9674 api/buffer: use aucmd_prepbuf() to manipulate invisible buffer, fix some issues
  src/nvim/api/buffer.c
  src/nvim/api/vim.c
  src/nvim/buffer.h
  src/nvim/terminal.c
  test/functional/api/buffer_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/ui/float_spec.lua
Labels: WIP

#9679 vim-patch:8.1.0891
  src/nvim/testdir/test_findfile.vim
  src/nvim/testdir/test_marks.vim
  src/nvim/testdir/test_substitute.vim
Labels: vim-patch

#9682 [RFC] PVS/V560: window.c: delete always true condition
  src/nvim/window.c
Labels: RFC

#9638 [RFC] third-party: libtermkey v0.20 -> v0.21.1
  third-party/CMakeLists.txt
  third-party/cmake/BuildLibtermkey.cmake
  third-party/patches/libtermkey-Add-support-for-Windows.patch
  third-party/patches/libtermkey-Fix-escape-sequences-for-MSVC.patch
Labels: RFC

#9692 vim-patch:8.1.0935
  src/nvim/regexp.c
  src/nvim/testdir/test_regexp_latin.vim
Labels: vim-patch

#9695 vim-patch:8.1.{739,826,998}
  src/nvim/buffer.c
  src/nvim/eval.c
  src/nvim/globals.h
  src/nvim/mark.c
  src/nvim/normal.c
  src/nvim/pos.h
  src/nvim/tag.c
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_true_false.vim
  src/nvim/testdir/test_visual.vim
Labels: vim-patch

#9685 [RFC] Fix problem with set cmdheight on floating window
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: RFC

#9003 [RFC] vim-patch:8.0.1372
  src/nvim/ex_cmds2.c
  src/nvim/testdir/test_profile.vim
Labels: RFC, vim-patch

#9676 vim-patch:8.1.0994: relative cursor position is not calculated correctly
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/testdir/test_window_cmd.vim
  src/nvim/window.c
  test/functional/terminal/window_split_tab_spec.lua
  test/functional/ui/highlight_spec.lua
  test/functional/ui/inccommand_spec.lua
  test/functional/ui/mouse_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/ui/syntax_conceal_spec.lua
Labels: vim-patch

#9703 executable(): return false if user is not owner
  src/nvim/os/fs.c
Labels: RFC, system

#9705 vim-patch:8.1.1002
  src/nvim/testdir/test_gf.vim
  src/nvim/window.c
Labels: vim-patch

#9706 autocmd: introduce "once" feature
  runtime/doc/autocmd.txt
  runtime/doc/vim_diff.txt
  src/nvim/eval.c
  src/nvim/fileio.c
  test/functional/autocmd/autocmd_spec.lua
Labels: enhancement, viml

#9707 [RDY] Fix typo: s/_nable_/_enable_/
  src/nvim/menu.c
Labels: RDY

#9708 TUI/background detection: hook into VimEnter event
  src/nvim/tui/input.c
  test/functional/terminal/tui_spec.lua
Labels: startup, tui

#9716 [RFC] Dist: make icon a proper square
  runtime/nvim.png
Labels: RFC

#9724 vim-patch:8.1.0170
  src/nvim/regexp_nfa.c
Labels: vim-patch

#9717 TextYankPost: add v:event["inclusive"]
  runtime/doc/autocmd.txt
  runtime/doc/eval.txt
  runtime/doc/motion.txt
  src/nvim/ops.c
  src/nvim/testdir/test_autocmd.vim
  test/functional/autocmd/textyankpost_spec.lua
Labels: enhancement

#9725 vim-patch:8.0.1447
  src/nvim/testdir/test50.in
  src/nvim/testdir/test50.ok
  src/nvim/testdir/test_regex_char_classes.vim
  src/nvim/testdir/test_textformat.vim
Labels: vim-patch

#9729 vim-patch:8.1.0671
  src/nvim/mark.c
  src/nvim/misc1.c
  src/nvim/ops.c
  src/nvim/testdir/test_textformat.vim
Labels: vim-patch

#9733 vim-patch:8.1.0728
  runtime/doc/change.txt
  src/nvim/edit.c
  src/nvim/option_defs.h
  src/nvim/testdir/test_textformat.vim
Labels: vim-patch

#9616 [RFC]: add MenuPopupChanged autocmd
  runtime/doc/autocmd.txt
  runtime/doc/eval.txt
  src/nvim/auevents.lua
  src/nvim/edit.c
  src/nvim/popupmnu.c
  src/nvim/popupmnu.h
  test/functional/viml/completion_spec.lua
Labels: RFC, enhancement

#9736 vim-patch:8.1.0019
  src/nvim/eval.c
  src/nvim/testdir/test_lambda.vim
  src/nvim/testdir/test_timers.vim
Labels: vim-patch

#9607 UI: deprecate redundant ext_wildmenu events and allow TUI popupmenu for cmdline
  runtime/doc/options.txt
  runtime/doc/ui.txt
  runtime/doc/vim_diff.txt
  src/nvim/api/ui.c
  src/nvim/api/ui_events.in.h
  src/nvim/edit.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/mbyte.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/popupmnu.c
  src/nvim/screen.c
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/ui/messages_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/ui/screen.lua
Labels: WIP

#9742 vim-patch:8.1.1011
  src/nvim/misc1.c
  src/nvim/testdir/test_edit.vim
Labels: vim-patch

#9726 [RDY] API: add nvim_win_get_config()
  runtime/doc/api.txt
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/buffer_defs.h
  src/nvim/ui.c
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: RDY, api, design

#9744 vim-patch:8.1.0048
  src/nvim/charset.c
Labels: vim-patch

#9747 vim-patch:8.1.0858
  runtime/doc/indent.txt
  runtime/doc/options.txt
  src/nvim/options.lua
  src/nvim/testdir/test_timers.vim
Labels: vim-patch

#9749 vim-patch:8.1.{771,775,1017}
  runtime/autoload/dist/ft.vim
  runtime/filetype.vim
Labels: vim-patch

#9757 vim-patch:8.1.{0849,1001}: 'cursorline' highlight
  src/nvim/screen.c
  src/nvim/testdir/test_highlight.vim
  test/functional/example_spec.lua
  test/functional/ui/highlight_spec.lua
Labels: vim-patch

#9758 vim-patch:8.1.0384
  src/nvim/buffer.c
  src/nvim/sign_defs.h
Labels: vim-patch

#9761 [RFC] test: add more debuggings tips
  test/README.md
Labels: RFC

#9751 [RFC] doc: Fix english and formatting in api.txt.
  runtime/doc/api.txt
  src/nvim/api/vim.c
Labels: RFC

#9769 vim-patch:8.1.{1025,1026}
  src/nvim/move.c
  src/nvim/regexp.c
Labels: vim-patch

#9771 API: ignore floating windows for laststatus=1
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: api

#9774 help: ignore snapshotted window if invalid
  src/nvim/window.c
  test/functional/ex_cmds/help_spec.lua
Labels: editor

#9763 window: don't crash when closing two floats in a row
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: WIP

#9772 [RDY] floating-window.c: fix crash when using inccommand
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: RDY

#9776 vim-patch:8.1.{177,189,538,1045}
  src/nvim/buffer.c
  src/nvim/eval.c
  src/nvim/ex_cmds.lua
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_python2.vim
  src/nvim/testdir/test_python3.vim
Labels: vim-patch

#9789 mac: do not use libintl_setlocale()
  src/nvim/gettext.h
Labels: build, localization, platform:macos

#9600 doc, gen_vimdoc.py
  README.md
  runtime/doc/api.txt
  runtime/doc/autocmd.txt
  runtime/doc/deprecated.txt
  runtime/doc/eval.txt
  runtime/doc/if_lua.txt
  runtime/doc/map.txt
  runtime/doc/nvim.txt
  runtime/doc/options.txt
  runtime/doc/provider.txt
  runtime/doc/remote_plugin.txt
  runtime/doc/ui.txt
  runtime/doc/usr_43.txt
  runtime/doc/vim_diff.txt
  scripts/gen_vimdoc.py
  src/nvim/api/buffer.c
  src/nvim/api/ui.c
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/event/stream.h
  src/nvim/ex_docmd.c
  src/nvim/ui_compositor.c
  src/nvim/ui_compositor.h
  test/functional/ui/screen.lua
Labels: documentation

#9794 vim-patch:8.0.1528,8.1.0528
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/spell.c
  src/nvim/spellfile.c
Labels: vim-patch

#9802 vim-patch:8.1.{887,1061}
  src/nvim/ex_cmds.c
  src/nvim/testdir/test_substitute.vim
Labels: vim-patch

#9803 vim-patch:8.0.{504,506,572}
  src/nvim/ex_docmd.c
  src/nvim/generators/gen_ex_cmds.lua
Labels: vim-patch

#9815 vim-patch:8.1.1068: cannot get all the information about current comp…
  runtime/doc/eval.txt
  runtime/doc/insert.txt
  runtime/doc/usr_41.txt
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/testdir/test_popup.vim
Labels: vim-patch

#9818 vim-patch:8.1.1088: quickfix height not retained with vertical split
  src/nvim/testdir/test_winbuf_close.vim
  src/nvim/window.c
Labels: vim-patch

#9808 vim-patch:8.0.0705: crash when there is an error in a timer callback
  src/nvim/ex_eval.c
Labels: vim-patch

#9819 [RFC] rename MenuPopupChanged to CompleteChanged
  runtime/doc/autocmd.txt
  runtime/doc/eval.txt
  src/nvim/auevents.lua
  src/nvim/edit.c
  test/functional/viml/completion_spec.lua
Labels: RFC

#9820 vim-patch:8.1.1095
  src/nvim/testdir/test_functions.vim
Labels: vim-patch

#9807 [RFC] improve CursorMoved
  src/nvim/buffer_defs.h
  src/nvim/edit.c
  src/nvim/globals.h
  src/nvim/misc1.c
  src/nvim/normal.c
  src/nvim/window.c
  test/functional/autocmd/cursormoved_spec.lua
Labels: RFC

#9812 vim-patch:8.0.1153
  src/nvim/eval.c
  src/nvim/testdir/test_diffmode.vim
Labels: vim-patch

#9822 vim-patch:8.1.{1073,1074,1082,1087}
  src/nvim/screen.c
  src/nvim/tag.c
  src/nvim/testdir/test_diffmode.vim
  src/nvim/testdir/test_python2.vim
  src/nvim/testdir/test_python3.vim
  src/nvim/testdir/test_tagjump.vim
Labels: vim-patch
