Repository neovim/neovim, pull requests merged in 2019-04, with the labels that each got.

#9805 jumplist: avoid extra jumplist tail entry
  runtime/doc/vim_diff.txt
  src/nvim/mark.c
  src/nvim/shada.c
  test/functional/normal/jump_spec.lua
  test/functional/shada/marks_spec.lua
  test/functional/shada/merging_spec.lua
Labels: RFC, enhancement

#9516 [RFC] Improve executable() and exepath() on windows
  src/nvim/os/fs.c
  src/nvim/testdir/test_functions.vim
  test/functional/eval/executable_spec.lua
  test/functional/eval/exepath_spec.lua
Labels: RFC, platform:windows

#9831 vim-patch:8.0.0681,8.1.{118,119}
  src/nvim/ops.c
  src/nvim/testdir/test_put.vim
  src/nvim/testdir/test_true_false.vim
Labels: vim-patch

#9823 [RDY] vim-patch:8.1.{1093,1094,1100}
  runtime/doc/tagsrch.txt
  src/nvim/tag.c
  src/nvim/testdir/test_tagjump.vim
  src/nvim/testdir/test_taglist.vim
Labels: RDY, vim-patch

#9816 vim-patch:8.1.1072: extending sign and foldcolumn below the text is confusing
  src/nvim/screen.c
  test/functional/ui/diff_spec.lua
  test/functional/ui/fold_spec.lua
  test/functional/ui/highlight_spec.lua
  test/functional/ui/sign_spec.lua
  test/functional/viml/completion_spec.lua
Labels: vim-patch

#9845 vim-patch:8.1.0{218,493,494}
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/testdir/test_arglist.vim
  src/nvim/testdir/test_match.vim
Labels: vim-patch

#9840 vim-patch:8.0.{709,728},8.1.{135,308}
  src/nvim/buffer.c
  src/nvim/eval.c
  src/nvim/message.c
  src/nvim/strings.c
  src/nvim/testdir/test_cd.vim
  src/nvim/testdir/test_mksession.vim
  src/nvim/undo.c
Labels: RDY, vim-patch

#9796 doc
  README.md
  runtime/doc/api.txt
  runtime/doc/autocmd.txt
  runtime/doc/change.txt
  runtime/doc/cmdline.txt
  runtime/doc/develop.txt
  runtime/doc/digraph.txt
  runtime/doc/editing.txt
  runtime/doc/eval.txt
  runtime/doc/message.txt
  runtime/doc/provider.txt
  runtime/doc/ui.txt
  runtime/doc/various.txt
  scripts/gen_help_html.py
  src/nvim/auevents.lua
  src/nvim/log.c
  src/nvim/map.c
Labels: documentation

#9867 vim-patch:{8.0.1763,8.1.1134}
  src/nvim/buffer.c
  src/nvim/ex_cmds2.c
  src/nvim/testdir/test_arglist.vim
  src/nvim/testdir/test_command_count.vim
  src/nvim/testdir/test_quickfix.vim
Labels: vim-patch

#9868 vim-patch:8.1.1118: a couple of conditions are hard to understand
  src/nvim/getchar.c
Labels: vim-patch

#9869 ci/build.ps1: Respect CMAKE_BUILD_TYPE if provided
  CMakeLists.txt
  appveyor.yml
  ci/build.ps1
Labels: ci

#8540 startup: -es/-Es (silent/batch mode): skip swapfile
  runtime/doc/starting.txt
  runtime/doc/vim_diff.txt
  src/nvim/main.c
  test/functional/core/startup_spec.lua
Labels: enhancement, startup

#9873 vim-patch:8.1.1140: not easy to find out what neighbors a window has
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/testdir/test_window_cmd.vim
  src/nvim/window.c
Labels: vim-patch

#9880 vim-patch:8.0.{725,1411}
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/testdir/test_window_cmd.vim
Labels: vim-patch

#9891 [RFC] options: comma-separated options don't allow duplicates
  src/nvim/options.lua
Labels: RFC

#9895 vim-patch:8.1.{1156,1157}
  src/nvim/generators/gen_unicode_tables.lua
  src/nvim/mbyte.c
  unicode/CaseFolding.txt
  unicode/EastAsianWidth.txt
  unicode/UnicodeData.txt
  unicode/emoji-data.txt
Labels: vim-patch

#9896 API: emit nvim_error_event on failed async request
  src/nvim/func_attr.h
  src/nvim/msgpack_rpc/channel.c
  test/functional/api/vim_spec.lua
  test/functional/ex_cmds/swapfile_preserve_recover_spec.lua
  test/functional/helpers.lua
  test/helpers.lua
Labels: api, event-loop

#9900 vim-patch:8.0.{1104,1130}
  src/nvim/quickfix.c
Labels: vim-patch

#9783 [RFC] inccommand: disable :redraw, events
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  test/functional/ui/inccommand_spec.lua
Labels: RFC

#9898 windows: float config changes
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/screen.c
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: WIP

#9902 [RFC] vim-patch:8.0.{761,776,1093,1112}
  runtime/doc/eval.txt
  src/nvim/buffer.c
  src/nvim/eval.c
  src/nvim/ex_docmd.c
  src/nvim/if_cscope.c
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
  src/nvim/undo.c
Labels: RFC, vim-patch

#9907 vim-patch:8.0.0716: "--clean", 'shadafile'
  man/nvim.1
  runtime/doc/deprecated.txt
  runtime/doc/options.txt
  runtime/doc/starting.txt
  src/nvim/globals.h
  src/nvim/main.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/shada.c
Labels: vim-patch

#9922 vim-patch:8.1.1177: .ts files are recognized as xml, typescript is more common
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: vim-patch

#9926 [RFC] Fix #9889
  src/nvim/terminal.c
  test/functional/terminal/ex_terminal_spec.lua
Labels: RFC

#9929 [RFC] health: check if tmux enabled true colors
  runtime/autoload/health/nvim.vim
Labels: RFC

#9934 [RFC] Spurious quote mark in command line when typing <C-R>
  src/nvim/ex_getln.c
  test/functional/ui/cmdline_highlight_spec.lua
Labels: RFC

#9906 [RFC] vim-patch:8.0.{647,768,797,1085,1092,1107,1133,1408}
  runtime/doc/options.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/normal.c
  src/nvim/regexp.c
  src/nvim/screen.c
  src/nvim/syntax.c
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_syntax.vim
Labels: RFC, vim-patch

#9938 vim-patch:8.0.1510
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/globals.h
  src/nvim/misc1.c
  src/nvim/testdir/test_normal.vim
  test/functional/legacy/assert_spec.lua
Labels: vim-patch

#9942 vim-patch:8.1.{837,1180,1194,1203,1207,1209}
  src/nvim/eval.c
  src/nvim/regexp_defs.h
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/testdir/Makefile
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_debugger.vim
  src/nvim/testdir/test_mapping.vim
  src/nvim/undo.c
  src/nvim/window.c
Labels: vim-patch

#9915 test: clear(): `args_rm` parameter
  runtime/doc/options.txt
  runtime/doc/starting.txt
  test/functional/core/startup_spec.lua
  test/functional/ex_cmds/oldfiles_spec.lua
  test/functional/ex_cmds/wviminfo_spec.lua
  test/functional/helpers.lua
  test/functional/legacy/074_global_var_in_viminfo_spec.lua
  test/functional/options/defaults_spec.lua
  test/functional/ui/embed_spec.lua
  test/functional/ui/messages_spec.lua
  test/functional/ui/multigrid_spec.lua
  test/functional/ui/options_spec.lua
Labels: tests

#9916 [RDY] Added documentation for two more functions
  src/nvim/api/vim.c
Labels: RDY

#9948 vim-patch:8.1.1214
  src/nvim/testdir/Makefile
  src/nvim/testdir/test14.in
  src/nvim/testdir/test14.ok
  src/nvim/testdir/test_edit.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_search.vim
  src/nvim/testdir/test_substitute.vim
  src/nvim/testdir/test_visual.vim
Labels: vim-patch

#9911 win/defaults: Use "…/nvim-data/site" in 'runtimepath'
  runtime/autoload/spellfile.vim
  runtime/doc/options.txt
  src/nvim/option.c
  src/nvim/os/stdpaths.c
  src/nvim/os/stdpaths_defs.h
  test/functional/options/defaults_spec.lua
Labels: platform:windows

#9884 [RFC] win: stream_init() issue with tty on Windows
  src/nvim/event/rstream.c
  src/nvim/event/stream.c
  src/nvim/event/stream.h
  src/nvim/tui/input.c
  src/nvim/tui/input.h
Labels: RFC

#9947 [RFC] Prevent Tutor from overriding highlighting links
  runtime/syntax/tutor.vim
Labels: RFC

#9952 tui:cursor_goto(): remove dead code
  src/nvim/tui/tui.c
Labels: tui

#9944 vim-patch:8.1.0843: memory leak when running "make test_cd"
  src/nvim/file_search.c
Labels: vim-patch

#9955 vim-patch:8.0.1563
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/eval.lua
Labels: vim-patch

#9956 vim-patch:8.1.1231, swap-related patches
  runtime/doc/eval.txt
  runtime/doc/usr_11.txt
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/eval/typval.c
  src/nvim/fileio.c
  src/nvim/main.c
  src/nvim/memline.c
  src/nvim/message.c
  src/nvim/os/process.c
  src/nvim/testdir/test_swap.vim
  src/nvim/undo.c
Labels: vim-patch

#9957 vim-patch:8.0.{1263,1265,1267}
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/memline.c
  src/nvim/misc1.c
  src/nvim/ops.c
  src/nvim/popupmnu.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/testdir/test_swap.vim
  src/nvim/testdir/test_undo.vim
  src/nvim/undo.c
Labels: vim-patch
