Repository neovim/neovim, pull requests merged in 2019-07, with the labels that each got.

#10380 build: fix warning with passively available libintl
  cmake/FindLibIntl.cmake
  cmake/LibFindMacros.cmake
Labels: build

#10388 vim-patch:8.1.0452
  runtime/doc/mlang.txt
Labels: vim-patch

#10207 [WIP] test/old: pass Test_recover_root_dir on Windows
  src/nvim/testdir/test_recover.vim
Labels: WIP

#10384 defaults: wildoptions=pum,tagfile
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/option.c
  src/nvim/options.lua
  src/nvim/testdir/setup.vim
  test/functional/helpers.lua
Labels: defaults

#10377 tests: fix flaky "TermClose event triggers when fast-exiting terminal job stops"
  test/functional/autocmd/termclose_spec.lua
Labels: tests

#10229 tests: fix "TUI background color" tests
  test/functional/terminal/tui_spec.lua
Labels: RFC, bug, tests

#10405 tests: shell-test: add INTERACT mode
  test/functional/ex_cmds/ls_spec.lua
  test/functional/fixtures/shell-test.c
Labels: RFC

#10411 bundle: clean binary dir when downloading
  third-party/cmake/BuildLuv.cmake
  third-party/cmake/DownloadAndExtractFile.cmake
Labels: build

#10209 [RFC] win,fs.c: Fix is_executable_ext
  src/nvim/os/fs.c
Labels: RFC

#10418 cmake/FindLuaJit.cmake: handle luajit-2.1 include path suffix
  cmake/FindLuaJit.cmake
Labels: build

#10427 build: FindLibIntl: fix warning about CMP0075
  CMakeLists.txt
  cmake/FindLibIntl.cmake
Labels: build

#10293 highlight: show "hi Group" message correctly when not using the screen
  src/nvim/syntax.c
  test/functional/ui/messages_spec.lua
  test/functional/ui/screen.lua
Labels: WIP

#10424 [RDY] runtime/termdebug.vim: implement opening terminal vertically
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: RDY

#10428 vim-patch:8.1.0229: crash when dumping profiling data
  src/nvim/eval.c
Labels: bug-crash, vim-patch

#10394 [RDY]vim-patch:8.1.{1614,1632,1634,1639}
  runtime/doc/options.txt
  src/nvim/eval.c
  src/nvim/ex_getln.c
  src/nvim/memory.c
  src/nvim/option.c
  src/nvim/screen.c
  src/nvim/testdir/test_diffmode.vim
  src/nvim/testdir/test_options.vim
  test/functional/options/num_options_spec.lua
Labels: RDY, vim-patch

#10412 ci: Travis: cache: use TRAVIS_BRANCH in env for each job [skip appveyor]
  .travis.yml
Labels: WIP

#10404 [RDY] fix gcov merge mismatch, part 2
  .travis.yml
  appveyor.yml
  ci/common/submit_coverage.sh
  ci/script.sh
  src/nvim/event/process.c
  src/nvim/os/pty_process_unix.c
  test/functional/eval/executable_spec.lua
Labels: RDY, ci, enhancement

#10090 api/window: add "minimal" flag to disable UX irrelevant to "popup" style floats
  runtime/doc/api.txt
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/highlight.c
  src/nvim/option.c
  src/nvim/screen.c
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: api, enhancement

#9575 ui: implement better redrawdebug for the compositor
  runtime/doc/options.txt
  src/nvim/main.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/syntax.c
  src/nvim/ui.c
  src/nvim/ui_compositor.c
  test/functional/ui/cursor_spec.lua
  test/functional/ui/float_spec.lua
Labels: WIP

#10449 build: BuildLuv: set/pass WITH_LUA_ENGINE
  third-party/cmake/BuildLuv.cmake
Labels: build, lua

#10466 vim-patch:8.1.1173: suspend test has duplicated lines
  src/nvim/testdir/test_suspend.vim
Labels: vim-patch

#10483 build: fix check_c_compiler_flag for -Wno-…
  CMakeLists.txt
  src/nvim/CMakeLists.txt
Labels: build

#10472 vim-patch:8.1.1660: assert_fails() does not fail inside try/catch
  src/nvim/eval.c
  src/nvim/testdir/test_assert.vim
Labels: vim-patch

#10435 [RFC] Vim 8.1.1610, 8.1.1611
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/testdir/test_functions.vim
Labels: RFC

#10491 [RDY] Fix macOS Catalina dependencies build
  third-party/CMakeLists.txt
Labels: RDY

#10468 [RFC] Fix is_executable_in_path() on Windows
  src/nvim/os/fs.c
  test/functional/eval/executable_spec.lua
Labels: RFC

#3758 Fix handling of CursorHoldI events
  src/nvim/edit.c
  test/functional/autocmd/cursorhold_spec.lua
Labels: RFC

#10391 [RFC]vim-patch:8.1.{495,505,531,533,583,623,630,641,686,715,833,1012,1221,1651}
  runtime/doc/various.txt
  src/nvim/eval.c
  src/nvim/ex_docmd.c
  src/nvim/globals.h
  src/nvim/mark.c
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/regexp_nfa.c
  src/nvim/screen.c
  src/nvim/syntax.c
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/test_filter_cmd.vim
  src/nvim/testdir/test_suspend.vim
  src/nvim/testdir/test_window_cmd.vim
  src/nvim/window.c
Labels: RFC, vim-patch

#10521 viml/profile: revert proftime_T to unsigned type
  src/nvim/eval.c
  src/nvim/profile.c
  src/nvim/profile.h
  test/functional/eval/reltime_spec.lua
Labels: compatibility, viml

#10523 [RDY]vim-patch:8.1.0715
  src/nvim/move.c
Labels: RDY, vim-patch

#10522 jobstop(): close channel before process_stop()
  runtime/autoload/remote/host.vim
  runtime/doc/deprecated.txt
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/generators/gen_api_dispatch.lua
Labels: job-control

#10480 ci: Travis: use gcc9 with gcov job
  .travis.yml
Labels: RFC

#10052 [RFC] vim-patch:8.1.{729,732}
  runtime/doc/autocmd.txt
  src/nvim/auevents.lua
  src/nvim/ex_cmds2.c
  src/nvim/testdir/test_source.vim
Labels: RFC, vim-patch

#10368 [RFC] vim-patch:8.0.{755,1146,1164}
  src/nvim/buffer.c
  src/nvim/syntax.c
Labels: RFC, vim-patch

#10535 [RFC] build: Fix problem when setting TEST_FILE in Windows
  cmake/RunTests.cmake
Labels: RFC

#10541 refactor: enable -Wconversion for ex_getln.c
  src/nvim/CMakeLists.txt
  src/nvim/digraph.c
  src/nvim/eval.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/hardcopy.c
  src/nvim/if_cscope.c
  src/nvim/main.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/os/input.c
  src/nvim/os_unix.c
  src/nvim/quickfix.c
  src/nvim/screen.c
  src/nvim/version.c
  src/nvim/window.c
Labels: refactor

#10383 doc [ci skip]
  CONTRIBUTING.md
  runtime/autoload/python3complete.vim
  runtime/autoload/pythoncomplete.vim
  runtime/doc/eval.txt
  runtime/doc/nvim_terminal_emulator.txt
  runtime/doc/options.txt
  runtime/doc/provider.txt
  src/clint.py
  src/nvim/eval.c
  test/README.md
Labels: WIP, documentation

#10545 [RFC]vim-patch:8.1.{749,1715}
  src/nvim/eval.c
  src/nvim/spell.c
Labels: RFC, vim-patch

#10549 vim-patch:8.1.0754
  src/nvim/options.lua
  src/nvim/testdir/test_cursor_func.vim
Labels: vim-patch

#10550 screen.lua: expect_unchanged(), get_snapshot()
  test/functional/ui/screen.lua
  test/functional/ui/searchhl_spec.lua
Labels: tests

#10555 vim-patch:8.1.{856,1720}
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/regexp.c
  src/nvim/screen.c
  src/nvim/testdir/test_regexp_utf8.vim
Labels: vim-patch

#10561 jobstart(), system(): use $PATHEXT-resolved exe
  src/nvim/eval.c
  src/nvim/os/fs.c
  src/nvim/os_unix.c
  src/nvim/path.c
  test/functional/eval/executable_spec.lua
  test/functional/fixtures/cmdscript.cmd
Labels: job-control, platform:windows, system

#10564 vim-patch:8.1.1724
  src/nvim/misc1.c
Labels: performance, vim-patch

#10421 test/helpers: improve pattern with module functions
  test/helpers.lua
Labels: WIP

#10484 build: remove -Wno-array-bounds workaround
  CMakeLists.txt
Labels: build

#10570 vim-patch:8.1.0706
  runtime/doc/options.txt
  runtime/doc/various.txt
  src/nvim/ex_cmds.lua
  src/nvim/ex_docmd.c
  src/nvim/screen.c
  src/nvim/testdir/test_tabline.vim
Labels: vim-patch

#10583 Revert "vim-patch:8.0.1723"
  src/nvim/buffer_defs.h
  src/nvim/getchar.c
Labels: vim-patch

#10558 Windows: Fix text overrides line number
  src/nvim/os/env.c
  src/nvim/tui/tui.c
Labels: RFC, platform:windows, tui

#10588 [WIP/TEST] tests: re-enable "tab drag in tabline to the left moves tab left"
  .travis.yml
  appveyor.yml
  test/functional/ui/mouse_spec.lua
Labels: ci, tests

#10556 os_can_exe: do not require "./" or "../" with relative paths
  src/nvim/eval.c
  src/nvim/os/fs.c
  src/nvim/testdir/test_functions.vim
Labels: WIP

#10589 os/fs: introduce os_fopen()
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/hardcopy.c
  src/nvim/if_cscope.c
  src/nvim/macros.h
  src/nvim/main.c
  src/nvim/message.c
  src/nvim/misc1.c
  src/nvim/os/fs.c
  src/nvim/quickfix.c
  src/nvim/search.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/tag.c
  src/nvim/undo.c
  test/functional/core/fileio_spec.lua
Labels: io, platform:windows, system

#10605 vim-patch:8.1.1747
  src/nvim/screen.c
Labels: vim-patch

#10580 tests: use "cat" also on Windows
  test/functional/core/job_spec.lua
  test/functional/helpers.lua
Labels: ci, platform:windows

#10591 ci: Travis: remove clang-tsan from allowed failures [skip appveyor]
  .travis.yml
Labels: ci

#10606 vim-patch:8.1.0404
  src/nvim/testdir/test_arglist.vim
  src/nvim/version.c
Labels: vim-patch

#10622 vim-patch:8.1.0956
  src/nvim/diff.c
Labels: vim-patch

#10625 vim-patch:8.1.1748: :args output is not aligned
  src/nvim/testdir/test_arglist.vim
  src/nvim/version.c
Labels: vim-patch

#10531 [RDY] build/tests: remove pre/uv.h
  test/includes/pre/uv.h
  test/unit/os/fs_spec.lua
Labels: RDY, build, tests

#10628 [RFC] vim-patch:8.1.1759
  src/nvim/getchar.c
  src/nvim/testdir/test_maparg.vim
  test/functional/api/keymap_spec.lua
Labels: RFC, vim-patch

#10634 vim-patch:b1c9198af
  runtime/doc/eval.txt
  runtime/makemenu.vim
  runtime/synmenu.vim
  runtime/syntax/upstreamrpt.vim
Labels: vim-patch

#10627 [RDY] ci: Travis: debug asan_symbolize
  ci/before_install.sh
  ci/common/test.sh
Labels: RDY, ci

#10635 vim-patch:7.4.2213: runtime parts with EndOfBuffer port
  runtime/doc/eval.txt
Labels: vim-patch

#10623 [RDY] pvs/V560 part of conditional expression is always false/true
  src/nvim/quickfix.c
Labels: RDY

#10637 context: shada_encode_regs(): init WriteMergerState
  src/nvim/README.md
  src/nvim/shada.c
Labels: multiproc

#10639 vim-patch:8.0.1753: various warnings from a static analyser
  src/nvim/eval.c
  src/nvim/getchar.c
Labels: vim-patch

#10643 vim-patch:8.1.{990,992,1765}
  src/nvim/eval.c
  src/nvim/eval/executor.c
  src/nvim/testdir/test_getvar.vim
  src/nvim/testdir/test_partial.vim
  src/nvim/testdir/test_vimscript.vim
Labels: vim-patch

#10392 [RDY] Fix delete with register dispatching TextYankPost before updating yank registers
  src/nvim/ex_docmd.c
  src/nvim/normal.c
  src/nvim/ops.c
  test/functional/autocmd/textyankpost_spec.lua
Labels: RDY

#10616 [RFC] vim-patch:8.1.0017: shell command completion has duplicates
  src/nvim/ex_getln.c
  src/nvim/testdir/test_cmdline.vim
Labels: RFC, vim-patch

#10644 vim-patch:8.1.1138: add CompleteChanged
  runtime/doc/autocmd.txt
  src/nvim/edit.c
  src/nvim/ops.c
  src/nvim/popupmnu.c
  src/nvim/testdir/test_popup.vim
Labels: vim-patch

#10615 [RFC] vim-patch:8.1.0053 first argument of 'completefunc' has inconsistent type
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/ex_getln.c
  src/nvim/normal.c
  src/nvim/testdir/test_ins_complete.vim
Labels: RFC, vim-patch

#10645 vim-patch:8.1.{1005,1041,1049,1052,1053,1086,1394}
  src/nvim/buffer.c
  src/nvim/ex_docmd.c
  src/nvim/macros.h
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/testdir/test_arabic.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_registers.vim
  src/nvim/undo.c
  test/functional/eval/system_spec.lua
  test/functional/ui/cmdline_highlight_spec.lua
  test/functional/ui/messages_spec.lua
Labels: vim-patch

#10140 [RFC] vim-patch.sh improvements [ci skip]
  scripts/vim-patch.sh
Labels: RFC, enhancement, vim-patch

#10366 [RFC] Makefile: use pattern rules for build/.deps
  Makefile
Labels: RFC

#10358 [RDY] ci: Travis: improve/revisit caching
  .travis.yml
  ci/before_cache.sh
  ci/before_script.sh
  ci/common/build.sh
Labels: RDY, ci, enhancement

#10654 [RDY] clang/"null pointer dereference": ex_cmds.c
  src/nvim/ex_cmds.c
Labels: RDY
