Repository neovim/neovim, pull requests merged in 2019-02, with the labels that each got.

#9578 vim-patch:8.0.{1045,1073,1077,1114}
  runtime/doc/options.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  src/nvim/buffer.c
  src/nvim/options.lua
  src/nvim/testdir/setup.vim
  test/functional/options/num_options_spec.lua
Labels: vim-patch

#9564 [RDY] events: add new Signal event
  runtime/doc/autocmd.txt
  runtime/doc/vim_diff.txt
  src/nvim/auevents.lua
  src/nvim/fileio.c
  src/nvim/os/signal.c
  test/functional/autocmd/signal_spec.lua
Labels: RDY

#9563 [RFC] options: set 'scrollback' to -1 by default
  runtime/doc/options.txt
  src/nvim/option.c
  src/nvim/options.lua
  src/nvim/terminal.c
  test/functional/terminal/scrollback_spec.lua
Labels: RFC

#9571 UI: implement 'pumblend' option for semi-transparent popupmenu
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/api/ui.c
  src/nvim/highlight.c
  src/nvim/highlight.h
  src/nvim/highlight_defs.h
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/popupmnu.c
  src/nvim/screen.c
  src/nvim/ui_compositor.c
  test/functional/ui/options_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/ui/screen.lua
Labels: WIP

#9272 [RFC] api: add nvim_create_buf to create a new empty buffer.
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/buffer.c
  src/nvim/buffer.h
  test/functional/api/vim_spec.lua
Labels: RFC

#7466 [RFC] ui: implement ext_messages to externalize all messages in msg area
  runtime/doc/ui.txt
  src/nvim/api/private/helpers.c
  src/nvim/api/ui.c
  src/nvim/api/ui_events.in.h
  src/nvim/eval.c
  src/nvim/ex_getln.c
  src/nvim/garray.h
  src/nvim/message.c
  src/nvim/message.h
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/quickfix.c
  src/nvim/screen.c
  src/nvim/ui.c
  src/nvim/ui.h
  test/functional/api/vim_spec.lua
  test/functional/ui/messages_spec.lua
  test/functional/ui/options_spec.lua
  test/functional/ui/screen.lua
Labels: RFC, ui-ext

#9603 highlight: handle blending with gui=reverse and guisp attribute
  src/nvim/highlight.c
  test/functional/ui/popupmenu_spec.lua
Labels: WIP

#9609 vim-patch:8.1.0852
  src/nvim/testdir/test_findfile.vim
Labels: vim-patch

#9620 vim-patch:8.1.0803: session file has problem with single quote in file name
  src/nvim/ex_docmd.c
  src/nvim/testdir/test_mksession.vim
Labels: vim-patch

#9622 vim-patch:8.1.0932: remove Farsi support
  runtime/doc/cmdline.txt
  runtime/doc/eval.txt
  runtime/doc/farsi.txt
  runtime/doc/help.txt
  runtime/doc/index.txt
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/doc/rileft.txt
  runtime/doc/starting.txt
  runtime/doc/various.txt
  runtime/optwin.vim
  src/nvim/buffer_defs.h
  src/nvim/charset.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/ex_cmds.c
  src/nvim/ex_getln.c
  src/nvim/farsi.c
  src/nvim/farsi.h
  src/nvim/getchar.c
  src/nvim/main.c
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/testdir/test_farsi.vim
  src/nvim/window.c
Labels: vim-patch

#9625 vim-patch:8.1.{934,937,945}
  src/nvim/regexp.c
  src/nvim/regexp_nfa.c
  src/nvim/testdir/test_regexp_latin.vim
Labels: vim-patch

#9626 vim-patch:8.1.{276,387,668,926}
  src/nvim/testdir/test_alot.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_search.vim
  src/nvim/testdir/test_startup_utf8.vim
  src/nvim/testdir/test_wnext.vim
Labels: vim-patch

#9634 fsync: Ignore ENOTSUP. Fix writing to SMB on macOS.
  src/nvim/event/socket.c
  src/nvim/fileio.c
  src/nvim/os/fileio.c
  src/nvim/os/fs.c
  third-party/CMakeLists.txt
Labels: io

#9637 win/deps: update to (forked) libuv v1.26.0
  third-party/CMakeLists.txt
Labels: platform:windows

#9509 TUI: detect background color
  src/nvim/globals.h
  src/nvim/tui/input.c
  src/nvim/tui/tui.c
  test/functional/terminal/tui_spec.lua
Labels: tui

#9641 vim-patch:8.1.0959
  src/nvim/ex_cmds.c
  src/nvim/testdir/test_sort.vim
Labels: vim-patch

#9646 vim-patch:8.1.0980
  src/nvim/testdir/test_listdict.vim
Labels: vim-patch
