Repository neovim/neovim, pull requests merged in 2020-03, with the labels that each got.

#11931 [RDY] LSP support 'textDocument/documentSymbol’
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/callbacks.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#11929 vim-patch:8.0.1587,8.1.{253,881,883,885,896,939,1107,1108,1466,1489,1510,1552,1642,1793},8.2.{108,133,135}
  runtime/doc/eval.txt
  runtime/doc/sign.txt
  runtime/doc/starting.txt
  runtime/doc/usr_41.txt
  src/nvim/charset.c
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds.lua
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_docmd.c
  src/nvim/extmark.c
  src/nvim/globals.h
  src/nvim/indent_c.c
  src/nvim/marktree.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/os/shell.c
  src/nvim/screen.c
  src/nvim/sign.c
  src/nvim/testdir/test_number.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_restricted.vim
  src/nvim/testdir/test_search.vim
  src/nvim/testdir/test_signs.vim
  test/functional/legacy/expand_spec.lua
Labels: vim-patch

#11721 version.c: update [ci skip]
  src/nvim/version.c
Labels: vim-patch

#11716 [RFC] foldcolumn autowidth
  runtime/doc/fold.txt
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/buffer_defs.h
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/fold.c
  src/nvim/mouse.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/options.lua
  src/nvim/screen.c
  src/nvim/testdir/test_diffmode.vim
  src/nvim/window.c
  test/functional/options/num_options_spec.lua
  test/functional/ui/fold_spec.lua
Labels: editor, enhancement

#11942 [RDY] lsp: make showMessage and logMessage callbacks different
  runtime/lua/vim/lsp/callbacks.lua
  runtime/lua/vim/lsp/log.lua
Labels: RDY

#11977 vim-patch:8.1.1279,8.2.{360,361}
  ci/build.ps1
  runtime/scripts.vim
  src/nvim/eval.c
  src/nvim/option.c
  src/nvim/testdir/test_filetype.vim
  src/nvim/testdir/test_timers.vim
Labels: vim-patch

#11927 LSP: Use buffer version instead of changedtick for edits
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#11854 vim-patch:8.1.0864 Make 'scrolloff' and 'sidescrolloff' options window local
  runtime/doc/options.txt
  src/nvim/buffer_defs.h
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/search.c
  src/nvim/testdir/test_options.vim
  src/nvim/window.c
  test/functional/options/num_options_spec.lua
Labels: vim-patch
