Repository neovim/neovim, pull requests merged in 2020-02, with the labels that each got.

#11802 vim-patch:8.1.{140,1269},8.2.0161
  runtime/filetype.vim
  src/nvim/getchar.c
  src/nvim/keymap.h
  src/nvim/testdir/test_filetype.vim
Labels: WIP, vim-patch

#11807 refactor: elminate os_unix.c (almost)
  src/nvim/main.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/os/shell.c
  src/nvim/os_unix.c
  src/nvim/path.c
Labels: refactor

#11814 doc: Fix {spell,mlang}.txt files text encoding.
  runtime/doc/mlang.txt
  runtime/doc/spell.txt
Labels: documentation, encoding

#11757 treesitter: add standard search path for parsers + bundle c parser properly
  ci/build.ps1
  ci/install.sh
  ci/run_tests.sh
  config/pathdef.c.in
  runtime/doc/lua.txt
  runtime/lua/vim/treesitter.lua
  src/clint.py
  src/nvim/CMakeLists.txt
  src/nvim/api/vim.c
  src/nvim/globals.h
  src/nvim/lua/executor.c
  src/nvim/lua/treesitter.c
  src/nvim/option.c
  src/nvim/os/env.c
  test/functional/api/vim_spec.lua
  test/functional/lua/treesitter_spec.lua
  test/functional/options/defaults_spec.lua
  third-party/CMakeLists.txt
  third-party/cmake/BuildTreesitterParsers.cmake
  third-party/cmake/TreesitterParserCMakeLists.txt
Labels: lua, treesitter

#11836 vim-patch:8.2.0235: draw error when an empty group is removed from 'statusline'
  src/nvim/buffer.c
  src/nvim/testdir/test_statusline.vim
  test/functional/ui/multibyte_spec.lua
Labels: vim-patch

#11840 Use $VIM to specify system-global runtime directory
  man/nvim.1
Labels: documentation

#11842 treesitter: use internal "decorations" buffer
  runtime/lua/vim/tshighlighter.lua
  src/nvim/api/vim.c
  src/nvim/buffer_updates.c
  src/nvim/extmark.c
  src/nvim/extmark.h
  src/nvim/globals.h
  src/nvim/screen.c
Labels: refactor, treesitter

#11834 LSP: Refine formatting tabSize
  runtime/lua/vim/lsp/buf.lua
Labels: lsp

#11847 lua: expose vim.validate_command
  runtime/lua/vim/lsp.lua
Labels: lsp, lua

#10433 [RDY] vim-patch:8.1.{27,32,36,69,70,71,91,92}
  runtime/doc/eval.txt
  runtime/doc/nvim_terminal_emulator.txt
  runtime/doc/options.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/undo.c
  test/functional/legacy/prompt_buffer_spec.lua
Labels: RDY, vim-patch

#11865 [RDY] deps: Fix MSVC build in CI.
  third-party/CMakeLists.txt
Labels: RDY, platform:windows

#11863 [RDY] mouse.c: can click on multibyte foldopen/foldclose
  src/nvim/mouse.c
  test/functional/ui/fold_spec.lua
Labels: RDY

#11864 [RDY] lua: vim.deepcopy and vim.tbl_extend use empty_dict() instead of {} for empty_dict()
  runtime/lua/vim/shared.lua
  test/functional/lua/vim_spec.lua
Labels: RDY

#11837 test/LSP: dump server logs on failure
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/rpc.lua
  src/nvim/msgpack_rpc/server.c
  test/busted/outputHandlers/TAP.lua
  test/busted/outputHandlers/nvim.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp_spec.lua
  test/helpers.lua
  third-party/cmake/BuildLuarocks.cmake
Labels: log, lsp, lua, tests

#11873 vim-patch:8.0.1660,8.1.{43,786,1201,2129,2131,2187,2223,2259},8.2.{241,267}
  src/clint.py
  src/nvim/buffer.c
  src/nvim/eval.c
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/getchar.c
  src/nvim/memline.c
  src/nvim/menu.c
  src/nvim/message.c
  src/nvim/option.c
  src/nvim/quickfix.c
  src/nvim/testdir/Makefile
  src/nvim/testdir/test49.vim
  src/nvim/testdir/test_compiler.vim
  src/nvim/testdir/test_plus_arg_edit.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_spell.vim
  src/nvim/testdir/test_user_func.vim
  src/nvim/testdir/test_writefile.vim
  src/nvim/tui/terminfo.c
Labels: vim-patch

#11886 test: dump logs in failure message for eq() et al.
  test/functional/plugin/lsp_spec.lua
  test/helpers.lua
Labels: tests

#11821 loop_close: timout after 2 seconds
  src/nvim/event/loop.c
Labels: event-loop

#11887 loop_close: close all handles
  src/nvim/event/loop.c
Labels: event-loop

#11895 lsp: fix textDocument/completion handling
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/callbacks.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/shared.lua
  test/functional/eval/ctx_functions_spec.lua
  test/functional/helpers.lua
  test/functional/lua/vim_spec.lua
  test/functional/normal/put_spec.lua
  test/helpers.lua
  test/unit/eval/typval_spec.lua
  test/unit/helpers.lua
Labels: lsp

#11905 [release-0.4] vim-patch:8.2.0235
  src/nvim/buffer.c
  src/nvim/testdir/test_statusline.vim
  test/functional/ui/multibyte_spec.lua
Labels: vim-patch

#11914 vim-patch:8.1.{1122,1868}
  runtime/doc/eval.txt
  runtime/doc/usr_41.txt
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/screen.c
  src/nvim/testdir/test_listchars.vim
  src/nvim/testdir/test_utf8.vim
Labels: vim-patch

#11920 lsp/completion: Show duplicates in completion popup
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#11890 Fix issues revealed by gcc10 setting -fno-common by default
  CMakeLists.txt
  src/nvim/channel.c
  src/nvim/channel.h
  src/nvim/eval/typval.h
  src/nvim/getchar.h
  src/nvim/main.c
  src/nvim/msgpack_rpc/channel.h
  src/nvim/viml/parser/expressions.h
Labels: build

#11909 [RDY] Reset background color before scroll
  src/nvim/tui/tui.c
Labels: RDY

#11638 LSP: implement documentHighlight
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/callbacks.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#11641 add support to show diagnostics count in statusline
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/callbacks.lua
  runtime/lua/vim/lsp/util.lua
Labels: enhancement, lsp, waiting-on-author

#11880 add regex support in treesitter queries
  runtime/doc/lua.txt
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/tshighlighter.lua
  src/nvim/lua/executor.c
  src/nvim/lua/treesitter.c
  test/functional/lua/treesitter_spec.lua
  test/functional/lua/vim_spec.lua
Labels: WIP

#11910 LSP/references: Add context to locations returned by server
  runtime/lua/vim/lsp/callbacks.lua
  runtime/lua/vim/lsp/util.lua
Labels: enhancement, lsp

#11961 deps: Fix luv-static build issues
  third-party/cmake/BuildLuv.cmake
Labels: WIP

#11963 add system locale aliases on Windows
  src/nvim/mbyte.c
Labels: encoding, localization, platform:windows
