Repository neovim/neovim, pull requests merged in 2020-09, with the labels that each got.

#12820 Patch FindLua to support locating Lua 5.4
  cmake/FindLua.cmake
Labels: build, compatibility, lua

#12775 clipboard: allow specifying commands with lists.
  runtime/autoload/provider/clipboard.vim
  runtime/doc/provider.txt
  test/functional/provider/clipboard_spec.lua
Labels: clipboard, enhancement

#12736 treesitter: allow to iterate over node children
  runtime/doc/lua.txt
  src/nvim/lua/treesitter.c
  test/functional/lua/treesitter_spec.lua
Labels: treesitter

#12814 treesitter: avoid escaping complete query strings
  runtime/lua/vim/treesitter/query.lua
  test/functional/lua/treesitter_spec.lua
Labels: treesitter

#12468 lsp: Cleanup of lsp log output
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/rpc.lua
Labels: lsp

#12827 vim-patch:8.2.{1554,1561,1564,1565,1566}
  runtime/filetype.vim
  src/nvim/fold.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/testdir/test_filetype.vim
Labels: WIP, vim-patch

#12848 [RFC] vim-patch:8.2.1552,8.2.1553,8.2.1560
  scripts/vim-patch.sh
  src/nvim/fold.c
  src/nvim/spell.c
Labels: vim-patch

#12788 robustness: avoid adding offset to NULL pointer
  src/nvim/eval/decode.c
  src/nvim/fold.c
  src/nvim/viml/parser/expressions.c
  src/tree_sitter/alloc.h
  src/tree_sitter/lexer.c
  src/tree_sitter/parser.c
  src/tree_sitter/query.c
  src/tree_sitter/stack.c
  src/tree_sitter/treesitter_commit_hash.txt
Labels: WIP

#12853 vim-patch:8.2.1586
  src/nvim/testdir/test_window_cmd.vim
Labels: vim-patch

#12809 Support for :perl, :perlfile, :perldo and perleval()
  runtime/autoload/health/provider.vim
  runtime/autoload/provider/perl.vim
  runtime/doc/cmdline.txt
  runtime/doc/eval.txt
  runtime/doc/if_perl.txt
  runtime/doc/index.txt
  runtime/doc/provider.txt
  runtime/doc/vim_diff.txt
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/ex_cmds.lua
  src/nvim/ex_cmds2.c
  src/nvim/testdir/test_perl.vim
  test/functional/helpers.lua
  test/functional/provider/perl_spec.lua
Labels: provider

#12745 doc: Fix links to API method calls
  runtime/doc/api.txt
  src/nvim/api/buffer.c
Labels: documentation

#12763 version.c: update [ci skip]
  src/nvim/version.c
Labels: vim-patch

#11649 [RDY] Invalidate grid on allocation when in ext_multigrid
  src/nvim/screen.c
Labels: RDY, api, ui

#12802 Bump Travis to Ubuntu Bionic and Clang 11
  .travis.yml
  ci/before_install.sh
  ci/common/test.sh
  src/nvim/CMakeLists.txt
  src/nvim/spell.c
  test/helpers.lua
Labels: ci

#12868 vim-patch:8.2.{1625,1630,1633}
  src/nvim/regexp.c
  src/nvim/regexp_nfa.c
Labels: vim-patch

#12829 win,option: fix runtimepath issue on Windows
  src/nvim/eval.c
  src/nvim/option.c
  test/functional/options/defaults_spec.lua
Labels: WIP, platform:windows

#12876 vim-patch:8.2.1635: no digraph for 0x2022 BULLET
  runtime/doc/digraph.txt
  src/nvim/digraph.c
Labels: vim-patch

#12869 win: avoid duplicate separators in $PATH
  src/nvim/os/env.c
  test/unit/os/env_spec.lua
Labels: platform:windows

#12840 treesitter: fix some highlight issues
  runtime/lua/vim/treesitter/highlighter.lua
  test/functional/lua/treesitter_spec.lua
Labels: treesitter

#12568 [RDY] Bytetrack
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/highlighter.lua
  src/nvim/api/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/buffer_updates.c
  src/nvim/buffer_updates.h
  src/nvim/change.c
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/extmark.c
  src/nvim/extmark.h
  src/nvim/fileio.c
  src/nvim/fold.c
  src/nvim/indent.c
  src/nvim/lua/treesitter.c
  src/nvim/memline.c
  src/nvim/memline_defs.h
  src/nvim/ops.c
  test/functional/lua/buffer_updates_spec.lua
  test/functional/lua/treesitter_spec.lua
Labels: RDY

#12889 [RDY] Fix invalid events with `o` `<CR>` and `autoindent`
  src/nvim/buffer_updates.c
  src/nvim/change.c
  test/functional/lua/buffer_updates_spec.lua
  test/helpers.lua
Labels: RDY

#12721 [RDY] vim-patch:8.1.{265,271,273,274,275,277,278,279,280,281,282,284,286,291,295,296,320,321,339,351,392,399,552}
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/globals.h
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/testdir/test_search.vim
  test/functional/legacy/search_spec.lua
  test/functional/ui/inccommand_spec.lua
Labels: RDY, vim-patch

#12883 vim-patch:8.1.{1296,1297,1298},8.2.{1640,1645,1646,1648,1649,1654,1655,1661}
  src/nvim/testdir/test_startup.vim
Labels: vim-patch

#12851 [WIP] luahl
  runtime/doc/lua.txt
  runtime/lua/vim/treesitter/highlighter.lua
  src/nvim/api/buffer.c
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/buffer_defs.h
  src/nvim/extmark.c
  src/nvim/extmark.h
  src/nvim/globals.h
  src/nvim/main.c
  src/nvim/screen.c
  test/functional/lua/treesitter_spec.lua
Labels: WIP

#12841 nvim_buf_call to call function in the context of another buffer
  src/nvim/api/buffer.c
  test/functional/lua/vim_spec.lua
Labels: WIP

#12905 vim-patch:8.1.{499,555,556,584,640,1148,1704},8.2.0902
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/memline.c
  src/nvim/quickfix.c
  src/nvim/regexp.c
  src/nvim/search.c
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_search.vim
  src/nvim/testdir/test_search_stat.vim
Labels: WIP, vim-patch

#12914 vim-patch:8.1.{2108,2222,2338},8.2.{637,1526,1675,1684}
  src/nvim/ex_getln.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_gf.vim
  src/nvim/testdir/test_search.vim
  src/nvim/window.c
Labels: WIP, vim-patch

#12917 [RFC] buf_attach: fix buffer updates with setline()
  src/nvim/change.c
  src/nvim/eval.c
  test/functional/lua/buffer_updates_spec.lua
Labels: WIP

#12911 [RDY] treesitter: filter updates on <CR>
  src/nvim/change.c
  test/functional/lua/buffer_updates_spec.lua
Labels: RDY

#12938 vim-patch:8.1.{285,1782,1972,2261,2263},8.2.{240,817,824,1549,1676,1696}
  src/nvim/eval.c
  src/nvim/testdir/check.vim
  src/nvim/testdir/test_edit.vim
  src/nvim/testdir/test_functions.vim
Labels: vim-patch

#12888 vim-patch: Update cfilter to 1.1
  runtime/doc/quickfix.txt
  runtime/pack/dist/opt/cfilter/plugin/cfilter.vim
Labels: vim-patch

#12803 [nvim-lsp] Handle ContentModified the same way as RequestCancelled
  runtime/lua/vim/lsp/rpc.lua
Labels: lsp

#12955 [RFC] vim-patch:8.2.{0953,0955,0956,1678}
  runtime/doc/options.txt
  runtime/doc/spell.txt
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/spell.c
  src/nvim/syntax.c
  src/nvim/testdir/test_spell.vim
  src/nvim/testdir/test_syntax.vim
Labels: vim-patch

#12986 vim-patch:8.1.{524,1613},8.2.{1088,1713,1715,1717,1721,1725,1735,1738,1745}
  runtime/doc/vim_diff.txt
  runtime/filetype.vim
  src/nvim/fileio.c
  src/nvim/testdir/test_edit.vim
  src/nvim/testdir/test_filetype.vim
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_timers.vim
Labels: vim-patch

#12992 vim-patch:8.2.1754
  src/nvim/testdir/shared.vim
  src/nvim/testdir/test_spell.vim
Labels: vim-patch

#12994 vim-patch:8.2.1757: Mac: default locale is lacking the encoding
  src/nvim/os/lang.c
  src/nvim/testdir/test_environ.vim
Labels: vim-patch

#13012 [RFC] vim-patch:8.1.{1965,1970,1980,1992},8.2.0840
  src/nvim/search.c
  src/nvim/testdir/test_search_stat.vim
  test/functional/ui/messages_spec.lua
Labels: vim-patch

#12733 [RDY]: Fix buffer_updates on blockwise paste
  src/nvim/ops.c
  test/functional/lua/buffer_updates_spec.lua
Labels: RDY
