Repository neovim/neovim, pull requests merged in 2020-06, with the labels that each got.

#12429 lua: fix behavior when split empty string
  runtime/lua/vim/shared.lua
  test/functional/lua/vim_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua

#12413 [RDY]vim-patch:8.0.1564,8.1.{917,1895,2018,2335},8.2.{89,491,873,892,905}
  runtime/doc/eval.txt
  runtime/filetype.vim
  src/nvim/buffer.c
  src/nvim/eval.c
  src/nvim/eval/userfunc.c
  src/nvim/ex_getln.c
  src/nvim/globals.h
  src/nvim/main.c
  src/nvim/message.c
  src/nvim/normal.c
  src/nvim/os/signal.c
  src/nvim/regexp_nfa.c
  src/nvim/syntax.c
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_filetype.vim
  src/nvim/testdir/test_ga.vim
  src/nvim/testdir/test_maparg.vim
  test/functional/api/keymap_spec.lua
  test/functional/eval/map_functions_spec.lua
  test/functional/legacy/075_maparg_spec.lua
Labels: RDY, vim-patch

#12416 ci: bump openbsd image
  .builds/openbsd.yml
  test/functional/lua/vim_spec.lua
Labels: ci

#12321 treesitter: update runtime
  runtime/lua/vim/treesitter.lua
  scripts/update-ts-runtime.sh
  src/tree_sitter/README.md
  src/tree_sitter/alloc.h
  src/tree_sitter/language.c
  src/tree_sitter/language.h
  src/tree_sitter/parser.c
  src/tree_sitter/parser.h
  src/tree_sitter/query.c
  src/tree_sitter/stack.c
  src/tree_sitter/subtree.c
  src/tree_sitter/treesitter_commit_hash.txt
  test/functional/lua/treesitter_spec.lua
Labels: treesitter

#12192 [RFC] vim-patch:8.2.0629
  src/nvim/api/private/helpers.c
  src/nvim/eval.c
  src/nvim/eval/decode.c
  src/nvim/eval/encode.c
  src/nvim/eval/encode.h
  src/nvim/eval/executor.c
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/eval/typval.h
  src/nvim/eval/typval_encode.c.h
  src/nvim/ex_getln.c
  src/nvim/lua/converter.c
  src/nvim/ops.c
  src/nvim/popupmnu.c
  src/nvim/testdir/test_options.vim
  src/nvim/vim.h
  test/functional/eval/buf_functions_spec.lua
  test/functional/eval/sort_spec.lua
  test/functional/eval/uniq_spec.lua
  test/unit/eval/helpers.lua
  test/unit/eval/typval_spec.lua
Labels: vim-patch

#12461 add GitHub issue template for lsp
  .github/ISSUE_TEMPLATE/lsp_bug_report.md
Labels: lsp, project management

#12467 issue template: fix label syntax for lsp bug report
  .github/ISSUE_TEMPLATE/lsp_bug_report.md
Labels: lsp, project management

#12450 Fix #12449: textDocumentSync.save can be boolean
  runtime/lua/vim/lsp/protocol.lua
Labels: lsp

#12477 Add `BufLeave` to `close_preview_autocmd` function call
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#12434 Fix text edits with the same start position
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#12427 Fix highlight group names in LSP documentation
  runtime/doc/lsp.txt
Labels: lsp

#12469 lsp: even if contents before change is 0 byte, request to server
  runtime/lua/vim/lsp.lua
Labels: bug, lsp

#12342 doc: fix vim.api.nvim_buf_attach callback arguments [ci skip]
  runtime/doc/api.txt
  src/nvim/api/buffer.c
Labels: documentation

#12473 [RDY] lsp: support custom hl groups in show_line_diagnostics
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: RDY, lsp

#12391 version.c: update [ci skip]
  src/nvim/version.c
Labels: vim-patch

#12455 [RDY]vim-patch:8.0.1554,8.1.1977,8.2.{927,930,932,938,954,963,964,966,980,983,998,999}
  runtime/doc/starting.txt
  runtime/filetype.vim
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  runtime/scripts.vim
  src/nvim/buffer.c
  src/nvim/eval.c
  src/nvim/fileio.c
  src/nvim/main.c
  src/nvim/main.h
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/regexp_nfa.c
  src/nvim/search.c
  src/nvim/spell.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_filetype.vim
  src/nvim/testdir/test_increment.vim
  src/nvim/testdir/test_regexp_utf8.vim
  src/nvim/testdir/test_tagjump.vim
  src/nvim/testdir/test_textobjects.vim
  test/functional/core/startup_spec.lua
  test/functional/eval/input_spec.lua
  test/functional/ex_cmds/drop_spec.lua
  test/functional/options/shortmess_spec.lua
  test/unit/helpers.lua
Labels: RDY, vim-patch

#12254 [RDY] terminal: preserve mode when using <Cmd>wincmd in terminal mode
  src/nvim/terminal.c
  test/functional/terminal/window_split_tab_spec.lua
Labels: RDY

#12489 lsp: when applying text edits, set buflisted on buffers
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#12519 vim-patch:8.2.1041
  src/nvim/testdir/summarize.vim
Labels: vim-patch

#12133 [RDY] vim-patch:8.2.0865 syntax: Add option to improve folding with attached braces
  runtime/doc/syntax.txt
  src/nvim/buffer_defs.h
  src/nvim/syntax.c
  src/nvim/testdir/test_syntax.vim
Labels: RDY, decision, vim-patch

#12252 Add sync variant of LSP formatting
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#12491 [RDY] Treesitter set ranges
  runtime/doc/lua.txt
  runtime/lua/vim/treesitter.lua
  src/nvim/lua/executor.c
  src/nvim/lua/treesitter.c
  test/functional/lua/treesitter_spec.lua
Labels: RDY

#12357 LSP: Add tests & use nvim_buf_get_lines in locations_to_items
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#12524 version.c: update [ci skip]
  src/nvim/version.c
Labels: vim-patch
