Repository neovim/neovim, pull requests merged in 2020-08, with the labels that each got.

#12665 vim-patch:8.0.1774,8.1.{192,194,255,264,1202,2172,2340},8.2.{62,71,72,1004,1254,1259,1265,1267,1292,1295}
  runtime/doc/pattern.txt
  runtime/filetype.vim
  src/nvim/buffer.c
  src/nvim/eval/funcs.c
  src/nvim/fileio.c
  src/nvim/options.lua
  src/nvim/quickfix.c
  src/nvim/regexp.c
  src/nvim/regexp_defs.h
  src/nvim/regexp_nfa.c
  src/nvim/screen.c
  src/nvim/testdir/check.vim
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/test_backup.vim
  src/nvim/testdir/test_diffmode.vim
  src/nvim/testdir/test_filetype.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_regexp_utf8.vim
  src/nvim/testdir/test_spell.vim
  src/nvim/testdir/test_tabline.vim
  test/functional/legacy/memory_usage_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/diff_spec.lua
  test/functional/ui/spell_spec.lua
Labels: vim-patch

#12621 [RDY] vim-patch:8.1.1564, 1570, 1623, 1712 : sign column takes up space
  runtime/doc/options.txt
  src/nvim/option.c
  src/nvim/screen.c
  src/nvim/sign.c
  src/nvim/testdir/test_signs.vim
Labels: RDY, vim-patch

#12536 [RFC] Execute lua callback on keystroke
  runtime/doc/lua.txt
  src/nvim/getchar.c
  src/nvim/keymap.c
  src/nvim/lua/executor.c
  src/nvim/lua/vim.lua
  test/functional/lua/vim_spec.lua
Labels: lua

#12662 version.c: update [ci skip]
  src/nvim/version.c
Labels: vim-patch

#12713 vim-patch:8.1.{573,1674,2097,2098,2341},8.2.{1347,1360,1361,1364,1369,1377,1379,1386,1409,1410,1438,1441,1458}
  runtime/compiler/xo.vim
  runtime/doc/eval.txt
  runtime/doc/map.txt
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  runtime/filetype.vim
  runtime/tools/check_colors.vim
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/eval/userfunc.c
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/getchar.c
  src/nvim/option.c
  src/nvim/search.c
  src/nvim/shada.c
  src/nvim/testdir/summarize.vim
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_compiler.vim
  src/nvim/testdir/test_debugger.vim
  src/nvim/testdir/test_eval_stuff.vim
  src/nvim/testdir/test_expand_func.vim
  src/nvim/testdir/test_expr.vim
  src/nvim/testdir/test_filetype.vim
  src/nvim/testdir/test_filter_map.vim
  src/nvim/testdir/test_interrupt.vim
  src/nvim/testdir/test_mksession.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_usercommands.vim
  src/nvim/tui/tui.c
Labels: vim-patch

#12786 vim-patch:8.1.{1516,1677,2051,2089,2275,2364},8.2.{423,1517}
  runtime/doc/eval.txt
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_mksession.vim
Labels: vim-patch

#12797 third-party: upgrade libvterm to v0.1.4
  third-party/CMakeLists.txt
Labels: maintenance:needs-backport

#12485 lsp: Fix bad sortText comparison
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: RDY, lsp

#12804 [RDY]vim-patch:8.1.{1694,1725,1776,1804,1806,1831,2041,2198,2206},8.2.{1033,1315,1548}
  src/nvim/ex_cmds.c
  src/nvim/os/time.c
  src/nvim/po/check.vim
  src/nvim/testdir/check.vim
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/shared.vim
  src/nvim/testdir/test_diffmode.vim
  src/nvim/testdir/test_display.vim
  src/nvim/testdir/test_textformat.vim
Labels: RDY, vim-patch
