Repository neovim/neovim, pull requests merged in 2021-09, with the labels that each got.

#15540 docs(lsp): Document codelens.get bufnr parameter
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/codelens.lua
Labels: lua, lsp

#15541 docs(lsp): remove private lsp.diagnostic functions from docs
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lua, lsp

#15546 refactor(tests): use assert_alive()
  test/functional/api/extmark_spec.lua
  test/functional/api/server_requests_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/core/exit_spec.lua
  test/functional/core/startup_spec.lua
  test/functional/eval/modeline_spec.lua
  test/functional/eval/system_spec.lua
  test/functional/ex_cmds/dict_notifications_spec.lua
  test/functional/ex_cmds/swapfile_preserve_recover_spec.lua
  test/functional/insert/ctrl_o_spec.lua
  test/functional/legacy/eval_spec.lua
  test/functional/options/defaults_spec.lua
  test/functional/options/tabstop_spec.lua
  test/functional/provider/python3_spec.lua
  test/functional/provider/ruby_spec.lua
  test/functional/shada/history_spec.lua
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/ex_terminal_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/terminal/window_split_tab_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/ui/output_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/viml/completion_spec.lua
Labels: tests

#15401 feat(defaults): support for default autocommands
  runtime/doc/cmdline.txt
  runtime/doc/starting.txt
  runtime/doc/vim_diff.txt
  src/nvim/aucmd.c
  src/nvim/main.c
Labels: defaults

#15552 fix(defaults): "syntax sync maxlines=1" on CmdwinEnter
  runtime/doc/cmdline.txt
  runtime/doc/starting.txt
  runtime/doc/vim_diff.txt
  src/nvim/aucmd.c
Labels: defaults

#15569 refactor(screen): let win_line() always handle fillers after last line
  src/nvim/fold.h
  src/nvim/screen.c
Labels: folds

#15504 feat(lsp)!: change handler signature
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/handlers.lua
  test/functional/plugin/lsp/codelens_spec.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp, treesitter

#15573 fix(lsp): update workspace/applyEdit handler signature
  runtime/lua/vim/lsp/handlers.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#15578 fix(lsp): adapt codelens resolve to handler signature change
  runtime/lua/vim/lsp/codelens.lua
Labels: lua, lsp

#15380 fix(screen): missing search highlights when redrawing from timer
  src/nvim/screen.c
  test/functional/ui/syntax_conceal_spec.lua
Labels: core, highlight

#15595 feat: add healthcheck for language server client
  runtime/autoload/health/lsp.vim
  runtime/lua/vim/lsp/health.lua
  runtime/lua/vim/lsp/log.lua
Labels: lua, lsp

#15596 chore(lsp): fix formatting in vim.lsp.log
  runtime/lua/vim/lsp/log.lua
Labels: lua, lsp

#15597 tests: timeout at 20 minutes
  cmake/RunTests.cmake
Labels: build

#15571 vim-patch:d2ea7cf10a4d
  runtime/doc/autocmd.txt
  runtime/doc/cmdline.txt
  runtime/doc/diff.txt
  runtime/doc/ft_sql.txt
  runtime/doc/index.txt
  runtime/doc/options.txt
  runtime/doc/quickfix.txt
  runtime/doc/spell.txt
  runtime/doc/usr_08.txt
  runtime/doc/usr_09.txt
  runtime/doc/visual.txt
  runtime/indent/python.vim
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  runtime/syntax/c.vim
  runtime/syntax/cpp.vim
  runtime/syntax/sh.vim
  src/nvim/testdir/test_syntax.vim
Labels: runtime, vim-patch

#15514 feat(lsp): support textDocument/prepareRename
  runtime/lua/vim/lsp/buf.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#15604 fix(doc): various small fixes
  runtime/doc/eval.txt
  runtime/doc/job_control.txt
Labels: documentation

#15460 feat(lua)!: register_keystroke_callback => on_key
  BSDmakefile
  CONTRIBUTING.md
  runtime/doc/deprecated.txt
  runtime/doc/develop.txt
  runtime/doc/lua.txt
  runtime/doc/starting.txt
  runtime/doc/vim_diff.txt
  src/nvim/getchar.c
  src/nvim/lua/executor.c
  src/nvim/lua/vim.lua
  src/nvim/main.c
  test/functional/api/server_notifications_spec.lua
  test/functional/lua/vim_spec.lua
Labels: lua

#15091 fix #15075
  src/nvim/mouse.c
  test/functional/ui/multigrid_spec.lua
Labels: mouse

#15610 test(busted): disable colors in test-runner output
  test/busted/outputHandlers/nvim.lua
Labels: tests

#15566 libs: vendor libmpack and libmpack-lua
  runtime/doc/lua.txt
  src/mpack/LICENSE-MIT
  src/mpack/conv.c
  src/mpack/conv.h
  src/mpack/lmpack.c
  src/mpack/lmpack.h
  src/mpack/mpack_core.c
  src/mpack/mpack_core.h
  src/mpack/object.c
  src/mpack/object.h
  src/mpack/rpc.c
  src/mpack/rpc.h
  src/nvim/CMakeLists.txt
  src/nvim/lua/executor.c
  test/functional/lua/mpack_spec.lua
Labels: build, lua

#15599 vim-patch:partial 2346a6378483
  man/nvim.1
  runtime/doc/eval.txt
  runtime/doc/filetype.txt
  runtime/doc/ft_raku.txt
  runtime/doc/help.txt
  runtime/doc/motion.txt
  runtime/doc/pattern.txt
  runtime/doc/pi_netrw.txt
  runtime/doc/repeat.txt
  runtime/doc/syntax.txt
  runtime/doc/various.txt
  runtime/filetype.vim
  runtime/indent/html.vim
  runtime/syntax/gvpr.vim
  src/nvim/po/sr.po
Labels: runtime, vim-patch

#15618 test: use $TEST_TIMEOUT to specify timeout
  cmake/RunTests.cmake
  test/README.md
Labels: build

#15622 vim-patch:8.2.3399: Octave files are not recognized
  runtime/autoload/dist/ft.vim
  runtime/doc/filetype.txt
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: runtime, vim-patch

#15607 refactor: format files with uncrustify
  contrib/uncrustify.cfg
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/fileio.c
  src/nvim/fold.c
  src/nvim/mbyte.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/window.c
Labels: refactor

#15236 perf(lua): optimize vim.deep_equal
  runtime/doc/lua.txt
  runtime/lua/vim/shared.lua
Labels: documentation, lua

#15171 docs(terminal): make terminal input docs match actual behavior
  runtime/doc/index.txt
  runtime/doc/intro.txt
  runtime/doc/nvim_terminal_emulator.txt
Labels: documentation, terminal

#15625 docs
  runtime/doc/eval.txt
  runtime/doc/lua.txt
  runtime/doc/provider.txt
  runtime/doc/treesitter.txt
  runtime/doc/usr_05.txt
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lua, lsp

#15342 docs: clarify :runtime START, OPT behavior
  runtime/doc/repeat.txt
Labels: documentation, runtime

#12667 mouse.c: fix mouse drag positions on multigrid
  src/nvim/mouse.c
  test/functional/ui/multigrid_spec.lua
Labels: ui, ui-ext

#15626 vim-patch:8.1.{2281,2283},8.2.{2903,3391,3397}
  runtime/doc/options.txt
  src/nvim/buffer_defs.h
  src/nvim/charset.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/plines.c
  src/nvim/screen.c
  src/nvim/testdir/test_breakindent.vim
  src/nvim/testdir/test_display.vim
  src/nvim/testdir/test_highlight.vim
Labels: vim-patch

#15621 test: do not write into user's ~/.bash_history
  cmake/RunTests.cmake
Labels: build

#15538 vim-patch:8.2.3389: cannot stop insert mode completion without side effects
  runtime/doc/index.txt
  runtime/doc/insert.txt
  src/nvim/edit.c
  src/nvim/testdir/test_ins_complete.vim
Labels: vim-patch

#15311 docs(extmarks): Improve documentation
  runtime/doc/api.txt
  src/nvim/api/buffer.c
  src/nvim/api/vim.c
Labels: documentation

#15619 vim-patch:90df4b9d4234
  runtime/doc/autocmd.txt
  runtime/doc/eval.txt
  runtime/doc/insert.txt
  runtime/doc/syntax.txt
  runtime/filetype.vim
  runtime/indent/pascal.vim
  runtime/syntax/go.vim
  runtime/syntax/vim.vim
  scripts/vim-patch.sh
Labels: runtime, vim-patch

#14611 vim-patch:8.1.{1116,1188,1190,1355,1722,2035,2036,2038,2043},8.2.{0886,2309}
  runtime/doc/eval.txt
  runtime/doc/usr_41.txt
  runtime/doc/vim_diff.txt
  src/nvim/ascii.h
  src/nvim/charset.c
  src/nvim/charset.h
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/eval/decode.c
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/ex_cmds.c
  src/nvim/ex_getln.c
  src/nvim/keymap.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/testdir/test_eval_stuff.vim
  src/nvim/testdir/test_expr.vim
  src/nvim/testdir/test_functions.vim
  src/nvim/viml/parser/expressions.c
  test/unit/charset/vim_str2nr_spec.lua
Labels: vimscript, compatibility, vim-patch

#15637 fix(build): add an env var to re-enable the colors
  test/busted/outputHandlers/nvim.lua
Labels: tests

#14770 [RDY] Fix relative float positioning
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: api, status:needs-approval

#15550 vim-patch:8.2.3385,8.2.3393
  runtime/doc/eval.txt
  src/nvim/option.c
  src/nvim/strings.c
  src/nvim/testdir/test_functions.vim
Labels: vim-patch

#15639 fix(tests): use isolated XDG_DATA_HOME in startup tests
  test/functional/core/startup_spec.lua
Labels: tests

#15642 vim-patch:8.2.3374: Pyret files are not recognized
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: runtime, vim-patch

#15643 vim-patch:8.2.3368: not all Racket files are recognized
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: runtime, vim-patch

#15645 fix(options.txt): remove vim9script reference
  runtime/doc/options.txt
Labels: documentation

#15652 vim-patch:8.2.3432: octave/Matlab filetype detection does not work pr…
  runtime/autoload/dist/ft.vim
  src/nvim/testdir/test_filetype.vim
Labels: runtime, vim-patch

#15641 vim-patch:89a9c159f23f
  runtime/autoload/netrw.vim
  runtime/autoload/netrwSettings.vim
  runtime/doc/pi_netrw.txt
  runtime/doc/syntax.txt
  runtime/filetype.vim
  runtime/ftplugin/scala.vim
  runtime/indent/scala.vim
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  runtime/plugin/netrwPlugin.vim
  runtime/syntax/cpp.vim
  runtime/syntax/gemtext.vim
  runtime/syntax/scala.vim
  runtime/syntax/structurizr.vim
Labels: runtime, vim-patch

#15640 refactor: format files with uncrustify
  contrib/uncrustify.cfg
  src/nvim/tui/tui.c
Labels: refactor

#15661 refactor: format files with uncrustify
  src/nvim/tui/input.c
Labels: refactor

#15662 refactor: apply "redundant cast to the same type" fix from clangd
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/fileio.c
  src/nvim/fold.c
  src/nvim/ops.c
  src/nvim/screen.c
  src/nvim/syntax.c
  src/nvim/tui/tui.c
Labels: tui, folds

#15579 fix(lsp): correctly parse LSP snippets
  runtime/lua/vim/lsp/_snippet.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp/snippet_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#15664 backport: PRs #14962, #14982, #14984, #14989, #15011, #15043
  runtime/autoload/provider/clipboard.vim
  runtime/lua/vim/_meta.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/legacy/memory_usage_spec.lua
  test/functional/lua/vim_spec.lua
Labels: lua, lsp, topic: clipboard

#15667 release-0.5: backports
  BSDmakefile
  CONTRIBUTING.md
  cmake/RunTests.cmake
  runtime/doc/deprecated.txt
  runtime/doc/develop.txt
  runtime/doc/lua.txt
  runtime/doc/starting.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/lsp/_snippet.lua
  runtime/lua/vim/lsp/util.lua
  src/nvim/getchar.c
  src/nvim/lua/executor.c
  src/nvim/lua/vim.lua
  src/nvim/main.c
  test/README.md
  test/functional/api/server_notifications_spec.lua
  test/functional/lua/vim_spec.lua
  test/functional/plugin/lsp/snippet_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp, topic: documentation, topic: build

#15657 vim-patch:8.1.1195,8.2.{3417,3419}
  src/nvim/debugger.c
  src/nvim/debugger.h
  src/nvim/eval/userfunc.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/testdir/test_debugger.vim
Labels: vim-patch

#14809 fix(anonymous :source): support line continuations
  src/nvim/charset.c
  src/nvim/ex_cmds2.c
  test/functional/api/vim_spec.lua
  test/functional/ex_cmds/source_spec.lua
Labels: api, status:needs-approval, lua

#15636 feat(lsp): improve lsp logging
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/log.lua
  runtime/lua/vim/lsp/rpc.lua
Labels: lua, lsp

#15679 fix(test runner): handle nil in no-colors output handler
  test/busted/outputHandlers/nvim.lua
Labels: tests

#15677 release-0.5: various backports
  runtime/lua/vim/highlight.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/log.lua
  src/nvim/autocmd.c
  src/nvim/extmark.c
  src/nvim/window.c
  test/functional/api/window_spec.lua
  test/functional/lua/highlight_spec.lua
  test/functional/ui/decorations_spec.lua
  test/functional/ui/float_spec.lua
Labels: lua, lsp

#15211 Port VimL's Blob type - vim-patch:8.1.{0735,0736,0738,0741,0742,0755,0756,0757,0765,0793,0797,0798,0802,1022,1023,1671},8.2.{0121,0184,0404,0521,0829,1473,1866,2712}
  runtime/doc/eval.txt
  runtime/doc/if_perl.txt
  runtime/doc/lua.txt
  src/nvim/api/private/helpers.c
  src/nvim/channel.c
  src/nvim/eval.c
  src/nvim/eval.h
  src/nvim/eval.lua
  src/nvim/eval/decode.c
  src/nvim/eval/encode.c
  src/nvim/eval/executor.c
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/eval/typval.h
  src/nvim/eval/typval_encode.c.h
  src/nvim/globals.h
  src/nvim/lua/converter.c
  src/nvim/shada.c
  src/nvim/testdir/test_blob.vim
  src/nvim/testdir/test_const.vim
  src/nvim/testdir/test_eval_stuff.vim
  src/nvim/testdir/test_filter_map.vim
  src/nvim/testdir/test_fnamemodify.vim
  src/nvim/testdir/test_listdict.vim
  src/nvim/testdir/test_method.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_rename.vim
  src/nvim/testdir/test_swap.vim
  src/nvim/testdir/test_undo.vim
  src/nvim/testdir/test_vimscript.vim
  src/nvim/testdir/test_writefile.vim
  src/nvim/vim.h
  test/functional/core/channels_spec.lua
  test/functional/eval/api_functions_spec.lua
  test/functional/eval/execute_spec.lua
  test/functional/eval/json_functions_spec.lua
  test/functional/eval/msgpack_functions_spec.lua
  test/functional/eval/null_spec.lua
  test/functional/eval/writefile_spec.lua
  test/functional/lua/api_spec.lua
  test/functional/lua/luaeval_spec.lua
  test/functional/lua/vim_spec.lua
  test/functional/shada/errors_spec.lua
  test/functional/shada/variables_spec.lua
  test/helpers.lua
  test/unit/eval/typval_spec.lua
Labels: vimscript, vim-patch

#15585 refactor: move vim.lsp.diagnostic to vim.diagnostic
  runtime/doc/deprecated.txt
  runtime/doc/diagnostic.txt
  runtime/doc/lsp.txt
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/util.lua
  runtime/plugin/diagnostic.vim
  scripts/gen_vimdoc.py
  src/nvim/lua/vim.lua
  test/README.md
  test/functional/lua/diagnostic_spec.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#15687 fix(diagnostic): nvim_echo takes three args
  runtime/lua/vim/diagnostic.lua
Labels: lua

#15693 fix(diagnostics): fixup for `show_line_diagnostics` and `lsp.diagnostics.get`
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lua, lsp, diagnostic

#15688 fix: prevent K_EVENT from stopping Select mode CTRL-O
  src/nvim/normal.c
  test/functional/insert/ctrl_o_spec.lua
  test/functional/visual/ctrl_o_spec.lua
Labels: event-loop

#15580 vim-patch:8.2.{3378,3379,3384,3386,3398,3400}
  runtime/doc/options.txt
  runtime/doc/various.txt
  src/nvim/buffer.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds.lua
  src/nvim/ex_docmd.c
  src/nvim/indent.c
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_ex_z.vim
  src/nvim/testdir/test_modeline.vim
  src/nvim/testdir/test_textobjects.vim
Labels: vim-patch

#15364 vim-patch:8.2.{3286,3289,3293,3298,3313,3321,3328,3330,3331,3337,3354,3355,3357,3360,3369,3375}
  src/nvim/cursor.c
  src/nvim/edit.c
  src/nvim/eval/funcs.c
  src/nvim/memline.c
  src/nvim/ops.c
  src/nvim/spellfile.c
  src/nvim/tag.c
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_excmd.vim
  src/nvim/testdir/test_ins_complete_no_halt.vim
  src/nvim/testdir/test_number.vim
  src/nvim/testdir/test_textformat.vim
  src/nvim/testdir/test_writefile.vim
  src/nvim/window.c
Labels: vim-patch

#15360 fix(typo): overriden -> overridden (RE: PR #14159)
  runtime/autoload/vimexpect.vim
  runtime/doc/eval.txt
  src/nvim/viml/parser/expressions.c
  test/functional/api/vim_spec.lua
Labels: typo

#15696 Diagnostic hot fixes
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: lua

#15660 refactor: convert TRUE/FALSE to true/false
  src/nvim/eval.c
  src/nvim/ex_docmd.c
  src/nvim/fileio.c
  src/nvim/fold.c
  src/nvim/getchar.c
  src/nvim/ops.c
  src/nvim/path.c
  src/nvim/screen.c
Labels: refactor

#15701 diagnostics: updates to severity_sort
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: lua, diagnostic

#15702 refactor: format files with uncrustify
  src/nvim/api/buffer.c
  src/nvim/api/deprecated.c
  src/nvim/api/private/dispatch.c
  src/nvim/api/private/helpers.c
  src/nvim/api/tabpage.c
  src/nvim/api/ui.c
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/eval/decode.c
  src/nvim/eval/encode.c
  src/nvim/eval/executor.c
  src/nvim/eval/funcs.c
  src/nvim/eval/gc.c
  src/nvim/eval/typval.c
  src/nvim/eval/userfunc.c
  src/nvim/viml/parser/expressions.c
Labels: refactor, code-standards

#15547 vim-patch:8.2.3394: filler lines are wrong when changing text in diff mode
  src/nvim/diff.c
  src/nvim/move.c
  src/nvim/testdir/test_diffmode.vim
  test/functional/ui/diff_spec.lua
Labels: vim-patch, diff

#15710 fix(diagnostic): resolve nil bufnr in show_line_diagnostics
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: lua

#15561 feat(lsp): Improve vim.lsp.util.apply_text_edits
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#15715 fix(diagnostic): only update decorations for loaded buffers
  runtime/lua/vim/diagnostic.lua
Labels: lua, diagnostic

#15718 refactor(tests): remove redir_exec
  test/deprecated.lua
  test/functional/autocmd/tabnewentered_spec.lua
  test/functional/core/exit_spec.lua
  test/functional/editor/jump_spec.lua
  test/functional/ex_cmds/echo_spec.lua
  test/functional/ex_cmds/write_spec.lua
  test/functional/helpers.lua
  test/functional/legacy/063_match_and_matchadd_spec.lua
  test/functional/legacy/autocmd_option_spec.lua
  test/functional/lua/commands_spec.lua
  test/functional/lua/overrides_spec.lua
  test/functional/shada/marks_spec.lua
  test/functional/shada/merging_spec.lua
  test/functional/vimscript/changedtick_spec.lua
  test/functional/vimscript/ctx_functions_spec.lua
  test/functional/vimscript/execute_spec.lua
  test/functional/vimscript/json_functions_spec.lua
  test/functional/vimscript/let_spec.lua
  test/functional/vimscript/minmax_functions_spec.lua
  test/functional/vimscript/null_spec.lua
  test/functional/vimscript/sort_spec.lua
  test/functional/vimscript/string_spec.lua
  test/functional/vimscript/uniq_spec.lua
  test/functional/vimscript/writefile_spec.lua
  test/helpers.lua
Labels: tests

#15630 vim-patch:8.1.{1071,1078,1079,1110},8.2.{2640,3424,3425,3437}
  runtime/doc/eval.txt
  runtime/doc/options.txt
  runtime/doc/usr_41.txt
  src/nvim/buffer_defs.h
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/message.c
  src/nvim/option.c
  src/nvim/screen.c
  src/nvim/testdir/test_listchars.vim
  src/nvim/testdir/test_utf8.vim
  src/nvim/testdir/view_util.vim
  src/xdiff/xemit.c
  src/xdiff/xutils.c
Labels: vim-patch

#15722 refactor: format files with uncrustify
  src/nvim/arabic.c
  src/nvim/aucmd.c
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/buffer_updates.c
  src/nvim/change.c
  src/nvim/channel.c
  src/nvim/charset.c
  src/nvim/context.c
  src/nvim/cursor.c
  src/nvim/cursor_shape.c
  src/nvim/eval/funcs.c
  src/nvim/lua/converter.c
  src/nvim/lua/executor.c
  src/nvim/lua/treesitter.c
  src/nvim/lua/xdiff.c
Labels: lua, treesitter

#15704 Diagnostic additions
  runtime/doc/deprecated.txt
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: lua, diagnostic

#15708 refactor(build): use built-in make commands
  Makefile
Labels: build

#15727 build(lint): check scripts/*.lua
  .luacheckrc
  CMakeLists.txt
  Makefile
  scripts/genvimvim.lua
  scripts/lua2dox.lua
  scripts/vimpatch.lua
Labels: build

#15726 refactor: format with uncrustify
  src/nvim/debugger.c
  src/nvim/decoration.c
  src/nvim/diff.c
  src/nvim/digraph.c
  src/nvim/eval.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_eval.c
  src/nvim/ex_getln.c
  src/nvim/ex_session.c
  src/nvim/extmark.c
Labels: diff

#15729 fix(diagnostic): clamp line numbers in display layer
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: lua, diagnostic

#15743 build: Add ${CMAKE_THREAD_LIBS_INIT} to LIBUV_LIBRARIES
  cmake/FindLibUV.cmake
Labels: build

#15748 fix(init.lua): set $MYVIMRC to absolute path during startup
  src/nvim/ex_cmds2.c
  src/nvim/main.c
  src/nvim/option.c
  test/functional/core/startup_spec.lua
Labels: startup

#15738 fix(lsp): update lsp-handler signature in call_hierarchy
  runtime/lua/vim/lsp/buf.lua
Labels: lua, lsp

#15735 fix(diagnostic): preserve fields from LSP diagnostics
  runtime/lua/vim/lsp/diagnostic.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
Labels: lua, lsp

#15717 feat(diagnostic): add option to include diagnostic source
  runtime/doc/deprecated.txt
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: lua, lsp, diagnostic

#15741 Refactor/uncrustify
  src/nvim/main.c
  src/nvim/map.c
  src/nvim/mark.c
  src/nvim/marktree.c
  src/nvim/math.c
  src/nvim/memfile.c
  src/nvim/memline.c
  src/nvim/memory.c
  src/nvim/menu.c
  src/nvim/message.c
  src/nvim/misc1.c
  src/nvim/mouse.c
  src/nvim/move.c
Labels: mouse, column

#15739 chore(deps): bump libuv and luv to 1.42.0
  cmake/FindLibUV.cmake
  third-party/CMakeLists.txt
Labels: build, dependencies

#15742 feat(diagnostic): allow customized diagnostic messages
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: lua, diagnostic

#15740 chore(deps): bump luarocks to 3.7.0
  third-party/CMakeLists.txt
  third-party/cmake/BuildLuarocks.cmake
Labels: build, dependencies

#14979 doc: convert Nvim style guide XML to vim :help
  runtime/doc/dev_style.txt
Labels: documentation

#15765 fix(diagnostic): don't return nil when callers expect a table
  runtime/lua/vim/diagnostic.lua
Labels: lua, diagnostic

#15772 fix(diagnostic): check for nil in show_diagnostics
  runtime/lua/vim/diagnostic.lua
Labels: lua, diagnostic

#15769 fix(lsp) Wrap `textDocument/codeAction` command logic in conditional
  runtime/lua/vim/lsp/handlers.lua
Labels: lua, lsp

#15731 vim-patch:7.4.725,8.2.{0597,0598,0924,1035}
  runtime/doc/eval.txt
  runtime/doc/usr_41.txt
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/ops.c
  src/nvim/ops.h
  src/nvim/testdir/test_eval_stuff.vim
  src/nvim/testdir/test_registers.vim
  test/functional/legacy/eval_spec.lua
Labels: vim-patch

#15292 fix(normal): use CA_COMMAND_BUSY in visual select mode
  test/functional/editor/mode_visual_spec.lua
Labels: tests

#15776 Add macos-11 CI
  .github/workflows/ci.yml
Labels: ci

#15778 Refactor/uncrustify
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/change.c
  src/nvim/cursor.c
  src/nvim/debugger.c
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/userfunc.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/lua/xdiff.c
  src/nvim/message.c
  src/nvim/move.c
  src/nvim/option.c
  src/nvim/os/shell.c
  src/nvim/quickfix.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/sha256.c
  src/nvim/shada.c
  src/nvim/sign.c
  src/nvim/state.c
  src/nvim/syntax.c
  src/uncrustify.cfg
Labels: column

#15390 fix(api helpers): fix incorrect switch_win call in set_option_value_for
  src/nvim/api/private/helpers.c
  test/functional/api/window_spec.lua
Labels: status:needs-backport

#15721 fix(runtime): some ordering issues (and start work on cache mechanism)
  src/nvim/option.c
  src/nvim/runtime.c
  src/nvim/runtime.h
  src/nvim/testdir/test_startup.vim
  src/nvim/vim.h
  test/functional/core/startup_spec.lua
Labels: runtime

#15351 feat(screen): virtual lines
  src/nvim/api/buffer.c
  src/nvim/api/deprecated.c
  src/nvim/api/private/helpers.c
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/charset.c
  src/nvim/decoration.c
  src/nvim/decoration.h
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/eval/funcs.c
  src/nvim/extmark.c
  src/nvim/extmark_defs.h
  src/nvim/fold.c
  src/nvim/mouse.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/plines.c
  src/nvim/popupmnu.c
  src/nvim/screen.c
  test/functional/ui/decorations_spec.lua
Labels: mouse, diff

#15791 chore(tui): remove obsolete code
  src/nvim/os/tty.c
Labels: tui

#15759 feat(lsp): use lua-cjson for built-in language server client
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/rpc.lua
  test/functional/fixtures/fake-lsp-server.lua
Labels: build, lua, lsp

#15793 feat(lsp): allow subset of CodeActionContext as arg to code_action methods
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/buf.lua
Labels: lua, lsp

#15796 release: Nvim 0.5.1
  CMakeLists.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/log.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/util.lua
  runtime/nvim.appdata.xml
  scripts/release.sh
  test/functional/plugin/lsp/codelens_spec.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: build, project-management, lua, lsp, topic: documentation, topic: build

#15785 refactor(diagnostic): use sign priority for severity_sort
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
Labels: lua, diagnostic

#15810 fix(lsp): avoid serializing boolean as key
  runtime/lua/vim/lsp/buf.lua
Labels: lua, lsp

#15771 feat(ui): add vim.ui.select(), use in LSP code actions
  runtime/doc/lua.txt
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/ui.lua
  scripts/gen_vimdoc.py
  src/nvim/lua/vim.lua
  test/functional/lua/ui_spec.lua
Labels: lua, lsp

#15826 refactor(lsp): remove json encode/decode wrappers
  runtime/lua/vim/lsp/rpc.lua
Labels: lua, lsp

#15820 feat(lsp): Add client command support to codelens
  runtime/lua/vim/lsp/codelens.lua
  test/functional/plugin/lsp/codelens_spec.lua
Labels: lua, lsp

#15818 feat(lsp): add codeAction/resolve support
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/protocol.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#15790 Refactor/uncrustify
  src/nvim/api/private/dispatch.c
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/decoration.c
  src/nvim/edit.c
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/eval/userfunc.c
  src/nvim/event/stream.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/fold.c
  src/nvim/hardcopy.c
  src/nvim/lua/converter.c
  src/nvim/map.c
  src/nvim/mbyte.c
  src/nvim/memory.c
  src/nvim/misc1.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/msgpack_rpc/helpers.c
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/os/env.c
  src/nvim/os/fs.c
  src/nvim/os/pty_process_unix.c
  src/nvim/os/users.c
  src/nvim/screen.c
  src/nvim/shada.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/syntax.c
  src/nvim/tui/tui.c
  src/nvim/viml/parser/expressions.c
  src/nvim/window.c
  src/uncrustify.cfg
Labels: refactor

#14937 vim-patch:8.1.2304,8.1.2309,8.1.2319,8.1.2321
  runtime/doc/eval.txt
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  test/functional/ui/mouse_spec.lua
Labels: vim-patch

#15850 ci: add type and scope from PR title as labels
  .github/workflows/labeler.yml
Labels: ci

#15852 fix(runtime): fix ordering of "after" packages
  src/nvim/runtime.c
  test/functional/core/startup_spec.lua
  test/functional/fixtures/middle/filen.lua
Labels: runtime
