Repository neovim/neovim, pull requests merged in 2021-06, with the labels that each got.

#14685 vim-patch:8.1.2400,8.2.{2911,2914.2916}
  runtime/doc/change.txt
  runtime/doc/index.txt
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/ops.h
  src/nvim/regexp.c
  src/nvim/testdir/test_blockedit.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_search.vim
  src/nvim/testdir/test_visual.vim
Labels: topic: documentation

#14694 fix(lsp): properly handle border character list without highlight groups
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14693 lsp: Allow user to configure focusability of lsp float
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua, topic: documentation

#14698 fix(lsp): check mode in omnifunc callback
  runtime/lua/vim/lsp.lua
Labels: lsp, lua

#14724 vim-patch:8.0.1578,8.2.{2877,2937}
  src/nvim/eval/funcs.c
  src/nvim/eval/userfunc.c
  src/nvim/ex_session.c
  src/nvim/indent_c.c
  src/nvim/memline.c
  src/nvim/normal.c
  src/nvim/regexp.c
  src/nvim/regexp_nfa.c
  src/nvim/screen.c
  src/nvim/sign.c
  src/nvim/testdir/test_popup.vim
  src/nvim/undo.c
  src/nvim/window.c
  test/functional/fixtures/streams-test.c
Labels: topic: column

#14729 feat(lsp): remove line from diagnostic quickfix
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua

#14707 fix(lsp): floating window border size for string type
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14730 fix(lsp): set_loclist should target current win
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14733 docs(lsp): fix locations_to_items docstring
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14511 LSP: Add an option to lsp.diagnostic.set_loclist to the workspace
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14726 fix(lsp): max 1 floating preview per buffer. Fixes #11508
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14736 feat(lsp): Split out a "get qf items" func from set_loclist
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
Labels: lsp, lua, topic: documentation

#14510 Minor observational corrections to the nvim_buf_set_extmark documentation
  runtime/doc/api.txt
  src/nvim/api/buffer.c
Labels: typo

#14769 fix(lsp): cap diagnostic end range to buf length
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua

#14777 ci: correctly label dependencies PRs
  .github/labeler.yml
Labels: topic: build

#14776 deps(treesitter): bump to 0.19.5+
  third-party/CMakeLists.txt
Labels: dependencies

#14686 [RDY] Allow lua to be used in runtime files
  runtime/doc/quickfix.txt
  runtime/doc/repeat.txt
  runtime/doc/starting.txt
  runtime/doc/syntax.txt
  runtime/doc/usr_05.txt
  runtime/filetype.vim
  runtime/ftplugin.vim
  runtime/indent.vim
  runtime/syntax/synload.vim
  src/nvim/ex_cmds2.c
  src/nvim/ex_getln.c
  src/nvim/lua/executor.c
  src/nvim/main.c
  src/nvim/runtime.c
  src/nvim/syntax.c
  src/nvim/vim.h
  test/functional/core/startup_spec.lua
  test/functional/ex_cmds/source_spec.lua
  test/functional/helpers.lua
  test/functional/legacy/packadd_spec.lua
  test/functional/lua/runtime_spec.lua
Labels: enhancement, runtime, startup, topic: documentation

#14761 vim-patch:8.2.{1702,2422,2966,2971,2974}
  runtime/doc/change.txt
  runtime/doc/index.txt
  src/nvim/fold.c
  src/nvim/memline.c
  src/nvim/normal.c
  src/nvim/normal.h
  src/nvim/ops.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/testdir/test_ex_mode.vim
  src/nvim/testdir/test_fold.vim
  src/nvim/testdir/test_visual.vim
Labels: topic: documentation, topic: folds, topic: spell

#14785 vim-patch:8.1.{1838,1865},8.2.{38,39,46,945,948,2896}
  runtime/doc/eval.txt
  runtime/doc/spell.txt
  runtime/spell/en.utf-8.spl
  src/nvim/eval/funcs.c
  src/nvim/ex_cmds.lua
  src/nvim/globals.h
  src/nvim/normal.c
  src/nvim/spell.c
  src/nvim/spell_defs.h
  src/nvim/spellfile.c
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_spell.vim
  src/nvim/testdir/test_spellfile.vim
  test/functional/ui/messages_spec.lua
  test/functional/ui/spell_spec.lua
Labels: topic: documentation, topic: spell

#14788 [RDY] fixup(runtime): Fix lua runtime files not listed
  runtime/doc/autocmd.txt
  src/nvim/ex_cmds2.c
  src/nvim/main.c
  test/functional/core/startup_spec.lua
Labels: startup, topic: documentation

#14765 fix(lsp): convert_input_to_markdown_lines: preserve plaintext
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14803 [RDY] fix(ci): Fix OpenBSD CI by altering dep build path
  .builds/openbsd.yml
  CMakeLists.txt
  third-party/CMakeLists.txt
Labels: dependencies, topic: build

#14802 vim-patch:8.2.{936,1354,2990}
  runtime/doc/eval.txt
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_spell_utf8.vim
  src/nvim/testdir/test_startup_utf8.vim
Labels: topic: documentation

#13165 lsp: Add codelens support
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/lsp/handlers.lua
  scripts/gen_vimdoc.py
  test/functional/plugin/lsp/codelens_spec.lua
Labels: lsp, lua, topic: documentation

#14814 fix(lsp): allow 'rounded' and 'solid' in floats
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14737 [RDY] fix(lsp): guard against negative diagnostic line numbers
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua

#14815 fix(lsp): replace --- by a line in stylize_markdown
  runtime/lua/vim/lsp/util.lua
  runtime/syntax/lsp_markdown.vim
Labels: lsp, lua

#14676 fix on_detach in lsp.diagnostic
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua

#14608 lsp: annotate `call_hierarchy` function as private
  runtime/lua/vim/lsp/buf.lua
Labels: lsp, lua

#14454 screen: fix typo in screen.c
  src/nvim/screen.c
Labels: typo

#14819 doc(lsp): Clarify opts for show_line_diagnostics()
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua, topic: documentation

#14641 LSP: Add bufnr to formatting request
  runtime/lua/vim/lsp/buf.lua
Labels: lsp, lua

#14796 [RDY] ci: upgrade to gcc-11 on ubuntu-18.04
  .github/workflows/release.yml
Labels: ci

#14840 chore(lsp): removed deprecated floating preview methods
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14824 perf(extmarks): allow ephemeral extmarks past EOF
  src/nvim/api/buffer.c
Labels: extmarks

#14833 docs(treesitter): tidy docs and remove legacy information
  runtime/doc/treesitter.txt
Labels: topic: documentation

#14861 fix(lsp): fix severity_limit logic in set_loclist
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua

#14851 docs(lsp): Add hl group docs for codelenses
  runtime/doc/lsp.txt
Labels: topic: documentation

#14849 fix(doc): various fixes
  runtime/doc/change.txt
  runtime/doc/cmdline.txt
  runtime/doc/index.txt
  runtime/doc/map.txt
  runtime/doc/tips.txt
  runtime/doc/various.txt
  runtime/doc/vim_diff.txt
Labels: topic: documentation

#14878 fix(lsp): handlers should focus quickfix list
  runtime/lua/vim/lsp/handlers.lua
Labels: lsp, lua

#14883 docs(starting): mention init.lua in paths and remove repetition
  runtime/doc/starting.txt
Labels: topic: documentation

#14584 [RDY] Allow nil in list when decoding lsp responses
  runtime/lua/vim/lsp/rpc.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp, lua

#14886 vim-patch:8.1.{1437,2391},8.2.{1255,2185,2294,3033,3034,3037,3038,3043}
  runtime/doc/eval.txt
  runtime/doc/options.txt
  runtime/doc/quickfix.txt
  src/nvim/buffer.c
  src/nvim/eval.c
  src/nvim/eval/typval.c
  src/nvim/eval/typval.h
  src/nvim/event/multiqueue.c
  src/nvim/event/multiqueue.h
  src/nvim/ex_cmds.c
  src/nvim/option.c
  src/nvim/quickfix.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_global.vim
  src/nvim/testdir/test_quickfix.vim
Labels: topic: documentation

#14907 fix(lsp): syntax improvements for lsp_markdown
  runtime/syntax/lsp_markdown.vim
Labels: lsp, syntax

#14903 fix(lsp): Set `dir` completion option for add_workspace_folder
  runtime/lua/vim/lsp/buf.lua
Labels: lsp, lua

#14617 feat(lsp): use `g:markdown_fenced_languages` in `vim.lsp.util.stylized_markdown`
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14904 fix(lsp): Handle nil message_callbacks
  runtime/lua/vim/lsp/rpc.lua
Labels: lsp, lua

#14415 [RDY] Update busy_start/busy_stop ui events documentation
  runtime/doc/ui.txt
Labels: topic: documentation

#14910 style(lsp): make get_markdown_fences private
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua, topic: documentation

#14912 fix(lsp): stylize_markdown didnt format the last line in markdown when needed
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14906 fix(doc/usr_41): don't mention `0o` prefix for octs
  runtime/doc/usr_41.txt
Labels: topic: documentation

#14913 Fixed +1-1 in util.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#12481 [RDY] Add buffer information to tabline_update
  runtime/doc/ui.txt
  src/nvim/api/ui_events.in.h
  src/nvim/screen.c
  test/functional/ui/tabline_spec.lua
Labels: topic: documentation, ui-ext

#14915 fix(treesitter): set match limit for query cursors
  src/nvim/lua/treesitter.c
Labels: tree-sitter

#14576 chore(doc): remove reference to vim.lsp.callbacks
  runtime/doc/lsp.txt
  test/functional/plugin/lsp_spec.lua
Labels: topic: documentation

#14916 [RDY] fix(doc/api): Remove 'border' as unsupported
  runtime/doc/api.txt
Labels: topic: documentation

#14779 fix: vim.opt
  runtime/lua/vim/_meta.lua
  src/nvim/option.c
  src/nvim/options.lua
  test/functional/api/vim_spec.lua
  test/functional/lua/vim_spec.lua
Labels: lua

#14930 fixup(ts): put ts_query_cursor_set_match_limit behind feature guard
  CMakeLists.txt
  src/nvim/lua/treesitter.c
Labels: topic: build, treesitter

#14939 [RDY] feat(ts): bump tree-sitter to v0.20.0
  third-party/CMakeLists.txt
Labels: dependencies, topic: build, treesitter
