Repository neovim/neovim, pull requests merged in 2021-04, with the labels that each got.

#14286 [RFC]vim-patch:8.2.0295: highlighting for :s wrong when using different separator
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/normal.c
  src/nvim/quickfix.c
  src/nvim/search.c
  src/nvim/spell.c
  src/nvim/tag.c
  src/nvim/testdir/test_search.vim
  test/functional/ui/searchhl_spec.lua
Labels: vim-patch

#14200 feat: treesitter checkhealth
  runtime/autoload/health/treesitter.vim
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/health.lua
  src/nvim/lua/treesitter.c
  test/functional/treesitter/language_spec.lua
Labels: treesitter

#14302 Update docs
  runtime/doc/api.txt
  runtime/doc/lsp.txt
  src/nvim/api/buffer.c
Labels: documentation

#14332 Advertise nvim-lua-guide in docs
  runtime/doc/lua.txt
Labels: documentation, lua

#14324 lsp: correct float placement when using borders
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#14119 lsp: Add a flag to debounce didChange notifications
  runtime/lua/vim/lsp.lua
Labels: lsp

#14046 feat(treesitter): allow injections to be configured through directives
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/languagetree.lua
  runtime/lua/vim/treesitter/query.lua
  test/functional/treesitter/highlight_spec.lua
  test/functional/treesitter/parser_spec.lua
Labels: treesitter

#14366 lsp: Accept text document edits with version zero
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#14363 [RDY] tests/functional: delete temp file created during test run
  test/functional/autoread/focus_spec.lua
Labels: tests

#14370 refactor lsp_buf_request_sync to also have an async method
  runtime/lua/vim/lsp.lua
Labels: lsp

#13684 doc: add description for cancelreturn option in input()
  runtime/doc/eval.txt
Labels: documentation

#14365 Extmarks: flush curbuf->deleted_bytes2 after calling do_move
  src/nvim/ex_cmds.c
  src/nvim/extmark.c
  test/functional/lua/buffer_updates_spec.lua
Labels: extmarks

#14368 README.md: remove part of Install from source
  README.md
Labels: documentation

#14180 fix slow closing of lsp clients when exiting vim
  runtime/lua/vim/lsp.lua
Labels: lsp

#14401 alias vim.api.nvim_exec -> vim.cmd
  src/nvim/lua/vim.lua
Labels: api, lua

#14372 lsp: sort diagnostics by severity
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp

#12262 lsp: make tagstack smarter motion-wise
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: WIP, lsp
