Repository neovim/neovim, pull requests merged in 2021-08, with the labels that each got.

#15129 ci: add commit linter to GitHub Actions.
  .github/workflows/commitlint.config.js
  .github/workflows/commitlint.config_patch.js
  .github/workflows/commitlint.yml
  CONTRIBUTING.md
Labels: ci

#15233 doc(treesitter): Fix typos
  runtime/doc/treesitter.txt
Labels: documentation, typo

#15226 vim-patch:8.1.2029,8.1.2117,8.1.2214,8.2.3204
  runtime/doc/options.txt
  src/nvim/buffer_defs.h
  src/nvim/change.c
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/screen.c
  src/nvim/syntax.c
  src/nvim/testdir/test_cursorline.vim
  test/functional/ui/diff_spec.lua
  test/functional/ui/fold_spec.lua
Labels: vim-patch

#15162 chore(vim-patch.sh): replace hub with gh
  scripts/vim-patch.sh
Labels: ci, status:needs-approval

#15257 refactor: remove remaining references to nvim_buf_set_virtual_text
  runtime/doc/api.txt
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/lsp/diagnostic.lua
  src/nvim/api/vim.c
Labels: documentation, lsp, lua

#15278 ci: skip test that freezes sourcehut CI
  test/functional/api/server_notifications_spec.lua
Labels: ci, tests

#15283 test(treesitter): skip all parsers tests if parsers aren't installed
  test/functional/treesitter/parser_spec.lua
Labels: tests

#15284 fix(lsp): prevent duplicate lines seperated by newlines
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp

#14767 fix(treesitter): do not map hl_group when no mapping is set
  runtime/lua/vim/treesitter/highlighter.lua
Labels: lua, treesitter

#15301 docs: fix paragraph for BufEnter in the documentation
  runtime/doc/autocmd.txt
Labels: documentation

#15305 ci(labeler): apply label tests if and only if files under test has changed
  .github/labeler.yml
Labels: ci

#15294 vim-patch:8.2.3285: scdoc filetype is not recognized
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: runtime, vim-patch

#15312 vim-patch:8.1.{1818},8.2.{1464,2639,2814,2947,2976,2986,3114,3141,3160,3198}
  runtime/doc/options.txt
  src/nvim/buffer_defs.h
  src/nvim/ex_docmd.c
  src/nvim/indent.c
  src/nvim/option.c
  src/nvim/testdir/test_breakindent.vim
  src/nvim/testdir/test_usercommands.vim
  test/functional/api/command_spec.lua
Labels: vim-patch

#15041 Create script that squashes all "typo" PR:s.
  .github/workflows/squash-typos.yml
  scripts/squash_typos.py
Labels: status:needs-approval, ci

#15321 docs: added more references
  runtime/lua/vim/lsp/util.lua
Labels: documentation, lua, lsp

#15307 docs(help.txt): Add a tag to the neovim api.
  runtime/doc/help.txt
Labels: documentation

#15102 doc: Document `-complete=lua` option
  runtime/doc/map.txt
Labels: documentation

#15297 fix(lsp): take offset_x into account when positioning floating popup
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp

#15325 fix(lsp): properly handle `nil` lines when trimming empty lines
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#15253 [RDY] Fix sign column auto with minimum break floating window minimal style
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: float

#15335 refactor(api): remove redundant api_set_error
  src/nvim/api/buffer.c
Labels: api

#15357 ci: fix typo squasher by changing trigger to "pull_request_target"
  .github/workflows/squash-typos.yml
  scripts/squash_typos.py
Labels: ci

#15368 test(lsp): disable finicky test when TEST_SKIP_FRAGILE is set
  test/functional/plugin/lsp_spec.lua
Labels: tests

#15367 Clean up release handling
  .github/workflows/release.yml
  scripts/release.sh
Labels: ci

#15370 build: prioritize statically built libluv in search
  cmake/FindLibLUV.cmake
Labels: build

#15320 vim-patch:8.2.3283: Julia filetype is not recognized
  runtime/filetype.vim
  runtime/ftplugin/julia.vim
  runtime/indent/julia.vim
  runtime/syntax/julia.vim
  src/nvim/testdir/test_filetype.vim
Labels: runtime, syntax, vim-patch

#15377 fix(ci): re-run GHA for ready_for_review events
  .github/workflows/ci.yml
Labels: ci

#13268 default mapping: Y => y$
  contrib/flake.nix
  runtime/doc/change.txt
  runtime/doc/vim_diff.txt
  src/nvim/main.c
  src/nvim/normal.c
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_autocmd.vim
  test/functional/helpers.lua
Labels: documentation, defaults

#15281 vim-patch:8.2.3295: 'cursorline' should not apply to 'breakindent'
  src/nvim/screen.c
  src/nvim/testdir/test_cursorline.vim
  src/nvim/testdir/test_diffmode.vim
  test/functional/ui/highlight_spec.lua
Labels: vim-patch

#15386 Revert "tests: unit: fix preprocess: pass -m32 for 32bit ABI (#11073)"
  test/unit/preprocess.lua
Labels: tests

#15252 refactor: increase line length limit to 100 characters
  .clang-format
  src/clint.py
Labels: status:needs-discussion

#15385 defaults: make <C-L> clear search highlights and update diffs
  runtime/doc/various.txt
  runtime/doc/vim_diff.txt
  src/nvim/ex_getln.c
  src/nvim/getchar.c
  src/nvim/normal.c
  src/nvim/testdir/setup.vim
  test/functional/helpers.lua
Labels: defaults

#15394 feat: defaults: switchbuf=uselast
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/options.lua
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_quickfix.vim
Labels: defaults

#15399 docs(lsp): Prevent internal comments from showing as vim.lsp.init docs
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#15397 feat: defaults: remove 'options' from viewoptions
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/options.lua
  src/nvim/testdir/setup.vim
Labels: defaults

#15243 docs: update pull request workflow
  CONTRIBUTING.md
Labels: documentation

#15249 refactor: replace TRUE/FALSE with true/false
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/getchar.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/undo.c
  src/nvim/window.c
Labels: refactor

#15410 defaults: enable 'hidden', disable 'joinspaces'
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/options.lua
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test42.in
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_command_count.vim
  src/nvim/testdir/test_diffmode.vim
  src/nvim/testdir/test_gf.vim
  src/nvim/testdir/test_ins_complete.vim
  src/nvim/testdir/test_join.vim
  src/nvim/testdir/test_mksession.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_tagjump.vim
  src/nvim/testdir/test_window_cmd.vim
  test/functional/api/buffer_updates_spec.lua
  test/functional/api/window_spec.lua
  test/functional/eval/buf_functions_spec.lua
  test/functional/ex_cmds/drop_spec.lua
  test/functional/ex_cmds/quickfix_commands_spec.lua
  test/functional/helpers.lua
  test/functional/legacy/007_ball_buffer_list_spec.lua
  test/functional/legacy/008_autocommands_spec.lua
  test/functional/legacy/011_autocommands_spec.lua
  test/functional/legacy/012_directory_spec.lua
  test/functional/legacy/arglist_spec.lua
  test/functional/legacy/cdo_spec.lua
  test/functional/legacy/fixeol_spec.lua
  test/functional/plugin/shada_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/ui/tabline_spec.lua
Labels: defaults

#14795 jump to diagnostics by position
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lua, lsp

#15430 feat(lsp): allow root_dir to be nil
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#15429 perf(treesitter): avoid string lookup of highlight name in hot loop
  runtime/lua/vim/treesitter/highlighter.lua
Labels: lua, treesitter

#15295 fix: only source package ftdetect files once
  src/nvim/runtime.c
Labels: startup

#15406 feat(terminal): set exit code in v:event.status
  runtime/doc/autocmd.txt
  runtime/doc/eval.txt
  runtime/doc/nvim_terminal_emulator.txt
  src/nvim/buffer.c
  src/nvim/channel.c
  src/nvim/terminal.c
  test/functional/autocmd/termxx_spec.lua
  test/functional/fixtures/shell-test.c
Labels: terminal

#15398 feat(keywordprg): use :terminal for external commands
  src/nvim/normal.c
  src/nvim/testdir/test_normal.vim
  test/functional/normal/K_spec.lua
Labels: terminal

#14536 feat(api): add lua C bindings for xdiff
  runtime/doc/lua.txt
  src/nvim/lua/executor.c
  src/nvim/lua/xdiff.c
  src/nvim/lua/xdiff.h
  test/functional/lua/xdiff_spec.lua
Labels: enhancement, api, diff

#15456 fix(doc): move vim.diff doc
  runtime/doc/lua.txt
Labels: documentation

#15425 refactor: replace TRUE/FALSE with true/false
  src/nvim/change.c
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/ex_getln.c
  src/nvim/fold.c
  src/nvim/memline.c
  src/nvim/ops.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/undo.c
  src/nvim/window.c
Labels: refactor

#15457 refactor(map): remove extra-allocating map_new/map_free functions
  src/nvim/api/private/dispatch.c
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/channel.c
  src/nvim/channel.h
  src/nvim/eval.c
  src/nvim/extmark.c
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/lua/executor.c
  src/nvim/lua/treesitter.c
  src/nvim/map.c
  src/nvim/map.h
  src/nvim/msgpack_rpc/channel.c
  src/nvim/msgpack_rpc/channel_defs.h
  src/nvim/os/env.c
  src/nvim/terminal.c
Labels: performance, terminal, lua, treesitter

#15255 docs: make Lua docstrings consistent
  runtime/doc/develop.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/lua/vim/F.lua
  runtime/lua/vim/highlight.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/log.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/shared.lua
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/highlighter.lua
  runtime/lua/vim/treesitter/language.lua
  runtime/lua/vim/treesitter/languagetree.lua
  runtime/lua/vim/treesitter/query.lua
  runtime/lua/vim/uri.lua
  src/nvim/lua/vim.lua
  test/functional/helpers.lua
  test/helpers.lua
Labels: documentation

#15417 vim-patch:8.2.3358: structurizr files are not recognized
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: vim-patch

#15434 feat(treesitter): add next, prev sibling method
  runtime/doc/treesitter.txt
  src/nvim/lua/treesitter.c
  test/functional/treesitter/node_spec.lua
Labels: lua, treesitter

#15464 fix(doc): example for vim.diff()
  runtime/doc/lua.txt
Labels: documentation

#15424 reproducible builds: remove CFLAGS from :version in non-debug builds
  src/nvim/version.c
Labels: build

#15463 vim-patch:6aa5729: update Scala syntax file
  runtime/syntax/scala.vim
Labels: runtime, syntax, vim-patch

#15470 fix(lsp): enable additional capabilities
  runtime/lua/vim/lsp/protocol.lua
Labels: lua, lsp

#15466 feat(ts): add query module in treesitter keys
  runtime/lua/vim/treesitter.lua
Labels: lua, treesitter

#15433 defaults: auto-create backup dir
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/fileio.c
  src/nvim/memline.c
  src/nvim/option.c
  src/nvim/undo.c
  test/functional/options/defaults_spec.lua
Labels: defaults

#15505 fix(lsp): check if buffer is valid in changetracking
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#15509 perf(api): avoid spurious allocations when converting small objects
  src/nvim/CMakeLists.txt
  src/nvim/api/private/helpers.c
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/lua/converter.c
  src/nvim/msgpack_rpc/helpers.c
Labels: api, lua

#15304 fix(lua): preserve argument list ... which has not the same length as #{...}
  runtime/lua/vim/F.lua
  src/nvim/lua/vim.lua
  test/functional/lua/vim_spec.lua
Labels: api, lua

#15240 vim-patch:8.2.2938: after using motion force from feedkeys() it sticks
  src/nvim/normal.c
  src/nvim/testdir/test_visual.vim
Labels: vim-patch

#15523 fix(lsp): resolve bufnr in buf_is_attached
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#15098 fix(tutor): formatting, layout
  runtime/tutor/en/vim-01-beginner.tutor
  runtime/tutor/en/vim-01-beginner.tutor.json
Labels: documentation, runtime

#15526 fix(lua): make core vim module not dependent on $VIMRUNTIME modules
  src/nvim/CMakeLists.txt
  src/nvim/lua/executor.c
  src/nvim/lua/vim.lua
Labels: build, lua

#15402 fix(terminal): don't require ! to close a stopped terminal buffer
  runtime/doc/nvim_terminal_emulator.txt
  src/nvim/buffer.c
  src/nvim/eval/funcs.c
  test/functional/terminal/buffer_spec.lua
Labels: terminal
