Repository neovim/neovim, pull requests merged in 2021-05, with the labels that each got.

#13260 docs: Treesitter
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/health.lua
  runtime/lua/vim/treesitter/highlighter.lua
  runtime/lua/vim/treesitter/language.lua
  runtime/lua/vim/treesitter/languagetree.lua
  runtime/lua/vim/treesitter/query.lua
  scripts/gen_vimdoc.py
  scripts/lua2dox.lua
  src/nvim/lua/vim.lua
Labels: documentation, treesitter

#14446 lsp: fix jump list in jump_to_location
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#14472 sign: Fix overflow during adjustment on Windows
  src/nvim/sign.c
Labels: platform:windows

#14334 lsp: deep copy vim.lsp.log when reloading
  runtime/lua/vim/lsp/log.lua
Labels: lsp

#14418 [RDY] tree-sitter ensure there is a nested table allocated for `#set!`
  runtime/lua/vim/treesitter/query.lua
  test/functional/treesitter/parser_spec.lua
Labels: treesitter

#12784 [RFC] vim-patch:8.1.1378: delete() can not handle a file name that looks li…
  src/nvim/eval/funcs.c
  src/nvim/fileio.c
  src/nvim/testdir/test_arglist.vim
  src/nvim/testdir/test_command_count.vim
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_registers.vim
  test/functional/legacy/011_autocommands_spec.lua
  test/functional/legacy/delete_spec.lua
  test/functional/legacy/packadd_spec.lua
Labels: vim-patch

#13664 vim-patch:8.1.{1418,1425,1832,2124},8.2.{0137, 2340}
  runtime/doc/eval.txt
  src/nvim/api/window.c
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/testdir/test_execute_func.vim
  src/nvim/testdir/test_winbuf_close.vim
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: vim-patch

#14528 Fix nvim_buf_set_lines
  src/nvim/api/buffer.c
  src/nvim/ops.c
Labels: api

#14344 [RDY] treesitter: add predicate "any-of?"
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/query.lua
  test/functional/treesitter/parser_spec.lua
Labels: treesitter

#14468 [WIP] z-index!
  src/nvim/api/private/helpers.c
  src/nvim/api/ui_events.in.h
  src/nvim/api/vim.c
  src/nvim/buffer_defs.h
  src/nvim/grid_defs.h
  src/nvim/message.c
  src/nvim/popupmnu.c
  src/nvim/ui_compositor.c
  src/nvim/window.c
  test/functional/ui/float_spec.lua
  test/functional/ui/screen.lua
Labels: api

#14574 github: autolabel pull requests
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ci

#14580 fix(tui): Stop sending extra parameter for save/restore title
  src/nvim/tui/tui.c
Labels: tui

#14582 docs: fix some remanining cases of gender pronoun for "the user"
  runtime/doc/pi_netrw.txt
  runtime/doc/syntax.txt
  runtime/doc/usr_41.txt
  runtime/doc/usr_42.txt
  runtime/tutor/tutor.tutor
Labels: topic: documentation

#14583 lsp: handle unsupported call hierarchy call
  runtime/lua/vim/lsp/buf.lua
Labels: lsp, lua

#14589 Revert smarter tagstack changes
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp, lua

#12076 use new conversion rules for vim.g, vim.v
  src/nvim/api/private/helpers.c
  src/nvim/lua/executor.c
  src/nvim/lua/vim.lua
  test/functional/lua/vim_spec.lua
Labels: WIP

#14490 vim-patch: 8.2.{0869,0933,0959} - port quickfixtextfunc
  runtime/doc/eval.txt
  runtime/doc/options.txt
  runtime/doc/quickfix.txt
  src/nvim/eval.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: topic: documentation

#14600 Fixed ttimeout documentation.
  runtime/doc/options.txt
Labels: topic: documentation

#14596 lsp: `lsp.util.fancy_floating_markdown` improvements
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14604 feat(lsp): use same formatting for `signature_help` as `hover`
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14602 doc/options: Removed vim-only text from ambiwidth.
  runtime/doc/options.txt
Labels: topic: documentation

#14603 fix(lsp): allow apply_text_edits to append text (insert at last line)
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14269 fix(lsp): prefer selectionRange over range for document symbols in vim.lsp.util.symbols_to_items
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#14615 perf(lsp): `locations_to_items`: use libuv for unloaded buffers to get line
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14619 vim-patch:8.2.{2772,2778}
  runtime/doc/options.txt
  src/nvim/ex_session.c
  src/nvim/option.c
  src/nvim/option.h
  src/nvim/option_defs.h
  test/functional/legacy/mksession_spec.lua
Labels: topic: documentation

#14622 lsp: Only mute RequestCancelled or ContentModified, but not other errors
  runtime/lua/vim/lsp/rpc.lua
Labels: lsp, lua

#14634 vim-patch:8.2.{511,1689,1957,2880,2884}
  src/nvim/diff.c
  src/nvim/screen.c
  src/nvim/testdir/shared.vim
  src/nvim/testdir/test_cscope.vim
  src/nvim/testdir/test_diffmode.vim
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_glob2regpat.vim
  src/nvim/testdir/test_highlight.vim
  src/nvim/testdir/test_listdict.vim
  src/nvim/testdir/test_partial.vim
  src/nvim/testdir/test_regexp_latin.vim
  src/nvim/testdir/test_sort.vim
  src/nvim/testdir/test_true_false.vim
  src/nvim/testdir/test_user_func.vim
  src/nvim/testdir/test_vimscript.vim
Labels: topic: diff

#14640 vim-patch:3ec3217f0491,8.2.{2278,2885}
  runtime/doc/cmdline.txt
  runtime/doc/map.txt
  runtime/doc/quickfix.txt
  runtime/doc/repeat.txt
  runtime/ftplugin/meson.vim
  runtime/ftplugin/systemverilog.vim
  runtime/indent/meson.vim
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  runtime/syntax/dts.vim
  runtime/syntax/meson.vim
  src/nvim/regexp.c
  src/nvim/regexp_nfa.c
  src/nvim/testdir/test_regexp_utf8.vim
  src/nvim/testdir/test_search.vim
Labels: topic: documentation

#14646 lsp: Ensure floating markdown buffers are deleted on hide
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#13479 lua: Add vim.opt
  runtime/doc/lua.txt
  runtime/lua/vim/F.lua
  runtime/lua/vim/_meta.lua
  src/nvim/api/vim.c
  src/nvim/lua/vim.lua
  src/nvim/option.c
  test/functional/lua/vim_spec.lua
Labels: lua, topic: documentation

#14649 refactor(lsp): consolidate the different floating window methods into `open_floating_preview`
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/util.lua
  runtime/syntax/lsp_markdown.vim
Labels: lsp, lua

#14664 fix vim.opt:remove doc
  runtime/doc/lua.txt
Labels: topic: documentation

#14635 perf(lsp): get all lines from a file in one go (`locations_to_items`)
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14687 Updated vim docs
  runtime/doc/api.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
Labels: topic: documentation

#14690 fix(docs): delete duplicate tags
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
Labels: topic: documentation
