Repository neovim/neovim, pull requests merged in 2021-01, with the labels that each got.

#11833 [WIP] nvim_buf_set_text
  src/nvim/api/buffer.c
  src/nvim/extmark.c
  test/functional/api/buffer_spec.lua
  test/functional/lua/buffer_updates_spec.lua
Labels: WIP

#11906 consider "-- more --" state to be blocking
  src/nvim/os/input.c
  test/functional/api/vim_spec.lua
Labels: WIP, event-loop

#13687 remove trailing tabs
  runtime/doc/eval.txt
  runtime/doc/options.txt
  runtime/doc/repeat.txt
  runtime/doc/tagsrch.txt
  runtime/doc/ui.txt
  runtime/doc/various.txt
  runtime/doc/windows.txt
Labels: runtime

#13578 LSP: Add diagnostic tags to client capabilities
  runtime/lua/vim/lsp/protocol.lua
Labels: lsp

#13718 [RDY] runtime: Add Elm support
  runtime/ftplugin/elm.vim
  runtime/indent/elm.vim
  runtime/syntax/elm.vim
Labels: runtime

#13708 LSP: Fix nil settings handling in workspace/configuration
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/handlers.lua
  test/functional/plugin/lsp_spec.lua
Labels: bug, lsp

#13835 Update Runtime Files For Zsh
  runtime/compiler/zsh.vim
  runtime/ftplugin/zsh.vim
  runtime/syntax/zsh.vim
Labels: runtime

#12937 Fix pty support for "env" in jobstart/termopen
  .builds/freebsd.yml
  .builds/openbsd.yml
  src/nvim/buffer.c
  src/nvim/channel.c
  src/nvim/charset.c
  src/nvim/eval.c
  src/nvim/eval/decode.c
  src/nvim/eval/encode.c
  src/nvim/eval/executor.c
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/event/libuv_process.c
  src/nvim/event/process.h
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/file_search.c
  src/nvim/lua/converter.c
  src/nvim/ops.c
  src/nvim/os/pty_process_unix.c
  src/nvim/os/pty_process_win.c
  src/nvim/os/time.c
  src/nvim/quickfix.c
  src/nvim/shada.c
  src/nvim/tag.c
  src/nvim/tui/input.c
  src/nvim/ui_compositor.c
  src/nvim/viml/parser/expressions.c
  test/functional/core/job_spec.lua
  test/symbolic/klee/nvim/charset.c
  test/symbolic/klee/nvim/memory.c
Labels: 1.severity:blocker, WIP
