Repository neovim/neovim, pull requests merged in 2021-07, with the labels that each got.

#14786 Revert "tui: improve support for tmux, GNU Screen"
  src/nvim/ascii.h
  src/nvim/tui/tui.c
Labels: tui

#14848 fix(clipboard): Fix block paste from system clipboard not working properly
  runtime/autoload/provider/clipboard.vim
  test/functional/provider/clipboard_spec.lua
Labels: bug, topic: clipboard

#14950 runtime/vim: d2ea7cf10a4d026ebd402594d656af7d5c811c24
  runtime/syntax/vim.vim
Labels: runtime, syntax, vim-patch

#14349 doc/options: Fix sample shellpipe PowerShell config.
  runtime/doc/options.txt
  test/functional/eval/system_spec.lua
  test/functional/ex_cmds/make_spec.lua
  test/functional/helpers.lua
Labels: topic: documentation

#14961 deps(curl): v7.77.0
  third-party/CMakeLists.txt
Labels: dependencies, topic: build

#14962 fixup(clipboard): Use case matching instead of non cased matching
  runtime/autoload/provider/clipboard.vim
Labels: topic: clipboard

#14971 doc/startup: cleanup; assign ENN to "conflicing configs" msg
  runtime/doc/repeat.txt
  runtime/doc/starting.txt
  src/nvim/main.c
  test/functional/core/startup_spec.lua
Labels: topic: documentation

#14982 fix(vim.opt): vimL map string values not trimmed
  runtime/lua/vim/_meta.lua
  test/functional/lua/vim_spec.lua
Labels: lua

#14391 signs: Change b_signcols_max -> b_signcols_valid
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/sign.c
Labels: topic: column

#14989 fix(lsp): prevent double <text> for cached plaintext markup
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#14985 Bump LibLUV to 1.34.1
  third-party/CMakeLists.txt
  third-party/cmake/BuildLuarocks.cmake
Labels: dependencies, topic: build

#14997 chore(deps): bump LibLUV to 1.40.0-0
  cmake/FindLibLUV.cmake
  third-party/CMakeLists.txt
  third-party/cmake/BuildLuv.cmake
Labels: dependencies, topic: build

#15011 fix(lsp): restore diagnostics extmarks on buffer changes
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua

#15016 chore: use codespell to spell check
  CONTRIBUTING.md
  src/nvim/api/ui.c
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/arabic.c
  src/nvim/buffer.c
  src/nvim/buffer_updates.c
  src/nvim/change.c
  src/nvim/decoration.c
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/executor.c
  src/nvim/eval/typval.c
  src/nvim/eval/typval.h
  src/nvim/eval/userfunc.c
  src/nvim/event/stream.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/extmark.c
  src/nvim/extmark_defs.h
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/grid_defs.h
  src/nvim/hardcopy.c
  src/nvim/keymap.h
  src/nvim/log.h
  src/nvim/lua/executor.c
  src/nvim/lua/treesitter.c
  src/nvim/mark.c
  src/nvim/marktree.h
  src/nvim/memline.c
  src/nvim/menu.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/os/fileio.c
  src/nvim/os/fs.c
  src/nvim/os/pty_conpty_win.c
  src/nvim/path.c
  src/nvim/profile.c
  src/nvim/quickfix.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/sign.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/tui/tui.c
  src/nvim/ui_compositor.c
  src/nvim/vim.h
Labels: topic: column, topic: diff, treesitter, tui

#14935 doc: remove mentions of compile-time flags
  runtime/doc/change.txt
  runtime/doc/digraph.txt
  runtime/doc/eval.txt
  runtime/doc/gui.txt
  runtime/doc/helphelp.txt
  runtime/doc/if_ruby.txt
  runtime/doc/index.txt
  runtime/doc/nvim_terminal_emulator.txt
  runtime/doc/options.txt
  runtime/doc/print.txt
  runtime/doc/repeat.txt
  runtime/doc/russian.txt
  runtime/doc/starting.txt
  runtime/doc/syntax.txt
  runtime/doc/tagsrch.txt
  runtime/doc/testing.txt
  runtime/doc/usr_45.txt
Labels: topic: documentation

#14936 doc: "--remote" is not supported
  runtime/doc/remote.txt
Labels: topic: documentation

#15018 feat(lsp): highlight active parameter in signature help
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua, topic: documentation

#15023 fix(lsp): restore diagnostics extmarks (again)
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua

#14844 build(cmake): skip download if target file exists and hash matched
  third-party/cmake/DownloadAndExtractFile.cmake
Labels: dependencies, topic: build

#12971 Decrease reliance on curbuf in BUFEMPTY and `undo.c`
  src/nvim/buffer.c
  src/nvim/buffer.h
  src/nvim/buffer_defs.h
  src/nvim/change.c
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/eval/funcs.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/globals.h
  src/nvim/macros.h
  src/nvim/main.c
  src/nvim/move.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/popupmnu.c
  src/nvim/quickfix.c
  src/nvim/spell.c
  src/nvim/testdir/test_quickfix.vim
  src/nvim/undo.c
  src/nvim/version.c
Labels: refactor, topic: diff, topic: spell

#15032 fix(lsp): support duplicate params in signature help
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#15026 feat(lsp): Make line diagnostics display prettier
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua

#14954 fix(lsp): correctly check for windows in lsp logger
  runtime/lua/vim/lsp/log.lua
Labels: lsp, lua

#15049 fix(lsp): Add separator between codelens in virttext
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/codelens.lua
Labels: lsp, lua, topic: documentation

#15055 fix(lsp): Ensure users get feedback on references/symbols errors or empty results
  runtime/lua/vim/lsp/handlers.lua
Labels: lsp, lua

#14984 fixup(clipboard): Fix clipboard provider error not properly handled
  runtime/autoload/provider/clipboard.vim
Labels: maintenance:needs-backport, topic: clipboard

#15059 fix(lsp): avoid ipairs on non-sequential tables
  runtime/lua/vim/lsp/buf.lua
Labels: lsp, lua

#14812 feat(job): add parameter to close stdin
  runtime/doc/eval.txt
  src/nvim/channel.c
  src/nvim/channel.h
  src/nvim/eval/funcs.c
  test/functional/core/job_spec.lua
Labels: topic: documentation

#15084 fix(lsp): pass bufnr for async formatting
  runtime/lua/vim/lsp/handlers.lua
Labels: lsp, lua

#15017 LSP: accept file URIs without a hostname
  runtime/lua/vim/uri.lua
  test/functional/lua/uri_spec.lua
  test/functional/plugin/lsp/codelens_spec.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua

#15113 doc(lsp): various small fixes
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua, topic: documentation

#15121 feat: aggregate code actions from all clients
  runtime/lua/vim/lsp/buf.lua
Labels: lsp, lua

#15073 [RDY] chore(PVS/V751): tui.c, Parameter is not used
  src/nvim/tui/tui.c
Labels: tui

#15094 feat(shared): `tbl_deep_extend` improvements
  runtime/lua/vim/shared.lua
  test/functional/lua/vim_spec.lua
Labels: lua

#15086 Add zindex setup for floating popup
  runtime/lua/vim/lsp/util.lua
Labels: lsp, lua

#15134 feat(lsp): allow diagnostics to be disabled in a buffer
  runtime/lua/vim/lsp/diagnostic.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
Labels: lsp, lua

#15137 fix(lsp): allow diagnostic.clear to accept nil bufnr
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua

#15138 docs: made can_merge private
  runtime/lua/vim/shared.lua
Labels: lua

#15132 lsp(start_client): Allow passing custom workspaceFolders to the LSP
  runtime/lua/vim/lsp.lua
Labels: lsp, lua

#14771 fix: source syncolors.vim before startup scripts
  runtime/syntax/syncolor.vim
  runtime/syntax/synload.vim
  src/nvim/main.c
Labels: highlight, syntax

#14831 Add vim.lsp.diagnositc.set_qflist() function.
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, lua, topic: documentation

#15114 [RFC] feat(treesitter): allow to set highlight priority for queries
  runtime/doc/api.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/highlighter.lua
  test/functional/treesitter/highlight_spec.lua
Labels: lua, topic: documentation, treesitter

#14347 treesitter: add query.list_directives
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/query.lua
  test/functional/treesitter/parser_spec.lua
Labels: lua, topic: documentation, treesitter

#15153 chore: PVS/V751: ignore warning
  src/nvim/tui/tui.c
Labels: tui

#14311 Remove EXMODE_NORMAL
  runtime/doc/eval.txt
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/doc/vim_diff.txt
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_docmd.h
  src/nvim/ex_getln.c
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/main.c
  src/nvim/main.h
  src/nvim/message.c
  src/nvim/normal.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/state.c
Labels: refactor, topic: documentation

#15151 refactor: replace TRUE/FALSE macros with C99 true/false
  src/nvim/buffer.c
  src/nvim/change.c
  src/nvim/digraph.c
  src/nvim/highlight.c
  src/nvim/indent.c
  src/nvim/keymap.c
  src/nvim/mbyte.c
  src/nvim/memfile_defs.h
  src/nvim/misc1.c
  src/nvim/mouse.c
  src/nvim/normal.c
  src/nvim/search.h
  src/nvim/sign.c
Labels: topic: column, topic: mouse

#15191 docs(ts): add documentation for listing fns
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/query.lua
Labels: lua, topic: documentation, treesitter

#15090 docs: fix typo in treesitter.txt
  runtime/doc/treesitter.txt
Labels: topic: documentation, typo

#15199 feat(lsp): make list handlers configurable
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/handlers.lua
Labels: lsp, lua, topic: documentation

#15215 fix(decorations): crash when :bdelete (extmark_free_all) after clear_namespace
  src/nvim/extmark.c
  test/functional/ui/decorations_spec.lua
Labels: status:needs-backport

#15213 vim-patch:8.2.3236: mode() does not indicate using CTRL-O in Select mode
  runtime/doc/eval.txt
  src/nvim/globals.h
  src/nvim/normal.c
  src/nvim/state.c
  src/nvim/testdir/test_functions.vim
Labels: documentation, status:has-vim-patch, vim-patch

#15203 feat(lsp): implement vim.lsp.diagnostic.redraw()
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/diagnostic.lua
Labels: documentation, lsp, lua

#15207 fix(highlight): remove syncolor.vim
  runtime/doc/syntax.txt
  runtime/doc/vim_diff.txt
  runtime/syntax/syncolor.vim
  runtime/syntax/synload.vim
  src/nvim/main.c
  src/nvim/syntax.c
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/highlight_spec.lua
  test/functional/ui/sign_spec.lua
  test/unit/viml/expressions/parser_spec.lua
Labels: bug, highlight, startup, syntax

#14744 vim-patch:8.2.2957: using getchar() in Vim9 script is problematic
  runtime/doc/eval.txt
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/syntax.c
  src/nvim/testdir/test_functions.vim
Labels: documentation

#15206 refactor: replace TRUE/FALSE with true/false
  src/nvim/change.c
  src/nvim/eval/userfunc.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/ex_docmd.h
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/globals.h
  src/nvim/main.c
  src/nvim/mark.c
  src/nvim/memline.c
  src/nvim/message.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/spellfile.c
  src/nvim/syntax.c
  src/nvim/window.c
Labels: refactor

#15161 vim-patch:8.1.2019: 'cursorline' always highlights the whole line
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/doc/syntax.txt
  runtime/optwin.vim
  src/nvim/buffer_defs.h
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/screen.c
  src/nvim/testdir/test_alot.vim
  src/nvim/testdir/test_cursorline.vim
Labels: documentation

#15227 fix(lsp): Include client name in handler error messages
  runtime/lua/vim/lsp/handlers.lua
Labels: lsp, lua

#15228 vim-patch:8.2.{3002,3019,3025,3030,3032,3044,3046,3063,3101,3115,3119,3120,3131,3136,3140,3157,3163,3218,3245,3254}
  runtime/doc/eval.txt
  src/nvim/eval/funcs.c
  src/nvim/quickfix.c
  src/nvim/testdir/test_cd.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_swap.vim
  src/nvim/testdir/test_tagjump.vim
  src/nvim/window.c
  test/functional/ex_cmds/quickfix_commands_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: documentation
