Repository neovim/neovim, pull requests merged in 2021-02, with the labels that each got.

#13866 Fix pumvisible() check introduced in #12900
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#13920 CMake: Remove duplicate compile flags argument
  src/nvim/CMakeLists.txt
Labels: topic:build

#13491 vim-patch:8.2.{1967,2058,2467}
  runtime/doc/index.txt
  runtime/doc/windows.txt
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds.h
  src/nvim/ex_cmds.lua
  src/nvim/ex_docmd.c
  src/nvim/ex_session.c
  src/nvim/testdir/test_buffer.vim
  src/nvim/testdir/test_mksession.vim
Labels: vim-patch

#13926 man.vim: `:Man` should not change global value of 'tagfunc' option
  runtime/autoload/man.vim
Labels: runtime

#13968 runtime/tar: port latest files
  runtime/autoload/tar.vim
  runtime/doc/pi_tar.txt
  runtime/plugin/tarPlugin.vim
Labels: runtime

#11444 [RFC] Add functionality to source without a filename
  src/nvim/ex_cmds.lua
  src/nvim/ex_cmds2.c
  test/functional/ex_cmds/source_spec.lua
Labels: 9.needs:review

#13677 lsp: Fix text edits operating on the last line of a document
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: bug, lsp

#13614 [LSP] Add in more docs for highlight groups with document_highlight()
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/buf.lua
Labels: documentation, enhancement, lsp

#14022 lsp: prompt correct error when language server start fails
  runtime/lua/vim/lsp/rpc.lua
Labels: lsp
