Repository neovim/neovim, pull requests merged in 2021-10, with the labels that each got.

#15862 refactor: remove PVS comment on top of files
  src/xdiff/xdiffi.c
  src/xdiff/xemit.c
  src/xdiff/xhistogram.c
  src/xdiff/xpatience.c
  src/xdiff/xprepare.c
  src/xdiff/xutils.c
Labels: refactor

#15861 refactor: update path to xdiff in comments
  src/nvim/lua/xdiff.c
Labels: refactor, lua

#15860 docs(diagnostics): add "priority" option to signs table
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
Labels: lua, diagnostic

#15866 feat(diagnostics): add vim.diagnostic.get_namespaces
  runtime/lua/vim/diagnostic.lua
Labels: lua, diagnostic

#15842 refactor: uncrustify
  src/nvim/decoration.c
  src/nvim/if_cscope.c
  src/nvim/lua/executor.c
  src/nvim/runtime.c
  src/nvim/screen.c
  src/nvim/strings.c
  src/nvim/terminal.c
  src/uncrustify.cfg
Labels: refactor

#15867 fix(runtime): add compressed {&packpath}/start/*/pack/*[/after] representation to &rtp
  src/nvim/main.c
  src/nvim/runtime.c
  test/functional/api/vim_spec.lua
  test/functional/core/startup_spec.lua
Labels: runtime, startup

#15875 docs: remove obsolete text on language
  runtime/doc/helphelp.txt
Labels: documentation

#15872 refactor: format with uncrustify
  src/nvim/tag.c
  src/nvim/ugrid.c
  src/nvim/ui.c
  src/nvim/ui_bridge.c
  src/nvim/ui_compositor.c
  src/nvim/undo.c
  src/nvim/version.c
  src/uncrustify.cfg
Labels: refactor

#15803 fix(lsp_spec): tests depended on previous session
  scripts/release.sh
  test/functional/plugin/lsp_spec.lua
Labels: status:needs-backport

#15832 fix(float)!: always anchor to corner of window including border
  runtime/lua/vim/lsp/util.lua
  src/nvim/api/vim.c
  src/nvim/window.c
  test/functional/plugin/lsp_spec.lua
  test/functional/ui/float_spec.lua
Labels: lua, lsp

#15851 docs(lsp): clarify parameters of some util functions
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp

#15868 vim-patch:8.2.3460
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/debugger.c
  src/nvim/getchar.c
  src/nvim/hardcopy.c
  src/nvim/if_cscope.c
  src/nvim/move.c
  src/nvim/tag.c
  src/nvim/version.c
Labels: vim-patch

#15549 fix(nvim_open_win): recheck win_valid after win_set_buf
  src/nvim/api/vim.c
  test/functional/ui/float_spec.lua
Labels: api, float

#15786 diagnostics: Show how to override default handlers in docs (WAS: Only show one sign per severity per line)
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: lua, diagnostic

#15883 vim-patch:8.2.3464: nginx files are not recognized
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: runtime, vim-patch

#15516 refactor(api): Represent option dicts as a structs in C and reduce conversion overhead from lua
  src/clint.py
  src/nvim/CMakeLists.txt
  src/nvim/api/buffer.c
  src/nvim/api/keysets.lua
  src/nvim/api/private/defs.h
  src/nvim/api/private/helpers.c
  src/nvim/api/private/helpers.h
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/generators/c_grammar.lua
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/generators/gen_declarations.lua
  src/nvim/generators/gen_keysets.lua
  src/nvim/generators/hashy.lua
  src/nvim/getchar.h
  src/nvim/lua/converter.c
  src/nvim/msgpack_rpc/helpers.c
  test/config/paths.lua.in
  test/functional/api/command_spec.lua
  test/functional/api/keymap_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/ui/float_spec.lua
Labels: api, refactor, lua

#15885 vim-patch:8.2.3465: cannot detect insert scroll mode
  runtime/doc/eval.txt
  src/nvim/edit.c
  src/nvim/testdir/test_popup.vim
Labels: vim-patch

#15886 vim-patch:8.2.3466: completion submode not indicated for virtual replace
  runtime/doc/eval.txt
  src/nvim/state.c
  src/nvim/testdir/test_functions.vim
Labels: vim-patch

#15891 vim-patch:8.2.3469: some files with json syntax are not recognized
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: vim-patch

#15218 feat(lua): add "noempty" param to vim.split()
  runtime/doc/lua.txt
  runtime/lua/vim/shared.lua
  test/functional/lua/vim_spec.lua
Labels: lua

#15894 refactor: define diagnostic highlights in syntax.c
  runtime/plugin/diagnostic.vim
  src/nvim/syntax.c
Labels: refactor

#15888 refactor: remove redundant char casts
  src/nvim/api/private/helpers.c
  src/nvim/charset.c
  src/nvim/diff.c
  src/nvim/eval.c
  src/nvim/eval/encode.c
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/ex_getln.c
  src/nvim/getchar.c
  src/nvim/message.c
  src/nvim/os/fs.c
  src/nvim/quickfix.c
  src/nvim/runtime.c
  src/nvim/shada.c
  src/nvim/spell.c
  src/nvim/undo.c
Labels: refactor

#15890 refactor: inline unnecessary macros
  src/nvim/shada.c
Labels: refactor

#15901 refactor(api): re-organanize public and private API functions
  src/nvim/api/deprecated.c
  src/nvim/api/private/dispatch.c
  src/nvim/api/private/helpers.c
  src/nvim/api/ui.c
  src/nvim/api/vim.c
  src/nvim/api/win_config.c
  src/nvim/api/win_config.h
  src/nvim/api/window.c
  src/nvim/generators/gen_api_dispatch.lua
Labels: api, refactor

#15904 found a typo in docs/api.txt
  runtime/doc/api.txt
  src/nvim/api/vim.c
Labels: documentation, typo

#15813 fix(mouse): correct dragged position in composed layout
  src/nvim/mouse.c
  test/functional/ui/float_spec.lua
  test/functional/ui/mouse_spec.lua
Labels: mouse

#15909 docs(develop.txt): nvim_open_win is now in win_config.c
  runtime/doc/develop.txt
Labels: documentation

#15259 feat(checkhealth): support Lua healthchecks
  runtime/autoload/health.vim
  runtime/doc/pi_health.txt
  runtime/lua/health.lua
  src/nvim/ex_getln.c
  test/functional/fixtures/autoload/health/full_render.vim
  test/functional/fixtures/lua/test_plug/health/init.lua
  test/functional/fixtures/lua/test_plug/submodule/health.lua
  test/functional/fixtures/lua/test_plug/submodule_failed/health.lua
  test/functional/plugin/health_spec.lua
Labels: plugin, lua

#15912 vim-patch:8.2.3473: some files with tcl syntax are not recognized
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: runtime, vim-patch

#15859 ci: exclude cjson directories from the PVS report
  scripts/pvscheck.sh
Labels: ci

#15914 fix(healthcheck): update buit-ins to the new format
  runtime/autoload/health/lsp.vim
  runtime/autoload/health/treesitter.vim
  runtime/lua/vim/lsp/health.lua
  runtime/lua/vim/treesitter/health.lua
Labels: lua, lsp, treesitter

#15911 vim-patch:6e649224926b
  runtime/autoload/netrw.vim
  runtime/doc/autocmd.txt
  runtime/doc/editing.txt
  runtime/doc/eval.txt
  runtime/doc/filetype.txt
  runtime/doc/intro.txt
  runtime/doc/mbyte.txt
  runtime/doc/print.txt
  runtime/filetype.vim
  runtime/ftplugin/spec.vim
  runtime/indent/cdl.vim
  runtime/indent/cobol.vim
  runtime/indent/config.vim
  runtime/indent/css.vim
  runtime/indent/d.vim
  runtime/indent/dtd.vim
  runtime/indent/dylan.vim
  runtime/indent/elm.vim
  runtime/indent/eterm.vim
  runtime/indent/framescript.vim
  runtime/indent/idlang.vim
  runtime/indent/ld.vim
  runtime/indent/mail.vim
  runtime/indent/make.vim
  runtime/indent/matlab.vim
  runtime/indent/mma.vim
  runtime/indent/occam.vim
  runtime/indent/pascal.vim
  runtime/indent/postscr.vim
  runtime/indent/prolog.vim
  runtime/indent/python.vim
  runtime/indent/readline.vim
  runtime/indent/sdl.vim
  runtime/indent/tcl.vim
  runtime/indent/tcsh.vim
  runtime/indent/zimbu.vim
  runtime/syntax/8th.vim
  runtime/syntax/chicken.vim
  runtime/syntax/sml.vim
  runtime/syntax/tcl.vim
  runtime/syntax/tcsh.vim
  runtime/syntax/typescriptcommon.vim
  runtime/syntax/xpm.vim
Labels: runtime, vim-patch

#15915 docs(intro.txt): change vimhelp.appspot.com to vimhelp.org
  runtime/doc/intro.txt
Labels: documentation

#15916 fix(vim-patch): add missing nginx runtime files and doc fixes
  runtime/doc/eval.txt
  runtime/doc/mbyte.txt
  runtime/ftplugin/nginx.vim
  runtime/indent/nginx.vim
  runtime/syntax/nginx.vim
Labels: vim-patch

#15889 build(deps): use libuv upstream for win32
  ci/build.ps1
  third-party/CMakeLists.txt
Labels: build, dependencies

#15854 feat(lsp): improve json deserialization performance
  runtime/lua/vim/lsp/rpc.lua
  src/cjson/lua_cjson.c
Labels: lua, lsp

#15346 feat(api): named marks set and delete
  runtime/doc/api.txt
  src/nvim/api/buffer.c
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/mark.c
  test/functional/api/buffer_spec.lua
  test/functional/api/vim_spec.lua
Labels: api, status:needs-discussion

#15908 vim-patch:8.1.{737,1385},8.2.{155,165,166,167,168,169,170,172,254,326,3387}
  src/nvim/testdir/test_method.vim
Labels: vim-patch

#15929 fix(tui): win: remove dead code
  src/nvim/os/os_win_console.c
  src/nvim/tui/tui.c
Labels: tui

#15928 vim-patch:8.2.0017
  runtime/doc/options.txt
  runtime/doc/usr_41.txt
Labels: documentation, vim-patch

#15918 refactor: remove superfluous function-like macros
  src/nvim/mouse.c
  src/nvim/shada.c
Labels: refactor, mouse

#15920 fix(extmarks): splice extmarks on nv_Undo
  src/nvim/undo.c
  test/functional/lua/buffer_updates_spec.lua
Labels: extmarks

#16154 refactor(api): break out Vim script functions to its own file
  scripts/gen_vimdoc.py
  src/nvim/api/deprecated.c
  src/nvim/api/private/converter.c
  src/nvim/api/private/converter.h
  src/nvim/api/private/dispatch.c
  src/nvim/api/private/helpers.c
  src/nvim/api/private/helpers.h
  src/nvim/api/vim.c
  src/nvim/api/vimscript.c
  src/nvim/api/vimscript.h
  src/nvim/channel.c
  src/nvim/context.c
  src/nvim/eval/funcs.c
  test/unit/api/private_helpers_spec.lua
Labels: api, refactor

#16153 fix(eval): fix has('wsl')
  config/CMakeLists.txt
  config/config.h.in
  src/nvim/eval/funcs.c
  test/functional/vimscript/has_spec.lua
Labels: build, lua

#16090 refactor: uncrustify
  src/nvim/api/private/defs.h
  src/nvim/api/vim.c
  src/nvim/ascii.h
  src/nvim/assert.h
  src/nvim/buffer.c
  src/nvim/buffer.h
  src/nvim/buffer_defs.h
  src/nvim/channel.h
  src/nvim/cursor_shape.h
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/eval.h
  src/nvim/eval/encode.c
  src/nvim/eval/typval.h
  src/nvim/event/process.h
  src/nvim/ex_cmds2.c
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/getchar.h
  src/nvim/globals.h
  src/nvim/highlight_defs.h
  src/nvim/if_cscope.c
  src/nvim/if_cscope_defs.h
  src/nvim/keymap.h
  src/nvim/lib/kbtree.h
  src/nvim/lib/khash.h
  src/nvim/lib/ringbuf.h
  src/nvim/macros.h
  src/nvim/map.c
  src/nvim/map.h
  src/nvim/memline.c
  src/nvim/message.c
  src/nvim/normal.h
  src/nvim/ops.h
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/os/fileio.h
  src/nvim/os/input.c
  src/nvim/os/pty_process_win.h
  src/nvim/path.h
  src/nvim/pos.h
  src/nvim/quickfix.c
  src/nvim/spell_defs.h
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/tui/tui.c
  src/nvim/version.c
  src/nvim/vim.h
  src/nvim/viml/parser/expressions.c
  src/uncrustify.cfg
Labels: refactor

#16137 refactor(diagnostic): make display handlers generic
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
Labels: refactor, lua, diagnostic

#16178 fix(build): remove amalg build target for LuaJIT
  third-party/cmake/BuildLuajit.cmake
Labels: build, dependencies

#16177 feat(lsp): default to botright for location handler
  runtime/lua/vim/lsp/handlers.lua
Labels: status:needs-discussion, lua, lsp

#16129 feat: add vim.str_utf_{start,end}
  src/nvim/lua/stdlib.c
  src/nvim/mbyte.c
  test/functional/lua/vim_spec.lua
Labels: lua

#16180 Refactor release workflow to use gh instead of a third-party action
  .github/workflows/notes.md
  .github/workflows/release.yml
  ci/build.ps1
Labels: ci, backport release-0.5

#16181 ci(backport): add write permissions for contents/pull_requests
  .github/workflows/backport.yml
Labels: ci

#16182 ci(backport): trigger on comments too, so "/backport" works
  .github/workflows/backport.yml
Labels: ci

#16189 fix(lsp): add placeholder cancel function
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#16186 feat(lsp): add formatexpr
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
Labels: lsp

#16191 ci(win): only remove choco's cpack.exe if it exists
  ci/build.ps1
Labels: ci

#16188 fix(runtime): fix missing packpath entries
  src/nvim/runtime.c
  test/functional/core/startup_spec.lua
Labels: runtime

#16187 fix(build): fix build failure in MinGW
  third-party/cmake/BuildLibuv.cmake
  third-party/patches/libuv-disable-typedef-MinGW.patch
Labels: build, dependencies

#16192 fix(lsp): don't update active_clients on exit_timeout
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#16195 fix(ci): use correct check for path-existence
  ci/build.ps1
Labels: ci

#15907 fix(lsp): default to UTF-16 in make_position_params
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp

#16197 fix(lsp): improve symbols_to_items performance
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp
