Repository neovim/neovim, pull requests merged in 2022-02, with the labels that each got.

#17261 vim-patch:8.2.4273: the EBCDIC support is outdated
  src/nvim/charset.c
  src/nvim/edit.c
  src/nvim/normal.c
  src/nvim/regexp.c
  src/nvim/testdir/test_edit.vim
  src/nvim/testdir/test_exec_while_if.vim
  src/nvim/testdir/test_gf.vim
  src/nvim/testdir/test_regexp_utf8.vim
Labels: vim-patch

#17259 vim-patch:8.2.4274: Basic and form filetype detection is incomplete
  runtime/autoload/dist/ft.vim
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: runtime, lua, vim-patch

#17113 feat(statusline): support multibyte fillchar
  runtime/doc/options.txt
  src/nvim/api/vim.c
  src/nvim/buffer.c
  src/nvim/macros.h
  src/nvim/screen.c
  src/nvim/testdir/test_statusline.vim
  test/functional/api/vim_spec.lua
  test/unit/buffer_spec.lua
Labels: vim-patch, unicode 💩, statusline

#16879 vim-patch:8.2.3966: when using feedkeys() abbreviations may be blocked
  src/nvim/getchar.c
  src/nvim/testdir/test_feedkeys.vim
Labels: vim-patch

#17268 fix(health): do not run external processes in a shell
  runtime/autoload/health/nvim.vim
  runtime/autoload/health/provider.vim
  test/functional/plugin/health_spec.lua
Labels: runtime

#17226 vim-patch:8.2.4241: some type casts are redundant
  src/nvim/api/private/helpers.c
  src/nvim/debugger.c
  src/nvim/ex_cmds.c
  src/nvim/ex_eval.c
  src/nvim/ex_getln.c
  src/nvim/if_cscope.c
  src/nvim/lua/executor.c
  src/nvim/message.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/popupmnu.c
  src/nvim/screen.c
  src/nvim/sign.c
  src/nvim/tui/input.c
  src/nvim/version.c
Labels: vim-patch

#16818 vim-patch:8.2.{3454,3455,3497,3540,3581,3678}: some "p" and "gp" patches
  src/nvim/ex_docmd.c
  src/nvim/ops.c
  src/nvim/testdir/test_put.vim
Labels: vim-patch

#16976 vim-patch:8.2.{4018,4026,4028} & `nvim_win_call` fixes
  src/nvim/api/private/helpers.c
  src/nvim/api/window.c
  src/nvim/autocmd.c
  src/nvim/autocmd.h
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/move.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_execute_func.vim
  src/nvim/window.c
  src/nvim/window.h
  test/functional/lua/vim_spec.lua
Labels: api, vim-patch

#17283 ci: only show last 100 lines of log on error
  test/helpers.lua
Labels: tests, ci

#17272 vim-patch:8.1.{0846,0878,0884,2358},8.2.{0305,0352,0687,3797}
  runtime/doc/builtin.txt
  runtime/doc/eval.txt
  runtime/doc/message.txt
  src/nvim/eval/funcs.c
  src/nvim/testdir/check.vim
  src/nvim/testdir/test_alot_utf8.vim
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_number.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_source_utf8.vim
  src/nvim/testdir/test_utf8_comparisons.vim
  src/nvim/testdir/test_writefile.vim
Labels: vim-patch

#17152 vim-patch:8.2.3583: the "gd" and "gD" commands do not update search stats
  src/nvim/normal.c
  src/nvim/testdir/test_search_stat.vim
  test/functional/legacy/search_stat_spec.lua
Labels: vim-patch

#17287 vim-patch:8.1.2133: some tests fail when run as root
  src/nvim/testdir/check.vim
  src/nvim/testdir/shared.vim
  src/nvim/testdir/test_rename.vim
  src/nvim/testdir/test_swap.vim
Labels: vim-patch

#17275 refactor(api): use a keyset for highlight dicts
  src/nvim/api/keysets.lua
  src/nvim/api/vim.c
  src/nvim/generators/gen_keysets.lua
  src/nvim/highlight.c
  src/nvim/highlight_defs.h
  src/nvim/syntax.c
Labels: api, refactor

#17298 vim-patch:8.2.4298: divide by zero with huge tabstop value
  src/nvim/option.c
  src/nvim/testdir/test_vartabs.vim
Labels: vim-patch

#17290 ci: simplify CI process
  ci/common/build.sh
  ci/common/suite.sh
  ci/common/test.sh
  ci/run_lint.sh
  ci/run_tests.sh
Labels: ci

#17020 vim-patch:8.1.{2342,2343,2356,2357},8.2.0233: `rand` and `srand`
  runtime/doc/builtin.txt
  runtime/doc/vim_diff.txt
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/testdir/test_random.vim
Labels: vimscript, vim-patch

#17300 fix(diff): make algorithm work for vim.diff
  src/nvim/lua/xdiff.c
  test/functional/lua/xdiff_spec.lua
Labels: lua, diff

#17077 vim-patch:8.2.{1727,2324,2363}: charcol(), getcharpos(), getcursorcharpos(), setcharpos(), setcursorcharpos()
  runtime/doc/builtin.txt
  runtime/doc/eval.txt
  runtime/doc/usr_41.txt
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/tag.c
  src/nvim/testdir/test_cursor_func.vim
  src/nvim/testdir/test_functions.vim
Labels: vim-patch

#16862 vim-patch:8.2.{2658,2661,2736}: for loop over strings
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/testdir/test_eval_stuff.vim
  src/nvim/testdir/test_vimscript.vim
Labels: vimscript, vim-patch

#17310 ci(commitlint): use lintcommit.lua from main repo
  .github/workflows/commitlint.yml
Labels: ci, backport release-0.6

#17277 build(win): package the debug symbols (PDB file) along with nvim.exe
  src/nvim/CMakeLists.txt
Labels: build, platform:windows, backport release-0.6

#17306 Vim 8.2.4305: tex filetype detection fails; Vim 8.2.4306: no test for fixed perl filetype check
  runtime/autoload/dist/ft.vim
  src/nvim/testdir/test_filetype.vim
Labels: vim-patch, filetype

#17302 fix(lua): restore priority of the preloader
  src/nvim/lua/vim.lua
Labels: lua

#17279 fix(event-loop): call vpeekc() directly first to check for character
  src/nvim/eval/funcs.c
  src/nvim/state.c
  test/functional/ui/input_spec.lua
  test/functional/vimscript/timer_spec.lua
Labels: event-loop

#17305 vim-patch:8.2.1741: pathshorten() only supports using one character
  runtime/doc/builtin.txt
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/path.c
  src/nvim/screen.c
  src/nvim/testdir/test_functions.vim
Labels: vim-patch

#17299 vim-patch:7.4.{1163,1164,1167,1173,1178,1181,1228},8.1.0711
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_charsearch_utf8.vim
  src/nvim/testdir/test_display.vim
  src/nvim/testdir/test_edit.vim
  src/nvim/testdir/test_ins_complete.vim
  src/nvim/testdir/test_lambda.vim
  src/nvim/testdir/test_listdict.vim
  src/nvim/testdir/test_marks.vim
  src/nvim/testdir/test_matchadd_conceal.vim
  src/nvim/testdir/test_matchadd_conceal_utf8.vim
  src/nvim/testdir/test_messages.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_substitute.vim
  src/nvim/testdir/test_system.vim
  src/nvim/testdir/test_utf8_comparisons.vim
  src/nvim/testdir/test_vartabs.vim
  src/nvim/testdir/test_vimscript.vim
  src/nvim/testdir/test_window_cmd.vim
  test/functional/legacy/eval_spec.lua
Labels: vim-patch

#17263 vim-patch:8.2.{0208,0215,0942,3824,3939}: fnamemodify() patches
  runtime/doc/cmdline.txt
  src/nvim/eval.c
  src/nvim/os/env.c
  src/nvim/path.c
  src/nvim/testdir/test_fnamemodify.vim
Labels: vim-patch

#16873 vim-patch:8.2.{1665,1726,1872,1893,1921,2280,2813}: `matchfuzzy` and friends
  runtime/doc/builtin.txt
  runtime/doc/pattern.txt
  runtime/doc/quickfix.txt
  runtime/doc/usr_41.txt
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/ex_cmds.c
  src/nvim/globals.h
  src/nvim/quickfix.c
  src/nvim/quickfix.h
  src/nvim/search.c
  src/nvim/search.h
  src/nvim/testdir/test_matchfuzzy.vim
  src/nvim/testdir/test_quickfix.vim
Labels: enhancement, vim-patch

#17311 vim-patch:8.2.{4303,4307}: a few messages should not be translated
  src/nvim/syntax.c
Labels: vim-patch

#17323 ci: add reviewers based on label
  .github/workflows/labeler.yml
Labels: ci

#17327 test: add Lua functional tests for Ex mode
  src/nvim/testdir/test_ex_mode.vim
  test/functional/legacy/ex_mode_spec.lua
Labels: tests

#17334 vim-patch:8.2.4326: "o" and "O" copying comment not sufficiently tested
  src/nvim/change.c
  src/nvim/testdir/test_textformat.vim
Labels: vim-patch

#16553 vim-patch:8.2.{0882,1051,1083}: port `reduce()` function
  runtime/doc/builtin.txt
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/testdir/test_listdict.vim
Labels: vim-patch

#17328 vim-patch:8.2.0197: some Ex commands not sufficiently tested
  src/nvim/testdir/test_global.vim
  src/nvim/testdir/test_help.vim
  src/nvim/testdir/test_help_tagjump.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_substitute.vim
  src/nvim/testdir/test_textformat.vim
  src/nvim/testdir/test_writefile.vim
Labels: vim-patch

#17326 vim-patch:8.1.2297: the ex_vimgrep() function is too long
  src/nvim/quickfix.c
Labels: vim-patch

#17330 ci: add write permissions to add-reviewer job
  .github/workflows/labeler.yml
Labels: ci

#17332 feat(term): Use vterm_output_set_callback()
  src/nvim/channel.c
  src/nvim/terminal.c
  third-party/CMakeLists.txt
Labels: terminal

#17347 refactor(PVS/V547): p == NULL is always false
  src/nvim/screen.c
Labels: refactor

#17350 vim-patch:8.2.{1316,2199,2201,2202}
  src/nvim/fileio.c
  src/nvim/testdir/test_writefile.vim
Labels: vim-patch

#17346 vim-patch:8.2.{4242,4315}: put in Visual mode cannot be repeated
  runtime/doc/change.txt
  runtime/doc/index.txt
  runtime/doc/visual.txt
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/testdir/test_visual.vim
  test/functional/editor/put_spec.lua
Labels: vim-patch

#17345 vim-patch:8.2.4329: no support for end line number and column in 'errorformat'
  runtime/doc/quickfix.txt
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: vim-patch

#17352 vim-patch:8.2.4337
  src/nvim/eval.c
Labels: vim-patch

#17342 refactor(mbyte.c): add const qualifiers
  src/nvim/buffer.c
  src/nvim/mbyte.c
  src/nvim/ops.c
Labels: refactor

#17349 ci: add more reviewers based on label
  .github/workflows/labeler.yml
Labels: ci

#17322 ci/simplify ci process
  ci/common/build.sh
  ci/common/suite.sh
  ci/common/test.sh
  ci/run_tests.sh
Labels: ci

#17353 fix(api): use changedir_func() in nvim_set_current_dir()
  src/nvim/api/vim.c
  test/functional/api/vim_spec.lua
Labels: api

#17012 prevent checkhealth failure when plugin's check returns void
  runtime/autoload/health.vim
  test/functional/fixtures/lua/test_plug/submodule_empty/health.lua
  test/functional/plugin/health_spec.lua
Labels: plugin

#17368 test: convert Test_file_changed_dialog() to Lua functional test
  src/nvim/testdir/test_filechanged.vim
  test/functional/legacy/filechanged_spec.lua
Labels: tests

#17051 fix(lsp): correct prefix when filterText is present
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#17365 fix(query.lua): check empty table for lines
  runtime/lua/vim/treesitter/query.lua
  test/functional/treesitter/parser_spec.lua
Labels: lua, treesitter

#17372 ci(commitlint): allow first non-space character to be a quote
  scripts/lintcommit.lua
Labels: ci

#17325 doc(stdioopen): add missing documentation for on_print param
  runtime/doc/builtin.txt
Labels: documentation

#16841 vim-patch:8.1.2073: when editing a buffer 'colorcolumn' may not work
  src/nvim/buffer.c
  src/nvim/option.c
  src/nvim/testdir/test_highlight.vim
  src/nvim/window.c
  test/functional/ui/highlight_spec.lua
Labels: vim-patch

#17370 ci: fix reviews workflow by sending an artifact with PR number
  .github/workflows/labeler.yml
  .github/workflows/reviews.yml
Labels: ci

#17371 revert: "ci: use continue-on-error instead of "|| true""
  .github/workflows/labeler.yml
Labels: ci

#17377 feat(highlight): add strikethrough, nocombine to `nvim_set_hl`
  src/nvim/api/keysets.lua
  src/nvim/highlight.c
  test/functional/api/highlight_spec.lua
Labels: api, highlight

#17383 refactor(signs): more efficient signcol calc
  src/nvim/buffer.c
  src/nvim/option.c
  src/nvim/screen.c
Labels: refactor, column

#17379 vim-patch:8.2.4352: ReScript files are not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: runtime, lua, vim-patch

#16643 vim-patch:8.1.2184,8.2.3804: option context is not copied when splitting a window
  src/nvim/option.c
  src/nvim/testdir/test_options.vim
Labels: vim-patch

#17385 vim-patch:8.2.{4359,4362,4363,4364}: crash when repeatedly using :retab
  src/nvim/ex_cmds.c
  src/nvim/globals.h
  src/nvim/pos.h
  src/nvim/testdir/test_retab.vim
Labels: vim-patch

#17375 fix: autoload variables not loaded with vim.g & nvim_get_var
  src/nvim/api/vim.c
  src/nvim/lua/stdlib.c
  test/functional/api/vim_spec.lua
  test/functional/lua/vim_spec.lua
Labels: api, lua

#17380 ci(labeler): add filetype label if filetype.lua has changed
  .github/labeler.yml
Labels: ci, filetype

#17392 ci: only request review on open non-draft PRs
  .github/workflows/reviews.yml
Labels: ci

#17374 vim-patch:8.2.{3510,3512,3514,3515,3534}: nanosecond timestamp change detection
  src/nvim/buffer_defs.h
  src/nvim/eval/funcs.c
  src/nvim/fileio.c
  src/nvim/memline.c
  src/nvim/testdir/test_stat.vim
Labels: vim-patch

#17394 vim-patch:8.2.4343: when reloading not all properties are detected
  runtime/doc/editing.txt
  runtime/doc/eval.txt
  src/nvim/fileio.c
  src/nvim/message.c
  src/nvim/spellfile.c
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_filechanged.vim
  test/functional/legacy/filechanged_spec.lua
Labels: vim-patch

#17402 vim-patch:8.2.{3073,4120,4151,4152}
  src/nvim/ops.c
  src/nvim/testdir/test_blockedit.vim
  src/nvim/testdir/test_utf8.vim
  src/nvim/testdir/test_visual.vim
  test/functional/legacy/utf8_spec.lua
Labels: vim-patch

#17405 ci: add more reviewers
  ci/reviews.js
Labels: ci

#17409 ci(labeler): disable sync that interferes with other jobs
  .github/workflows/labeler.yml
Labels: ci

#17412 vim-patch:8.2.4154: ml_get error when exchanging windows in Visual mode
  src/nvim/testdir/test_visual.vim
  src/nvim/window.c
Labels: vim-patch

#17411 vim-patch:8.2.{3820,3823}: "vrc" does not replace composing characters
  src/nvim/ops.c
  src/nvim/testdir/test_visual.vim
Labels: vim-patch

#17417 vim-patch:8.2.4388: dead code in op_insert()
  src/nvim/ops.c
Labels: vim-patch

#17406 fix(api): validate command names in nvim_add_user_command
  src/nvim/api/private/helpers.c
  src/nvim/ex_docmd.c
  test/functional/api/command_spec.lua
Labels: api

#17418 revert: "ci: run functionaltest-lua on drafts as well"
  .github/workflows/ci.yml
Labels: ci

#17422 fix: <Nop> not shown in :map commands
  src/nvim/getchar.c
  test/functional/api/keymap_spec.lua
Labels: mappings

#17423 fix: :filter not considering map desc
  runtime/doc/map.txt
  src/nvim/getchar.c
  test/functional/api/keymap_spec.lua
Labels: mappings

#16678 fix(api): re-route nvim_get_runtime_file errors
  src/nvim/api/vim.c
  test/functional/api/vim_spec.lua
Labels: api

#14196 feat(tree-sitter): allow Atom-style capture fallbacks
  runtime/lua/vim/treesitter/highlighter.lua
  test/functional/treesitter/highlight_spec.lua
Labels: treesitter

#17363 feat(events): add DirChangedPre
  runtime/doc/autocmd.txt
  runtime/doc/vim_diff.txt
  src/nvim/auevents.lua
  src/nvim/autocmd.c
  src/nvim/ex_docmd.c
  src/nvim/file_search.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/window.c
  test/functional/autocmd/dirchanged_spec.lua
Labels: events

#17429 vim-patch:8.2.{4392,4394,4400}
  src/nvim/getchar.c
Labels: vim-patch

#17431 vim-patch:8.2.4345
  src/nvim/autocmd.c
  src/nvim/testdir/test_autocmd.vim
Labels: vim-patch

#17421 fix(highlight): global ns improvements
  src/nvim/highlight.c
  src/nvim/syntax.c
  test/functional/api/highlight_spec.lua
Labels: api, highlight

#17444 fix(api): allow empty list for cterm in nvim_set_hl
  src/nvim/highlight.c
  test/functional/api/highlight_spec.lua
Labels: api, highlight

#17427 ci(lint): remove unnecessary steps
  .github/workflows/ci.yml
Labels: ci

#17430 test: remove checks to see if current CI job is travis or appveyor
  test/functional/api/server_requests_spec.lua
  test/functional/core/job_spec.lua
  test/functional/ex_cmds/ctrl_c_spec.lua
  test/helpers.lua
Labels: tests

#17433 vim-patch:8.2.{3492,3493,3570,3573,3574,3575,3577,3601}: put overflow checking shenanigans
  runtime/doc/vim_diff.txt
  src/nvim/ops.c
  src/nvim/testdir/test_put.vim
  test/functional/legacy/put_spec.lua
Labels: vim-patch

#17450 ci(lint): simplify cache key
  .github/workflows/ci.yml
Labels: ci

#17445 ci: download reviews.js through checkout instead of wget
  .github/workflows/labeler.yml
  .github/workflows/reviews.yml
Labels: ci

#17200 refactor(lua): call `loadfile` internally instead of `luaL_loadfile`
  src/nvim/lua/executor.c
Labels: lua, core

#17451 vim-patch:8.2.4414: solidity files are not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: runtime, lua, vim-patch, filetype

#17454 ci(labeler): change "tests" to "test"
  .github/labeler.yml
Labels: ci

#17461 fix: lsp and diagnostic highlight priority
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp, diagnostic

#17464 vim-patch:8.2.4424: ".gts" and ".gjs" files are not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: runtime, lua, vim-patch, filetype

#17460 vim-patch:8.2.{4403,4418,4419,4422}
  src/nvim/buffer.c
  src/nvim/change.c
  src/nvim/mbyte.c
  src/nvim/path.c
  src/nvim/testdir/test_autochdir.vim
  src/nvim/testdir/test_tabline.vim
Labels: vim-patch

#17470 ci: remove success check since it's the default
  .github/workflows/ci.yml
Labels: ci

#17469 Use system dependencies for lint CI
  .github/workflows/ci.yml
  .github/workflows/env.sh
  ci/before_cache.sh
Labels: ci

#17471 fix(lsp): use botright copen for all handlers
  runtime/lua/vim/lsp/handlers.lua
Labels: lua, lsp

#17475 fix(diagnostic): use botright copen for qflist
  runtime/lua/vim/diagnostic.lua
Labels: lua, diagnostic

#17480 vim-patch:8.2.4427: getchar() may return modifiers if no character is available
  src/nvim/eval/funcs.c
  src/nvim/testdir/test_functions.vim
Labels: vim-patch

#17465 docs: clarify ftdetect scripts loading during packadd
  runtime/doc/repeat.txt
Labels: documentation

#17403 vim-patch:8.1.{1846,1955},8.2.0156
  src/nvim/buffer.c
  src/nvim/charset.c
  src/nvim/ex_docmd.c
  src/nvim/getchar.c
  src/nvim/option.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_breakindent.vim
  src/nvim/testdir/test_cindent.vim
  src/nvim/testdir/test_digraph.vim
  src/nvim/testdir/test_edit.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_profile.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_registers.vim
  src/nvim/testdir/test_stat.vim
  src/nvim/testdir/test_suspend.vim
  src/nvim/testdir/test_system.vim
  src/nvim/testdir/test_vimscript.vim
Labels: vim-patch

#17484 ci: skip ci workflow on only documentation changes
  .github/workflows/ci.yml
Labels: ci

#17487 fix(highlight): accept NONE as a color name
  src/nvim/api/vim.c
  src/nvim/highlight.c
  test/functional/api/highlight_spec.lua
Labels: highlight

#17462 refactor(highlight)!: optional arguments for vim.highlight as table
  runtime/doc/lua.txt
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/highlight.lua
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp, diagnostic

#17490 vim-patch:partial 944697ae1968
  runtime/syntax/structurizr.vim
Labels: vim-patch

#15181 feat(api): implement nvim_buf_get_text
  runtime/doc/api.txt
  src/nvim/api/buffer.c
  src/nvim/api/private/helpers.c
  test/functional/api/buffer_spec.lua
Labels: api

#17493 vim-patch:partial 944697ae196
  runtime/doc/builtin.txt
  runtime/doc/editing.txt
  runtime/doc/options.txt
Labels: documentation, vim-patch

#17498 fix(api)!: correctly handle negative line numbers for nvim_buf_set_text
  src/nvim/api/buffer.c
  test/functional/api/buffer_spec.lua
Labels: api

#17390 ci: improve cpack packaging
  .github/workflows/notes.md
  .github/workflows/release.yml
  CMakeLists.txt
  LICENSE.txt
  ci/build.ps1
  packaging/CMakeLists.txt
  packaging/logo.icns
  packaging/logo.ico
  packaging/logo.svg
Labels: build, ci

#17516 feat(highlight): support for blend in nvim_set_hl
  src/nvim/api/keysets.lua
  src/nvim/highlight.c
  test/functional/api/highlight_spec.lua
Labels: highlight

#17517 feat(filetype): support scripts.vim with filetype.lua
  runtime/filetype.lua
Labels: filetype

#17467 ci: remove failing windows CI tests
  .github/workflows/ci.yml
  .github/workflows/release.yml
  ci/build.ps1
  cmake/RunTests.cmake
  src/nvim/testdir/test_alot.vim
  test/functional/api/buffer_updates_spec.lua
  test/functional/core/job_spec.lua
  test/functional/core/startup_spec.lua
  test/functional/ex_cmds/mksession_spec.lua
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/cursor_spec.lua
  test/functional/terminal/edit_spec.lua
  test/functional/terminal/ex_terminal_spec.lua
  test/functional/terminal/highlight_spec.lua
  test/functional/terminal/scrollback_spec.lua
  test/functional/terminal/window_spec.lua
  test/functional/ui/hlstate_spec.lua
  test/functional/ui/messages_spec.lua
  test/functional/ui/output_spec.lua
  third-party/cmake/BuildGettext.cmake
  third-party/cmake/BuildGperf.cmake
  third-party/cmake/BuildLibiconv.cmake
  third-party/cmake/BuildLibtermkey.cmake
  third-party/cmake/BuildLibuv.cmake
  third-party/cmake/BuildLibvterm.cmake
  third-party/cmake/BuildLuv.cmake
  third-party/cmake/BuildMsgpack.cmake
  third-party/cmake/BuildTreesitter.cmake
  third-party/cmake/BuildTreesitterParsers.cmake
  third-party/cmake/BuildUnibilium.cmake
Labels: build, ci, dependencies

#17472 signcol improvements
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/option.c
  src/nvim/screen.c
  test/functional/ui/sign_spec.lua
Labels: column

#17479 docs: update explanation of Y to reflect new defaults
  runtime/doc/index.txt
  runtime/doc/quickref.txt
  runtime/doc/usr_04.txt
  runtime/doc/usr_07.txt
  runtime/doc/usr_10.txt
Labels: documentation, backport release-0.6

#17219 build(deps): bump libuv and luv
  third-party/CMakeLists.txt
  third-party/cmake/BuildLibuv.cmake
  third-party/patches/libuv-disable-typedef-MinGW.patch
Labels: build, dependencies

#17518 vim-patch:8.2.4464: Dtrace files are recognized as filetype D
  runtime/autoload/dist/ft.vim
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: runtime, lua, vim-patch, filetype

#17527 test: use helpers.pending_win32(pending) instead of iswin()
  test/functional/api/buffer_updates_spec.lua
  test/functional/ex_cmds/mksession_spec.lua
  test/functional/terminal/cursor_spec.lua
  test/functional/ui/output_spec.lua
Labels: test

#17337 refactor(PVS/V560): part of conditional expression is always true/false
  src/mpack/lmpack.c
Labels: refactor

#17414 fix(api): nvim_win_set_cursor() redraw for cursorline and statusline
  src/nvim/api/window.c
  test/functional/api/window_spec.lua
Labels: api, display

#16845 fix(aucmd_win): ensure aucmd_win stays floating
  src/nvim/eval/funcs.c
  src/nvim/window.c
  test/functional/autocmd/autocmd_spec.lua
Labels: events

#17532 ci: add timeout to all jobs
  .github/workflows/ci.yml
Labels: ci

#17432 vim-patch:8.1.2336,8.2.{4338,4401}: mapping cursor and redrawing patches
  src/nvim/getchar.c
  src/nvim/testdir/test_mapping.vim
  test/functional/ex_cmds/map_spec.lua
  test/functional/ui/cmdline_highlight_spec.lua
Labels: vim-patch

#17386 support threads in lua
  runtime/doc/lua.txt
  runtime/lua/vim/_load_package.lua
  src/cjson/lua_cjson.c
  src/nvim/CMakeLists.txt
  src/nvim/api/vim.c
  src/nvim/lua/converter.c
  src/nvim/lua/executor.c
  src/nvim/lua/executor.h
  src/nvim/lua/stdlib.c
  src/nvim/lua/vim.lua
  src/nvim/main.c
  src/nvim/os/fs.c
  src/nvim/runtime.c
  test/functional/lua/thread_spec.lua
Labels: api, lua

#17530 vim-patch:c51cf0329809
  runtime/autoload/dist/ft.vim
  runtime/doc/autocmd.txt
  runtime/doc/builtin.txt
  runtime/doc/change.txt
  runtime/doc/cmdline.txt
  runtime/doc/diff.txt
  runtime/doc/editing.txt
  runtime/doc/eval.txt
  runtime/doc/fold.txt
  runtime/doc/ft_raku.txt
  runtime/doc/ft_rust.txt
  runtime/doc/ft_sql.txt
  runtime/doc/if_pyth.txt
  runtime/doc/insert.txt
  runtime/doc/map.txt
  runtime/doc/motion.txt
  runtime/doc/options.txt
  runtime/doc/pattern.txt
  runtime/doc/pi_netrw.txt
  runtime/doc/print.txt
  runtime/doc/quickfix.txt
  runtime/doc/sign.txt
  runtime/doc/spell.txt
  runtime/doc/starting.txt
  runtime/doc/syntax.txt
  runtime/doc/tabpage.txt
  runtime/doc/tagsrch.txt
  runtime/doc/term.txt
  runtime/doc/tips.txt
  runtime/doc/undo.txt
  runtime/doc/usr_05.txt
  runtime/doc/various.txt
  runtime/doc/windows.txt
  runtime/indent/vim.vim
Labels: runtime, vim-patch

#17540 ci(lint): use bundled luv until system packages are updated
  .github/workflows/ci.yml
  .github/workflows/env.sh
  CMakeLists.txt
Labels: build, ci

#16969 feat: ignore nore on <Plug> maps
  runtime/doc/lua.txt
  runtime/doc/map.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/keymap.lua
  src/nvim/getchar.c
  test/functional/ex_cmds/map_spec.lua
Labels: mappings

#17522 feat(lua): add <f-args> to user commands callback
  runtime/doc/api.txt
  src/nvim/api/vim.c
  src/nvim/ex_docmd.c
  src/nvim/lua/executor.c
  test/functional/api/command_spec.lua
Labels: api, lua

#14661 lua: autocmds take 2
  .gitignore
  scripts/gen_vimdoc.py
  scripts/uncrustify.sh
  src/nvim/api/autocmd.c
  src/nvim/api/autocmd.h
  src/nvim/api/keysets.lua
  src/nvim/api/private/dispatch.c
  src/nvim/api/private/helpers.c
  src/nvim/api/private/helpers.h
  src/nvim/aucmd.c
  src/nvim/aucmd.h
  src/nvim/autocmd.c
  src/nvim/autocmd.h
  src/nvim/diff.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/eval/typval.h
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/globals.h
  src/nvim/keymap.h
  src/nvim/lua/executor.c
  src/nvim/lua/executor.h
  src/nvim/main.c
  src/nvim/map.c
  src/nvim/map.h
  src/nvim/tui/input.c
  src/nvim/ui.c
  test/functional/api/autocmd_spec.lua
  test/functional/autocmd/autocmd_oldtest_spec.lua
  test/functional/autocmd/autocmd_spec.lua
  test/functional/autocmd/cursormoved_spec.lua
  test/functional/autocmd/show_spec.lua
  test/functional/autocmd/termxx_spec.lua
  test/functional/plugin/shada_spec.lua
Labels: api, lua, events

#17476 test: correct emmylua annotations
  test/helpers.lua
Labels: test

#17529 fix(api): convert blob to NUL-terminated API string
  src/nvim/api/private/converter.c
  test/functional/lua/api_spec.lua
Labels: api

#17551 feat(lua_autocmd): episode III (the autocmds strike back)
  runtime/doc/api.txt
  src/nvim/api/autocmd.c
  src/nvim/api/keysets.lua
  src/nvim/api/private/helpers.c
  src/nvim/api/private/helpers.h
  src/nvim/autocmd.c
  src/nvim/autocmd.h
  src/nvim/eval/typval.c
  src/nvim/lua/executor.c
  test/functional/api/autocmd_spec.lua
Labels: lua
