Repository neovim/neovim, pull requests merged in 2022-01, with the labels that each got.

#16852 vim-patch:partial 04fb91668482
  runtime/doc/change.txt
  runtime/doc/filetype.txt
  runtime/doc/insert.txt
Labels: runtime, vim-patch

#16866 vim-patch:8.2.3964: some common lisp and scheme files not recognized
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: runtime, vim-patch

#16857 vim-patch:8.2.3956
  src/nvim/eval/funcs.c
Labels: vim-patch

#16860 test: make some tests more stable
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/tui_spec.lua
Labels: tests

#16871 perf(api): elide luaref copy when setting 'callback' in nvim_set_keymap
  src/nvim/api/private/helpers.c
Labels: api, mappings

#16840 ci: bump clang version to 13 in asan and tsan
  .github/workflows/ci.yml
  .github/workflows/env.sh
Labels: ci

#16870 refactor(PVS/V009): add special comment at top of file required by PVS
  src/nvim/lua/spell.c
Labels: refactor, lua

#16863 build(deps): bump tree-sitter to v0.20.2
  third-party/CMakeLists.txt
Labels: build, dependencies

#16869 ci: remove outdated travis-specific code
  ci/before_install.sh
  ci/before_script.sh
  ci/install.sh
  ci/script.sh
Labels: ci

#16864 feat(lua): add support for multiple optional types in vim.validate
  runtime/doc/lua.txt
  runtime/lua/vim/shared.lua
  test/functional/lua/vim_spec.lua
Labels: api, lua

#16855 fix(diagnostic): improve validation for list arguments
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/shared.lua
  test/functional/lua/diagnostic_spec.lua
Labels: diagnostic

#16876 fix(lsp): always use target bufnr in location handler
  runtime/lua/vim/lsp/util.lua
Labels: lsp, backport release-0.6

#16883 ci: remove watchdog function run_tests_wd
  ci/common/suite.sh
  ci/run_lint.sh
Labels: ci

#16853 ci: run lint only on master branch
  .github/workflows/ci.yml
Labels: ci, backport release-0.6

#16888 [Backport release-0.6] ci: run lint only on master branch
  .github/workflows/ci.yml
Labels: ci

#16890 ci: remove unnecessary before_install script
  .github/workflows/ci.yml
  ci/before_install.sh
  ci/install.sh
  ci/run_tests.sh
Labels: ci

#16889 fix: resolve nil arguments to API functions
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp, diagnostic

#16886 docs(usr_05): fix section numbers
  runtime/doc/usr_05.txt
  runtime/doc/usr_toc.txt
Labels: documentation, backport release-0.6

#16745 fix(lua): stricter type check when calling API function
  src/nvim/lua/converter.c
  test/functional/lua/api_spec.lua
Labels: api, lua

#16874 ci: simplify ci_fold function
  ci/common/suite.sh
  src/nvim/testdir/runnvim.sh
Labels: ci

#16899 vim-patch:8.2.3995: not all sshconfig files are detected as such
  runtime/filetype.vim
  src/nvim/testdir/test_filetype.vim
Labels: runtime, vim-patch

#16902 fix(lsp): resolve nil bufnr
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp

#16859 chore(build): compile lua only on release builds
  CMakeLists.txt
Labels: build

#16901 ci: add jamessan as codeowner for ci related files
  .github/CODEOWNERS
Labels: ci

#16903 ci: install flake8 with apt instead of pip
  .github/workflows/ci.yml
  ci/install.sh
Labels: ci

#16906 fix(lsp): explicitly pass bufnr in didSave handler
  runtime/lua/vim/lsp.lua
Labels: lsp, backport release-0.6

#16912 feat(lua): make :lua =expr print result of expr
  runtime/doc/lua.txt
  src/nvim/lua/executor.c
  test/functional/lua/commands_spec.lua
Labels: lua

#16911 test: make test for #14040 more stable
  test/functional/legacy/memory_usage_spec.lua
Labels: tests

#16600 feat: filetype.lua
  runtime/doc/filetype.txt
  runtime/doc/lua.txt
  runtime/filetype.lua
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  scripts/gen_filetype.lua
  scripts/gen_vimdoc.py
  src/nvim/CMakeLists.txt
  src/nvim/ex_docmd.c
  src/nvim/globals.h
  src/nvim/lua/executor.c
  src/nvim/lua/vim.lua
  test/functional/lua/filetype_spec.lua
Labels: enhancement, api, runtime, lua, core

#16904 fix(lsp): suppress ContentModified errors from UI
  runtime/lua/vim/lsp/handlers.lua
Labels: lua, lsp

#16816 chore: fix typos
  .github/workflows/ci.yml
  runtime/doc/api.txt
  runtime/doc/channel.txt
  runtime/doc/develop.txt
  runtime/doc/lsp-extension.txt
  runtime/doc/lua.txt
  runtime/doc/term.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/sync.lua
  runtime/lua/vim/treesitter/languagetree.lua
  src/nvim/api/vim.c
  src/nvim/options.lua
  src/nvim/viml/parser/expressions.c
  src/nvim/viml/parser/expressions.h
  test/unit/charset/vim_str2nr_spec.lua
  test/unit/garray_spec.lua
  test/unit/os/env_spec.lua
  test/unit/os/fs_spec.lua
Labels: typo

#16918 fix(api): force redefinition of user commands by default
  runtime/doc/api.txt
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
Labels: api

#16923 feat(filetype.lua): Add typescript extension to filetype detection
  runtime/lua/vim/filetype.lua
Labels: lua

#16920 test: fix absolute paths in filetype_spec
  test/functional/lua/filetype_spec.lua
Labels: tests

#16927 chore: ignore unused args in filetype functions
  runtime/lua/vim/filetype.lua
Labels: lua

#16926 Feat(filetype.lua): Add support for txt files
  runtime/lua/vim/filetype.lua
Labels: runtime, lua

#16828 feat(RecordingLeave) populate v:event
  runtime/doc/autocmd.txt
  src/nvim/ops.c
  test/functional/autocmd/recording_spec.lua
Labels: events

#16943 fix(filetype): match on <afile> rather than <abuf>
  runtime/filetype.lua
  runtime/lua/vim/filetype.lua
  test/functional/lua/filetype_spec.lua
Labels: lua

#16942 test(filetype): port test_filetype to Lua
  runtime/lua/vim/filetype.lua
  test/functional/lua/filetype_spec.lua
Labels: lua

#16817 vim-patch:8.2.3921: the way xdiff is used is inefficient
  src/nvim/diff.c
Labels: vim-patch, diff

#16591 feat(lua): add support for lua keymaps
  runtime/doc/lua.txt
  runtime/lua/vim/keymap.lua
  scripts/gen_vimdoc.py
  src/nvim/lua/vim.lua
  test/functional/lua/vim_spec.lua
Labels: lua, mappings

#16956 feat(lua): add notify_once()
  runtime/doc/lua.txt
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/util.lua
  src/nvim/lua/vim.lua
  test/functional/lua/vim_spec.lua
Labels: lua, lsp

#16933 fix(lua): :lua =expr doesn't work if expr returns multiple values
  runtime/doc/lua.txt
  src/nvim/lua/executor.c
  src/nvim/lua/vim.lua
  test/functional/lua/commands_spec.lua
Labels: lua

#16930 fix(runtime): check markdownError before syn-clear
  runtime/syntax/checkhealth.vim
Labels: runtime

#16967 vim-patch:8.2.0951: search stat test has leftover from debugging
  src/nvim/testdir/test_search_stat.vim
Labels: vim-patch

#16953 vim-patch:8.2.4014: git and gitcommit file types not properly recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  runtime/scripts.vim
  src/nvim/testdir/test_filetype.vim
  test/functional/lua/filetype_spec.lua
Labels: runtime, lua, vim-patch

#16881 feat(lsp): skip or reduce debounce after idle
  runtime/lua/vim/lsp.lua
Labels: lsp

#16970 ci: run type-scope job after the triage job
  .github/workflows/labeler.yml
Labels: ci

#16984 vim-patch:8.2.4033: running filetype tests leaves directory behind
  src/nvim/testdir/test_filetype.vim
Labels: vim-patch

#16980 fix(filetype): match negative priority patterns after extensions
  runtime/lua/vim/filetype.lua
Labels: lua

#16986 fix(lsp): resolve bufnr for get_lines
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp, backport release-0.6

#16993 test: remove redundant feed_command('terminal')
  test/functional/terminal/buffer_spec.lua
Labels: tests

#16848 refactor: avoid overflow by explicitly casting operand to a wider type
  src/nvim/ex_docmd.c
  src/nvim/memfile.c
  src/nvim/memline.c
  src/nvim/screen.c
Labels: refactor

#16987 fix(lsp): only send command and args in executeCommand
  runtime/lua/vim/lsp/buf.lua
Labels: lua, lsp, backport release-0.6

#16979 ci: set CLANG_SANITIZER variable to TSAN when running the tsan job
  .github/workflows/env.sh
Labels: ci

#17000 ci: use continue-on-error instead of "|| true"
  .github/workflows/labeler.yml
Labels: ci

#16983 test: add VIMRUNTIME variable to the clear function
  test/functional/core/startup_spec.lua
  test/functional/helpers.lua
Labels: tests

#16965 ci: add reviewer based on label
  .github/CODEOWNERS
  .github/workflows/labeler.yml
Labels: ci

#17004 fix(api): validate user_command name
  src/nvim/api/private/helpers.c
Labels: api

#16849 refactor(PVS/V1048): prevent "variable was assigned the same value" warning
  src/nvim/memline.c
Labels: refactor

#17013 ci: add a continue-on-error to the add-reviewer jobs
  .github/workflows/labeler.yml
Labels: ci

#17006 feat(treesitter): set allocator when possible
  CMakeLists.txt
  src/nvim/lua/treesitter.c
Labels: build, lua, treesitter

#17015 fix(lsp): ensure pending changes are flushed on skipped debounce
  runtime/lua/vim/lsp.lua
Labels: lua, lsp, backport release-0.6

#13709 runtime: Fix man.vim's searching function
  runtime/autoload/man.vim
Labels: runtime

#16961 vim-patch:8.2.3582
  src/nvim/spell.c
  src/nvim/testdir/test_spell.vim
Labels: vim-patch, spell

#17007 vim-patch:2f0936cb9a2e
  runtime/doc/cmdline.txt
  runtime/doc/eval.txt
  runtime/doc/helphelp.txt
  runtime/doc/if_cscop.txt
  runtime/doc/indent.txt
  runtime/doc/insert.txt
  runtime/doc/map.txt
  runtime/doc/mbyte.txt
  runtime/doc/message.txt
  runtime/doc/options.txt
  runtime/doc/pattern.txt
  runtime/doc/quickfix.txt
  runtime/doc/syntax.txt
  runtime/doc/various.txt
  runtime/doc/windows.txt
  runtime/filetype.vim
  runtime/ftplugin/git.vim
  runtime/ftplugin/gitcommit.vim
  runtime/ftplugin/gitrebase.vim
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  runtime/syntax/git.vim
  runtime/syntax/gitcommit.vim
  runtime/syntax/gitrebase.vim
  runtime/syntax/i3config.vim
Labels: runtime, vim-patch

#16962 vim-patch:8.2.3409
  src/nvim/testdir/test_regexp_utf8.vim
Labels: vim-patch

#17016 refactor(lsp): debounce timer per buf and unify with non-debounce
  runtime/lua/vim/lsp.lua
  test/functional/plugin/lsp_spec.lua
Labels: refactor, lua, lsp

#17041 vim-patch:8.2.4064: foam files are not detected
  runtime/autoload/dist/ft.vim
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: runtime, vim-patch

#17045 Various diagnostic fixups
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
Labels: lua, diagnostic

#17054 ci(release): enable gh's api debug logs when creating the release
  .github/workflows/release.yml
Labels: ci

#17058 build(deps): bump treesitter to commit bf210f0
  third-party/CMakeLists.txt
Labels: build, dependencies, treesitter

#17046 fix(keywordprg): retain terminal buffer after K
  src/nvim/normal.c
  test/functional/editor/K_spec.lua
Labels: backport release-0.6

#16945 perf(treesitter): cache query parsing
  runtime/lua/vim/treesitter/query.lua
  test/functional/treesitter/parser_spec.lua
Labels: treesitter

#17037 fix(lsp): fix applying the multiple out-of-range TextEdits
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#17064 fix(lsp): handle negative activeSignature in signatureHelp
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#17049 fix(lsp): strictly enforce passing offset encoding
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#17034 feat(completion): support selecting item via API from Lua mapping
  src/nvim/edit.c
  test/functional/ui/popupmenu_spec.lua
Labels: api, lua, completion

#17079 fix(lsp): forward offset_encoding in rename handler
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp

#17080 vim-patch:8.2.4077: not all Libsensors files are recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: runtime, lua, vim-patch

#16978 Filetype updates
  runtime/lua/vim/filetype.lua
Labels: lua

#17086 vim-patch:8.1.2375: no suffucient testing for registers
  src/nvim/ops.c
  src/nvim/testdir/test_registers.vim
  src/nvim/testdir/test_virtualedit.vim
  src/nvim/testdir/test_visual.vim
Labels: vim-patch

#17087 fix(lsp): always split text edits on \r, \r\n, and \n
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp

#16998 feat(api, lua): more conversions between LuaRef and Vim Funcref
  src/nvim/api/private/converter.c
  src/nvim/lua/converter.c
  test/functional/lua/vim_spec.lua
Labels: api, lua

#17091 fix(filetype): expand tildes in filetype patterns
  runtime/lua/vim/filetype.lua
  test/functional/lua/filetype_spec.lua
Labels: lua, filetype

#17081 feat(lsp): dynamically generate list title in response_to_list
  runtime/lua/vim/lsp/handlers.lua
Labels: lua, lsp

#17101 vim-patch:8.2.4095: sed script not recognized by the first line
  runtime/scripts.vim
  src/nvim/testdir/test_filetype.vim
Labels: runtime, vim-patch

#17001 feat(extmarks): add strict option
  src/nvim/api/extmark.c
  src/nvim/api/keysets.lua
  test/functional/api/extmark_spec.lua
Labels: extmarks

#16963 feat: use nvim_buf_set_extmark for vim.highlight
  runtime/lua/vim/highlight.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/lua/diagnostic_spec.lua
Labels: lua

#17104 fix(lsp): fetch offset_encoding from client in references
  runtime/lua/vim/lsp/handlers.lua
Labels: lua, lsp

#15242 docs: deprioritize vim-patch as a good beginner task
  CONTRIBUTING.md
Labels: documentation

#17114 vim-patch:fd31be29b822
  runtime/autoload/dist/ft.vim
  runtime/doc/autocmd.txt
  runtime/doc/editing.txt
  runtime/doc/map.txt
  runtime/doc/various.txt
  runtime/filetype.vim
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  runtime/syntax/i3config.vim
  src/nvim/po/ja.euc-jp.po
  src/nvim/po/ja.po
Labels: runtime, vim-patch

#17118 perf(lsp): request only changed portions of the buffer in changetracker
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#17106 Always run commitlint check
  .github/workflows/api-docs.yml
  .github/workflows/commitlint.yml
Labels: ci

#17122 ci: remove non-working add-reviewer job
  .github/workflows/labeler.yml
Labels: ci

#17125 ci: create automated PRs as draft PRs
  .github/workflows/api-docs.yml
  .github/workflows/vim-patches.yml
Labels: ci

#17119 fix(man.vim): support calling :Man without a section again
  runtime/autoload/man.vim
Labels: plugin, runtime

#17040 Proposal: enable filetype detection before user startup scripts
  runtime/doc/starting.txt
  runtime/doc/vim_diff.txt
  src/nvim/main.c
Labels: runtime, status:needs-discussion, startup

#17129 refactor: source ftplugin.vim separately from filetype.vim
  runtime/doc/starting.txt
  runtime/doc/vim_diff.txt
  src/nvim/ex_docmd.c
  src/nvim/main.c
Labels: refactor

#17130 build(deps): bump tree-sitter
  third-party/CMakeLists.txt
Labels: closed:invalid, build, dependencies, treesitter

#17134 test(put_spec): correctly order parameters to eq()
  test/functional/editor/put_spec.lua
Labels: tests

#17149 feat(lsp): add handler for workspace/workspaceFolders
  runtime/lua/vim/lsp/handlers.lua
Labels: lua, lsp

#17146 Fix lsp on_publish_diagnostics doc example
  runtime/lua/vim/lsp/diagnostic.lua
Labels: documentation, lua, lsp

#17161 vim-patch:8.2.4172: filetype detection for BASIC is not optimal
  runtime/autoload/dist/ft.vim
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: runtime, lua, vim-patch

#17076 feat(api): expose extmark more details
  src/nvim/api/extmark.c
  src/nvim/decoration.h
  test/functional/api/extmark_spec.lua
  test/functional/ui/bufhl_spec.lua
Labels: api, extmarks

#16936 input: never escape CSI bytes and clean up related names and comments
  runtime/doc/intro.txt
  src/nvim/api/vim.c
  src/nvim/edit.c
  src/nvim/ex_docmd.c
  src/nvim/getchar.c
  src/nvim/input.c
  src/nvim/keymap.c
  src/nvim/keymap.h
  src/nvim/mbyte.c
  src/nvim/ops.c
  src/nvim/os/input.c
  test/functional/api/vim_spec.lua
  test/functional/ui/input_spec.lua
Labels: encoding, input

#17169 build(deps): bump tree-sitter to v0.20.3
  third-party/CMakeLists.txt
Labels: build, dependencies

#17177 vim-patch:8.2.4187: gnuplot file not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: runtime, lua, vim-patch

#17180 vim-patch:8.2.4191: json5 files are not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: vim-patch

#17178 vim-patch:8.2.4188: not all gitconfig files are recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: runtime, lua, vim-patch

#17179 vim-patch:6f4754b9f725
  runtime/doc/diff.txt
  runtime/doc/editing.txt
  runtime/doc/filetype.txt
  runtime/doc/fold.txt
  runtime/doc/map.txt
  runtime/doc/nvim_terminal_emulator.txt
  runtime/doc/starting.txt
  runtime/doc/syntax.txt
  runtime/filetype.vim
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  runtime/syntax/rc.vim
  runtime/syntax/scala.vim
Labels: runtime, vim-patch

#17168 fix(input): put modifiers back into typeahead buffer when needed
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/message.c
  src/nvim/normal.c
  src/nvim/terminal.c
  test/functional/editor/meta_key_spec.lua
  test/functional/terminal/mouse_spec.lua
Labels: terminal, input

#17156 vim-patch:8.2.{3584,3586,3587}: :command "-keepscript" argument
  runtime/doc/map.txt
  src/nvim/api/keysets.lua
  src/nvim/api/private/helpers.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_docmd.c
  src/nvim/testdir/test_compiler.vim
  src/nvim/testdir/test_usercommands.vim
  test/functional/api/command_spec.lua
Labels: vim-patch

#17143 Various Coverity fixes
  src/nvim/api/private/converter.c
  src/nvim/api/vim.c
  src/nvim/buffer.c
  src/nvim/lua/converter.c
Labels: lua

#17182 vim-patch:8.2.4196: various file types not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: vim-patch

#17204 ci(windows): use the provided python from github actions
  ci/build.ps1
Labels: ci

#17132 vim-patch:8.2.{3494,3611,3613}: two Visual mode crash fixes
  src/nvim/file_search.c
  src/nvim/normal.c
  src/nvim/path.c
  src/nvim/testdir/test_visual.vim
Labels: vim-patch

#17184 vim-patch:8.2.4190: all conceal tests are skipped without the screendumps feature
  src/nvim/testdir/test_conceal.vim
Labels: vim-patch

#17102 vim-patch:8.2.1762: when a timer uses :stopinsert completion isn't stopped
  src/nvim/edit.c
  src/nvim/testdir/test_ins_complete.vim
  test/functional/ui/popupmenu_spec.lua
Labels: vim-patch

#17174 vim-patch:8.2.3153: URLs with a dash in the scheme are not recognized
  src/nvim/path.c
  src/nvim/testdir/test_buffer.vim
  test/unit/path_spec.lua
Labels: vim-patch

#17155 vim-patch:8.2.{3121,3410}: two 'listchars' fixes
  src/nvim/screen.c
  src/nvim/testdir/test_listchars.vim
  src/nvim/testdir/test_listlbr_utf8.vim
  test/functional/legacy/listchars_spec.lua
Labels: vim-patch

#17095 vim-patch:8.2.{3227,3280,4094}: global-local 'virtualedit'
  runtime/doc/options.txt
  src/nvim/buffer_defs.h
  src/nvim/change.c
  src/nvim/cursor.c
  src/nvim/edit.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/screen.c
  src/nvim/state.c
  src/nvim/testdir/test_virtualedit.vim
Labels: vim-patch

#17094 vim-patch:8.2.4091: virtcol is recomputed for statusline unnecessarily
  src/nvim/buffer.c
  src/nvim/testdir/test_statusline.vim
Labels: vim-patch

#17145 vim-patch:8.2.0128: cannot list options one per line
  runtime/doc/options.txt
  src/nvim/ex_cmds.lua
  src/nvim/ex_docmd.c
  src/nvim/option.c
  src/nvim/option.h
  src/nvim/testdir/test_options.vim
Labels: vim-patch

#17131 vim-patch:8.2.3580: gj does not move properly with a wide character
  src/nvim/normal.c
  src/nvim/testdir/test_normal.vim
Labels: vim-patch

#17135 vim-patch:8.2.0175: crash when removing list element in map()
  src/nvim/eval.c
  src/nvim/testdir/test_filter_map.vim
Labels: vim-patch

#17150 vim-patch:8.2.4166: undo synced when switching buffer in another window
  src/nvim/buffer.c
  src/nvim/testdir/test_timers.vim
Labels: vim-patch

#17110 vim-patch:8.2.{3630,3663}: printf() with %S does not handle multi-byte correctly
  src/nvim/strings.c
  src/nvim/testdir/test_expr.vim
Labels: vim-patch

#17166 vim-patch:8.2.4160: cannot change the register used for Select mode d…
  runtime/doc/visual.txt
  src/nvim/globals.h
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/testdir/test_selectmode.vim
Labels: vim-patch

#17191 vim-patch:8.2.4203: entering a character with CTRL-V may include modifiers
  src/nvim/edit.c
  src/nvim/testdir/check.vim
  src/nvim/testdir/test_edit.vim
  test/functional/editor/mode_insert_spec.lua
Labels: vim-patch

#17195 refactor: include missing assert header
  src/nvim/marktree.h
Labels: refactor

#16668 fix(ts): escape lang when loading parsers
  runtime/lua/vim/treesitter/language.lua
  test/functional/treesitter/parser_spec.lua
Labels: lua, treesitter

#17186 feat(ts): expose minimum language version to lua
  runtime/lua/vim/treesitter.lua
  src/nvim/lua/executor.c
Labels: api, lua, treesitter

#17136 vim-patch:8.2.4133: output of ":scriptnames" goes into the message history
  src/nvim/ex_cmds2.c
  src/nvim/testdir/test_scriptnames.vim
Labels: vim-patch

#17175 vim-patch:8.2.3095: with 'virtualedit' set to "block" block selection is wrong
  src/nvim/screen.c
  src/nvim/testdir/test_visual.vim
  test/functional/legacy/visual_mode_spec.lua
Labels: vim-patch

#17185 vim-patch:8.2.{3993,4002}: when recording a change in Select mode char appears twice
  src/nvim/getchar.c
  src/nvim/normal.c
  src/nvim/testdir/test_registers.vim
  src/nvim/testdir/test_utf8.vim
Labels: vim-patch

#17201 docs(helphelp): remove extra backtick interference
  runtime/doc/helphelp.txt
Labels: documentation

#16973 vim-patch:8.2.3612: using freed memory with regexp using a mark
  src/nvim/regexp.c
  src/nvim/regexp_nfa.c
  src/nvim/testdir/test_regexp_latin.vim
Labels: vim-patch

#16796 vim-patch:8.2.3903: "gM" does not count tabs as expected
  src/nvim/normal.c
  src/nvim/testdir/test_normal.vim
Labels: vim-patch

#16954 vim-patch:8.2.{3402,3403}
  src/nvim/option.c
  src/nvim/testdir/test_retab.vim
Labels: security, vim-patch

#16820 vim-patch:8.1.2302,8.2.{3936,4112}
  src/nvim/diff.c
  src/nvim/ex_cmds.c
  src/nvim/fileio.c
  src/nvim/ops.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_diffmode.vim
  src/nvim/testdir/test_marks.vim
  src/nvim/testdir/test_registers.vim
  src/nvim/testdir/test_virtualedit.vim
Labels: vim-patch, diff

#17022 fix(completion): update submode message when selecting from API
  src/nvim/edit.c
  test/functional/ui/popupmenu_spec.lua
Labels: api, completion

#16830 vim-patch:8.2.3571: some unicode control characters are considered pr…
  src/nvim/mbyte.c
Labels: vim-patch

#17183 feat(api): expose extmark right_gravity and end_right_gravity
  src/nvim/api/extmark.c
  src/nvim/extmark.c
  src/nvim/extmark.h
  src/nvim/marktree.c
  test/functional/api/extmark_spec.lua
  test/functional/ui/bufhl_spec.lua
Labels: api, extmarks

#17216 vim-patch:8.2.{4233,4235,4236,4237}: follow-up patches for recording in Select mode
  src/nvim/getchar.c
  src/nvim/normal.c
  src/nvim/testdir/test_registers.vim
Labels: vim-patch

#17223 vim-patch:8.2.4238: *.tf file could be fileytpe "tf" or "terraform"
  runtime/autoload/dist/ft.vim
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: runtime, vim-patch

#16829 vim-patch:8.2.{2887,3414,3999}: fullcommand() follow-up patches
  src/nvim/ex_docmd.c
  src/nvim/testdir/test_cmdline.vim
Labels: vim-patch

#17206 ci: remove all code containing python2
  ci/common/submit_coverage.sh
  ci/install.sh
Labels: ci

#17213 ci: add intercept_tls_get_addr=0 to ASAN_OPTIONS
  .github/workflows/env.sh
Labels: ci

#16951 vim-patch:8.2.4007: session does not restore help buffer properly
  src/nvim/ex_session.c
  src/nvim/testdir/test_mksession.vim
Labels: vim-patch
