Repository neovim/neovim, pull requests merged in 2022-04, with the labels that each got.

#17944 refactor: remove redundant check for w_p_cole
  src/nvim/edit.c
  src/nvim/normal.c
Labels: refactor

#17946 Quick review fixes for autocmds and keymaps
  runtime/doc/lua.txt
  runtime/lua/vim/keymap.lua
  src/nvim/autocmd.c
Labels: lua

#17948 vim-patch:8.2.{3471,3472,3489}: fix some crashes/errors with search
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/testdir/test_search.vim
Labels: vim-patch

#17953 vim-patch:8.2.4660: cursorcolumn is sometimes not correct
  src/nvim/edit.c
  src/nvim/testdir/test_highlight.vim
  test/functional/ui/highlight_spec.lua
  test/functional/ui/syntax_conceal_spec.lua
Labels: vim-patch

#17961 fix(input): do not translate scroll keys into multiclicks
  src/nvim/os/input.c
  test/functional/ui/mouse_spec.lua
Labels: input, mouse

#17963 vim-patch:8.2.4664: Elvish files are not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: runtime, lua, vim-patch, filetype

#17965 docs(options): add missing 'nofoo' tags
  runtime/doc/options.txt
Labels: documentation, runtime

#17967 docs(options): add more missing 'nofoo' tags
  runtime/doc/options.txt
Labels: documentation, runtime

#17977 fix(ex_normal): spam \n in Ex mode only if in Cmdline mode
  src/nvim/getchar.c
  test/functional/ex_cmds/normal_spec.lua
Labels: input

#17949 vim-patch:8.1.1687: the evalfunc.c file is too big
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/testing.c
  src/nvim/testing.h
Labels: vim-patch

#16268 [RFC] vim-patch:8.1.1378: delete() can not handle a file name that looks li…
  src/nvim/eval/funcs.c
  src/nvim/fileio.c
  src/nvim/fileio.h
  src/nvim/testdir/test_functions.vim
  test/functional/legacy/delete_spec.lua
Labels: vim-patch

#17983 vim-patch:8.2.4672: using :normal with Ex mode may make :substitute hang
  src/nvim/ex_cmds.c
  src/nvim/testdir/test_normal.vim
Labels: vim-patch

#17987 vim-patch:8.2.{4639,4402}: missing parenthesis may cause unexpected problems
  .git-blame-ignore-revs
  src/nvim/buffer.h
  src/nvim/buffer_defs.h
  src/nvim/charset.c
  src/nvim/eval/funcs.c
  src/nvim/ex_cmds.h
  src/nvim/ex_cmds_defs.h
  src/nvim/fileio.c
  src/nvim/fold.c
  src/nvim/getchar.c
  src/nvim/getchar.h
  src/nvim/globals.h
  src/nvim/macros.h
  src/nvim/memline.c
  src/nvim/mouse.h
  src/nvim/normal.c
  src/nvim/option_defs.h
  src/nvim/os/win_defs.h
  src/nvim/quickfix.c
  src/nvim/regexp.c
  src/nvim/regexp_defs.h
  src/nvim/screen.c
  src/nvim/screen.h
  src/nvim/search.c
  src/nvim/sha256.c
  src/nvim/spell.c
  src/nvim/spell_defs.h
  src/nvim/spellfile.c
  src/nvim/syntax.c
  src/nvim/syntax_defs.h
  src/nvim/vim.h
  src/nvim/window.c
Labels: vim-patch

#17989 test(old): fix test_regexp_latin.vim encoding
  src/nvim/testdir/test_regexp_latin.vim
Labels: test

#17988 vim-patch:8.2.{4247,4258}: stack corruption when looking for spell suggestions
  src/nvim/spell.c
  src/nvim/testdir/test_spell.vim
Labels: vim-patch, spell

#17991 vim-patch:8.2.4253: using freed memory when substitute with function call
  src/nvim/ex_cmds.c
  src/nvim/regexp.c
  src/nvim/shada.c
  src/nvim/testdir/test_substitute.vim
Labels: vim-patch

#17992 test: move completion :stopinsert test to completion_spec.lua
  test/functional/editor/completion_spec.lua
  test/functional/ui/popupmenu_spec.lua
Labels: test

#17892 refactor(pos.h): remove unused include; make formatting consistent
  src/nvim/pos.h
Labels: refactor

#17995 vim-patch:8.2.4687: "vimgrep /%v/ *" may cause a crash
  src/nvim/regexp.c
Labels: vim-patch

#17999 vim-patch:8.2.{4692,4691,4690}: fix Insert mode <LeftDrag> mapping bug
  src/nvim/getchar.c
  src/nvim/normal.c
  src/nvim/testdir/test_mapping.vim
  test/functional/legacy/mapping_spec.lua
Labels: vim-patch

#18003 fix(ui): inccomand performance degradation
  src/nvim/ex_cmds.c
  test/functional/ui/cmdline_spec.lua
Labels: ui

#18002 vim-patch:8.2.4696: delete() with "rf" argument does not report a failure
  src/nvim/fileio.c
  src/nvim/testdir/test_functions.vim
Labels: vim-patch

#18007 vim-patch:8.2.0836: not all :cdo output is visible
  src/nvim/ex_cmds2.c
  src/nvim/testdir/test_cdo.vim
Labels: vim-patch

#18012 vim-patch:8.2.4701: Kuka Robot Language files not recognized
  runtime/autoload/dist/ft.vim
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: vim-patch

#17979 fix(autocmd): restore autocmd showing behavior
  src/nvim/autocmd.c
  test/functional/autocmd/show_spec.lua
Labels: events

#18022 vim-patch:8.2.4707: redrawing could be a bit more efficient
  src/nvim/change.c
  src/nvim/edit.c
  src/nvim/testdir/test_highlight.vim
  test/functional/ui/highlight_spec.lua
Labels: vim-patch

#17884 ci: add script to bump versions
  MAINTAIN.md
  scripts/bump-deps.sh
  scripts/bump_deps.lua
Labels: ci

#18025 vim-patch:8.2.4708: PHP test files are not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#18030 vim-patch:8.2.4710: smart indenting does not work after completion
  src/nvim/edit.c
  src/nvim/testdir/test_ins_complete.vim
Labels: vim-patch

#18031 vim-patch:8.2.{0004,4700,4706}: buffer closing is interrupted
  src/nvim/buffer.c
  src/nvim/buffer.h
  src/nvim/ex_cmds.c
  src/nvim/ex_getln.c
  src/nvim/memory.c
  src/nvim/quickfix.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_trycatch.vim
  src/nvim/window.c
  test/unit/buffer_spec.lua
Labels: vim-patch

#18032 vim-patch:8.2.4704: using "else" after return or break increases indent
  src/nvim/fileio.c
  src/nvim/memline.c
  src/nvim/option.c
  src/nvim/syntax.c
Labels: vim-patch

#18033 vim-patch:8.2.3925: diff mode confused by NUL bytes
  src/nvim/diff.c
  src/nvim/testdir/test_diffmode.vim
  test/functional/ui/diff_spec.lua
Labels: vim-patch, diff

#18038 vim-patch:8.2.4711: when 'insermode' is set :edit from <Cmd> mapping misbehaves
  src/nvim/ex_cmds.c
  src/nvim/testdir/test_edit.vim
  test/functional/editor/mode_insert_spec.lua
Labels: vim-patch

#17786 feat(api)!: pass args table to autocommand callbacks
  runtime/doc/api.txt
  src/nvim/api/autocmd.c
  src/nvim/autocmd.c
  test/functional/api/autocmd_spec.lua
Labels: api, lua, events

#18027 build(deps): bump LuaJIT to HEAD - 5e3c45c43
  third-party/CMakeLists.txt
Labels: build, dependencies

#17971 fix(extmarks): splice extmarks on accepting spell
  src/nvim/spell.c
  test/functional/lua/buffer_updates_spec.lua
Labels: extmarks, spell

#18042 vim-patch:partial:cbaff5e06ec5
  runtime/autoload/dist/ft.vim
  runtime/doc/filetype.txt
  runtime/filetype.vim
  runtime/ftplugin/c.vim
  runtime/indent/ada.vim
  runtime/indent/awk.vim
  runtime/indent/cdl.vim
  runtime/indent/chaiscript.vim
  runtime/indent/cmake.vim
  runtime/indent/d.vim
  runtime/indent/dictconf.vim
  runtime/indent/dictdconf.vim
  runtime/indent/dylan.vim
  runtime/indent/falcon.vim
  runtime/indent/gitolite.vim
  runtime/indent/idlang.vim
  runtime/indent/make.vim
  runtime/indent/mma.vim
  runtime/indent/nginx.vim
  runtime/indent/objc.vim
  runtime/indent/occam.vim
  runtime/indent/postscr.vim
  runtime/indent/prolog.vim
  runtime/indent/sas.vim
  runtime/indent/sml.vim
  runtime/indent/systemverilog.vim
  runtime/optwin.vim
  runtime/syntax/dep3patch.vim
  runtime/syntax/lua.vim
  runtime/syntax/neomuttrc.vim
  runtime/syntax/sml.vim
  runtime/syntax/vim.vim
Labels: runtime, vim-patch

#18044 vim-patch:partial:cbaff5e06ec5
  runtime/doc/builtin.txt
  runtime/doc/eval.txt
  runtime/doc/ft_sql.txt
  runtime/doc/insert.txt
  runtime/doc/intro.txt
  runtime/doc/options.txt
  runtime/doc/pi_netrw.txt
  runtime/doc/syntax.txt
Labels: documentation, vim-patch

#18048 vim-patch:partial:8.1.2333: with modifyOtherKeys CTRL-^ doesn't work
  src/nvim/getchar.c
  test/functional/ui/input_spec.lua
Labels: vim-patch

#18051 refactor(packaging): use transparent windows logo
  packaging/logo.ico
Labels: platform:windows, distribution

#18052 vim-patch:8.2.4715: Vagrantfile not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#18023 vim-patch:8.2.{4702,4703}: C++ scope labels are hard-coded
  runtime/doc/indent.txt
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/optwin.vim
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/indent_c.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/testdir/test_cindent.vim
Labels: vim-patch

#18057 vim-patch:8.2.4720: ABB Rapid files are not recognized properly
  runtime/autoload/dist/ft.vim
  runtime/doc/filetype.txt
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#18058 vim-patch:8.2.4721: cooklang files are not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#18055 vim-patch:8.2.4718: @@@ in the last line sometimes drawn in the wrong place
  src/nvim/screen.c
  src/nvim/testdir/test_display.vim
  test/functional/legacy/display_spec.lua
Labels: vim-patch

#18060 vim-patch:8.2.4722: ending recording with mapping records too much
  src/nvim/getchar.c
  src/nvim/testdir/test_registers.vim
Labels: vim-patch

#18056 vim-patch:8.2.4719: ">" marker sometimes not displayed in the jumplist
  runtime/doc/motion.txt
  src/nvim/mark.c
  src/nvim/testdir/test_alot.vim
  src/nvim/testdir/test_jumplist.vim
  src/nvim/testdir/test_jumps.vim
Labels: vim-patch

#18062 vim-patch:8.2.{4723,4728}: the ModeChanged autocmd event is inefficient
  src/nvim/api/vim.c
  src/nvim/autocmd.c
  src/nvim/edit.c
  src/nvim/eval/funcs.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/globals.h
  src/nvim/memory.c
  src/nvim/normal.c
  src/nvim/state.c
  src/nvim/terminal.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/vim.h
Labels: vim-patch

#18065 vim-patch:8.2.4729: HEEx and Surface templates do not need a separate…
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#18064 docs: remove mentions of removed flag '#' in 'cpoptions'
  runtime/doc/change.txt
  runtime/doc/insert.txt
Labels: documentation

#18066 refactor(globals.h): avoid confusing comment placement
  src/nvim/globals.h
Labels: refactor

#18029 feat(events): add pattern `SIGWINCH` for autocmd event `Signal`
  runtime/doc/autocmd.txt
  src/nvim/os/signal.c
  test/functional/autocmd/signal_spec.lua
Labels: events

#17893 feat(keymap): add F38-F63 keys
  src/nvim/keymap.c
  src/nvim/keymap.h
  src/nvim/terminal.c
  test/functional/ui/input_spec.lua
Labels: input

#17198 fix(tui)!: remove `ESC NUL` forced escape
  src/nvim/tui/input.c
  test/functional/terminal/helpers.lua
  test/functional/terminal/tui_spec.lua
Labels: tui, input, breaking-change

#18071 refactor!: Rename nvim_add_user_command to nvim_create_user_command
  runtime/doc/api.txt
  runtime/doc/develop.txt
  src/nvim/api/buffer.c
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  test/functional/api/command_spec.lua
  test/functional/ex_cmds/verbose_spec.lua
Labels: refactor, breaking-change

#18070 fix(events): make v:event readonly in more events
  src/nvim/channel.c
  src/nvim/ops.c
  src/nvim/terminal.c
  test/functional/autocmd/autocmd_spec.lua
Labels: events

#18067 vim-patch:8.2.{4714,4733}
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: vim-patch, filetype

#18069 refactor(packaging): double down on msi for windows
  .github/workflows/notes.md
  .github/workflows/release.yml
  packaging/CMakeLists.txt
  packaging/WixPatch.xml
  packaging/logo.icns
  packaging/logo.ico
  packaging/logo.svg
  packaging/neovim.icns
  packaging/neovim.ico
  packaging/neovim.png
  packaging/neovim.svg
Labels: build, refactor, platform:windows, distribution

#18072 docs(term.txt): add documentation about TUI input
  runtime/doc/term.txt
Labels: documentation

#18084 fix(lsp): pass offset_encoding in formatexpr()
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#18083 vim-patch:8.2.4737: // in JavaScript string recognized as comment
  src/nvim/change.c
  src/nvim/testdir/test_textformat.vim
Labels: vim-patch

#18080 test(old): fix mistakes in porting Vim patches 8.1.1362 and 8.1.1585
  src/nvim/testdir/test_quickfix.vim
Labels: test

#18075 vim-patch:8.2.4713: plugins cannot track text scrolling
  runtime/doc/autocmd.txt
  src/nvim/auevents.lua
  src/nvim/autocmd.c
  src/nvim/buffer_defs.h
  src/nvim/edit.c
  src/nvim/normal.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/window.c
  test/functional/autocmd/winscrolled_spec.lua
Labels: vim-patch

#18090 vim-patch:8.2.4739: accessing freed memory after WinScrolled autocmd event
  src/nvim/edit.c
  src/nvim/normal.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/window.c
  test/functional/autocmd/winscrolled_spec.lua
Labels: vim-patch

#17440 vim-patch:8.2.{3184,3226,3325}: digraph functions
  runtime/doc/builtin.txt
  runtime/doc/digraph.txt
  runtime/doc/usr_41.txt
  src/nvim/digraph.c
  src/nvim/digraph.h
  src/nvim/edit.c
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/testdir/test_digraph.vim
Labels: vim-patch

#18092 test: unskip tests skipped in #14661
  test/functional/autocmd/termxx_spec.lua
Labels: test

#18101 fix(runtime): add syntax file for query
  runtime/syntax/query.lua
Labels: runtime

#18102 vim-patch:8.2.4746: supercollider filetype not recognized
  runtime/autoload/dist/ft.vim
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#15972 vim-patch:8.2.{3416,3448,3470,3478,3480,3486,3487}
  src/nvim/eval/userfunc.c
  src/nvim/ex_eval.c
  src/nvim/ex_eval.h
  src/nvim/screen.c
  src/nvim/testdir/test_statusline.vim
  src/nvim/testdir/test_trycatch.vim
Labels: security, vim-patch

#18105 vim-patch:8.2.4747: no filetype override for .sys files
  runtime/autoload/dist/ft.vim
  runtime/doc/filetype.txt
  src/nvim/testdir/test_filetype.vim
Labels: vim-patch

#18026 fix(lsp): fix lookup of boolean values in workspace/configuration
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#18113 vim-patch:8.2.4750: small pieces of dead code
  src/nvim/ex_cmds.c
  src/nvim/option.c
  src/nvim/os/env.c
  src/nvim/quickfix.c
Labels: vim-patch

#17859 docs: typo fixes
  CONTRIBUTING.md
  MAINTAIN.md
  runtime/doc/api.txt
  runtime/doc/builtin.txt
  runtime/doc/lua.txt
  runtime/doc/options.txt
  runtime/doc/term.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/ui.lua
  scripts/lua2dox.lua
  src/nvim/README.md
  src/nvim/api/autocmd.c
  src/nvim/api/window.c
  src/nvim/ex_getln.c
  src/nvim/highlight_group.c
  src/nvim/memline.c
  src/nvim/normal.c
  src/nvim/screen.c
  src/nvim/screen.h
  src/nvim/testdir/test_breakindent.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_debugger.vim
  src/nvim/testdir/test_increment.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_regexp_latin.vim
  src/nvim/testdir/test_sort.vim
  test/functional/api/extmark_spec.lua
  test/functional/api/highlight_spec.lua
  test/functional/core/job_spec.lua
  test/functional/core/startup_spec.lua
  test/functional/ex_cmds/cd_spec.lua
  test/functional/terminal/highlight_spec.lua
  test/functional/ui/decorations_spec.lua
  test/functional/ui/messages_spec.lua
  test/functional/ui/multibyte_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/ui/screen.lua
  test/functional/ui/searchhl_spec.lua
  test/functional/vimscript/system_spec.lua
Labels: status:revisit-at-release

#18117 vim-patch:8.2.4752: wrong 'statusline' value can cause illegal memory access
  src/nvim/option.c
  src/nvim/testdir/test_options.vim
Labels: vim-patch

#18136 vim-patch:8.2.4762: using freed memory using synstack() and synID() in WinEnter
  src/nvim/syntax.c
  src/nvim/testdir/test_syntax.vim
Labels: vim-patch

#18114 fix(paste): ignore mappings in Cmdline mode
  runtime/lua/vim/_editor.lua
  test/functional/api/vim_spec.lua
Labels: api, clipboard, lua

#18139 vim-patch:8.2.0791
  src/nvim/ex_docmd.c
  test/functional/ex_cmds/quickfix_commands_spec.lua
Labels: vim-patch, status:needs-backport

#18137 vim-patch:8.2.4766: KRL files using "deffct" not recognized
  runtime/autoload/dist/ft.vim
  src/nvim/testdir/test_filetype.vim
Labels: vim-patch

#18138 vim-patch:8.2.4767: openscad files are not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#18152 vim-patch:8.2.4778: pacman files use dosini filetype
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#18146 docs(terminal): correct sentence on how to enter terminal mode
  runtime/doc/nvim_terminal_emulator.txt
Labels: documentation, terminal

#18091 refactor: add pure attribute to pure functions
  src/nvim/arabic.c
  src/nvim/autocmd.c
  src/nvim/buffer_updates.c
  src/nvim/context.c
  src/nvim/cursor_shape.c
  src/nvim/diff.c
  src/nvim/digraph.c
  src/nvim/ex_getln.c
Labels: refactor

#18158 fix(tui): update modifyOtherKeys reporting
  src/nvim/tui/tui.c
Labels: tui

#18170 vim-patch:75ab590f8504
  runtime/autoload/dist/ft.vim
  runtime/doc/autocmd.txt
  runtime/doc/builtin.txt
  runtime/doc/change.txt
  runtime/doc/editing.txt
  runtime/doc/eval.txt
  runtime/doc/motion.txt
  runtime/doc/nvim_terminal_emulator.txt
  runtime/doc/syntax.txt
  runtime/filetype.vim
  runtime/indent/README.txt
  runtime/indent/krl.vim
  runtime/indent/testdir/krl.in
  runtime/indent/testdir/krl.ok
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  runtime/syntax/krl.vim
  runtime/syntax/openscad.vim
  runtime/syntax/synload.vim
  runtime/syntax/syntax.vim
Labels: runtime, vim-patch

#18081 feat(highlight): implement CurSearch highlight
  runtime/doc/options.txt
  runtime/doc/syntax.txt
  runtime/doc/vim_diff.txt
  src/nvim/highlight_defs.h
  src/nvim/highlight_group.c
  src/nvim/match.c
  src/nvim/move.c
  test/functional/ui/cursor_spec.lua
  test/functional/ui/searchhl_spec.lua
Labels: highlight

#18174 vim-patch:8.2.4790: lilypond filetype not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#18145 feat(api): allow remote UI to set terminal options
  runtime/doc/ui.txt
  src/nvim/api/ui.c
  src/nvim/option.c
  src/nvim/tui/input.c
  test/functional/ui/options_spec.lua
Labels: api

#18188 fix(diagnostic): use nvim_exec_autocmds to trigger DiagnosticChanged
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: lua, diagnostic

#18040 fix(lsp): unify progress message handling
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp

#18179 docs(api): add example showing necessity to wrap callback function
  runtime/doc/api.txt
  src/nvim/api/autocmd.c
Labels: api

#18191 docs(filetype): proper example for did_load_filetypes
  runtime/doc/filetype.txt
Labels: documentation, filetype

#18185 vim-patch:8.2.{4781,4793}: maxima files are not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#18187 vim-patch:8.2.4724: current instance of last search pattern not easily spotted
  src/nvim/buffer_defs.h
  src/nvim/match.c
  src/nvim/option.c
  src/nvim/testdir/test_search.vim
  test/functional/ui/searchhl_spec.lua
Labels: vim-patch

#18189 vim-patch:8.2.{4795,4796,4801}: 'cursorbind' scrolling depends on whether 'cursorline' is set
  src/nvim/move.c
  src/nvim/testdir/test_cursorline.vim
  test/functional/options/cursorbind_spec.lua
Labels: vim-patch

#18180 vim-patch:8.2.{0358,4792,4794}: indent operator creates an undo entry for every line
  src/nvim/ops.c
  src/nvim/testdir/test_ex_mode.vim
  src/nvim/testdir/test_expand_func.vim
  src/nvim/testdir/test_indent.vim
  src/nvim/testdir/test_lispwords.vim
  src/nvim/testdir/test_smartindent.vim
  src/nvim/testdir/test_vartabs.vim
  test/functional/legacy/ex_mode_spec.lua
Labels: vim-patch

#18199 vim-patch:8.2.4797: getwininfo() may get oudated values
  src/nvim/eval.c
  src/nvim/testdir/test_bufwintabinfo.vim
Labels: vim-patch

#18200 docs: vim.keymap.set can specify buffer as an option
  runtime/doc/lua.txt
  runtime/lua/vim/keymap.lua
Labels: documentation, backport release-0.7

#18182 vim-patch:8.1.1756,8.2.{2472,2474,2475,2476,2477,4791,4802}: autocommand fixes
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/ex_cmds.c
  src/nvim/ex_getln.c
  src/nvim/quickfix.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_window_cmd.vim
  src/nvim/window.c
  test/functional/autocmd/autocmd_spec.lua
Labels: vim-patch, backport release-0.7

#18209 vim-patch:8.2.4759: CurSearch highlight does not work for multi-line match
  src/nvim/buffer_defs.h
  src/nvim/match.c
  src/nvim/testdir/test_search.vim
  test/functional/ui/searchhl_spec.lua
Labels: vim-patch

#18196 refactor(normal): fix most clint warnings
  src/nvim/normal.c
Labels: refactor

#18206 docs(lua): explain and link to lua patterns
  runtime/doc/lua.txt
  runtime/lua/vim/filetype.lua
Labels: documentation, lua

#18211 chore: update inspect.lua to 3.1.3
  MAINTAIN.md
  runtime/lua/vim/inspect.lua
Labels: lua

#18149 fix(treesitter): create new parser if language is not the same as cached parser
  runtime/lua/vim/treesitter.lua
  test/functional/treesitter/language_spec.lua
Labels: lua, treesitter, status:needs-backport, backport release-0.7

#18227 fix(lua): don't mutate opts parameter of vim.keymap.del
  runtime/lua/vim/keymap.lua
  test/functional/lua/vim_spec.lua
Labels: lua, backport release-0.7

#18229 [Backport release-0.7] fix(lua): don't mutate opts parameter of vim.keymap.del (#18227)
  runtime/lua/vim/keymap.lua
  test/functional/lua/vim_spec.lua
Labels: lua

#18226 vim-patch:8.2.{4805,4812}: CurSearch used for all matches in current line
  src/nvim/buffer_defs.h
  src/nvim/match.c
  src/nvim/testdir/test_search.vim
  test/functional/ui/searchhl_spec.lua
Labels: vim-patch

#18237 fix(ftdetect): source plugins in autogroup
  runtime/filetype.lua
Labels: lua, filetype

#18210 ci(backport): remove triggering by comment
  .github/workflows/backport.yml
  MAINTAIN.md
Labels: ci

#18178 docs: make function signature consistent with parameter interpretation
  runtime/doc/api.txt
  src/nvim/api/buffer.c
  src/nvim/api/vim.c
Labels: documentation

#18192 build(clang-format): make config more compatible with neovim style rules
  .clang-format
Labels: build

#18243 vim-patch:8.2.{4808,4810,4813}: pasting text while indent folding may mess up folds
  src/nvim/fold.c
  src/nvim/regexp.c
  src/nvim/regexp_defs.h
  src/nvim/testdir/test_fold.vim
Labels: vim-patch, folds

#18248 vim-patch:8.2.{4806,4818}: a mapping using <LeftDrag> does not start Select mode
  src/nvim/normal.c
  src/nvim/testdir/test_mapping.vim
  test/functional/legacy/mapping_spec.lua
Labels: vim-patch

#18121 fix(packaging): remove excess forward slash in Wix Patch
  packaging/WixPatch.xml
Labels: distribution

#18120 ci: apply documentation label more freely
  .github/labeler.yml
Labels: ci

#18124 docs: clarify combined modifiers and SHIFT usage
  runtime/doc/intro.txt
Labels: documentation

#18165 refactor: add pure attribute to pure functions
  src/nvim/buffer.c
  src/nvim/charset.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_eval.c
  src/nvim/getchar.c
  src/nvim/mbyte.c
Labels: refactor

#18110 refactor: replace char_u variables and functions with char
  src/nvim/buffer_defs.h
  src/nvim/eval/funcs.c
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/if_cscope.c
  src/nvim/menu.c
  src/nvim/screen.c
  src/nvim/strings.c
Labels: refactor

#18094 refactor: enable Wconversion warning for diff
  src/nvim/CMakeLists.txt
  src/nvim/buffer_defs.h
  src/nvim/diff.c
Labels: refactor

#17895 refactor: convert macros to all-caps
  src/nvim/ascii.h
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/encode.c
  src/nvim/eval/userfunc.c
  src/nvim/event/loop.h
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/file_search.c
  src/nvim/fileio.c
  src/nvim/garray.c
  src/nvim/hardcopy.c
  src/nvim/keymap.c
  src/nvim/macros.h
  src/nvim/mark.c
  src/nvim/memfile.c
  src/nvim/memline.c
  src/nvim/ops.c
  src/nvim/ops.h
  src/nvim/option.c
  src/nvim/os/env.c
  src/nvim/os/fs.c
  src/nvim/path.c
  src/nvim/search.c
  src/nvim/shada.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/syntax.c
  src/nvim/vim.h
  src/nvim/viml/parser/expressions.c
Labels: refactor

#18234 perf: only redraw for CurSearch when it is currently in use
  src/nvim/move.c
  src/nvim/search.c
Labels: performance, highlight

#17791 revert: "man.vim: Ensure 'modifiable' in man#init_pager #11450"
  runtime/autoload/man.vim
Labels: runtime

#18255 fix(ci): workaround bug in msgpackparse() on windows caused by api level bump
  CMakeLists.txt
  test/functional/vimscript/msgpack_functions_spec.lua
Labels: build, ci

#18257 refactor: enable Wconversion warning for tag
  src/nvim/CMakeLists.txt
  src/nvim/tag.c
Labels: build, refactor

#18259 vim-patch:8.2.4826: .cshtml files are not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#18249 vim-patch:8.2.{4760,4765}: matchfuzzy() limit
  runtime/doc/builtin.txt
  src/nvim/search.c
  src/nvim/testdir/test_matchfuzzy.vim
Labels: vim-patch

#18181 feat(tui): query terminal for CSI u support
  runtime/doc/term.txt
  src/nvim/tui/input.c
  src/nvim/tui/input.h
  src/nvim/tui/tui.c
  src/nvim/tui/tui.h
  test/functional/core/main_spec.lua
Labels: tui, backport release-0.7

#18267 test: correct order of arguments to eq() and neq()
  test/functional/api/autocmd_spec.lua
  test/functional/api/proc_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/editor/langmap_spec.lua
  test/functional/editor/macro_spec.lua
  test/functional/legacy/arglist_spec.lua
  test/functional/legacy/function_sort_spec.lua
  test/functional/legacy/wordcount_spec.lua
  test/functional/lua/vim_spec.lua
  test/functional/options/keymap_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/vimscript/reltime_spec.lua
  test/functional/vimscript/setpos_spec.lua
  test/unit/os/env_spec.lua
Labels: test

#18275 fix(lsp): fix unnecessary buffers being added on empty diagnostics
  runtime/lua/vim/lsp/diagnostic.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
Labels: lua, lsp

#18260 refactor: enable -Wconversion warning for funcs.c and userfuncs.c
  src/nvim/CMakeLists.txt
  src/nvim/eval/userfunc.c
Labels: build, refactor

#16393 fix: add missing definitions for sizeof macros
  config/CMakeLists.txt
  config/config.h.in
Labels: build, refactor

#17829 feat(healthcheck): check for slow shell invocation
  runtime/autoload/health/nvim.vim
Labels: runtime

#18253 refactor(terminal,win): remove winpty related codes
  CMakeLists.txt
  cmake/FindWinpty.cmake
  runtime/doc/api.txt
  src/nvim/CMakeLists.txt
  src/nvim/api/vim.c
  src/nvim/os/pty_process_win.c
  src/nvim/os/pty_process_win.h
  third-party/CMakeLists.txt
Labels: build, refactor, platform:windows, dependencies

#17078 refactor(build): remove unused includes
  .clang-format
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/buffer.h
  src/nvim/buffer_defs.h
  src/nvim/buffer_updates.h
  src/nvim/eval/funcs.c
  src/nvim/if_cscope.c
  src/nvim/sign.c
Labels: build, refactor

#18277 refactor: enable -Wconversion warning for ex_docmd.c
  src/nvim/CMakeLists.txt
  src/nvim/ex_docmd.c
Labels: build, refactor

#18254 refactor: replace char_u variables and functions with char
  src/nvim/eval/funcs.c
  src/nvim/if_cscope.c
  src/nvim/main.c
  src/nvim/option_defs.h
  src/nvim/quickfix.c
  src/nvim/tag.c
Labels: refactor

#18287 vim-patch:ce001a337e28
  runtime/doc/filetype.txt
  runtime/doc/syntax.txt
  runtime/filetype.vim
  runtime/ftplugin/elixir.vim
  runtime/ftplugin/elm.vim
  runtime/ftplugin/fennel.vim
  runtime/ftplugin/masm.vim
  runtime/ftplugin/reva.vim
  runtime/ftplugin/xslt.vim
  runtime/indent/fennel.vim
  runtime/indent/pov.vim
  runtime/indent/tf.vim
  runtime/indent/tilde.vim
  runtime/indent/treetop.vim
  runtime/indent/xf86conf.vim
  runtime/indent/xinetd.vim
  runtime/indent/yacc.vim
  runtime/syntax/apache.vim
  runtime/syntax/c.vim
  runtime/syntax/chordpro.vim
  runtime/syntax/masm.vim
  runtime/syntax/plsql.vim
  runtime/syntax/tex.vim
  runtime/syntax/vim.vim
Labels: runtime, vim-patch

#18297 ci: remove mjlbach from reviewers
  .github/scripts/reviews.js
Labels: ci

#17932 vim-patch:8.1.{2145,2159,2165,2167,2333,2346,2350},8.2.{0839,0851,0855,0867,0916,0919,2084,2728,3595,4504,4819,4824,4827,4828,4829,4833,4837}
  runtime/doc/cmdline.txt
  runtime/doc/eval.txt
  runtime/doc/insert.txt
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/buffer_defs.h
  src/nvim/digraph.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/getchar.c
  src/nvim/getchar.h
  src/nvim/globals.h
  src/nvim/input.c
  src/nvim/keymap.c
  src/nvim/keymap.h
  src/nvim/menu.c
  src/nvim/message.c
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/os/input.c
  src/nvim/terminal.c
  src/nvim/testdir/test_backspace_opt.vim
  src/nvim/testdir/test_eval_stuff.vim
  src/nvim/testdir/test_mapping.vim
  src/nvim/testdir/test_messages.vim
  src/nvim/testdir/test_regex_char_classes.vim
  src/nvim/testdir/test_substitute.vim
  src/nvim/testdir/test_termcodes.vim
  src/nvim/viml/parser/expressions.c
  src/nvim/window.c
  test/functional/api/keymap_spec.lua
  test/functional/editor/langmap_spec.lua
  test/functional/editor/mode_cmdline_spec.lua
  test/functional/editor/mode_insert_spec.lua
  test/functional/legacy/eval_spec.lua
  test/functional/options/pastetoggle_spec.lua
  test/functional/ui/input_spec.lua
  test/unit/keymap_spec.lua
Labels: input, vim-patch, mappings, breaking-change

#18301 fix(mappings): fix double-free when unmapping simplifiable Lua mapping
  src/nvim/getchar.c
  test/functional/api/keymap_spec.lua
Labels: mappings

#18308 feat(lsp): show feedback on empty hover response
  runtime/lua/vim/lsp/handlers.lua
Labels: lua, lsp

#18309 vim-patch:8.2.{4844,4845,4846}
  src/nvim/state.c
  test/functional/ex_cmds/cmd_map_spec.lua
Labels: vim-patch

#18310 fix(input): only disable mapped CTRL-C interrupts when getting input
  src/nvim/ex_cmds.c
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/os/input.c
  test/functional/ex_cmds/ctrl_c_spec.lua
  test/functional/legacy/mapping_spec.lua
  test/functional/vimscript/system_spec.lua
Labels: input

#18313 vim-patch:8.2.0144: some mapping code is not fully tested
  src/nvim/testdir/test_langmap.vim
  src/nvim/testdir/test_maparg.vim
  src/nvim/testdir/test_mapping.vim
Labels: vim-patch

#18221 feat(lsp): options to filter and auto-apply code actions
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/protocol.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#17814 chore(lsp): remove capabilities sanitization
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/lsp/rpc.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#16772 fix(handlers): more specific error messages
  runtime/lua/vim/lsp/handlers.lua
Labels: lua, lsp

#18193 feat(lsp): add vim.lsp.buf.format
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#18318 fix(tui): disable extended keys before exiting alternate screen
  src/nvim/tui/tui.c
Labels: tui, backport release-0.7

#18288 refactor: replace char_u variables and functions with char
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/autocmd.c
  src/nvim/debugger.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/userfunc.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/main.c
Labels: refactor

#18323 vim-patch:8.1.2191,8.2.4848: mappings for completion keys not ignored
  src/nvim/getchar.c
  src/nvim/testdir/test_popup.vim
Labels: vim-patch
