Repository neovim/neovim, pull requests merged in 2022-06, with the labels that each got.

#18816 fix: checkhealth skip vim.health
  runtime/autoload/health.vim
  runtime/lua/vim/health.lua
  test/functional/plugin/health_spec.lua
Labels: lua

#18811 refactor(clang-tidy): remove nested redundant ifdefs
  src/nvim/ex_cmds2.c
Labels: refactor

#18829 fix(lsp): adjust offset encoding in lsp.buf.rename()
  runtime/lua/vim/lsp/buf.lua
Labels: lua, lsp

#18831 ci(provider): skip perl provider tests on macos
  ci/install.sh
Labels: provider, ci

#18824 fix(lua): stop pending highlight.on_yank timer, if any
  runtime/lua/vim/highlight.lua
Labels: runtime, lua

#18834 build(deps): bump Luv to HEAD - 9f8038633
  third-party/CMakeLists.txt
Labels: build, dependencies

#18794 fix(treesitter): correct region for string parser
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/languagetree.lua
Labels: lua, treesitter

#18845 fix(logging): make logmsg() thread-safe again
  src/nvim/log.c
Labels: logging

#18631 feat(lsp): add a start_or_attach function
  runtime/doc/lsp.txt
  runtime/lua/vim/fs.lua
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#18837 ci: use python3 explicitly to fix macos warnings
  ci/install.sh
Labels: ci

#18820 fix(hl): set Normal hl group sg_attr value (fixes #18024)
  src/nvim/highlight_group.c
  test/functional/api/highlight_spec.lua
Labels: api, highlight

#18847 feat(lsp): send didChangeConfiguration after init
  runtime/lua/vim/lsp.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#18856 fix(filetype): fix typo in starsetf function
  runtime/lua/vim/filetype.lua
Labels: lua, filetype

#18851 vim-patch:8.2.5054: no good filetype for conf files similar to dosini
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#18854 fix(lsp): set buflisted before switching to buffer
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp

#18858 vim-patch:partial:cfa8f9a3f285
  runtime/doc/change.txt
  runtime/doc/map.txt
  runtime/doc/options.txt
  runtime/doc/undo.txt
  runtime/filetype.vim
  runtime/ftplugin/confini.vim
  runtime/ftplugin/fortran.vim
  runtime/indent/confini.vim
  runtime/syntax/confini.vim
Labels: runtime, vim-patch

#18861 fix(startup): nvim with --clean should not load user rplugins
  runtime/plugin/rplugin.vim
  src/nvim/main.c
Labels: startup

#18859 docs: specify CMAKE_BUILD_TYPE=RelWithDebInfo in README
  README.md
Labels: documentation

#18864 perf(tests): don't invoke nvim_get_all_options_info until needed
  runtime/lua/vim/_meta.lua
Labels: lua, startup

#18855 fix(terminfo): disable smglr for vtpcon and conemu
  scripts/windows.ti
  src/nvim/tui/terminfo_defs.h
Labels: platform:windows, tui

#18869 fix(lsp): fix multi client handling in code action
  runtime/lua/vim/lsp/buf.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#18872 vim-patch:8.2.5058: input() does not handle composing characters properly
  src/nvim/getchar.c
  src/nvim/testdir/test_functions.vim
Labels: vim-patch, backport release-0.7

#18783 docs: clarify documenting struct members inline
  runtime/doc/dev_style.txt
Labels: documentation

#18814 refactor(runtime): port remaining patterns from filetype.vim to filetype.lua
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/filetype/detect.lua
Labels: refactor, runtime, lua, filetype

#18881 vim-patch:8.2.5064: no test for what 8.1.0052 fixes
  src/nvim/getchar.c
  src/nvim/testdir/test_mapping.vim
  test/functional/legacy/mapping_spec.lua
Labels: vim-patch

#18885 fix(input): allow Ctrl-C to interrupt a recursive mapping even if mapped
  src/nvim/getchar.c
  test/functional/editor/ctrl_c_spec.lua
Labels: input, backport release-0.7

#18870 fix(highlight): let winhighlight use cursor
  src/nvim/highlight_defs.h
  test/functional/ui/cursor_spec.lua
Labels: highlight

#18896 fix(nvim_create_user_command): make `smods` work with `nvim_cmd`
  src/nvim/api/vimscript.c
  src/nvim/lua/executor.c
  test/functional/api/command_spec.lua
Labels: api, lua

#18898 refactor(log): simplify log_path_init
  cmake/RunTests.cmake
  src/nvim/log.c
Labels: refactor

#18868 fix(diagnostic): check for negative column value
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: lua, diagnostic

#18788 ci(api-docs): show required changes with color
  .github/workflows/api-docs.yml
Labels: ci

#18832 fix(terminal): scrollback delete lines immediately
  src/nvim/option.c
  src/nvim/terminal.c
  test/functional/terminal/scrollback_spec.lua
Labels: terminal

#18903 test(ts): skip test if C parser is not available
  test/functional/treesitter/language_spec.lua
Labels: test, backport release-0.7

#18904 ci: run tests with no treesitter parsers installed
  .github/workflows/ci.yml
  .github/workflows/env.sh
  test/functional/helpers.lua
Labels: ci

#18908 vim-patch:8.2.{5066,5070}: lcs-leadmultispace
  runtime/doc/options.txt
  src/nvim/buffer_defs.h
  src/nvim/message.c
  src/nvim/option.c
  src/nvim/screen.c
  src/nvim/testdir/test_listchars.vim
  src/nvim/window.c
Labels: vim-patch

#18911 fix(tests): unreliable parser_spec
  test/functional/treesitter/parser_spec.lua
Labels: test

#18543 build: add a cmake target for all used linters
  .github/workflows/ci.yml
  CMakeLists.txt
  Makefile
  ci/run_lint.sh
  cmake/lint.cmake
  src/nvim/CMakeLists.txt
  src/nvim/diff.c
Labels: build

#17743 refactor(ops): convert function comments to doxygen format
  src/nvim/ops.c
Labels: refactor

#18894 feat(filetype): remove side effects from vim.filetype.match
  runtime/doc/lua.txt
  runtime/filetype.lua
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/filetype/detect.lua
  test/functional/lua/filetype_spec.lua
Labels: lua, filetype

#18917 fix(input): fix macro recording with ALT and special key
  src/nvim/getchar.c
  test/functional/editor/meta_key_spec.lua
Labels: input, backport release-0.7

#18461 refactor: change type of linenr_T from long to int32_t
  config/CMakeLists.txt
  config/config.h.in
  src/nvim/api/buffer.c
  src/nvim/api/private/helpers.c
  src/nvim/api/vimscript.c
  src/nvim/api/win_config.c
  src/nvim/change.c
  src/nvim/charset.c
  src/nvim/debugger.c
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/extmark.c
  src/nvim/fold.c
  src/nvim/lua/stdlib.c
  src/nvim/mark.c
  src/nvim/match.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/popupmnu.c
  src/nvim/pos.h
  src/nvim/quickfix.c
  src/nvim/search.c
  src/nvim/shada.c
  src/nvim/sign.c
  src/nvim/tag.c
  src/nvim/terminal.c
  src/nvim/undo.c
Labels: refactor

#18922 vim-patch:8.2.5076: unnecessary code
  src/nvim/getchar.c
  src/nvim/screen.c
Labels: vim-patch

#18428 feat(api): nvim__get_runtime do_source
  src/nvim/api/keysets.lua
  src/nvim/api/vim.c
Labels: api

#18892 build: create asan target for convenient debugging
  contrib/asan.sh
Labels: build

#18936 refactor(api): reorganize code
  runtime/doc/api.txt
  scripts/gen_vimdoc.py
  src/nvim/api/buffer.c
  src/nvim/api/command.c
  src/nvim/api/command.h
  src/nvim/api/extmark.c
  src/nvim/api/extmark.h
  src/nvim/api/options.c
  src/nvim/api/options.h
  src/nvim/api/private/dispatch.c
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/api/vimscript.c
  src/nvim/api/window.c
  src/nvim/ex_docmd.c
  src/nvim/ex_docmd.h
Labels: api, refactor

#18933 fix(buffer): disable buffer-updates before removing buffer from window
  src/nvim/buffer.c
  src/nvim/window.c
  test/functional/lua/buffer_updates_spec.lua
Labels: backport release-0.7

#18940 build(lint): fix luacheck not found
  CMakeLists.txt
  cmake/DefCmdTarget.cmake
  cmake/RunUncrustify.cmake
  cmake/lint.cmake
  src/nvim/CMakeLists.txt
Labels: build

#18914 build: remove crosscompiling capabilities from cmake
  CMakeLists.txt
  third-party/CMakeLists.txt
  third-party/cmake/BuildLibuv.cmake
  third-party/cmake/BuildLuajit.cmake
  third-party/cmake/BuildLuarocks.cmake
  third-party/cmake/BuildLuv.cmake
  third-party/cmake/BuildMsgpack.cmake
Labels: build, dependencies

#18931 fix(substitute): subtract number of backslashes later
  src/nvim/ex_cmds.c
  src/nvim/regexp.c
  src/nvim/testdir/test_substitute.vim
  test/functional/lua/buffer_updates_spec.lua
Labels: extmarks, backport release-0.7

#11226 test: dismiss quit_more from Lua
  test/functional/ui/messages_spec.lua
Labels: WIP, pager

#18945 build(lint): fix lintuncrustify
  cmake/RunUncrustify.cmake
  src/nvim/CMakeLists.txt
Labels: build

#18934 vim-patch:8.2.{5079,5081,5083}
  src/nvim/testdir/test_autocmd.vim
Labels: vim-patch

#18902 fix(tests): check for EOF in nvim properly
  test/functional/api/vim_spec.lua
  test/functional/core/fileio_spec.lua
  test/functional/ex_cmds/mksession_spec.lua
  test/functional/helpers.lua
  test/functional/legacy/008_autocommands_spec.lua
  test/functional/legacy/012_directory_spec.lua
  test/functional/legacy/031_close_commands_spec.lua
  test/functional/lua/vim_spec.lua
  test/functional/options/defaults_spec.lua
  test/functional/shada/buffers_spec.lua
  test/functional/shada/history_spec.lua
  test/functional/shada/marks_spec.lua
  test/functional/shada/registers_spec.lua
  test/functional/shada/variables_spec.lua
  test/functional/ui/syntax_conceal_spec.lua
  third-party/cmake/BuildLuarocks.cmake
Labels: test

#16251 feat: set cmdheight=0
  runtime/doc/options.txt
  src/nvim/ex_getln.c
  src/nvim/message.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/screen.c
  src/nvim/testdir/test_window_cmd.vim
  src/nvim/window.c
  test/functional/options/num_options_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/messages_spec.lua
  test/functional/ui/statusline_spec.lua
Labels: ui

#18951 feat(lsp): sort codelens if multiple item per line
  runtime/lua/vim/lsp/codelens.lua
Labels: lua, lsp

#18948 vim-patch:6ba83ba9ee29
  runtime/doc/builtin.txt
  runtime/doc/index.txt
  runtime/syntax/m4.vim
  runtime/syntax/sh.vim
  runtime/syntax/vim.vim
Labels: runtime, vim-patch

#18448 refactor: enable -Wconversion warning for eval.c
  src/nvim/CMakeLists.txt
  src/nvim/eval.c
Labels: refactor

#18947 vim-patch:8.2.{1897,1898,5088}
  src/nvim/api/command.c
  src/nvim/buffer.c
  src/nvim/change.c
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/globals.h
  src/nvim/if_cscope.c
  src/nvim/lua/executor.c
  src/nvim/mark.c
  src/nvim/memline.c
  src/nvim/message.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/quickfix.c
  src/nvim/search.c
  src/nvim/tag.c
  src/nvim/window.c
  test/unit/search_spec.lua
Labels: vim-patch

#18968 test: correct check for v:errmsg in inccommand test
  test/functional/ui/inccommand_spec.lua
Labels: test

#18966 vim-patch:8c1b8cb2e0b5
  runtime/colors/blue.vim
  runtime/colors/darkblue.vim
  runtime/colors/delek.vim
  runtime/colors/desert.vim
  runtime/colors/elflord.vim
  runtime/colors/evening.vim
  runtime/colors/industry.vim
  runtime/colors/koehler.vim
  runtime/colors/morning.vim
  runtime/colors/murphy.vim
  runtime/colors/pablo.vim
  runtime/colors/peachpuff.vim
  runtime/colors/ron.vim
  runtime/colors/shine.vim
  runtime/colors/slate.vim
  runtime/colors/torte.vim
  runtime/colors/zellner.vim
  runtime/compiler/perl.vim
  runtime/compiler/perlcritic.vim
  runtime/compiler/podchecker.vim
  runtime/ftplugin/m3build.vim
  runtime/ftplugin/m3quake.vim
  runtime/ftplugin/modula3.vim
  runtime/ftplugin/perl.vim
  runtime/ftplugin/pod.vim
  runtime/ftplugin/tap.vim
  runtime/ftplugin/tt2html.vim
  runtime/ftplugin/xs.vim
  runtime/indent/perl.vim
  runtime/syntax/mason.vim
  runtime/syntax/perl.vim
  runtime/syntax/pod.vim
  runtime/syntax/tap.vim
  runtime/syntax/tt2.vim
  runtime/syntax/tt2html.vim
  runtime/syntax/tt2js.vim
  runtime/syntax/vim.vim
  runtime/syntax/xs.vim
  scripts/genvimvim.lua
Labels: runtime, vim-patch

#18969 fix(ui): do not call showmode() when setting window height
  src/nvim/window.c
  test/functional/ui/cmdline_spec.lua
Labels: ui, backport release-0.7

#18974 vim-patch:8.2.5097: using uninitialized memory when using 'listchars'
  src/nvim/message.c
Labels: vim-patch

#18950 refactor(log): use msg_schedule_semsg
  src/nvim/log.c
  src/nvim/message.c
Labels: refactor

#18976 fix(lua): highlight.on_yank can close timer in twice
  runtime/lua/vim/_editor.lua
  test/functional/lua/highlight_spec.lua
Labels: lua

#18979 fix(lua): clear got_int when calling vim.on_key() callback
  src/nvim/lua/executor.c
  test/functional/lua/vim_spec.lua
Labels: input, lua

#18984 backport highlight.on_yank timer fixes #18824 and #18976
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/highlight.lua
  test/functional/lua/highlight_spec.lua
Labels: lua

#18760 fix(treesitter): new iter if folded
  runtime/lua/vim/treesitter/highlighter.lua
Labels: lua, treesitter

#18962 docs: correct 'insertmode' emulation script
  runtime/doc/vim_diff.txt
Labels: documentation

#18989 test(treesitter): add benchmark from #18109
  test/benchmark/treesitter_spec.lua
Labels: test, treesitter

#19002 vim-patch:d592deb33652
  runtime/compiler/icon.vim
  runtime/doc/builtin.txt
  runtime/doc/cmdline.txt
  runtime/doc/map.txt
  runtime/doc/pi_netrw.txt
  runtime/ftplugin/icon.vim
  runtime/indent/dtd.vim
  runtime/indent/julia.vim
  runtime/indent/perl.vim
  runtime/syntax/coco.vim
  runtime/syntax/dirpager.vim
  runtime/syntax/dts.vim
  runtime/syntax/icon.vim
  runtime/syntax/initng.vim
  runtime/syntax/ipfilter.vim
  runtime/syntax/mupad.vim
  runtime/syntax/perl.vim
  runtime/syntax/pod.vim
  runtime/syntax/sendpr.vim
  runtime/syntax/tar.vim
  runtime/syntax/trustees.vim
  runtime/syntax/vim.vim
Labels: runtime, vim-patch

#19005 vim-patch:8.2.5116: "limit" option of matchfuzzy() not always respected
  runtime/doc/builtin.txt
  src/nvim/search.c
  src/nvim/testdir/test_matchfuzzy.vim
Labels: vim-patch

#19011 vim-patch:8.2.{5120.5121}
  src/nvim/search.c
  src/nvim/testdir/test_interrupt.vim
Labels: vim-patch

#19016 fix(logging): try harder to resolve Nvim "name"
  src/nvim/eval.c
  src/nvim/log.c
Labels: logging

#18978 fix(terminal): coverity USE_AFTER_FREE
  src/nvim/api/vim.c
  src/nvim/buffer.c
  src/nvim/channel.c
  src/nvim/terminal.c
Labels: terminal

#19018 build(lint): set some linters as non-fatal
  CMakeLists.txt
  src/nvim/CMakeLists.txt
Labels: build

#19019 fix(ci): noisy logs, unreliable test
  src/nvim/os/signal.c
  test/functional/core/remote_spec.lua
  test/functional/treesitter/parser_spec.lua
Labels: ci

#19021 ci(release): skip CoreServices system library on macOS
  .github/workflows/release.yml
Labels: ci, backport release-0.7

#19022 [Backport release-0.7] ci(release): skip CoreServices system library on macOS (#19021)
  .github/workflows/release.yml
Labels: ci

#18932 fix(tui): fix piping output make nvim unusable
  src/nvim/ui.c
Labels: tui, backport release-0.7

#19010 fix(extmark): fix conceal
  src/nvim/decoration.c
  src/nvim/extmark.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks, conceal, backport release-0.7

#19015 delete cmake code
  CMakeLists.txt
  cmake/DefCmdTarget.cmake
  cmake/FindLua.cmake
  cmake/UninstallHelper.cmake
  cmake/UninstallHelper.cmake.in
  src/nvim/CMakeLists.txt
Labels: build

#19027 refactor(provider): replace filter with list comprehension
  runtime/autoload/health/provider.vim
  runtime/autoload/provider/pythonx.vim
Labels: runtime, provider

#19031 vim-patch:d799daa660b8
  runtime/doc/builtin.txt
  runtime/doc/map.txt
  runtime/doc/visual.txt
  runtime/indent/confini.vim
  runtime/indent/systemd.vim
  runtime/indent/yaml.vim
  runtime/syntax/vim.vim
Labels: runtime, vim-patch

#19030 vim-patch:8.2.{5107,5138}: various small issues
  src/nvim/move.c
Labels: vim-patch

#18743 Add "buf" and "win" to nvim_get_option_value and use them in vim.bo and vim.wo
  runtime/doc/api.txt
  runtime/lua/vim/_meta.lua
  src/nvim/api/options.c
  test/functional/api/vim_spec.lua
  test/functional/lua/vim_spec.lua
Labels: refactor, lua

#19033 Update docs concerning $NVIM_LISTEN_ADDRESS
  runtime/doc/deprecated.txt
Labels: documentation, backport release-0.7

#19038 refactor(option): DRY up get/set option value
  src/nvim/api/options.c
Labels: refactor

#19045 vim-patch:8.2.5132: :mkview test doesn't test much
  src/nvim/testdir/test_mksession.vim
Labels: vim-patch

#19039 perf: get rid of unnecessary allocations in highlight groups
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/cursor_shape.c
  src/nvim/hardcopy.c
  src/nvim/highlight.c
  src/nvim/highlight_group.c
  src/nvim/memory.c
  src/nvim/terminal.c
  src/nvim/ui.c
  test/functional/api/highlight_spec.lua
Labels: terminal

#19052 fix(api): check error after getting win/buf handle
  src/nvim/api/options.c
  test/functional/lua/vim_spec.lua
Labels: api

#19047 fix(input): use correct grid when restoring cursor for <expr> mapping
  src/nvim/getchar.c
  src/nvim/ui.c
  test/functional/ex_cmds/map_spec.lua
Labels: ui, input, mappings, backport release-0.7

#19054 vim-patch:8.2.{5150,5151}: reading beyond the end of the line
  src/nvim/ex_docmd.c
  src/nvim/indent.c
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_lispwords.vim
Labels: vim-patch

#19055 vim-patch:8.2.2068: transparent syntax item uses start/end of containing region
  src/nvim/syntax.c
  src/nvim/testdir/test_syntax.vim
Labels: vim-patch

#19020 fix(float): make `screen*()` functions respect floating windows
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/ui_compositor.c
  test/functional/vimscript/screenchar_spec.lua
Labels: float

#19058 perf(highlight): use binary search to lookup RGB color names
  src/nvim/highlight_group.c
  src/nvim/main.c
  src/nvim/ops.c
Labels: highlight

#19061 refactor: move some mapping-related code to a separate file
  scripts/vim-patch.sh
  src/nvim/api/buffer.c
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/buffer.c
  src/nvim/digraph.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/ex_session.c
  src/nvim/getchar.c
  src/nvim/getchar.h
  src/nvim/keycodes.c
  src/nvim/main.c
  src/nvim/mapping.c
  src/nvim/mapping.h
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/window.c
Labels: refactor

#19056 fix(api): check for inclusive buffer line index out of bounds correctly
  src/nvim/api/buffer.c
  test/functional/api/buffer_spec.lua
Labels: api

#19066 vim-patch:8cc5b559f700
  runtime/doc/options.txt
  runtime/doc/usr_40.txt
  runtime/doc/usr_41.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  runtime/syntax/doxygen.vim
Labels: runtime, vim-patch

#19050 fix(tests): remove misleading $TEST_PATH segment
  cmake/RunTests.cmake
  test/helpers.lua
Labels: build

#19072 vim-patch:8.2.{4628,4895,4977,5146,5154}
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/regexp.c
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_substitute.vim
Labels: vim-patch

#19076 vim-patch:a57b553b4328
  runtime/indent/testdir/vim.in
  runtime/indent/testdir/vim.ok
  runtime/indent/vim.vim
Labels: runtime, vim-patch

#19080 fix(filetype.lua): always return a string in getlines function
  runtime/lua/vim/filetype.lua
Labels: lua, filetype

#19041 fix(api): nvim_set_option_value for global-local options
  src/nvim/api/options.c
  test/functional/lua/vim_spec.lua
Labels: api, lua

#19029 ci: build universal release on macOS
  .github/workflows/notes.md
  .github/workflows/release.yml
  third-party/CMakeLists.txt
  third-party/cmake/BuildLuajit.cmake
  third-party/cmake/BuildLuv.cmake
  third-party/cmake/BuildMsgpack.cmake
  third-party/cmake/BuildTreesitterParsers.cmake
Labels: platform:macos, build, distribution, ci

#19083 vim-patch:8.2.5022: 'completefunc'/'omnifunc' error does not end completion
  src/nvim/edit.c
  src/nvim/testdir/test_ins_complete.vim
Labels: vim-patch

#19084 fix(build): strip trailing newline from variable
  third-party/cmake/BuildLuajit.cmake
Labels: build, dependencies

#19085 [Backport release-0.7] macOS universal release (#19029, #18914, #19084)
  .github/workflows/notes.md
  .github/workflows/release.yml
  CMakeLists.txt
  third-party/CMakeLists.txt
  third-party/cmake/BuildLibuv.cmake
  third-party/cmake/BuildLuajit.cmake
  third-party/cmake/BuildLuarocks.cmake
  third-party/cmake/BuildLuv.cmake
  third-party/cmake/BuildMsgpack.cmake
  third-party/cmake/BuildTreesitterParsers.cmake
Labels: build, ci, dependencies

#16271 fix: make_filter_cmd for powershell as shell
  CMakeLists.txt
  runtime/doc/options.txt
  src/nvim/ex_cmds.c
  test/functional/autocmd/termxx_spec.lua
  test/functional/core/job_spec.lua
  test/functional/ex_cmds/ls_spec.lua
  test/functional/ex_cmds/make_spec.lua
  test/functional/fixtures/CMakeLists.txt
  test/functional/helpers.lua
  test/functional/terminal/cursor_spec.lua
  test/functional/terminal/edit_spec.lua
  test/functional/terminal/ex_terminal_spec.lua
  test/functional/terminal/helpers.lua
  test/functional/terminal/highlight_spec.lua
  test/functional/terminal/scrollback_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/hlstate_spec.lua
  test/functional/ui/inccommand_spec.lua
  test/functional/ui/output_spec.lua
  test/functional/ui/searchhl_spec.lua
  test/functional/ui/wildmode_spec.lua
  test/functional/vimscript/let_spec.lua
  test/functional/vimscript/system_spec.lua
Labels: platform:windows, environment, backport release-0.7

#19088 [Backport release-0.7] fix: make_filter_cmd for powershell as shell (#16271)
  CMakeLists.txt
  runtime/doc/options.txt
  src/nvim/ex_cmds.c
  test/functional/autocmd/termxx_spec.lua
  test/functional/core/job_spec.lua
  test/functional/ex_cmds/ls_spec.lua
  test/functional/ex_cmds/make_spec.lua
  test/functional/fixtures/CMakeLists.txt
  test/functional/helpers.lua
  test/functional/terminal/cursor_spec.lua
  test/functional/terminal/edit_spec.lua
  test/functional/terminal/ex_terminal_spec.lua
  test/functional/terminal/helpers.lua
  test/functional/terminal/highlight_spec.lua
  test/functional/terminal/scrollback_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/hlstate_spec.lua
  test/functional/ui/inccommand_spec.lua
  test/functional/ui/output_spec.lua
  test/functional/ui/searchhl_spec.lua
  test/functional/ui/wildmode_spec.lua
  test/functional/vimscript/let_spec.lua
  test/functional/vimscript/system_spec.lua
Labels: build

#19090 fix(build): don't disable byte precompilation on debug builds
  CMakeLists.txt
Labels: build

#19092 vim-patch:e1dc76fbf333
  runtime/doc/various.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: runtime, vim-patch

#19095 build: add #ifdef HAVE_WORKING_LIBINTL around free_locales() call
  src/nvim/eval.c
Labels: build

#19102 Release 0.7.1
  CMakeLists.txt
  runtime/nvim.appdata.xml
Labels: build

#19105 ci(release): use system GPerf on macOS
  .github/workflows/release.yml
Labels: ci

#19100 docs(release): suggest running `xattr` on release tarball
  .github/workflows/notes.md
Labels: ci

#18895 refactor(filetype)!: allow vim.filetype.match to use different strategies
  runtime/doc/lua.txt
  runtime/filetype.lua
  runtime/lua/vim/filetype.lua
  test/functional/lua/filetype_spec.lua
Labels: refactor, lua, filetype, breaking-change

#19091 feat(api): support pattern array for exec_autocmds
  src/nvim/api/autocmd.c
  test/functional/api/autocmd_spec.lua
Labels: api, events, backport release-0.7

#18716 vim-patch:8.2.{3484,5007,5123}: spell suggestion fixes
  src/nvim/option.c
  src/nvim/spell.c
  src/nvim/testdir/test_spell.vim
  src/nvim/testdir/test_spell_utf8.vim
Labels: vim-patch, spell

#19116 fix(api): nvim_parse_cmd check for ambiguous user command
  src/nvim/ex_docmd.c
  test/functional/api/vim_spec.lua
Labels: api

#19119 build: move man/ to src/man/
  CMakeLists.txt
  contrib/luarc.json
  src/man/Makefile
  src/man/nvim.1
Labels: build

#19077 refactor: enable -Wconversion warning for ex_cmds.c
  src/nvim/CMakeLists.txt
  src/nvim/ex_cmds.c
Labels: build, refactor

#19104 vim-patch:partial:8a3b805c6c9c
  runtime/doc/cmdline.txt
  runtime/doc/editing.txt
  runtime/doc/eval.txt
  runtime/doc/filetype.txt
  runtime/doc/indent.txt
  runtime/doc/map.txt
  runtime/doc/nvim_terminal_emulator.txt
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/doc/tabpage.txt
  runtime/syntax/doxygen.vim
Labels: runtime, vim-patch

#19122 refactor: enable -Wconversion warning for message.c
  src/nvim/CMakeLists.txt
  src/nvim/message.c
Labels: refactor

#19129 fix(filetype): check for non-nil match in detect.rules
  runtime/lua/vim/filetype/detect.lua
Labels: lua, filetype

#19130 vim-patch:069a7d561bbe
  runtime/doc/options.txt
Labels: documentation, runtime, vim-patch

#18429 refactor: replace char_u variables and functions with char
  src/nvim/api/command.c
  src/nvim/api/vim.c
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/change.c
  src/nvim/charset.c
  src/nvim/debugger.c
  src/nvim/diff.c
  src/nvim/digraph.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/userfunc.c
  src/nvim/event/socket.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/ex_session.c
  src/nvim/fileio.c
  src/nvim/fold.c
  src/nvim/getchar.c
  src/nvim/hardcopy.c
  src/nvim/highlight_group.c
  src/nvim/if_cscope.c
  src/nvim/indent.c
  src/nvim/indent_c.c
  src/nvim/main.c
  src/nvim/mapping.c
  src/nvim/mark.c
  src/nvim/mbyte.c
  src/nvim/memline.c
  src/nvim/message.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/os/env.c
  src/nvim/os/shell.c
  src/nvim/path.c
  src/nvim/plines.c
  src/nvim/popupmnu.c
  src/nvim/quickfix.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/shada.c
  src/nvim/sign.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/undo.c
  src/nvim/version.c
Labels: refactor

#19109 fix(lua): use empty_dict when no opts given in vim.ui.input
  runtime/doc/lua.txt
  runtime/lua/vim/ui.lua
  test/functional/lua/ui_spec.lua
Labels: lua

#19060 Fix various memory leaks detected by coverity
  src/nvim/eval/funcs.c
  src/nvim/runtime.c
  src/nvim/sign.c
  test/functional/ex_cmds/sign_spec.lua
Labels: refactor, lua

#19132 perf: reduce steps in release workflow
  .github/workflows/release.yml
Labels: ci

#19059 Fix coverity 353303 and 353302
  src/nvim/quickfix.c
Labels: refactor, code-standards

#19141 refactor: define builtin mappings and autocmds without pseudo-excmds
  src/nvim/autocmd.c
  src/nvim/ex_getln.c
  src/nvim/mapping.c
  src/nvim/normal.c
  test/functional/core/startup_spec.lua
Labels: refactor, mappings

#19139 build(cmake): fix static `libintl` test on macOS
  .github/workflows/release.yml
  cmake/FindLibIntl.cmake
Labels: platform:macos, build, ci, backport release-0.7

#19133 feat(api): make `nvim_parse_cmd` and `nvim_cmd` support :filter
  runtime/doc/api.txt
  src/nvim/api/command.c
  src/nvim/api/keysets.lua
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  test/functional/api/vim_spec.lua
Labels: api

#19146 [Backport release-0.7] build(cmake): fix static `libintl` test on macOS
  .github/workflows/release.yml
  cmake/FindLibIntl.cmake
Labels: build, ci

#19150 vim-patch:9.0.0002: map functionality outside of map.c
  src/nvim/buffer.c
  src/nvim/eval/funcs.c
  src/nvim/mapping.c
  src/nvim/memory.c
Labels: vim-patch

#19147 vim-patch:8.2.4378: incsearch HL broken when calling searchcount in 'tabLine'
  src/nvim/search.c
  src/nvim/testdir/test_search_stat.vim
  test/functional/legacy/search_stat_spec.lua
Labels: vim-patch

#19153 vim-patch:9.0.0006: not all Visual Basic files are recognized
  runtime/autoload/dist/ft.vim
  runtime/doc/filetype.txt
  runtime/filetype.vim
  runtime/lua/vim/filetype/detect.lua
  src/nvim/testdir/test_filetype.vim
Labels: runtime, lua, vim-patch, filetype

#18998 fix(lsp): fix some small bugs in snippet-parser
  runtime/lua/vim/lsp/_snippet.lua
  test/functional/plugin/lsp/snippet_spec.lua
Labels: lua, lsp

#19159 refactor(highlight)!: rename attributes to match Vim
  runtime/doc/api.txt
  runtime/doc/builtin.txt
  runtime/doc/syntax.txt
  runtime/doc/ui.txt
  runtime/syntax/vim.vim
  src/nvim/api/keysets.lua
  src/nvim/api/vim.c
  src/nvim/eval/funcs.c
  src/nvim/hardcopy.c
  src/nvim/hardcopy.h
  src/nvim/highlight.c
  src/nvim/highlight_defs.h
  src/nvim/highlight_group.c
  src/nvim/tui/tui.c
  test/functional/api/highlight_spec.lua
  test/functional/terminal/highlight_spec.lua
  test/functional/ui/screen.lua
Labels: refactor, highlight, breaking-change

#19134 refactor: enable -Wconversion warning for fileio.c
  src/nvim/CMakeLists.txt
  src/nvim/fileio.c
Labels: refactor

#19163 vim-patch:9.0.0001: Travis CI is no longer used
  .travis.yml
Labels: ci, vim-patch

#19166 vim-patch:9.0.0011: reading beyond the end of the line with put command
  src/nvim/ops.c
  src/nvim/testdir/test_put.vim
Labels: vim-patch

#18803 refactor(uncrustify): change config to better align with style guide
  src/nvim/eval/funcs.c
  src/nvim/eval/typval_encode.c.h
  src/nvim/fileio.c
  src/nvim/func_attr.h
  src/nvim/memline.c
  src/nvim/normal.c
  src/uncrustify.cfg
Labels: refactor

#15831 feat(marks): marks keep "view" info and restore it on jump
  runtime/doc/motion.txt
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/api/buffer.c
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/change.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_session.c
  src/nvim/mark.c
  src/nvim/mark.h
  src/nvim/mark_defs.h
  src/nvim/normal.c
  src/nvim/option_defs.h
  src/nvim/regexp_bt.c
  src/nvim/regexp_nfa.c
  src/nvim/shada.c
  src/nvim/tag.c
  test/functional/editor/jump_spec.lua
  test/functional/editor/mark_spec.lua
Labels: refactor, complexity:high, core

#19171 fix(filetype): update call sites of vim.filetype.match
  runtime/lua/vim/filetype.lua
Labels: lua, filetype
