Repository neovim/neovim, pull requests merged in 2022-10, with the labels that each got.

#20421 refactor(lsp): remove deprecated lsp functions
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/buf.lua
Labels: refactor, lua, lsp

#20424 vim-patch:8.2.2542: highlight of char beyond line end is not correct
  src/nvim/match.c
  src/nvim/testdir/test_search.vim
  test/functional/legacy/search_spec.lua
  test/functional/ui/searchhl_spec.lua
Labels: vim-patch

#20423 refactor(diagnostic): remove deprecated function
  runtime/lua/vim/diagnostic.lua
Labels: refactor, lua, diagnostic

#20417 ci(publish-winget): use versioned tags for action
  .github/workflows/release.yml
Labels: ci

#20429 vim-patch:9.0.{0620,0622}: matchaddpos() can only add up to 8 matches
  runtime/doc/builtin.txt
  src/nvim/buffer_defs.h
  src/nvim/drawscreen.c
  src/nvim/match.c
  src/nvim/testdir/test_match.vim
  src/nvim/window.c
  test/functional/legacy/063_match_and_matchadd_spec.lua
  test/functional/legacy/match_spec.lua
Labels: vim-patch

#20439 fix(folds): fix fold marker multibyte comparison
  src/nvim/fold.c
  test/functional/ui/fold_spec.lua
Labels: folds, backport release-0.8

#20445 build(deps): bump libuv to HEAD - f610339f7
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/BuildLibuv.cmake
  cmake.deps/patches/libuv-disable-shared.patch
Labels: build, dependencies

#20433 build(deps): bump Luv to HEAD - 80c8c00ba
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#20449 build: only generate compilation database for the nvim target
  CMakeLists.txt
  src/nvim/CMakeLists.txt
Labels: build

#20422 docs: refer to vim.lsp.start in lsp bug report issue template
  .github/ISSUE_TEMPLATE/lsp_bug_report.yml
Labels: project-management

#20154 build: delete cmake code
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/BuildGettext.cmake
  cmake.deps/cmake/BuildLibiconv.cmake
  cmake.deps/cmake/BuildLibtermkey.cmake
  cmake.deps/cmake/BuildLibuv.cmake
  cmake.deps/cmake/BuildLibvterm.cmake
  cmake.deps/cmake/BuildLua.cmake
  cmake.deps/cmake/BuildLuajit.cmake
  cmake.deps/cmake/BuildLuarocks.cmake
  cmake.deps/cmake/BuildLuv.cmake
  cmake.deps/cmake/BuildMsgpack.cmake
  cmake.deps/cmake/BuildTreesitter.cmake
  cmake.deps/cmake/BuildTreesitterParsers.cmake
  cmake.deps/cmake/BuildUnibilium.cmake
  cmake.deps/cmake/DownloadAndExtractFile.cmake
  cmake.deps/cmake/GetBinaryDeps.cmake
  cmake.deps/cmake/TargetArch.cmake
  cmake/GetCompileFlags.cmake
  cmake/RunMsgfmt.cmake
  cmake/RunMsgmerge.cmake
  cmake/RunXgettext.cmake
  src/nvim/po/CMakeLists.txt
Labels: build, dependencies

#20459 docs: must use & for piping stringed path in pwsh
  runtime/doc/various.txt
Labels: documentation, platform:windows

#20467 vim-patch:8.2.2316: Vim9: cannot list a lambda function
  src/nvim/eval/userfunc.c
  test/functional/vimscript/eval_spec.lua
Labels: vim-patch

#20478 build(deps): bump LuaJIT to HEAD - 6c4826f12
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#20473 feat(lsp): lsp.start takes bufnr
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#20490 vim-patch:9.0.{0656,0661}: 'fillchars' "lastline"
  runtime/doc/options.txt
  src/nvim/buffer_defs.h
  src/nvim/drawscreen.c
  src/nvim/screen.c
  src/nvim/testdir/test_display.vim
  test/functional/legacy/display_spec.lua
Labels: vim-patch

#20470 vim-patch:partial:f269eabc6c4f
  runtime/doc/builtin.txt
  runtime/doc/fold.txt
  runtime/doc/insert.txt
  runtime/doc/options.txt
  runtime/ftplugin/erlang.vim
  runtime/indent/erlang.vim
  runtime/optwin.vim
  runtime/syntax/erlang.vim
  runtime/syntax/vim.vim
Labels: runtime, vim-patch

#20493 test(api): migrate screenchar() test in in window API to screen test
  test/functional/api/window_spec.lua
Labels: api, test

#20494 test(shada): fix shada syntax definitions test.
  test/functional/plugin/shada_spec.lua
Labels: test

#20496 docs(docstrings): fix runtime type annotations
  runtime/doc/lua.txt
  runtime/lua/vim/F.lua
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/shared.lua
Labels: documentation, lua

#20374 screen: refactor old curwin-heavy logic and graduate "msgsep" feature
  runtime/doc/options.txt
  runtime/doc/syntax.txt
  runtime/doc/ui.txt
  runtime/doc/vim_diff.txt
  src/nvim/autocmd.c
  src/nvim/cmdexpand.c
  src/nvim/drawscreen.c
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/generators/gen_options.lua
  src/nvim/getchar.c
  src/nvim/insexpand.c
  src/nvim/main.c
  src/nvim/message.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/popupmenu.c
  src/nvim/quickfix.c
  src/nvim/search.c
  src/nvim/state.c
  src/nvim/terminal.c
  src/nvim/ui_compositor.c
  src/nvim/version.c
  src/nvim/window.c
  test/functional/core/fileio_spec.lua
  test/functional/legacy/cmdline_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/embed_spec.lua
  test/functional/ui/highlight_spec.lua
  test/functional/ui/messages_spec.lua
  test/functional/ui/screen_basic_spec.lua
  test/functional/ui/wildmode_spec.lua
Labels: ui

#20500 vim-patch:9.0.0665: setting 'cmdheight' has no effect if last window was resized
  src/nvim/option.c
  src/nvim/testdir/test_cmdline.vim
  src/nvim/window.c
  test/functional/legacy/cmdline_spec.lua
Labels: vim-patch

#20503 vim-patch:9.0.0422: not enough testing of the :all command
  src/nvim/testdir/test_arglist.vim
Labels: vim-patch

#19243 feat(window/ui): add splitkeep option
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/optwin.vim
  src/nvim/buffer_defs.h
  src/nvim/edit.c
  src/nvim/ex_getln.c
  src/nvim/globals.h
  src/nvim/main.c
  src/nvim/move.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/optionstr.c
  src/nvim/testdir/test_window_cmd.vim
  src/nvim/window.c
  test/functional/legacy/window_cmd_spec.lua
Labels: ui, status:has-vim-patch, core, options

#20506 vim-patch:9.0.0657: too many #ifdefs
  src/nvim/arglist.c
  src/nvim/normal.c
Labels: vim-patch

#20487 docs(lsp): add formatting APIs to deprecated.txt
  runtime/doc/deprecated.txt
Labels: documentation, lsp

#20511 docs: fix incorrect :help tag
  runtime/doc/deprecated.txt
Labels: documentation

#20491 build(deps): restore support for USE_EXISTING_SRC_DIR
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/BuildGettext.cmake
  cmake.deps/cmake/BuildLibiconv.cmake
  cmake.deps/cmake/BuildLibtermkey.cmake
  cmake.deps/cmake/BuildLibuv.cmake
  cmake.deps/cmake/BuildLibvterm.cmake
  cmake.deps/cmake/BuildLua.cmake
  cmake.deps/cmake/BuildLuajit.cmake
  cmake.deps/cmake/BuildLuarocks.cmake
  cmake.deps/cmake/BuildLuv.cmake
  cmake.deps/cmake/BuildMsgpack.cmake
  cmake.deps/cmake/BuildTreesitter.cmake
  cmake.deps/cmake/BuildTreesitterParsers.cmake
  cmake.deps/cmake/BuildUnibilium.cmake
  cmake.deps/cmake/GetBinaryDeps.cmake
Labels: build, dependencies

#20498 fix(docs-html): keycodes, taglinks, column_heading
  cmake.deps/CMakeLists.txt
  runtime/doc/autocmd.txt
  runtime/doc/channel.txt
  runtime/doc/ft_ada.txt
  runtime/doc/intro.txt
  runtime/doc/luaref.txt
  runtime/doc/mbyte.txt
  runtime/doc/options.txt
  runtime/doc/pi_msgpack.txt
  runtime/doc/starting.txt
  runtime/doc/testing.txt
  runtime/doc/usr_41.txt
  runtime/doc/usr_toc.txt
  runtime/doc/vim_diff.txt
  scripts/gen_help_html.lua
  test/functional/lua/help_spec.lua
Labels: build, dependencies

#20378 docs: added proper annotations to functions in shared.lua
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/lua/vim/shared.lua
  scripts/lua2dox.lua
Labels: lua

#20510 ci: update which paths to ignore
  .github/workflows/ci.yml
Labels: ci

#20501 vim-patch:9.0.0666: spacing-combining characters handled as composing
  src/nvim/generators/gen_unicode_tables.lua
Labels: vim-patch

#20518 vim-patch:9.0.0678: using exclamation marks on :function
  src/nvim/testdir/script_util.vim
  src/nvim/testdir/test_cursorline.vim
  src/nvim/testdir/test_popup.vim
  src/nvim/testdir/test_prompt_buffer.vim
  src/nvim/testdir/test_vimscript.vim
  src/nvim/testdir/view_util.vim
Labels: vim-patch

#20515 fix(ui): setting 'cmdheight' with global statusline
  src/nvim/option.c
  src/nvim/window.c
  test/functional/ui/statusline_spec.lua
Labels: ui, backport release-0.8

#20519 fix: find multibyte file name in line
  src/nvim/fold.c
  src/nvim/window.c
  test/functional/core/path_spec.lua
  test/functional/fixtures/filename_with_unicode_ααα
Labels: encoding, backport release-0.8

#19977 feat(lsp): support window/showDocument
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#20537 fix(api): dynamically allocate line buffer for nvim_out_write
  src/nvim/api/vim.c
  test/functional/api/vim_spec.lua
Labels: api

#20523 fix(tui): resume main thread if suspending isn't implemented
  src/nvim/tui/tui.c
Labels: tui, backport release-0.8

#20543 ci(backport): bump version to v0
  .github/workflows/backport.yml
Labels: ci

#20528 ci: Use ubuntu docker container to build appimage
  .github/workflows/release.yml
Labels: ci

#20542 vim-patch:9.0.0692: PoE filter files are not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#20426 docs(news): add news.txt and link from README
  README.md
  runtime/doc/news.txt
  scripts/gen_help_html.lua
Labels: documentation

#20544 build: remove EXITFREE for debug builds
  src/nvim/CMakeLists.txt
Labels: build

#20551 fix: properly configure luacheck and remove `local vim = ...` lines
  .luacheckrc
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_init_packages.lua
  runtime/lua/vim/_meta.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/shared.lua
Labels: lua, lsp

#20553 Build appimage in container (0.8 backport)
  .github/workflows/release.yml
Labels: ci

#20552 build: generate compilation database for older cmake versions
  src/nvim/CMakeLists.txt
Labels: build

#20554 vim-patch:9.0.{0697,0702}: cursor in wrong position with 'linebreak'
  src/nvim/ops.c
  src/nvim/testdir/test_listlbr.vim
  src/nvim/testdir/test_visual.vim
  test/functional/legacy/listlbr_spec.lua
Labels: vim-patch

#12823 doc
  CMakeLists.txt
  CONTRIBUTING.md
  LICENSE.txt
  MAINTAIN.md
  runtime/doc/api.txt
  runtime/doc/builtin.txt
  runtime/doc/deprecated.txt
  runtime/doc/develop.txt
  runtime/doc/index.txt
  runtime/doc/lua.txt
  runtime/doc/luaref.txt
  runtime/doc/nvim.txt
  runtime/doc/options.txt
  runtime/doc/provider.txt
  runtime/doc/repeat.txt
  runtime/doc/starting.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_editor.lua
  scripts/bump-deps.sh
  scripts/gen_help_html.lua
  scripts/gen_vimdoc.py
  src/clint.py
  src/nvim/api/buffer.c
  src/nvim/api/window.c
  src/nvim/hashtab.c
  src/nvim/terminal.c
  test/functional/api/vim_spec.lua
  test/functional/helpers.lua
Labels: documentation, WIP

#20557 build(deps): bump vimdoc parser to v1.2.0
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#20559 vim-patch:9.0.0706: :help in a narrow window always opens at the top
  src/nvim/help.c
Labels: vim-patch

#20558 feat(docs-html): fixes; use tags for ToC headings
  runtime/doc/develop.txt
  runtime/doc/lua.txt
  runtime/lua/vim/shared.lua
  scripts/gen_help_html.lua
Labels: lua

#20555 fix(lua): assert failure with vim.regex() error inside :silent!
  src/nvim/lua/stdlib.c
  test/functional/lua/vim_spec.lua
Labels: lua, backport release-0.8

#20563 vim-patch:9.0.0700: there is no real need for a "big" build
  src/nvim/testdir/test_regexp_utf8.vim
Labels: vim-patch

#20572 vim-patch:9.0.0713: <amatch> of MenuPopup event is expanded like a file name
  src/nvim/autocmd.c
  src/nvim/testdir/test_menu.vim
Labels: vim-patch, backport release-0.8

#20576 feat(man): add health check
  runtime/lua/man/health.lua
Labels: lua

#20575 build(deps): add build type for libuv
  cmake.deps/cmake/BuildLibuv.cmake
Labels: build, dependencies

#20574 vim-patch:8.2.{1465,2184,2670,2671},9.0.{0712,partial:0715}
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/globals.h
  src/nvim/message.c
  src/nvim/testdir/test_cursor_func.vim
Labels: vim-patch

#20566 build(deps): disable shared library for libvterm.
  cmake.deps/cmake/LibvtermCMakeLists.txt
Labels: build, dependencies

#20584 refactor: explicitly convert HANDLE to intptr_t for _open_osfhandle()
  src/nvim/fileio.c
Labels: refactor, platform:windows, backport release-0.8

#20570 refactor: lua2dox
  scripts/lua2dox.lua
  scripts/lua2dox_filter
Labels: refactor

#20591 refactor(man): pass env directly to spawn()
  runtime/lua/man.lua
Labels: refactor, lua

#20596 refactor/mark.c
  src/nvim/mark.c
Labels: lua

#20593 fix(man): support MacOS 13
  runtime/lua/man.lua
Labels: lua

#20602 fix(runtime): properly rely on t_Co for colorschemes
  runtime/colors/blue.vim
  runtime/colors/darkblue.vim
  runtime/colors/delek.vim
  runtime/colors/desert.vim
  runtime/colors/elflord.vim
  runtime/colors/evening.vim
  runtime/colors/habamax.vim
  runtime/colors/industry.vim
  runtime/colors/koehler.vim
  runtime/colors/lunaperche.vim
  runtime/colors/morning.vim
  runtime/colors/murphy.vim
  runtime/colors/pablo.vim
  runtime/colors/peachpuff.vim
  runtime/colors/quiet.vim
  runtime/colors/ron.vim
  runtime/colors/shine.vim
  runtime/colors/slate.vim
  runtime/colors/torte.vim
  runtime/colors/zellner.vim
Labels: runtime, highlight

#20606 vim-patch:8.2.4523: when gvim is started maximized the 'window' option isn't set
  src/nvim/window.c
  test/functional/ui/screen_basic_spec.lua
Labels: vim-patch

#15601 build: add clang-tidy configuration file
  .clang-tidy
Labels: code-standards

#20598 refactor(search.c): clint
  src/nvim/search.c
Labels: refactor

#20620 vim-patch:9.0.0731: clang-tidy configuration files are not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#20600 refactor: clint
  src/nvim/eval/decode.c
  src/nvim/eval/encode.c
  src/nvim/ex_cmds.c
  src/nvim/ex_eval.c
  src/nvim/file_search.c
  src/nvim/fileio.c
  src/nvim/garray.c
  src/nvim/main.c
  src/nvim/move.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/path.c
  src/nvim/tag.c
  src/nvim/window.c
Labels: refactor

#20627 vim-patch:9.0.0727: help in the repository differs from patched version too much
  runtime/doc/builtin.txt
Labels: documentation, vim-patch

#20629 vim-patch:8.2.{4453,4462}
  src/nvim/option.c
  src/nvim/quickfix.c
  src/nvim/testdir/test_makeencoding.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/window.c
Labels: vim-patch

#20630 vim-patch:9.0.{0260,0286}: quickfix fixes
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: vim-patch

#20631 vim-patch:8.2.4735: quickfix tests can be a bit hard to read
  src/nvim/testdir/test_quickfix.vim
Labels: vim-patch

#20633 vim-patch:9.0.0738: cannot suppress completion "scanning" messages
  runtime/doc/options.txt
  src/nvim/insexpand.c
  src/nvim/option_defs.h
  src/nvim/optionstr.c
Labels: vim-patch

#20607 feat(Windows): show icon in titlebar and taskbar
  cmake.packaging/CMakeLists.txt
  runtime/CMakeLists.txt
  runtime/neovim.ico
  src/nvim/main.c
Labels: build, platform:windows

#20641 vim-patch:9.0.0747: too many #ifdefs
  src/nvim/normal.c
  src/nvim/screen.c
  src/nvim/window.c
Labels: vim-patch

#20642 build(deps): bump vimdoc (help) parser to v1.2.1
  cmake.deps/CMakeLists.txt
  runtime/queries/help/highlights.scm
  test/functional/lua/help_spec.lua
Labels: build, dependencies, treesitter

#20545 feat(cscope)!: remove
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  cmake.config/CMakeLists.txt
  runtime/doc/autocmd.txt
  runtime/doc/builtin.txt
  runtime/doc/cmdline.txt
  runtime/doc/deprecated.txt
  runtime/doc/help.txt
  runtime/doc/if_cscop.txt
  runtime/doc/index.txt
  runtime/doc/map.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/doc/usr_29.txt
  runtime/doc/usr_41.txt
  runtime/doc/vim_diff.txt
  runtime/lua/man.lua
  runtime/optwin.vim
  scripts/vim-patch.sh
  src/nvim/cmdexpand.c
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/ex_cmds.lua
  src/nvim/ex_docmd.c
  src/nvim/generators/gen_declarations.lua
  src/nvim/if_cscope.c
  src/nvim/if_cscope.h
  src/nvim/if_cscope_defs.h
  src/nvim/main.c
  src/nvim/normal.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/optionstr.c
  src/nvim/tag.c
  src/nvim/tag.h
  src/nvim/testdir/test_cscope.vim
  src/nvim/usercmd.c
  src/nvim/vim.h
Labels: breaking-change, options

#20162 fix(lua): fix vim.region with multibyte characters
  runtime/lua/vim/_editor.lua
  test/functional/lua/vim_spec.lua
Labels: lua, unicode 💩

#20650 build: fix incorrect clang-tidy identifier rules
  .clang-tidy
Labels: build

#20648 fix(completion): set pum_size even if ext_popupmenu is used
  src/nvim/popupmenu.c
  test/functional/editor/completion_spec.lua
Labels: completion

#20659 vim-patch:9.0.0750: crash when popup closed in callback
  src/nvim/drawscreen.c
  src/nvim/syntax.c
Labels: vim-patch, backport release-0.8

#20658 vim-patch:9.0.0752: Rprofile files are not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#20662 vim-patch:8.1.0342,9.0.{0614,0616}: SpellFileMissing autocmd may delete buffer
  src/nvim/buffer.c
  src/nvim/spell.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_spell.vim
  test/functional/autocmd/termxx_spec.lua
Labels: vim-patch, spell

#20446 docs(dev-style): remove rule about variable declarations
  runtime/doc/dev_style.txt
Labels: refactor

#20663 vim-patch:partial:{3e79c97c18c5,9da17d7c5707,9.0.0753}
  runtime/doc/index.txt
  runtime/doc/syntax.txt
  runtime/doc/uganda.txt
Labels: documentation, vim-patch

#20599 refactor(shada.c): clint
  src/nvim/shada.c
Labels: refactor

#20670 vim-patch:9.0.{partial:0737,0754}: lisp indent fixes
  src/nvim/change.c
  src/nvim/indent.c
  src/nvim/testdir/test_alot.vim
  src/nvim/testdir/test_lispindent.vim
Labels: vim-patch

#20140 refactor: replace char_u with char 12: remove `STRLEN` part 2
  src/nvim/cmdexpand.c
  src/nvim/cmdhist.c
  src/nvim/drawline.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/userfunc.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/ex_session.c
  src/nvim/fold.c
  src/nvim/getchar.c
  src/nvim/hardcopy.c
  src/nvim/help.c
  src/nvim/indent.c
  src/nvim/insexpand.c
  src/nvim/lua/executor.c
  src/nvim/lua/stdlib.c
  src/nvim/lua/treesitter.c
  src/nvim/mark.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/quickfix.c
  src/nvim/screen.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/spellsuggest.c
  src/nvim/statusline.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/textformat.c
  src/nvim/textobject.c
  src/nvim/undo.c
Labels: refactor

#20668 refactor(drawscreen.c): reduce scopes of locals
  src/nvim/drawscreen.c
Labels: refactor

#20676 vim-patch:9.0.0765: with a Visual block a put command column may go negative
  src/nvim/ops.c
  src/nvim/testdir/test_visual.vim
Labels: vim-patch

#20677 vim-patch:9.0.{0761,0762,0764}: 'lispoptions'
  runtime/doc/options.txt
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/change.c
  src/nvim/edit.c
  src/nvim/edit.h
  src/nvim/indent.c
  src/nvim/indent.h
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/optionstr.c
  src/nvim/testdir/test_lispindent.vim
Labels: vim-patch

#20678 fix CodeActionKind values in LSP capabilities
  runtime/lua/vim/lsp/protocol.lua
Labels: lua, lsp

#19615 build: create a matrix for supported platforms
  README.md
  runtime/doc/help.txt
  runtime/doc/support.txt
Labels: build, documentation

#20687 vim-patch:9.0.0771: cannot always tell the difference beween tex and …
  runtime/autoload/dist/ft.vim
  runtime/lua/vim/filetype/detect.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#20679 vim-patch:3c053a1a5ad2
  runtime/autoload/netrw.vim
  runtime/doc/indent.txt
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/doc/repeat.txt
  runtime/doc/syntax.txt
  runtime/doc/userfunc.txt
  runtime/filetype.vim
  runtime/ftplugin/abaqus.vim
  runtime/ftplugin/lua.vim
  runtime/ftplugin/markdown.vim
  runtime/ftplugin/poefilter.vim
  runtime/ftplugin/ssa.vim
  runtime/optwin.vim
  runtime/synmenu.vim
  runtime/syntax/c.vim
  runtime/syntax/markdown.vim
  runtime/syntax/poefilter.vim
  runtime/syntax/sed.vim
  runtime/syntax/ssa.vim
  test/functional/plugin/health_spec.lua
Labels: runtime, vim-patch

#20428 feat(runtime)!: remove filetype.vim
  runtime/autoload/dist/ft.vim
  runtime/doc/filetype.txt
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/starting.txt
  runtime/filetype.lua
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  runtime/scripts.vim
  scripts/vim-patch.sh
  src/nvim/testdir/test_legacy_filetype.vim
Labels: runtime, lua, filetype, breaking-change

#20624 fix(man): handle absolute paths as `:Man` targets
  runtime/lua/man.lua
  test/functional/plugin/man_spec.lua
Labels: lua

#20637 fix(runtime): use colorscheme g:terminal_ansi_colors when termguicolors is on
  runtime/colors/blue.vim
  runtime/colors/darkblue.vim
  runtime/colors/delek.vim
  runtime/colors/desert.vim
  runtime/colors/elflord.vim
  runtime/colors/evening.vim
  runtime/colors/habamax.vim
  runtime/colors/industry.vim
  runtime/colors/koehler.vim
  runtime/colors/lunaperche.vim
  runtime/colors/morning.vim
  runtime/colors/murphy.vim
  runtime/colors/pablo.vim
  runtime/colors/peachpuff.vim
  runtime/colors/quiet.vim
  runtime/colors/ron.vim
  runtime/colors/shine.vim
  runtime/colors/slate.vim
  runtime/colors/torte.vim
  runtime/colors/zellner.vim
Labels: runtime

#20526 ci: add cirrus to isCI function to skip tests
  CMakeLists.txt
  cmake/RunTests.cmake
  test/functional/api/server_notifications_spec.lua
  test/functional/core/fileio_spec.lua
  test/functional/ex_cmds/write_spec.lua
  test/functional/plugin/man_spec.lua
  test/functional/terminal/ex_terminal_spec.lua
  test/helpers.lua
Labels: build, ci

#20479 ci: bump ubuntu and macos to latest stable versions
  .github/workflows/ci.yml
Labels: ci

#20709 fix(qflist): avoid read of uninitialized memory
  src/nvim/quickfix.c
Labels: backport release-0.8

#20703 ci: add reviewers based on labels
  .github/scripts/reviews.js
Labels: ci

#20711 fix(highlight): link more treesitter groups by default
  runtime/doc/treesitter.txt
  src/nvim/highlight_group.c
Labels: highlight

#20301 refactor(window.c): reduce scope of locals
  src/nvim/window.c
Labels: refactor

#20722 vim-patch:9.0.0788: ModeChanged autocmd not executed when Visual ends with CTRL-C
  src/nvim/plines.c
  src/nvim/state.c
  src/nvim/testdir/test_autocmd.vim
Labels: vim-patch

#20727 vim-patch:9.0.{0789,0790}
  src/nvim/buffer.c
  src/nvim/testdir/test_autocmd.vim
Labels: vim-patch

#20729 vim-patch:9.0.0739: mouse column not correctly used for popup_setpos
  src/nvim/mouse.c
  src/nvim/normal.c
  test/functional/ui/mouse_spec.lua
Labels: mouse, vim-patch, backport release-0.8

#20741 vim-patch:9.0.0798: clang format configuration files are not recognized
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#20744 docs: mention 'splitkeep' in news.txt
  README.md
  runtime/doc/news.txt
  runtime/doc/vim_diff.txt
Labels: documentation

#20578 build: don't append git tag on release versions
  cmake/GenerateVersion.cmake
  src/nvim/CMakeLists.txt
Labels: build, backport release-0.8

#20747 docs: update vimdoc parser
  cmake.deps/CMakeLists.txt
  runtime/doc/builtin.txt
  runtime/doc/change.txt
  runtime/doc/eval.txt
  runtime/doc/help.txt
  runtime/doc/index.txt
  runtime/doc/luvref.txt
  runtime/doc/options.txt
  runtime/doc/support.txt
  scripts/gen_help_html.lua
  test/functional/lua/help_spec.lua
Labels: build, dependencies

#20748 vim-patch:partial:8.2.0418,9.0.0804: crash when trying to divide a number by -1
  src/nvim/eval.c
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_expr.vim
Labels: vim-patch

#20753 vim-patch:9.0.0808: jsonnet filetype detection has a typo
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#20754 vim-patch:9.0.0806: 'langmap' works differently when there are modifiers
  src/nvim/getchar.c
  src/nvim/testdir/test_langmap.vim
Labels: vim-patch, backport release-0.8

#20762 vim-patch: bump VIM_VERSION from 8.0 => 8.1
  .github/workflows/vim-patches.yml
  scripts/gen_help_html.lua
  scripts/vim-patch.sh
  scripts/vimpatch.lua
  src/nvim/version.c
  src/nvim/version.h
Labels: ci, vim-patch

#20766 fix(filetype): don't pass empty string to detect
  runtime/lua/vim/filetype.lua
Labels: lua, filetype

#20683 refactor: clang-tidy fixes to silence clangd warning
  .clang-tidy
  src/nvim/api/private/defs.h
  src/nvim/api/ui.c
  src/nvim/api/vim.c
  src/nvim/ascii.h
  src/nvim/buffer.h
  src/nvim/cmdexpand.c
  src/nvim/drawline.c
  src/nvim/eval.c
  src/nvim/eval/encode.h
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/eval/typval.h
  src/nvim/eval/typval_encode.h
  src/nvim/eval/userfunc.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_session.c
  src/nvim/fileio.c
  src/nvim/getchar.c
  src/nvim/hardcopy.c
  src/nvim/indent.c
  src/nvim/insexpand.c
  src/nvim/locale.c
  src/nvim/mapping.c
  src/nvim/mark.h
  src/nvim/mbyte.c
  src/nvim/memline.c
  src/nvim/message.c
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/os/fileio.h
  src/nvim/os/time.c
  src/nvim/profile.c
  src/nvim/quickfix.c
  src/nvim/runtime.c
  src/nvim/sha256.c
  src/nvim/shada.c
  src/nvim/sign.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/spellsuggest.c
  src/nvim/statusline.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/terminal.c
  src/nvim/textobject.c
  src/nvim/ui.c
  src/nvim/ui_compositor.c
  src/nvim/usercmd.c
  src/nvim/version.c
  src/nvim/viml/parser/parser.h
  src/nvim/window.c
Labels: refactor

#20769 vim-patch:9.0.0814: aws config files are not recognized
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#20770 refactor: fix uncrustify lint errors
  src/nvim/buffer.h
  src/nvim/eval/encode.h
  src/nvim/viml/parser/parser.h
Labels: refactor

#20760 fix(ui): send grid_resize events before triggering VimResized
  src/nvim/drawscreen.c
  test/functional/ui/screen_basic_spec.lua
Labels: ui, events

#20781 refactor(diff.c): reduce scope of variables
  src/nvim/diff.c
Labels: refactor, diff

#20778 docs(ci): write guideline on CI strategy
  MAINTAIN.md
Labels: documentation, ci

#20772 ci(vim-patch): add original author as co-author
  scripts/vim-patch.sh
Labels: vim-patch

#20147 docs: ":che" is ":checkhealth"
  runtime/doc/index.txt
  runtime/doc/pi_health.txt
  runtime/doc/tagsrch.txt
Labels: documentation, status:needs-discussion

#20788 build(deps): bump vimdoc parser and queries to v1.2.4
  cmake.deps/CMakeLists.txt
  runtime/queries/help/highlights.scm
Labels: build, dependencies, treesitter

#20791 vim-patch:8.2.0908: crash when changing the function table while listing it
  src/nvim/eval/userfunc.c
  src/nvim/testdir/test_timers.vim
  test/functional/vimscript/eval_spec.lua
Labels: vim-patch

#20393 ci(lintcommit): prevent alternative names for common scopes
  scripts/lintcommit.lua
Labels: ci

#20751 fix(shared): valid annotation and fix LS diagnostics
  runtime/doc/lua.txt
  runtime/lua/vim/shared.lua
  test/functional/lua/vim_spec.lua
Labels: lua

#20786 build: pre-process vim patches with uncrustify
  scripts/vim-patch.sh
Labels: build

#20785 refactor(diff.c): various changes
  src/nvim/diff.c
Labels: refactor, diff

#20775 fix: setting tabline option not redrawing tabline
  src/nvim/generators/gen_options.lua
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  test/functional/ui/tabline_spec.lua
Labels: ui, options

#20803 vim-patch:8.2.{0179,0211}: tests for range()
  src/nvim/tag.c
  src/nvim/testdir/test_functions.vim
Labels: vim-patch

#20806 vim-patch:7.4.{1081,1097},8.2.{0401,0418}: eval tests
  src/nvim/testdir/test_blob.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_const.vim
  src/nvim/testdir/test_diffmode.vim
  src/nvim/testdir/test_excmd.vim
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_lambda.vim
  src/nvim/testdir/test_let.vim
  src/nvim/testdir/test_listdict.vim
  src/nvim/testdir/test_marks.vim
  src/nvim/testdir/test_method.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_spell.vim
  src/nvim/testdir/test_unlet.vim
  src/nvim/testdir/test_user_func.vim
  src/nvim/testdir/test_usercommands.vim
  src/nvim/testdir/test_vimscript.vim
  src/nvim/testdir/test_window_cmd.vim
Labels: vim-patch

#20810 fix(spell): fix wrong cast
  src/nvim/spellsuggest.c
Labels: spell, backport release-0.8

#20813 vim-patch:8.2.{0162,0163}
  src/nvim/testdir/test_functions.vim
Labels: vim-patch

#20814 vim-patch:8.2.{0610,0619,1852}
  src/nvim/eval.c
  src/nvim/eval/typval.c
  src/nvim/eval/userfunc.c
  src/nvim/testdir/test_blob.vim
  src/nvim/testdir/test_expr.vim
  src/nvim/testdir/test_filter_map.vim
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_let.vim
  src/nvim/testdir/test_listdict.vim
  src/nvim/testdir/test_sort.vim
  src/nvim/testdir/test_syntax.vim
  src/nvim/testdir/test_unlet.vim
  src/nvim/testdir/test_usercommands.vim
  src/nvim/testdir/test_utf8.vim
  src/nvim/testdir/test_vimscript.vim
  test/functional/legacy/eval_spec.lua
  test/unit/eval/typval_spec.lua
Labels: vim-patch

#20816 vim-patch:8.1.1826,9.0.0019
  src/nvim/testdir/check.vim
  src/nvim/testdir/test_breakindent.vim
  src/nvim/testdir/test_bufline.vim
  src/nvim/testdir/test_fold.vim
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_highlight.vim
  src/nvim/testdir/test_mapping.vim
  src/nvim/testdir/test_match.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_popup.vim
  src/nvim/testdir/test_signals.vim
  src/nvim/testdir/test_startup.vim
  src/nvim/testdir/test_syntax.vim
  src/nvim/testdir/test_timers.vim
  src/nvim/testdir/test_vimscript.vim
Labels: vim-patch

#20818 vim-patch:8.2.{0531,0534,0606,1113}: various tests
  src/nvim/testdir/Makefile
  src/nvim/testdir/test_clientserver.vim
  src/nvim/testdir/test_source.vim
  src/nvim/testdir/test_syntax.vim
  src/nvim/testdir/test_user_func.vim
  src/nvim/testdir/test_vimscript.vim
Labels: vim-patch

#20817 Default mapping of Q
  runtime/doc/usr_05.txt
Labels: documentation

#20822 vim-patch:8.2.{2837,3839}: various tests
  src/nvim/testdir/test_excmd.vim
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_startup.vim
  src/nvim/testdir/test_syntax.vim
Labels: vim-patch

#20823 vim-patch:8.2.{2100,2726,2727}
  src/nvim/eval/userfunc.c
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_lambda.vim
  src/nvim/testdir/test_signals.vim
  src/nvim/testdir/test_user_func.vim
Labels: vim-patch

#20824 vim-patch:8.2.{partial:2881,3408}
  src/nvim/eval/userfunc.c
  src/nvim/testdir/test_user_func.vim
Labels: vim-patch

#20815 refactor(clint): convert short to int16_t
  src/nvim/memline.c
  src/nvim/regexp.c
  src/nvim/spellfile.c
Labels: refactor

#20797 build: copy each treesitter parser library individually
  src/nvim/CMakeLists.txt
Labels: build

#20826 vim-patch:8.2.{4070,4206,4207}
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/testdir/test_eval_stuff.vim
Labels: vim-patch

#20827 vim-patch:8.2.{2653,4234}
  src/nvim/eval/typval.c
  src/nvim/globals.h
  src/nvim/testdir/test_functions.vim
  src/nvim/testing.c
  test/functional/vimscript/exepath_spec.lua
Labels: vim-patch

#20829 build(deps): bump vimdoc parser to v1.2.5
  cmake.deps/CMakeLists.txt
  runtime/queries/help/highlights.scm
Labels: build, dependencies, treesitter

#20828 build(vim-patch.sh): handle added/removed files properly
  scripts/vim-patch.sh
Labels: build

#20830 build: fix plural messages missing from .po files
  src/nvim/po/CMakeLists.txt
Labels: build
