Repository neovim/neovim, pull requests merged in 2022-07, with the labels that each got.

#19170 vim-patch:8.0.{1558,1570,1574,1588},8.1.{0487,0695,1274}: menu features
  runtime/delmenu.vim
  runtime/doc/autocmd.txt
  runtime/doc/gui.txt
  runtime/doc/index.txt
  runtime/doc/nvim_terminal_emulator.txt
  runtime/doc/usr_42.txt
  runtime/menu.vim
  runtime/syntax/vim.vim
  src/nvim/buffer_defs.h
  src/nvim/ex_cmds.lua
  src/nvim/ex_docmd.c
  src/nvim/globals.h
  src/nvim/menu.c
  src/nvim/menu.h
  src/nvim/mouse.c
  src/nvim/normal.c
  src/nvim/popupmnu.c
  src/nvim/screen.c
  src/nvim/testdir/test_menu.vim
  src/nvim/testdir/test_popup.vim
  test/functional/api/vim_spec.lua
  test/functional/ui/popupmenu_spec.lua
Labels: mouse, vim-patch

#19178 vim-patch:8.2.0049: command line completion not fully tested
  src/nvim/ex_cmds.c
  src/nvim/testdir/test_cd.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_help.vim
  src/nvim/testdir/test_menu.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_syntax.vim
Labels: vim-patch

#19172 vim-patch:9.0.0012: signature files not detected properly
  runtime/autoload/dist/ft.vim
  runtime/doc/filetype.txt
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/filetype/detect.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#19187 vim-patch:9.0.0015: with EXITFREE defined terminal menus are not cleared
  src/nvim/memory.c
  src/nvim/menu.c
Labels: vim-patch

#19169 build: move lint target to CMakeLists.txt
  CMakeLists.txt
  Makefile
Labels: build

#19199 vim-patch:9.0.{0017,0021,0022}: invalid memory access
  src/nvim/spellfile.c
  src/nvim/testdir/test_spell.vim
  src/nvim/testdir/test_spell_utf8.vim
  src/nvim/testdir/test_visual.vim
  src/nvim/window.c
Labels: vim-patch, spell

#19202 vim-patch:8.2.{0261,0316}: insufficient test coverage
  src/nvim/ex_getln.c
  src/nvim/testdir/test_buffer.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_exists.vim
  src/nvim/testdir/test_filechanged.vim
  src/nvim/testdir/test_history.vim
  src/nvim/testdir/test_mapping.vim
  src/nvim/testdir/test_marks.vim
  src/nvim/testdir/test_menu.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_plus_arg_edit.vim
  src/nvim/testdir/test_quickfix.vim
Labels: vim-patch

#19197 vim-patch:0d878b95d8f9
  runtime/autoload/freebasic.vim
  runtime/doc/filetype.txt
  runtime/doc/quickfix.txt
  runtime/doc/syntax.txt
  runtime/ftplugin/basic.vim
  runtime/ftplugin/fetchmail.vim
  runtime/ftplugin/freebasic.vim
  runtime/ftplugin/vue.vim
  runtime/syntax/basic.vim
  runtime/syntax/fetchmail.vim
  runtime/syntax/freebasic.vim
Labels: runtime, vim-patch

#19175 refactor(fold): style and formatting
  src/nvim/ex_docmd.c
  src/nvim/fold.c
  src/nvim/globals.h
  src/nvim/message.c
Labels: refactor, folds

#19137 refactor: replace char_u
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/change.c
  src/nvim/charset.c
  src/nvim/cursor_shape.c
  src/nvim/debugger.c
  src/nvim/diff.c
  src/nvim/digraph.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/eval/userfunc.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/ex_session.c
  src/nvim/file_search.c
  src/nvim/fileio.c
  src/nvim/hardcopy.c
  src/nvim/hashtab.c
  src/nvim/indent.c
  src/nvim/indent_c.c
  src/nvim/lua/stdlib.c
  src/nvim/main.c
  src/nvim/mapping.c
  src/nvim/mark.c
  src/nvim/match.c
  src/nvim/mbyte.c
  src/nvim/memline.c
  src/nvim/message.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/os/env.c
  src/nvim/os/fs.c
  src/nvim/path.c
  src/nvim/quickfix.c
  src/nvim/regexp.c
  src/nvim/runtime.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/shada.c
  src/nvim/sign.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/terminal.c
  src/nvim/undo.c
  src/nvim/window.c
Labels: refactor

#19209 fix(coverity): 353827 unnecessary null check
  src/nvim/mark.c
Labels: column

#19203 feat(api): add `unsilent` to command APIs
  runtime/doc/api.txt
  src/nvim/api/command.c
  src/nvim/api/keysets.lua
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/lua/executor.c
  test/functional/api/command_spec.lua
  test/functional/api/vim_spec.lua
Labels: api, lua

#19205 fix(lua): don't leak memory on error
  src/nvim/lua/stdlib.c
Labels: lua

#19177 build: remove -Wsuggest compile flags by default
  CMakeLists.txt
Labels: build, backport release-0.7

#19212 vim-patch:9.0.{0024,0030}
  src/nvim/getchar.c
  src/nvim/testdir/test_matchfuzzy.vim
Labels: vim-patch

#19215 vim-patch:9.0.0031: <mods> of user command does not have correct verbose value
  runtime/doc/map.txt
  src/nvim/ex_docmd.c
  src/nvim/testdir/test_usercommands.vim
Labels: vim-patch

#18710 refactor(runtime): port scripts.vim to lua
  runtime/doc/lua.txt
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/filetype/detect.lua
  runtime/scripts.vim
Labels: refactor, runtime, lua, filetype

#19220 vim-patch:8.2.{1470,1493,1522,1523,1770,5072,5074}: spell patches
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/testdir/test_spell.vim
  src/nvim/testdir/test_spell_utf8.vim
  src/nvim/testdir/test_spellfile.vim
Labels: vim-patch, spell

#19221 vim-patch:8.2.{1808,5098},9.0.0034
  src/nvim/testdir/test_spell.vim
  src/nvim/testdir/test_spell_utf8.vim
Labels: vim-patch

#17795 fix(tui): resize at startup
  src/nvim/tui/tui.c
  test/functional/terminal/tui_spec.lua
  test/functional/ui/screen.lua
Labels: tui

#19228 vim-patch:9.0.0035: spell dump may go beyond end of an array
  src/nvim/spell.c
  src/nvim/testdir/test_spell.vim
Labels: vim-patch, spell

#19229 vim-patch:8.2.{0363,0416}: some Normal mode commands not tested
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_cindent.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_edit.vim
  src/nvim/testdir/test_indent.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_substitute.vim
  src/nvim/testdir/test_timers.vim
  src/nvim/testdir/test_virtualedit.vim
  src/nvim/testdir/test_visual.vim
Labels: vim-patch

#19231 vim-patch:8.2.{3615,3754,5122}: indent fixes
  src/nvim/edit.c
  src/nvim/indent.c
  src/nvim/ops.c
  src/nvim/testdir/test_indent.vim
Labels: vim-patch

#19232 vim-patch:8.2.{2904,3644.3980,3990}: three Normal mode fixes
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/testdir/test_normal.vim
Labels: vim-patch

#19234 vim-patch:8.0.1562: the terminal debugger can't set a breakpoint with the mouse
  runtime/doc/nvim_terminal_emulator.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: runtime, vim-patch

#19223 build: add github action annotations for clint
  src/clint.py
  src/nvim/CMakeLists.txt
Labels: build

#19241 vim-patch:8.2.5162: reading before the start of the line with BS in Replace mode
  src/nvim/edit.c
Labels: vim-patch

#19242 vim-patch:9.0.{0041,0042}: filetype patterns
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/filetype/detect.lua
  runtime/scripts.vim
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#19260 vim-patch:8.2.5063: error for a command may go over the end of IObuff
  src/nvim/ex_docmd.c
  src/nvim/testdir/test_cmdline.vim
Labels: vim-patch

#19261 vim-patch:8.2.{5023,5043,5044}: substitute textlock fixes
  src/nvim/buffer.c
  src/nvim/ex_getln.c
  src/nvim/normal.c
  src/nvim/testdir/test_substitute.vim
  src/nvim/undo.c
  src/nvim/window.c
Labels: vim-patch

#19180 feat(tui): recognize keypad keys when using kitty keyboard protocol
  runtime/doc/term.txt
  src/nvim/getchar.c
  src/nvim/map.c
  src/nvim/map.h
  src/nvim/tui/input.c
  src/nvim/tui/input.h
  src/nvim/tui/input_defs.h
  test/functional/terminal/tui_spec.lua
Labels: tui, backport release-0.7

#19263 vim-patch:8.2.{3674,4399}: problems after ml_get error
  src/nvim/memline.c
Labels: vim-patch

#19256 vim-patch:5ed11535e069
  runtime/doc/builtin.txt
  runtime/doc/intro.txt
  runtime/filetype.vim
  runtime/syntax/fetchmail.vim
  runtime/syntax/sh.vim
  runtime/syntax/vim.vim
Labels: runtime, vim-patch

#19255 feat(tui): use terminfo for set_cursor_color/reset_cursor_color OSC
  src/nvim/tui/tui.c
Labels: tui

#19216 feat(runtime)!: enable filetype.lua by default
  runtime/doc/filetype.txt
  runtime/doc/lua.txt
  runtime/filetype.lua
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  runtime/scripts.vim
  src/nvim/testdir/test_filetype_lua.vim
  src/nvim/testdir/test_legacy_filetype.vim
Labels: runtime, lua, filetype, breaking-change

#19276 vim-patch:8.1.{1524,1544}: tests are silently skipped
  src/nvim/testdir/test_arabic.vim
  src/nvim/testdir/test_assert.vim
  src/nvim/testdir/test_cscope.vim
  src/nvim/testdir/test_float_func.vim
  src/nvim/testdir/test_history.vim
  src/nvim/testdir/test_langmap.vim
  src/nvim/testdir/test_listlbr.vim
  src/nvim/testdir/test_listlbr_utf8.vim
  src/nvim/testdir/test_makeencoding.vim
  src/nvim/testdir/test_matchadd_conceal_utf8.vim
  src/nvim/testdir/test_menu.vim
  src/nvim/testdir/test_mksession.vim
  src/nvim/testdir/test_mksession_utf8.vim
  src/nvim/testdir/test_perl.vim
  src/nvim/testdir/test_python2.vim
  src/nvim/testdir/test_python3.vim
  src/nvim/testdir/test_pyx2.vim
  src/nvim/testdir/test_pyx3.vim
  src/nvim/testdir/test_quotestar.vim
  src/nvim/testdir/test_reltime.vim
  src/nvim/testdir/test_sha256.vim
  src/nvim/testdir/test_spell.vim
  src/nvim/testdir/test_syntax.vim
  src/nvim/testdir/test_textobjects.vim
  src/nvim/testdir/test_timers.vim
  src/nvim/testdir/test_vartabs.vim
Labels: vim-patch

#19278 vim-patch:8.2.{0132,0136,0151}: detecting a script was already sourced is unreliable
  src/nvim/ex_cmds2.c
  src/nvim/ex_cmds2.h
  src/nvim/testdir/test_source.vim
  test/functional/ex_cmds/source_spec.lua
Labels: vim-patch

#19078 fix(tui): add fixups for hterm family
  src/nvim/tui/tui.c
Labels: tui, backport release-0.7

#19284 vim-patch:8.2.{0274,0325}
  src/nvim/ex_docmd.c
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_ex_mode.vim
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_history.vim
  src/nvim/testdir/test_options.vim
Labels: vim-patch

#19294 vim-patch:8.2.{0332,0396}: insufficient tests for cmdline
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_arabic.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_taglist.vim
  src/nvim/testdir/test_usercommands.vim
Labels: vim-patch

#19296 vim-patch:8.2.{2902,2917}: spellfile functionality not fully tested
  src/nvim/testdir/test_spellfile.vim
Labels: vim-patch

#19283 refactor(lua): use api to replace vim.cmd
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/highlight.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/treesitter/highlighter.lua
Labels: refactor, lua, lsp, diagnostic

#19299 refactor: remove functions marked for deprecation in 0.8
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/util.lua
Labels: refactor, lua, lsp

#19285 vim-patch:8.1.1038: Arabic support excludes Farsi
  src/nvim/arabic.c
  src/nvim/arabic.h
  src/nvim/ex_getln.c
  src/nvim/grid.c
  src/nvim/screen.c
Labels: vim-patch

#19301 test(old): align defaults to Vim after every test
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_command_count.vim
  src/nvim/testdir/test_diffmode.vim
  src/nvim/testdir/test_excmd.vim
  src/nvim/testdir/test_gf.vim
  src/nvim/testdir/test_ins_complete.vim
  src/nvim/testdir/test_join.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_statusline.vim
  src/nvim/testdir/test_window_cmd.vim
Labels: test

#19267 feat(lua): measure require in --startuptime
  src/nvim/lua/executor.c
  test/functional/core/startup_spec.lua
Labels: lua

#19300 vim-patch:9.0.0049: csv and tsv files are not recognized
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: runtime, lua, vim-patch, filetype

#19286 fix(l10n): add folded line indicator translations from vim
  src/nvim/po/af.po
  src/nvim/po/de.po
  src/nvim/po/eo.po
  src/nvim/po/es.po
  src/nvim/po/fi.po
  src/nvim/po/fr.po
  src/nvim/po/ga.po
  src/nvim/po/it.po
  src/nvim/po/ja.euc-jp.po
  src/nvim/po/ja.po
  src/nvim/po/ru.po
  src/nvim/po/sr.po
  src/nvim/po/uk.po
  src/nvim/po/zh_CN.UTF-8.po
  src/nvim/po/zh_TW.UTF-8.po
Labels: localization

#19307 vim-patch:7.4.1724,8.2.1053: insufficient testing for 'statusline' and 'tabline'
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_statusline.vim
  src/nvim/testdir/test_tabline.vim
Labels: vim-patch

#19302 fix(lsp): pcall nvim_del_augroup_by_name
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp

#18774 Fix some floating window height and width bugs
  src/nvim/screen.c
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: float

#19305 vim-patch:8.2.{3530,3531}: ":buf \{a}" fails while ":edit \{a}" works
  src/nvim/eval/funcs.c
  src/nvim/ex_getln.c
  src/nvim/ex_getln.h
  src/nvim/ex_session.c
  src/nvim/normal.c
  src/nvim/testdir/test_cmdline.vim
Labels: vim-patch

#19003 feat(lsp): defaults: tagfunc, omnifunc
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#19314 fix(lsp): abort pending changes after flush when debouncing
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#19306 vim-patch:8.2.3363: when :edit reuses the current buffer the alternate file is set
  src/nvim/ex_cmds.c
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_undo.vim
Labels: vim-patch

#19320 vim-patch:8.2.{0212,0243,0250}: insufficient tests
  src/nvim/ex_docmd.c
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_arglist.vim
  src/nvim/testdir/test_ex_mode.vim
  src/nvim/testdir/test_excmd.vim
  src/nvim/testdir/test_mapping.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_search.vim
  src/nvim/testdir/test_sort.vim
  src/nvim/testdir/test_source.vim
  src/nvim/testdir/test_substitute.vim
  src/nvim/testdir/test_undo.vim
  src/nvim/testdir/test_vimscript.vim
  src/nvim/testdir/test_window_cmd.vim
  src/nvim/testdir/test_writefile.vim
  test/functional/legacy/arglist_spec.lua
Labels: vim-patch

#19277 vim-patch:8.1.{1855,1859,1864,1867}: flaky timer tests
  src/nvim/testdir/runtest.vim
  src/nvim/testdir/test_timers.vim
Labels: vim-patch

#19330 vim-patch:8.2.0203: :helptags and some other functionality not tested
  src/nvim/ex_cmds.c
  src/nvim/ex_getln.c
  src/nvim/testdir/test_compiler.vim
  src/nvim/testdir/test_ex_mode.vim
  src/nvim/testdir/test_excmd.vim
  src/nvim/testdir/test_filechanged.vim
  src/nvim/testdir/test_help_tagjump.vim
  src/nvim/testdir/test_timers.vim
  test/functional/legacy/ex_mode_spec.lua
  test/functional/legacy/excmd_spec.lua
  test/functional/legacy/filechanged_spec.lua
Labels: vim-patch

#19332 vim-patch:8.2.{0270,2732}
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/testdir/test_buffer.vim
  src/nvim/testdir/test_edit.vim
  src/nvim/testdir/test_ex_mode.vim
  src/nvim/testdir/test_excmd.vim
  src/nvim/testdir/test_expand.vim
  src/nvim/testdir/test_filetype.vim
  src/nvim/testdir/test_findfile.vim
  src/nvim/testdir/test_join.vim
  src/nvim/testdir/test_move.vim
  src/nvim/testdir/test_registers.vim
  src/nvim/testdir/test_source.vim
  src/nvim/testdir/test_tabpage.vim
  src/nvim/testdir/test_tagjump.vim
  src/nvim/testdir/test_vimscript.vim
  src/nvim/testdir/test_window_cmd.vim
  src/nvim/testdir/test_writefile.vim
  test/functional/legacy/ex_mode_spec.lua
Labels: vim-patch

#19329 fix(lsp): account for initializing servers in vim.lsp.start
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#19334 vim-patch:8.2.{0275,0293,5050}
  src/nvim/search.c
  src/nvim/testdir/test_arglist.vim
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_excmd.vim
  src/nvim/testdir/test_expand.vim
  src/nvim/testdir/test_filetype.vim
  src/nvim/testdir/test_filter_cmd.vim
  src/nvim/testdir/test_global.vim
  src/nvim/testdir/test_plus_arg_edit.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_search.vim
  src/nvim/testdir/test_swap.vim
  src/nvim/testdir/test_tagjump.vim
  src/nvim/testdir/test_trycatch.vim
  src/nvim/testdir/test_vimscript.vim
  src/nvim/testdir/test_window_cmd.vim
  test/functional/legacy/arglist_spec.lua
Labels: vim-patch

#19338 build(deps): bump libuv to v1.44.2
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#19335 vim-patch:8.2.0035: saving and restoring called_emsg is clumsy
  src/nvim/buffer.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/globals.h
  src/nvim/match.c
  src/nvim/message.c
  src/nvim/regexp.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/testing.c
Labels: vim-patch

#19317 vim-patch:8.2.0969: assert_equal() output for dicts is hard to figure out
  src/nvim/testdir/test_assert.vim
  src/nvim/testing.c
Labels: vim-patch

#19357 feat(eval)!: input() support any type for "cancelreturn" in a dict
  runtime/doc/vim_diff.txt
  src/nvim/eval.c
  test/functional/vimscript/input_spec.lua
Labels: vimscript, breaking-change

#19289 build: gracefully handle an error in git-version
  cmake/GenerateVersion.cmake
  scripts/update_version_stamp.lua
  src/nvim/CMakeLists.txt
Labels: build

#19346 build(deps): bump Luv to 1.44.2-0
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#19347 build(deps): bump tree-sitter to HEAD - 1f1b1eb45
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#19353 vim-patch:8.2.{0342,0347,0369}: insufficient test coverage
  src/nvim/testdir/test_arglist.vim
  src/nvim/testdir/test_changelist.vim
  src/nvim/testdir/test_charsearch.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_digraph.vim
  src/nvim/testdir/test_edit.vim
  src/nvim/testdir/test_ex_mode.vim
  src/nvim/testdir/test_excmd.vim
  src/nvim/testdir/test_history.vim
  src/nvim/testdir/test_increment.vim
  src/nvim/testdir/test_marks.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_put.vim
  src/nvim/testdir/test_registers.vim
  src/nvim/testdir/test_tagjump.vim
  src/nvim/testdir/test_visual.vim
Labels: vim-patch

#19355 fix(treesitter): don't error when node argument of predicate is nil
  runtime/lua/vim/treesitter/query.lua
Labels: lua, treesitter

#19343 build(deps): bump LuaJIT to HEAD - 50936d784
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#19366 Generate empty file on missing git executable
  cmake/GenerateVersion.cmake
Labels: build

#19348 fix(winbar): allow setting winbar in winhighlight
  src/nvim/screen.c
  test/functional/ui/highlight_spec.lua
Labels: highlight

#19369 vim-patch:8.2.{0430,0482}: insufficient tests
  src/nvim/testdir/test_clientserver.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_edit.vim
  src/nvim/testdir/test_excmd.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_smartindent.vim
  src/nvim/testdir/test_substitute.vim
  src/nvim/testdir/test_textformat.vim
  src/nvim/testdir/test_visual.vim
  src/nvim/testdir/test_window_cmd.vim
  test/functional/legacy/cpoptions_spec.lua
Labels: vim-patch

#19373 vim-patch:8.0.1118,8.2.0426
  src/nvim/buffer.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/tag.c
  src/nvim/testdir/test_buffer.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_window_cmd.vim
Labels: vim-patch

#19375 vim-patch:8.1.1547,8.2.0403: when 'buftype' is "nofile" there is no overwrite check
  src/nvim/buffer.c
  src/nvim/eval/funcs.c
  src/nvim/ex_cmds.c
  src/nvim/ex_session.c
  src/nvim/fileio.c
  src/nvim/popupmnu.c
  src/nvim/testdir/test_options.vim
Labels: vim-patch

#19376 vim-patch:8.2.{0535,0542}: regexp patterns not fully tested
  src/nvim/testdir/test_marks.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_regexp_latin.vim
  src/nvim/testdir/test_search.vim
  test/functional/ui/searchhl_spec.lua
Labels: vim-patch

#19365 feat(defaults): nnoremap & :&&<CR>
  runtime/doc/change.txt
  runtime/doc/vim_diff.txt
  src/nvim/mapping.c
Labels: defaults

#19377 feat(lsp): hide backticks in LSP docstrings
  runtime/syntax/lsp_markdown.vim
Labels: lsp, backport release-0.7

#19324 ci: remove unnecessary files from ci/
  .github/workflows/ci.yml
  .github/workflows/env.sh
  ci/run_lint.sh
  ci/run_tests.sh
  ci/script.sh
Labels: ci

#19252 fix: right click in clickable statusline
  src/nvim/mouse.c
  test/functional/ui/statusline_spec.lua
Labels: mouse

#19383 fix(api): do not switch win/buf if getting option in current win/buf
  src/nvim/api/options.c
  test/functional/api/vim_spec.lua
Labels: api

#19384 vim-patch:8.2.1061: insufficient testing for src/window.c
  src/nvim/testdir/test_excmd.vim
  src/nvim/testdir/test_gf.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_tabpage.vim
  src/nvim/testdir/test_tagjump.vim
  src/nvim/testdir/test_window_cmd.vim
  src/nvim/window.c
Labels: vim-patch

#19386 vim-patch:8.2.0593: finding a user command is not optimal
  src/nvim/ex_cmds.lua
  src/nvim/ex_docmd.c
Labels: vim-patch

#19387 fix(ex_cmds): correct flags for :const
  src/nvim/ex_cmds.lua
  test/functional/vimscript/let_spec.lua
Labels: backport release-0.7

#19391 vim-patch:8.2.{0052,0198,2608,2643}: code not fully tested
  src/nvim/testdir/test_edit.vim
  src/nvim/testdir/test_mapping.vim
  src/nvim/testdir/test_messages.vim
  src/nvim/testdir/test_registers.vim
  src/nvim/testdir/test_termcodes.vim
  src/nvim/testdir/test_undo.vim
  test/functional/legacy/edit_spec.lua
  test/functional/legacy/messages_spec.lua
Labels: vim-patch

#19395 test(job_spec): accept alternate messages for "append environment" tests
  test/functional/core/job_spec.lua
Labels: test, backport release-0.7

#19400 fix(api): fix nvim_parse_cmd interfere with printing line in Ex mode
  src/nvim/ex_docmd.c
  test/functional/api/vim_spec.lua
Labels: api

#19402 vim-patch:8.2.{0655,1040}: not enough tests
  src/nvim/testdir/test_charsearch.vim
  src/nvim/testdir/test_cursor_func.vim
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_gf.vim
  src/nvim/testdir/test_gn.vim
  src/nvim/testdir/test_goto.vim
  src/nvim/testdir/test_ins_complete.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_search.vim
  src/nvim/testdir/test_textformat.vim
  src/nvim/testdir/test_textobjects.vim
  src/nvim/testdir/test_visual.vim
Labels: vim-patch

#19404 vim-patch:8.2.{0670,0698,1294,1984,2424,2426,2427,5029}: textlock patches
  src/nvim/edit.c
  src/nvim/eval/funcs.c
  src/nvim/ex_cmds.lua
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/testdir/check.vim
  src/nvim/testdir/test_edit.vim
  src/nvim/testdir/test_ex_mode.vim
  src/nvim/testdir/test_ins_complete.vim
  src/nvim/testdir/test_popup.vim
  src/nvim/testdir/test_quickfix.vim
  src/nvim/testdir/test_textformat.vim
Labels: vim-patch

#19309 refactor(lsp): make the use of local aliases more consistent
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/tagfunc.lua
  runtime/lua/vim/lsp/util.lua
Labels: refactor, code-standards, lua, lsp

#19290 feat(defaults): enable mouse support
  runtime/doc/gui.txt
  runtime/doc/options.txt
  runtime/doc/starting.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_editor.lua
  src/nvim/main.c
  src/nvim/mapping.c
  src/nvim/options.lua
  test/functional/core/startup_spec.lua
  test/functional/ex_cmds/menu_spec.lua
  test/functional/ui/mouse_spec.lua
  test/functional/ui/options_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/ui/statusline_spec.lua
Labels: defaults

#19392 vim-patch:9.0.0055
  runtime/autoload/dist/ft.vim
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/filetype/detect.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#19406 fix(lsp): move augroup define to if statement
  runtime/lua/vim/diagnostic.lua
Labels: lua, lsp, diagnostic

#19407 refactor(lsp): use autocmd api
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/handlers.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: refactor, lua, lsp

#19336 ci: refactor build.ps1
  .github/workflows/ci.yml
  .github/workflows/release.yml
  ci/build.ps1
Labels: ci

#19410 fix(lua): fix doubling of entries in :lua completion
  runtime/lua/vim/_editor.lua
Labels: lua

#19412 fix: add group in autocmd api
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp

#19111 fix(windows):exepath, stdpath return wrong slashes #13787
  src/nvim/eval/funcs.c
  src/nvim/os/stdpaths.c
  test/functional/core/startup_spec.lua
  test/functional/vimscript/executable_spec.lua
Labels: platform:windows

#19236 backports for 0.7.x
  src/nvim/eval/funcs.c
  src/nvim/os/stdpaths.c
  src/nvim/tui/tui.c
  test/functional/core/startup_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/screen.lua
  test/functional/vimscript/executable_spec.lua
Labels: tui

#19167 refactor: enable -Wconversion warning for memline.c
  src/nvim/CMakeLists.txt
  src/nvim/memline.c
Labels: refactor

#19390 fix(mouse): click on global statusline with splits
  src/nvim/normal.c
  test/functional/ui/statusline_spec.lua
Labels: mouse

#19217 fix(lua): make it possible to cancel vim.wait() with Ctrl-C
  src/nvim/lua/executor.c
  test/functional/lua/vim_spec.lua
Labels: lua, backport release-0.7

#19425 vim-patch:8.2.1147
  src/nvim/testdir/test_excmd.vim
  test/functional/legacy/excmd_spec.lua
Labels: vim-patch

#19429 fix flaky tests
  test/functional/helpers.lua
  test/functional/legacy/arglist_spec.lua
  test/functional/legacy/excmd_spec.lua
  test/functional/vimscript/let_spec.lua
Labels: test

#19428 build: bump minimum CMake version in cmake.deps
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/Libvterm-tbl2inc_c.cmake
Labels: build, dependencies

#19434 vim-patch:8.2.{0509,2632}: startup tests
  src/nvim/testdir/term_util.vim
  src/nvim/testdir/test_clientserver.vim
  src/nvim/testdir/test_ex_mode.vim
  src/nvim/testdir/test_expand.vim
  src/nvim/testdir/test_functions.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_startup.vim
  src/nvim/testdir/test_textformat.vim
  src/nvim/testdir/test_trycatch.vim
Labels: vim-patch

#19415 vim-patch:8.1.{1076,1849}: file for Insert mode is much too big
  src/nvim/api/vim.c
  src/nvim/autocmd.c
  src/nvim/change.c
  src/nvim/edit.c
  src/nvim/edit.h
  src/nvim/eval/funcs.c
  src/nvim/eval/userfunc.c
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/insexpand.c
  src/nvim/insexpand.h
  src/nvim/main.c
  src/nvim/memory.c
  src/nvim/option.c
  src/nvim/popupmnu.c
  src/nvim/screen.c
  src/nvim/search.c
  src/nvim/spell.c
  src/nvim/state.c
  src/nvim/tag.c
Labels: vim-patch

#19446 refactor(object): get rid of redundant FIXED_TEMP_ARRAY
  src/nvim/api/buffer.c
  src/nvim/api/private/helpers.h
  src/nvim/api/vim.c
  src/nvim/autocmd.c
  src/nvim/buffer_updates.c
  src/nvim/decoration_provider.c
  src/nvim/highlight.c
Labels: refactor

#19238 feat(lua): allow vim.cmd to be indexed
  runtime/doc/lua.txt
  runtime/lua/vim/_editor.lua
  test/functional/lua/vim_spec.lua
Labels: lua

#19450 test(old): set 'display' to an empty string
  src/nvim/testdir/setup.vim
  src/nvim/testdir/test_window_cmd.vim
Labels: test

#19445 fix: local winbar with tabs
  src/nvim/option.c
  src/nvim/window.c
  test/functional/ui/winbar_spec.lua
Labels: ui, statusline

#19439 vim-patch:8.2.4502
  src/nvim/testdir/README.txt
  src/nvim/testdir/test_ins_complete.vim
Labels: vim-patch

#19457 vim-patch:9.0.0047: using freed memory with recursive substitute
  src/nvim/ex_cmds.c
  src/nvim/regexp.c
  src/nvim/testdir/test_regexp_latin.vim
Labels: vim-patch

#19455 ci(labeler): do not add "column" label for mark.{c,h}
  .github/labeler.yml
Labels: ci

#19456 fix(grid): don't use utfc_ptr2char_len() when printing until NUL
  src/nvim/grid.c
  test/functional/ui/statusline_spec.lua
Labels: display, unicode 💩, backport release-0.7

#19465 test(mksession_spec): use %bwipeout! instead of qall! to close terminal
  test/functional/ex_cmds/mksession_spec.lua
Labels: test

#19462 vim-patch:8.1.1933: the eval.c file is too big
  scripts/vim-patch.sh
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/eval.c
  src/nvim/eval/executor.c
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/eval/userfunc.c
  src/nvim/eval/vars.c
  src/nvim/eval/vars.h
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/globals.h
  src/nvim/highlight_group.c
  src/nvim/keycodes.c
  src/nvim/option.c
  src/nvim/syntax.c
  src/nvim/window.c
Labels: vim-patch

#19441 l10n: Update Turkish translations
  src/nvim/po/tr.po
Labels: localization

#19466 refactor: move FunPtr to types.h
  src/nvim/digraph.h
  src/nvim/eval.h
  src/nvim/eval/funcs.h
  src/nvim/eval/userfunc.c
  src/nvim/eval/vars.h
  src/nvim/ex_docmd.h
  src/nvim/ex_getln.c
  src/nvim/insexpand.h
  src/nvim/lua/executor.c
  src/nvim/mapping.h
  src/nvim/match.c
  src/nvim/match.h
  src/nvim/search.c
  src/nvim/search.h
  src/nvim/sign.c
  src/nvim/sign.h
  src/nvim/testing.h
  src/nvim/types.h
Labels: refactor

#19459 ci(release): use `cpack` on macOS
  .github/workflows/release.yml
Labels: platform:macos, distribution, status:needs-discussion, ci

#19448 dist(versioning): handle tarball installation
  cmake/GenerateVersion.cmake
  src/nvim/CMakeLists.txt
Labels: build

#19467 vim-patch:8.2.1489
  scripts/vim-patch.sh
  src/nvim/eval/funcs.c
  src/nvim/eval/vars.c
Labels: vim-patch

#19471 vim-patch:8.2.{4731,5035}: changelist patches
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/eval/funcs.c
  src/nvim/globals.h
  src/nvim/testdir/test_changelist.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/window.c
Labels: vim-patch

#19476 vim-patch:9.0.{0059,0061}
  src/nvim/autocmd.c
  src/nvim/getchar.c
  src/nvim/testdir/test_alot.vim
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_input.vim
  src/nvim/testdir/test_options.vim
  src/nvim/testdir/test_statusline.vim
  src/nvim/testdir/test_termcodes.vim
  src/nvim/testdir/test_timers.vim
  src/nvim/window.c
Labels: vim-patch

#19480 fix(mouse): fix using uninitialized memory with K_MOUSEMOVE
  src/nvim/keycodes.c
  test/functional/ui/mouse_spec.lua
Labels: mouse

#17952 vim-patch:8.1.1763: evalfunc.c is still too big
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
Labels: vim-patch

#19489 fix(api): make nvim_cmd mods.silent work correctly
  src/nvim/api/command.c
  test/functional/api/vim_spec.lua
Labels: api

#18992 fix(input): do no reinterpret mouse keys with ALT modifiers
  runtime/doc/cmdline.txt
  runtime/doc/insert.txt
  runtime/doc/intro.txt
  runtime/doc/vim_diff.txt
  runtime/doc/visual.txt
  src/nvim/getchar.c
  test/functional/editor/meta_key_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/mouse_spec.lua
  test/functional/ui/statusline_spec.lua
Labels: input, mouse

#19121 ci(distribution): auto-release on winget
  .github/workflows/release-winget.yml
Labels: distribution, ci

#19493 vim-patch:8.2.{1469,2254,2284,2285,2969,4228}: option fixes and refactorings
  src/nvim/api/options.c
  src/nvim/eval.c
  src/nvim/eval/vars.c
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/option.h
  src/nvim/spell.c
  src/nvim/testdir/test_diffmode.vim
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_vimscript.vim
Labels: vim-patch

#19468 build(lintuncrustify): check that user's uncrustify is correct version
  cmake/CheckUncrustifyVersion.cmake
  src/nvim/CMakeLists.txt
Labels: build

#19494 vim-patch:8.2.{5155,5163,5164,5166}: diff fixes
  src/nvim/diff.c
  src/nvim/move.c
  src/nvim/testdir/test_diffmode.vim
  test/functional/ui/diff_spec.lua
Labels: vim-patch, diff

#19213 feat(lsp): allow passing custom list handler to LSP functions that return lists
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/handlers.lua
Labels: lua, lsp

#19505 vim-patch:9.0.0071: command overlaps with printed text in scrollback
  src/nvim/message.c
  src/nvim/testdir/test_messages.vim
  test/functional/legacy/messages_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/messages_spec.lua
Labels: vim-patch

#19508 build: fix git version generation on makefiles with older cmake versions
  src/nvim/CMakeLists.txt
Labels: build

#19474 fix(cmdline): trigger CmdlineEnter and ModeChanged earlier
  src/nvim/ex_getln.c
  test/functional/ui/cmdline_spec.lua
Labels: events

#19501 vim-patch:b529cfbd04c0
  runtime/autoload/bitbake.vim
  runtime/autoload/python.vim
  runtime/doc/builtin.txt
  runtime/doc/ft_sql.txt
  runtime/doc/insert.txt
  runtime/doc/map.txt
  runtime/doc/options.txt
  runtime/doc/pi_netrw.txt
  runtime/doc/undo.txt
  runtime/ftplugin/bitbake.vim
  runtime/ftplugin/expect.vim
  runtime/ftplugin/html.vim
  runtime/indent/bitbake.vim
  runtime/indent/expect.vim
  runtime/indent/python.vim
  runtime/indent/testdir/bitbake.in
  runtime/indent/testdir/bitbake.ok
  runtime/pack/dist/opt/shellmenu/plugin/shellmenu.vim
  runtime/synmenu.vim
  runtime/syntax/bitbake.vim
  runtime/syntax/html.vim
  runtime/syntax/make.vim
Labels: runtime, vim-patch

#19512 build: fix version generation to its previous behavior
  cmake/GenerateVersion.cmake
Labels: build

#19514 vim-patch:8.1.1424,9.0.0076: crash when popup menu is deleted while waiting for char
  src/nvim/popupmnu.c
  src/nvim/testdir/test_popup.vim
Labels: vim-patch

#19504 vim-patch:9.0.0073: too many files recognized as bsdl
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#19526 vim-patch:9.0.0084: using "terraform" filetype for .tfvars file is bad
  runtime/filetype.vim
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#19523 vim-patch:9.0.0085: ":write" fails after ":file name" and the ":edit"
  src/nvim/ex_cmds.c
  src/nvim/testdir/test_excmd.vim
Labels: vim-patch

#19498 build(gen_vimdoc): fall back to lua if luajit doesn't exist
  scripts/lua2dox_filter
Labels: build

#19528 vim-patch:9.0.{0051,0082,0083,0086}: cmdline fixes
  src/nvim/eval/funcs.c
  src/nvim/ex_getln.c
  src/nvim/testdir/test_autocmd.vim
  src/nvim/testdir/test_cmdline.vim
  src/nvim/testdir/test_edit.vim
  src/nvim/testdir/test_ex_mode.vim
  src/nvim/testdir/test_global.vim
  test/functional/legacy/cmdline_spec.lua
  test/functional/legacy/ex_mode_spec.lua
  test/functional/legacy/global_spec.lua
Labels: vim-patch

#19529 vim-patch:9.0.0081: command line completion of user command may have duplicates
  src/nvim/ex_docmd.c
  src/nvim/testdir/test_cmdline.vim
Labels: vim-patch

#19510 fix(options): properly free string option
  src/nvim/diff.c
  src/nvim/terminal.c
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: backport release-0.7, options

#19531 vim-patch:8.2.{4623,4625}: coverity warnings
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
Labels: vim-patch

#19518 ci(openbsd): don't specify versions for dependencies if possible
  .builds/openbsd.yml
Labels: ci, backport release-0.7

#19539 vim-patch:9.0.0090: no error when assigning bool to a string option
  src/nvim/eval/vars.c
  src/nvim/option.c
  test/functional/vimscript/buf_functions_spec.lua
Labels: vim-patch
