Repository neovim/neovim, pull requests merged in 2023-12, with the labels that each got.

#26338 refactor(IWYU): create {ex_getln,rbuffer,os/fileio}_defs.h
  Makefile
  src/clint.py
  src/nvim/cmdexpand.h
  src/nvim/eval.h
  src/nvim/event/stream.h
  src/nvim/ex_getln.h
  src/nvim/ex_getln_defs.h
  src/nvim/getchar.h
  src/nvim/os/fileio.h
  src/nvim/os/fileio_defs.h
  src/nvim/rbuffer.c
  src/nvim/rbuffer.h
  src/nvim/rbuffer_defs.h
  src/nvim/tui/input.c
  src/nvim/tui/input.h
Labels: build, refactor

#26340 refactor(IWYU): fix includes for highlight_group.h
  Makefile
  src/clint.py
  src/nvim/eval/encode.h
  src/nvim/event/defs.h
  src/nvim/highlight_group.h
Labels: build, refactor

#26343 refactor: change event_create() to a macro
  src/nvim/autocmd.c
  src/nvim/channel.c
  src/nvim/event/defs.h
  src/nvim/event/loop.c
  src/nvim/event/loop.h
  src/nvim/event/multiqueue.c
  src/nvim/event/multiqueue.h
  src/nvim/event/process.c
  src/nvim/event/rstream.c
  src/nvim/event/signal.c
  src/nvim/event/socket.c
  src/nvim/event/time.c
  src/nvim/lua/executor.c
  src/nvim/message.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/os/input.c
  src/nvim/tui/input.c
  src/nvim/ui.c
  test/unit/fixtures/multiqueue.c
Labels: refactor

#26344 refactor: move float_relative_str[] to nvim_win_get_config()
  src/nvim/api/win_config.c
  src/nvim/buffer_defs.h
  src/nvim/winfloat.h
Labels: refactor

#26321 ci: create setup action
  .github/actions/setup/action.yml
  .github/workflows/api-docs.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/coverity.yml
  .github/workflows/lintcommit.yml
  .github/workflows/test.yml
Labels: ci

#26352 refactor: remove SIZEOF_INT check
  src/nvim/vim_defs.h
Labels: refactor

#26351 refactor: remove kbtree.h
  src/klib/kbtree.h
Labels: build, refactor, tui, treesitter, folds, column

#26349 refactor: free more reachable memory with EXITFREE
  src/nvim/api/ui.c
  src/nvim/autocmd.c
  src/nvim/channel.c
  src/nvim/eval.c
  src/nvim/grid.c
  src/nvim/map_defs.h
  src/nvim/marktree.c
  src/nvim/memory.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/msgpack_rpc/helpers.c
  src/nvim/option.c
  src/nvim/os/env.c
  src/nvim/os/input.c
  src/nvim/ui.c
  src/nvim/ui_client.c
  src/nvim/ui_compositor.c
Labels: refactor

#26357 vim-patch:9.0.2139: html.angular ft is problematic
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#26358 vim-patch:9.0.{2140,2141,2142,2143}
  src/nvim/ex_cmds.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/option_vars.h
  src/nvim/optionstr.c
  src/nvim/spellsuggest.c
  src/nvim/window.c
  test/functional/legacy/crash_spec.lua
  test/functional/legacy/messages_spec.lua
  test/old/testdir/crash/poc_did_set_langmap
  test/old/testdir/crash/poc_ex_substitute
  test/old/testdir/crash/poc_suggest_trie_walk
  test/old/testdir/crash/poc_win_enter_ext
  test/old/testdir/test_crash.vim
Labels: vim-patch

#26355 build(nix): update flake.lock
  contrib/flake.lock
Labels: build, platform:nix

#26380 refactor: use a inline function free cptext
  src/nvim/insexpand.c
Labels: refactor

#26386 refactor(terminal): only remove const qualifier when necessary
  src/nvim/api/vim.c
  src/nvim/channel.c
  src/nvim/terminal.c
  src/nvim/terminal.h
Labels: refactor, terminal

#26393 build: rework formatting to use add_glob_target
  .luacheckrc
  CMakeLists.txt
  cmake/Format.cmake
  cmake/Util.cmake
  src/nvim/CMakeLists.txt
Labels: build

#26395 build: enable lintlua for src/ dir
  .styluaignore
  CMakeLists.txt
  src/nvim/api/dispatch_deprecated.lua
  src/nvim/auevents.lua
  src/nvim/eval.lua
  src/nvim/ex_cmds.lua
  src/nvim/generators/c_grammar.lua
  src/nvim/generators/dump_bin_array.lua
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/generators/gen_api_ui_events.lua
  src/nvim/generators/gen_char_blob.lua
  src/nvim/generators/gen_declarations.lua
  src/nvim/generators/gen_eval.lua
  src/nvim/generators/gen_events.lua
  src/nvim/generators/gen_ex_cmds.lua
  src/nvim/generators/gen_options.lua
  src/nvim/generators/gen_unicode_tables.lua
  src/nvim/generators/gen_vimvim.lua
  src/nvim/generators/hashy.lua
  src/nvim/generators/preload.lua
Labels: build

#26396 build: enable lintlua for test/unit/ dir
  .styluaignore
  CMakeLists.txt
  test/benchmark/autocmd_spec.lua
  test/benchmark/bench_regexp_spec.lua
  test/benchmark/treesitter_spec.lua
  test/busted/outputHandlers/nvim.lua
  test/client/msgpack_rpc_stream.lua
  test/client/session.lua
  test/client/uv_stream.lua
  test/helpers.lua
  test/lua_runner.lua
  test/unit/api/helpers.lua
  test/unit/api/private_helpers_spec.lua
  test/unit/buffer_spec.lua
  test/unit/charset/vim_str2nr_spec.lua
  test/unit/eval/decode_spec.lua
  test/unit/eval/encode_spec.lua
  test/unit/eval/helpers.lua
  test/unit/eval/tricks_spec.lua
  test/unit/eval/tv_clear_spec.lua
  test/unit/eval/typval_spec.lua
  test/unit/fileio_spec.lua
  test/unit/formatc.lua
  test/unit/garray_spec.lua
  test/unit/helpers.lua
  test/unit/indent_spec.lua
  test/unit/keycodes_spec.lua
  test/unit/marktree_spec.lua
  test/unit/mbyte_spec.lua
  test/unit/memory_spec.lua
  test/unit/message_spec.lua
  test/unit/msgpack_spec.lua
  test/unit/multiqueue_spec.lua
  test/unit/optionstr_spec.lua
  test/unit/os/env_spec.lua
  test/unit/os/fileio_spec.lua
  test/unit/os/fs_spec.lua
  test/unit/os/shell_spec.lua
  test/unit/path_spec.lua
  test/unit/preprocess.lua
  test/unit/profile_spec.lua
  test/unit/rbuffer_spec.lua
  test/unit/search_spec.lua
  test/unit/set.lua
  test/unit/statusline_spec.lua
  test/unit/strings_spec.lua
  test/unit/undo_spec.lua
  test/unit/viml/expressions/lexer_spec.lua
  test/unit/viml/expressions/parser_spec.lua
  test/unit/viml/expressions/parser_tests.lua
  test/unit/viml/helpers.lua
Labels: build

#26399 vim-patch:9.0.2148: Vim does not detect pacman.log file
  runtime/lua/vim/filetype.lua
  runtime/syntax/pacmanlog.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#26394 ci: use the latest stylua version
  .github/workflows/test.yml
Labels: ci

#26365 refactor(api): complete conversion from `Dictionary` to `Dict(opts)`
  runtime/doc/api.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/api_keysets.lua
  src/nvim/api/buffer.c
  src/nvim/api/command.c
  src/nvim/api/deprecated.c
  src/nvim/api/deprecated.h
  src/nvim/api/extmark.c
  src/nvim/api/keysets_defs.h
  src/nvim/api/vim.c
  test/functional/api/buffer_updates_spec.lua
Labels: api, refactor

#26361 fix(extmarks): restore old position before revalidating
  src/nvim/extmark.c
  test/functional/api/extmark_spec.lua
Labels: extmarks

#26404 test: fileio_spec is unreliable/flaky
  src/nvim/globals.h
  test/functional/core/fileio_spec.lua
  test/helpers.lua
Labels: test, ci

#26411 vim-patch:2103a56eab5a
  runtime/doc/change.txt
Labels: documentation, vim-patch

#26243 docs: small fixes
  MAINTAIN.md
  runtime/doc/autocmd.txt
  runtime/doc/editorconfig.txt
  runtime/doc/eval.txt
  runtime/doc/lua-guide.txt
  runtime/doc/quickref.txt
  src/nvim/message.c
  test/functional/terminal/tui_spec.lua
  test/unit/formatc.lua
  test/unit/helpers.lua
Labels: documentation

#26416 feat(lua): implement Iter:join()
  runtime/doc/lua.txt
  runtime/lua/vim/iter.lua
  test/functional/lua/iter_spec.lua
Labels: lua

#26417 refactor(options): remove SOPT type enums
  src/nvim/api/options.c
  src/nvim/option.h
Labels: refactor, options

#26418 vim-patch:8.1.1583: set_ref_in_list() only sets ref in items
  src/nvim/eval.c
  src/nvim/eval/userfunc.c
  src/nvim/shada.c
Labels: vim-patch

#26420 vim-patch:8.2.3695: confusing error for missing key
  src/nvim/eval.c
  src/nvim/globals.h
  src/nvim/lua/executor.c
  test/old/testdir/test_listdict.vim
Labels: vim-patch

#26390 fix(treesitter): don't forcefully open folds
  src/nvim/lua/stdlib.c
Labels: treesitter

#26415 test: 'nofsync' with deadly signal
  test/functional/core/fileio_spec.lua
  test/functional/helpers.lua
  test/functional/ui/screen_basic_spec.lua
Labels: test

#26423 test: unreliable 'nofsync' test
  test/functional/core/fileio_spec.lua
Labels: test

#26407 feat(defaults): enable 'termguicolors' by default when supported by terminal
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_defaults.lua
  runtime/lua/vim/_meta.lua
  runtime/lua/vim/_meta/options.lua
  runtime/lua/vim/termcap.lua
  runtime/plugin/osc52.lua
  src/nvim/options.lua
  src/nvim/tui/tui.c
  src/nvim/ui_client.c
  test/functional/autocmd/focus_spec.lua
  test/functional/core/main_spec.lua
  test/functional/helpers.lua
  test/functional/terminal/api_spec.lua
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/cursor_spec.lua
  test/functional/terminal/helpers.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/output_spec.lua
Labels: defaults, tui

#26381 fix(startup): only send one default_colors_set event during startup
  src/nvim/ui.c
  test/functional/ui/embed_spec.lua
Labels: test

#26434 test(terminal): remove unnecessary string operations
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/helpers.lua
  test/functional/terminal/scrollback_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/terminal/window_spec.lua
Labels: test, terminal

#26435 refactor(tui): use uv_timer_t instead of TimeWatcher for input
  src/nvim/tui/input.c
  src/nvim/tui/input.h
  src/nvim/tui/tui.c
Labels: refactor, tui

#26437 test: set 'termguicolors' in outer Nvim instance
  test/functional/helpers.lua
  test/functional/terminal/api_spec.lua
  test/functional/terminal/highlight_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/options_spec.lua
  test/functional/ui/output_spec.lua
Labels: test

#26442 fix(inccommand): save and restore '[ and '] marks
  src/nvim/ex_getln.c
  test/functional/ui/inccommand_spec.lua
Labels: backport release-0.9

#26445 fix(inccommand): don't crash with "split" and 'n' flag
  src/nvim/ex_cmds.c
  test/functional/ui/inccommand_spec.lua
Labels: backport release-0.9

#26446 test(unit): correct header name
  test/unit/helpers.lua
Labels: test

#26440 fix(terminal): never propagate $COLORTERM from outer env
  src/nvim/eval/funcs.c
  test/functional/helpers.lua
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/tui_spec.lua
Labels: terminal

#26426 feat(rpc): allow empty string key in msgpack => Vim conversion
  src/nvim/api/private/converter.c
  src/nvim/api/private/helpers.c
  src/nvim/api/vimscript.c
  src/nvim/channel.c
  src/nvim/context.c
  src/nvim/eval/funcs.c
  src/nvim/mapping.c
  test/functional/api/vim_spec.lua
  test/functional/vimscript/json_functions_spec.lua
Labels: rpc

#26406 perf(column): keep track of number of lines that hold up the 'signcolumn'
  src/nvim/api/vim.c
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/decoration.c
  src/nvim/drawscreen.c
  src/nvim/extmark.c
  src/nvim/map.c
  src/nvim/map_defs.h
  src/nvim/move.c
  src/nvim/option.c
  src/nvim/optionstr.c
  src/nvim/textformat.c
  src/nvim/types_defs.h
  test/functional/ui/decorations_spec.lua
Labels: column

#26329 fix(lua): allow nil values in serialized Lua arrays
  src/nvim/lua/converter.c
  test/functional/lua/api_spec.lua
Labels: lua

#26429 refactor(options): split `get_option_value()` into smaller functions
  src/nvim/api/options.c
  src/nvim/context.c
  src/nvim/eval.c
  src/nvim/eval/vars.c
  src/nvim/option.c
  src/nvim/spell.c
Labels: refactor, options

#26459 fix(treesitter): remove incompatible c query (again)
  runtime/queries/c/highlights.scm
Labels: treesitter

#26461 test: fix Windows tests failures
  test/functional/core/startup_spec.lua
  test/functional/terminal/tui_spec.lua
Labels: test

#26462 test: use termopen() instead of :terminal more
  test/functional/api/buffer_updates_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/autocmd/autocmd_oldtest_spec.lua
  test/functional/core/job_spec.lua
  test/functional/core/main_spec.lua
  test/functional/ex_cmds/swapfile_preserve_recover_spec.lua
  test/functional/lua/ui_event_spec.lua
Labels: test

#26464 test(tui_spec): update cursor_address test for flush start
  test/functional/terminal/tui_spec.lua
Labels: test

#26453 ci: remove python workaround
  .github/workflows/test.yml
Labels: ci

#26470 ci: bump actions/labeler from 4 to 5
  .github/labeler.yml
  .github/scripts/labeler_configuration.yml
  .github/workflows/labeler.yml
Labels: ci

#26475 vim-patch:9.0.2154: The option[] array is not sorted
  src/nvim/option.c
  src/nvim/options.lua
  test/old/testdir/test_options.vim
Labels: vim-patch

#26476 vim-patch:ff0baca86523
  runtime/syntax/cpp.vim
  runtime/syntax/squirrel.vim
Labels: vim-patch, backport release-0.9

#26478 refactor(tui): use synchronized updates around actual TUI buffer flush
  src/nvim/tui/tui.c
  test/functional/terminal/tui_spec.lua
Labels: refactor, tui

#26482 refactor: format casting of negative number better
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/lua/converter.c
  src/nvim/mark.c
  src/nvim/ops.c
  src/nvim/textformat.c
Labels: refactor

#26484 vim-patch:61e984e212ed
  runtime/doc/cmdline.txt
Labels: documentation, vim-patch

#26492 build: remove config-specific find_package search for libuv
  cmake/FindLibuv.cmake
  src/nvim/CMakeLists.txt
Labels: build

#26488 docs(news): very, very minorly
  runtime/doc/news.txt
Labels: documentation

#26458 refactor(options): reduce `findoption()` usage
  src/nvim/CMakeLists.txt
  src/nvim/api/deprecated.c
  src/nvim/api/options.c
  src/nvim/api/vim.c
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/context.c
  src/nvim/diff.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/vars.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/generators/gen_options.lua
  src/nvim/help.c
  src/nvim/highlight_group.c
  src/nvim/indent.c
  src/nvim/main.c
  src/nvim/memline.c
  src/nvim/option.c
  src/nvim/option.h
  src/nvim/option_defs.h
  src/nvim/optionstr.c
  src/nvim/path.c
  src/nvim/popupmenu.c
  src/nvim/quickfix.c
  src/nvim/runtime.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/statusline.c
  src/nvim/statusline.h
  src/nvim/terminal.c
  src/nvim/textformat.c
  src/nvim/ui.c
  src/nvim/window.c
  test/functional/lua/ffi_spec.lua
  test/unit/statusline_spec.lua
Labels: refactor, options

#26514 refactor(gen_lsp.lua): minor improvements to CLI
  runtime/lua/vim/lsp/_meta/protocol.lua
  scripts/gen_lsp.lua
Labels: refactor

#26509 build(deps): bump luajit to HEAD - ff204d035
  cmake.deps/deps.txt
Labels: build, dependencies

#26506 fix(treesitter): improve vim.treesitter.foldexpr
  runtime/lua/vim/treesitter/_fold.lua
  test/functional/treesitter/fold_spec.lua
Labels: treesitter

#26523 fix(tui): don't forget to update cursor visibility
  src/nvim/tui/tui.c
  test/functional/terminal/tui_spec.lua
Labels: tui

#26524 test(treesitter/fold_spec): fix flakiness
  test/functional/treesitter/fold_spec.lua
Labels: test

#26501 fix(extmark): `U` changed_bytes after extmark_splice
  src/nvim/undo.c
Labels: extmarks

#26530 fix(lua): memory leak when using invalid syntax with exists()
  src/nvim/lua/executor.c
  test/functional/lua/vim_spec.lua
  test/functional/treesitter/fold_spec.lua
Labels: lua

#26538 docs: inline wiki page Refactoring.md into MAINTAIN.md
  MAINTAIN.md
Labels: documentation

#26536 docs: inline wiki page Deps.md into MAINTAIN.md
  MAINTAIN.md
Labels: documentation

#26525 feat(iter): add `Iter.take`
  runtime/doc/lua.txt
  runtime/lua/vim/iter.lua
  test/functional/lua/iter_spec.lua
Labels: lua

#26542 vim-patch:9.0.2159: screenpos() may crash with neg. column
  src/nvim/move.c
  test/old/testdir/test_cursor_func.vim
Labels: vim-patch, backport release-0.9

#26193 refactor(diagnostic): set sign by using extmark
  runtime/doc/diagnostic.txt
  runtime/doc/news.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: refactor, diagnostic

#26555 Diagnostic sign fixups
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: diagnostic

#26551 docs: add code-overview from wiki to src/nvim/README.md
  src/nvim/README.md
Labels: documentation

#26533 docs: add installation and build guides from wiki to repo
  BUILD.md
  INSTALL.md
  README.md
  runtime/lua/nvim/health.lua
Labels: documentation

#26547 docs: move vim-patch wiki page to runtime documentation
  CONTRIBUTING.md
  runtime/doc/dev_vimpatch.txt
  runtime/doc/help.txt
  scripts/vim-patch.sh
Labels: documentation

#26557 fix(defaults): background detection in tmux
  runtime/lua/vim/_defaults.lua
Labels: defaults

#26565 fix(tui): don't use tui->params[] for 'termsync'
  src/nvim/tui/tui.c
Labels: tui

#26567 ci: add gpanders as reviewer for defaults and tui labels
  .github/scripts/reviewers_add.js
Labels: ci

#26384 feat(nvim_open_term): convert LF => CRLF
  runtime/doc/api.txt
  runtime/doc/news.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/api_keysets.lua
  src/nvim/api/keysets_defs.h
  src/nvim/api/vim.c
  src/nvim/channel.c
  src/nvim/terminal.c
  src/nvim/terminal.h
  test/functional/terminal/channel_spec.lua
  test/functional/terminal/scrollback_spec.lua
Labels: api, terminal

#26564 fix(extmarks): only invalidate unpaired marks on deleted rows
  src/nvim/extmark.c
  test/functional/ui/sign_spec.lua
Labels: extmarks

#26552 feat(lsp): more annotations
  runtime/doc/lsp.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_meta/vvars.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/_meta.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/lsp/log.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/lsp/sync.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#26568 refactor(diagnostic): use named namespaces
  runtime/lua/vim/diagnostic.lua
Labels: refactor, diagnostic

#26583 vim-patch:323dda1484d9
  runtime/doc/nvim_terminal_emulator.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  test/old/testdir/test_termdebug.vim
Labels: vim-patch

#26584 vim-patch:17dca3cb97cd
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: vim-patch

#26582 build: rework --version generation
  cmake.config/CMakeLists.txt
  cmake.config/versiondef.h.in
  cmake.config/versiondef_old.h.in
Labels: build

#26579 refactor(defaults): defer setting 'termguicolors' until after VimEnter
  runtime/lua/vim/_defaults.lua
  runtime/lua/vim/termcap.lua
Labels: defaults, refactor

#26588 vim-patch:9a775b4a2ae6
  runtime/autoload/netrw.vim
Labels: vim-patch

#26595 refactor(defaults): always set options, even if value hasn't changed
  runtime/lua/vim/_defaults.lua
Labels: defaults, refactor

#26594 vim-patch:e06f2b498ccc
  runtime/doc/change.txt
Labels: documentation, vim-patch

#26512 refactor(options): remove option type macros
  runtime/doc/news.txt
  scripts/gen_eval_files.lua
  src/nvim/eval.c
  src/nvim/eval.h
  src/nvim/eval/vars.c
  src/nvim/generators/gen_options.lua
  src/nvim/math.c
  src/nvim/math.h
  src/nvim/memory.c
  src/nvim/option.c
  src/nvim/option.h
  src/nvim/option_defs.h
  src/nvim/option_vars.h
  src/nvim/options.lua
  test/functional/api/vim_spec.lua
  test/old/testdir/test_options.vim
Labels: refactor, options

#24723 feat(complete): completeopt support popup like vim
  runtime/doc/api.txt
  runtime/doc/builtin.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/api_keysets.lua
  runtime/lua/vim/_meta/options.lua
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/api/keysets_defs.h
  src/nvim/api/vim.c
  src/nvim/buffer_defs.h
  src/nvim/eval.lua
  src/nvim/insexpand.c
  src/nvim/options.lua
  src/nvim/optionstr.c
  src/nvim/popupmenu.c
  src/nvim/popupmenu.h
  src/nvim/window.c
  src/nvim/winfloat.c
  test/functional/ui/popupmenu_spec.lua
Labels: ui

#26604 vim-patch:9.0.1892: CI: no FreeBSD 14 support
  .cirrus.yml
Labels: vim-patch

#26605 vim-patch:9.0.2168: Moving tabpages on :drop may cause an endless loop
  src/nvim/arglist.c
  src/nvim/autocmd.h
  src/nvim/window.c
  src/nvim/window.h
  test/old/testdir/test_tabpage.vim
Labels: vim-patch

#26540 feat(highlight): tweak default color scheme
  runtime/colors/default.vim
  runtime/colors/vim.vim
  runtime/doc/dev_theme.txt
  runtime/doc/news.txt
  runtime/doc/syntax.txt
  runtime/doc/vim_diff.txt
  src/nvim/highlight_group.c
  test/functional/core/main_spec.lua
  test/functional/terminal/cursor_spec.lua
  test/functional/ui/cursor_spec.lua
  test/functional/ui/embed_spec.lua
Labels: highlight

#26606 fix(api): crash after nvim_win_set_config title/footer validation error
  src/nvim/api/win_config.c
  test/functional/api/window_spec.lua
Labels: api

#26607 vim-patch:0378f07fbaee
  runtime/colors/blue.vim
  runtime/colors/darkblue.vim
  runtime/colors/delek.vim
  runtime/colors/desert.vim
  runtime/colors/elflord.vim
  runtime/colors/evening.vim
  runtime/colors/habamax.vim
  runtime/colors/industry.vim
  runtime/colors/koehler.vim
  runtime/colors/lunaperche.vim
  runtime/colors/morning.vim
  runtime/colors/murphy.vim
  runtime/colors/pablo.vim
  runtime/colors/peachpuff.vim
  runtime/colors/quiet.vim
  runtime/colors/retrobox.vim
  runtime/colors/ron.vim
  runtime/colors/shine.vim
  runtime/colors/slate.vim
  runtime/colors/sorbet.vim
  runtime/colors/torte.vim
  runtime/colors/wildcharm.vim
  runtime/colors/zaibatsu.vim
  runtime/colors/zellner.vim
Labels: vim-patch

#26609 build: fix universal mac builds
  cmake.deps/cmake/BuildLuajit.cmake
Labels: build, dependencies

#25638 build: bump minimum cmake version to 3.13
  .github/workflows/build.yml
  CMakeLists.txt
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/GettextCMakeLists.txt
  cmake.deps/cmake/LibiconvCMakeLists.txt
  cmake.deps/cmake/LibvtermCMakeLists.txt
  cmake.deps/cmake/LpegCMakeLists.txt
  cmake.deps/cmake/MarkdownParserCMakeLists.txt
  cmake.deps/cmake/TreesitterCMakeLists.txt
  cmake.deps/cmake/TreesitterParserCMakeLists.txt
  cmake/InstallHelpers.cmake
  runtime/CMakeLists.txt
  src/nvim/CMakeLists.txt
Labels: build, ci, dependencies

#26598 refactor: only reload colorscheme if &bg changed
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
  src/nvim/optionstr.c
Labels: refactor

#26345 build: cmake fixes
  CMakeLists.txt
  cmake.config/CMakeLists.txt
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/BuildLuajit.cmake
  cmake.deps/cmake/BuildTreesitter.cmake
  cmake.deps/cmake/MarkdownParserCMakeLists.txt
  cmake/FindLibintl.cmake
  cmake/FindLibuv.cmake
  cmake/RunTests.cmake
  runtime/CMakeLists.txt
  src/nvim/CMakeLists.txt
  test/CMakeLists.txt
Labels: build

#26611 docs: simplify build instructions
  BUILD.md
Labels: documentation

#26573 refactor(options): use hashy for finding options
  src/nvim/CMakeLists.txt
  src/nvim/api/deprecated.c
  src/nvim/api/options.c
  src/nvim/eval/vars.c
  src/nvim/generators/gen_options.lua
  src/nvim/generators/gen_options_enum.lua
  src/nvim/option.c
  src/nvim/option.h
  src/nvim/options.lua
  src/nvim/statusline.c
Labels: refactor, options

#26577 refactor(lsp): move changetracking to separate file
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/_changetracking.lua
  runtime/lua/vim/lsp/sync.lua
Labels: refactor, lsp

#26613 build: eliminate semicolons from --version string
  cmake.config/CMakeLists.txt
Labels: build

#26614 perf(treesitter): filter out trees outside the visible range early
  runtime/lua/vim/treesitter/highlighter.lua
Labels: performance, treesitter

#26622 refactor: move some anonymous enums back to non-defs headers
  Makefile
  src/clint.py
  src/nvim/api/private/helpers.h
  src/nvim/channel_defs.h
  src/nvim/ex_cmds.h
  src/nvim/ex_cmds_defs.h
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/log.h
  src/nvim/message.h
  src/nvim/message_defs.h
  src/nvim/option.h
  src/nvim/os/lang.c
Labels: build, refactor

#26623 test(core/job_spec): fix flakiness
  test/functional/core/job_spec.lua
  test/functional/ui/popupmenu_spec.lua
Labels: test

#26615 docs(diagnostic): add return value of `vim.diagnostic.config()`
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
Labels: diagnostic

#26627 refactor: split WIN_EXECUTE() into two functions
  Makefile
  src/clint.py
  src/nvim/api/window.c
  src/nvim/eval/window.c
  src/nvim/eval/window.h
Labels: build, refactor

#26628 fix(options): setting 'scroll' with resized grid
  src/nvim/option.c
  test/functional/ui/multigrid_spec.lua
Labels: options

#26630 fix(lua): handle array with holes in luaeval()
  src/nvim/lua/converter.c
  test/functional/lua/luaeval_spec.lua
Labels: lua

#26634 docs: add style rule regarding initialization
  runtime/doc/dev_style.txt
  src/nvim/change.c
  src/nvim/drawscreen.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/userfunc.c
  src/nvim/eval/window.c
  src/nvim/ex_cmds.c
  src/nvim/extmark.c
  src/nvim/fold.c
  src/nvim/globals.h
  src/nvim/grid.c
  src/nvim/highlight.c
  src/nvim/indent.c
  src/nvim/insexpand.c
  src/nvim/keycodes.c
  src/nvim/lua/stdlib.c
  src/nvim/lua/xdiff.c
  src/nvim/marktree.c
  src/nvim/mbyte.c
  src/nvim/memory.c
  src/nvim/move.c
  src/nvim/ops.c
  src/nvim/optionstr.c
  src/nvim/os/input.c
  src/nvim/os/shell.c
  src/nvim/strings.c
  src/nvim/terminal.c
  src/nvim/tui/tui.c
  src/nvim/ui.c
  src/nvim/ui_client.c
  src/nvim/ui_compositor.c
  src/nvim/undo.c
  src/nvim/window.c
  src/nvim/winfloat.c
Labels: refactor

#26621 fix(termdebug): improve :Evaluate floating window
  runtime/doc/nvim_terminal_emulator.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: runtime

#26618 refactor: soft-deprecate diagnostic signs configured with :sign-define
  runtime/doc/deprecated.txt
  runtime/doc/diagnostic.txt
  runtime/doc/news.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: refactor, diagnostic

#26645 build: fix universal mac builds
  cmake.deps/cmake/BuildLuajit.cmake
Labels: build, dependencies

#26279 feat(api): add forward and back mouse buttons
  runtime/doc/api.txt
  runtime/doc/news.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/vim.c
  src/nvim/os/input.c
  test/functional/ui/mouse_spec.lua
Labels: api

#26648 fix(api): don't set coladd of mark
  src/nvim/api/private/helpers.c
  test/functional/api/buffer_spec.lua
Labels: api, backport release-0.9, marks

#26448 docs: small fixes
  README.md
  runtime/doc/deprecated.txt
  runtime/doc/news.txt
  runtime/doc/nvim_terminal_emulator.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
  test/old/testdir/test_map_functions.vim
Labels: documentation

#26646 refactor: use `bool` to represent boolean values
  src/nvim/arabic.c
  src/nvim/arglist.c
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/bufwrite.c
  src/nvim/change.c
  src/nvim/cmdexpand.c
  src/nvim/cmdhist.c
  src/nvim/cursor_shape.c
  src/nvim/diff.c
  src/nvim/drawline.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/userfunc.c
  src/nvim/eval/vars.c
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/ex_getln.c
  src/nvim/ex_session.c
  src/nvim/file_search.c
  src/nvim/fileio.c
  src/nvim/fold.c
  src/nvim/getchar.c
  src/nvim/grid.c
  src/nvim/highlight_group.c
  src/nvim/indent.c
  src/nvim/main.c
  src/nvim/mapping.c
  src/nvim/memline.c
  src/nvim/menu.c
  src/nvim/message.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/os/users.c
  src/nvim/path.c
  src/nvim/popupmenu.c
  src/nvim/quickfix.c
  src/nvim/runtime.c
  src/nvim/sign.c
  src/nvim/statusline.c
  src/nvim/strings.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/textformat.c
  src/nvim/textobject.c
  test/unit/os/fs_spec.lua
  test/unit/path_spec.lua
Labels: refactor

#26635 fix(treesitter): prepare highlight states for [s, ]s
  runtime/lua/vim/treesitter/highlighter.lua
Labels: treesitter

#26654 test: sign on wrapped line with signcolumn=number
  src/nvim/drawscreen.c
  test/functional/ui/sign_spec.lua
Labels: test

#26657 test: "diff" flag of 'fillchars'
  test/functional/options/chars_spec.lua
Labels: test

#26660 vim-patch:9.0.2178: reg_executing() wrong for :normal with range
  src/nvim/ops.c
  test/old/testdir/test_registers.vim
Labels: vim-patch, backport release-0.9

#26661 vim-patch:9.0.2177: Wrong cursor position when dragging out of window
  src/nvim/mouse.c
  test/old/testdir/test_visual.vim
Labels: vim-patch

#26665 vim-patch:9.0.2179: no filetype detection for execline scripts
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/filetype/detect.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#26667 vim-patch:955652f6df9c
  runtime/doc/change.txt
Labels: documentation, vim-patch

#26624 docs: document header structure
  runtime/doc/dev_style.txt
Labels: documentation

#26675 refactor(treesitter): cleanup highlighter
  runtime/lua/vim/treesitter/highlighter.lua
Labels: refactor, treesitter

#26671 ci(release): create version tag after "stable" tag
  .github/workflows/release.yml
Labels: ci, backport release-0.9

#26644 Big-endian CI backport and fixes
  .github/workflows/optional.yml
  src/nvim/api/extmark.c
  src/nvim/eval/vars.c
  src/nvim/option.c
Labels: ci, ci-s390x

#26676 docs: remove section on constants in style guide
  runtime/doc/dev_style.txt
Labels: documentation

#26638 docs: highlight treesitter and lsp groups
  runtime/doc/lsp.txt
  runtime/doc/syntax.txt
  runtime/doc/treesitter.txt
  runtime/ftplugin/help.lua
  runtime/lua/vim/vimhelp.lua
Labels: enhancement, documentation, lsp, treesitter, diagnostic

#26689 fix(channel): use os_write() instead of fwrite() for stderr
  src/nvim/channel.c
Labels: channel

#26690 fix(osc52): use nvim_chan_send() to stderr for copying
  runtime/lua/vim/ui/clipboard/osc52.lua
Labels: clipboard

#26658 refactor(runtime): rewrite 'vim' color scheme in Lua
  runtime/colors/vim.lua
  runtime/colors/vim.vim
  test/functional/helpers.lua
  test/functional/ui/highlight_spec.lua
Labels: refactor, runtime

#26686 fix(column): avoid exceeding configured 'signcolumn' width
  src/nvim/drawscreen.c
  test/functional/ui/sign_spec.lua
Labels: column

#26641 fix(runtime): revert to Vim's color scheme in bundled color schemes
  runtime/colors/blue.vim
  runtime/colors/darkblue.vim
  runtime/colors/delek.vim
  runtime/colors/desert.vim
  runtime/colors/elflord.vim
  runtime/colors/evening.vim
  runtime/colors/habamax.vim
  runtime/colors/industry.vim
  runtime/colors/koehler.vim
  runtime/colors/lunaperche.vim
  runtime/colors/morning.vim
  runtime/colors/murphy.vim
  runtime/colors/pablo.vim
  runtime/colors/peachpuff.vim
  runtime/colors/quiet.vim
  runtime/colors/retrobox.vim
  runtime/colors/ron.vim
  runtime/colors/shine.vim
  runtime/colors/slate.vim
  runtime/colors/sorbet.vim
  runtime/colors/torte.vim
  runtime/colors/wildcharm.vim
  runtime/colors/zaibatsu.vim
  runtime/colors/zellner.vim
  runtime/doc/news.txt
  runtime/doc/vim_diff.txt
Labels: runtime

#26698 fix(build): teach cmake about vvars
  src/nvim/CMakeLists.txt
Labels: build

#26704 vim-patch:0630080bbd3e
  runtime/doc/syntax.txt
Labels: documentation, vim-patch

#26703 vim-patch:9.0.2183: Maximum callback depth is not configurable
  runtime/doc/message.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/eval.c
  src/nvim/options.lua
Labels: vim-patch

#26705 refactor(options): generate BV_ and WV_ constants
  src/clint.py
  src/nvim/buffer_defs.h
  src/nvim/eval/userfunc.h
  src/nvim/fold.c
  src/nvim/generators/gen_options_enum.lua
  src/nvim/globals.h
  src/nvim/input.h
  src/nvim/lua/executor.h
  src/nvim/option_vars.h
  src/nvim/viml/parser/expressions.h
Labels: refactor, options

#26706 refactor(IWYU): add "private" pragma to more generated headers
  src/nvim/api/private/dispatch.h
  src/nvim/api/ui.h
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/generators/gen_declarations.lua
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/ui.h
  src/nvim/ui_client.h
Labels: refactor

#26696 docs(options): add codeblock annotations to options.lua
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: options

#26694 feat(lsp): add type annotations for lsp.util.locations_to_items
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#26519 refactor(lsp): move glob parsing to util
  runtime/lua/vim/_init_packages.lua
  runtime/lua/vim/_meta.lua
  runtime/lua/vim/glob.lua
  runtime/lua/vim/lsp/_dynamic.lua
  runtime/lua/vim/lsp/_watchfiles.lua
  test/functional/lua/glob_spec.lua
Labels: refactor, lsp

#26528 refactor(drawline): remove LineDrawState and wlv->saved_n_extra
  src/nvim/api/extmark.c
  src/nvim/decoration.c
  src/nvim/decoration_defs.h
  src/nvim/drawline.c
  src/nvim/sign.c
  src/nvim/sign_defs.h
  src/nvim/statusline.c
  src/nvim/types_defs.h
  test/functional/ui/sign_spec.lua
Labels: refactor, column

#26709 refactor(drawline): simplify draw_statuscol() and remove draw_state r…
  src/nvim/drawline.c
Labels: refactor

#25425 fix(lsp): filetype matching to documentSelector in dynamic capabilities
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/_dynamic.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#26712 refactor(drawline): avoid storing information needed to draw 'statuscolumn'
  src/nvim/drawline.c
  src/nvim/statusline.c
  src/nvim/statusline_defs.h
Labels: refactor

#26702 build(nix): update flake.lock
  contrib/flake.lock
Labels: build, platform:nix

#26716 refactor(IWYU): move evalarg_T to eval_defs.h
  src/clint.py
  src/nvim/decoration.c
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/eval.c
  src/nvim/eval.h
  src/nvim/eval/typval_encode.c.h
  src/nvim/eval/userfunc.h
  src/nvim/eval/vars.c
  src/nvim/eval_defs.h
  src/nvim/ex_session.c
  src/nvim/move.c
  src/nvim/shada.c
  src/nvim/statusline_defs.h
Labels: refactor

#26719 fix(mappings): fix mapset() not replacing map with backslash
  src/nvim/mapping.c
  test/functional/vimscript/map_functions_spec.lua
Labels: mappings, backport release-0.9
