Repository neovim/neovim, pull requests merged in 2023-05, with the labels that each got.

#23400 fix(spell): extmark with spell=false should disable spell
  src/nvim/spell.c
  test/functional/ui/decorations_spec.lua
  test/functional/ui/spell_spec.lua
Labels: spell, backport release-0.9

#23375 perf(lsp): process semantic tokens response in a coroutine that yields every 5ms
  runtime/lua/vim/lsp/semantic_tokens.lua
Labels: performance, lsp, backport release-0.9

#23392 ci: don't install unnecessary dependencies
  .cirrus.yml
  .github/scripts/install_deps.sh
Labels: ci

#23391 build: change dependency URLs to cache variables
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#23416 docs(lsp): remove vim.lsp.sync
  runtime/doc/lsp.txt
  scripts/gen_vimdoc.py
Labels: lsp, backport release-0.9

#23412 vim-patch:9.0.1503: Luau files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#23420 fix(treesitter): foldexpr tweaks
  runtime/lua/vim/treesitter/_fold.lua
  runtime/lua/vim/treesitter/languagetree.lua
Labels: treesitter, backport release-0.9

#23430 Fix bugs with ext_multigrid resized grid
  src/nvim/drawline.c
  src/nvim/move.c
  src/nvim/normal.c
  test/functional/ui/multigrid_spec.lua
Labels: ui, backport release-0.9

#23436 fix(mouse): fix popup_setpos position check with ext_multigrid
  src/nvim/mouse.c
  test/functional/ui/multigrid_spec.lua
Labels: mouse, backport release-0.9

#23403 docs(html): right-align inline tags
  scripts/gen_help_html.lua
Labels: documentation, project-management

#23320 feat(ui): add 'smoothscroll' option
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/optwin.vim
  src/nvim/buffer_defs.h
  src/nvim/cursor.c
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/ex_getln.c
  src/nvim/grid.c
  src/nvim/mouse.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/plines.c
  test/functional/legacy/display_spec.lua
  test/functional/legacy/scroll_opt_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_alot.vim
  test/old/testdir/test_breakindent.vim
  test/old/testdir/test_diffmode.vim
  test/old/testdir/test_display.vim
  test/old/testdir/test_listlbr.vim
  test/old/testdir/test_listlbr_utf8.vim
  test/old/testdir/test_normal.vim
  test/old/testdir/test_number.vim
  test/old/testdir/test_options.vim
  test/old/testdir/test_scroll_opt.vim
  test/old/testdir/test_window_cmd.vim
Labels: ui, vim-patch

#23445 fix(pum): fix missing rightmost column with 'rightleft'
  src/nvim/popupmenu.c
  test/functional/ui/popupmenu_spec.lua
Labels: backport release-0.9

#23448 fix(pum): fix missing scrollbar with 'rightleft'
  src/nvim/popupmenu.c
  test/functional/ui/popupmenu_spec.lua
Labels: backport release-0.9

#23443 perf(treesitter): insert/remove items efficiently
  runtime/lua/vim/treesitter/_fold.lua
Labels: treesitter

#23442 fix(pum): don't position too far with resized parent grid
  src/nvim/popupmenu.c
  test/functional/ui/multigrid_spec.lua
Labels: backport release-0.9

#23422 build: create a text file for specifying dependency information
  cmake.deps/CMakeLists.txt
  cmake.deps/deps.txt
  scripts/bump_deps.lua
Labels: build, dependencies

#23453 vim-patch:9.0.1506: line number not displayed when using 'smoothscroll'
  src/nvim/drawline.c
  test/functional/legacy/display_spec.lua
  test/functional/legacy/scroll_opt_spec.lua
  test/functional/ui/diff_spec.lua
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#23454 vim-patch:9.0.0662: concealed characters do not work correctly
  test/functional/legacy/conceal_spec.lua
  test/old/testdir/test_conceal.vim
Labels: test, vim-patch

#23455 vim-patch:9.0.1028: mouse shape test is flaky, especially on Mac OS
  test/old/testdir/test_normal.vim
Labels: test, vim-patch

#23456 fix(mouse): fix popup menu position check with winbar
  src/nvim/mouse.c
  test/functional/ui/mouse_spec.lua
  test/functional/ui/popupmenu_spec.lua
Labels: mouse, backport release-0.9

#23428 fix(tui): grid_clear properly clears the screen
  src/nvim/tui/tui.c
  test/functional/terminal/api_spec.lua
  test/functional/terminal/tui_spec.lua
Labels: tui

#23464 vim-patch:9.0.{0609,0612}
  test/old/testdir/test_blockedit.vim
Labels: test, vim-patch

#23466 vim-patch:9.0.{0138,0240}: two spell fixes
  runtime/doc/options.txt
  src/nvim/charset.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  test/old/testdir/test_spellfile.vim
Labels: vim-patch, spell

#23467 vim-patch:8.2.{0987,1463}
  src/nvim/eval.c
  src/nvim/eval/typval.c
Labels: vim-patch

#23468 vim-patch:8.2.{1466,3336}
  src/nvim/eval.c
  src/nvim/eval/typval.c
  test/old/testdir/test_listdict.vim
Labels: vim-patch

#23470 vim-patch:8.2.{1461,1462,1466,2344,2607,2756}
  runtime/doc/builtin.txt
  runtime/doc/eval.txt
  runtime/doc/usr_41.txt
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/eval/typval.c
  src/nvim/generators/gen_eval.lua
  src/nvim/strings.c
  test/old/testdir/test_expr_utf8.vim
  test/old/testdir/test_visual.vim
Labels: vim-patch

#23472 vim-patch:9.0.0601: too much indent
  src/nvim/eval/typval.c
Labels: vim-patch

#23476 vim-patch:8.2.1697: inconsistent capitalization of error messages
  src/nvim/eval.c
  src/nvim/eval/userfunc.c
  src/nvim/testing.c
  test/old/testdir/test_assert.vim
Labels: vim-patch

#23479 ci: make all linux releases work with same glibc version
  .github/scripts/build_universal_macos.sh
  .github/workflows/release.yml
  cmake.packaging/CMakeLists.txt
  scripts/genappimage.sh
Labels: build, ci

#23480 vim-patch:8.2.3221: Vim9: argument types are not checked at compile time
  src/nvim/eval/typval.c
  src/nvim/testing.c
  test/old/testdir/test_assert.vim
Labels: vim-patch

#23481 vim-patch:8.2.4397: crash when using many composing characters in error message
  src/nvim/testing.c
  test/old/testdir/test_assert.vim
Labels: vim-patch

#23483 vim-patch:8.2.{3135,4890,4892},9.0.0250: error message improvements
  runtime/doc/options.txt
  src/nvim/arglist.c
  src/nvim/autocmd.c
  src/nvim/bufwrite.c
  src/nvim/cursor_shape.c
  src/nvim/eval.c
  src/nvim/eval/executor.c
  src/nvim/eval/executor.h
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/eval/vars.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/file_search.c
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/highlight_group.c
  src/nvim/mapping.c
  src/nvim/memfile.c
  src/nvim/memline.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/optionstr.c
  src/nvim/regexp.c
  src/nvim/regexp_bt.c
  src/nvim/regexp_nfa.c
  src/nvim/search.c
  src/nvim/spellfile.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/undo.c
  src/nvim/usercmd.c
  test/functional/editor/mode_insert_spec.lua
  test/functional/ex_cmds/highlight_spec.lua
  test/functional/legacy/edit_spec.lua
  test/functional/legacy/eval_spec.lua
  test/functional/legacy/glob2regpat_spec.lua
  test/functional/lua/commands_spec.lua
  test/functional/options/defaults_spec.lua
  test/functional/options/mousescroll_spec.lua
  test/functional/ui/cmdline_highlight_spec.lua
  test/functional/ui/mouse_spec.lua
  test/functional/vimscript/execute_spec.lua
  test/functional/vimscript/input_spec.lua
  test/functional/vimscript/map_functions_spec.lua
  test/functional/vimscript/null_spec.lua
  test/functional/vimscript/writefile_spec.lua
  test/old/testdir/test_expand.vim
  test/old/testdir/test_search.vim
  test/old/testdir/test_vimscript.vim
  test/unit/eval/typval_spec.lua
Labels: vim-patch

#23484 perf(lsp): load buffer contents once when processing semantic tokens responses
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#23475 fix(health): replace healthFoo with DiagnosticFoo
  runtime/doc/pi_health.txt
  runtime/syntax/checkhealth.vim
  test/functional/plugin/health_spec.lua
Labels: runtime, highlight

#23492 fix(api): don't change title when setting buffer in a window
  src/nvim/window.c
  test/functional/ui/screen_basic_spec.lua
Labels: api

#23488 vim-patch:8.2.{2094,2141},9.0.1508
  src/nvim/eval.c
  test/old/testdir/test_trycatch.vim
Labels: vim-patch

#23497 vim-patch:8.2.1746: Vim9: cannot use "fina" for "finally"
  test/old/testdir/test_trycatch.vim
Labels: test, vim-patch

#23498 vim-patch:9.0.0904: various comment and indent flaws
  src/nvim/eval.c
  src/nvim/eval/window.c
  src/nvim/ex_docmd.c
  src/nvim/getchar.c
  src/nvim/message.c
  src/nvim/move.c
  test/old/testdir/test_fileformat.vim
Labels: vim-patch

#23499 vim-patch:8.2.{2249,2610}: mouse click test fails over ssh
  test/old/testdir/test_selectmode.vim
  test/old/testdir/test_termcodes.vim
Labels: test, vim-patch

#23494 build: download dependencies with unreliable mirrors from deps repo
  cmake.deps/deps.txt
Labels: build, dependencies, backport release-0.9

#23415 fix(tui): redraw on SIGWINCH even if size didn't change
  src/nvim/tui/tui.c
  test/functional/terminal/tui_spec.lua
Labels: tui, needs:discussion, backport release-0.9

#23502 build(deps): point dependencies to specific commit
  cmake.deps/deps.txt
Labels: build, dependencies

#23507 vim-patch:9.0.1511: crash when using wrong arg types to assert_match()
  src/nvim/testing.c
  test/old/testdir/test_assert.vim
Labels: vim-patch

#23506 build: point deps urls to deps repo
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#23508 build(snap): remove obsolete snapcraft.yaml
  snap/snapcraft.yaml
Labels: build

#23509 feat(lua): add hl priority opts on yank
  runtime/doc/lua.txt
  runtime/lua/vim/highlight.lua
Labels: highlight

#23490 fix(build): add system lua include dir for lpeg
  cmake.deps/cmake/BuildLpeg.cmake
Labels: build, dependencies

#23510 vim-patch:9.0.{1512,1513}
  src/nvim/drawscreen.c
  src/nvim/move.c
  src/nvim/window.c
  test/functional/legacy/scroll_opt_spec.lua
  test/functional/legacy/window_cmd_spec.lua
  test/old/testdir/test_scroll_opt.vim
  test/old/testdir/test_window_cmd.vim
Labels: vim-patch

#23516 vim-patch:9.0.1514: test waits unnecessarily long before checking screendump
  test/old/testdir/test_scroll_opt.vim
Labels: test, vim-patch

#23517 vim-patch:9.0.1518: search stats not always visible when searching backwards
  src/nvim/option_defs.h
  src/nvim/search.c
  test/functional/legacy/search_stat_spec.lua
  test/old/testdir/test_search_stat.vim
Labels: vim-patch

#23518 vim-patch:9.0.1520: completion for option name includes all bool options
  src/nvim/cmdexpand.c
  src/nvim/ex_cmds_defs.h
  src/nvim/option.c
  test/old/testdir/test_options.vim
Labels: vim-patch

#23418 ci(response): use pagination for timeline events
  .github/scripts/close_unresponsive.js
Labels: ci

#23527 vim-patch:8.2.{1978,2062,3887},9.0.{1516,1521}
  runtime/doc/map.txt
  src/nvim/edit.c
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/ops.c
  test/functional/ex_cmds/cmd_map_spec.lua
  test/old/testdir/test_mapping.vim
  test/old/testdir/test_normal.vim
Labels: vim-patch

#23529 vim-patch:9.0.1523: some error messages are not marked for translation
  src/nvim/globals.h
  src/nvim/menu.c
  src/nvim/popupmenu.c
  src/nvim/runtime.c
Labels: vim-patch

#23531 vim-patch:8.2.2459: Coverity reports dead code
  src/nvim/eval.c
Labels: vim-patch

#23532 vim-patch:8.2.{4073,4075}
  src/nvim/eval/userfunc.c
Labels: vim-patch

#23533 docs: add some missing changes from Vim runtime updates
  runtime/doc/eval.txt
  runtime/doc/map.txt
  runtime/doc/repeat.txt
Labels: documentation

#23486 fix(man.lua): return support of all sections
  runtime/lua/man.lua
  test/functional/plugin/man_spec.lua
Labels: runtime, backport release-0.9

#23538 fix(syntax): use correct diagnostic group for checkhealth
  runtime/syntax/checkhealth.vim
Labels: syntax

#23541 vim-patch:9.0.1526: condition is always true
  src/nvim/optionstr.c
Labels: vim-patch

#23544 vim-patch:9.0.1525: 'smoothscroll' does not always work properly
  src/nvim/move.c
  test/functional/legacy/scroll_opt_spec.lua
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#23547 test(old): remove python2 tests
  scripts/vim-patch.sh
  src/nvim/eval.c
  test/old/testdir/test_python2.vim
  test/old/testdir/test_pyx2.vim
Labels: test

#23550 docs(lsp): fix type of `config.cmd` argument for `vim.lsp.start_client`
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
Labels: documentation, lsp, typo

#23514 build: add luajit runtime files when installing
  cmake.deps/cmake/BuildLuajit.cmake
  src/nvim/CMakeLists.txt
Labels: build, dependencies, backport release-0.9

#23548 fix(lsp): fix relative patterns for `workspace/didChangeWatchedFiles`
  runtime/lua/vim/lsp/_watchfiles.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp, backport release-0.9

#23560 docs(lsp): fix `config.cmd` argument for `vim.lsp.start_client`
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
Labels: lsp

#23566 fix(redo): make redo of Lua mappings in op-pending mode work
  src/nvim/edit.c
  src/nvim/ex_getln.c
  src/nvim/getchar.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/ops.h
  src/nvim/terminal.c
  test/functional/api/keymap_spec.lua
Labels: lua, mappings

#23555 fix(highlight): apply 'winblend' to NormalNC
  src/nvim/highlight.c
  test/functional/ui/float_spec.lua
Labels: highlight, backport release-0.9

#22833 build(deps): bump LibUV to HEAD
  cmake.deps/deps.txt
Labels: build, dependencies

#23574 vim-patch:9.0.1538: :wqall does not trigger ExitPre
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  test/old/testdir/test_exit.vim
Labels: vim-patch

#23578 vim-patch:9.0.1539: typst filetype is not recognized
  runtime/doc/filetype.txt
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/filetype/detect.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#22710 feat(treesitter): add support for setting query depths
  cmake/FindTreesitter.cmake
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/_meta.lua
  runtime/lua/vim/treesitter/query.lua
  src/nvim/lua/treesitter.c
Labels: treesitter

#23577 build: make dependency URL variables non-cached
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#23558 vim-patch:9.0.{1530,1533,1542,1543}
  src/nvim/change.c
  src/nvim/move.c
  test/functional/legacy/display_spec.lua
  test/functional/legacy/normal_spec.lua
  test/functional/legacy/scroll_opt_spec.lua
  test/old/testdir/test_display.vim
  test/old/testdir/test_normal.vim
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#23593 test(scroll_opt): fix typo in porting oldtest
  runtime/doc/api.txt
  test/functional/legacy/display_spec.lua
Labels: test

#23596 build: bump uncrustify to version 0.77
  src/uncrustify.cfg
Labels: build

#23599 vim-patch:9.0.1545: text not scrolled when cursor moved with "g0" and "h"
  src/nvim/edit.c
  src/nvim/normal.c
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#23600 vim-patch:9.0.1546: some commands for opening a file don't use 'switchbuf'
  runtime/doc/options.txt
  src/nvim/window.c
  test/old/testdir/test_gf.vim
Labels: vim-patch

#23601 refactor: remove typval.h from most header files
  src/nvim/api/private/converter.h
  src/nvim/arglist.h
  src/nvim/buffer_defs.h
  src/nvim/channel.h
  src/nvim/charset.h
  src/nvim/cmdexpand.h
  src/nvim/cmdhist.h
  src/nvim/eval/decode.h
  src/nvim/eval/executor.h
  src/nvim/eval/funcs.h
  src/nvim/eval/gc.h
  src/nvim/eval/typval_encode.h
  src/nvim/eval/userfunc.h
  src/nvim/event/process.h
  src/nvim/ex_cmds.h
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_getln.h
  src/nvim/fileio.h
  src/nvim/help.c
  src/nvim/lua/converter.h
  src/nvim/lua/executor.h
  src/nvim/mark_defs.h
  src/nvim/mbyte.h
  src/nvim/ops.h
  src/nvim/option_defs.h
  src/nvim/os/pty_process_win.c
  src/nvim/runtime.h
  src/nvim/search.h
  src/nvim/strings.h
  src/nvim/testing.h
  src/nvim/viml/parser/expressions.h
  src/nvim/window.h
Labels: refactor

#23520 refactor(lsp): mark server_ready function as deprecated
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/buf.lua
Labels: refactor, lsp

#23604 ci(deps): update bump_deps script
  scripts/bump_deps.lua
Labels: ci

#23598 build: cmake cleanup
  CMakeLists.txt
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/BuildLuarocks.cmake
  cmake.deps/cmake/BuildLuv.cmake
  cmake.deps/cmake/BuildMsgpack.cmake
  cmake.deps/cmake/CopyFilesGlob.cmake
  cmake/ConvertPo.cmake
  cmake/FindLibluv.cmake
  cmake/FindLibuv.cmake
  cmake/FindLuajit.cmake
  cmake/FindLuv.cmake
  cmake/InstallHelpers.cmake
  cmake/LuaHelpers.cmake
  cmake/RunTests.cmake
  cmake/Util.cmake
  src/nvim/CMakeLists.txt
Labels: build, dependencies

#23605 fix(treesitter): support subfiletypes in get_lang
  runtime/lua/vim/treesitter/language.lua
Labels: treesitter

#23608 vim-patch:9.0.1549: USD filetype is not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#23612 vim-patch:9.0.{0064,0218,0249,0490,0492,0598}: cmdwin fixes
  src/nvim/edit.c
  src/nvim/ex_getln.c
  src/nvim/normal.c
  src/nvim/window.c
  test/old/testdir/test_cmdwin.vim
Labels: vim-patch

#23616 build(deps): bump tree-sitter to HEAD - 91e4d9401
  cmake.deps/deps.txt
Labels: build, dependencies

#22953 docs: small fixes
  .github/workflows/test.yml
  MAINTAIN.md
  cmake.packaging/CMakeLists.txt
  runtime/doc/api.txt
  runtime/doc/autocmd.txt
  runtime/doc/builtin.txt
  runtime/doc/cmdline.txt
  runtime/doc/editing.txt
  runtime/doc/eval.txt
  runtime/doc/ft_raku.txt
  runtime/doc/helphelp.txt
  runtime/doc/indent.txt
  runtime/doc/insert.txt
  runtime/doc/intro.txt
  runtime/doc/job_control.txt
  runtime/doc/lsp.txt
  runtime/doc/lua-guide.txt
  runtime/doc/lua.txt
  runtime/doc/luvref.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/pi_netrw.txt
  runtime/doc/pi_tar.txt
  runtime/doc/provider.txt
  runtime/doc/quickfix.txt
  runtime/doc/sign.txt
  runtime/doc/spell.txt
  runtime/doc/syntax.txt
  runtime/doc/treesitter.txt
  runtime/doc/ui.txt
  runtime/doc/visual.txt
  runtime/lua/_vim9script.lua
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_inspector.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/shared.lua
  runtime/lua/vim/treesitter/languagetree.lua
  runtime/lua/vim/treesitter/query.lua
  runtime/lua/vim/version.lua
  src/nvim/api/command.c
  src/nvim/main.c
  src/nvim/os/time.c
  src/nvim/viml/parser/expressions.c
Labels: documentation

#23617 vim-patch:9.0.1551: position of marker for 'smoothscroll' not computed correctly
  src/nvim/change.c
  src/nvim/move.c
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#23623 ci: bump uncrustify to 0.77.1
  src/uncrustify.cfg
Labels: ci

#23620 docs(if_pyth): make it work with Python 3 instead Python 2
  runtime/doc/if_pyth.txt
Labels: documentation

#23624 test: skip flaky test on Windows
  test/functional/terminal/buffer_spec.lua
Labels: test

#23628 ci: trigger tests when pushing
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: ci

#23631 vim-patch:9.0.1555: setcharsearch() does not clear last searched char properly
  src/nvim/search.c
  test/old/testdir/test_charsearch.vim
  test/old/testdir/test_charsearch_utf8.vim
Labels: vim-patch, backport release-0.9

#23632 vim-patch:9.0.1554: code for handling 'switchbuf' is repeated
  src/nvim/buffer.c
  src/nvim/tag.c
  src/nvim/window.c
Labels: vim-patch

#23636 build(deps): bump libuv to HEAD - 30fc896cc
  cmake.deps/deps.txt
Labels: build, dependencies

#23259 build: add asan and ubsan default options
  CONTRIBUTING.md
  contrib/asan.sh
  contrib/flake.nix
  src/nvim/CMakeLists.txt
  src/nvim/README.md
  src/nvim/main.c
Labels: build

#23606 fix(treesitter): update parser and queries
  cmake.deps/deps.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/query.lua
  runtime/queries/c/highlights.scm
  runtime/queries/lua/highlights.scm
  runtime/queries/lua/injections.scm
  runtime/queries/vim/highlights.scm
  runtime/queries/vimdoc/highlights.scm
  test/functional/treesitter/parser_spec.lua
Labels: dependencies, treesitter

#23640 ci: remove redundant asan and ubsan options
  .github/workflows/test.yml
Labels: ci

#23644 vim-patch:9.0.1561: display wrong when moving cursor to above the top line
  src/nvim/move.c
  src/nvim/textobject.c
  test/functional/legacy/display_spec.lua
  test/old/testdir/test_display.vim
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#23647 vim-patch:8.2.2858: test fails because of changed error message
  test/old/testdir/test_ex_mode.vim
Labels: test, vim-patch

#23648 refactor: use xstrl{cpy,cat} on IObuff
  src/nvim/buffer.c
  src/nvim/bufwrite.c
  src/nvim/cmdhist.c
  src/nvim/eval/userfunc.c
  src/nvim/ex_docmd.c
  src/nvim/fileio.c
  src/nvim/option.c
  src/nvim/os/stdpaths.c
  src/nvim/runtime.c
  src/nvim/tag.c
  src/nvim/testing.c
  src/nvim/undo.c
Labels: refactor

#23655 fix(treesitter): correctly calculate bytes for text sources
  runtime/lua/vim/treesitter/_range.lua
  test/functional/treesitter/parser_spec.lua
Labels: treesitter

#23638 feat(treesitter): improved logging
  runtime/lua/vim/fs.lua
  runtime/lua/vim/treesitter/_meta.lua
  runtime/lua/vim/treesitter/languagetree.lua
  src/nvim/lua/treesitter.c
Labels: treesitter

#15534 refactor(map): avoid duplicated khash_t implementations for values and support sets
  cmake.config/iwyu/mapping.imp
  src/clint.py
  src/klib/khash.h
  src/nvim/api/extmark.c
  src/nvim/api/extmark.h
  src/nvim/api/private/helpers.h
  src/nvim/api/ui.c
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/channel.c
  src/nvim/channel.h
  src/nvim/eval.c
  src/nvim/extmark.c
  src/nvim/highlight.c
  src/nvim/highlight_group.c
  src/nvim/lua/executor.c
  src/nvim/lua/executor.h
  src/nvim/lua/treesitter.c
  src/nvim/map.c
  src/nvim/map.h
  src/nvim/map_defs.h
  src/nvim/marktree.c
  src/nvim/marktree.h
  src/nvim/memory.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/msgpack_rpc/channel_defs.h
  src/nvim/runtime.c
  src/nvim/shada.c
  src/nvim/terminal.c
  src/nvim/tui/input.c
  src/nvim/ui.c
  src/nvim/window.c
Labels: refactor

#23584 fix(messages): ensure msg_grid is at top at more prompt
  src/nvim/message.c
  test/functional/terminal/tui_spec.lua
Labels: ui, backport release-0.9

#23672 fix(treesitter): allow foldexpr without highlights
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/_fold.lua
Labels: treesitter, backport release-0.9

#23642 build: bundle uncrustify
  .github/workflows/test.yml
  CMakeLists.txt
  cmake.deps/CMakeLists.txt
  cmake/CheckUncrustifyVersion.cmake
  cmake/Deps.cmake
  src/nvim/CMakeLists.txt
  test/functional/lua/fs_spec.lua
Labels: build, ci, dependencies

#23669 build: don't format deleted files
  cmake/Format.cmake
Labels: build

#23585 fix(tui): make disabling title restore old title from stack
  src/nvim/tui/tui.c
Labels: tui, backport release-0.9

#23677 vim-patch:9.0.1565: json lines files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#23684 build(deps): bump libuv to v1.45.0
  cmake.deps/deps.txt
Labels: build, dependencies

#23686 vim-patch:9.0.{1564,1568}
  src/nvim/move.c
  test/functional/legacy/scroll_opt_spec.lua
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#23688 vim-patch:partial:9.0.1570: some tests are slow
  test/old/testdir/test_cmdline.vim
  test/old/testdir/test_filetype.vim
Labels: test, vim-patch

#23689 fix(lsp): don't register didChangeWatchedFiles when capability not set
  runtime/lua/vim/lsp/_watchfiles.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#23673 [Backport release-0.9] fix(treesitter): allow foldexpr without highlights
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/_fold.lua
Labels: treesitter, folds

#23697 build(deps): bump luv to HEAD - c1497c0
  cmake.deps/deps.txt
  runtime/doc/luvref.txt
Labels: build, dependencies

#23696 fix(redraw): multibyte characters are wrapped at the end of a line
  src/nvim/drawline.c
  test/functional/ui/statuscolumn_spec.lua
Labels: display, backport release-0.9

#23699 fix(treesitter): update highlights for query
  runtime/queries/query/highlights.scm
Labels: treesitter

#23704 build: move luarocks and rocks installation to main build
  CMakeLists.txt
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/BuildLua.cmake
  cmake.deps/cmake/BuildLuajit.cmake
  cmake.deps/deps.txt
  cmake/BuildLuarocks.cmake
  cmake/Deps.cmake
  cmake/RunTests.cmake
  test/CMakeLists.txt
  test/busted_runner.lua
Labels: build, dependencies

#23682 refactor(vim.secure): move to lua/secure.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/lua/executor.c
  src/nvim/lua/secure.c
  src/nvim/lua/secure.h
  src/nvim/main.c
Labels: refactor

#23615 ci: enable colors by default when testing
  test/README.md
  test/busted/outputHandlers/nvim.lua
Labels: test, ci

#23702 fix(api): nvim_get_hl should return default flag
  src/nvim/highlight_group.c
  test/functional/api/highlight_spec.lua
Labels: api, backport release-0.9

#23713 fix(highlight): remove unnecessary assignment to char_attr for 'spell'
  src/nvim/drawline.c
  test/functional/ui/spell_spec.lua
Labels: highlight, backport release-0.9

#23708 fix(redraw): overwrite double-width char with virt_text properly
  src/nvim/drawline.c
  src/nvim/grid.c
  test/functional/ui/decorations_spec.lua
Labels: display, extmarks, unicode 💩, backport release-0.9

#20130 feat(ui): inline virtual text
  runtime/doc/api.txt
  runtime/doc/news.txt
  src/nvim/api/extmark.c
  src/nvim/buffer_defs.h
  src/nvim/charset.c
  src/nvim/decoration.c
  src/nvim/decoration.h
  src/nvim/drawline.c
  src/nvim/edit.c
  src/nvim/extmark.c
  src/nvim/mbyte.c
  src/nvim/plines.c
  src/nvim/plines.h
  test/functional/ui/decorations_spec.lua
Labels: ui

#23727 fix(colorscheme): try .lua files in 'rtp' before .vim files in 'pp'
  src/nvim/highlight_group.c
  test/functional/lua/runtime_spec.lua
Labels: lua

#23730 refactor(api): new helper macros
  src/nvim/api/autocmd.c
  src/nvim/api/buffer.c
  src/nvim/api/command.c
  src/nvim/api/extmark.c
  src/nvim/api/options.c
  src/nvim/api/private/helpers.c
  src/nvim/api/private/helpers.h
  src/nvim/api/ui.c
  src/nvim/api/vim.c
  src/nvim/api/vimscript.c
  src/nvim/api/win_config.c
  src/nvim/channel.c
  src/nvim/cursor_shape.c
  src/nvim/eval.c
  src/nvim/ex_getln.c
  src/nvim/highlight.c
  src/nvim/highlight_group.c
  src/nvim/mapping.c
  src/nvim/message.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/os/process.c
  src/nvim/popupmenu.c
  src/nvim/runtime.c
  src/nvim/shada.c
  src/nvim/statusline.c
  src/nvim/tui/input.c
  src/nvim/tui/tui.c
  src/nvim/ui.c
  src/nvim/ui_client.c
  src/nvim/usercmd.c
Labels: api, refactor

#23731 refactor: fix clang/PVS warnings
  src/nvim/ex_docmd.c
  src/nvim/fileio.c
  src/nvim/generators/gen_ex_cmds.lua
  src/nvim/lua/executor.c
  src/nvim/lua/secure.c
Labels: refactor

#23707 fix(deps): restore functionality of USE_EXISTING_SRC_DIR
  .github/workflows/build.yml
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#23626 ci: remove api-docs-check workflow
  .github/workflows/api-docs-check.yml
  .github/workflows/api-docs.yml
Labels: ci

#23737 vim-patch:9.0.1575: "file N of M" message is not translated
  src/nvim/buffer.c
Labels: vim-patch

#21124 feat(term): enable reflow by default
  cmake.deps/deps.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  src/nvim/terminal.c
  test/functional/terminal/window_spec.lua
Labels: terminal

#23741 fix(folds): show Folded highlight in Visual selection
  src/nvim/drawline.c
  test/functional/ui/fold_spec.lua
  test/functional/ui/statuscolumn_spec.lua
Labels: folds

#23732 build: remove functionaltest-lua target
  .github/workflows/test.yml
  Makefile
  test/CMakeLists.txt
Labels: build, ci

#23744 vim-patch:9.0.{0175,0590,0608,0664}
  src/nvim/change.c
  src/nvim/drawline.c
  src/nvim/edit.c
  src/nvim/spell.c
  src/nvim/undo.c
  test/functional/ui/spell_spec.lua
  test/old/testdir/test_spell.vim
Labels: vim-patch, spell

#23752 fix(folds): combined Folded and Visual highlights
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
  test/functional/ui/fold_spec.lua
  test/functional/ui/statuscolumn_spec.lua
Labels: folds

#23755 vim-patch:9.0.1578: SpellCap highlight not always updated when needed
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/spell.c
  src/nvim/spellsuggest.c
  test/functional/ui/spell_spec.lua
  test/old/testdir/test_spell.vim
Labels: vim-patch, spell

#23757 fix(extmarks): fix virt_text_hide with 'nowrap' and multibyte
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#23760 fix(mkspell): prevent Unicode character overflow
  src/nvim/spellfile.c
Labels: spell, backport release-0.9

#23523 fix(windows): set stdout to binary mode for "--api-info"
  src/nvim/main.c
Labels: platform:windows, io

#23583 fix(ui-ext): send title to newly-attached UI
  src/nvim/buffer.c
  src/nvim/ex_docmd.c
  src/nvim/ui.c
  test/functional/ui/screen_basic_spec.lua
Labels: ui, ui-ext, backport release-0.9

#23770 build(vim-patch.sh): use bundled uncrustify
  scripts/vim-patch.sh
Labels: build

#23767 backport treesitter parser and queries
  cmake.deps/CMakeLists.txt
  runtime/queries/c/highlights.scm
  runtime/queries/lua/highlights.scm
  runtime/queries/lua/injections.scm
  runtime/queries/query/highlights.scm
  runtime/queries/vim/highlights.scm
  runtime/queries/vimdoc/highlights.scm
Labels: runtime, treesitter

#23772 fix: function was renamed
  runtime/lua/vim/treesitter/languagetree.lua
Labels: treesitter

#23776 fix(tui): restore title before exiting alternate screen
  src/nvim/tui/tui.c
Labels: tui, backport release-0.9

#23774 ci: remove reviewdog for uncrustify
  .github/workflows/test.yml
Labels: ci

#23759 fix(extmarks): make right_align and win_col work on wrapped line
  src/nvim/decoration.c
  src/nvim/decoration.h
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#23785 vim-patch:9.0.1582: :stopinsert may not work in a popup close handler
  src/nvim/autocmd.c
  test/old/testdir/test_quickfix.vim
Labels: vim-patch, backport release-0.9

#23790 vim-patch:9.0.1583: get E304 when using 'cryptmethod' "xchacha20v2"
  src/nvim/buffer.c
  src/nvim/fileio.c
  src/nvim/memfile.c
  src/nvim/memfile_defs.h
  src/nvim/memline.c
Labels: vim-patch

#23791 test(extmarks): add test for virt_text_hide with 'smoothscroll'
  runtime/doc/api.txt
  src/nvim/api/extmark.c
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: test, extmarks
