Repository neovim/neovim, pull requests merged in 2023-10, with the labels that each got.

#25454 vim-patch:9.0.1967: xattr errors not translated
  src/nvim/os/fs.c
  test/old/testdir/test_writefile.vim
Labels: vim-patch

#25455 feat(ui): allow to get the highlight namespace (rebase of #24390)
  runtime/doc/api.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/api_keysets.lua
  src/nvim/api/keysets.h
  src/nvim/api/vim.c
  test/functional/api/highlight_spec.lua
Labels: ui

#25456 vim-patch:9.0.{1958,1960,1961,1968}: string option completion
  runtime/doc/cmdline.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/autocmd.c
  src/nvim/cmdexpand.c
  src/nvim/cmdexpand.h
  src/nvim/diff.c
  src/nvim/ex_getln.c
  src/nvim/generators/gen_options.lua
  src/nvim/highlight_group.c
  src/nvim/indent.c
  src/nvim/mbyte.c
  src/nvim/option.c
  src/nvim/option.h
  src/nvim/option_defs.h
  src/nvim/option_vars.h
  src/nvim/options.lua
  src/nvim/optionstr.c
  src/nvim/optionstr.h
  src/nvim/spellsuggest.c
  src/nvim/vim.h
  test/functional/editor/completion_spec.lua
  test/old/testdir/test_history.vim
  test/old/testdir/test_options.vim
Labels: vim-patch

#25458 refactor(option.c): change :set boolean prefix to an enum
  src/nvim/option.c
Labels: refactor

#25391 feat(treesitter): add foldtext with treesitter highlighting
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/_fold.lua
  test/functional/treesitter/fold_spec.lua
Labels: treesitter

#25464 feat(lsp): fallback to code-action command on resolve failure
  runtime/lua/vim/lsp/buf.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#25475 vim-patch:ba77bbb5c775,20f48d5b2ddb,cd39b69b0200
  runtime/doc/builtin.txt
  runtime/doc/cmdline.txt
  runtime/doc/filetype.txt
  runtime/doc/options.txt
  runtime/doc/pattern.txt
  runtime/lua/vim/_meta/options.lua
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/options.lua
Labels: vim-patch

#25476 vim-patch:9.0.1972: win32: missing '**' expansion test
  runtime/doc/editing.txt
  test/old/testdir/test_functions.vim
Labels: vim-patch

#25477 vim-patch:9.0.1973: Clean up cmdline option completion code
  src/nvim/move.c
  src/nvim/option.c
  test/old/testdir/test_options.vim
Labels: vim-patch

#25478 vim-patch:9.0.1975: xattr: permission-denied errors on write
  src/nvim/os/fs.c
Labels: vim-patch

#25480 fix(terminal): check terminal size at end of screen update
  src/nvim/drawscreen.c
  test/functional/terminal/window_spec.lua
Labels: terminal, backport release-0.9

#25481 fix(clipboard): don't pass --foreground to wl-copy
  runtime/autoload/provider/clipboard.vim
Labels: clipboard, backport release-0.9

#25483 test(fileio_spec): fix files not cleaned up properly
  test/functional/core/fileio_spec.lua
Labels: test

#25484 fix(treesitter): make Visual hl work consistently with foldtext
  runtime/lua/vim/treesitter/_fold.lua
  test/functional/treesitter/fold_spec.lua
Labels: treesitter

#25485 vim-patch:2dfc22908e43
  runtime/doc/editing.txt
Labels: documentation, vim-patch

#25492 fix(api): avoid immediate TextChanged with nvim_create_buf
  src/nvim/api/vim.c
  test/functional/api/vim_spec.lua
Labels: api, events

#25470 refactor(message): simplify msg_puts_display and use batched grid updates
  src/nvim/eval.c
  src/nvim/ex_getln.c
  src/nvim/grid.c
  src/nvim/message.c
  test/functional/core/fileio_spec.lua
  test/functional/legacy/digraph_spec.lua
  test/functional/legacy/edit_spec.lua
  test/functional/ui/cmdline_highlight_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/ui/screen_basic_spec.lua
Labels: refactor, messages

#25417 refactor: the long goodbye
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/bufwrite.c
  src/nvim/change.c
  src/nvim/cursor_shape.c
  src/nvim/cursor_shape.h
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/userfunc.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/generators/gen_ex_cmds.lua
  src/nvim/getchar.c
  src/nvim/globals.h
  src/nvim/indent.c
  src/nvim/mbyte.c
  src/nvim/memline.c
  src/nvim/menu.c
  src/nvim/menu_defs.h
  src/nvim/message.c
  src/nvim/normal.c
  src/nvim/normal.h
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/spellfile.c
  src/nvim/syntax.c
  src/nvim/textformat.c
  src/nvim/undo.c
  src/nvim/undo_defs.h
Labels: refactor

#25424 fix(path): accept special characters on Windows
  src/nvim/path.c
  test/functional/core/path_spec.lua
Labels: platform:windows

#25336 feat: ignore swapfile for running Nvim processes
  runtime/doc/autocmd.txt
  runtime/doc/builtin.txt
  runtime/doc/editing.txt
  runtime/doc/eval.txt
  runtime/doc/news.txt
  runtime/doc/recover.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/eval/userfunc.c
  src/nvim/memline.c
  src/nvim/message.c
  test/functional/ex_cmds/swapfile_preserve_recover_spec.lua
Labels: defaults

#25491 fix(highlight): attr set all when normal attr changed
  src/nvim/highlight_group.c
  test/functional/ui/highlight_spec.lua
Labels: api

#25506 vim-patch:9.0.1981: not being able to scroll up in diff mode
  src/nvim/move.c
  test/old/testdir/test_diffmode.vim
Labels: vim-patch

#25507 vim-patch:9.0.1983: scrolling inactive window not possible with cursorbind
  src/nvim/move.c
  test/old/testdir/setup.vim
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#25508 vim-patch:4dbb2669e9ed
  runtime/autoload/netrw.vim
Labels: vim-patch

#25520 vim-patch: netrw updates
  runtime/autoload/netrw.vim
Labels: runtime, vim-patch, netrw

#25513 refactor(grid): get rid of unbatched grid_puts and grid_putchar
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/edit.c
  src/nvim/eval/funcs.c
  src/nvim/grid.c
  src/nvim/message.c
  src/nvim/statusline.c
  src/nvim/ui_compositor.c
  src/nvim/version.c
  test/functional/ui/messages_spec.lua
Labels: refactor

#25236 fix: gf fails on foo/bar.txt:line:column filepath (Windows)
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/options.lua
  src/nvim/window.c
  test/functional/core/path_spec.lua
  test/old/testdir/setup.vim
Labels: platform:windows

#25467 fix(lua): vim.region on linewise selection
  runtime/lua/vim/_editor.lua
  test/functional/lua/vim_spec.lua
Labels: lua

#25530 vim-patch:9.0.1995: Invalid memory access with empty 'foldexpr'
  src/nvim/eval.c
  test/old/testdir/test_fold.vim
Labels: vim-patch

#25527 vim-patch:2a281ccca017
  runtime/ftplugin/sh.vim
Labels: vim-patch

#25529 vim-patch:9.0.1990,27e12c7669e3
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/strings.c
Labels: vim-patch

#25531 vim-patch:9.0.1997: Some unused code in move.c and string.c
  src/nvim/move.c
  src/nvim/strings.c
Labels: vim-patch

#25522 fix(ui): trigger TabNewEntered after split new tab
  src/nvim/window.c
  test/functional/autocmd/tabnewentered_spec.lua
Labels: ui

#25534 ci: fix mac release
  .github/scripts/build_universal_macos.sh
Labels: ci

#25533 docs: use `abort()` for unreachable `default:` case in C
  runtime/doc/dev_style.txt
Labels: documentation

#25536 build(PVS): exclude build directory
  scripts/pvscheck.sh
Labels: build

#25539 fix(lsp): account for border height in max floating popup height
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp/utils_spec.lua
Labels: lsp

#25542 vim-patch:1e33cd72b60a
  runtime/ftplugin/gpg.vim
  runtime/ftplugin/modconf.vim
  runtime/ftplugin/muttrc.vim
  runtime/ftplugin/readline.vim
  runtime/ftplugin/sshconfig.vim
  runtime/ftplugin/sudoers.vim
  runtime/ftplugin/systemd.vim
  runtime/ftplugin/udevrules.vim
  runtime/ftplugin/zsh.vim
Labels: vim-patch

#25503 refactor(grid): do arabic shaping in one place
  src/nvim/arabic.c
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/ex_getln.c
  src/nvim/grid.c
  src/nvim/memory.c
  test/functional/terminal/tui_spec.lua
  test/functional/ui/fold_spec.lua
  test/functional/ui/multibyte_spec.lua
Labels: refactor

#25551 build(deps): bump luajit to HEAD - 656ecbcf8
  cmake.deps/deps.txt
Labels: build, dependencies

#25555 test(ui/embed_spec): use notification instead of request
  test/functional/ui/embed_spec.lua
  test/functional/ui/screen.lua
Labels: test

#25523 fix(autocmd): api functions accepting garbage after event name
  src/nvim/api/autocmd.c
  src/nvim/autocmd.c
  test/functional/api/autocmd_spec.lua
Labels: api, events

#25557 build(deps): bump libmpack-lua to 1.0.11
  src/mpack/lmpack.c
Labels: build, backport release-0.9

#25560 [backport release-0.9] backport #25464
  runtime/lua/vim/lsp/buf.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#25525 ci: enable clang-analyzer warnings
  .github/workflows/test.yml
  Makefile
  src/nvim/CMakeLists.txt
  src/nvim/eval.c
Labels: build

#25563 ci: various cleanups
  .github/actions/cache/action.yml
  .github/scripts/reviews.js
  .github/workflows/test.yml
Labels: ci

#25549 ci: use clang 17 as the default clang version is too old
  .github/scripts/install_deps.sh
  .github/workflows/test.yml
Labels: ci

#25567 vim-patch:9.0.2008: test: undofile left behind
  test/old/testdir/test_undo.vim
Labels: test, vim-patch

#25568 docs: fix misplaced mention of 'backupdir'
  runtime/doc/news.txt
  runtime/doc/vim_diff.txt
Labels: documentation

#25569 vim-patch:9.0.2009: cmdline-completion for comma-separated options wrong
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/cmdexpand.c
  src/nvim/cmdexpand_defs.h
  src/nvim/option.c
  src/nvim/options.lua
  test/old/testdir/test_cmdline.vim
  test/old/testdir/test_options.vim
Labels: vim-patch

#25577 fix(highlight): add `FloatFooter` to 'highlight_defs.h'
  src/nvim/highlight_defs.h
  test/functional/ui/cursor_spec.lua
Labels: highlight

#25543 refactor: allow not having a `default` case for enum
  runtime/doc/dev_style.txt
  src/nvim/CMakeLists.txt
  src/nvim/api/autocmd.c
  src/nvim/api/options.c
  src/nvim/api/private/converter.c
  src/nvim/api/private/helpers.c
  src/nvim/api/win_config.c
  src/nvim/channel.c
  src/nvim/drawscreen.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/event/process.c
  src/nvim/macros.h
  src/nvim/msgpack_rpc/unpacker.c
  src/nvim/option.c
  src/nvim/tui/tui.c
Labels: refactor, tui

#25561 feat(float): add fclose command
  runtime/doc/index.txt
  runtime/doc/news.txt
  runtime/doc/windows.txt
  src/nvim/ex_cmds.lua
  src/nvim/ex_docmd.c
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: float

#25578 docs(style): add guideline for fixing compiler error on switch statement
  runtime/doc/dev_style.txt
Labels: documentation

#25593 test(core/path_spec): don't use fnameescape()
  test/functional/core/path_spec.lua
Labels: test

#25596 refactor(float): rename ex_floatclose to ex_fclose
  runtime/doc/windows.txt
  src/nvim/ex_cmds.lua
  src/nvim/ex_docmd.c
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: refactor, float

#25594 docs: clarify about error in shada
  runtime/doc/starting.txt
Labels: documentation

#25409 fix(lsp): display initialization errors
  runtime/lua/vim/lsp.lua
Labels: lsp

#25601 vim-patch:9.0.2011: INI files not detected
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#25604 vim-patch:9.0.2017: linebreak applies for leading whitespace
  src/nvim/plines.c
  test/old/testdir/test_listlbr.vim
Labels: vim-patch

#25605 vim-patch:8.2.3064: Vim9: in script cannot set item in uninitialized list
  src/nvim/eval.c
  src/nvim/eval/typval.c
  test/functional/vimscript/null_spec.lua
Labels: vim-patch

#25607 vim-patch:9.0.2018: complete_info() returns wrong index
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#25612 fix(lsp): handle NUL bytes in popup text
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp, backport release-0.9

#25614 refactor(test): cleanup
  test/functional/core/path_spec.lua
Labels: refactor, test

#25380 fix: allow multiline message for echoerr
  src/nvim/eval.c
  test/functional/ui/messages_spec.lua
Labels: vimscript, messages

#25629 vim-patch:8.1.0822: peeking and flushing output slows down execution
  src/nvim/drawline.c
  src/nvim/getchar.c
  src/nvim/grid.c
  test/functional/lua/ui_event_spec.lua
  test/functional/ui/decorations_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/ui/fold_spec.lua
  test/functional/ui/inccommand_spec.lua
  test/functional/ui/options_spec.lua
  test/functional/ui/searchhl_spec.lua
Labels: vim-patch

#25631 test(ui/searchhl_spec): match more in :terminal test
  test/functional/ui/searchhl_spec.lua
Labels: test

#25630 fix(ui): empty line before the next message after :silent command
  src/nvim/api/vim.c
  src/nvim/ex_cmds.c
  src/nvim/lua/executor.c
  test/functional/ui/messages_spec.lua
Labels: ui, backport release-0.9, messages

#25611 fix(lsp): refactor escaping snippet text
  runtime/lua/vim/lsp/_snippet_grammar.lua
  test/functional/plugin/lsp/snippet_spec.lua
Labels: lsp

#25156 refactor(lsp): make is_pull in lsp.diagnostic.get_namespace optional; fix warnings
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/diagnostic.lua
Labels: refactor, lsp

#25150 refactor(lsp): fix luals warnings in tagfunc and add type annotations
  runtime/lua/vim/lsp/tagfunc.lua
Labels: refactor, lsp

#25634 vim-patch:9.0.2021: Coverity complains about change in charset
  src/nvim/plines.c
Labels: vim-patch

#25636 vim-patch:9.0.2022: getmousepos() returns wrong index for TAB char
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/mouse.c
  src/nvim/move.c
  test/old/testdir/test_cursor_func.vim
  test/old/testdir/test_functions.vim
Labels: mouse, vim-patch

#25637 vim-patch:2bbd0d30eebd
  runtime/doc/cmdline.txt
  runtime/doc/index.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#25639 test(winscrolled): make sure floating window is drawn
  test/functional/autocmd/win_scrolled_resized_spec.lua
Labels: test

#25641 vim-patch:9.0.2024: no filetype detection for Debian sources
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#25640 vim-patch:7687238e1b0d
  runtime/ftplugin/csh.vim
  runtime/ftplugin/tcsh.vim
Labels: vim-patch

#25635 [Backport release-0.9] fix(treesitter): foldexpr tweaks
  runtime/lua/vim/treesitter/_fold.lua
  runtime/lua/vim/treesitter/languagetree.lua
Labels: treesitter

#25649 test(terminal/channel_spec): fix flakiness
  test/functional/terminal/channel_spec.lua
Labels: test, backport release-0.9

#25655 vim-patch:9.0.2030: no max callback recursion limit
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/eval.c
  src/nvim/options.lua
Labels: vim-patch

#25656 vim-patch:9.0.2031: TextChangedI may be triggered by non-insert mode change
  src/nvim/edit.c
  test/functional/autocmd/textchanged_spec.lua
  test/old/testdir/test_autocmd.vim
Labels: vim-patch

#25653 vim-patch:9.0.2032: cannot get mouse click pos for tab or virt text
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/mouse.c
  src/nvim/move.c
  test/functional/ui/fold_spec.lua
  test/functional/ui/mouse_spec.lua
  test/old/testdir/test_functions.vim
Labels: mouse, vim-patch

#25657 vim-patch:9.0.2025: no cmdline completion for ++opt args
  runtime/doc/cmdline.txt
  src/nvim/cmdexpand.c
  src/nvim/cmdexpand_defs.h
  src/nvim/ex_docmd.c
  src/nvim/optionstr.c
  test/old/testdir/test_cmdline.vim
Labels: vim-patch

#25658 fix(extmarks): skip virt_text if it is out of window
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#25660 fix(deps): bump libmpack from luarocks
  cmake.deps/cmake/BuildLuarocks.cmake
Labels: build, dependencies

#25602 refactor(lang): reduce scope of HAVE_WORKING_LIBINTL #ifdefs
  src/nvim/cmdexpand.c
  src/nvim/ex_docmd.c
  src/nvim/gettext.h
  src/nvim/os/lang.c
Labels: refactor

#25665 vim-patch:dbf749bd5aae
  runtime/autoload/netrw.vim
  runtime/autoload/phpcomplete.vim
  runtime/autoload/rustfmt.vim
  runtime/colors/README.txt
  runtime/indent/cdl.vim
  runtime/indent/erlang.vim
  runtime/indent/julia.vim
  runtime/indent/krl.vim
  runtime/indent/rapid.vim
  runtime/indent/systemverilog.vim
  runtime/keymap/greek_utf-8.vim
  runtime/makemenu.vim
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  runtime/synmenu.vim
  runtime/syntax/abap.vim
  runtime/syntax/asm68k.vim
  runtime/syntax/debcontrol.vim
  runtime/syntax/nix.vim
  runtime/syntax/ora.vim
  runtime/syntax/po.vim
  runtime/syntax/ppd.vim
  runtime/syntax/spup.vim
  runtime/syntax/tsscl.vim
  runtime/syntax/zsh.vim
  src/nvim/option.c
  src/nvim/os/fs.c
Labels: vim-patch

#25666 vim-patch:9.0.2033: gcc overflow-warning for f_resolve
  src/nvim/eval/funcs.c
Labels: vim-patch

#25648 fix(lsp): do not hardcode version in spec links
  runtime/doc/lsp.txt
  runtime/doc/news-0.9.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/_snippet_grammar.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/sync.lua
  runtime/lua/vim/lsp/util.lua
  scripts/gen_lsp.lua
Labels: lsp

#25663 fix(lsp): highlight active parameter in signature help
  runtime/lua/vim/lsp/handlers.lua
Labels: lsp

#25646 fix(runtime) - use bufhidden unload for Man
  runtime/lua/man.lua
Labels: runtime

#25590 build: adjust how find order is prioritized
  CMakeLists.txt
  cmake.deps/cmake/BuildLuajit.cmake
  cmake.deps/cmake/RemoveFiles.cmake
  cmake/Find.cmake
  cmake/FindIconv.cmake
  cmake/FindLibtermkey.cmake
  cmake/FindLibuv.cmake
  cmake/FindLibvterm.cmake
  cmake/FindLpeg.cmake
  cmake/FindLuajit.cmake
  cmake/FindLuv.cmake
  cmake/FindMsgpack.cmake
  cmake/FindTreesitter.cmake
  cmake/FindUnibilium.cmake
Labels: ci

#25394 refactor(options)!: unify interfaces for setting options
  runtime/doc/news.txt
  runtime/doc/vim_diff.txt
  src/nvim/api/options.c
  src/nvim/arglist.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/vars.c
  src/nvim/eval/vars.h
  src/nvim/ex_eval.c
  src/nvim/globals.h
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/optionstr.c
  src/nvim/quickfix.c
  src/nvim/syntax.c
  src/nvim/types.h
  test/functional/legacy/autocmd_option_spec.lua
Labels: refactor, breaking-change, options

#25628 fix(diagnostics): if buffer not loaded, skip handlers that set extmark
  runtime/lua/vim/diagnostic.lua
Labels: diagnostic

#25682 vim-patch:9.0.2039: completion shows current word after completion restart
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#25686 vim-patch:9.0.2037: A few remaining cmdline completion issues with C-E/Y
  src/nvim/cmdexpand.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  test/functional/fixtures/wildpum/Xnamedir/XdirA/XdirB/XfileC
  test/functional/fixtures/wildpum/Xnamedir/XdirA/XfileB
  test/functional/fixtures/wildpum/Xnamedir/XfileA
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_cmdline.vim
  test/old/testdir/test_options.vim
Labels: vim-patch

#25679 fix(treesitter): check that buf is loaded in autocommands
  runtime/lua/vim/treesitter/dev.lua
Labels: treesitter

#25692 vim-patch:9.0.2041: trim(): hard to use default mask
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/strings.c
  test/old/testdir/test_functions.vim
Labels: vim-patch

#25693 vim-patch:8.2.4497: wrong color for half of wide character next to pum scrollbar
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_ins_complete.vim
Labels: test, vim-patch

#25694 test(autocmd/termxx_spec): fix flakiness
  test/functional/autocmd/termxx_spec.lua
Labels: test, backport release-0.9

#25698 fix(move): check the correct buffer
  src/nvim/move.c
  test/functional/ui/inccommand_spec.lua
Labels: backport release-0.9

#25689 vim-patch:5a33ce2a661f
  runtime/syntax/json5.vim
Labels: vim-patch

#25688 build: add sub-targets to the doc target
  src/nvim/CMakeLists.txt
Labels: build

#25703 vim-patch:9.0.{2044,2045}
  src/nvim/eval/userfunc.c
  test/old/testdir/runtest.vim
  test/old/testdir/test_user_func.vim
Labels: vim-patch

#25707 build(deps): include Find module
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#25715 vim-patch:9.0.2050: Vim9: crash with deferred function call and exception
  src/nvim/eval/userfunc.c
  src/nvim/ex_eval.c
  src/nvim/ex_eval_defs.h
  test/old/testdir/test_user_func.vim
Labels: vim-patch

#25710 fix(treesitter): set cursor position when opening inspector
  runtime/lua/vim/treesitter/dev.lua
Labels: treesitter

#25717 vim-patch:e08bfef88bd0, vim-patch:9.0.2053
  runtime/ftplugin/zig.vim
  runtime/lua/vim/filetype.lua
  runtime/syntax/zig.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#25720 vim-patch:d5dc58aeed1b
  runtime/ftplugin/json5.vim
Labels: vim-patch

#25725 vim-patch:9.0.2056: no digraph for quadruple prime
  runtime/doc/digraph.txt
  src/nvim/digraph.c
  test/old/testdir/test_digraph.vim
Labels: vim-patch

#25716 refactor(options): `get_option_value_strict()` and `SREQ_*`
  src/nvim/api/deprecated.c
  src/nvim/api/options.c
  src/nvim/option.c
  src/nvim/option.h
  test/functional/api/vim_spec.lua
Labels: refactor, options

#25728 fix(event-loop): flush UI when no input is available
  src/nvim/state.c
Labels: event-loop

#25498 ci(cirrus): don't run lua/help_spec
  test/functional/lua/help_spec.lua
Labels: ci

#25705 Change log level to DEBUG instead of WARN when unknown tag is found in diagnostic
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp

#25301 feat(lsp): snippet API
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_meta.lua
  runtime/lua/vim/lsp/_snippet_grammar.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/snippet.lua
  scripts/gen_vimdoc.py
  src/nvim/highlight_group.c
  test/functional/lua/snippet_spec.lua
Labels: lsp

#25734 vim-patch:d3e277f279ed
  runtime/doc/pattern.txt
  runtime/plugin/matchparen.vim
Labels: vim-patch

#25735 vim-patch:9.0.2058: tests: avoid error when no swap files exist
  test/old/testdir/runtest.vim
Labels: test, vim-patch

#25736 vim-patch:9.0.2059: outstanding exceptions may be skipped
  runtime/doc/userfunc.txt
  src/nvim/ex_eval.c
  src/nvim/ex_eval_defs.h
  test/old/testdir/test_user_func.vim
Labels: vim-patch

#25738 build(deps): bump luajit to HEAD - e826d0c10
  cmake.deps/deps.txt
Labels: build, dependencies

#25624 feat(complete): support f flag for complete buffer part
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/insexpand.c
  src/nvim/options.lua
  src/nvim/optionstr.c
  test/functional/editor/completion_spec.lua
Labels: completion

#25741 fix(options): `'modified'` showing incorrect value for scratch buffers
  src/nvim/option.c
Labels: options

#25730 ci: install perl provider on mac
  .github/workflows/test.yml
Labels: ci, backport release-0.9

#25729 ci: run tests in parallel
  .github/actions/cache/action.yml
  .github/workflows/test.yml
Labels: ci

#25739 fix(lsp): fix off-by-one error for omnifunc word boundary
  runtime/lua/vim/lsp/_completion.lua
  test/functional/plugin/lsp/completion_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: refactor, lsp

#25751 fix(lsp): handle snippet deletion and indentation
  runtime/lua/vim/snippet.lua
  test/functional/lua/snippet_spec.lua
Labels: lsp

#25758 build: enable formatting during rebase
  cmake/Format.cmake
Labels: build

#25763 fix(marks): handle switching buffer properly
  src/nvim/ex_docmd.c
  src/nvim/mark.c
  test/functional/editor/jump_spec.lua
  test/functional/editor/mark_spec.lua
Labels: backport release-0.9, marks

#25771 fix(terminal): assign channel to terminal earlier
  src/nvim/api/vim.c
  src/nvim/channel.c
  src/nvim/eval/funcs.c
  src/nvim/terminal.c
  test/functional/autocmd/termxx_spec.lua
  test/functional/terminal/channel_spec.lua
Labels: terminal, backport release-0.9

#25772 Backport to release-0.9
  src/nvim/api/vim.c
  src/nvim/channel.c
  src/nvim/eval/funcs.c
  src/nvim/terminal.c
  test/functional/autocmd/termxx_spec.lua
  test/functional/terminal/channel_spec.lua
Labels: terminal

#25779 vim-patch:9.0.2065: EXPAND flag set for filetype option
  src/nvim/options.lua
Labels: vim-patch

#25780 vim-patch:partial:5985879e3c36
  runtime/doc/builtin.txt
  runtime/doc/intro.txt
  runtime/doc/nvim_terminal_emulator.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/options.lua
Labels: vim-patch

#25782 vim-patch:9.0.2064: cannot use buffer-number for errorformat
  runtime/doc/quickfix.txt
  src/nvim/quickfix.c
  test/old/testdir/test_quickfix.vim
Labels: vim-patch

#25752 fix(float): win_get_bordertext_col returning negative column number
  src/nvim/drawscreen.c
  test/functional/ui/float_spec.lua
Labels: float

#25762 fix(lsp): cancel session when leaving snippet region
  runtime/lua/vim/snippet.lua
  test/functional/lua/snippet_spec.lua
Labels: lsp

#25787 fix(lsp): fix omnicomplete in middle of the line
  runtime/lua/vim/lsp/_completion.lua
  test/functional/plugin/lsp/completion_spec.lua
Labels: lsp

#25794 vim-patch:9.0.2068: [security] overflow in :history
  src/nvim/cmdhist.c
  src/nvim/ex_getln.c
  test/old/testdir/test_history.vim
Labels: vim-patch

#25796 vim-patch:9.0.2071: objdump files not recognized
  runtime/ftplugin/objdump.vim
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#25797 vim-patch:7b7cda67a124
  runtime/ftplugin/debchangelog.vim
  runtime/ftplugin/debsources.vim
  runtime/syntax/deb822sources.vim
  runtime/syntax/debchangelog.vim
  runtime/syntax/debsources.vim
  runtime/syntax/shared/debversions.vim
Labels: vim-patch

#25801 fix(diagnostic): virtual_text prefix function should have index and total
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: diagnostic

#25804 vim-patch:650dcfc8d12e
  runtime/autoload/netrw.vim
Labels: vim-patch

#25806 vim-patch:9.0.{2074,2077}: Completion menu may be wrong
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#25807 vim-patch:9.0.2070: [security] disallow setting env in restricted mode
  src/nvim/eval/funcs.c
Labels: vim-patch

#25808 vim-patch:9.0.2075: TextChangedI may not always trigger
  src/nvim/edit.c
  src/nvim/normal.c
  src/nvim/ops.c
  test/functional/autocmd/textchanged_spec.lua
  test/old/testdir/test_autocmd.vim
Labels: vim-patch

#25777 build: bump required minimum libvterm version to 0.3.3
  cmake/FindLibvterm.cmake
  src/nvim/CMakeLists.txt
Labels: build

#25812 test: add test coverage for #25741
  test/functional/api/vim_spec.lua
Labels: test

#25813 build: use neovim/libtermkey instead of neovim/deps for libtermkey
  cmake.deps/cmake/LibtermkeyCMakeLists.txt
  cmake.deps/deps.txt
Labels: build, dependencies

#25815 vim-patch:9.0.2081: smoothscroll may result in wrong cursor position
  src/nvim/option.c
  test/old/testdir/test_options.vim
Labels: vim-patch

#25816 vim-patch:8ebdbc9e6d80
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#25817 vim-patch:9.0.2079: Not all Dart files detected
  runtime/lua/vim/filetype/detect.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#25818 vim-patch:a390e984db20
  runtime/syntax/sh.vim
Labels: vim-patch
