Repository neovim/neovim, pull requests merged in 2023-03, with the labels that each got.

#22461 vim-patch:9.0.1365: dead test code
  src/nvim/testdir/test_startup.vim
Labels: vim-patch

#22463 test(termxx_spec): fix TermClose bdelete test flakiness
  test/functional/autocmd/termxx_spec.lua
Labels: test

#22427 fix: callHierarchy methods itself also require the callHierarchyProvider
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#22407 fix(lsp): use buffer scheme for files not stored on disk
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/fixtures/fake-lsp-server.lua
Labels: lua, lsp

#22468 fix(lsp): only fire LspDetach for attached buffers
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#22378 feat(fs.lua): pass path to vim.fs.find function predicate and lazy evaluate the predicate
  runtime/doc/lua.txt
  runtime/lua/vim/fs.lua
  test/functional/lua/fs_spec.lua
Labels: lua

#22471 test(treesitter/parser_spec): correct time unit
  test/functional/treesitter/parser_spec.lua
Labels: test

#22423 build: remove libfindmacros library
  CMakeLists.txt
  cmake/FindIconv.cmake
  cmake/FindLibIntl.cmake
  cmake/FindLibLUV.cmake
  cmake/FindLibTermkey.cmake
  cmake/FindLibUV.cmake
  cmake/FindLuaJit.cmake
  cmake/FindMsgpack.cmake
  cmake/FindTreeSitter.cmake
  cmake/LibFindMacros.cmake
  src/nvim/CMakeLists.txt
Labels: build

#22474 refactor: rename show_tree => inspect_tree
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter.lua
Labels: refactor, lua, treesitter

#22477 feat(treesitter): add :InspectTree command
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter.lua
  runtime/plugin/nvim.lua
Labels: lua, treesitter

#22251 build: cmake cleanup
  CMakeLists.txt
  Makefile
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/BuildLua.cmake
  cmake.deps/cmake/BuildLuajit.cmake
  cmake.deps/cmake/BuildLuarocks.cmake
  cmake.deps/cmake/BuildLuv.cmake
  cmake/FindIconv.cmake
  cmake/FindLibTermkey.cmake
  cmake/FindLibintl.cmake
  cmake/FindLibluv.cmake
  cmake/FindLibtermkey.cmake
  cmake/FindLibuv.cmake
  cmake/FindLibvterm.cmake
  cmake/FindLuajit.cmake
  cmake/FindMsgpack.cmake
  cmake/FindTreeSitter.cmake
  cmake/FindTreesitter.cmake
  cmake/FindUnibilium.cmake
  src/nvim/CMakeLists.txt
  src/nvim/po/CMakeLists.txt
  test/CMakeLists.txt
Labels: build

#22485 vim-patch:9.0.1368: Bass files are not recognized
  runtime/lua/vim/filetype.lua
  src/nvim/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#22487 vim-patch:9.0.1371: ballooneval interferes with Insert completion
  src/nvim/insexpand.c
  src/nvim/testdir/test_ins_complete.vim
Labels: vim-patch

#22490 refactor(win_line): move some variables into a struct
  src/nvim/drawline.c
Labels: refactor

#22491 vim-patch:9.0.0519: the win_line() function is much too long
  src/nvim/drawline.c
Labels: vim-patch

#22476 fix(treesitter): disallow empty filetypes
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/language.lua
  test/functional/treesitter/language_spec.lua
  test/functional/treesitter/parser_spec.lua
Labels: lua, treesitter

#22492 fix(treesitter): typos in _range.lua
  runtime/lua/vim/treesitter/_range.lua
Labels: lua, treesitter

#22494 vim-patch:9.0.{partial:0531,0533}: the win_line() function is much too long
  src/nvim/drawline.c
Labels: vim-patch

#22484 fix(treesitter): maintain cursor position when toggling anonymous nodes
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/playground.lua
Labels: lua, treesitter

#22483 feat(treesitter): bundle query parser and queries
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/BuildTreesitterParsers.cmake
  runtime/queries/lua/injections.scm
  runtime/queries/query/folds.scm
  runtime/queries/query/highlights.scm
  runtime/queries/vim/injections.scm
Labels: build, dependencies, treesitter

#22442 refactor(build): spring cleaning of compile time checks
  CMakeLists.txt
  cmake.config/CMakeLists.txt
  cmake.config/config.h.in
  cmake/FindMsgpack.cmake
  cmake/FindTreesitter.cmake
  cmake/FindUnibilium.cmake
  src/nvim/CMakeLists.txt
  src/nvim/charset.c
  src/nvim/cmdexpand.c
  src/nvim/eval.c
  src/nvim/eval/decode.c
  src/nvim/fileio.c
  src/nvim/generators/gen_ex_cmds.lua
  src/nvim/locale.c
  src/nvim/locale.h
  src/nvim/lua/treesitter.c
  src/nvim/main.c
  src/nvim/mbyte.c
  src/nvim/msgpack_rpc/helpers.c
  src/nvim/option.c
  src/nvim/os/lang.c
  src/nvim/os/lang.h
  src/nvim/os/os_defs.h
  src/nvim/os/shell.c
  src/nvim/os/users.c
  src/nvim/tui/tui.c
Labels: build, refactor, tui, lua, treesitter

#22496 vim-patch:9.0.0527: long sign text may overflow buffer
  src/nvim/drawline.c
  src/nvim/testdir/test_signs.vim
Labels: vim-patch

#22499 fix(treesitter): break early from loop when match is found
  runtime/lua/vim/treesitter.lua
Labels: lua, treesitter

#22497 fix(treesitter): raise ts_match_limit to 256
  src/nvim/lua/treesitter.c
Labels: treesitter

#22504 build: unset variables ending with "URL" if USE_EXISTING_SRC_DIR is ON
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/BuildGettext.cmake
  cmake.deps/cmake/BuildLibiconv.cmake
  cmake.deps/cmake/BuildLibtermkey.cmake
  cmake.deps/cmake/BuildLibuv.cmake
  cmake.deps/cmake/BuildLibvterm.cmake
  cmake.deps/cmake/BuildLua.cmake
  cmake.deps/cmake/BuildLuajit.cmake
  cmake.deps/cmake/BuildLuarocks.cmake
  cmake.deps/cmake/BuildLuv.cmake
  cmake.deps/cmake/BuildMsgpack.cmake
  cmake.deps/cmake/BuildTreesitter.cmake
  cmake.deps/cmake/BuildTreesitterParsers.cmake
  cmake.deps/cmake/BuildUnibilium.cmake
  cmake.deps/cmake/GetBinaryDeps.cmake
Labels: build, dependencies

#22502 build(deps): bump Luv to HEAD - e5da6417d
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#22505 vim-patch:9.0.1376: accessing invalid memory with put in Visual block mode
  src/nvim/ops.c
  src/nvim/testdir/test_put.vim
Labels: vim-patch

#22506 vim-patch:9.0.{partial:0013,0016}: fix memory access errors
  src/nvim/change.c
  src/nvim/drawline.c
  src/nvim/edit.c
  src/nvim/indent.c
  src/nvim/indent_c.c
  src/nvim/lua/executor.c
  src/nvim/memline.c
  src/nvim/memline_defs.h
  src/nvim/testdir/test_breakindent.vim
  src/nvim/testdir/test_edit.vim
  test/functional/ui/statuscolumn_spec.lua
Labels: vim-patch

#22508 docs(luvref): update to version bump
  runtime/doc/luvref.txt
Labels: documentation

#22400 refactor: replace char_u with char or uint8_t
  src/nvim/digraph.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/fileio.c
  src/nvim/grid_defs.h
  src/nvim/help.c
  src/nvim/keycodes.c
  src/nvim/mapping.c
  src/nvim/mbyte.c
  src/nvim/memline.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/regexp_defs.h
  src/nvim/spell.c
  src/nvim/spell_defs.h
  src/nvim/spellfile.c
  src/nvim/spellsuggest.c
Labels: refactor

#22513 docs(treesitter): number → integer
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/playground.lua
  runtime/lua/vim/treesitter/query.lua
Labels: lua, treesitter

#22516 docs(filetype): number → integer
  runtime/lua/vim/filetype.lua
Labels: lua, filetype

#22515 docs(uri): number → integer
  runtime/doc/lua.txt
  runtime/lua/vim/uri.lua
Labels: lua

#22511 docs(inspect): number → integer
  runtime/doc/lua.txt
  runtime/lua/vim/_inspector.lua
Labels: lua

#22514 docs(editorconfig): number → integer
  runtime/lua/editorconfig.lua
Labels: lua

#22517 docs(lua): number → integer
  runtime/doc/lua.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/shared.lua
Labels: lua

#22415 refactor(log)!: reduce compile time LOG_LEVEL granularity
  CMakeLists.txt
  contrib/flake.nix
  contrib/local.mk.example
  src/nvim/CMakeLists.txt
  src/nvim/README.md
  src/nvim/channel.c
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/keycodes.c
  src/nvim/log.c
  src/nvim/log.h
  src/nvim/msgpack_rpc/channel.c
  src/nvim/state.c
  src/nvim/ui.c
  test/symbolic/klee/run.sh
Labels: build, refactor, breaking-change

#22522 build(deps): bump msgpack-c to v6.0.0
  cmake.deps/CMakeLists.txt
  cmake/FindMsgpack.cmake
Labels: build, dependencies

#22272 docs(highlight): fix type annotations
  runtime/lua/vim/highlight.lua
Labels: documentation, lua

#22523 ci: move configuring cmake to the build part of the CI
  .github/workflows/test.yml
Labels: ci

#22524 build: show build type specific compiler flags when using --version
  CMakeLists.txt
  cmake.config/versiondef.h.in
Labels: build

#22507 fix(extmarks): don't leak memory on error
  src/nvim/api/extmark.c
  src/nvim/decoration.c
  test/functional/api/extmark_spec.lua
Labels: extmarks

#22527 vim-patch:9.0.1378: illegal memory access when using virtual editing
  src/nvim/ops.c
  src/nvim/testdir/test_virtualedit.vim
Labels: vim-patch

#22529 test(old): make getting an unused PID work
  src/nvim/testdir/test_swap.vim
Labels: test

#22530 vim-patch:9.0.1380: CTRL-X on 2**64 subtracts two
  src/nvim/charset.c
  src/nvim/eval.c
  src/nvim/eval/decode.c
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/ex_cmds.c
  src/nvim/ex_getln.c
  src/nvim/keycodes.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/testdir/test_increment.vim
  src/nvim/viml/parser/expressions.c
  test/unit/charset/vim_str2nr_spec.lua
Labels: vim-patch

#22405 feat(lsp): implement workspace/didChangeWatchedFiles
  runtime/doc/news.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_watch.lua
  runtime/lua/vim/lsp/_watchfiles.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/protocol.lua
  test/functional/lua/watch_spec.lua
  test/functional/plugin/lsp/watchfiles_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#22531 fix(lsp): don't monitor files if workspace_folders is nil
  runtime/lua/vim/lsp/_watchfiles.lua
Labels: lua, lsp

#22532 vim-patch:9.0.{0736,0749,0770,0870}: quickfix listing does not handle very long messages
  src/nvim/memory.c
  src/nvim/quickfix.c
  src/nvim/testdir/test_quickfix.vim
Labels: vim-patch

#22525 test: don't search entire repo for files
  test/functional/lua/fs_spec.lua
Labels: test

#22533 build: fix unknown pragma warning with mingw
  src/nvim/main.c
Labels: build

#22528 build: consistently use the provided option paths
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/BuildLua.cmake
  cmake.deps/cmake/BuildLuajit.cmake
  cmake.deps/cmake/BuildMsgpack.cmake
  cmake.deps/cmake/GetBinaryDeps.cmake
Labels: build, dependencies

#22486 ci: disable core dump checks
  .github/workflows/test.yml
  test/helpers.lua
Labels: build, ci

#22540 build: fix USE_EXISTING_SRC_DIR option
  cmake.deps/cmake/BuildTreesitterParsers.cmake
Labels: build, dependencies

#22538 build: silence git describe error output
  cmake/GenerateVersion.cmake
Labels: build

#22539 build: remove workaround for incorrectly packaged libluv
  cmake/FindLibluv.cmake
  src/nvim/CMakeLists.txt
Labels: build

#22544 vim-patch:9.0.1385: g'Esc is considered an error
  src/nvim/normal.c
  src/nvim/testdir/test_normal.vim
  test/functional/ui/mode_spec.lua
Labels: vim-patch

#22548 vim-patch:9.0.1386: options test fails with some window width
  src/nvim/testdir/test_normal.vim
  src/nvim/testdir/test_options.vim
Labels: vim-patch

#22549 refactor(treesitter): simplify some range functions
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/_range.lua
Labels: refactor, lua, treesitter

#22325 feat(lua): add semver api
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/_init_packages.lua
  runtime/lua/vim/version.lua
  scripts/gen_vimdoc.py
  src/nvim/lua/executor.c
  test/functional/lua/version_spec.lua
Labels: lua

#22552 fix(diff): add NULL check
  src/nvim/linematch.c
Labels: diff

#22022 feat(lsp)!: add rule-based sem token highlighting
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/_inspector.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  src/nvim/auevents.lua
  src/nvim/highlight_group.c
  test/functional/plugin/lsp/semantic_tokens_spec.lua
Labels: lua, lsp

#22554 build: enable unit testing on release builds
  src/nvim/CMakeLists.txt
Labels: build

#13834 omnifunc for builtin lua
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/_editor.lua
  src/nvim/lua/executor.c
  test/functional/lua/command_line_completion_spec.lua
  test/functional/lua/vim_spec.lua
Labels: lua, completion

#22542 fix(column): issues with 'statuscolumn' width
  src/nvim/option.c
  src/nvim/optionstr.c
  test/functional/ui/statuscolumn_spec.lua
Labels: column

#22510 docs(lsp): number → integer
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/_snippet.lua
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/log.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/lsp/sync.lua
  runtime/lua/vim/lsp/util.lua
Labels: lua, lsp

#22543 build!: make libintl a required dependency
  runtime/doc/news.txt
  src/nvim/CMakeLists.txt
Labels: build, breaking-change

#22558 vim-patch:8.2.3969: value of MAXCOL not available in Vim script
  runtime/doc/builtin.txt
  runtime/doc/eval.txt
  src/nvim/eval.c
  src/nvim/eval.h
  test/old/testdir/test_cursor_func.vim
  test/old/testdir/test_normal.vim
  test/old/testdir/test_put.vim
Labels: vim-patch

#22550 refactor(runtime): use vim.version to compare versions
  runtime/autoload/health/provider.vim
  runtime/autoload/provider/node.vim
Labels: refactor, runtime

#22503 feat(man.lua): support spaces in manpage names
  runtime/doc/news.txt
  runtime/lua/man.lua
  test/functional/plugin/man_spec.lua
Labels: lua

#22559 fix(lsp): change LspTokenUpdate to use buffer instead of pattern when executing callbacks
  runtime/lua/vim/lsp/semantic_tokens.lua
Labels: lua, lsp

#22561 refactor(build): make installation of runtime/ more effective
  .github/workflows/test.yml
  cmake/InstallHelpers.cmake
  runtime/CMakeLists.txt
Labels: build, refactor

#22567 test(old): move memfile_test.c to test/old/
  scripts/vim-patch.sh
  test/old/memfile_test.c
  test/old/testdir/test_syntax.vim
Labels: test

#22568 vim-patch:8.2.3741: using freed memory in open command
  test/old/testdir/test_ex_mode.vim
Labels: test, vim-patch

#22518 feat(treesitter): use upstream format for injection queries
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/_meta.lua
  runtime/lua/vim/treesitter/languagetree.lua
  runtime/lua/vim/treesitter/query.lua
  runtime/queries/c/injections.scm
  runtime/queries/help/injections.scm
  runtime/queries/lua/injections.scm
  runtime/queries/vim/injections.scm
Labels: lua, treesitter

#22574 ci(news): don't run on draft
  .github/workflows/news.yml
Labels: ci

#22553 refactor(treesitter): delegate region calculation to treesitter
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/_meta.lua
  runtime/lua/vim/treesitter/_range.lua
  runtime/lua/vim/treesitter/languagetree.lua
  runtime/lua/vim/treesitter/query.lua
  src/nvim/lua/treesitter.c
Labels: refactor, lua, treesitter

#22579 vim-patch:9.0.1394: Unx Tal files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#22582 fix(treesitter): is_in_node_range
  runtime/lua/vim/treesitter.lua
  test/functional/treesitter/utils_spec.lua
Labels: lua, treesitter

#22583 vim-patch:9.0.1392: using NULL pointer with nested :open command
  src/nvim/getchar.c
  test/old/testdir/test_ex_mode.vim
Labels: vim-patch

#22585 vim-patch:8.2.1067: expression "!expr->func()" does not work
  src/nvim/eval.c
  src/nvim/eval/userfunc.c
  src/nvim/eval/vars.c
  test/old/testdir/test_expr.vim
Labels: vim-patch

#22547 perf(statusline): UI elements are always redrawn on K_EVENT
  src/nvim/buffer_defs.h
  src/nvim/drawscreen.c
  src/nvim/ex_getln.c
  src/nvim/option.c
  src/nvim/optionstr.c
  src/nvim/screen.c
  src/nvim/statusline.c
  test/functional/ui/statusline_spec.lua
Labels: statusline

#22267 feat(lsp): overwrite omnifunc/tagfunc set by ftplugin
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#22589 refactor(treesitter): use byte ranges from treesitter
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/_meta.lua
  runtime/lua/vim/treesitter/_range.lua
  runtime/lua/vim/treesitter/languagetree.lua
  runtime/lua/vim/treesitter/query.lua
  src/nvim/lua/treesitter.c
Labels: refactor, lua, treesitter

#22578 vim-patch:9.0.1393: Cairo files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#22509 docs(lsp): type annotation for lsp.client
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#22603 build(deps): set query parser to release
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#22607 perf(lsp): better binary search mid calculation in semantic token
  runtime/lua/vim/lsp/semantic_tokens.lua
Labels: lua, lsp

#22594 perf(treesitter): more efficient foldexpr
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/_fold.lua
  runtime/lua/vim/treesitter/language.lua
  src/nvim/lua/stdlib.c
  src/nvim/lua/treesitter.c
  test/functional/treesitter/language_spec.lua
  test/functional/treesitter/parser_spec.lua
Labels: lua, treesitter

#22612 feat!(treesitter): do not return changes from LanguageTree:parse()
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/languagetree.lua
Labels: lua, treesitter

#22616 build: explicitly add dependency include dir for header generation
  cmake.deps/CMakeLists.txt
  src/nvim/CMakeLists.txt
Labels: build, dependencies

#22619 vim-patch:9.0.1397: highlight for popupmenu kind and extra cannot be set
  runtime/doc/syntax.txt
  src/nvim/highlight_defs.h
  src/nvim/highlight_group.c
  src/nvim/option_defs.h
  src/nvim/popupmenu.c
  test/functional/ui/cursor_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_popup.vim
Labels: vim-patch

#22596 vim-patch:9.0.0244: cannot easily get the list of sourced scripts
  runtime/doc/builtin.txt
  runtime/doc/usr_41.txt
  src/nvim/eval.lua
  src/nvim/generators/gen_eval.lua
  src/nvim/runtime.c
  test/old/testdir/test_scriptnames.vim
Labels: vim-patch

#22620 refactor(runtime.c): factor out find_script_by_name()
  src/nvim/runtime.c
Labels: refactor

#22604 Revert "fix(lsp): use buffer scheme for files not stored on disk (#22407)"
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/fixtures/fake-lsp-server.lua
Labels: lua, lsp

#22577 ci: test build with external dependencies on every pull request
  .github/actions/cache/action.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: ci

#22557 ci: skip ruby provider tests on Windows
  .github/workflows/test.yml
Labels: ci

#22626 refactor: move ga_loaded to runtime.c
  src/nvim/eval.c
  src/nvim/lua/stdlib.c
  src/nvim/runtime.c
Labels: refactor

#22625 fix(diff): trigger on_bytes only once after diffget/diffput
  src/nvim/diff.c
  test/functional/lua/buffer_updates_spec.lua
Labels: diff

#22624 fix(api): set script context when setting usercmd or option
  src/nvim/api/command.c
  src/nvim/api/options.c
  test/functional/api/vim_spec.lua
  test/functional/ex_cmds/verbose_spec.lua
Labels: api

#22622 vim-patch:8.2.1398: autoload script sourced twice if sourced directly
  src/nvim/api/vim.c
  src/nvim/ex_session.c
  src/nvim/lua/executor.c
  src/nvim/main.c
  src/nvim/runtime.c
  src/nvim/syntax.c
  test/old/testdir/sautest/autoload/sourced.vim
Labels: vim-patch

#22628 refactor(lsp): add deprecate in _resolve_capabilities_compat
  runtime/lua/vim/lsp/protocol.lua
Labels: refactor, lua, lsp

#22623 fix(lsp): send didClose on buffer rename
  runtime/lua/vim/lsp.lua
  test/functional/fixtures/fake-lsp-server.lua
Labels: lua, lsp

#22621 docs(lsp): more precise type annotations
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#22613 feat(treesitter)!: consolidate query util functions
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/_fold.lua
  runtime/lua/vim/treesitter/_range.lua
  runtime/lua/vim/treesitter/languagetree.lua
  runtime/lua/vim/treesitter/query.lua
  scripts/lua2dox.lua
  test/functional/treesitter/parser_spec.lua
Labels: lua, treesitter, breaking-change

#22631 revert: "build: enable cmake workflow presets (#21860)"
  CMakePresets.json
  CONTRIBUTING.md
  Makefile
Labels: build

#20874 ci: bump to windows 2022
  .github/workflows/test.yml
  test/functional/autocmd/termxx_spec.lua
  test/functional/ex_cmds/mksession_spec.lua
  test/functional/ui/output_spec.lua
  test/old/testdir/runnvim.vim
Labels: ci

#22638 vim-patch:9.0.1401: condition is always true
  src/nvim/eval.c
Labels: vim-patch

#22641 test: use a wider screen in the rightleft winhl test
  src/nvim/grid.c
  test/functional/ui/highlight_spec.lua
Labels: test

#22632 fix(lsp): use line start/end for visual line selection
  runtime/lua/vim/lsp/buf.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#22590 refactor(redraw): make cursor position use the "redraw later" pattern
  src/nvim/drawscreen.c
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/optionstr.c
  src/nvim/search.c
  test/functional/ex_cmds/map_spec.lua
  test/functional/ui/messages_spec.lua
Labels: refactor

#19270 feat(ui): add scroll_delta to win_viewport event
  runtime/doc/news.txt
  runtime/doc/ui.txt
  src/nvim/api/ui_events.in.h
  src/nvim/buffer_defs.h
  src/nvim/window.c
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/ui/multigrid_spec.lua
  test/functional/ui/screen.lua
  test/functional/ui/searchhl_spec.lua
Labels: ui, ui-ext

#22648 test(float_spec): add missing sum_scroll_delta
  test/functional/ui/float_spec.lua
Labels: test

#22562 refactor!: rename vim.pretty_print => vim.print
  runtime/doc/deprecated.txt
  runtime/doc/diagnostic.txt
  runtime/doc/lua-guide.txt
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/_editor.lua
  runtime/plugin/nvim.lua
  src/nvim/lua/executor.c
  test/functional/api/vim_spec.lua
  test/functional/lua/commands_spec.lua
  test/functional/lua/vim_spec.lua
Labels: refactor, lua

#22647 feat(options)!: deprecate paste, remove pastetoggle
  runtime/doc/autocmd.txt
  runtime/doc/change.txt
  runtime/doc/deprecated.txt
  runtime/doc/map.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/doc/vim_diff.txt
  runtime/optwin.vim
  src/nvim/getchar.c
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/options.lua
  src/nvim/optionstr.c
  test/functional/options/pastetoggle_spec.lua
  test/old/testdir/test_mksession.vim
  test/old/testdir/test_options.vim
  test/old/testdir/test_paste.vim
Labels: breaking-change, options

#22537 test: unskip working Windows tests
  test/functional/core/job_spec.lua
  test/functional/terminal/mouse_spec.lua
  test/functional/terminal/scrollback_spec.lua
  test/functional/treesitter/parser_spec.lua
Labels: test

#22650 test(old): unskip working tests on Windows
  test/old/testdir/test_excmd.vim
  test/old/testdir/test_sort.vim
  test/old/testdir/test_spell_utf8.vim
Labels: test

#22652 fix(treesitter): foldexpr
  runtime/lua/vim/treesitter/_fold.lua
Labels: lua, treesitter

#22627 refactor!: remove deprecated functions
  runtime/doc/news.txt
  runtime/lua/health.lua
  runtime/lua/vim/highlight.lua
  runtime/lua/vim/treesitter.lua
Labels: refactor, lua, highlight, breaking-change

#22633 fix(lsp): Fix error in remove_workspace_folders when client has no workspace_folders
  runtime/lua/vim/lsp/buf.lua
Labels: lua, lsp

#22663 build(deps): bump tree-sitter to v0.20.8
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#22615 Document how to opt-out of LSP `gq` behaviour
  runtime/doc/lsp.txt
Labels: documentation

#22636 fix(lsp): fix vim.lsp.util.apply_text_edits's cursor position validation
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#22618 fix(lsp): kill buffers after renaming a directory
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#22671 test: luv sysname is not 'windows' in msys shells
  test/helpers.lua
Labels: test

#22677 fix(lua): vim.deprecate() shows ":help deprecated"
  runtime/doc/deprecated.txt
  runtime/doc/lua.txt
  runtime/lua/vim/_editor.lua
  test/functional/lua/vim_spec.lua
Labels: lua

#22676 build(deps): bump tree-sitter to v0.20.8
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#22687 refactor(extmarks): some minor internal API changes
  src/nvim/api/extmark.c
  src/nvim/decoration.c
  src/nvim/decoration.h
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/extmark.c
  src/nvim/marktree.c
  src/nvim/marktree.h
  src/nvim/spell.c
Labels: refactor, extmarks

#22680 build(deps): bump luarocks and bundled rocks
  .luacheckrc
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/BuildLuarocks.cmake
Labels: build, dependencies

#22689 fix(lsp): avoid switching buffers on lsp attach
  runtime/lua/vim/lsp.lua
Labels: lua, lsp

#22692 Add cmd mods and count to `:InspectTree`
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter.lua
  runtime/plugin/nvim.lua
Labels: lua, treesitter

#22700 build(deps): bump win32yank to v0.1.1
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#22702 refactor(completion): don't add and remove '^' for Lua
  src/nvim/cmdexpand.c
  src/nvim/lua/executor.c
Labels: refactor, lua, completion

#22706 vim-patch:9.0.0194: cursor displayed in wrong position after removing text prop
  src/nvim/change.c
  src/nvim/decoration.c
  src/nvim/move.c
  test/functional/ui/decorations_spec.lua
Labels: vim-patch, extmarks

#22716 fix(spell): properly source spell/LANG.{vim,lua}
  src/nvim/optionstr.c
  test/functional/lua/runtime_spec.lua
Labels: spell

#22719 test(highlight_spec): fix warning in Visual highlight test
  test/functional/ui/highlight_spec.lua
Labels: test

#22721 vim-patch:9.0.1412: Pony files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#22690 fix(column): rebuild status column when sign column is invalidated
  src/nvim/buffer.c
  src/nvim/option.c
  src/nvim/statusline.c
  test/functional/ui/statuscolumn_spec.lua
Labels: column

#22723 fix(column): invalidate statuscolumn width when UPD_NOT_VALID
  src/nvim/buffer.c
  src/nvim/drawscreen.c
  src/nvim/option.c
  src/nvim/optionstr.c
  src/nvim/statusline.c
Labels: column

#22673 fix(float): remove -1 in height clamp
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: float

#22566 fix: pasting in terminal buffer on windows
  src/nvim/terminal.c
  test/functional/terminal/buffer_spec.lua
Labels: platform:windows, terminal

#22691 build!: sanitizers for gcc
  .github/workflows/test.yml
  CMakeLists.txt
  CONTRIBUTING.md
  cmake.deps/cmake/BuildLua.cmake
  contrib/asan.sh
  contrib/flake.nix
  src/.asan-blacklist
  src/nvim/CMakeLists.txt
  src/nvim/README.md
  src/nvim/eval/typval.h
  src/nvim/event/multiqueue.c
  src/nvim/func_attr.h
  src/uncrustify.cfg
Labels: build, breaking-change

#22728 docs(options): echo :make output in Windows
  runtime/doc/options.txt
  runtime/doc/quickfix.txt
  src/nvim/options.lua
  test/functional/ex_cmds/make_spec.lua
  test/functional/helpers.lua
  test/functional/vimscript/system_spec.lua
  test/old/testdir/test_shell.vim
Labels: options

#22634 feat: add vim.filetype.get_option()
  runtime/doc/api.txt
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/filetype/options.lua
  src/nvim/api/keysets.lua
  src/nvim/api/options.c
  src/nvim/edit.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/globals.h
  src/nvim/mapping.c
  src/nvim/undo.c
  test/functional/api/vim_spec.lua
  test/functional/lua/filetype_spec.lua
Labels: lua, filetype

#22707 feat(vim.version): range(), use lazy.nvim impl
  runtime/autoload/provider/clipboard.vim
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/version.lua
  test/functional/lua/version_spec.lua
  test/functional/terminal/buffer_spec.lua
Labels: lua

#22737 feat(lua): represent empty Dictionary as vim.empty_dict() in new api functions
  src/nvim/generators/gen_api_dispatch.lua
Labels: lua

#22742 vim-patch:9.0.{1415,1417}: more files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: lua, vim-patch, filetype

#22746 docs: fix misleading help about number of actually used terminal colors
  runtime/doc/nvim_terminal_emulator.txt
Labels: documentation

#22711 ci(lintcommit): allow colon in commit message scope
  scripts/lintcommit.lua
Labels: ci

#22749 vim-patch:9.0.{1419,1421,1422,1423}: some files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#22743 feat(lua): allow `:=expr` as a shorter version of `:lua =expr`
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/doc/various.txt
  runtime/doc/vim_diff.txt
  src/nvim/cmdexpand.c
  src/nvim/ex_cmds.lua
  src/nvim/ex_docmd.c
  src/nvim/lua/executor.c
  test/functional/lua/commands_spec.lua
  test/old/testdir/test_ex_equal.vim
Labels: lua
