Repository neovim/neovim, pull requests merged in 2023-07, with the labels that each got.

#24216 fix(startup): don't truncate when printing with -l
  src/nvim/main.c
  test/functional/core/remote_spec.lua
  test/functional/core/startup_spec.lua
Labels: startup, backport release-0.9

#24218 build(deps): bump libuv to v1.46.0
  cmake.deps/deps.txt
Labels: build, dependencies

#22481 feat(treesitter): bundle markdown parser and queries
  cmake.deps/cmake/BuildTreesitterParsers.cmake
  cmake.deps/cmake/MarkdownParserCMakeLists.txt
  cmake.deps/deps.txt
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/query.lua
  runtime/queries/markdown/folds.scm
  runtime/queries/markdown/highlights.scm
  runtime/queries/markdown/injections.scm
  runtime/queries/markdown_inline/highlights.scm
  runtime/queries/markdown_inline/injections.scm
  test/functional/treesitter/parser_spec.lua
Labels: build, dependencies, treesitter

#24046 fix(lsp): lint warnings, default offset_encoding
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/lsp/log.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#23297 fix(api): nvim_parse_cmd raises error message in pcall()
  src/nvim/api/command.c
  src/nvim/eval/funcs.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/mark.c
  src/nvim/path.c
  src/nvim/syntax.c
  test/functional/api/vim_spec.lua
  test/functional/editor/mark_spec.lua
Labels: api

#24219 feat(treesitter): add python, bash parser and queries
  cmake.deps/cmake/BuildTreesitterParsers.cmake
  cmake.deps/deps.txt
  runtime/doc/news.txt
  runtime/queries/bash/folds.scm
  runtime/queries/bash/highlights.scm
  runtime/queries/python/folds.scm
  runtime/queries/python/highlights.scm
Labels: build, dependencies, treesitter

#24215 fix(startup)!: end with newline when printing messages with -l
  runtime/doc/news.txt
  runtime/doc/starting.txt
  src/nvim/main.c
  test/functional/core/startup_spec.lua
Labels: startup, breaking-change

#24223 vim-patch:9.0.1672: tabline highlight wrong after truncated double width label
  src/nvim/buffer.c
  test/old/testdir/test_tabline.vim
Labels: vim-patch

#24224 test: check for ASAN properly
  test/functional/legacy/memory_usage_spec.lua
  test/old/testdir/check.vim
Labels: test

#24225 build(nix): fix markdown parser
  contrib/flake.nix
Labels: build, platform:nix

#24228 build(deps): bump luv to 1.45.0-0
  cmake.deps/deps.txt
  runtime/doc/luvref.txt
Labels: build, dependencies

#24222 perf(treesitter): cache fold query
  runtime/lua/vim/treesitter/query.lua
Labels: treesitter

#23167 refactor: remove long
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/change.c
  src/nvim/cmdexpand.c
  src/nvim/diff.c
  src/nvim/drawline.c
  src/nvim/edit.c
  src/nvim/eval/buffer.c
  src/nvim/eval/funcs.c
  src/nvim/eval/window.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_docmd.h
  src/nvim/ex_getln.c
  src/nvim/globals.h
  src/nvim/match.c
  src/nvim/memline.c
  src/nvim/mouse.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/normal.h
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/search.c
  src/nvim/spellfile.c
  src/nvim/statusline.c
  src/nvim/tag.c
  src/nvim/terminal.c
  src/nvim/textobject.c
  src/nvim/undo.c
  src/nvim/undo_defs.h
  src/nvim/window.c
Labels: refactor

#24244 fix(api, lua): make blank lines in a message work properly
  src/nvim/api/vim.c
  src/nvim/lua/executor.c
  test/functional/api/vim_spec.lua
  test/functional/lua/overrides_spec.lua
Labels: api, lua, backport release-0.9, messages

#24249 fix(ui-ext): "scroll_delta" handle topfill and skipcol
  src/nvim/buffer_defs.h
  src/nvim/plines.c
  src/nvim/window.c
  test/functional/ui/fold_spec.lua
  test/functional/ui/multigrid_spec.lua
Labels: ui-ext

#24234 perf(ui-ext): approximate scroll_delta when scrolling too much
  runtime/doc/ui.txt
  src/nvim/buffer_defs.h
  src/nvim/window.c
  test/functional/ui/multigrid_spec.lua
Labels: performance, ui, ui-ext

#24246 feat(l10n): update Turkish translations
  src/nvim/po/tr.po
Labels: localization

#24238 fix(lsp): remove buffer validate in buf_clear_references
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#23501 fix(api): allow negative column arguments for nvim_buf_set_text
  src/nvim/api/buffer.c
  test/functional/api/buffer_spec.lua
Labels: api

#24258 fix(edit): fix K_EVENT interfering with 'digraph'
  src/nvim/edit.c
  test/functional/api/vim_spec.lua
Labels: event-loop, backport release-0.9

#23228 fix(api): use `text_locked()` to check for textlock
  runtime/doc/api.txt
  scripts/gen_vimdoc.py
  src/nvim/api/buffer.c
  src/nvim/api/vim.c
  src/nvim/api/win_config.c
  src/nvim/api/window.c
  src/nvim/eval/funcs.c
  src/nvim/func_attr.h
  src/nvim/generators/c_grammar.lua
  src/nvim/generators/gen_api_dispatch.lua
  src/uncrustify.cfg
  test/functional/terminal/buffer_spec.lua
  test/functional/vimscript/api_functions_spec.lua
Labels: api

#24182 fix(ui): delay win_viewport until the screen is updated
  runtime/doc/ui.txt
  src/nvim/window.c
  test/functional/ui/multigrid_spec.lua
Labels: ui

#24264 refactor(plines.c): update outdated comments
  src/nvim/plines.c
  src/nvim/window.c
Labels: refactor

#24268 fix(column): fix wrong cursor with 'statuscolumn' and cpo+=n
  src/nvim/drawline.c
  src/nvim/move.c
  test/functional/ui/statuscolumn_spec.lua
Labels: column, backport release-0.9

#24270 fix(vim.system): close check handle
  runtime/lua/vim/_system.lua
  test/functional/api/vim_spec.lua
  test/functional/lua/ui_spec.lua
Labels: lua

#24271 docs(luaref): remove parentheses from tags for typedefs
  runtime/doc/luaref.txt
Labels: documentation

#21677 fix(defaults): make visual mode default-mappings less fragile
  runtime/doc/lua.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_editor.lua
Labels: defaults, lua

#24273 fix(drawline): inline virt_text hl_mode inside syntax/extmark hl
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#24274 fix(folds): fix missing virt_lines above when fold is hidden
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/grid.c
  test/functional/ui/fold_spec.lua
Labels: folds

#24230 fix(treesitter): update folds in all relevant windows
  runtime/lua/vim/treesitter/_fold.lua
  test/functional/treesitter/fold_spec.lua
  test/functional/treesitter/parser_spec.lua
Labels: treesitter

#24280 docs: CONTRIBUTING.md updates
  CONTRIBUTING.md
Labels: documentation

#20288 feat(lua): allow vim.wo to be double indexed
  runtime/doc/lua-guide.txt
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/_meta.lua
  test/functional/lua/vim_spec.lua
Labels: lua, options

#24282 fix(startup): run embedded Nvim with real path
  src/nvim/channel.c
  src/nvim/eval/funcs.c
  src/nvim/event/libuv_process.c
  src/nvim/event/process.c
  src/nvim/event/process.h
  src/nvim/os/pty_process_unix.c
  src/nvim/ui_client.c
Labels: startup

#24281 fix(extmarks): fix visual highlight continuing after "combine" virtual text
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#24276 fix(lsp): don't use hl_mode = combine for inlay hints
  runtime/lua/vim/lsp/inlay_hint.lua
Labels: lsp

#24293 test(tui): add test for overriding argv[0]
  test/functional/terminal/tui_spec.lua
Labels: test, tui

#24296 fix(completion): don't add backslashes to runtime pattern
  src/nvim/path.c
  src/nvim/runtime.c
  test/functional/lua/runtime_spec.lua
Labels: completion, backport release-0.9

#24287 vim-patch:9.0.1673: cannot produce a status 418 or 503 message
  runtime/doc/vim_diff.txt
  test/old/testdir/test_functions.vim
Labels: vim-patch

#24236 feat(api): add nvim_win_text_height
  CMakeLists.txt
  runtime/doc/api.txt
  runtime/doc/news.txt
  src/nvim/api/buffer.c
  src/nvim/api/keysets.h
  src/nvim/api/private/helpers.c
  src/nvim/api/window.c
  src/nvim/api/window.h
  src/nvim/plines.c
  test/functional/api/window_spec.lua
Labels: api

#24306 perf(extmarks): avoid unnecessary marktree traversal with folds
  src/nvim/decoration.c
Labels: extmarks

#24308 fix(drawline): fix missing Visual hl on double-width fold char
  src/nvim/drawline.c
  test/functional/ui/fold_spec.lua
Labels: folds

#24320 fix(mouse): copy the line before syntax matching
  src/nvim/mouse.c
  test/functional/ui/mouse_spec.lua
Labels: mouse, backport release-0.9

#24322 perf(extmarks): don't handle inline virt_text if there is none
  src/nvim/drawline.c
  src/nvim/plines.c
Labels: extmarks

#24319 feat(lsp): add method filter to get_active_clients
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
Labels: lsp

#24328 test(extmarks): add test for virt_text_win_col with cpo+=n
  runtime/doc/api.txt
  src/nvim/api/extmark.c
  test/functional/ui/decorations_spec.lua
Labels: test, extmarks

#24329 fix(ui): cursor pos with left gravity inline virt_text at eol
  src/nvim/charset.c
  test/functional/ui/decorations_spec.lua
Labels: ui, extmarks

#24301 build(deps): bump luajit to HEAD - 8635cbabf
  cmake.deps/deps.txt
Labels: dependencies

#24191 perf(rtp): reduce rtp scans
  runtime/doc/repeat.txt
  runtime/doc/starting.txt
  src/nvim/api/vim.c
  src/nvim/ex_cmds2.c
  src/nvim/help.c
  src/nvim/highlight_group.c
  src/nvim/optionstr.c
  src/nvim/runtime.c
  src/nvim/runtime.h
  src/nvim/spell.c
  src/nvim/strings.c
  src/nvim/tag.c
  test/functional/lua/runtime_spec.lua
Labels: performance

#24337 docs(lua): adds links to related keymap functions to keymap.set
  runtime/doc/lua.txt
  runtime/lua/vim/keymap.lua
Labels: lua

#24335 fix(runtime): respect 'rtp' order for all runtime files
  runtime/doc/quickfix.txt
  runtime/doc/repeat.txt
  runtime/doc/syntax.txt
  runtime/filetype.lua
  runtime/ftplugin.vim
  runtime/indent.vim
  runtime/syntax/synload.vim
  src/nvim/runtime.c
  test/functional/core/startup_spec.lua
  test/functional/lua/runtime_spec.lua
Labels: runtime

#24344 fix(runtime): respect 'fileignorecase' when sourcing
  src/nvim/path.c
  src/nvim/runtime.c
  src/nvim/strings.c
  test/functional/lua/runtime_spec.lua
  test/unit/path_spec.lua
Labels: runtime

#24345 fix(lsp): remove unknown LSP protocol property
  runtime/lua/vim/lsp/protocol.lua
Labels: lsp

#24349 build(Makefile): remove a phony target uninstall
  Makefile
Labels: build

#24331 feat(lsp): map K to hover by default
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#24357 feat(tui): support Super and Meta modifiers
  src/nvim/tui/input.c
  test/functional/terminal/tui_spec.lua
Labels: tui, backport release-0.9

#24365 feat(api)!: change return type of nvim_win_text_height to Dict
  runtime/doc/api.txt
  runtime/doc/news.txt
  src/nvim/api/window.c
  src/nvim/plines.c
  src/nvim/window.c
  test/functional/api/window_spec.lua
Labels: api, breaking-change

#24364 fix(lsp): allow whitespace info string in markdown
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp/utils_spec.lua
Labels: lsp

#24367 docs(term.txt): reorder paragraphs about TUI input
  runtime/doc/intro.txt
  runtime/doc/motion.txt
  runtime/doc/news.txt
  runtime/doc/term.txt
Labels: documentation

#23378 fix(clipboard): suppression exit warning if exit code is >= 128
  runtime/autoload/provider/clipboard.vim
Labels: clipboard

#23021 test(fs): get tmpdir correctly
  test/functional/core/fileio_spec.lua
  test/functional/lua/watch_spec.lua
Labels: test

#24376 test(fs): vim.loop was renamed to vim.uv
  test/functional/core/fileio_spec.lua
  test/functional/lua/watch_spec.lua
Labels: test

#24350 feat(options)!: remove compatible behaviours for vim 5.0 and earlier
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/file_search.c
  src/nvim/option.c
  src/nvim/optionstr.c
  src/nvim/path.c
  test/functional/core/fileio_spec.lua
  test/functional/legacy/autocmd_option_spec.lua
  test/old/testdir/test_backspace_opt.vim
  test/old/testdir/test_options.vim
Labels: breaking-change, options

#24378 fix(terminal): don't send unknown special keys to terminal
  src/nvim/terminal.c
  test/functional/terminal/buffer_spec.lua
Labels: terminal, backport release-0.9

#24363 docs(lua): move some function docs to lua files
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/news-0.9.txt
  runtime/doc/treesitter.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_meta.lua
  runtime/lua/vim/_meta/builtin.lua
  runtime/lua/vim/_meta/diff.lua
  runtime/lua/vim/_meta/json.lua
  runtime/lua/vim/_meta/misc.lua
  runtime/lua/vim/_meta/mpack.lua
  runtime/lua/vim/_meta/regex.lua
  runtime/lua/vim/_meta/spell.lua
  runtime/lua/vim/_options.lua
  runtime/lua/vim/highlight.lua
  runtime/lua/vim/iter.lua
  runtime/lua/vim/version.lua
  scripts/gen_vimdoc.py
  scripts/lua2dox.lua
  src/nvim/CMakeLists.txt
  src/nvim/lua/executor.c
Labels: lua

#23753 fix(fs.lua): normalize slash truncation
  runtime/lua/vim/fs.lua
  test/functional/lua/fs_spec.lua
Labels: platform:windows, lua, backport release-0.9

#24386 refactor(lua2dox): overhaul
  runtime/doc/lua.txt
  runtime/doc/treesitter.txt
  scripts/lua2dox.lua
Labels: refactor

#24377 build(scripts): allow a git ref for lsp_types
  scripts/lsp_types.lua
Labels: build

#24387 docs(lua): more improvements
  runtime/doc/develop.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_inspector.lua
  runtime/lua/vim/_options.lua
  runtime/lua/vim/_system.lua
  runtime/lua/vim/_watch.lua
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/fs.lua
  runtime/lua/vim/highlight.lua
  runtime/lua/vim/iter.lua
  runtime/lua/vim/loader.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/_watchfiles.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/lsp/log.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/lsp/sync.lua
  runtime/lua/vim/lsp/tagfunc.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/secure.lua
  runtime/lua/vim/shared.lua
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/dev.lua
  runtime/lua/vim/treesitter/highlighter.lua
  runtime/lua/vim/treesitter/language.lua
  runtime/lua/vim/treesitter/languagetree.lua
  runtime/lua/vim/treesitter/query.lua
  runtime/lua/vim/uri.lua
  runtime/lua/vim/version.lua
  scripts/gen_vimdoc.py
  scripts/lua2dox.lua
Labels: lua

#24391 test(startup_spec): add a test for #18315
  src/nvim/runtime.c
  test/functional/core/startup_spec.lua
Labels: test

#24381 feat(lsp): handle multiple clients in omnifunc
  runtime/lua/vim/lsp.lua
Labels: lsp

#19814 feat(decoration_provider): log errors as error messages
  src/nvim/decoration_provider.c
  src/nvim/decoration_provider.h
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/message.c
  src/nvim/spell.c
  test/functional/ui/decorations_spec.lua
Labels: ui

#24394 docs(lua): don't limit file types to `file` and `directory`
  runtime/doc/lua.txt
  runtime/lua/vim/fs.lua
Labels: documentation, needs:response, lua

#24128 feat(lsp): implement textDocument/diagnostic
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/lsp/util.lua
  src/nvim/auevents.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
Labels: lsp

#24402 fix(folds): inserting unindented line doesn't open folds
  src/nvim/fold.c
  test/functional/editor/fold_spec.lua
Labels: folds

#24413 docs(lsp): clean up LSP event documentation
  runtime/doc/lsp.txt
Labels: documentation, lsp

#24392 fix(ui.open): some URLs fail on Windows
  runtime/lua/vim/ui.lua
  test/functional/lua/ui_spec.lua
Labels: platform:windows, lua

#24418 fix(terminal): send Shift-Home Shift-End Ctrl-Home Ctrl-End
  src/nvim/terminal.c
  test/functional/terminal/buffer_spec.lua
Labels: terminal, backport release-0.9

#24401 docs(lua): add missing word in docs for vim.empty_dict
  runtime/doc/lua.txt
  runtime/lua/vim/_meta/builtin.lua
Labels: lua

#24400 fix(api/options): validate buf and win
  runtime/lua/vim/_options.lua
  src/nvim/api/options.c
  test/functional/api/vim_spec.lua
  test/functional/lua/vim_spec.lua
Labels: api, options

#24411 refactor(lsp): use LspNotify for inlay_hint
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/inlay_hint.lua
Labels: refactor, lsp

#24423 refactor: remove some (const char **) casts
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/os/input.c
  src/nvim/regexp.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/tui/input.c
  src/nvim/usercmd.c
Labels: refactor, spell

#24429 fix(treesitter): update markdown parser and queries
  cmake.deps/deps.txt
  runtime/queries/markdown_inline/highlights.scm
Labels: dependencies, treesitter

#24426 fix(events): trigger VimResume on next UI request
  src/nvim/api/ui.c
  src/nvim/api/vim.c
  src/nvim/autocmd.c
  src/nvim/ex_docmd.c
  test/functional/api/ui_spec.lua
  test/functional/ui/screen_basic_spec.lua
Labels: ui, events, backport release-0.9

#24436 test: check real cursor position in terminal mode
  test/functional/terminal/cursor_spec.lua
Labels: test, terminal

#24437 test: check that TextChangedT cannot delete terminal buffer
  test/functional/autocmd/termxx_spec.lua
  test/functional/terminal/buffer_spec.lua
Labels: test, terminal, events

#24438 test: fix VimResume test flakiness
  test/functional/api/ui_spec.lua
Labels: test, backport release-0.9

#24443 test: reduce flakiness
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/cursor_spec.lua
  test/functional/terminal/ex_terminal_spec.lua
  test/functional/terminal/helpers.lua
  test/functional/terminal/scrollback_spec.lua
  test/functional/terminal/tui_spec.lua
Labels: test

#24446 build(deps): bump tree-sitter-python to v0.20.3
  cmake.deps/deps.txt
Labels: build, dependencies

#24447 build(deps): bump tree-sitter to HEAD - 3f44b8968
  cmake.deps/deps.txt
Labels: dependencies

#24448 fix(highlight): make CurSearch work properly with 'winhl'
  src/nvim/highlight_group.c
  src/nvim/match.c
  src/nvim/move.c
  test/functional/ui/searchhl_spec.lua
Labels: highlight

#24425 fix(terminal): call validate_cursor to update the viewport
  src/nvim/terminal.c
Labels: terminal

#24459 fix(statuscolumn): don't update clicks if current width is 0
  src/nvim/drawline.c
  src/nvim/statusline.c
  test/functional/ui/statuscolumn_spec.lua
Labels: backport release-0.9

#24453 docs(vim_diff): fixed inconsistent autocmds behavior
  runtime/doc/vim_diff.txt
Labels: documentation, events

#24450 fix(treesitter): `vim.treesitter.stop` should treat `0` as the current buffer
  runtime/lua/vim/treesitter.lua
Labels: treesitter

#24420 fix(gx): move to to _init_default_mappings
  runtime/lua/vim/_editor.lua
  runtime/plugin/nvim.lua
Labels: defaults

#24441 fix(lsp): change offset_encodings warning to notify_once
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#24440 fix(lsp): send empty list for added when removing workspace folder
  runtime/lua/vim/lsp/buf.lua
Labels: lsp

#24442 fix(lsp): announce publishDiagnostics.dataSupport
  runtime/lua/vim/lsp/protocol.lua
Labels: lsp

#24477 fix(startup): make recovery mode work without --headless
  src/nvim/main.c
  test/functional/core/remote_spec.lua
  test/functional/core/startup_spec.lua
Labels: startup, backport release-0.9

#24458 fix(lsp): use pcall wrap syntax include
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#24455 docs: remove trailing spaces
  runtime/doc/arabic.txt
  runtime/doc/autocmd.txt
  runtime/doc/channel.txt
  runtime/doc/cmdline.txt
  runtime/doc/filetype.txt
  runtime/doc/if_pyth.txt
  runtime/doc/lua-guide.txt
  runtime/doc/motion.txt
  runtime/doc/options.txt
  runtime/doc/starting.txt
  runtime/doc/syntax.txt
  runtime/doc/tagsrch.txt
  runtime/doc/ui.txt
  runtime/doc/undo.txt
  runtime/doc/usr_21.txt
  runtime/doc/usr_41.txt
  runtime/doc/usr_43.txt
  runtime/doc/vim_diff.txt
Labels: documentation, typo

#24481 test(core/startup_spec): use retry() instead of jobwait()
  test/functional/core/startup_spec.lua
Labels: test, backport release-0.9

#16702 fix(lsp): SignatureHelp docstring is not escaped
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#18839 fix(lsp): fix multi client handling workspace_folder methods
  runtime/lua/vim/lsp/buf.lua
Labels: lsp

#24489 test(inccommand): add a test for #20248
  test/functional/ui/inccommand_user_spec.lua
Labels: test

#24490 vim-patch:partial:8.1.1981: the evalfunc.c file is too big
  src/nvim/eval/funcs.c
  src/nvim/generators/gen_eval.lua
  src/nvim/undo.c
Labels: vim-patch

#24473 feat(lua): typing for vim.fn.*
  .gitattributes
  .github/workflows/api-docs.yml
  .luacheckrc
  runtime/lua/vim/_meta/vimfn.lua
  scripts/gen_vimfn_types.lua
  src/nvim/eval.lua
Labels: lua

#24492 fix(gen_vimfn_types): don't include tag before signature's line
  runtime/lua/vim/_meta/vimfn.lua
  scripts/gen_vimfn_types.lua
  src/nvim/eval.lua
Labels: documentation

#24457 feat(api): relax cmdwin restrictions for a few functions
  runtime/doc/api.txt
  src/nvim/api/vim.c
  src/nvim/api/win_config.c
  src/nvim/api/window.c
  src/nvim/drawscreen.c
  src/nvim/ex_getln.c
  src/nvim/globals.h
  src/nvim/window.c
  test/functional/api/window_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/vimscript/api_functions_spec.lua
Labels: api

#24495 build(deps): bump tree-sitter-c to v0.20.4
  cmake.deps/deps.txt
  runtime/queries/c/folds.scm
  runtime/queries/c/highlights.scm
  test/functional/treesitter/parser_spec.lua
Labels: build, dependencies, treesitter

#24407 fix(editorconfig): highlight properties with dashes
  runtime/syntax/editorconfig.vim
Labels: syntax

#24501 fix(inccommand): don't save information of a buffer twice
  src/nvim/ex_getln.c
  test/functional/ui/inccommand_spec.lua
Labels: backport release-0.9

#24424 docs(lua): add `vim.str_utf_{start,end,pos}`
  runtime/doc/lua.txt
  runtime/lua/vim/_meta/builtin.lua
Labels: documentation, lua

#24510 feat(lsp): add actionable advice to lsp client quit error msg
  runtime/lua/vim/lsp.lua
Labels: lsp
