Repository neovim/neovim, pull requests merged in 2023-06, with the labels that each got.

#23857 fix(lsp): add param assert in client_is_stopped
  runtime/lua/vim/lsp.lua
Labels: lsp

#23854 fix(column): don't overflow sign column with extmark signs
  src/nvim/decoration.c
  test/functional/ui/decorations_spec.lua
Labels: column, backport release-0.9

#23866 vim-patch:9.0.1596: :registers command does not work in sandbox
  src/nvim/ex_cmds.lua
  test/old/testdir/test_registers.vim
Labels: vim-patch

#23789 vim-patch:9.0.{1585,1595}
  src/nvim/drawline.c
  src/nvim/drawline.h
  src/nvim/drawscreen.c
  test/functional/ui/spell_spec.lua
  test/old/testdir/test_spell.vim
Labels: vim-patch

#23871 Add support for LSP positionEncoding capability
  runtime/doc/news.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/protocol.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#23872 vim-patch:9.0.1598: screenchar() and others are wrong with DBCS 'encoding'
  src/nvim/eval/funcs.c
  src/nvim/grid.c
  test/old/testdir/test_functions.vim
  test/old/testdir/test_utf8.vim
Labels: vim-patch

#23877 fix(health): stop job properly on timeout
  runtime/lua/provider/health.lua
Labels: backport release-0.9

#23878 ci: remove ci/ from cache key
  .github/actions/cache/action.yml
Labels: ci, backport release-0.9

#23859 fix(treesitter): remove incompatible c query
  runtime/queries/c/highlights.scm
Labels: treesitter

#23802 feat(:source): source current ft=lua buffer as Lua code
  runtime/doc/news.txt
  runtime/doc/repeat.txt
  src/nvim/runtime.c
  test/functional/ex_cmds/source_spec.lua
Labels: lua

#23884 vim-patch:9.0.1599: Cursor not adjusted when 'splitkeep' is not "cursor"
  src/nvim/edit.c
  src/nvim/normal.c
  src/nvim/window.c
  test/old/testdir/test_window_cmd.vim
Labels: vim-patch, backport release-0.9

#23886 build(deps): bump luajit to HEAD - 51fb2f2c3
  cmake.deps/deps.txt
Labels: build, dependencies

#23845 docs(iter): add emmylua type to iter module
  runtime/lua/vim/iter.lua
Labels: documentation

#22846 feat!: rename vim.loop -> vim.uv
  runtime/doc/builtin.txt
  runtime/doc/deprecated.txt
  runtime/doc/help.txt
  runtime/doc/lua.txt
  runtime/doc/luvref.txt
  runtime/doc/news.txt
  runtime/lua/_vim9script.lua
  runtime/lua/man.lua
  runtime/lua/nvim/health.lua
  runtime/lua/provider/health.lua
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_watch.lua
  runtime/lua/vim/filetype/options.lua
  runtime/lua/vim/fs.lua
  runtime/lua/vim/loader.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/health.lua
  runtime/lua/vim/lsp/log.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/secure.lua
  runtime/lua/vim/treesitter/languagetree.lua
  src/nvim/eval/funcs.c
  src/nvim/lua/executor.c
  test/benchmark/autocmd_spec.lua
  test/benchmark/iter_spec.lua
  test/benchmark/treesitter_spec.lua
  test/busted_runner.lua
  test/functional/core/startup_spec.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/fixtures/start/nvim-leftpad/lua/async_leftpad.lua
  test/functional/lua/highlight_spec.lua
  test/functional/lua/loop_spec.lua
  test/functional/lua/overrides_spec.lua
  test/functional/lua/thread_spec.lua
  test/functional/lua/vim_spec.lua
  test/functional/plugin/lsp/helpers.lua
  test/functional/plugin/lsp_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/treesitter/parser_spec.lua
Labels: lua

#23714 perf(iter): make ListIter.totable more efficient
  runtime/lua/vim/iter.lua
Labels: performance

#23892 fix(folds): allow overlay virtual text on folded line
  src/nvim/api/vim.c
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks, folds

#23864 fix(api): dont change curwin for nvim_win_set_height
  src/nvim/api/window.c
  test/functional/api/window_spec.lua
Labels: api

#23896 vim-patch:9.0.1601: filetype detection fails for *.conf file without comments
  runtime/lua/vim/filetype/detect.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#23897 vim-patch:9.0.1602: stray character visible if marker on top of double-wide char
  src/nvim/grid.c
  test/functional/legacy/scroll_opt_spec.lua
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#23889 feat(lsp): set kind in select call for codelens
  runtime/lua/vim/lsp/codelens.lua
Labels: lsp

#23711 fix(events)!: trigger CursorMoved later on switching window
  runtime/doc/autocmd.txt
  runtime/doc/news.txt
  src/nvim/window.c
  test/functional/autocmd/cursormoved_spec.lua
  test/functional/ui/float_spec.lua
Labels: events, breaking-change

#23899 fix(ui): don't send empty grid_line with redrawdebug=compositor
  src/nvim/ui_compositor.c
  test/functional/ui/screen.lua
  test/functional/ui/screen_basic_spec.lua
Labels: ui, backport release-0.9

#23906 vim-patch:9.0.1606: using freed memory when 'foldcolumn' is set
  src/nvim/drawline.c
  test/old/testdir/test_fold.vim
Labels: vim-patch

#14630 fix(lsp): restore marks after `apply_text_edits`
  runtime/doc/news.txt
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp

#23908 vim-patch:9.0.{1600,1607}: screenpos() fixes
  src/nvim/move.c
  src/nvim/plines.c
  test/functional/ui/fold_spec.lua
  test/functional/vimscript/screenpos_spec.lua
  test/old/testdir/test_cursor_func.vim
Labels: vim-patch, backport release-0.9

#23868 fix(lsp): set extra info only when it have value
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#23788 refactor(lsp): use LPeg for watchfiles matching
  runtime/lua/vim/lsp/_watchfiles.lua
  test/functional/plugin/lsp/watchfiles_spec.lua
Labels: refactor, lsp

#23910 test(core/startup_spec): add a test for #13720
  test/functional/core/startup_spec.lua
Labels: test

#23912 fix(mouse): handle folded lines with virt_lines attached to line above
  src/nvim/mouse.c
  src/nvim/plines.c
  test/functional/ui/fold_spec.lua
Labels: mouse

#23907 defaults: shortmess+=C
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/options.lua
Labels: defaults

#23903 fix(lsp): use only utf-16 in default client positionEncodings
  runtime/doc/news.txt
  runtime/lua/vim/lsp/protocol.lua
Labels: lsp

#23922 fix(editorconfig): check that buffer is valid
  runtime/lua/editorconfig.lua
  test/functional/plugin/editorconfig_spec.lua
Labels: backport release-0.9

#23927 vim-patch:9.0.{1603,1610}: display wrong if scrolling multiple lines with 'smoothscroll'
  src/nvim/move.c
  test/functional/legacy/scroll_opt_spec.lua
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#23928 vim-patch:9.0.1612: "skipcol" not reset when using multi-byte characters
  src/nvim/move.c
  test/functional/legacy/scroll_opt_spec.lua
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#23926 vim-patch:9.0.1613: some make output gets picked up by 'errorformat'
  src/nvim/option_defs.h
  test/old/testdir/test_quickfix.vim
Labels: vim-patch

#23929 fix(spell): splice extmarks on :spellrepall
  src/nvim/spell.c
  test/functional/lua/buffer_updates_spec.lua
Labels: extmarks, spell

#23930 vim-patch:partial:8.2.4950: text properties position wrong after shifting text
  src/nvim/ops.c
Labels: vim-patch

#23933 fix(statusline): redraw when VIsual_mode changes
  src/nvim/buffer_defs.h
  src/nvim/drawscreen.c
  test/functional/ui/statusline_spec.lua
Labels: statusline, backport release-0.9

#23936 refactor(api): remove `BOOL` macro
  src/nvim/api/private/helpers.h
  src/nvim/msgpack_rpc/unpacker.c
  src/nvim/option.c
Labels: api, refactor

#23919 refactor!: rename "playground" => "dev"
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/dev.lua
  scripts/gen_vimdoc.py
Labels: refactor, treesitter, breaking-change

#23940 vim-patch:9.0.1614: strlen() called too often for :spellrepall
  src/nvim/spell.c
  test/old/testdir/test_spell.vim
Labels: vim-patch, spell

#22500 refactor(defaults): do not use C specific default values for options
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  runtime/ftplugin/c.lua
  src/nvim/options.lua
  test/functional/api/buffer_spec.lua
  test/old/testdir/setup.vim
Labels: needs:decision, defaults, refactor

#23668 build!: remove neovim qt
  .github/workflows/notes.md
  CMakeLists.txt
  cmake.deps/CMakeLists.txt
  cmake.packaging/CMakeLists.txt
  src/nvim/CMakeLists.txt
Labels: build, ci, dependencies, breaking-change

#23850 refactor(options): remove `getoption_T` and introduce `OptVal`
  src/nvim/api/deprecated.c
  src/nvim/api/options.c
  src/nvim/api/private/helpers.h
  src/nvim/api/vim.c
  src/nvim/buffer.c
  src/nvim/context.c
  src/nvim/diff.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/vars.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/globals.h
  src/nvim/help.c
  src/nvim/highlight_group.c
  src/nvim/main.c
  src/nvim/memline.c
  src/nvim/option.c
  src/nvim/option.h
  src/nvim/option_defs.h
  src/nvim/optionstr.c
  src/nvim/popupmenu.c
  src/nvim/quickfix.c
  src/nvim/runtime.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/terminal.c
  src/nvim/ui.c
  test/old/testdir/test_vimscript.vim
Labels: refactor, options

#23943 fix(events): don't expand non-file as file name
  src/nvim/autocmd.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/ex_docmd.c
  src/nvim/globals.h
  src/nvim/path.c
  test/functional/api/autocmd_spec.lua
Labels: events, backport release-0.9

#23945 refactor(options): use slash separator for `option_get_valid_types()`
  src/nvim/option.c
Labels: refactor, options

#23611 grouping optimization for linematch algorithm
  src/nvim/linematch.c
  test/functional/ui/linematch_spec.lua
Labels: diff

#23948 fix(lsp): reduce diagnostics and add more types
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/protocol.lua
Labels: lsp

#23950 vim-patch:9.0.1615: URL shortcut files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#23951 vim-patch:9.0.1616: quickfix text field is truncated
  src/nvim/quickfix.c
  test/old/testdir/test_quickfix.vim
Labels: vim-patch, backport release-0.9

#22894 feat(lua): add ringbuffer
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/shared.lua
  test/functional/lua/vim_spec.lua
Labels: lua

#23960 vim-patch:9.0.1618: Trace32 files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#23961 vim-patch:9.0.1620: Nix files are not recognized from the hashbang line
  runtime/lua/vim/filetype/detect.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#23958 feat(lsp)!: add vim.lsp.status, client.progress and promote LspProgressUpdate
  runtime/doc/deprecated.txt
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/types.lua
  runtime/lua/vim/lsp/util.lua
  src/nvim/auevents.lua
Labels: lsp, breaking-change

#23963 vim-patch:9.0.1617: charidx() result is not consistent with byteidx()
  runtime/doc/builtin.txt
  src/nvim/strings.c
  test/old/testdir/test_functions.vim
Labels: vim-patch

#23967 vim-patch:9.0.1622: filetype name t32 is a bit obscure
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#23917 docs: fix typos
  runtime/doc/lua.txt
  runtime/lua/vim/fs.lua
  runtime/lua/vim/keymap.lua
Labels: typo

#23970 test: more tests for nvim_{set,del}_keymap with abbreviation
  runtime/doc/api.txt
  runtime/doc/news.txt
  src/nvim/api/vim.c
  test/functional/api/keymap_spec.lua
Labels: test

#23973 ci: add runner image version to cache key
  .github/actions/cache/action.yml
Labels: ci, backport release-0.9

#23971 fix(lsp): use percentage format on lsp.status
  runtime/lua/vim/lsp.lua
Labels: lsp

#23957 feat(lua): use callable table as iterator in vim.iter
  runtime/doc/lua.txt
  runtime/lua/vim/iter.lua
  test/functional/lua/iter_spec.lua
Labels: lua

#23978 vim-patch:9.0.1626: Visual area not shown when using 'showbreak'
  src/nvim/drawline.c
  src/nvim/grid.c
  test/functional/legacy/highlight_spec.lua
  test/old/testdir/test_highlight.vim
Labels: vim-patch

#23975 fix(helptags): make multibyte help tags work properly
  src/nvim/help.c
  src/nvim/tag.c
  test/functional/ex_cmds/help_spec.lua
Labels: unicode 💩, backport release-0.9

#23980 fix(remote): make --remote-expr print to stdout
  runtime/lua/vim/_editor.lua
  src/nvim/main.c
  test/functional/core/remote_spec.lua
  test/functional/ex_cmds/help_spec.lua
Labels: remote, backport release-0.9

#23736 feat(lsp): add handlers for inlay hints
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/_inlay_hint.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/lsp/types.lua
  scripts/gen_vimdoc.py
  test/functional/plugin/lsp/inlay_hint_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#23977 vim-patch:10e8ff9b2607
  runtime/doc/autocmd.txt
  runtime/doc/builtin.txt
  runtime/doc/cmdline.txt
  runtime/doc/eval.txt
  runtime/doc/map.txt
  runtime/doc/nvim_terminal_emulator.txt
  runtime/doc/options.txt
  runtime/doc/repeat.txt
  runtime/doc/spell.txt
  runtime/doc/starting.txt
  runtime/doc/userfunc.txt
  runtime/ftplugin/corn.vim
  runtime/ftplugin/fennel.vim
  runtime/ftplugin/urlshortcut.vim
  runtime/syntax/meson.vim
  runtime/syntax/structurizr.vim
  runtime/syntax/swayconfig.vim
  runtime/syntax/urlshortcut.vim
  runtime/syntax/xpm.vim
Labels: runtime, vim-patch

#23986 vim-patch:f1dcd14fc5d4
  runtime/doc/builtin.txt
  runtime/doc/options.txt
Labels: documentation, vim-patch

#23968 build(nix): use the correct versions of the bundled treesitter parsers
  contrib/flake.lock
  contrib/flake.nix
Labels: build, platform:nix

#23988 fix(remote): restore previous --remote-expr output formatting
  runtime/lua/vim/_editor.lua
  src/nvim/main.c
  test/functional/core/remote_spec.lua
Labels: remote, backport release-0.9

#23985 refactor(treesitter): simplify _query_linter.lua using `vim.F.npcall`
  runtime/lua/vim/treesitter/_query_linter.lua
Labels: treesitter

#23991 fix(docs): add supported semantic token methods to :h lsp-method
  runtime/doc/lsp.txt
Labels: documentation

#23925 feat(version): add build field to vim.version()
  cmake/GenerateVersion.cmake
  src/nvim/version.c
  test/functional/api/version_spec.lua
Labels: build, lua

#23954 feat(lua): vim.version() returns Version object
  runtime/lua/vim/version.lua
  test/functional/lua/version_spec.lua
Labels: lua

#23994 test(old): reorder test_substitute.vim to match upstream
  test/old/testdir/test_substitute.vim
Labels: test

#23995 vim-patch:8.2.{1524,2948,2949}: Float to String conversion
  src/nvim/eval/typval.c
  test/functional/legacy/glob2regpat_spec.lua
  test/functional/vimscript/execute_spec.lua
  test/functional/vimscript/writefile_spec.lua
  test/old/testdir/test_eval_stuff.vim
  test/old/testdir/test_execute_func.vim
  test/old/testdir/test_float_func.vim
  test/old/testdir/test_functions.vim
  test/old/testdir/test_glob2regpat.vim
  test/old/testdir/test_listdict.vim
  test/old/testdir/test_substitute.vim
  test/old/testdir/vim9.vim
  test/unit/eval/typval_spec.lua
Labels: vim-patch

#23996 vim-patch:8.2.{2533,3191,3202,partial:3335}
  src/nvim/eval.c
  src/nvim/eval/typval.c
  src/nvim/eval/vars.c
  test/old/testdir/test_listdict.vim
  test/old/testdir/vim9.vim
Labels: vim-patch

#23998 vim-patch:8.2.{3852,3853}
  src/nvim/eval.c
  test/old/testdir/test_listdict.vim
Labels: vim-patch

#24000 vim-patch:8.2.{3332,3338}
  src/nvim/eval.c
  src/nvim/eval/typval.c
  test/old/testdir/test_listdict.vim
Labels: vim-patch

#24001 vim-patch:8.2.4600: Vim9: not enough test coverage for executing :def function
  src/nvim/eval/vars.c
  test/old/testdir/test_listdict.vim
Labels: vim-patch

#24005 fix(extmarks): handle inline virt_text with empty chunk
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#24013 fix(lsp): handle stale bufnr on LspRequest autocmd trigger
  runtime/lua/vim/lsp.lua
Labels: lsp

#23887 fix(codelens): add buffer and line checks before displaying codelens
  runtime/lua/vim/lsp/codelens.lua
Labels: lsp, backport release-0.9

#24015 fix(tui): spawn child process with --embed using argv[0].
  src/nvim/ui_client.c
Labels: tui

#23500 perf(lsp): reduce polling handles for workspace/didChangeWatchedFiles
  runtime/lua/vim/_watch.lua
  runtime/lua/vim/lsp/_watchfiles.lua
  test/functional/lua/watch_spec.lua
Labels: performance, lsp

#24024 docs(ex_cmds): add migration guide from `behave xterm`
  runtime/doc/news.txt
Labels: documentation

#24026 vim-patch:9.0.1631: passing wrong variable type to option gives multiple errors
  src/nvim/eval/vars.c
  src/nvim/option.c
  test/old/testdir/test_let.vim
  test/old/testdir/test_options.vim
  test/old/testdir/test_vimscript.vim
Labels: vim-patch

#24027 fix(extmarks): don't position overlay virt_text halfway a char
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#24028 test(decorations_spec): add test for extmark case of #21486
  test/functional/ui/decorations_spec.lua
Labels: test

#24034 vim-patch:9.0.1636: expanding a pattern interferes with cmdline completion
  src/nvim/cmdexpand.c
  test/old/testdir/test_cmdline.vim
Labels: vim-patch, backport release-0.9

#24037 vim-patch:9.0.{1634,1635}: message is cleared when removing mode message
  src/nvim/message.c
  test/functional/legacy/messages_spec.lua
  test/functional/terminal/tui_spec.lua
  test/old/testdir/test_messages.vim
Labels: vim-patch

#24042 vim-patch:9.0.1637: compiler warning for uninitialized variable
  src/nvim/fileio.c
Labels: vim-patch

#24041 fix(lsp): allow Lua pattern chars in code action filter
  runtime/lua/vim/lsp/buf.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#24053 vim-patch:9.0.1638: crypt tests hang and cause memory errors
  src/nvim/fileio.c
Labels: vim-patch

#24052 fix(treesitter): use vim.highlight.priorities instead of hardcoded 100
  runtime/lua/vim/treesitter/highlighter.lua
Labels: treesitter

#22363 docs
  CONTRIBUTING.md
  MAINTAIN.md
  runtime/doc/api.txt
  runtime/doc/builtin.txt
  runtime/doc/deprecated.txt
  runtime/doc/develop.txt
  runtime/doc/editing.txt
  runtime/doc/insert.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/doc/ui.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/iter.lua
  src/man/nvim.1
  src/nvim/api/window.c
  src/nvim/main.c
  test/old/testdir/test_startup.vim
Labels: documentation

#23138 docs: add deprecation procedures to MAINTAIN.md
  MAINTAIN.md
Labels: documentation

#24061 docs
  runtime/doc/api.txt
  runtime/doc/builtin.txt
  runtime/doc/channel.txt
  runtime/doc/deprecated.txt
  runtime/doc/develop.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/map.txt
  runtime/doc/options.txt
  runtime/doc/pattern.txt
  runtime/doc/russian.txt
  runtime/doc/starting.txt
  runtime/doc/usr_11.txt
  runtime/doc/usr_45.txt
  runtime/doc/various.txt
  runtime/lua/vim/lsp.lua
  scripts/gen_help_html.lua
Labels: documentation

#23984 feat(lsp): inlay hints
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/_inlay_hint.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/handlers.lua
  scripts/gen_vimdoc.py
  test/functional/plugin/lsp/inlay_hint_spec.lua
Labels: lsp

#24065 refactor(lsp): extract common execute command functionality
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/lsp/types.lua
  test/functional/fixtures/fake-lsp-server.lua
Labels: refactor, lsp

#24069 refactor(option): use `void *` for pointer to option value
  src/nvim/generators/gen_options.lua
  src/nvim/option.c
  src/nvim/option_defs.h
  src/nvim/optionstr.c
Labels: refactor

#24077 fix(lsp): return a success bool after buf client attach
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#24073 fix(lsp): define LspInlayHint highlight group
  src/nvim/highlight_group.c
Labels: lsp

#24079 refactor(lsp): add spacing for inlay hints separately
  runtime/lua/vim/lsp/_inlay_hint.lua
Labels: refactor, lsp

#24070 fix(lua)!: remove vim.json global options, "null", "array_mt"
  runtime/doc/lua.txt
  runtime/doc/news.txt
  src/cjson/lua_cjson.c
  test/functional/lua/json_spec.lua
Labels: lua, breaking-change

#24084 fix(folds): don't show search or match highlighting on fold
  src/nvim/drawline.c
  test/functional/ui/fold_spec.lua
Labels: folds

#24086 lsp: document ctx.version, report full Nvim version
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
Labels: lsp

#24098 Fix two extmark bugs
  src/nvim/api/extmark.c
  src/nvim/drawline.c
  test/functional/api/extmark_spec.lua
  test/functional/ui/decorations_spec.lua
Labels: api, extmarks

#24096 perf(lsp): remove grouping logic from lsp.status
  runtime/lua/vim/lsp.lua
Labels: lsp

#24087 docs: lsp, fix errors, gen_help_html features
  runtime/doc/autocmd.txt
  runtime/doc/eval.txt
  runtime/doc/filetype.txt
  runtime/doc/lsp.txt
  runtime/doc/options.txt
  runtime/doc/pattern.txt
  runtime/doc/syntax.txt
  runtime/doc/vi_diff.txt
  runtime/doc/vim_diff.txt
  scripts/gen_help_html.lua
Labels: documentation

#24101 fix(extmarks): empty inline virt_text interfering with DiffText
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#24106 fix(extmarks): hide inline virt_text properly with 'smoothscroll'
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#24109 test: spellcheck :help (vimdoc) files
  runtime/doc/api.txt
  runtime/doc/builtin.txt
  runtime/doc/develop.txt
  runtime/doc/filetype.txt
  runtime/doc/help.txt
  runtime/doc/if_perl.txt
  runtime/doc/if_pyth.txt
  runtime/doc/intro.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/message.txt
  runtime/doc/news-0.9.txt
  runtime/doc/provider.txt
  runtime/doc/starting.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_meta.lua
  runtime/lua/vim/loader.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  scripts/gen_help_html.lua
  src/nvim/api/buffer.c
  src/nvim/api/command.c
  src/nvim/api/extmark.c
  src/nvim/api/private/converter.c
  src/nvim/api/private/defs.h
  src/nvim/api/private/helpers.c
  src/nvim/api/private/helpers.h
  src/nvim/api/vim.c
  src/nvim/api/vimscript.c
  src/nvim/api/window.c
  test/functional/lua/help_spec.lua
Labels: test, lsp

#24111 fix(messages): use "Vimscript" instead of "VimL"
  README.md
  runtime/autoload/msgpack.vim
  runtime/autoload/shada.vim
  runtime/doc/vim_diff.txt
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/eval/decode.c
  src/nvim/eval/encode.c
  src/nvim/eval/encode.h
  src/nvim/eval/funcs.c
  src/nvim/eval/funcs.h
  src/nvim/eval/typval.c
  src/nvim/eval/typval.h
  src/nvim/eval/typval_defs.h
  src/nvim/eval/typval_encode.h
  src/nvim/event/multiqueue.c
  src/nvim/func_attr.h
  src/nvim/insexpand.c
  src/nvim/lua/converter.c
  src/nvim/lua/executor.c
  src/nvim/quickfix.c
  src/nvim/runtime.c
  src/nvim/shada.c
  src/nvim/strings.c
  src/nvim/types.h
  src/nvim/viml/parser/expressions.c
  test/functional/api/vim_spec.lua
  test/functional/ex_cmds/dict_notifications_spec.lua
  test/functional/ex_cmds/swapfile_preserve_recover_spec.lua
  test/functional/helpers.lua
  test/functional/provider/clipboard_spec.lua
  test/functional/vimscript/input_spec.lua
Labels: messages

#24104 feat(lsp): soft deprecate vim.lsp.for_each_buffer_client
  runtime/doc/deprecated.txt
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp.lua
Labels: lsp

#24099 feat(extmarks): support hl_mode "combine" for inline virt_text
  runtime/doc/api.txt
  src/nvim/api/extmark.c
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#24120 vim-patch:9.0.1645: zserio files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#24123 fix(cmdline): don't redraw 'tabline' in Ex mode
  src/nvim/ex_getln.c
  test/functional/ui/cmdline_spec.lua
Labels: backport release-0.9

#24114 fix(lsp): don't reapply already applied hints
  runtime/lua/vim/lsp/_inlay_hint.lua
Labels: lsp

#24108 fix(lint): update luarc.json for disable doc lint
  contrib/luarc.json
  runtime/lua/vim/lsp.lua
Labels: lsp

#24135 ci: introduce CI_LINT option
  .github/workflows/test.yml
  CMakeLists.txt
  cmake/Util.cmake
Labels: build, ci

#24117 fix(lsp): exit early in clear if `bufstates[bufnr]` is nil
  runtime/lua/vim/lsp/_inlay_hint.lua
Labels: lsp

#23851 fix(extmarks): fix heap buffer overflow caused by inline virtual text
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#24082 fix(filetype): correctly detect bash-fc-{id} files as "sh" (vim-patch:9.0.1644)
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: filetype

#24139 vim-patch:9.0.1659: Termdebug: default highlight cleared if changing colorscheme
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: vim-patch

#24140 test(extmarks): add a test for #23848
  test/functional/ui/decorations_spec.lua
Labels: test, extmarks

#24142 vim-patch:9.0.1661: BUCK files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#24145 vim-patch:9.0.1663: Termdebug on MS-Windows: some file names are not recognized
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: vim-patch

#24154 vim-patch:8.2.3833,9.0.1665
  src/nvim/autocmd.c
  test/old/testdir/test_ex_mode.vim
Labels: vim-patch, backport release-0.9

#24158 fix(charset): fix wrong display of 0xffff
  src/nvim/charset.c
  test/functional/ui/multibyte_spec.lua
Labels: backport release-0.9

#24148 fix(treesitter): update lua parser and queries
  cmake.deps/deps.txt
  runtime/queries/lua/highlights.scm
  runtime/queries/lua/injections.scm
Labels: dependencies, treesitter

#24153 fix(docs): vimdoc syntax errors
  cmake.deps/deps.txt
  runtime/doc/builtin.txt
  runtime/doc/indent.txt
  runtime/doc/index.txt
  runtime/doc/motion.txt
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/doc/tips.txt
  runtime/doc/usr_29.txt
  runtime/doc/usr_40.txt
Labels: documentation

#24025 vim-patch:9.0.1632: not all cabal config files are recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#24170 vim-patch:9.0.{1664,1667}: divide by zero when scrolling with 'smoothscroll' set
  src/nvim/move.c
  test/functional/legacy/scroll_opt_spec.lua
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#24169 vim-patch:9.0.1668: PEM files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#24144 docs(diagnostic): diagnostic-structure in the return value of get()
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
Labels: documentation, diagnostic

#24167 fix(treesitter): make foldexpr work without highlighting
  runtime/lua/vim/treesitter/_fold.lua
  test/functional/treesitter/parser_spec.lua
Labels: treesitter

#24173 fix(treesitter): handle empty region when logging
  runtime/lua/vim/treesitter/languagetree.lua
Labels: treesitter

#24185 vim-patch:9.0.1670: resetting local option to global value is inconsistent
  src/nvim/option.c
  test/old/testdir/test_options.vim
Labels: vim-patch

#24181 fix(api): nvim_cmd{cmd="win_getid"} parsed as :winsize
  src/nvim/README.md
  src/nvim/api/command.c
  test/functional/api/vim_spec.lua
Labels: api

#24190 fix(column): use maxwidth to allocate/fill 'statuscolumn' click defs
  src/nvim/statusline.c
Labels: column, backport release-0.9

#24194 vim-patch:9.0.1671: Termdebug: error with more than 99 breakpoints
  runtime/doc/nvim_terminal_emulator.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: vim-patch

#24197 test(statusline): add test with control characters
  test/functional/ui/statusline_spec.lua
Labels: test, statusline

#24198 fix(column): handle unprintable chars in 'statuscolumn'
  src/nvim/drawline.c
  test/functional/ui/statuscolumn_spec.lua
Labels: column, backport release-0.9

#24200 refactor: remove some casts to char *
  src/nvim/cmdhist.c
  src/nvim/eval/funcs.c
  src/nvim/ex_cmds.c
  src/nvim/message.c
  src/nvim/path.c
  src/nvim/statusline.c
Labels: refactor, backport release-0.9

#24202 fix(lsp): assign {} to bufstates.applied in on_reload
  runtime/lua/vim/lsp/_inlay_hint.lua
Labels: lsp

#24207 fix(statusline): fill for double-width char after moving items
  src/nvim/statusline.c
  test/functional/ui/tabline_spec.lua
Labels: unicode 💩, statusline, backport release-0.9

#24203 docs(luaref): fix tags for constants
  runtime/doc/luaref.txt
Labels: documentation

#24130 feat(lsp): move inlay_hint() to vim.lsp
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  test/functional/plugin/lsp/inlay_hint_spec.lua
Labels: lsp

#24147 fix(ftplugin): respect runtimepath ordering
  runtime/ftplugin.vim
  test/functional/lua/runtime_spec.lua
Labels: runtime, backport release-0.9

#24212 fix(lsp): fix attempt to call non existent function
  runtime/lua/vim/lsp/inlay_hint.lua
Labels: lsp
