Repository neovim/neovim, pull requests merged in 2023-11, with the labels that each got.

#25709 feat(server): allow embed with listen
  runtime/doc/starting.txt
  src/nvim/api/ui.c
  src/nvim/main.c
  test/functional/ui/embed_spec.lua
Labels: server, ui-ext, startup

#25860 fix(startup): trigger UIEnter for the correct channel
  src/nvim/autocmd.c
  src/nvim/main.c
  src/nvim/ui.c
  test/functional/api/ui_spec.lua
  test/functional/ui/embed_spec.lua
Labels: startup

#25852 build: set char to always be signed
  .github/workflows/test.yml
  src/nvim/CMakeLists.txt
Labels: build, ci

#25862 ci: add optional CI that can be triggered manually
  .github/workflows/optional.yml
Labels: ci, ci-s390x

#25859 refactor(extmarks): extmark_del() with MarkTreeIter
  src/nvim/api/extmark.c
  src/nvim/extmark.c
Labels: refactor, extmarks

#25875 build: use built nvim artifact to generate eval files
  .github/workflows/api-docs.yml
  scripts/gen_eval_files.lua
  src/nvim/CMakeLists.txt
Labels: build

#25876 build: make the vimdoc generation depend on the nvim target
  src/nvim/CMakeLists.txt
Labels: build

#25880 test(ui/embed_spec): make sure server is started
  test/functional/ui/embed_spec.lua
Labels: test

#25874 refactor(grid): implement rightleftcmd as a post-processing step
  src/nvim/ex_getln.c
  src/nvim/grid.c
  src/nvim/grid.h
  src/nvim/grid_defs.h
  src/nvim/message.c
  src/nvim/spellsuggest.c
  test/functional/ui/cmdline_spec.lua
Labels: refactor

#25744 ci: various fixes
  .github/actions/cache/action.yml
  .github/scripts/install_deps.sh
  .github/scripts/reviews.js
  .github/workflows/build.yml
  .github/workflows/lintcommit.yml
  .github/workflows/optional.yml
  .github/workflows/test.yml
Labels: ci

#25581 fix(rpc): `grid_line_event` parsing crashes
  src/nvim/msgpack_rpc/unpacker.c
  test/helpers.lua
  test/unit/helpers.lua
  test/unit/msgpack_spec.lua
Labels: ui, rpc

#25873 fix(lsp): create per client params in lsp.buf.code_action
  runtime/lua/vim/lsp/buf.lua
Labels: lsp

#25889 vim-patch:2f54c13292af
  runtime/lua/vim/filetype/detect.lua
Labels: vim-patch, filetype

#25888 vim-patch:ce3b0136c6d9
  runtime/syntax/sh.vim
Labels: vim-patch

#25387 docs(treesitter): add disclaimer about needing to parse before `get_node()`
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter.lua
Labels: treesitter

#25890 vim-patch:9.0.2090: complete_info() skips entries with 'noselect'
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#25792 build: various cmake fixes
  .github/workflows/test.yml
  CMakeLists.txt
  Makefile
  cmake.config/CMakeLists.txt
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/LibtermkeyCMakeLists.txt
  src/nvim/CMakeLists.txt
  src/nvim/types.h
Labels: build, ci-s390x

#25898 ci: don't install unzip
  .github/scripts/install_deps.sh
  .github/workflows/optional.yml
Labels: ci

#25892 refactor: combine regexp files
  .clang-tidy
  cmake.config/iwyu/mapping.imp
  src/nvim/CMakeLists.txt
  src/nvim/regexp.c
  src/nvim/regexp.h
  src/nvim/regexp_bt.c
  src/nvim/regexp_nfa.c
Labels: build, refactor, ci

#25882 feat(extmarks): add "no_undo_restore" flag to opt out of undo-restoring
  runtime/doc/news.txt
  src/nvim/api/deprecated.c
  src/nvim/api/extmark.c
  src/nvim/api/keysets.h
  src/nvim/decoration.c
  src/nvim/extmark.c
  src/nvim/extmark.h
  src/nvim/marktree.c
  src/nvim/marktree.h
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#25902 build(deps): bump libiconv to 1.17
  cmake.deps/deps.txt
Labels: build, dependencies

#25901 build(deps): bump luajit to HEAD - 0afa1676b
  cmake.deps/deps.txt
Labels: build, dependencies

#25428 refactor: the long goodbye
  src/nvim/assert.h
  src/nvim/buffer.c
  src/nvim/change.c
  src/nvim/charset.c
  src/nvim/cursor_shape.c
  src/nvim/diff.c
  src/nvim/drawline.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/eval/typval.h
  src/nvim/eval/userfunc.c
  src/nvim/eval/vars.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/ex_session.c
  src/nvim/fileio.c
  src/nvim/fold.c
  src/nvim/generators/gen_options.lua
  src/nvim/getchar.c
  src/nvim/help.c
  src/nvim/highlight_group.c
  src/nvim/indent.c
  src/nvim/input.c
  src/nvim/insexpand.c
  src/nvim/lua/executor.c
  src/nvim/lua/spell.c
  src/nvim/lua/stdlib.c
  src/nvim/lua/xdiff.c
  src/nvim/main.c
  src/nvim/mark.c
  src/nvim/mbyte.c
  src/nvim/memfile.c
  src/nvim/memline.c
  src/nvim/message.c
  src/nvim/mouse.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/os/shell.c
  src/nvim/profile.c
  src/nvim/quickfix.c
  src/nvim/regexp.c
  src/nvim/search.c
  src/nvim/search.h
  src/nvim/shada.c
  src/nvim/sign.c
  src/nvim/spell.c
  src/nvim/spellsuggest.c
  src/nvim/statusline.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/textobject.c
  src/nvim/undo.c
  src/nvim/window.c
  src/xdiff/xdiff.h
Labels: refactor

#25828 build: enable ASAN for MSVC
  CMakeLists.txt
  CONTRIBUTING.md
  src/nvim/CMakeLists.txt
Labels: build

#25903 build: remove git requirement
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#25910 build(deps): bump luajit to HEAD - 07b3cd3cf
  cmake.deps/deps.txt
Labels: build, dependencies

#25905 refactor(grid): reimplement 'rightleft' as a post-processing step
  src/nvim/charset.c
  src/nvim/drawline.c
  src/nvim/grid.c
  src/nvim/spellsuggest.c
Labels: refactor

#25912 vim-patch:da4e433dc3be
  runtime/doc/eval.txt
  runtime/doc/pi_gzip.txt
  runtime/doc/pi_zip.txt
Labels: documentation, vim-patch

#25916 fix(build): include FindPackageHandleStandardArgs
  cmake.deps/CMakeLists.txt
Labels: build, dependencies

#25868 feat(tui): use TermResponse event for OSC responses
  runtime/doc/api.txt
  runtime/doc/autocmd.txt
  runtime/doc/eval.txt
  runtime/doc/news.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/ui.c
  src/nvim/tui/input.c
Labels: tui, ui-ext

#25900 ci: work around flaky python3 tests
  .github/workflows/test.yml
Labels: ci

#25911 fix(lua): correct return value for on_key with no arguments
  runtime/lua/vim/_editor.lua
  test/functional/lua/vim_spec.lua
Labels: lua, backport release-0.9

#25922 fix(man): make :Man with a range work
  runtime/plugin/man.lua
Labels: backport release-0.9

#25924 test(ui/decorations_spec): avoid flakiness caused by undo msg
  test/functional/ui/decorations_spec.lua
Labels: test

#23818 build: allow using system rocks
  CMakeLists.txt
Labels: build

#25917 build(deps): bump libuv to v1.47.0
  cmake.deps/deps.txt
Labels: build, dependencies

#25872 feat(clipboard): add OSC 52 clipboard support
  runtime/doc/news.txt
  runtime/doc/provider.txt
  runtime/lua/vim/clipboard/osc52.lua
  src/nvim/tui/input.c
Labels: clipboard

#25927 fix(job-control): make jobwait() flush UI after hiding cursor
  src/nvim/eval/funcs.c
  test/functional/core/job_spec.lua
Labels: job-control

#25931 build(deps): bump luajit to HEAD - b94fbfbee
  cmake.deps/deps.txt
Labels: build, dependencies

#25767 feat(extmarks): add 'invalidate' property
  runtime/doc/api.txt
  runtime/doc/news.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/api_keysets.lua
  src/nvim/api/deprecated.c
  src/nvim/api/extmark.c
  src/nvim/api/keysets.h
  src/nvim/decoration.c
  src/nvim/extmark.c
  src/nvim/extmark.h
  src/nvim/marktree.c
  src/nvim/marktree.h
  test/functional/api/extmark_spec.lua
Labels: api, extmarks

#25929 refactor: move defaults into separate module
  runtime/lua/vim/_defaults.lua
  runtime/lua/vim/_editor.lua
  src/nvim/CMakeLists.txt
  src/nvim/lua/executor.c
  src/nvim/main.c
Labels: build, refactor

#25936 fix(clipboard): increase OSC 52 wait timeout
  runtime/lua/vim/clipboard/osc52.lua
Labels: clipboard

#25941 vim-patch:9.0.2095: statusline may look different than expected
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
  test/old/testdir/test_modeline.vim
  test/old/testdir/test_statusline.vim
Labels: vim-patch

#25942 vim-patch:9.0.{1791,1808,1809,1811},ca48202b6f46
  .github/scripts/install_deps.sh
  runtime/doc/nvim_terminal_emulator.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  test/old/testdir/setup.vim
  test/old/testdir/test_termdebug.vim
Labels: vim-patch

#25944 vim-patch:7fbbd7fdc6df
  runtime/doc/nvim_terminal_emulator.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  test/old/testdir/test_termdebug.vim
Labels: vim-patch

#25945 refactor(api): simplify nvim_set_keymap shortname check
  src/nvim/mapping.c
  test/functional/api/keymap_spec.lua
Labels: api, refactor

#25946 vim-patch:20a94f44b3cd
  runtime/doc/nvim_terminal_emulator.txt
Labels: documentation, vim-patch

#25951 vim-patch:8.2.{4140,4820,4825,4861,4932}
  runtime/doc/builtin.txt
  runtime/doc/map.txt
  runtime/doc/usr_41.txt
  runtime/lua/vim/_meta/vimfn.lua
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  src/nvim/eval.lua
  src/nvim/mapping.c
  test/functional/api/keymap_spec.lua
  test/functional/vimscript/map_functions_spec.lua
  test/old/testdir/test_map_functions.vim
Labels: vim-patch

#25959 refactor: change some xstrndup() and xstrnsave() to xmemdupz()
  src/nvim/api/command.c
  src/nvim/api/private/helpers.h
  src/nvim/autocmd.c
  src/nvim/cmdexpand.c
  src/nvim/context.c
  src/nvim/digraph.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/userfunc.c
  src/nvim/eval/vars.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/file_search.c
  src/nvim/fileio.c
  src/nvim/indent.c
  src/nvim/mapping.c
  src/nvim/match.c
  src/nvim/menu.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/optionstr.c
  src/nvim/os/env.c
  src/nvim/os/stdpaths.c
  src/nvim/path.c
  src/nvim/search.c
  src/nvim/sign.c
  src/nvim/spell.c
  src/nvim/spellsuggest.c
  src/nvim/strings.c
  src/nvim/tag.c
  src/nvim/window.c
Labels: refactor, column

#25961 vim-patch:8.2.4078: terminal test for current directory not used on FreeBSD
  test/old/testdir/test_mapping.vim
Labels: test, vim-patch

#25963 ci: remove UBSAN_OPTIONS environment variable
  .github/workflows/test.yml
Labels: ci

#25954 refactor(drawline): avoid xmalloc/xfree cycles on each screenline
  src/nvim/drawline.c
  src/nvim/memory.c
Labels: refactor

#25965 build(deps): bump luajit to HEAD - 69bbbf773
  cmake.deps/deps.txt
Labels: build, dependencies

#25972 build(deps): bump tree-sitter-markdown to v0.1.7
  cmake.deps/deps.txt
Labels: build, dependencies

#25955 docs: update contributing
  CONTRIBUTING.md
Labels: documentation

#25973 test: skip failing test on freebsd
  test/functional/lua/watch_spec.lua
Labels: test

#25975 fix(completion): make sure the buffer name is valid
  src/nvim/insexpand.c
  test/functional/editor/completion_spec.lua
Labels: completion

#25981 fix(highlight): apply 'winblend' to float border
  src/nvim/highlight.c
  src/nvim/option.c
  test/functional/ui/float_spec.lua
Labels: highlight

#25987 refactor: remove redundant casts
  src/nvim/api/vim.c
  src/nvim/arglist.c
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/buffer.h
  src/nvim/change.c
  src/nvim/cmdexpand.c
  src/nvim/cmdhist.c
  src/nvim/debugger.c
  src/nvim/diff.c
  src/nvim/eval.c
  src/nvim/eval/userfunc.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds.h
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/fold.c
  src/nvim/hashtab.c
  src/nvim/help.c
  src/nvim/indent.c
  src/nvim/main.c
  src/nvim/mapping.c
  src/nvim/mark.c
  src/nvim/memline.c
  src/nvim/message.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/optionstr.c
  src/nvim/path.c
  src/nvim/popupmenu.c
  src/nvim/quickfix.c
  src/nvim/regexp.c
  src/nvim/runtime.c
  src/nvim/search.c
  src/nvim/sign.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/textobject.c
  src/nvim/undo.c
  src/nvim/window.c
Labels: refactor

#25988 ci: skip api-doc workflow on draft PRs
  .github/workflows/api-docs.yml
Labels: ci

#25990 vim-patch:5994329667a6
  runtime/syntax/i3config.vim
Labels: vim-patch

#25989 vim-patch:9.0.2097: No support for cypher files
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#25993 vim-patch:1b08d2cd0789
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#25983 vim-patch:9.0.2098: No filetype support for xcompose files
  runtime/ftplugin/xcompose.vim
  runtime/lua/vim/filetype.lua
  runtime/syntax/xcompose.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#25997 vim-patch:9.0.2100: CI: test_termdebug fails
  src/nvim/textformat.c
  test/old/testdir/test_termdebug.vim
Labels: vim-patch

#25998 vim-patch:9358b8d99349
  runtime/syntax/vim.vim
Labels: vim-patch

#25999 fix(float): apply 'winblend' to title/footer highlight
  src/nvim/drawscreen.c
  src/nvim/highlight.c
  test/functional/ui/float_spec.lua
Labels: float

#26002 vim-patch:2c133f6c1a16
  runtime/ftplugin/lynx.vim
  runtime/syntax/lynx.vim
Labels: vim-patch

#26003 vim-patch:9.0.2101: CI: test_termdebug may still fail
  test/old/testdir/test_termdebug.vim
Labels: test, vim-patch

#26010 build: use stylua with add_glob_target
  .styluaignore
  CMakeLists.txt
Labels: build

#26009 vim-patch:2dd613f57bf1
  runtime/doc/nvim_terminal_emulator.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  test/old/testdir/test_termdebug.vim
Labels: vim-patch

#26013 vim-patch:9.0.2103: recursive callback may cause issues on some archs
  runtime/doc/message.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/eval.c
  src/nvim/options.lua
Labels: vim-patch

#26012 build: enforce PREFER_LUA
  CMakeLists.txt
Labels: build

#26016 vim-patch:8.2.{2985,2996,3003,3011,3013,3017,3026,3027,3039,3066,3086,3096,3116,3138,3395,3984,4020,4541}
  src/nvim/debugger.c
  test/old/testdir/test_debugger.vim
  test/old/testdir/test_lambda.vim
Labels: vim-patch

#26014 fix(clipboard): make osc52 work with PUC Lua
  runtime/lua/vim/clipboard/osc52.lua
Labels: clipboard

#26017 vim-patch:8.2.4809: various things no6 properly tested
  test/functional/legacy/debugger_spec.lua
  test/old/testdir/test_blob.vim
Labels: test, vim-patch

#26018 vim-patch:9.0.{0137,0336,0525}
  test/old/testdir/test_autocmd.vim
  test/old/testdir/test_buffer.vim
  test/old/testdir/test_changelist.vim
  test/old/testdir/test_clientserver.vim
  test/old/testdir/test_cmdline.vim
  test/old/testdir/test_cpoptions.vim
  test/old/testdir/test_debugger.vim
  test/old/testdir/test_delete.vim
  test/old/testdir/test_diffmode.vim
  test/old/testdir/test_digraph.vim
  test/old/testdir/test_display.vim
  test/old/testdir/test_edit.vim
  test/old/testdir/test_help_tagjump.vim
Labels: test, vim-patch

#26019 vim-patch:9.0.2102: matchparen highlight not cleared in completion mode
  runtime/plugin/matchparen.vim
  src/nvim/insexpand.c
  test/functional/legacy/display_spec.lua
  test/functional/legacy/matchparen_spec.lua
  test/old/testdir/test_display.vim
  test/old/testdir/test_matchparen.vim
Labels: vim-patch

#25885 feat(statuscolumn): always re-evaluate 'statuscolumn' for virtual lines
  src/nvim/drawline.c
  test/functional/ui/statuscolumn_spec.lua
Labels: column

#26021 test(old): reorder test_mksession.vim to match upstream
  test/old/testdir/test_mksession.vim
Labels: test

#26022 vim-patch:partial:8.0.1592,8.1.{0870,partial:1218,1581,2276,2373},8.2.{2112,4850}
  src/nvim/ex_session.c
  test/old/testdir/test_autocmd.vim
  test/old/testdir/test_bufwintabinfo.vim
  test/old/testdir/test_edit.vim
  test/old/testdir/test_execute_func.vim
  test/old/testdir/test_filter_cmd.vim
  test/old/testdir/test_makeencoding.vim
  test/old/testdir/test_mksession.vim
  test/old/testdir/test_normal.vim
  test/old/testdir/test_popup.vim
  test/old/testdir/test_tabpage.vim
  test/old/testdir/test_window_cmd.vim
Labels: vim-patch

#26023 vim-patch:8.1.0970: text properties test fails when 'encoding' is not utf-8
  test/old/testdir/runtest.vim
Labels: test, vim-patch

#26024 vim-patch:8.1.1521: when a popup window is closed the buffer remains
  src/nvim/window.c
Labels: vim-patch

#26008 vim-patch: mark N/A 8.1 patches
  scripts/vim-patch.sh
  src/nvim/version.c
Labels: vim-patch

#26007 build(deps): bump luajit to HEAD - 113a168b7
  cmake.deps/deps.txt
Labels: build, dependencies

#26028 fix(lsp): advertise workspace.didChangeConfiguration capability (fixes #26026)
  runtime/lua/vim/lsp/protocol.lua
Labels: lsp

#26033 refactor: follow style guide
  src/nvim/arglist.c
  src/nvim/buffer.c
  src/nvim/change.c
  src/nvim/charset.c
  src/nvim/cmdexpand.c
  src/nvim/cmdhist.c
  src/nvim/cursor_shape.c
  src/nvim/debugger.c
  src/nvim/diff.c
  src/nvim/digraph.c
  src/nvim/drawline.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/ex_getln.c
  src/nvim/ex_session.c
  src/nvim/fileio.c
  src/nvim/getchar.c
  src/nvim/grid.c
  src/nvim/help.c
  src/nvim/insexpand.c
  src/nvim/keycodes.c
  src/nvim/main.c
  src/nvim/match.c
  src/nvim/mbyte.c
  src/nvim/menu.c
  src/nvim/message.c
  src/nvim/ops.c
  src/nvim/os/shell.c
  src/nvim/path.c
  src/nvim/popupmenu.c
  src/nvim/profile.c
  src/nvim/runtime.c
  src/nvim/spellfile.c
  src/nvim/strings.c
  src/nvim/syntax.c
  src/nvim/textformat.c
  src/nvim/ugrid.c
  src/nvim/version.c
Labels: refactor

#25918 refactor: move background detection into Lua
  runtime/doc/deprecated.txt
  runtime/doc/news.txt
  runtime/doc/ui.txt
  runtime/lua/vim/_defaults.lua
  src/nvim/api/ui.c
  src/nvim/lua/executor.c
  src/nvim/option.c
  src/nvim/tui/input.c
  src/nvim/tui/input.h
  src/nvim/tui/tui.c
  src/nvim/ui.c
  src/nvim/ui.h
  src/nvim/ui_client.c
  src/nvim/ui_client.h
  test/functional/api/ui_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/options_spec.lua
  test/unit/tui_spec.lua
Labels: refactor, tui

#26034 fix(defaults): set 'fsync'
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/options.lua
  test/functional/core/fileio_spec.lua
Labels: defaults

#26039 fix(defaults): set 'fsync'
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/options.lua
  test/functional/core/fileio_spec.lua
Labels: defaults

#25871 TUI: support synchronized output
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/option_vars.h
  src/nvim/options.lua
  src/nvim/tui/input.c
  src/nvim/tui/tui.c
  src/nvim/tui/tui.h
  test/functional/ui/options_spec.lua
Labels: tui

#26044 vim-patch:9.0.2104: wast filetype should be replaced by wat filetype
  runtime/ftplugin/wat.vim
  runtime/indent/wat.vim
  runtime/lua/vim/filetype.lua
  runtime/makemenu.vim
  runtime/synmenu.vim
  runtime/syntax/wast.vim
  runtime/syntax/wat.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#26042 vim-patch:9.0.2105: skipcol not reset when topline changed
  src/nvim/move.c
  test/functional/legacy/scroll_opt_spec.lua
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#26051 build(deps): bump luajit to HEAD - 43d0a1915
  cmake.deps/deps.txt
Labels: build, dependencies

#26055 fix(tui): do not toggle cursor visibility when flushing the buffer
  src/nvim/tui/tui.c
Labels: tui

#26020 refactor: move some functions to winfloat.c
  src/nvim/api/win_config.c
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/eval/window.c
  src/nvim/ex_docmd.c
  src/nvim/move.c
  src/nvim/ui.c
  src/nvim/window.c
  src/nvim/winfloat.c
  src/nvim/winfloat.h
Labels: refactor

#26062 refactor: iwyu
  cmake.config/iwyu/mapping.imp
  src/nvim/api/deprecated.c
  src/nvim/api/options.c
  src/nvim/api/private/converter.c
  src/nvim/api/ui.c
  src/nvim/api/win_config.c
  src/nvim/arabic.c
  src/nvim/base64.c
  src/nvim/buffer.c
  src/nvim/cmdexpand.c
  src/nvim/cmdhist.c
  src/nvim/context.c
  src/nvim/eval.h
  src/nvim/eval/vars.c
  src/nvim/event/libuv_process.c
  src/nvim/event/process.c
  src/nvim/event/socket.c
  src/nvim/event/stream.c
  src/nvim/ex_cmds.c
  src/nvim/ex_eval.c
  src/nvim/ex_getln.c
  src/nvim/extmark.c
  src/nvim/indent.c
  src/nvim/insexpand.c
  src/nvim/linematch.c
  src/nvim/lua/base64.c
  src/nvim/lua/xdiff.c
  src/nvim/main.c
  src/nvim/memory.c
  src/nvim/optionstr.c
  src/nvim/path.c
  src/nvim/regexp.c
  src/nvim/tui/input.c
  src/nvim/tui/tui.c
  src/nvim/window.c
  src/nvim/winfloat.c
  src/nvim/winfloat.h
Labels: refactor

#26063 refactor: remove B_SPELL macro
  src/nvim/base64.c
  src/nvim/buffer_defs.h
  src/nvim/eval.c
  src/nvim/memline.c
Labels: refactor

#26061 feat(tui): support DCS responses in TermResponse event
  runtime/doc/api.txt
  runtime/doc/autocmd.txt
  runtime/doc/eval.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/ui.c
  src/nvim/tui/input.c
Labels: tui

#26064 feat(clipboard): enable OSC 52 clipboard provider by default
  runtime/doc/news.txt
  runtime/doc/provider.txt
  runtime/lua/vim/termcap.lua
  runtime/lua/vim/ui/clipboard/osc52.lua
  runtime/plugin/osc52.lua
Labels: clipboard

#26070 refactor: use optional base argument of tonumber
  runtime/lua/vim/_defaults.lua
Labels: refactor

#26073 build: update libtermkey commit
  cmake.deps/deps.txt
Labels: build, dependencies

#26081 vim-patch:9.0.{1532,1534,1535,2108,2109,2110,2111}
  runtime/doc/change.txt
  runtime/doc/cmdline.txt
  src/nvim/cmdhist.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/globals.h
  src/nvim/input.c
  src/nvim/normal.c
  src/nvim/regexp.c
  test/old/testdir/test_excmd.vim
  test/old/testdir/test_normal.vim
  test/old/testdir/test_spell.vim
  test/old/testdir/test_substitute.vim
Labels: vim-patch

#26082 vim-patch:9.0.2107: [security]: FPE in adjust_plines_for_skipcol
  src/nvim/change.c
  src/nvim/cursor.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/plines.c
  src/nvim/regexp.c
  test/functional/legacy/scroll_opt_spec.lua
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#26083 vim-patch:9.0.{1854,1857,1858,partial:1859,1860,1864,1868,1872,1873,1878,1881,1882,1969,1992,2004,2010,2106}
  src/nvim/buffer.c
  src/nvim/insexpand.c
  src/nvim/main.c
  src/nvim/message.c
  src/nvim/quickfix.c
  src/nvim/window.c
  test/functional/legacy/messages_spec.lua
  test/old/testdir/crash/bt_quickfix1_poc
  test/old/testdir/crash/bt_quickfix_poc
  test/old/testdir/crash/crash_scrollbar
  test/old/testdir/crash/editing_arg_idx_POC_1
  test/old/testdir/crash/poc1
  test/old/testdir/crash/poc_huaf1
  test/old/testdir/crash/poc_huaf2
  test/old/testdir/crash/poc_huaf3
  test/old/testdir/crash/poc_tagfunc.vim
  test/old/testdir/crash/vim_msg_trunc_poc
  test/old/testdir/crash/vim_regsub_both_poc
  test/old/testdir/test_crash.vim
Labels: vim-patch

#26075 docs: document breaking change of cursor blink behavior
  runtime/doc/news.txt
Labels: documentation

#26091 fix(tui): handle cursor visibility properly
  src/nvim/tui/tui.c
  test/functional/terminal/tui_spec.lua
Labels: tui

#26096 TUI input refactors
  src/nvim/tui/input.c
  src/nvim/tui/input.h
  src/nvim/tui/tui.c
  src/nvim/tui/tui.h
Labels: tui

#26029 fix(complete): match start bufname
  src/nvim/insexpand.c
  test/functional/editor/completion_spec.lua
Labels: completion

#25724 refactor(sign): move legacy signs to extmarks
  runtime/doc/api.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/sign.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/options.lua
  src/nvim/api/extmark.c
  src/nvim/api/vim.c
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/decoration.c
  src/nvim/decoration.h
  src/nvim/decoration_provider.c
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/eval/buffer.c
  src/nvim/extmark.c
  src/nvim/extmark.h
  src/nvim/globals.h
  src/nvim/highlight_defs.h
  src/nvim/main.c
  src/nvim/mark.c
  src/nvim/move.c
  src/nvim/option.c
  src/nvim/options.lua
  src/nvim/sign.c
  src/nvim/sign_defs.h
  src/nvim/statusline.c
  test/functional/ui/decorations_spec.lua
  test/functional/ui/sign_spec.lua
  test/functional/ui/statuscolumn_spec.lua
  test/old/testdir/test_signs.vim
Labels: refactor, column

#26102 build: various cmake fixes
  CMakeLists.txt
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/BuildLua.cmake
  cmake.deps/deps.txt
  src/nvim/CMakeLists.txt
  src/uncrustify.cfg
Labels: build, dependencies

#26104 refactor(extmark): redundant ExtmarkInfo delenda est, use MTPair instead
  src/nvim/api/extmark.c
  src/nvim/extmark.c
  src/nvim/extmark.h
  src/nvim/marktree.c
  src/nvim/marktree.h
Labels: refactor

#26106 fix(sign): do not error when defining sign without attributes
  src/nvim/sign.c
Labels: column

#26108 perf(lsp): use one watcher per directory instead of per file
  runtime/lua/vim/_watch.lua
  test/functional/lua/watch_spec.lua
Labels: lsp

#26065 build: bump uncrustify version
  CMakeLists.txt
  src/nvim/fileio.c
  src/nvim/lua/executor.c
  src/nvim/mark.c
  src/nvim/regexp.c
  src/nvim/testing.c
  src/nvim/tui/tui.c
  src/uncrustify.cfg
Labels: build

#26057 refactor: follow style guide
  src/nvim/cmdexpand.c
  src/nvim/cmdhist.c
  src/nvim/debugger.c
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/edit.c
  src/nvim/eval/typval.c
  src/nvim/eval/userfunc.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/ex_session.c
  src/nvim/getchar.c
  src/nvim/help.c
  src/nvim/indent.c
  src/nvim/insexpand.c
  src/nvim/keycodes.c
  src/nvim/mark.c
  src/nvim/marktree.c
  src/nvim/match.c
  src/nvim/math.c
  src/nvim/mbyte.c
  src/nvim/memfile.c
  src/nvim/memline.c
  src/nvim/menu.c
  src/nvim/message.c
  src/nvim/mouse.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/optionstr.c
  src/nvim/path.c
  src/nvim/plines.c
  src/nvim/popupmenu.c
  src/nvim/profile.c
  src/nvim/runtime.c
  src/nvim/search.c
  src/nvim/shada.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/spellsuggest.c
  src/nvim/statusline.c
  src/nvim/strings.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/testing.c
  src/nvim/textformat.c
  src/nvim/textobject.c
  src/nvim/ui_compositor.c
  src/nvim/undo.c
  src/nvim/version.c
Labels: refactor

#26110 test: skip failing watch file tests on freebsd
  test/functional/lua/watch_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: test

#26115 vim-patch:9.0.2116: No test for defining sign without attribute
  test/old/testdir/test_signs.vim
Labels: test, vim-patch

#26113 build: disable all compiler warnings from dependencies
  cmake.deps/cmake/BuildGettext.cmake
  cmake.deps/cmake/BuildLibiconv.cmake
  cmake.deps/cmake/BuildLibtermkey.cmake
  cmake.deps/cmake/BuildLibuv.cmake
  cmake.deps/cmake/BuildLibvterm.cmake
  cmake.deps/cmake/BuildLpeg.cmake
  cmake.deps/cmake/BuildLua.cmake
  cmake.deps/cmake/BuildLuajit.cmake
  cmake.deps/cmake/BuildLuv.cmake
  cmake.deps/cmake/BuildMsgpack.cmake
  cmake.deps/cmake/BuildTreesitter.cmake
  cmake.deps/cmake/BuildTreesitterParsers.cmake
  cmake.deps/cmake/BuildUnibilium.cmake
  cmake.deps/cmake/GetBinaryDeps.cmake
  cmake.deps/cmake/GettextCMakeLists.txt
  cmake.deps/cmake/LibiconvCMakeLists.txt
  cmake.deps/cmake/LibtermkeyCMakeLists.txt
  cmake.deps/cmake/LibvtermCMakeLists.txt
  cmake.deps/cmake/LpegCMakeLists.txt
  cmake.deps/cmake/MarkdownParserCMakeLists.txt
  cmake.deps/cmake/TreesitterCMakeLists.txt
  cmake.deps/cmake/TreesitterParserCMakeLists.txt
  cmake/Deps.cmake
Labels: build, dependencies

#26118 build: bump uncrustify to version 0.78.1
  CMakeLists.txt
  src/uncrustify.cfg
Labels: build

#26109 refactor(lsp): add type annotations to _watchfiles
  runtime/lua/vim/lsp/_watchfiles.lua
Labels: refactor, lsp

#26103 refactor: enable formatting for ternaries
  src/clint.py
  src/nvim/api/command.c
  src/nvim/api/deprecated.c
  src/nvim/api/options.c
  src/nvim/api/vim.c
  src/nvim/arglist.c
  src/nvim/buffer.c
  src/nvim/cmdhist.c
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/userfunc.c
  src/nvim/event/libuv_process.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/fileio.c
  src/nvim/globals.h
  src/nvim/grid.c
  src/nvim/hashtab.c
  src/nvim/indent.c
  src/nvim/insexpand.c
  src/nvim/log.c
  src/nvim/lua/executor.c
  src/nvim/lua/spell.c
  src/nvim/lua/xdiff.c
  src/nvim/mapping.c
  src/nvim/mark.c
  src/nvim/memline.c
  src/nvim/move.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/msgpack_rpc/helpers.c
  src/nvim/msgpack_rpc/server.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/os/dl.c
  src/nvim/os/users.c
  src/nvim/plines.c
  src/nvim/quickfix.c
  src/nvim/regexp.c
  src/nvim/runtime.c
  src/nvim/search.c
  src/nvim/shada.c
  src/nvim/sign.c
  src/nvim/spellfile.c
  src/nvim/statusline.c
  src/nvim/strings.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/tui/input.c
  src/nvim/tui/tui.c
  src/nvim/undo.c
  src/nvim/usercmd.c
  src/nvim/viml/parser/expressions.c
  src/nvim/window.c
  src/uncrustify.cfg
Labels: build, refactor

#26129 fix(vim.region): handle multibyte inclusive selection properly
  runtime/doc/lua.txt
  runtime/lua/vim/_editor.lua
  test/functional/lua/vim_spec.lua
Labels: lua, unicode 💩

#26114 refactor(sign): store 'signcolumn' width range when it is set
  src/nvim/buffer_defs.h
  src/nvim/decoration.c
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/option.c
  src/nvim/option_vars.h
  src/nvim/optionstr.c
Labels: refactor, column

#26136 fix(column): always set b_signcols.max
  src/nvim/buffer.c
Labels: column

#26123 perf(lsp): use async fs_stat for file watching on linux
  runtime/lua/vim/_watch.lua
Labels: lsp

#26144 docs: update MAINTAIN.md
  MAINTAIN.md
Labels: documentation

#26124 build: reorganize cmake files
  CMakeLists.txt
  src/nvim/CMakeLists.txt
Labels: build

#26141 build: suppress bugprone-reserved-identifier warnings
  src/nvim/main.c
Labels: build

#26142 refactor: remove __clang_analyzer__ macro
  src/nvim/eval/userfunc.c
Labels: refactor

#26146 vim-patch:596a9f29c83a
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: vim-patch

#26147 vim-patch:cb0c113ddc01
  runtime/autoload/netrw.vim
Labels: vim-patch

#26148 vim-patch:9.0.2117: [security] use-after-free in qf_free_items
  src/nvim/quickfix.c
Labels: vim-patch

#25826 refactor(decorations): break up Decoration struct into smaller pieces
  src/nvim/api/deprecated.c
  src/nvim/api/extmark.c
  src/nvim/decoration.c
  src/nvim/decoration.h
  src/nvim/decoration_defs.h
  src/nvim/decoration_provider.c
  src/nvim/drawline.c
  src/nvim/extmark.c
  src/nvim/extmark.h
  src/nvim/extmark_defs.h
  src/nvim/marktree.c
  src/nvim/marktree.h
  src/nvim/plines.c
  src/nvim/sign.c
  src/nvim/types.h
  test/functional/api/extmark_spec.lua
  test/functional/ui/bufhl_spec.lua
  test/functional/ui/decorations_spec.lua
Labels: refactor, extmarks

#26152 build: reorder compiler option setting
  src/nvim/CMakeLists.txt
Labels: build

#26105 feat(extmarks): add sign name to extmark "details" array
  runtime/doc/builtin.txt
  runtime/doc/sign.txt
  src/nvim/decoration.c
  src/nvim/sign.c
  test/functional/api/extmark_spec.lua
Labels: extmarks, column

#26162 vim-patch:8.2.2784,9.0.2121
  src/nvim/ex_cmds.c
  test/old/testdir/test_substitute.vim
Labels: vim-patch

#26163 vim-patch:8750e3cf81f1
  runtime/autoload/netrw.vim
Labels: vim-patch

#26167 fix(column): apply numhl signs when 'signcolumn' is "no"
  src/nvim/decoration.c
  test/functional/ui/sign_spec.lua
Labels: column

#26173 test: remove the pipe created by new_pipename()
  test/functional/helpers.lua
  test/functional/ui/embed_spec.lua
Labels: test

#26175 fix(column): reset decor state before starting from top
  src/nvim/drawscreen.c
  test/functional/ui/statuscolumn_spec.lua
Labels: column

#26177 perf: remove redundant strlen in skipwhite
  src/nvim/charset.c
Labels: backport release-0.9

#26172 fix(grid): don't draw beyond max column
  src/nvim/grid.c
Labels: ui

#26180 vim-patch:9.0.2125: File info disappears when 'cmdheight' has decreased
  src/nvim/message.c
  test/functional/legacy/messages_spec.lua
  test/old/testdir/test_messages.vim
Labels: vim-patch, backport release-0.9

#26182 vim-patch:9.0.2126: unused assignments when checking 'listchars'
  src/nvim/optionstr.c
  test/old/testdir/test_listchars.vim
Labels: vim-patch

#26185 docs(starting.txt): correct step number
  runtime/doc/starting.txt
Labels: documentation, backport release-0.9

#26187 fix(mouse): avoid dragging after click label popupmenu callback
  src/nvim/mouse.c
  src/nvim/popupmenu.c
  test/functional/ui/statuscolumn_spec.lua
Labels: mouse, backport release-0.9

#26189 fix(messages): validate msg_grid before using msg_grid_pos
  src/nvim/message.c
  test/functional/ui/messages_spec.lua
Labels: messages

#26190 refactor(tui): remove unnecessary scheduling when suspending
  src/nvim/tui/tui.c
Labels: refactor, tui

#26201 fix(mouse): avoid dragging when clicking next to popupmenu
  src/nvim/mouse.c
  src/nvim/popupmenu.c
  test/functional/ui/statuscolumn_spec.lua
Labels: mouse, backport release-0.9
