Repository neovim/neovim, pull requests merged in 2024-05, with the labels that each got.

#28587 vim-patch:9.1.{0382,0383}: filetype recognition
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28591 ci: update vim_patches.yml to follow conventional commits
  .github/workflows/vim_patches.yml
Labels: ci

#28578 fix(ui): avoid recursiveness and invalid memory access
  src/nvim/api/ui.c
  src/nvim/drawscreen.c
  src/nvim/ex_getln.c
  src/nvim/generators/gen_api_ui_events.lua
  src/nvim/message.c
  src/nvim/ui.c
  src/nvim/ui.h
  src/nvim/ui_defs.h
  test/functional/lua/ui_event_spec.lua
Labels: ui

#28592 vim-patch:9.1.0386: filetype: stylus files not recognized
  runtime/ftplugin/stylus.vim
  runtime/indent/stylus.vim
  runtime/lua/vim/filetype.lua
  runtime/syntax/stylus.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28596 ci: don't try to label backport PR if it was not created
  .github/workflows/backport.yml
Labels: ci

#28604 test: override XDG_STATE_HOME as well
  cmake/RunTests.cmake
Labels: build, test

#28605 vim-patch:9.1.{0389,0390} some files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28543 feat(lsp): vim.lsp.inlay_hint.enable(nil) applies to all buffers
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/inlay_hint.lua
  test/functional/plugin/lsp/inlay_hint_spec.lua
Labels: lsp

#28523 feat(lsp): use a parameter strategy similar to `enable`
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/inlay_hint.lua
  test/functional/plugin/lsp/inlay_hint_spec.lua
Labels: lsp

#28101 feat(api): add nvim__redraw for more granular redrawing
  runtime/doc/api.txt
  runtime/doc/various.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/api_keysets.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/treesitter/highlighter.lua
  src/nvim/api/buffer.c
  src/nvim/api/keysets_defs.h
  src/nvim/api/vim.c
  src/nvim/drawscreen.c
  src/nvim/ex_docmd.c
  src/nvim/lua/executor.h
  src/nvim/math.c
  src/nvim/popupmenu.c
  test/functional/api/vim_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/inccommand_spec.lua
  test/functional/ui/statuscolumn_spec.lua
Labels: api, display

#28595 build: improve git-cliff CHANGELOG output
  scripts/cliff.toml
Labels: build, project-management

#28614 fix(api): use correct buffer for "range" in nvim__redraw
  src/nvim/api/vim.c
  test/functional/api/vim_spec.lua
Labels: api

#28615 perf(extmarks): better track whether namespace has extmarks
  runtime/lua/vim/highlight.lua
  src/nvim/api/extmark.c
  src/nvim/extmark.c
  src/nvim/memfile.c
  test/benchmark/extmark_spec.lua
  test/functional/api/extmark_spec.lua
Labels: extmarks

#28612 fix(vim.ui)!: change open() to return `result|nil, errmsg|nil`
  runtime/doc/develop.txt
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/_defaults.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/ui.lua
  test/functional/lua/ui_spec.lua
Labels: lsp, breaking-change

#28622 fix(vim.json): properly treat luanil options as booleans
  src/cjson/lua_cjson.c
  test/functional/lua/json_spec.lua
Labels: lua

#28623 build: remove `lintdoc` from `lint` target
  CMakeLists.txt
Labels: build

#28627 fix(lsp): replace the bug-prone ternary operation
  runtime/lua/vim/lsp/inlay_hint.lua
Labels: lsp

#28540 build: simplify policy-setting for dependencies
  cmake.deps/cmake/GettextCMakeLists.txt
  cmake.deps/cmake/LibiconvCMakeLists.txt
  cmake.deps/cmake/LibvtermCMakeLists.txt
  cmake.deps/cmake/MarkdownParserCMakeLists.txt
  cmake.deps/cmake/TreesitterCMakeLists.txt
  cmake.deps/cmake/TreesitterParserCMakeLists.txt
  cmake/Deps.cmake
Labels: build, dependencies

#27784 docs: deduplicate information in deprecated.txt
  runtime/doc/deprecated.txt
  runtime/doc/news-0.9.txt
  runtime/doc/news.txt
Labels: documentation

#28613 fix(treesitter): escape `\` in `:InspectTree`
  runtime/lua/vim/treesitter/dev.lua
Labels: treesitter

#28636 vim-patch:ad4881cb3c04
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: vim-patch

#28646 fix(defaults): make descriptions of diagnostic mappings up to date
  runtime/lua/vim/_defaults.lua
Labels: defaults

#28645 build: use libvterm commit with generated *.inc files
  cmake.deps/cmake/LibvtermCMakeLists.txt
  cmake.deps/deps.txt
Labels: build, dependencies

#28647 vim-patch:53753f6a4925
  runtime/doc/change.txt
  runtime/doc/eval.txt
  runtime/doc/indent.txt
  runtime/doc/syntax.txt
Labels: documentation, vim-patch

#28628 refactor(snippet): rename exit() => stop()
  runtime/doc/develop.txt
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/snippet.lua
Labels: refactor, snippet

#28656 build(deps): bump tree-sitter-query to v0.3.0
  cmake.deps/deps.txt
Labels: build, dependencies

#28657 vim-patch:8d8cb45756cb
  runtime/ftplugin/sh.vim
  runtime/ftplugin/zsh.vim
Labels: vim-patch

#28629 fix(lsp): make the effective range determined by the loaded buffers
  runtime/lua/vim/lsp/inlay_hint.lua
Labels: lsp

#28632 fix(lsp): change LspProgress data structure; rename 'result' to 'params'
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/handlers.lua
Labels: lsp

#28637 feat/docs(lsp): Document vim.lsp.ListOpts.loclist, cleanups in lsp.buf.lua and lsp.handlers.lua
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/handlers.lua
Labels: documentation, refactor, lsp

#28662 vim-patch:c5def6561d56
  runtime/syntax/cpp.vim
Labels: vim-patch

#28666 refactor(change): check all tabpages in changed_lines_invalidate_buf()
  src/nvim/change.c
Labels: refactor

#28674 vim-patch:9.1.0397: Wrong display with 'smoothscroll' when changing quickfix list
  src/nvim/move.c
  src/nvim/quickfix.c
  test/functional/legacy/scroll_opt_spec.lua
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#28671 vim-patch:1e34b95e4402
  runtime/autoload/netrw.vim
  runtime/autoload/netrwSettings.vim
  runtime/doc/pi_netrw.txt
  runtime/plugin/netrwPlugin.vim
Labels: vim-patch

#28672 vim-patch:9.1.0396: filetype: jj files are not recognized
  runtime/ftplugin/jj.vim
  runtime/lua/vim/filetype.lua
  runtime/syntax/jj.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28673 build: allow sccache as compiler cache
  CMakeLists.txt
  cmake/Deps.cmake
Labels: build

#28682 vim-patch:ce2ad9ffd79f
  runtime/autoload/netrw.vim
Labels: vim-patch

#28684 vim-patch:cb3691811be9
  runtime/syntax/spec.vim
Labels: vim-patch

#28690 fix(lsp): disable didChangeWatchedFiles on Linux
  runtime/doc/news.txt
  runtime/lua/vim/lsp/protocol.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#28691 vim-patch:06bdac158072
  runtime/syntax/java.vim
Labels: vim-patch

#28676 fix(tui): initialize clear attrs with current terminal background
  src/nvim/tui/tui.c
  test/functional/terminal/tui_spec.lua
Labels: tui

#28702 vim-patch:b23c1fc59650
  scripts/check_urls.vim
Labels: vim-patch

#28701 vim-patch:9.1.0406: Divide by zero with getmousepos() and 'smoothscroll'
  src/nvim/mouse.c
  src/nvim/move.c
  test/old/testdir/test_functions.vim
Labels: vim-patch

#28703 vim-patch:1c5728e0c4a9
  runtime/doc/pi_netrw.txt
  runtime/doc/pi_tar.txt
  runtime/doc/syntax.txt
  runtime/doc/usr_01.txt
  scripts/check_urls.vim
Labels: vim-patch

#28704 vim-patch:9.1.0407: Stuck with long line and half-page scrolling
  src/nvim/move.c
  test/old/testdir/test_normal.vim
Labels: vim-patch

#28705 ci(build): use latest over explicit image version
  .github/workflows/build.yml
  MAINTAIN.md
Labels: build, ci

#28697 fix(api): make getting explicit empty hl in virtual text work
  src/nvim/api/extmark.c
  src/nvim/decoration.c
  src/nvim/decoration_defs.h
  test/functional/api/extmark_spec.lua
  test/functional/ui/float_spec.lua
Labels: api

#28717 fix(ui): data corruption in remote_ui_raw_line
  src/nvim/api/ui.c
  test/functional/ui/multibyte_spec.lua
Labels: ui

#28432 refactor(api): nvim_win_xx_ns are EXPERIMENTAL
  runtime/doc/api.txt
  runtime/doc/develop.txt
  runtime/doc/news.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/highlight.lua
  src/nvim/api/extmark.c
  test/functional/lua/highlight_spec.lua
  test/functional/ui/decorations_spec.lua
Labels: api, refactor, breaking-change

#28726 fix(treesitter): text alignment in checkhealth vim.treesitter
  runtime/lua/vim/treesitter/health.lua
Labels: treesitter

#28725 refactor(lua): remove deprecated features
  runtime/lua/vim/iter.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/shared.lua
  test/functional/plugin/lsp/inlay_hint_spec.lua
Labels: api, refactor, lua, lsp

#28735 test: fix incorrect function import
  test/benchmark/screenpos_spec.lua
Labels: test

#28712 vim-patch:86f6e2c2eed7
  runtime/ftplugin/python.vim
Labels: vim-patch

#28678 fix(gen_help_html.lua): added xlim to textwidth for div.colwide
  scripts/gen_help_html.lua
Labels: documentation

#28730 feat(lsp): update LSP protocol 3.18 typings to date
  runtime/lua/vim/lsp/_meta/protocol.lua
Labels: lsp, ci:s390x, ci:skip-news

#28664 fix(treesitter): allow optional directive captures
  runtime/lua/vim/treesitter/query.lua
  test/functional/treesitter/parser_spec.lua
Labels: treesitter

#28744 fix(lsp): don't start additional client if attach failed
  runtime/lua/vim/lsp.lua
Labels: lsp

#28737 ci(labeler): adjust configuration
  .github/scripts/close_unresponsive.js
  .github/scripts/labeler_configuration.yml
  .github/scripts/reviewers_add.js
Labels: ci

#28756 build: bump uncrustify to version 0.79.0
  CMakeLists.txt
  src/uncrustify.cfg
Labels: build

#28751 docs(lua): restore missing indexing for vim.bo and vim.wo
  runtime/doc/lua.txt
  scripts/gen_vimdoc.lua
Labels: documentation, lua

#28758 perf(lua): avoid spairs in vim.validate happy path
  runtime/lua/vim/shared.lua
Labels: performance, lua

#28763 vim-patch:9.1.0413: smoothscroll may cause infinite loop
  src/nvim/move.c
  src/nvim/plines.c
  test/old/testdir/test_normal.vim
Labels: vim-patch

#28764 vim-patch:fed01960d2b0
  runtime/doc/tabpage.txt
Labels: documentation, vim-patch

#28747 docs: news
  CONTRIBUTING.md
  MAINTAIN.md
  runtime/doc/deprecated.txt
  runtime/doc/dev_style.txt
  runtime/doc/dev_theme.txt
  runtime/doc/develop.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/news-0.9.txt
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/_meta/lpeg.lua
  runtime/lua/vim/_meta/re.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/snippet.lua
  runtime/lua/vim/treesitter/languagetree.lua
  scripts/cliff.toml
  scripts/gen_help_html.lua
  scripts/git-log-pretty-since.sh
  scripts/release.sh
Labels: documentation

#28765 build(release.sh): set VIMRUNTIME when regenerating docs
  scripts/release.sh
Labels: build

#28768 vim-patch:5faeb60480c6
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: vim-patch

#28755 docs(gen_help_html.lua): fix broken pre text, and handle linewrap
  scripts/gen_help_html.lua
Labels: documentation

#28761 docs: misc
  INSTALL.md
  runtime/doc/news.txt
  runtime/lua/vim/diagnostic.lua
Labels: documentation

#28771 fix(test): failure after version bump
  test/functional/lua/vim_spec.lua
  test/functional/testnvim.lua
Labels: test

#28773 docs: news
  runtime/doc/deprecated.txt
  runtime/doc/news-0.10.txt
  runtime/doc/news.txt
  scripts/gen_help_html.lua
Labels: documentation

#28512 perf(treesitter): use child_containing_descendant() in has-ancestor?
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/_meta.lua
  runtime/lua/vim/treesitter/query.lua
  src/nvim/CMakeLists.txt
  src/nvim/lua/treesitter.c
  test/functional/treesitter/node_spec.lua
  test/functional/treesitter/query_spec.lua
Labels: performance, treesitter, ci:skip-news

#28774 feat: remove deprecated features
  runtime/autoload/health.vim
  runtime/lua/vim/health.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/treesitter/languagetree.lua
Labels: lsp, treesitter, ci:skip-news

#28785 fix(version): fix vim.version().prerelease
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/generators/nvim_version.lua.in
Labels: ci:backport release-0.10

#28766 docs(gen_help_html.lua): handle modeline and note nodes
  scripts/gen_help_html.lua
Labels: documentation

#28799 fix(path): avoid chdir() when resolving path
  src/nvim/eval/funcs.c
  src/nvim/os/env.c
  src/nvim/os/fs.c
  src/nvim/path.c
  test/unit/path_spec.lua
Labels: filesystem, ci:backport release-0.10

#28487 feat(api): broadcast events to ALL channels
  runtime/doc/api.txt
  runtime/doc/deprecated.txt
  runtime/doc/news.txt
  src/nvim/api/deprecated.c
  src/nvim/api/vim.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/msgpack_rpc/channel_defs.h
  test/functional/api/server_notifications_spec.lua
  test/functional/vimscript/api_functions_spec.lua
Labels: api

#28781 fix(vim.iter): enable optimizations for arrays (lists with holes)
  runtime/doc/lua.txt
  runtime/lua/vim/iter.lua
  test/functional/lua/iter_spec.lua
Labels: ci:backport release-0.10

#28818 ci: change label `backport` to `target:release`
  .github/workflows/backport.yml
Labels: ci

#28790 vim-patch:9.1.{0414,0416}
  src/nvim/move.c
  test/functional/legacy/scroll_opt_spec.lua
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch, ci:backport release-0.10

#28821 fix(move): half-page scrolling with resized grid at eob
  src/nvim/move.c
  test/functional/ui/multigrid_spec.lua
Labels: ci:backport release-0.10

#28822 vim-patch:9.1.0418: Cannot move to previous/next rare word
  runtime/doc/spell.txt
  src/nvim/drawline.c
  src/nvim/eval/funcs.c
  src/nvim/insexpand.c
  src/nvim/normal.c
  src/nvim/spell.c
  src/nvim/spell.h
  src/nvim/spellsuggest.c
  test/old/testdir/test_spellrare.vim
Labels: vim-patch, spell

#28815 vim-patch:cf78d0df51f2
  runtime/ftplugin/sshdconfig.vim
Labels: vim-patch

#28831 vim-patch:94043780196c
  runtime/plugin/matchparen.vim
Labels: vim-patch, ci:backport release-0.10

#28829 refactor(path.c): add nonnull attributes
  src/nvim/cmdexpand.c
  src/nvim/path.c
Labels: refactor, ci:backport release-0.10

#28839 refactor!: remove `nvim` and `provider` module for checkhealth
  runtime/lua/vim/health/health.lua
  runtime/lua/vim/provider/clipboard/health.lua
  runtime/lua/vim/provider/node/health.lua
  runtime/lua/vim/provider/perl/health.lua
  runtime/lua/vim/provider/python/health.lua
  runtime/lua/vim/provider/ruby/health.lua
  test/functional/plugin/health_spec.lua
Labels: refactor, breaking-change, ci:skip-news

#28824 fix(diagnostic): show backtrace for deprecation warnings
  runtime/lua/vim/diagnostic.lua
Labels: diagnostic

#28857 vim-patch:9.1.0409: too many strlen() calls in the regexp engine
  src/nvim/regexp.c
  src/nvim/strings.c
  src/nvim/strings.h
Labels: vim-patch

#28854 vim-patch:9.1.{0394,0395,0423}: getregionpos()
  runtime/doc/builtin.txt
  runtime/doc/usr_41.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/ops.c
  test/old/testdir/test_visual.vim
Labels: vim-patch

#28867 vim-patch:9.1.0399: block_editing errors out when using del
  test/old/testdir/test_visual.vim
Labels: test, vim-patch

#28871 vim-patch:69dff00dfb37
  runtime/ftplugin/verilog.vim
Labels: vim-patch

#28880 vim-patch:8.2.1520: Vim9: CTRL-] used in :def function does not work
  src/nvim/normal.c
Labels: vim-patch

#28884 fix(tui): remove duplicate disabling of synchronized output
  src/nvim/tui/tui.c
Labels: tui, ci:backport release-0.10

#28767 build(vim-patch.sh): always include commit message title
  scripts/vim-patch.sh
Labels: build, project-management, needs:discussion

#27781 feat(signs)!: change drawing direction of signs
  runtime/doc/news.txt
  runtime/doc/sign.txt
  src/nvim/decoration.c
  test/functional/api/extmark_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/ui/decorations_spec.lua
  test/functional/ui/sign_spec.lua
  test/functional/ui/statuscolumn_spec.lua
Labels: breaking-change

#28849 fix(lsp): semantic token functions allow "0" bufnr
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/semantic_tokens.lua
  test/functional/plugin/lsp/semantic_tokens_spec.lua
Labels: lsp

#28826 docs: better explain how core dump files can be obtained
  runtime/doc/dev_tools.txt
Labels: documentation

#28875 fix(lsp): detach all clients on_reload to force buf_state reload
  runtime/lua/vim/lsp.lua
Labels: lsp

#28905 vim-patch:9.1.{0426,0428}: too many strlen() calls in search.c
  src/nvim/cmdhist.c
  src/nvim/eval/funcs.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/insexpand.c
  src/nvim/normal.c
  src/nvim/quickfix.c
  src/nvim/search.c
  src/nvim/search.h
  src/nvim/spell.c
  src/nvim/tag.c
  test/old/testdir/test_tagjump.vim
  test/unit/search_spec.lua
Labels: vim-patch

#28907 vim-patch:9.1.0427: tests: some issues with termdebug mapping test
  test/old/testdir/test_termdebug.vim
Labels: test, vim-patch

#28904 vim-patch:d1d9316: runtime(zig): refactor zig ftplugin, remove auto format
  runtime/autoload/zig/fmt.vim
  runtime/doc/filetype.txt
  runtime/ftplugin/zig.vim
Labels: vim-patch

#28908 vim-patch:62ccaa6: runtime(termdebug): check for gdb file/dir before using as buffer name
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  test/old/testdir/test_termdebug.vim
Labels: vim-patch

#28915 docs: move vim.health documentation to lua.txt
  runtime/doc/help.txt
  runtime/doc/lua.txt
  runtime/doc/pi_health.txt
  runtime/lua/vim/health.lua
  runtime/lua/vim/provider/clipboard/health.lua
  runtime/lua/vim/provider/node/health.lua
  runtime/lua/vim/provider/perl/health.lua
  runtime/lua/vim/provider/python/health.lua
  runtime/lua/vim/provider/ruby/health.lua
  scripts/gen_help_html.lua
  scripts/gen_vimdoc.lua
Labels: documentation

#28917 vim-patch:802fc04: runtime(rescript): include basic rescript ftplugin file (vim/vim#14822)
  runtime/ftplugin/rescript.vim
Labels: vim-patch

#28924 vim-patch:9.1.0430: getregionpos() doesn't handle one char selection
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/ops.c
  test/old/testdir/test_visual.vim
Labels: vim-patch

#28925 vim-patch:8.2.0703: Vim9: closure cannot store value in outer context
  src/nvim/eval.c
  src/nvim/eval/typval_defs.h
Labels: vim-patch

#28926 vim-patch:9.0.1175: the set_ref_in_item() function is too long
  src/nvim/eval.c
Labels: vim-patch

#28929 fix(shada): restore search pattern length properly
  src/nvim/shada.c
  test/functional/shada/history_spec.lua
Labels: editor-state

#28933 vim-patch:9.1.0433: Wrong yanking with exclusive selection and ve=all
  src/nvim/eval/funcs.c
  src/nvim/normal.c
  test/old/testdir/test_visual.vim
Labels: vim-patch

#28795 fix: trigger LspDetach on buffer delete
  runtime/lua/vim/lsp.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#28914 fix(lsp): check if buffer was detached in on_init callback
  runtime/lua/vim/lsp/client.lua
  test/functional/plugin/lsp/inlay_hint_spec.lua
  test/functional/plugin/lsp/semantic_tokens_spec.lua
  test/functional/plugin/lsp/testutil.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#28896 build(docs): update CSS
  scripts/gen_help_html.lua
Labels: build

#28938 fix(comment): fall back to using trimmed comment markers
  runtime/doc/various.txt
  runtime/lua/vim/_comment.lua
  test/functional/lua/comment_spec.lua
Labels: defaults, ci:backport release-0.10

#28810 fix(colorscheme): update `StatusLineNC` to have underline with 'notgc'
  src/nvim/highlight_group.c
Labels: defaults, highlight, ci:backport release-0.10

#28952 vim-patch:9.1.0435: filetype: cygport files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28955 vim-patch:9.1.0436: Crash when using '?' as separator for :s
  src/nvim/regexp.c
  test/old/testdir/test_substitute.vim
Labels: vim-patch

#28863 build: remove nix flakes
  .github/scripts/labeler_configuration.yml
  contrib/flake.lock
  contrib/flake.nix
Labels: build, platform:nix

#28951 vim-patch:22ac941: runtime(i3config/swayconfig): support floating_modifier none; revert broken highlighting
  runtime/syntax/i3config.vim
  runtime/syntax/swayconfig.vim
Labels: vim-patch

#28956 vim-patch:9.1.0438: Wrong Ex command executed when :g uses '?' as delimiter
  src/nvim/regexp.c
  test/old/testdir/test_global.vim
  test/old/testdir/test_substitute.vim
Labels: vim-patch

#28957 vim-patch:9.1.0441: getregionpos() can't properly indicate positions beyond eol
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  test/old/testdir/test_visual.vim
Labels: vim-patch

#28958 vim-patch:9.1.0439: Cannot filter the history
  runtime/doc/various.txt
  src/nvim/cmdhist.c
  test/old/testdir/test_history.vim
Labels: vim-patch

#28937 docs: extract health to its own file
  runtime/doc/develop.txt
  runtime/doc/editorconfig.txt
  runtime/doc/health.txt
  runtime/doc/help.txt
  runtime/doc/lua.txt
  runtime/lua/vim/health.lua
  scripts/gen_help_html.lua
  scripts/gen_vimdoc.lua
Labels: documentation

#28630 feat: allow gx to function for markdown links
  runtime/lua/vim/_defaults.lua
  runtime/lua/vim/ui.lua
Labels: ci:skip-news

#20671 feat(complete): specify reason for CompleteDone
  runtime/doc/autocmd.txt
  runtime/doc/news.txt
  runtime/doc/vvars.txt
  runtime/lua/vim/_meta/vvars.lua
  src/nvim/insexpand.c
  src/nvim/vvars.lua
  test/functional/autocmd/completedone_spec.lua
Labels: completion, events

#28962 vim-patch:8.2.3158: strange error message when using islocked() with a number
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  test/old/testdir/test_functions.vim
Labels: vim-patch

#28963 vim-patch:9.1.0440: function get_lval() is too long
  src/nvim/eval.c
Labels: vim-patch

#28966 refactor: replace deprecated vim.loop with vim.uv
  runtime/lua/vim/health.lua
  runtime/lua/vim/provider/health.lua
Labels: refactor

#28971 fix: show swapfile warning as a warning
  runtime/lua/vim/_defaults.lua
Labels: ci:backport release-0.10

#28964 fix(fs): make vim.fs.root work for relative paths and unnamed buffers
  runtime/doc/lua.txt
  runtime/lua/vim/fs.lua
  test/functional/lua/fs_spec.lua
Labels: ci:backport release-0.10

#28650 feat(defaults): add LSP default mappings (again)
  runtime/doc/change.txt
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_defaults.lua
Labels: defaults

#28985 vim-patch:9.1.0443: Can't use blockwise selection with width for getregion()
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  test/old/testdir/test_visual.vim
Labels: vim-patch

#28980 feat(lsp): update LSP healthcheck format
  runtime/lua/vim/lsp/health.lua
Labels: lsp, ci:skip-news

#28976 test(lintdoc): check that input list is same length as output list
  scripts/gen_help_html.lua
Labels: test

#29000 vim-patch:9.1.0444: Not enough tests for getregion() with multibyte chars
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  test/old/testdir/test_visual.vim
Labels: vim-patch

#28617 fix(float): missing default highlight for title
  runtime/doc/api.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/win_config.c
  src/nvim/drawscreen.c
  test/functional/ui/float_spec.lua
Labels: float, breaking-change

#28986 refactor(lua): rewrite vim.highlight.range()
  runtime/doc/lua.txt
  runtime/lua/vim/highlight.lua
  test/functional/lua/highlight_spec.lua
Labels: refactor, lua

#28515 feat(main): expand file ~\ or ~/ prefix on Windows
  runtime/doc/news.txt
  src/nvim/main.c
Labels: platform:windows

#29002 test(unit): skip flaky 'typval.c dict extend() works' test
  test/unit/eval/typval_spec.lua
Labels: test

#28999 refactor(tests): update screen:snapshot_util() to use new-style highlights
  test/functional/ui/screen.lua
Labels: refactor, test

#29005 refactor: move provider-related to where they are used
  runtime/lua/vim/health.lua
  runtime/lua/vim/provider/health.lua
Labels: refactor

#29007 fix(lsp): handle nil root_dir in health check
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/health.lua
Labels: lsp

#28998 fix(snippet): don't override unnamed register on tabstop select
  runtime/lua/vim/snippet.lua
Labels: snippet

#29009 vim-patch:0076ddc: runtime(debian): update Debian runtime files (vim/vim#14849)
  runtime/ftplugin/deb822sources.vim
  runtime/ftplugin/debcontrol.vim
  runtime/ftplugin/debsources.vim
  runtime/syntax/shared/debversions.vim
Labels: vim-patch

#29006 refactor(tests): use more global highlight definitions
  test/functional/api/buffer_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/api/window_spec.lua
Labels: refactor, test

#29015 build(deps): bump luajit to HEAD - 93e87998b
  cmake.deps/deps.txt
Labels: build

#29014 refactor(tests): more global highlight definitions
  test/functional/core/fileio_spec.lua
  test/functional/core/job_spec.lua
  test/functional/editor/completion_spec.lua
  test/functional/editor/mode_cmdline_spec.lua
  test/functional/editor/mode_insert_spec.lua
  test/functional/editor/tabpage_spec.lua
Labels: refactor, test

#28713 fix(tui): reset clear_region attributes during startup
  src/nvim/tui/tui.c
  test/functional/terminal/tui_spec.lua
Labels: tui

#28961 fix(extmarks): issues with revalidating marks
  src/nvim/extmark.c
Labels: marks, column, ci:backport release-0.10

#29024 refactor(lsp): reuse buf_detach_client logic in on_detach (#28939)
  runtime/lua/vim/lsp.lua
Labels: refactor, lsp, target:release

#29032 vim-patch:9.1.0446: getregionpos() inconsistent for partly-selected multibyte char
  src/nvim/eval/funcs.c
  test/old/testdir/test_visual.vim
Labels: vim-patch

#29035 fix(drawline): don't draw beyond end of window
  src/nvim/drawline.c
  test/functional/ui/screen_basic_spec.lua
Labels: ci:backport release-0.10
