Repository neovim/neovim, pull requests merged in 2024-04, with the labels that each got.

#28080 fix(intro): link showing intro to state at start
  src/nvim/drawscreen.c
  src/nvim/version.c
  test/functional/ui/messages_spec.lua
Labels: startup

#28131 vim-patch:9.1.{0234-0250}: lots of filetypes not being recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28141 vim-patch:9.0.1643: filetype detection fails if file name ends in many '~'
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28142 vim-patch:9.1.0251: Filetype test fails
  src/nvim/edit.c
  test/functional/autocmd/textchanged_spec.lua
  test/old/testdir/test_autocmd.vim
Labels: vim-patch

#28144 vim-patch:cc7597c1edf4
  runtime/syntax/yaml.vim
Labels: vim-patch

#28147 refactor: informative error msg for 'noautocmd'
  src/nvim/api/win_config.c
Labels: refactor

#28148 feat(treesitter): add `@injection.filename`
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/languagetree.lua
Labels: treesitter

#27660 test: silence expected errors
  src/nvim/decoration_provider.c
  src/nvim/event/libuv_process.c
  src/nvim/msgpack_rpc/channel.c
  test/functional/autocmd/autocmd_oldtest_spec.lua
  test/functional/core/startup_spec.lua
  test/functional/options/defaults_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/embed_spec.lua
Labels: build, test

#28152 refactor(lsp): move workspace folder logic into the client
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/client.lua
Labels: lsp

#28153 vim-patch:9.{0.0581,1.0254}
  src/nvim/insexpand.c
  src/nvim/move.c
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/ui/searchhl_spec.lua
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#28161 vim-patch:8.2.4098: typing "interrupt" at debug prompt may keep exception around
  src/nvim/normal.c
Labels: vim-patch

#28159 vim-patch:9.1.0253: filetype: typespec files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28157 fix: prevent child processes from inheriting ui channel file descriptors
  src/nvim/channel.c
Labels: io, server

#28156 refactor(tests): allow to extend the new base set of attrs
  test/functional/ui/decorations_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/ui/screen.lua
Labels: refactor, test

#28167 vim-patch:9.1.0259: Normal mode TextChanged isn't tested properly
  src/nvim/state.c
  test/functional/autocmd/textchanged_spec.lua
  test/old/testdir/test_autocmd.vim
Labels: vim-patch

#28168 vim-patch:89cc03af71d9
  runtime/doc/filetype.txt
Labels: documentation, vim-patch

#28170 vim-patch:08d2401fbc6d
  runtime/autoload/netrw.vim
Labels: vim-patch

#28155 test: reduce `exec_lua` calls
  test/functional/api/buffer_spec.lua
  test/functional/lua/diagnostic_spec.lua
  test/functional/lua/version_spec.lua
  test/functional/plugin/health_spec.lua
  test/functional/plugin/lsp/helpers.lua
  test/functional/plugin/lsp/inlay_hint_spec.lua
  test/functional/plugin/lsp/semantic_tokens_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: test

#28180 vim-patch:9.1.0262: Test for TextChanged is flaky with ASAN
  test/old/testdir/test_autocmd.vim
Labels: test, vim-patch

#28178 vim-patch:5ccdcc482e29
  runtime/syntax/java.vim
Labels: vim-patch

#28184 vim-patch:8.1.0815: dialog for file changed outside of Vim not tested
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/api/vim.c
  src/nvim/eval.lua
  src/nvim/message.c
  src/nvim/os/input.c
  test/functional/legacy/buffer_spec.lua
  test/functional/legacy/filechanged_spec.lua
  test/functional/vimscript/input_spec.lua
  test/old/testdir/test_buffer.vim
  test/old/testdir/test_filechanged.vim
  test/old/testdir/test_functions.vim
Labels: vim-patch

#28181 feat(defaults): add :Inspect to right-click menu
  runtime/doc/gui.txt
  runtime/lua/vim/_defaults.lua
  runtime/plugin/nvim.lua
  test/functional/core/startup_spec.lua
  test/functional/helpers.lua
  test/old/testdir/setup.vim
Labels: defaults, ci:skip-news

#28185 vim-patch:9.1.0265: console dialog cannot save unnamed buffers
  src/nvim/ex_cmds2.c
  test/old/testdir/test_buffer.vim
Labels: vim-patch

#28188 fix(treesitter): update parsers and queries
  cmake.deps/deps.txt
  runtime/queries/bash/highlights.scm
  runtime/queries/c/highlights.scm
  runtime/queries/lua/highlights.scm
  runtime/queries/lua/injections.scm
  runtime/queries/markdown/highlights.scm
  runtime/queries/python/highlights.scm
  runtime/queries/query/highlights.scm
  runtime/queries/vim/highlights.scm
Labels: dependencies, treesitter

#28190 build(deps): bump msgpack-c to v6.0.1
  cmake.deps/deps.txt
Labels: build, dependencies

#28193 vim-patch:b73faa1c02d0
  runtime/compiler/context.vim
  runtime/compiler/powershell.vim
  runtime/compiler/tex.vim
Labels: vim-patch

#28194 vim-patch:9.1.{0267,0268,0269}
  src/nvim/ex_cmds2.c
  test/old/testdir/test_autocmd.vim
  test/old/testdir/test_filechanged.vim
Labels: vim-patch

#28195 test(old): sleep for 1 second on non-Windows in test_stat.vim
  test/old/testdir/test_stat.vim
Labels: test

#28196 test: reduce sleep for file timestamp change
  test/functional/api/keymap_spec.lua
  test/functional/shada/marks_spec.lua
  test/functional/ui/input_spec.lua
Labels: test

#28177 fix(column): ignore empty signcols range
  src/nvim/decoration.c
Labels: column

#28199 vim-patch:cec44eae82c1
  runtime/compiler/cargo.vim
  runtime/compiler/go.vim
  runtime/compiler/hare.vim
  runtime/compiler/mcs.vim
  runtime/compiler/scdoc.vim
  runtime/compiler/zig_build.vim
  runtime/compiler/zig_build_exe.vim
  runtime/compiler/zig_test.vim
Labels: vim-patch

#28204 test: fix vimscript/server_spec leaving behind a dir
  test/functional/vimscript/server_spec.lua
Labels: test

#28205 docs: tags for commenting mappings without "-default" suffix
  runtime/doc/various.txt
Labels: documentation

#28189 docs: don't mention executable() can return -1
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: documentation

#28207 vim-patch:9.1.0266: filetype: earthfile files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28171 refactor: remove fn_bool
  runtime/lua/nvim/health.lua
  runtime/lua/provider/clipboard/health.lua
  runtime/lua/provider/node/health.lua
  runtime/lua/provider/python/health.lua
  runtime/lua/provider/ruby/health.lua
  runtime/lua/vim/health.lua
Labels: refactor

#28214 test: more tests for aucmd_win remaining floating
  test/functional/autocmd/autocmd_spec.lua
Labels: test

#28183 refactor(tests): use more standard colors but with extra colors
  test/functional/ui/highlight_spec.lua
  test/functional/ui/messages_spec.lua
Labels: refactor, test

#28224 vim-patch:9cd9e759ab1e
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: vim-patch

#28223 vim-patch:9.1.0272: autocmd may change cwd after :tcd and :lcd
  src/nvim/autocmd.c
  src/nvim/autocmd_defs.h
  src/nvim/window.c
  test/old/testdir/test_autocmd.vim
Labels: vim-patch

#28218 vim-patch:9.1.0273: filetype: keymap files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28226 docs(BUILD): mention treesitter parser dependencies
  BUILD.md
  contrib/local.mk.example
Labels: build, documentation

#28229 build(release.sh): regenerate docs after changing NVIM_API_PRERELEASE
  scripts/release.sh
  src/nvim/CMakeLists.txt
Labels: build

#28160 vim-patch:9.1.{0258,0260,0280}
  src/nvim/change.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/plines.c
  test/functional/legacy/matchparen_spec.lua
  test/functional/legacy/normal_spec.lua
  test/old/testdir/test_diffmode.vim
  test/old/testdir/test_edit.vim
  test/old/testdir/test_normal.vim
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#28244 vim-patch:9.1.0277: Cannot highlight the Command-line
  runtime/doc/syntax.txt
  src/nvim/option_vars.h
  test/old/testdir/test_highlight.vim
Labels: vim-patch

#28245 test(terminal/buffer_spec): avoid other keys in double clicks
  test/functional/terminal/buffer_spec.lua
Labels: test

#28246 test(terminal/buffer_spec): use screen:expect(), not retry()
  test/functional/terminal/buffer_spec.lua
Labels: test

#28247 vim-patch:8.2.0981: Vim9: cannot compile "[var, var] = list"
  src/nvim/eval.c
  src/nvim/eval/vars.c
Labels: vim-patch

#28248 vim-patch:8.2.4395: some code lines not covered by tests
  src/nvim/eval/vars.c
Labels: vim-patch

#28230 fix(tests): use more global highlight definitions
  test/functional/ui/diff_spec.lua
  test/functional/ui/inccommand_spec.lua
  test/functional/ui/inccommand_user_spec.lua
  test/functional/ui/output_spec.lua
Labels: test

#28239 vim-patch:9.1.0279: filetype: roc files are not recognized
  runtime/ftplugin/roc.vim
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28240 vim-patch:9.1.0275: filetype: R history files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28242 vim-patch:9.1.0278: filetype: zathurarc files not recognized
  runtime/ftplugin/zathurarc.vim
  runtime/lua/vim/filetype.lua
  runtime/syntax/zathurarc.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28243 vim-patch:a2385c233499
  runtime/syntax/cuda.vim
Labels: vim-patch

#28236 fix(tui): don't set cursor color when there is none
  src/nvim/tui/tui.c
Labels: tui

#28249 vim-patch:9.1.0283: Several small issues in doc and tests
  runtime/doc/syntax.txt
  test/old/testdir/test_diffmode.vim
Labels: vim-patch

#28256 vim-patch:9.1.{0285,0294}
  src/nvim/move.c
  src/nvim/plines.c
  test/old/testdir/test_diffmode.vim
  test/old/testdir/test_normal.vim
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#28257 vim-patch:9.1.0287: Vim9: comment may be treated as heredoc start
  src/nvim/eval/userfunc.c
  test/old/testdir/test_let.vim
Labels: vim-patch

#28258 vim-patch:e43ace558aee
  runtime/syntax/vim.vim
Labels: vim-patch

#28259 vim-patch:9.1.0296: regexp: engines do not handle case-folding well
  runtime/doc/dev_vimpatch.txt
  src/nvim/mbyte.c
  src/nvim/regexp.c
  test/old/testdir/test_regexp_utf8.vim
Labels: vim-patch

#28216 fix(lsp): empty commands should not be considered executable
  runtime/lua/vim/lsp/codelens.lua
Labels: lsp

#28228 fix(lsp): avoid being unable to request again after a request fails once
  runtime/lua/vim/lsp/codelens.lua
Labels: lsp

#28262 fix(treesitter): use tree range instead of tree root node range
  runtime/lua/vim/treesitter/languagetree.lua
  test/functional/lua/comment_spec.lua
  test/functional/treesitter/language_spec.lua
Labels: treesitter

#28264 vim-patch:9.1.{0225, 0300}
  test/old/testdir/test_normal.vim
Labels: test, vim-patch

#28266 vim-patch:9.1.0301: Vim9: heredoc start may be recognized in string
  src/nvim/eval/userfunc.c
  test/old/testdir/test_let.vim
Labels: vim-patch

#28267 vim-patch:c9ec20d94ea5
  runtime/doc/helphelp.txt
  runtime/doc/intro.txt
Labels: documentation, vim-patch

#28263 vim-patch:9.1.0297: Patch 9.1.0296 causes too many issues
  runtime/doc/dev_vimpatch.txt
  src/nvim/mbyte.c
  src/nvim/regexp.c
  test/old/testdir/test_regexp_utf8.vim
Labels: vim-patch

#28268 vim-patch:04e5363b8238
  runtime/ftplugin/vim.vim
  runtime/syntax/vim.vim
Labels: vim-patch

#28269 test: fix off-by-one test IDs in logs
  test/functional/preload.lua
  test/functional/testutil.lua
Labels: test

#28270 test: remove unnecessary nil argument to testutil
  test/functional/plugin/lsp/testutil.lua
  test/functional/preload.lua
  test/functional/provider/define_spec.lua
  test/functional/shada/testutil.lua
  test/functional/terminal/testutil.lua
  test/functional/testutil.lua
  test/functional/ui/embed_spec.lua
  test/functional/ui/output_spec.lua
  test/functional/ui/screen.lua
Labels: test

#28271 vim-patch:9.0.2114: overflow detection not accurate when adding digits
  src/nvim/input.c
  src/nvim/math.c
  src/nvim/normal.c
Labels: vim-patch

#28283 vim-patch:3cb2b3776700
  runtime/doc/editing.txt
Labels: documentation, vim-patch

#28285 vim-patch:fcbefe74f161
  runtime/compiler/vimdoc.vim
  runtime/ftplugin/vim.vim
Labels: vim-patch

#28286 test(old): make line wrapping in test_filetype.vim match Vim
  test/old/testdir/test_filetype.vim
Labels: test

#28288 test: macros in Visual mode without default mappings
  runtime/lua/vim/_defaults.lua
  test/functional/editor/macro_spec.lua
Labels: test

#28298 vim-patch:83424105cb42
  runtime/doc/editing.txt
Labels: documentation, vim-patch

#28291 vim-patch:9.1.0289: filetype: some TeX files are not recognized
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/filetype/detect.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28292 vim-patch:9.1.0302: filetype: blueprint files are not recognized
  runtime/ftplugin/bp.vim
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28293 vim-patch:9.1.0303: filetype: some protocol buffer files not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28294 vim-patch:9.1.0304: filetype: cgdb config file is not recognized
  runtime/ftplugin/cgdbrc.vim
  runtime/lua/vim/filetype.lua
  runtime/syntax/cgdbrc.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28299 vim-patch:9.1.{0291,0292,0293,0295,0306,0307}: filetype not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28300 vim-patch:9.1.0305: filetype: some history files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#26774 fix(float): don't relative float win itself
  src/nvim/api/win_config.c
  test/functional/ui/float_spec.lua
Labels: float

#28306 fix(test): fix strings_spec.lua for AArch64
  test/unit/strings_spec.lua
Labels: test

#28308 vim-patch:9.0.2180: POSIX function name in exarg causes issues
  src/nvim/digraph.c
  src/nvim/eval.c
  src/nvim/eval/userfunc.c
  src/nvim/eval/vars.c
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds2.c
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/runtime.c
  src/nvim/usercmd.c
Labels: vim-patch

#28311 vim-patch:9.1.0311: filetype: Some config files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#25076 fix(float): improve error message when reconfig failed
  src/nvim/api/win_config.c
  test/functional/ui/float_spec.lua
Labels: float

#28314 build(deps): bump tree-sitter to v0.22.4
  cmake.deps/deps.txt
Labels: build, dependencies

#28315 vim-patch: runtime file updates
  runtime/ftplugin/dts.vim
  runtime/ftplugin/kconfig.vim
Labels: vim-patch

#28276 fix(defaults): auto-close terminal for &shell with args
  runtime/lua/vim/_defaults.lua
Labels: defaults

#28310 vim-patch:9.1.{0312,0313}
  src/nvim/charset.c
  src/nvim/eval/vars.c
  test/old/testdir/test_let.vim
Labels: vim-patch

#28321 vim-patch:ce06493aeb3d
  runtime/doc/syntax.txt
  runtime/syntax/vim.vim
Labels: vim-patch

#28322 fix(tui): make setcellwidths() work for non-ambiwidth chars
  src/nvim/tui/tui.c
  test/functional/terminal/tui_spec.lua
Labels: tui

#28318 vim-patch:9.1.{0315-0318}: some filetypes are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28326 ci: enable unittests on macos-14
  .github/workflows/test.yml
  test/unit/testutil.lua
Labels: ci

#28327 refactor: fix clang NonNullParamChecker warnings
  src/nvim/CMakeLists.txt
  src/nvim/regexp.c
  src/nvim/window.c
Labels: refactor

#28289 fix(defaults): only repeat macro for each selected line if linewise
  runtime/doc/news.txt
  runtime/doc/repeat.txt
  runtime/doc/visual.txt
  runtime/lua/vim/_defaults.lua
  test/functional/editor/macro_spec.lua
Labels: defaults

#28333 vim-patch:9.1.0319: Using heredoc in string not tested with :execute
  test/old/testdir/test_let.vim
Labels: test, vim-patch

#28334 vim-patch:9.1.0320: Wrong cursor position after using setcellwidths()
  src/nvim/mbyte.c
  src/nvim/move.c
  test/old/testdir/test_utf8.vim
Labels: vim-patch

#28336 build(deps): bump tree-sitter to v0.22.5
  cmake.deps/deps.txt
Labels: build, dependencies

#28192 feat(api)!: block all nvim_open_win autocmds when noautocmd is set
  runtime/doc/api.txt
  runtime/doc/news.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/win_config.c
  src/nvim/api/window.c
  src/nvim/popupmenu.c
  src/nvim/window.c
  test/functional/api/window_spec.lua
Labels: api, events, breaking-change

#28335 vim-patch:9.1.0329: String interpolation fails for Dict type
  runtime/doc/builtin.txt
  runtime/doc/change.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.c
  src/nvim/eval.lua
  test/functional/editor/mode_insert_spec.lua
  test/functional/legacy/edit_spec.lua
  test/old/testdir/test_edit.vim
  test/old/testdir/test_expr.vim
  test/old/testdir/test_let.vim
  test/old/testdir/test_put.vim
Labels: vim-patch

#28337 vim-patch:e92ed1b45c54
  runtime/compiler/vimdoc.vim
  runtime/ftplugin/vim.vim
Labels: vim-patch

#28338 vim-patch:4ba70cab37d2
  runtime/syntax/vim.vim
Labels: vim-patch

#28339 vim-patch:9.1.{0321,0328}
  test/old/testdir/test_cmdline.vim
Labels: test, vim-patch

#28341 fix(api): make width/height for split by nvim_open_win work
  src/nvim/api/win_config.c
  test/functional/api/window_spec.lua
Labels: api

#28325 fix(vim.ui): open() may wait indefinitely
  runtime/doc/lua.txt
  runtime/lua/vim/_defaults.lua
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_system.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/ui.lua
  test/functional/lua/ui_spec.lua
Labels: lua

#28354 vim-patch:9.1.0334: No test for highlight behavior with 'ambiwidth'
  test/old/testdir/test_regexp_utf8.vim
  test/old/testdir/test_utf8.vim
Labels: vim-patch

#28351 vim-patch:dd83b63 (i3+swayconfig syntax)
  runtime/syntax/i3config.vim
  runtime/syntax/swayconfig.vim
Labels: vim-patch

#28356 vim-patch:fb8f31ea7d7f
  runtime/compiler/pandoc.vim
  runtime/doc/quickfix.txt
Labels: vim-patch

#28357 vim-patch:9.1.{0322,0323,0324}: filetype not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28362 vim-patch:8.2.3415: Vim9: not all function argument types are properly checked
  test/old/testdir/test_digraph.vim
Labels: test, vim-patch

#28358 vim-patch:4052474a1bd2
  runtime/ftplugin/java.vim
  runtime/syntax/java.vim
Labels: vim-patch

#28359 vim-patch:9.1.0325: CMakeCache.txt files not recognized
  runtime/lua/vim/filetype.lua
  runtime/syntax/cmakecache.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28360 vim-patch:9.1.0326: filetype: some requirements files are not recognized
  runtime/compiler/pip_compile.vim
  runtime/ftplugin/requirements.vim
  runtime/lua/vim/filetype.lua
  runtime/syntax/requirements.vim
  test/old/testdir/test_compiler.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28361 vim-patch:8a31de6dd275
  runtime/compiler/rime_deployer.vim
  runtime/ftplugin/yaml.vim
Labels: vim-patch

#28363 vim-patch:9.1.0332: tests: some assert_equal() calls have wrong order of args
  test/old/testdir/test_cmdline.vim
  test/old/testdir/test_digraph.vim
  test/old/testdir/test_registers.vim
Labels: test, vim-patch

#28364 vim-patch:9.1.0335: String interpolation fails for List type
  src/nvim/eval.c
  src/nvim/eval/vars.c
  test/old/testdir/test_expr.vim
  test/old/testdir/test_let.vim
  test/old/testdir/test_put.vim
Labels: vim-patch

#28343 fix(messages): avoid crash with :intro and ch=0
  src/nvim/message.c
  test/functional/ui/messages_spec.lua
Labels: messages

#28367 test: getting autocmd Lua callback in Vimscript
  src/nvim/api/private/converter.c
  test/functional/api/autocmd_spec.lua
Labels: test

#28368 test: make mapping tests more consistent
  src/nvim/api/private/converter.c
  test/functional/api/keymap_spec.lua
  test/functional/vimscript/map_functions_spec.lua
Labels: test

#28227 feat(diagnostic): is_enabled, enable(…, enable:boolean)
  runtime/doc/deprecated.txt
  runtime/doc/develop.txt
  runtime/doc/diagnostic.txt
  runtime/doc/news-0.9.txt
  runtime/doc/news.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: diagnostic

#28371 fix(float): reset pwd after win_set_buf in nvim_open_win
  src/nvim/window.c
  test/functional/api/window_spec.lua
Labels: float

#28376 fix(api): ignore 'autochdir' when renaming other buf
  src/nvim/api/buffer.c
  src/nvim/autocmd.c
  src/nvim/window.c
  test/functional/api/buffer_spec.lua
  test/functional/api/window_spec.lua
Labels: api

#28324 feat(defaults): use ripgrep (rg) for 'grepprg' if available
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  runtime/lua/nvim/health.lua
  runtime/lua/vim/_defaults.lua
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: defaults

#28203 fix(lua): make `vim.fs.normalize()` resolve `.` and `..`
  runtime/doc/lua.txt
  runtime/lua/vim/fs.lua
  test/functional/lua/fs_spec.lua
Labels: lua, filesystem

#28380 test: API can return Lua function to Lua code
  src/nvim/api/private/converter.c
  test/functional/api/vim_spec.lua
Labels: test

#28381 vim-patch:9.1.0340: Problem: Error with matchaddpos() and empty list
  src/nvim/match.c
  test/old/testdir/test_match.vim
Labels: vim-patch

#28382 vim-patch:9.1.0341: Problem: a few memory leaks are found
  src/nvim/eval/funcs.c
  test/old/testdir/test_listdict.vim
Labels: vim-patch

#28391 vim-patch:9.1.0344: Cursor wrong after using setcellwidth() in terminal
  test/old/testdir/test_utf8.vim
Labels: test, vim-patch

#28392 vim-patch:9.1.0343: 'showcmd' wrong for partial mapping with multibyte
  src/nvim/getchar.c
  src/nvim/normal.c
  test/functional/legacy/mapping_spec.lua
  test/old/testdir/test_mapping.vim
Labels: vim-patch

#28393 test: 'showcmd' with ext_messages and Visual selection
  src/nvim/getchar.c
  src/nvim/normal.c
  test/functional/ui/messages_spec.lua
Labels: test

#28389 build(manifest): set longPathAware in Manifest on Windows
  src/nvim/os/nvim.manifest
Labels: build, platform:windows

#28394 build(nix): update flake to prevent build errors
  contrib/flake.lock
  contrib/flake.nix
Labels: build, platform:nix

#28398 refactor(lsp): merge rpc.domain_socket_connect into rpc.connect
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/rpc.lua
  test/functional/plugin/lsp_spec.lua
Labels: refactor, lsp

#28374 feat(lua): enable(enable:boolean, filter:table)
  runtime/doc/develop.txt
  runtime/doc/diagnostic.txt
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  test/functional/lua/diagnostic_spec.lua
  test/functional/lua/vim_spec.lua
  test/functional/plugin/lsp/inlay_hint_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: diagnostic, breaking-change

#28403 fix(lsp): correct deprecation message
  runtime/lua/vim/lsp/inlay_hint.lua
Labels: lsp

#28402 docs: update supported platforms
  runtime/doc/support.txt
Labels: documentation

#28406 vim-patch:9.1.0351: No test that completing a partial mapping clears 'showcmd'
  src/nvim/getchar.c
  test/functional/legacy/mapping_spec.lua
  test/old/testdir/test_mapping.vim
  test/old/testdir/test_utf8.vim
Labels: vim-patch

#28409 vim-patch:9.1.0354: runtime(uci): No support for uci file types
  runtime/ftplugin/uci.vim
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/filetype/detect.lua
  runtime/syntax/uci.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#28411 build(deps): bump luajit to HEAD - 75e927779
  cmake.deps/deps.txt
Labels: build, dependencies

#26138 refactor(vim.iter)!: remove vim.iter.map/filter/totable
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/iter.lua
Labels: refactor, breaking-change

#28414 vim-patch:cee034112d41
  runtime/ftplugin/bp.vim
Labels: vim-patch

#28420 fix(showcmd): clear the rest properly
  src/nvim/grid.c
  src/nvim/normal.c
  test/functional/editor/mode_normal_spec.lua
Labels: normal-mode

#28422 refactor: add xmemcpyz() and use it in place of some xstrlcpy()
  runtime/doc/dev_vimpatch.txt
  src/clint.py
  src/nvim/change.c
  src/nvim/cmdexpand.c
  src/nvim/eval/userfunc.c
  src/nvim/ex_session.c
  src/nvim/file_search.c
  src/nvim/fold.c
  src/nvim/getchar.c
  src/nvim/mapping.c
  src/nvim/memory.c
  src/nvim/ops.c
  src/nvim/os/env.c
  src/nvim/os/fs.c
  src/nvim/os/stdpaths.c
  src/nvim/path.c
  src/nvim/regexp.c
  src/nvim/runtime.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/spellsuggest.c
  src/nvim/syntax.c
  src/nvim/tag.c
Labels: refactor

#28388 feat(lsp): add vim.lsp.buf.subtypes(), vim.lsp.buf.supertypes()
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/handlers.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#28426 refactor(lua): "module" => "M"
  src/nvim/ex_cmds.lua
  test/cmakeconfig/paths.lua.in
  test/functional/testutil.lua
  test/testutil.lua
  test/unit/testutil.lua
Labels: refactor, lua

#28430 feat(treesitter): handle quantified fold captures
  runtime/doc/news.txt
  runtime/lua/vim/treesitter/_fold.lua
  test/functional/treesitter/fold_spec.lua
Labels: treesitter

#28428 vim-patch:564166f68184
  runtime/ftplugin/cmake.vim
Labels: vim-patch

#28235 fix(api): do not update grid position in nvim_win_set_cursor
  src/nvim/api/window.c
  test/functional/api/window_spec.lua
  test/functional/ui/cmdline_spec.lua
Labels: api
