Repository neovim/neovim, pull requests merged in 2024-03, with the labels that each got.

#27684 fix(lsp): rename undofile when renaming
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#27696 vim-patch:87410ab3f556
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: vim-patch

#27697 vim-patch:9.1.0146: v:echospace wrong with invalid value of 'showcmdloc'
  src/nvim/optionstr.c
  test/old/testdir/test_messages.vim
Labels: vim-patch

#27644 docs: document Lua objects
  runtime/doc/deprecated.txt
  runtime/doc/develop.txt
  runtime/doc/diagnostic.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/treesitter.txt
  runtime/lua/tohtml.lua
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_inspector.lua
  runtime/lua/vim/_meta/builtin.lua
  runtime/lua/vim/_meta/lpeg.lua
  runtime/lua/vim/_meta/regex.lua
  runtime/lua/vim/_options.lua
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/fs.lua
  runtime/lua/vim/iter.lua
  runtime/lua/vim/loader.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/_changetracking.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/secure.lua
  runtime/lua/vim/shared.lua
  runtime/lua/vim/snippet.lua
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/_query_linter.lua
  runtime/lua/vim/treesitter/dev.lua
  runtime/lua/vim/treesitter/highlighter.lua
  runtime/lua/vim/treesitter/language.lua
  runtime/lua/vim/treesitter/languagetree.lua
  runtime/lua/vim/treesitter/query.lua
  runtime/lua/vim/version.lua
  scripts/gen_help_html.lua
  scripts/gen_vimdoc.lua
  scripts/luacats_grammar.lua
  scripts/luacats_parser.lua
  scripts/text_utils.lua
  test/functional/script/luacats_parser_spec.lua
  test/functional/script/text_utils_spec.lua
Labels: documentation

#27347 feat(lsp): add fswatch watchfunc backend
  .github/scripts/install_deps.sh
  runtime/doc/news.txt
  runtime/lua/vim/_watch.lua
  runtime/lua/vim/lsp/_watchfiles.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/health.lua
  test/functional/lua/watch_spec.lua
  test/functional/plugin/lsp_spec.lua
  test/helpers.lua
Labels: lsp

#27700 fix(deps): bump luv to 1.48.0-2
  cmake.deps/deps.txt
Labels: dependencies

#27701 vim-patch:100a665634a0
  runtime/syntax/java.vim
Labels: vim-patch

#27702 build(deps): bump treesitter-vimdoc to v2.2.0
  cmake.deps/deps.txt
Labels: build, dependencies

#27688 fix(lsp): defer writing error msgs
  runtime/lua/vim/lsp/client.lua
Labels: lsp

#27687 fix(float): allow floating window in cmdline area
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: float

#27690 fix(lsp): directly rename the existing buffers when renaming
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#27712 fix(column): full redraw with 'stc, 'rnu' and inserted lines
  src/nvim/drawline.c
  test/functional/ui/statuscolumn_spec.lua
Labels: column

#27707 vim-patch:e93afc2e6126
  runtime/ftplugin/r.vim
  runtime/ftplugin/rhelp.vim
  runtime/ftplugin/rmd.vim
  runtime/ftplugin/rnoweb.vim
  runtime/ftplugin/rrst.vim
Labels: vim-patch

#27715 build: don't allow Xcode as generator
  BUILD.md
  CMakeLists.txt
Labels: build

#27719 vim-patch:b3030b653bbd
  runtime/syntax/java.vim
Labels: vim-patch

#27724 vim-patch:c4aef9a97b36,691aee8b0705
  runtime/syntax/vim.vim
Labels: vim-patch

#27708 docs(lua): clarify when `vim.bo`/`vim.wo` acts like `:setlocal`
  runtime/doc/lua.txt
  runtime/lua/vim/_options.lua
Labels: lua

#27737 vim-patch:e5c9ba601573
  runtime/syntax/vim.vim
Labels: vim-patch

#27743 docs(lua): improvements for LSP and Diagnostic
  runtime/doc/diagnostic.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/lua/vim/_inspector.lua
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/shared.lua
  scripts/gen_vimdoc.lua
  scripts/luacats_grammar.lua
  test/functional/script/luacats_grammar_spec.lua
Labels: documentation, lua, lsp, diagnostic

#27749 vim-patch:63c39e4ef749
  runtime/syntax/c.vim
Labels: vim-patch

#27751 refactor(types): more fixes
  runtime/doc/lua.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_init_packages.lua
  runtime/lua/vim/_meta/api_keysets_extra.lua
  runtime/lua/vim/_options.lua
  runtime/lua/vim/fs.lua
  runtime/lua/vim/loader.lua
  runtime/lua/vim/shared.lua
Labels: refactor

#27750 refactor(lua): more efficient vim.tbl_islist
  runtime/lua/vim/shared.lua
Labels: refactor, lua

#27717 feat(lsp): report fswatch errors
  runtime/lua/vim/_watch.lua
Labels: lsp

#27752 fix(lsp): actually send diagnostic-tags back to the server
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp

#27593 docs(treesitter): fix ambiguous parameter description about `lang`
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter.lua
Labels: treesitter

#27753 refactor(types): more fixes (2)
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/lua/tohtml.lua
  runtime/lua/vim/iter.lua
  runtime/lua/vim/lsp/_dynamic.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/treesitter/_meta.lua
  runtime/lua/vim/treesitter/_query_linter.lua
  runtime/lua/vim/treesitter/languagetree.lua
  runtime/lua/vim/version.lua
Labels: refactor, lsp, treesitter

#27710 fix(types): move IterMod type definition
  runtime/lua/vim/iter.lua
Labels: lua

#27545 docs(lsp): nits and typos in client.lua
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/client.lua
Labels: lsp

#27757 vim-patch:9.1.0155: can only get getregion() from current buffer
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  test/old/testdir/test_visual.vim
Labels: vim-patch

#27639 feat(lua): deprecate vim.tbl_add_reverse_lookup
  runtime/doc/deprecated.txt
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/tohtml.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/log.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/shared.lua
Labels: lsp

#27760 fix(process): close handles and timer in pty_process_close()
  src/nvim/os/pty_process_win.c
Labels: platform:windows, job-control, terminal

#27766 vim-patch:9.1.0157: Duplicate assignment in f_getregion()
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  test/old/testdir/test_undo.vim
Labels: vim-patch

#27767 vim-patch:9.1.{0154,0158}: shm=F not respected when reloading buffer with 'autoread'
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/fileio.c
  src/nvim/options.lua
  test/functional/autocmd/focus_spec.lua
  test/old/testdir/test_options.vim
Labels: vim-patch

#27769 fix(process): avoid potential data race on exit
  src/nvim/os/pty_process_win.c
Labels: platform:windows, job-control, terminal

#27770 test(tohtml_spec): don't use hard-coded sleeping time
  test/functional/plugin/tohtml_spec.lua
Labels: test

#27772 test(old): change back to using termopen() on Windows
  test/old/testdir/runnvim.vim
Labels: test

#27773 vim-patch:8.2.5077: various warnings from clang on MS-Windows
  src/nvim/os/env.c
Labels: vim-patch

#27655 refactor(msgpack): allow flushing buffer while packing msgpack
  src/nvim/api/private/defs.h
  src/nvim/api/private/helpers.c
  src/nvim/api/ui.c
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/lua/converter.c
  src/nvim/main.c
  src/nvim/memory.c
  src/nvim/memory.h
  src/nvim/msgpack_rpc/channel.c
  src/nvim/msgpack_rpc/helpers.c
  src/nvim/msgpack_rpc/helpers.h
  src/nvim/msgpack_rpc/packer.c
  src/nvim/msgpack_rpc/packer.h
  src/nvim/msgpack_rpc/packer_defs.h
  src/nvim/msgpack_rpc/unpacker.c
  src/nvim/shada.c
  src/nvim/strings.c
  src/nvim/ui_defs.h
Labels: refactor, ci-s390x

#27775 refactor(ui): remove outdated UI vs UIData distinction
  src/nvim/api/ui.c
  src/nvim/generators/gen_api_ui_events.lua
  src/nvim/highlight.c
  src/nvim/ui.c
  src/nvim/ui_compositor.c
  src/nvim/ui_defs.h
Labels: refactor, ui

#27779 ci: allow skipping news workflow with a label
  .github/workflows/news.yml
  .github/workflows/optional.yml
  MAINTAIN.md
Labels: ci

#27777 feat!: remove deprecated functions
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/language.lua
  runtime/lua/vim/treesitter/query.lua
  test/functional/treesitter/node_spec.lua
  test/functional/treesitter/parser_spec.lua
Labels: lsp, treesitter, ci:skip-news

#27764 fix: set full_screen when in ex_mode
  src/nvim/main.c
  test/functional/core/main_spec.lua
Labels: ui, startup

#27491 vim-patch:8.2.3915: illegal memory access when completing with invalid bytes
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#27778 docs: support inline markdown
  runtime/doc/api.txt
  runtime/doc/develop.txt
  runtime/doc/diagnostic.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_inspector.lua
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_options.lua
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/iter.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/languagetree.lua
  runtime/lua/vim/treesitter/query.lua
  runtime/lua/vim/version.lua
  scripts/luacats_grammar.lua
  scripts/text_utils.lua
  src/nvim/api/autocmd.c
  src/nvim/api/command.c
  src/nvim/api/extmark.c
  src/nvim/api/ui.c
  src/nvim/api/vim.c
  src/nvim/api/vimscript.c
  src/nvim/api/win_config.c
  test/functional/script/luacats_grammar_spec.lua
  test/functional/script/text_utils_spec.lua
Labels: documentation, lsp, treesitter, diagnostic

#27330 fix(api): various window-related function fixes
  runtime/doc/api.txt
  runtime/doc/builtin.txt
  runtime/doc/windows.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/api/tabpage.c
  src/nvim/api/win_config.c
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/drawscreen.c
  src/nvim/eval.lua
  src/nvim/eval/window.c
  src/nvim/globals.h
  src/nvim/tui/tui.c
  src/nvim/window.c
  src/nvim/winfloat.c
  test/functional/api/tabpage_spec.lua
  test/functional/api/window_spec.lua
  test/functional/lua/vim_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/ui/statusline_spec.lua
  test/old/testdir/test_execute_func.vim
  test/old/testdir/test_scroll_opt.vim
  test/old/testdir/test_window_cmd.vim
Labels: api, has:vim-patch, vim-patch

#27791 vim-patch:9.1.0161: expand() removes slash after env variable that ends with colon
  src/nvim/os/env.c
  test/old/testdir/test_expand.vim
Labels: vim-patch

#27792 vim-patch:9.1.0159: Crash in WinClosed after BufUnload closes other windows
  src/nvim/window.c
  test/old/testdir/test_autocmd.vim
Labels: vim-patch

#27797 vim-patch:a2c65809dafe
  runtime/syntax/java.vim
Labels: vim-patch

#27798 vim-patch: update Vim syntax
  runtime/syntax/vim.vim
Labels: vim-patch

#27800 vim-patch:9.1.0162: problem with writing extended attributes on failure
  src/nvim/os/fs.c
Labels: vim-patch

#27799 vim-patch:9.1.0138: too many STRLEN calls when getting a memline
  runtime/doc/dev_vimpatch.txt
  src/nvim/change.c
  src/nvim/cursor.c
  src/nvim/edit.c
  src/nvim/memline.c
  src/nvim/memline_defs.h
  src/nvim/normal.c
  src/nvim/textformat.c
  test/old/testdir/test_comments.vim
Labels: vim-patch

#27805 vim-patch:9.1.0164: Internal error when passing invalid position to getregion()
  src/nvim/eval/funcs.c
  src/nvim/globals.h
  test/old/testdir/test_visual.vim
Labels: vim-patch

#27806 vim-patch:675cbfb47f03
  runtime/doc/syntax.txt
Labels: documentation, vim-patch

#26816 docs: more accurate typing for `vim.tbl_extend`
  runtime/doc/lua.txt
  runtime/lua/vim/shared.lua
Labels: documentation

#27738 vim-patch:9.1.{0147,0149,0150,0152,0156},58f1e5c0893a: 'winfixbuf'
  runtime/doc/message.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/doc/tagsrch.txt
  runtime/lua/vim/_meta/options.lua
  runtime/optwin.vim
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/arglist.c
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/ex_cmds.c
  src/nvim/ex_cmds.lua
  src/nvim/ex_cmds2.c
  src/nvim/ex_docmd.c
  src/nvim/globals.h
  src/nvim/insexpand.c
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/options.lua
  src/nvim/quickfix.c
  src/nvim/search.c
  src/nvim/tag.c
  src/nvim/window.c
  test/functional/options/winfixbuf_spec.lua
  test/old/testdir/test_winfixbuf.vim
Labels: vim-patch

#27809 build(deps): bump luajit to HEAD - d06beb048
  cmake.deps/deps.txt
Labels: build, dependencies

#27810 docs: adjust fswatch overflow message to mention docs with info
  runtime/doc/lua.txt
  runtime/lua/vim/_watch.lua
Labels: documentation, lsp

#27816 test: correct order of arguments to eq()
  test/functional/api/vim_spec.lua
  test/functional/autocmd/textyankpost_spec.lua
  test/functional/ex_cmds/cmd_map_spec.lua
  test/functional/legacy/memory_usage_spec.lua
  test/functional/lua/buffer_updates_spec.lua
  test/functional/lua/diagnostic_spec.lua
  test/functional/lua/thread_spec.lua
  test/functional/lua/vim_spec.lua
  test/functional/options/defaults_spec.lua
  test/functional/options/num_options_spec.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
  test/functional/plugin/lsp/inlay_hint_spec.lua
  test/functional/plugin/lsp_spec.lua
  test/functional/shada/merging_spec.lua
  test/functional/treesitter/parser_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/ui/inccommand_spec.lua
  test/unit/msgpack_spec.lua
  test/unit/os/env_spec.lua
  test/unit/os/shell_spec.lua
  test/unit/profile_spec.lua
  test/unit/tempfile_spec.lua
Labels: test

#27812 feat(ui): allow non-zero 'cmdheight' with ext_messages
  src/nvim/option.c
  test/functional/ui/messages_spec.lua
Labels: ui, ci:skip-news

#27817 vim-patch:0049a495c8d4
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#27821 vim-patch:8.2.4944: text properties are wrong after "cc"
  src/nvim/change.c
  src/nvim/ops.c
  test/functional/lua/buffer_updates_spec.lua
Labels: vim-patch

#27819 vim-patch:9.1.0166: Internal error with blockwise getregion() in another buffer
  src/nvim/eval/funcs.c
  test/old/testdir/test_visual.vim
Labels: vim-patch

#27820 vim-patch:9.1.0167: Changing buffer in another window causes it to show matchparen
  runtime/plugin/matchparen.vim
  test/functional/legacy/matchparen_spec.lua
  test/old/testdir/test_matchparen.vim
Labels: vim-patch

#27822 vim-patch:5cd86c6cff94
  runtime/syntax/vim.vim
Labels: vim-patch

#27823 vim-patch:9.1.0168: too many STRLEN() calls
  src/nvim/change.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
Labels: vim-patch

#27825 refactor: use ml_get_buf_len() in API code
  src/nvim/api/buffer.c
  src/nvim/api/extmark.c
  src/nvim/api/private/helpers.c
  src/nvim/lua/executor.c
  src/nvim/lua/stdlib.c
  src/nvim/lua/treesitter.c
Labels: api, refactor, treesitter

#27827 refactor: quadratic behavior in backslash_halve()
  src/nvim/charset.c
Labels: refactor

#27132 feat(treesitter): support URLs
  runtime/doc/news.txt
  runtime/lua/vim/treesitter/highlighter.lua
  runtime/queries/markdown_inline/highlights.scm
  runtime/queries/vimdoc/highlights.scm
  test/functional/treesitter/highlight_spec.lua
Labels: treesitter

#27808 Cleanup construction of command-lines for header generation
  src/nvim/CMakeLists.txt
Labels: build

#27830 refactor: add vim_str[n]cpy_up and use them in vim_str[n]save_up
  src/nvim/highlight_group.c
  src/nvim/strings.c
Labels: refactor

#27839 vim-patch:9.1.{0169,0170,0171,9a660d2883f9}
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/eval/window.c
  src/nvim/globals.h
  src/nvim/window.c
  test/old/testdir/test_execute_func.vim
  test/old/testdir/test_window_cmd.vim
Labels: vim-patch

#27841 refactor: remove "once" argument of loop_uv_run()
  src/nvim/event/loop.c
Labels: refactor

#27840 fix(drawline): initialize linebuf_attr to 0 instead of -1
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#27845 vim-patch:9.1.0175: wrong window positions with 'winfix{width,height}'
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/window.c
  test/old/testdir/test_window_cmd.vim
Labels: vim-patch

#27846 vim-patch:9.1.0178: E1513 might be confusing
  runtime/doc/message.txt
  src/nvim/globals.h
  test/old/testdir/test_winfixbuf.vim
Labels: vim-patch

#27849 vim-patch:8.2.4950: text properties position wrong after shifting text
  src/nvim/ops.c
Labels: vim-patch

#27850 vim-patch:9.1.{0172,0177}: more code can use ml_get_buf_len()
  src/nvim/change.c
  src/nvim/cursor.c
  src/nvim/diff.c
  src/nvim/drawline.c
  src/nvim/edit.c
  src/nvim/ex_cmds.c
  src/nvim/fileio.c
  src/nvim/fold.c
  src/nvim/insexpand.c
  src/nvim/mark.c
  src/nvim/memline.c
  src/nvim/ops.c
  src/nvim/plines.c
  src/nvim/quickfix.c
  src/nvim/search.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/spellsuggest.c
  src/nvim/statusline.c
  src/nvim/syntax.c
  src/nvim/textformat.c
  src/nvim/textobject.c
  test/old/testdir/test_normal.vim
Labels: vim-patch

#27658 fix(terminal): disable reflow again
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/memline.c
  src/nvim/options.lua
  src/nvim/terminal.c
  test/functional/terminal/window_spec.lua
Labels: terminal

#27854 fix(api): fix set_lines viewport adjustment, but this time good
  src/nvim/mark.c
  test/functional/api/buffer_spec.lua
Labels: api

#27857 refactor(drawline): rename vcol_off to vcol_off_co
  src/nvim/drawline.c
Labels: refactor

#27848 fix(highlight): don't show CursorColumn on current line
  src/nvim/drawline.c
  test/functional/ui/highlight_spec.lua
Labels: highlight

#27862 vim-patch:9.1.0180: Cursor pos wrong when double-width chars are concealed
  src/nvim/drawline.c
  test/functional/legacy/conceal_spec.lua
  test/old/testdir/test_conceal.vim
Labels: vim-patch

#27863 vim-patch:9.1.0181: no overflow check for string formatting
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/strings.c
  test/old/testdir/test_format.vim
Labels: vim-patch

#27674 fix(snippet): correct indent with newline
  runtime/lua/vim/snippet.lua
  test/functional/lua/snippet_spec.lua
Labels: lsp, snippets

#27858 fix(ui): issues controlling cursor position with ext_cmdline
  src/nvim/api/window.c
  src/nvim/ex_getln.c
  test/functional/api/window_spec.lua
  test/functional/ui/cmdline_spec.lua
Labels: ui

#27867 fix(ui): startup intro message should be visible with ext_multigrid
  src/nvim/version.c
  test/functional/ui/messages_spec.lua
Labels: ui

#27873 vim-patch: Update Vim syntax
  runtime/syntax/vim.vim
Labels: vim-patch

#27856 fix(l10n): update Japanese translations
  runtime/tutor/ja/vim-01-beginner.tutor
  runtime/tutor/ja/vim-01-beginner.tutor.json
  src/nvim/po/ja.po
  test/functional/ui/messages_spec.lua
Labels: localization

#27871 fix(ui): edge case around flushing in grid_line
  src/nvim/api/ui.c
Labels: ui

#27880 vim-patch:989faa4fce65
  runtime/doc/tagsrch.txt
Labels: documentation, vim-patch

#27881 vim-patch:8.2.3782: Vim9: no error if a function shadows a script variable
  src/nvim/eval/userfunc.c
Labels: vim-patch

#27882 vim-patch:9.1.0183: Wrong display or screenpos() result when toggling diff mode
  src/nvim/diff.c
  test/old/testdir/test_diffmode.vim
Labels: vim-patch, diff

#27883 vim-patch:9.1.0182: Can define function with invalid name inside 'formatexpr'
  src/nvim/eval/userfunc.c
  test/old/testdir/test_user_func.vim
Labels: vim-patch

#27789 fix(lsp): default link more LSP semantic token types
  runtime/doc/lsp.txt
  src/nvim/highlight_group.c
  test/functional/plugin/lsp/semantic_tokens_spec.lua
Labels: lsp

#27886 ci: update clang version to 18
  .github/scripts/install_deps.sh
Labels: ci

#27803 ci: simplify concurrency string
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/optional.yml
  .github/workflows/test.yml
Labels: ci

#27870 ci: don't assign reviewers for "api" and "ui" labels
  .github/scripts/reviewers_add.js
Labels: ci

#27888 refactor(lua): type annotations
  runtime/doc/lua.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/highlight.lua
  runtime/lua/vim/keymap.lua
  runtime/lua/vim/secure.lua
  runtime/lua/vim/snippet.lua
  runtime/lua/vim/termcap.lua
  runtime/lua/vim/text.lua
  runtime/lua/vim/treesitter/languagetree.lua
  runtime/lua/vim/treesitter/query.lua
  scripts/gen_vimdoc.lua
Labels: refactor, lua, treesitter

#27890 vim-patch:9.1.0184: Cursor pos wrong when clicking with conceal and wrap
  src/nvim/drawline.c
  src/nvim/grid.c
  src/nvim/grid.h
  src/nvim/mouse.c
  test/old/testdir/test_conceal.vim
Labels: vim-patch

#27892 fix(normal): don't check conceal when pressing 'r'
  src/nvim/normal.c
  src/nvim/ui.c
  test/functional/ui/syntax_conceal_spec.lua
Labels: conceal, normal-mode

#27893 refactor(drawline): integrate terminal hl with eol loop
  src/nvim/drawline.c
  src/nvim/terminal.c
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/highlight_spec.lua
  test/functional/ui/highlight_spec.lua
Labels: refactor, terminal

#27897 fix(mouse): click after eol with conceal and virtual text
  src/nvim/drawline.c
  test/functional/ui/mouse_spec.lua
Labels: mouse

#27898 test: combining TermCursorNC with CursorLine/CursorColumn
  test/functional/terminal/highlight_spec.lua
Labels: test

#27699 fix(lsp): create codelens request parameters for each buffer
  runtime/lua/vim/lsp/codelens.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#27901 fix(treesitter): revert to using iter_captures in highlighter
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/highlighter.lua
  runtime/lua/vim/treesitter/query.lua
  test/functional/treesitter/highlight_spec.lua
Labels: treesitter

#27905 fix(messages): allow more prompt in headless mode with UI
  src/nvim/message.c
  test/functional/treesitter/highlight_spec.lua
  test/functional/ui/messages_spec.lua
Labels: pager, messages

#27903 vim-patch:9.1.0186: cursor pos wrong on mouse click after eol with 'rl', 've' and conceal
  src/nvim/drawline.c
  src/nvim/grid.c
  src/nvim/grid_defs.h
  test/old/testdir/test_conceal.vim
Labels: vim-patch

#27908 vim-patch:3d46de703cf6
  runtime/syntax/go.vim
Labels: vim-patch

#27875 docs: update fedora 39 build prerequisite
  BUILD.md
Labels: documentation

#27909 refactor(messages): remove condition that is always true
  src/nvim/message.c
Labels: refactor, messages

#27899 test(lsp): fix flaky basic_finish test
  test/functional/plugin/lsp_spec.lua
Labels: test, lsp

#27913 fix(pager): handle consecutive newlines properly
  src/nvim/eval.c
  src/nvim/message.c
  test/functional/ui/messages_spec.lua
Labels: pager, messages

#27917 vim-patch:ef21bcaab145
  runtime/ftplugin/rust.vim
Labels: vim-patch

#27918 vim-patch:9.1.0187: filetype: no support for Dafny files
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#27919 vim-patch:9530fe4f3a69
  runtime/syntax/vim.vim
Labels: vim-patch

#27920 vim-patch:78c189837ae6
  runtime/doc/starting.txt
Labels: documentation, vim-patch

#27923 test(terminal/buffer_spec): fix incorrect tests
  test/functional/terminal/buffer_spec.lua
Labels: test

#27924 test(terminal/cursor_spec): unskip tests that pass on Windows
  test/functional/terminal/cursor_spec.lua
  test/functional/terminal/tui_spec.lua
Labels: test

#27912 build: introduce variable DEPS_IGNORE_SHA for skipping dependency hash check
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/BuildGettext.cmake
  cmake.deps/cmake/BuildLibiconv.cmake
  cmake.deps/cmake/BuildLibuv.cmake
  cmake.deps/cmake/BuildLibvterm.cmake
  cmake.deps/cmake/BuildLpeg.cmake
  cmake.deps/cmake/BuildLua.cmake
  cmake.deps/cmake/BuildLuajit.cmake
  cmake.deps/cmake/BuildLuv.cmake
  cmake.deps/cmake/BuildMsgpack.cmake
  cmake.deps/cmake/BuildTreesitter.cmake
  cmake.deps/cmake/BuildTreesitterParsers.cmake
  cmake.deps/cmake/BuildUnibilium.cmake
  cmake/Deps.cmake
Labels: build, dependencies

#27922 fix(terminal): don't pass incomplete UTF-8 sequence to libvterm
  src/nvim/channel.c
  test/functional/fixtures/shell-test.c
  test/functional/terminal/buffer_spec.lua
Labels: terminal

#27921 refactor(treesitter): redesign query iterating
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/_meta.lua
  runtime/lua/vim/treesitter/_query_linter.lua
  runtime/lua/vim/treesitter/query.lua
  src/nvim/lua/executor.c
  src/nvim/lua/treesitter.c
Labels: treesitter

#27932 refactor(treesitter): simplify argument checks for userdata
  src/nvim/lua/treesitter.c
Labels: refactor, treesitter

#27933 refactor(treesitter): reorder functions
  src/nvim/lua/treesitter.c
Labels: treesitter

#27934 build(deps): bump vimdoc parser to v2.5.1
  cmake.deps/deps.txt
Labels: build, dependencies

#27939 vim-patch:ec21bafc135a
  runtime/syntax/vim.vim
Labels: vim-patch

#27941 test(ui/messages_spec): unskip msg_puts_printf test on Unix CI
  test/functional/ui/messages_spec.lua
Labels: test

#27945 fix(treesitter): treecursor regression
  src/nvim/lua/treesitter.c
Labels: treesitter

#27946 refactor(treesitter): handle coverity warnings better
  src/coverity-model.c
  src/nvim/lua/treesitter.c
Labels: refactor, ci, treesitter

#27930 fix(api): small nvim_create_buf fixes
  src/nvim/api/vim.c
  test/functional/api/vim_spec.lua
Labels: api, events

#27947 fix(cmdline): wrong 'incsearch' highlighting after :redraw
  src/nvim/ex_getln.c
  test/functional/ui/searchhl_spec.lua
Labels: highlight, cmdline-mode

#27952 vim-patch:2708c0b5854f
  runtime/ftplugin/deb822sources.vim
Labels: vim-patch

#27955 vim-patch:9.1.0190: complete_info() returns wrong order of items
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#27961 fix(rpc): do not crash when no input is consumed
  src/nvim/rbuffer.c
  test/functional/api/server_requests_spec.lua
Labels: rpc

#27969 refactor(misc): use MSVC compiler builtin for `xctz()`
  src/nvim/math.c
Labels: refactor

#27970 vim-patch:9.1.0194: gcc complains about uninitialized var
  src/nvim/insexpand.c
Labels: vim-patch

#27971 vim-patch:9.1.{0192,0195}: drop: don't rewind when editing the same file
  src/nvim/ex_cmds2.c
  test/functional/ex_cmds/drop_spec.lua
  test/old/testdir/test_excmd.vim
Labels: vim-patch

#27973 vim-patch:35e6f4ca27c8
  runtime/syntax/vim.vim
Labels: vim-patch

#26970 refactor(options): remove `set_string_option_direct()`
  src/nvim/api/vim.c
  src/nvim/autocmd.c
  src/nvim/diff.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/help.c
  src/nvim/indent.c
  src/nvim/main.c
  src/nvim/option.c
  src/nvim/optionstr.c
  src/nvim/popupmenu.c
  src/nvim/quickfix.c
  src/nvim/statusline.c
  test/functional/options/modified_spec.lua
Labels: refactor, options

#27981 fix(lsp): handle stale bufnr on LspRequest autocmd trigger
  runtime/lua/vim/lsp/client.lua
Labels: lsp

#27985 vim-patch:76d62985c1ff
  runtime/syntax/vim.vim
Labels: vim-patch

#27987 vim-patch:8.2.{2318,2605}
  src/nvim/eval.c
  src/nvim/eval/typval.c
Labels: vim-patch

#27931 fix(filetype): use unexpanded file name
  runtime/filetype.lua
  test/functional/lua/filetype_spec.lua
Labels: filetype

#27991 vim-patch:9.1.0199: Not enough tests for the slice() function
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  test/old/testdir/test_functions.vim
Labels: vim-patch

#27911 build: use `GIT_REPOSITORY` for local URLs
  CMakeLists.txt
  CONTRIBUTING.md
  cmake.deps/cmake/BuildGettext.cmake
  cmake.deps/cmake/BuildLibiconv.cmake
  cmake.deps/cmake/BuildLibuv.cmake
  cmake.deps/cmake/BuildLibvterm.cmake
  cmake.deps/cmake/BuildLpeg.cmake
  cmake.deps/cmake/BuildLua.cmake
  cmake.deps/cmake/BuildLuajit.cmake
  cmake.deps/cmake/BuildLuv.cmake
  cmake.deps/cmake/BuildMsgpack.cmake
  cmake.deps/cmake/BuildTreesitter.cmake
  cmake.deps/cmake/BuildTreesitterParsers.cmake
  cmake.deps/cmake/BuildUnibilium.cmake
  cmake.deps/cmake/GetBinaryDeps.cmake
  cmake/Deps.cmake
Labels: build

#27980 refactor(tests): all screen tests should use highlights
  test/functional/api/buffer_spec.lua
  test/functional/api/extmark_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/core/job_spec.lua
  test/functional/core/main_spec.lua
  test/functional/core/startup_spec.lua
  test/functional/editor/ctrl_c_spec.lua
  test/functional/editor/mark_spec.lua
  test/functional/ex_cmds/map_spec.lua
  test/functional/ex_cmds/oldfiles_spec.lua
  test/functional/ex_cmds/swapfile_preserve_recover_spec.lua
  test/functional/legacy/107_adjust_window_and_contents_spec.lua
  test/functional/legacy/arglist_spec.lua
  test/functional/legacy/cmdline_spec.lua
  test/functional/legacy/cpoptions_spec.lua
  test/functional/legacy/display_spec.lua
  test/functional/legacy/highlight_spec.lua
  test/functional/legacy/options_spec.lua
  test/functional/legacy/prompt_buffer_spec.lua
  test/functional/legacy/put_spec.lua
  test/functional/legacy/scroll_opt_spec.lua
  test/functional/legacy/window_cmd_spec.lua
  test/functional/options/chars_spec.lua
  test/functional/options/defaults_spec.lua
  test/functional/options/shortmess_spec.lua
  test/functional/plugin/health_spec.lua
  test/functional/plugin/lsp/inlay_hint_spec.lua
  test/functional/terminal/channel_spec.lua
  test/functional/terminal/ex_terminal_spec.lua
  test/functional/terminal/scrollback_spec.lua
  test/functional/ui/cursor_spec.lua
  test/functional/ui/messages_spec.lua
  test/functional/ui/output_spec.lua
  test/functional/ui/screen.lua
  test/functional/ui/statuscolumn_spec.lua
  test/functional/ui/statusline_spec.lua
  test/functional/ui/tabline_spec.lua
  test/functional/ui/wildmode_spec.lua
  test/functional/vimscript/execute_spec.lua
  test/functional/vimscript/system_spec.lua
Labels: refactor, test

#27716 ci(windows): optionally test windows with ASAN
  .github/workflows/optional.yml
  .github/workflows/test.yml
  .github/workflows/test_windows.yml
  MAINTAIN.md
  src/nvim/main.c
Labels: ci, ci:windows-asan

#28007 vim-patch:d3c0ff5d5a90
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: vim-patch

#28008 vim-patch:6f438199c92b
  runtime/compiler/dot.vim
  runtime/compiler/neato.vim
Labels: vim-patch

#28000 ci: provide separate macos releases for intel and arm
  .github/scripts/build_universal_macos.sh
  .github/workflows/build.yml
  .github/workflows/notes.md
  .github/workflows/release.yml
  CMakeLists.txt
  cmake.deps/cmake/BuildGettext.cmake
  cmake.deps/cmake/BuildLibiconv.cmake
  cmake.deps/cmake/BuildLibuv.cmake
  cmake.deps/cmake/BuildLibvterm.cmake
  cmake.deps/cmake/BuildLpeg.cmake
  cmake.deps/cmake/BuildLuajit.cmake
  cmake.deps/cmake/BuildLuv.cmake
  cmake.deps/cmake/BuildMsgpack.cmake
  cmake.deps/cmake/BuildTreesitter.cmake
  cmake.deps/cmake/BuildTreesitterParsers.cmake
  cmake.deps/cmake/BuildUnibilium.cmake
  cmake.packaging/CMakeLists.txt
  cmake/Deps.cmake
Labels: platform:macos, build, ci, dependencies

#28013 vim-patch:4b715bdaf4ca
  runtime/autoload/netrw.vim
Labels: vim-patch
