Repository neovim/neovim, pull requests merged in 2024-09, with the labels that each got.

#30208 vim-patch:d817609: runtime(vim): Update base-syntax, match bracket mark ranges
  runtime/syntax/vim.vim
Labels: vim-patch

#30192 feat(ui): gx: use url extmark attribute and tree-sitter directive
  runtime/lua/vim/_defaults.lua
  runtime/lua/vim/ui.lua
Labels: defaults, ui

#30214 vim-patch:9abd02d: runtime(nu): include filetype plugin
  runtime/ftplugin/nu.vim
Labels: vim-patch

#30213 docs(treesitter): annotate some tables as `TSMetadata`
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/query.lua
Labels: treesitter

#30222 fix(ui): correctly pass metadata to get_node_text
  runtime/lua/vim/_meta/api_keysets_extra.lua
  runtime/lua/vim/ui.lua
Labels: ui

#30193 feat(treesitter)!: make correct match behavior for quantified captures the default
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/_fold.lua
  runtime/lua/vim/treesitter/_query_linter.lua
  runtime/lua/vim/treesitter/languagetree.lua
  runtime/lua/vim/treesitter/query.lua
  runtime/lua/vim/ui.lua
  test/functional/treesitter/parser_spec.lua
  test/functional/treesitter/query_spec.lua
Labels: treesitter, breaking-change

#30219 docs(lsp): rcp.connect() TCP requires IP address
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/rpc.lua
Labels: lsp

#30230 vim-patch:bd69b39: runtime(sudoers): improve recognized Runas_Spec and Tag_Spec items
  runtime/syntax/sudoers.vim
Labels: vim-patch

#30231 vim-patch:3c07eb0: runtime(vim): Update syntax, improve user-command matching
  runtime/syntax/vim.vim
Labels: vim-patch

#30215 feat(clipboard): try cygutils, clip on Windows
  runtime/autoload/provider/clipboard.vim
  runtime/doc/provider.txt
Labels: clipboard, ci:skip-news

#30237 feat(startup): validate --listen address
  runtime/doc/news.txt
  src/nvim/api/ui.c
  src/nvim/main.c
  src/nvim/msgpack_rpc/server.c
  test/functional/ex_cmds/profile_spec.lua
  test/functional/lua/loader_spec.lua
  test/functional/options/defaults_spec.lua
  test/functional/plugin/lsp_spec.lua
  test/functional/vimscript/server_spec.lua
  test/testutil.lua
Labels: startup

#30242 test: tmpname(create:boolean)
  test/functional/core/fileio_spec.lua
  test/functional/lua/watch_spec.lua
  test/functional/plugin/man_spec.lua
  test/functional/vimscript/server_spec.lua
  test/testutil.lua
Labels: test

#28740 fix(api): `nvim_buf_get_text()` segfault with large negative column
  src/nvim/api/private/helpers.c
  test/functional/api/buffer_spec.lua
Labels: api

#30238 feat(lsp): support hostname in rpc.connect
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/rpc.lua
  test/functional/plugin/lsp/testutil.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#30254 vim-patch:9.1.0713: Newline causes E749 in Ex mode
  src/nvim/ex_docmd.c
  test/old/testdir/test_ex_mode.vim
Labels: vim-patch

#30251 fix(lua): allows tables with integer keys to be merged in tbl_deep_extend
  runtime/doc/news.txt
  runtime/lua/vim/shared.lua
  test/functional/lua/vim_spec.lua
Labels: performance, lua

#30266 vim-patch:150b507: runtime(hcl,terraform): Add runtime files for HCL and Terraform
  runtime/autoload/hcl.vim
  runtime/ftplugin/hcl.vim
  runtime/indent/hcl.vim
  runtime/indent/terraform.vim
  runtime/syntax/hcl.vim
  runtime/syntax/terraform.vim
Labels: vim-patch

#30265 vim-patch:315b6f7: runtime(tmux): Update syntax script
  runtime/syntax/tmux.vim
Labels: vim-patch

#30253 fix(lsp): handle locations exceeding line length
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#30264 test: avoid noise in CI logs
  test/functional/vimscript/server_spec.lua
  test/testutil.lua
Labels: test

#30261 feat(defaults): popupmenu "Open in browser", "Go to definition"
  runtime/doc/gui.txt
  runtime/doc/news.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_defaults.lua
  test/functional/editor/defaults_spec.lua
  test/functional/options/defaults_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/multigrid_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/vimscript/server_spec.lua
  test/old/testdir/setup.vim
Labels: defaults

#30273 refactor(vterm): inline REFLOW macro
  src/vterm/screen.c
Labels: refactor

#29915 build(deps): bump libuv to HEAD - f00d4b677
  cmake.deps/deps.txt
Labels: build

#30274 vim-patch:9.1.0716: resetting setcellwidth() doesn't update the screen
  src/nvim/mbyte.c
  test/old/testdir/test_utf8.vim
Labels: vim-patch, ci:backport release-0.10

#30275 vim-patch:9.1.0717: Unnecessary nextcmd NULL checks in parse_command_modifiers()
  src/nvim/ex_docmd.c
Labels: vim-patch

#30236 fix(decor): revise marktree metadata for invalid marks
  src/nvim/extmark.c
  src/nvim/marktree.c
  test/functional/ui/decorations_spec.lua
Labels: marks

#30284 fix(decor): exclude invalid marks from meta total
  src/nvim/extmark.c
  src/nvim/marktree.c
  test/functional/ui/decorations_spec.lua
Labels: target:release

#30289 vim-patch:9.1.0719: Resetting cell widths can make 'listchars' or 'fillchars' invalid
  src/nvim/mbyte.c
  test/old/testdir/test_utf8.vim
Labels: vim-patch

#30293 vim-patch:9.1.0720: Wrong breakindentopt=list:-1 with multibyte or TABs
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/indent.c
  src/nvim/options.lua
  test/old/testdir/test_breakindent.vim
Labels: vim-patch

#30297 test(lua): tbl_deep_extend "after second argument"
  test/functional/lua/vim_spec.lua
Labels: test, lua

#30302 fix(ui): increase the priority of xdg-open
  runtime/lua/vim/ui.lua
Labels: ui

#30300 vim-patch:b584117: runtime(doc): buffers can be re-used
  runtime/doc/windows.txt
Labels: documentation, vim-patch, ci:backport release-0.10

#30288 fix(lsp): handle out-of-bounds character positions
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#30285 fix(startup): ignore broken $XDG_RUNTIME_DIR
  src/nvim/main.c
  src/nvim/msgpack_rpc/server.c
  test/functional/vimscript/server_spec.lua
Labels: startup

#30308 fix(lsp): handle out-of-bounds character positions #30288
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp, target:release

#30309 fix(lua): revert vim.tbl_extend behavior change and document it.
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/shared.lua
  test/functional/lua/vim_spec.lua
Labels: lua

#30310 fix(startup): server fails if $NVIM_APPNAME is relative dir
  src/nvim/eval/funcs.c
  src/nvim/fileio.c
  src/nvim/msgpack_rpc/server.c
  src/nvim/os/stdpaths.c
  src/nvim/runtime.c
  test/functional/core/fileio_spec.lua
  test/functional/core/server_spec.lua
  test/functional/options/defaults_spec.lua
  test/functional/testnvim.lua
  test/testutil.lua
Labels: startup

#30312 refactor(test): rename alter_slashes, invert its behavior
  test/functional/api/vim_spec.lua
  test/functional/autocmd/dirchanged_spec.lua
  test/functional/core/startup_spec.lua
  test/functional/ex_cmds/mksession_spec.lua
  test/functional/lua/uri_spec.lua
  test/functional/options/autochdir_spec.lua
  test/functional/options/defaults_spec.lua
  test/functional/terminal/buffer_spec.lua
  test/functional/testnvim.lua
  test/functional/vimscript/fnamemodify_spec.lua
  test/testutil.lua
Labels: refactor, test

#30316 fix(server): CID 509282: Control flow issues (DEADCODE)
  src/nvim/msgpack_rpc/server.c
Labels: server

#30252 fix(runtime): add remaining missing commentstrings
  runtime/ftplugin/dot.lua
  runtime/ftplugin/faust.lua
  runtime/ftplugin/stata.lua
  runtime/ftplugin/supercollider.lua
  runtime/ftplugin/swift.lua
Labels: runtime, ci:backport release-0.10

#30322 fix(lsp): handle encoding bounds in str_utfindex_enc
  runtime/lua/vim/lsp/util.lua
Labels: lsp, ci:backport release-0.10

#30327 refactor(os/input.c): rename os_inchar => input_get
  src/nvim/event/loop.h
  src/nvim/getchar.c
  src/nvim/input.c
  src/nvim/msgpack_rpc/channel.h
  src/nvim/normal.c
  src/nvim/os/input.c
  src/nvim/profile.c
  src/nvim/state.c
Labels: refactor

#30295 fix(highlight): floating windows inherit NormalFloat from global-ns
  src/nvim/highlight.c
  test/functional/ui/float_spec.lua
Labels: highlight, floatwin

#30337 vim-patch:d657d3d: runtime(doc): clarify the effect of the timeout for search()-functions
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: vim-patch

#30298 test: add termkey unit tests
  test/unit/termkey_spec.lua
Labels: test

#30338 vim-patch:9.1.0727: too many strlen() calls in option.c
  src/nvim/option.c
Labels: vim-patch

#30342 fix(health): :checkhealth completes "test_plug/health/init.lua" as "test_plug.health"
  runtime/lua/vim/health.lua
  test/functional/plugin/health_spec.lua
Labels: ci:backport release-0.10, checkhealth

#30330 fix(lsp): check buffer is loaded and valid in handler
  runtime/lua/vim/lsp/inlay_hint.lua
Labels: lsp

#30348 fix: replace NVIM with Nvim in default titlestring
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/buffer.c
  src/nvim/options.lua
  test/functional/ui/title_spec.lua
Labels: ci:skip-news

#30344 fix(health): "test_plug/health/init.lua" completes "test_plug"
  runtime/lua/vim/health.lua
  test/functional/plugin/health_spec.lua
Labels: target:release

#30350 vim-patch:9.1.0725: filetype: swiftinterface files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#30356 refactor(stream.c): unused params in stream_close
  src/nvim/event/stream.c
  src/nvim/os/shell.c
Labels: refactor

#30339 ci: enable automerge by default when backporting
  .github/workflows/backport.yml
Labels: ci, ci:backport release-0.10

#30349 fix(lsp): handle empty call hierarchy items
  runtime/lua/vim/lsp/buf.lua
Labels: lsp

#30313 feat(treesitter): start moving get_parser to return nil
  runtime/lua/vim/_comment.lua
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/_fold.lua
  runtime/lua/vim/treesitter/_query_linter.lua
  runtime/lua/vim/treesitter/dev.lua
  runtime/lua/vim/vimhelp.lua
  scripts/gen_help_html.lua
  test/functional/treesitter/language_spec.lua
  test/functional/treesitter/parser_spec.lua
Labels: treesitter, breaking-change, ci:skip-news, comment

#30364 build: bump unibilium to v2.1.2
  cmake.deps/deps.txt
Labels: build

#30363 ci: add `needs:backport` label on backport PRs with conflict
  .github/workflows/backport.yml
Labels: ci, ci:backport release-0.10

#30362 ci: don't add reviewers for PRs created by a bot
  .github/workflows/reviewers_add.yml
Labels: ci

#30367 fix(lsp): handle nil bytes in strings
  runtime/lua/vim/lsp/util.lua
Labels: lsp, ci:backport release-0.10

#30366 ci: skip automerge step if backport failed
  .github/workflows/backport.yml
Labels: ci, ci:backport release-0.10

#30375 fix(defaults): allow removing "How-to disable mouse" menu item
  runtime/lua/vim/_defaults.lua
Labels: defaults

#30377 vim-patch:9.1.0728: [security]: heap-use-after-free in garbage collection with location list user data
  src/nvim/quickfix.c
  test/old/testdir/test_quickfix.vim
Labels: vim-patch

#30378 vim-patch:9.1.{0729,0730}
  src/nvim/drawline.c
  test/functional/ui/highlight_spec.lua
  test/old/testdir/test_cursorline.vim
Labels: vim-patch, ci:backport release-0.10

#30380 Manual backport of #30377 to release-0.10
  src/nvim/quickfix.c
  test/old/testdir/test_quickfix.vim
Labels: target:release

#30372 refactor(tests): rename terminal/testutil.lua => testterm.lua
  test/client/session.lua
  test/functional/autocmd/focus_spec.lua
  test/functional/autocmd/termxx_spec.lua
  test/functional/core/job_spec.lua
  test/functional/core/log_spec.lua
  test/functional/terminal/altscreen_spec.lua
  test/functional/terminal/api_spec.lua
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/cursor_spec.lua
  test/functional/terminal/highlight_spec.lua
  test/functional/terminal/mouse_spec.lua
  test/functional/terminal/scrollback_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/terminal/window_spec.lua
  test/functional/terminal/window_split_tab_spec.lua
  test/functional/testnvim.lua
  test/functional/testterm.lua
  test/functional/ui/hlstate_spec.lua
  test/functional/ui/output_spec.lua
Labels: refactor, test

#30387 refactor: rename "process" => "proc"
  src/.valgrind.supp
  src/clint.py
  src/nvim/CMakeLists.txt
  src/nvim/api/vim.c
  src/nvim/channel.c
  src/nvim/channel.h
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/event/defs.h
  src/nvim/event/libuv_proc.c
  src/nvim/event/libuv_proc.h
  src/nvim/event/proc.c
  src/nvim/event/proc.h
  src/nvim/main.c
  src/nvim/memline.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/os/env.c
  src/nvim/os/proc.c
  src/nvim/os/proc.h
  src/nvim/os/pty_conpty_win.c
  src/nvim/os/pty_proc.h
  src/nvim/os/pty_proc_unix.c
  src/nvim/os/pty_proc_unix.h
  src/nvim/os/pty_proc_win.c
  src/nvim/os/pty_proc_win.h
  src/nvim/os/pty_process.h
  src/nvim/os/shell.c
  src/nvim/profile.c
  test/README.md
Labels: build, refactor

#30391 vim-patch:4d427d4: runtime(vim): Update base-syntax, match Vim9 bool/null literal args to :if/:while/:return
  runtime/syntax/vim.vim
Labels: vim-patch

#30389 vim-patch:9.1.0731: inconsistent case sensitive extension matching
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#30388 vim-patch:0f5effb: runtime(netrw): delete confirmation not strict enough
  runtime/autoload/netrw.vim
Labels: vim-patch, netrw

#30390 vim-patch:5e95c8f: runtime(java): Highlight javaConceptKind modifiers with StorageClass
  runtime/doc/syntax.txt
  runtime/syntax/java.vim
Labels: vim-patch

#30411 vim-patch:9.1.{0734,0735}
  runtime/lua/vim/filetype.lua
  runtime/syntax/jinja.vim
  runtime/syntax/salt.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#30412 vim-patch:f21d28a: runtime(zathurarc): add double-click-follow to syntax script
  runtime/syntax/zathurarc.vim
Labels: vim-patch

#30398 docs(tui): rename term.txt, nvim_terminal_emulator.txt
  README.md
  runtime/doc/terminal.txt
  runtime/doc/tui.txt
  scripts/gen_help_html.lua
  scripts/vim-patch.sh
Labels: documentation, tui

#30397 feat(tui): builtin UI (TUI) sets client info
  runtime/doc/api.txt
  runtime/doc/gui.txt
  runtime/doc/news.txt
  runtime/doc/tui.txt
  runtime/doc/ui.txt
  src/nvim/api/vim.c
  src/nvim/main.c
  src/nvim/tui/input.c
  src/nvim/ui.c
  src/nvim/ui_client.c
  test/client/session.lua
  test/functional/terminal/tui_spec.lua
  test/functional/testnvim.lua
Labels: tui

#30414 vim-patch:5036e69: runtime(systemd): allow for overriding systemd ftplugin settings (vim/vim#13373)
  runtime/ftplugin/systemd.vim
Labels: runtime

#30418 refactor!: rename 'jumpoptions' flag "unload" to "clean"
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/buffer.c
  src/nvim/option_vars.h
  src/nvim/options.lua
  src/nvim/optionstr.c
  test/functional/editor/jump_spec.lua
Labels: refactor, breaking-change

#30419 feat(jumplist): allow opting out of removing unloaded buffers
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/buffer.c
  src/nvim/option_vars.h
  src/nvim/options.lua
  src/nvim/optionstr.c
  test/functional/editor/jump_spec.lua
  test/old/testdir/setup.vim
Labels: target:release, jumps-navigation

#30421 fix(health): check more "old" files
  runtime/lua/vim/health/health.lua
Labels: checkhealth

#30347 docs(lsp): detail on hover window controls
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/buf.lua
Labels: lsp

#30427 vim-patch:35699f1: runtime(vim): Update base-syntax, improve folding function matches
  runtime/syntax/vim.vim
  test/functional/ui/messages_spec.lua
Labels: vim-patch

#30426 fix(treesitter): lint top-level anonymous nodes
  runtime/lua/vim/treesitter/_query_linter.lua
Labels: treesitter, ci:backport release-0.10

#30429 backport 30426 to release 0.10
  runtime/lua/vim/treesitter/_query_linter.lua
Labels: treesitter, target:release

#30432 build: work around bug in make when PATH includes cmake as dir
  Makefile
Labels: build, ci:backport release-0.10

#30448 vim-patch:9.1.0739: [security]: use-after-free in ex_getln.c
  src/nvim/ex_getln.c
Labels: vim-patch

#30451 vim-patch:e6b01cf: runtime(dist): do not output a message if executable is not found
  runtime/autoload/dist/vim.vim
Labels: vim-patch

#30452 vim-patch: rapid files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#30029 test: support upvalues in exec_lua
  test/client/session.lua
  test/functional/lua/buffer_updates_spec.lua
  test/functional/lua/diagnostic_spec.lua
  test/functional/lua/ffi_spec.lua
  test/functional/lua/filetype_spec.lua
  test/functional/lua/fs_spec.lua
  test/functional/lua/glob_spec.lua
  test/functional/lua/highlight_spec.lua
  test/functional/lua/inspector_spec.lua
  test/functional/lua/loader_spec.lua
  test/functional/lua/loop_spec.lua
  test/functional/lua/mpack_spec.lua
  test/functional/lua/overrides_spec.lua
  test/functional/lua/system_spec.lua
  test/functional/plugin/editorconfig_spec.lua
  test/functional/plugin/lsp/codelens_spec.lua
  test/functional/plugin/lsp/completion_spec.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
  test/functional/plugin/lsp/handler_spec.lua
  test/functional/plugin/lsp/incremental_sync_spec.lua
  test/functional/plugin/lsp/inlay_hint_spec.lua
  test/functional/plugin/lsp/semantic_tokens_spec.lua
  test/functional/plugin/lsp/testutil.lua
  test/functional/plugin/lsp/utils_spec.lua
  test/functional/plugin/lsp_spec.lua
  test/functional/plugin/man_spec.lua
  test/functional/plugin/tohtml_spec.lua
  test/functional/testnvim.lua
  test/functional/treesitter/highlight_spec.lua
  test/functional/treesitter/inspect_tree_spec.lua
  test/functional/treesitter/language_spec.lua
  test/functional/treesitter/node_spec.lua
  test/functional/treesitter/parser_spec.lua
  test/functional/treesitter/query_spec.lua
Labels: test

#30459 test(terminal): unskip wrap tests on windows
  test/functional/terminal/window_spec.lua
Labels: test, terminal

#30458 build: bump minimum cmake version to 3.16
  .github/workflows/build.yml
  BUILD.md
  CMakeLists.txt
  cmake.config/CMakeLists.txt
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/GettextCMakeLists.txt
  cmake.deps/cmake/LibiconvCMakeLists.txt
  cmake.deps/cmake/LpegCMakeLists.txt
  cmake.deps/cmake/MarkdownParserCMakeLists.txt
  cmake.deps/cmake/TreesitterCMakeLists.txt
  cmake.deps/cmake/TreesitterParserCMakeLists.txt
Labels: build, ci

#30438 fix(paste): improve repeating of pasted text
  src/nvim/api/vim.c
  src/nvim/edit.c
  src/nvim/getchar.c
  src/nvim/keycodes.h
  src/nvim/normal.c
  src/nvim/terminal.c
  test/functional/api/vim_spec.lua
  test/functional/terminal/tui_spec.lua
Labels: api, clipboard, input

#30454 docs(api): `nvim_get_runtime_file()` preserves 'runtimepath' order
  runtime/doc/api.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/vim.c
  test/functional/api/vim_spec.lua
Labels: documentation, api, test

#30457 feat(fs.lua): add vim.fs.rm()
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/fs.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/testnvim.lua
Labels: filesystem

#30466 build(cmake): remove unnecessary policy code
  cmake.deps/CMakeLists.txt
  cmake/Deps.cmake
Labels: build

#30467 build: use treesitter's CMakeLists.txt
  cmake.deps/cmake/BuildTreesitter.cmake
  cmake.deps/cmake/TreesitterCMakeLists.txt
  cmake.deps/deps.txt
Labels: build

#30471 vim-patch:9.1.0740: incorrect internal diff with empty file
  src/nvim/diff.c
  test/functional/ui/diff_spec.lua
  test/functional/ui/highlight_spec.lua
  test/old/testdir/test_diffmode.vim
Labels: vim-patch, diff

#30475 vim-patch:be551da: runtime(netrw): remove extraneous closing bracket
  runtime/autoload/netrw.vim
Labels: vim-patch, netrw

#30473 fix(runtime): treat b:undo_ftplugin consistently in Lua ftplugins
  runtime/ftplugin/arduino.lua
  runtime/ftplugin/c.lua
  runtime/ftplugin/ch.lua
  runtime/ftplugin/cs.lua
  runtime/ftplugin/d.lua
  runtime/ftplugin/glsl.lua
  runtime/ftplugin/help.lua
  runtime/ftplugin/indent.lua
  runtime/ftplugin/lua.lua
  runtime/ftplugin/objc.lua
  runtime/ftplugin/query.lua
  runtime/ftplugin/swift.lua
  runtime/ftplugin/xs.lua
Labels: runtime

#30469 build: silence "po" noise
  src/nvim/po/CMakeLists.txt
Labels: build, ci:backport release-0.10

#30484 backport: fix(vim.fs): dirname() returns "." on mingw/msys2
  runtime/lua/provider/python/health.lua
  runtime/lua/vim/fs.lua
  runtime/lua/vim/loader.lua
  runtime/lua/vim/lsp/rpc.lua
  test/testutil.lua
Labels: lsp, filesystem, target:release, checkhealth

#30485 docs: remove mention of removed parsers
  runtime/doc/treesitter.txt
Labels: documentation, target:release

#30487 fix(filetype): handle .in files with no filename
  runtime/lua/vim/filetype.lua
Labels: filetype, ci:backport release-0.10

#30476 feat(paste): unify cancel and error behavior
  runtime/doc/api.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/vim.c
  test/functional/api/vim_spec.lua
  test/functional/terminal/tui_spec.lua
Labels: api, clipboard, ci:skip-news

#30492 vim-patch:a7229c8: runtime(rmd,rrst): 'fex' option not properly restored
  runtime/ftplugin/rmd.vim
  runtime/ftplugin/rrst.vim
Labels: vim-patch

#30240 docs: lua error patterns
  .github/workflows/notes.md
  CMakeLists.txt
  runtime/doc/api.txt
  runtime/doc/dev_style.txt
  runtime/doc/develop.txt
  runtime/doc/lua.txt
  runtime/doc/starting.txt
  runtime/doc/support.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/buffer.c
  src/nvim/api/vim.c
Labels: ci

#30508 build(deps): bump libuv to v1.49.0
  cmake.deps/deps.txt
Labels: build

#30494 docs: render @see, @note items in _meta/api.lua
  runtime/doc/api.txt
  runtime/doc/news.txt
  runtime/lua/vim/_meta/api.lua
  scripts/gen_eval_files.lua
  src/nvim/api/vim.c
  src/nvim/eval.lua
Labels: documentation

#30439 build(deps): bump wasmtime to v25.0.1
  cmake.deps/deps.txt
  src/nvim/CMakeLists.txt
Labels: build

#30513 build: fix or silence new clang-tidy warnings
  .clang-tidy
  src/nvim/event/loop.h
Labels: build

#30516 perf(treesitter): use `child_containing_descendant()` in `is_ancestor()`
  runtime/lua/vim/treesitter.lua
  test/functional/treesitter/utils_spec.lua
Labels: treesitter, ci:backport release-0.10

#30519 fix(channel): handle writing to file instead of pipe
  src/nvim/event/defs.h
  src/nvim/event/rstream.c
  src/nvim/event/stream.c
  src/nvim/event/wstream.c
  test/functional/core/channels_spec.lua
Labels: channels-rpc, ci:backport release-0.10

#30520 fix(channel): handle writing to file instead of pipe
  src/nvim/event/defs.h
  src/nvim/event/stream.c
  src/nvim/event/wstream.c
  test/functional/core/channels_spec.lua
Labels: channels-rpc, target:release

#30521 test(api/buffer_updates_spec): prevent flakiness
  test/functional/api/buffer_updates_spec.lua
Labels: test, ci:backport release-0.10

#30489 vim-patch:9.1.{0741,0742}: No way to get prompt for input()/confirm()
  runtime/doc/builtin.txt
  runtime/doc/usr_41.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/ex_getln.c
  test/old/testdir/test_cmdline.vim
Labels: vim-patch

#30525 feat(health): highlight headings
  runtime/lua/vim/health.lua
  runtime/syntax/checkhealth.vim
  test/functional/plugin/health_spec.lua
Labels: ci:skip-news, checkhealth

#30530 vim-patch: doc updates
  runtime/doc/map.txt
  runtime/doc/options.txt
Labels: documentation, vim-patch

#30532 vim-patch:9.1.0743: diff mode does not handle overlapping diffs correctly
  src/nvim/diff.c
  test/functional/ui/diff_spec.lua
  test/old/testdir/test_diffmode.vim
Labels: vim-patch, diff

#30536 fix(treesitter): EditQuery shows swapfile ATTENTION
  runtime/lua/vim/treesitter/dev.lua
Labels: treesitter, ci:backport release-0.10

#30535 vim-patch:9.1.0744: filetype: notmuch configs are not recognised
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#30538 test(api/window_spec): remove duplicate test
  test/functional/api/window_spec.lua
Labels: test, ci:backport release-0.10

#30543 fix(api): fix crash/leak with float title/footer on error
  src/nvim/api/win_config.c
  src/nvim/winfloat.c
  test/functional/api/window_spec.lua
Labels: api, floatwin, ci:backport release-0.10

#30544 feat(defaults): pretty :help headings
  runtime/doc/news.txt
  runtime/ftplugin/help.lua
  runtime/queries/vimdoc/highlights.scm
  runtime/syntax/help.vim
  src/nvim/highlight_group.c
  test/functional/treesitter/highlight_spec.lua
Labels: defaults, runtime, treesitter

#30507 fix(window): respect hide flag of float windows when switching
  src/nvim/ex_cmds2.c
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: floatwin, ci:backport release-0.10

#30382 fix(treesitter): suppress get_parser warnings via opts.error
  runtime/doc/treesitter.txt
  runtime/lua/vim/_comment.lua
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/_fold.lua
  runtime/lua/vim/treesitter/_query_linter.lua
  runtime/lua/vim/treesitter/dev.lua
  runtime/lua/vim/treesitter/query.lua
  runtime/lua/vim/vimhelp.lua
  scripts/gen_help_html.lua
  test/functional/lua/deprecated_spec.lua
  test/functional/treesitter/language_spec.lua
  test/functional/treesitter/parser_spec.lua
Labels: treesitter, comment

#30551 fix(window): making float with title/footer non-float leaks memory
  src/nvim/api/win_config.c
  src/nvim/window.c
  src/nvim/winfloat.c
  test/functional/api/window_spec.lua
  test/functional/ui/float_spec.lua
Labels: floatwin, ci:backport release-0.10

#30552 fix(treesitter): specify success status in edit_query return value
  runtime/lua/vim/treesitter/dev.lua
  runtime/lua/vim/treesitter/query.lua
Labels: treesitter

#30556 fix(column): set signcolumn width after splitting window
  src/nvim/optionstr.c
  test/functional/ui/sign_spec.lua
Labels: column, ci:backport release-0.10

#30558 refactor(event): change last use of klist to kvec
  src/klib/klist.h
  src/nvim/event/loop.c
  src/nvim/event/loop.h
  src/nvim/event/proc.c
  src/nvim/os/pty_proc_unix.c
Labels: refactor

#30401 refactor(multibyte): neo-casefolding without allocation
  src/nvim/mbyte.c
  test/unit/mbyte_spec.lua
Labels: refactor

#30567 vim-patch:9.1.0746: tests: Test_halfpage_longline() fails on large terminals
  test/old/testdir/test_normal.vim
Labels: test, vim-patch

#30568 vim-patch:9.1.0745: filetype: bun and deno history files not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#30570 vim-patch:ee20fc8: runtime(indent): allow matching negative numbers for gnu indent config file
  runtime/syntax/indent.vim
Labels: vim-patch

#30571 fix(float): properly find last window of tabpage
  src/nvim/winfloat.c
  test/functional/ui/float_spec.lua
Labels: ci:backport release-0.10

#30575 vim-patch:6db3fc5: runtime(doc): reformat gnat example
  runtime/doc/ft_ada.txt
Labels: documentation, vim-patch

#30526 fix(diff): use mmfile_t in linematch
  runtime/doc/lua.txt
  runtime/lua/vim/_meta/diff.lua
  src/clint.py
  src/nvim/diff.c
  src/nvim/linematch.c
  src/nvim/linematch.h
  src/nvim/lua/xdiff.c
  src/nvim/strings.c
  test/functional/lua/xdiff_spec.lua
Labels: diff, ci:backport release-0.10

#30591 backport 30526 to release 0.10
  runtime/doc/lua.txt
  runtime/lua/vim/_meta/diff.lua
  src/clint.py
  src/nvim/diff.c
  src/nvim/linematch.c
  src/nvim/linematch.h
  src/nvim/lua/xdiff.c
  src/nvim/strings.c
  test/functional/lua/xdiff_spec.lua
Labels: diff, target:release

#30579 build(deps): bump luajit to HEAD - f5fd22203
  cmake.deps/deps.txt
Labels: build

#30594 refactor: use ERROR_SET() to check for error
  src/nvim/getchar.c
  src/nvim/mapping.c
Labels: refactor
