Repository neovim/neovim, pull requests merged in 2024-06, with the labels that each got.

#29120 vim-patch:0bdc5d8: runtime(doc): Add ft_hare.txt to Reference Manual TOC
  runtime/doc/help.txt
Labels: documentation, vim-patch

#29106 refactor(io): separate types for read and write streams
  src/nvim/channel.c
  src/nvim/channel.h
  src/nvim/channel_defs.h
  src/nvim/event/defs.h
  src/nvim/event/libuv_process.c
  src/nvim/event/process.c
  src/nvim/event/process.h
  src/nvim/event/rstream.c
  src/nvim/event/socket.c
  src/nvim/event/stream.c
  src/nvim/event/wstream.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/os/input.c
  src/nvim/os/pty_process_unix.c
  src/nvim/os/pty_process_win.c
  src/nvim/os/shell.c
  src/nvim/tui/input.c
  src/nvim/tui/input.h
Labels: refactor, io

#29114 refactor(tui): use a linear buffer for buffered keys
  src/nvim/tui/input.c
  src/nvim/tui/input.h
Labels: refactor, tui

#29092 perf(lsp): don't copy completion items in filter pass
  runtime/lua/vim/lsp/completion.lua
Labels: lsp

#29003 fix(column): crash with 'signcolumn' set to "number"
  src/nvim/decoration.c
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/sign.c
  test/functional/ui/decorations_spec.lua
Labels: column, ci:backport release-0.10

#29131 vim-patch:e299591: runtime(doc): clarify 'shortmess' flag "S"
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#29132 vim-patch:8.2.{4436,4437,4452},9.1.0456
  src/nvim/edit.c
  src/nvim/eval/funcs.c
  src/nvim/indent.c
  src/nvim/ops.c
  test/old/testdir/test_vartabs.vim
Labels: vim-patch

#29136 vim-patch:8.2.{0083,0109}
  src/nvim/edit.c
  test/functional/lua/buffer_updates_spec.lua
Labels: vim-patch, ci:backport release-0.10

#29122 fix(lsp): trim trailing whitespace from completion words
  runtime/lua/vim/lsp/completion.lua
  test/functional/plugin/lsp/completion_spec.lua
Labels: lsp

#29124 refactor(input): don't use a ring for input
  src/nvim/api/vim.c
  src/nvim/main.c
  src/nvim/memory.c
  src/nvim/os/input.c
Labels: refactor, input

#29144 vim-patch:9.1.0460: filetype: lintstagedrc files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#29149 vim-patch:9.1.0458: Coverity complains about division by zero
  src/nvim/ops.c
Labels: vim-patch

#29150 vim-patch:partial:9.1.0461: too many strlen() calls in drawline.c
  src/nvim/drawline.c
Labels: vim-patch

#29143 fix(lsp): use client.id instead of pairs index
  runtime/lua/vim/lsp/completion.lua
Labels: lsp

#29172 vim-patch:partial:8.2.3637: typos in test files
  test/old/testdir/runtest.vim
  test/old/testdir/test_debugger.vim
  test/old/testdir/test_diffmode.vim
  test/old/testdir/test_excmd.vim
  test/old/testdir/test_flatten.vim
  test/old/testdir/test_normal.vim
  test/old/testdir/test_options.vim
  test/old/testdir/test_quickfix.vim
  test/old/testdir/test_spellfile.vim
  test/old/testdir/test_syntax.vim
  test/old/testdir/test_textobjects.vim
  test/old/testdir/test_trycatch.vim
Labels: test, vim-patch

#29181 fix(filetype): fix typos in filetype detection
  runtime/lua/vim/filetype/detect.lua
Labels: filetype, ci:backport release-0.10

#29180 refactor(spell.c): reduce scope of locals
  src/nvim/spell.c
Labels: refactor, spell

#29185 fix(runtime): remove obsolete ftplugin/calender.lua
  runtime/ftplugin/calender.lua
Labels: runtime

#29101 feat(win-msi): mention standard paths, XDG vars in Windows installer
  cmake.packaging/CMakeLists.txt
  cmake.packaging/CustomInstallDirDlg.wxs
  cmake.packaging/WixUI_CustomInstallDir.wxs
Labels: build

#29111 refactor(lua): use tuple syntax everywhere
  runtime/doc/diagnostic.txt
  runtime/doc/lua.txt
  runtime/doc/treesitter.txt
  runtime/lua/tohtml.lua
  runtime/lua/vim/_meta/api_keysets_extra.lua
  runtime/lua/vim/_meta/builtin_types.lua
  runtime/lua/vim/_meta/spell.lua
  runtime/lua/vim/_meta/vimfn.lua
  runtime/lua/vim/deprecated/health.lua
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/lsp/completion.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/provider/health.lua
  runtime/lua/vim/shared.lua
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/dev.lua
  scripts/gen_eval_files.lua
  scripts/gen_vimdoc.lua
  src/nvim/eval.lua
  src/nvim/generators/gen_options.lua
  test/functional/plugin/lsp/completion_spec.lua
  test/functional/testnvim.lua
  test/functional/ui/screen.lua
Labels: refactor, lua

#29089 fix(ui): superfluous showmode due to unset globals
  src/nvim/drawscreen.c
  src/nvim/ex_getln.c
  src/nvim/generators/gen_api_ui_events.lua
  test/functional/ui/messages_spec.lua
Labels: ui, ci:backport release-0.10

#29170 fix(lsp): account for changedtick version gap on modified reset
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#29174 fix(lsp): remove superfluous on_detach callback from semantic tokens module
  runtime/lua/vim/lsp/semantic_tokens.lua
Labels: lsp

#29162 fix(lsp): check if buffer is valid before LspDetach autocmd
  runtime/lua/vim/lsp.lua
Labels: lsp

#29134 fix(diagnostic): fix float scope filtering
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: diagnostic

#29200 vim-patch:9.1.{0463,0466}
  runtime/doc/options.txt
  runtime/doc/pattern.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/insexpand.c
  src/nvim/options.lua
  src/nvim/optionstr.c
  src/nvim/popupmenu.h
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#29203 fix(lua): don't clamp -1 or v:maxcol in vim.highlight.range()
  runtime/lua/vim/highlight.lua
  test/functional/lua/highlight_spec.lua
Labels: lua

#29197 fix(tui): move $COLORTERM check to _defaults.lua
  runtime/lua/vim/_defaults.lua
  src/nvim/tui/tui.c
  test/functional/terminal/tui_spec.lua
Labels: defaults, tui, ci:backport release-0.10

#29209 vim-patch:9.1.{0467,0469}
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  runtime/optwin.vim
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/insexpand.c
  src/nvim/option.c
  src/nvim/option_vars.h
  src/nvim/options.lua
  src/nvim/optionstr.c
  src/nvim/popupmenu.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#29210 vim-patch:92f4e91: runtime(vim): Update base-syntax, allow whitespace before :substitute pattern
  runtime/doc/syntax.txt
  runtime/syntax/vim.vim
Labels: vim-patch

#28638 feat/docs(editorconfig): add support for spelling_language
  runtime/doc/editorconfig.txt
  runtime/doc/news.txt
  runtime/lua/editorconfig.lua
  test/functional/plugin/editorconfig_spec.lua
Labels: editorconfig

#29222 vim-patch:ce47d32: runtime(cpp): Change 'cms' for C++ to '// %s'
  runtime/ftplugin/cpp.vim
Labels: vim-patch

#28837 docs: misc
  .mailmap
  BUILD.md
  CONTRIBUTING.md
  INSTALL.md
  runtime/doc/api.txt
  runtime/doc/diagnostic.txt
  runtime/doc/gui.txt
  runtime/doc/lsp.txt
  runtime/doc/lua-guide.txt
  runtime/doc/map.txt
  runtime/doc/quickref.txt
  runtime/doc/sign.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_options.lua
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp.lua
  runtime/tutor/en/vim-01-beginner.tutor
  src/man/nvim.1
  src/nvim/api/buffer.c
  src/nvim/api/extmark.c
Labels: documentation

#29217 fix(lsp): revert buf_versions deprecation/replacement
  runtime/doc/deprecated.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/_changetracking.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp/semantic_tokens_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#29212 fix(lsp): fix reverse sorting of same position text edits
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#28728 feat: set properties on namespaces
  runtime/doc/api.txt
  runtime/doc/news-0.10.txt
  runtime/doc/news.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/api_keysets.lua
  runtime/lua/vim/highlight.lua
  src/nvim/api/deprecated.c
  src/nvim/api/extmark.c
  src/nvim/api/extmark.h
  src/nvim/api/keysets_defs.h
  src/nvim/decoration.c
  src/nvim/extmark.c
  src/nvim/marktree.c
  src/nvim/marktree.h
  src/nvim/plines.c
  src/nvim/sign.c
  test/functional/lua/highlight_spec.lua
  test/functional/ui/decorations_spec.lua
Labels: marks

#29232 refactor: quadratic behavior in vim_findfile_stopdir
  src/nvim/file_search.c
Labels: performance, refactor

#29168 feat(lua): add `vim._with`
  runtime/lua/vim/_comment.lua
  runtime/lua/vim/shared.lua
  src/nvim/ex_docmd.c
  src/nvim/lua/stdlib.c
  test/functional/lua/with_spec.lua
Labels: lua, lsp, treesitter, filetype, ci:skip-news, comment

#29141 refactor(io): make rstream use a linear buffer
  src/nvim/channel.c
  src/nvim/event/defs.h
  src/nvim/event/process.c
  src/nvim/event/rstream.c
  src/nvim/event/stream.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/os/fileio.c
  src/nvim/os/fileio_defs.h
  src/nvim/os/input.c
  src/nvim/os/shell.c
  src/nvim/rbuffer.c
  src/nvim/rbuffer.h
  src/nvim/rbuffer_defs.h
  src/nvim/tui/input.c
  src/nvim/tui/input.h
  test/unit/fixtures/rbuffer.c
  test/unit/fixtures/rbuffer.h
  test/unit/rbuffer_spec.lua
Labels: performance, refactor, robustness, io

#29248 refactor(os/shell): we have DynamicBuffer at home
  src/nvim/os/shell.c
Labels: refactor

#29252 fix(runtime): add commentstring for glsl ftplugin
  runtime/ftplugin/glsl.lua
Labels: runtime, ci:backport release-0.10

#29258 vim-patch:d6b4afb: runtime(java): Exclude lambda expressions from _when_ _switch-case_ label clauses (vim/vim#14945)
  runtime/syntax/java.vim
Labels: vim-patch

#29262 vim-patch:9.1.0472: Inconsistencies between functions for option flags
  src/nvim/bufwrite.c
  src/nvim/option.c
Labels: vim-patch

#29263 vim-patch:9c4389a: runtime(doc): Fix small style issues
  runtime/doc/mbyte.txt
  runtime/doc/quickfix.txt
  runtime/doc/syntax.txt
Labels: documentation, vim-patch

#29164 feat(lsp): include end_col and end_lnum in vim.lsp.buf.locations_to_items
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#29236 fix(glob): handle overlapping `{}` condition elements
  runtime/lua/vim/glob.lua
  test/functional/lua/glob_spec.lua
Labels: lua

#29242 fix(lsp): do not reset buf version when detaching client
  runtime/lua/vim/lsp.lua
Labels: lsp

#29272 fix(column): clamp line number for legacy signs
  src/nvim/sign.c
  test/functional/ui/sign_spec.lua
  test/old/testdir/test_signs.vim
Labels: column, ci:backport release-0.10

#29283 refactor(lua): improve type annotations
  runtime/doc/diagnostic.txt
  runtime/doc/lua.txt
  runtime/lua/vim/_meta/builtin.lua
  runtime/lua/vim/_meta/builtin_types.lua
  runtime/lua/vim/_meta/vimfn.lua
  runtime/lua/vim/lsp/_dynamic.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/log.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/treesitter/_fold.lua
  runtime/lua/vim/treesitter/_meta.lua
  runtime/lua/vim/treesitter/highlighter.lua
  runtime/lua/vim/treesitter/languagetree.lua
  scripts/gen_vimdoc.lua
  scripts/luacats_parser.lua
  src/nvim/eval.lua
Labels: refactor, lua, lsp

#29121 fix(types): support named and vararg returns for `fun()` types
  runtime/doc/lua.txt
  runtime/lua/vim/iter.lua
  scripts/luacats_grammar.lua
Labels: lua

#29219 refactor: use S_LEN macro
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/channel.c
  src/nvim/cmdexpand.c
  src/nvim/context.c
  src/nvim/debugger.c
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/ex_getln.c
  src/nvim/file_search.c
  src/nvim/fileio.c
  src/nvim/getchar.c
  src/nvim/help.c
  src/nvim/highlight_group.c
  src/nvim/indent.c
  src/nvim/keycodes.c
  src/nvim/mapping.c
  src/nvim/mbyte.c
  src/nvim/memline.c
  src/nvim/menu.c
  src/nvim/message.c
  src/nvim/option.c
  src/nvim/optionstr.c
  src/nvim/profile.c
  src/nvim/regexp.c
  src/nvim/runtime.c
  src/nvim/search.c
  src/nvim/sign.c
  src/nvim/spellfile.c
  src/nvim/spellsuggest.c
  src/nvim/statusline.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/terminal.c
  src/nvim/textformat.c
  src/nvim/usercmd.c
  src/nvim/window.c
Labels: refactor, terminal, spell, column, diff

#29278 refactor(memory): use builtin strcat() instead of STRCAT()
  src/clint.py
  src/nvim/autocmd.c
  src/nvim/change.c
  src/nvim/cmdexpand.c
  src/nvim/diff.c
  src/nvim/eval.c
  src/nvim/eval/userfunc.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/file_search.c
  src/nvim/fold.c
  src/nvim/insexpand.c
  src/nvim/memory.h
  src/nvim/menu.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/option.c
  src/nvim/os/shell.c
  src/nvim/path.c
  src/nvim/quickfix.c
  src/nvim/regexp.c
  src/nvim/runtime.c
  src/nvim/spell.c
  src/nvim/spellfile.c
  src/nvim/spellsuggest.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/usercmd.c
Labels: refactor, spell, folds, diff

#29117 feat(terminal): add support for copying with OSC 52 in embedded terminal
  runtime/doc/news.txt
  runtime/doc/nvim_terminal_emulator.txt
  src/nvim/base64.c
  src/nvim/terminal.c
  test/functional/terminal/clipboard_spec.lua
Labels: terminal

#29288 vim-patch:2e3b2a8: runtime(kdl): use shiftwidth() instead of &tabstop in indent script
  runtime/indent/kdl.vim
Labels: vim-patch

#29279 fix(column): clamp line number for legacy signs
  src/nvim/sign.c
  test/functional/ui/sign_spec.lua
  test/old/testdir/test_signs.vim
Labels: column

#29292 vim-patch:059cbe8,959c3c8
  runtime/doc/syntax.txt
  runtime/syntax/vim.vim
Labels: vim-patch

#29293 vim-patch:b4e648a: runtime(doc): fix typos in syntax.txt
  runtime/doc/syntax.txt
Labels: documentation, vim-patch

#29294 vim-patch:9.1.0477: block_editing errors out when using <enter>
  test/old/testdir/test_visual.vim
Labels: test, vim-patch

#29296 vim-patch:210b39c: runtime(doc): clarify documentation for "v" position at line()
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: vim-patch

#29290 Add StatusLineTerm highlight group and move terminal buffer defaults
  runtime/doc/news.txt
  runtime/doc/syntax.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_defaults.lua
  src/nvim/highlight.h
  src/nvim/highlight_defs.h
  src/nvim/highlight_group.c
  src/nvim/terminal.c
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/mouse_spec.lua
  test/functional/terminal/testutil.lua
  test/functional/terminal/window_split_tab_spec.lua
  test/functional/ui/cursor_spec.lua
Labels: defaults, terminal

#29103 test: do not set termguicolors in test runner
  runtime/doc/lua.txt
  runtime/lua/vim/text.lua
  test/functional/core/startup_spec.lua
  test/functional/testnvim.lua
  test/functional/ui/popupmenu_spec.lua
Labels: test

#29096 fix(tui): skip TUI in ui_rgb_attached
  src/nvim/ui.c
Labels: tui

#29320 vim-patch:902b766: runtime(java): Include element values in non-marker annotations (vim/vim#14979)
  runtime/syntax/java.vim
Labels: vim-patch

#29322 vim-patch:02f3eba,d353d27
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: vim-patch

#29319 revert: "refactor: use S_LEN macro"
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/channel.c
  src/nvim/cmdexpand.c
  src/nvim/context.c
  src/nvim/debugger.c
  src/nvim/diff.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_eval.c
  src/nvim/ex_getln.c
  src/nvim/file_search.c
  src/nvim/fileio.c
  src/nvim/getchar.c
  src/nvim/help.c
  src/nvim/highlight_group.c
  src/nvim/indent.c
  src/nvim/keycodes.c
  src/nvim/mapping.c
  src/nvim/mbyte.c
  src/nvim/memline.c
  src/nvim/menu.c
  src/nvim/message.c
  src/nvim/option.c
  src/nvim/optionstr.c
  src/nvim/profile.c
  src/nvim/regexp.c
  src/nvim/runtime.c
  src/nvim/search.c
  src/nvim/sign.c
  src/nvim/spellfile.c
  src/nvim/spellsuggest.c
  src/nvim/statusline.c
  src/nvim/syntax.c
  src/nvim/tag.c
  src/nvim/terminal.c
  src/nvim/textformat.c
  src/nvim/usercmd.c
  src/nvim/window.c
Labels: terminal, spell, column, diff

#29323 vim-patch:9.1.0483: glob() not sufficiently tested
  test/old/testdir/test_functions.vim
Labels: test, vim-patch

#29324 vim-patch:1487947: runtime(netrw): glob() on windows fails with [] in directory name
  runtime/autoload/netrw.vim
Labels: vim-patch, netrw

#29326 fix(terminal): set local values of window options
  runtime/lua/vim/_defaults.lua
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/window_spec.lua
Labels: defaults, terminal

#29330 vim-patch:4407461: runtime(netrw): correctly test for windows in NetrwGlob()
  runtime/autoload/netrw.vim
Labels: vim-patch, netrw

#29329 vim-patch:partial:9.1.0482: termdebug plugin needs more love
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  test/old/testdir/test_termdebug.vim
Labels: vim-patch

#29196 fix(lsp): check for nil response from server
  runtime/lua/vim/lsp/rpc.lua
Labels: lsp

#29304 refactor(lsp): use metatable for buf_versions
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp/semantic_tokens_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: refactor, lsp

#29313 fix(highlight): add `StatusLineTerm`/`StatusLineTermNC` to `:color vim`
  runtime/colors/vim.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/searchhl_spec.lua
  test/functional/ui/wildmode_spec.lua
Labels: highlight

#29241 refactor(shada): use msgpack_sbuffer less
  src/nvim/api/private/helpers.c
  src/nvim/context.c
  src/nvim/context.h
  src/nvim/memory.h
  src/nvim/memory_defs.h
  src/nvim/msgpack_rpc/channel.c
  src/nvim/msgpack_rpc/packer.c
  src/nvim/msgpack_rpc/packer.h
  src/nvim/msgpack_rpc/packer_defs.h
  src/nvim/os/fileio.c
  src/nvim/os/fileio.h
  src/nvim/shada.c
  src/nvim/shada.h
Labels: refactor

#29331 fix(lsp): tune completion word extraction for decorated labels
  runtime/lua/vim/lsp/completion.lua
  test/functional/plugin/lsp/completion_spec.lua
Labels: lsp

#29338 vim-patch:9.1.0484: Sorting of completeopt+=fuzzy is not stable
  src/nvim/insexpand.c
  src/nvim/popupmenu.h
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#29311 vim-patch:9.1.{0476,0478,0479,0480,0485}
  runtime/colors/vim.lua
  runtime/doc/syntax.txt
  src/nvim/highlight.h
  src/nvim/highlight_defs.h
  src/nvim/highlight_group.c
  src/nvim/insexpand.c
  src/nvim/option_vars.h
  src/nvim/popupmenu.c
  src/nvim/search.c
  test/functional/ui/cursor_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_popup.vim
Labels: vim-patch

#29337 vim-patch:79a14c0: runtime(keymap): include Georgian keymap
  runtime/keymap/georgian-qwerty.vim
Labels: vim-patch

#29339 vim-patch:a3bddb7,d6d4e13,262e25e,c509c00
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  runtime/syntax/vim.vim
  src/nvim/eval.lua
Labels: vim-patch

#29229 docs: misc
  runtime/doc/api.txt
  runtime/doc/builtin.txt
  runtime/doc/lsp.txt
  runtime/doc/syntax.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/lpeg.lua
  runtime/lua/vim/_meta/vimfn.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  src/nvim/api/extmark.c
  src/nvim/eval.lua
Labels: ci:backport release-0.10

#29341 vim-patch:9.1.0487: completed item not update on fuzzy completion
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#29343 fix(defaults): default @/Q broken when 'ignorecase' is set
  runtime/lua/vim/_defaults.lua
  test/functional/editor/macro_spec.lua
Labels: defaults, ci:backport release-0.10

#29349 vim-patch:9.1.0486: filetype: Snakemake files are not recognized
  runtime/ftplugin/snakemake.vim
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#29351 vim-patch:ae321b5: runtime(vim): Update base-syntax, match shebang lines (vim/vim#15011)
  runtime/syntax/vim.vim
Labels: vim-patch

#29352 vim-patch:9.1.0488: Wrong padding for pum "kind" with 'rightleft'
  src/nvim/popupmenu.c
  test/functional/ui/popupmenu_spec.lua
Labels: vim-patch

#29354 vim-patch:9.1.0490: minor style problems with patch 9.1.0487
  src/nvim/insexpand.c
Labels: vim-patch

#29356 vim-patch:f4bc59c: runtime(doc): add another tag for vim-shebang feature
  runtime/doc/various.txt
Labels: documentation, vim-patch

#29355 vim-patch:9.1.0491: Cmdline pum doesn't work properly with 'rightleft'
  src/nvim/popupmenu.c
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_cmdline.vim
  test/old/testdir/test_popup.vim
Labels: vim-patch

#29361 vim-patch:1c67342,52f2ff0
  runtime/autoload/zip.vim
Labels: vim-patch

#29360 docs: document 'list' behavior when 'listchars' excludes "tab"
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: ci:backport release-0.10

#29364 vim-patch:9.1.0489: default completion may break with fuzzy
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#29366 vim-patch:9.1.0493: Test for patch 9.1.0489 doesn't fail without the fix
  test/old/testdir/test_ins_complete.vim
Labels: test, vim-patch

#29367 vim-patch:9.1.0492: filetype: Vim-script files not detected by shebang line
  runtime/lua/vim/filetype/detect.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#29357 feat(column)!: rework 'statuscolumn' %r/l items
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/drawline.c
  src/nvim/options.lua
  src/nvim/statusline.c
  test/functional/api/vim_spec.lua
  test/functional/terminal/window_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/ui/statuscolumn_spec.lua
Labels: column, breaking-change

#29371 vim-patch:9.1.0494: Wrong matched text highlighted in pum with 'rightleft'
  src/nvim/popupmenu.c
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_popup.vim
Labels: vim-patch

#29379 vim-patch:9.1.{0495,0496}
  runtime/doc/syntax.txt
  src/nvim/cmdexpand.c
  src/nvim/insexpand.c
  src/nvim/popupmenu.c
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_cmdline.vim
  test/old/testdir/test_popup.vim
Labels: vim-patch

#29295 docs(lsp): format the handwritten part
  runtime/doc/lsp.txt
Labels: documentation, lsp, ci:backport release-0.10

#29382 vim-patch:ca47114: runtime(doc): improve the vim-shebang example
  runtime/doc/various.txt
Labels: documentation, vim-patch

#29384 fix(lua): find length of completion prefix earlier
  src/nvim/cmdexpand.c
  src/nvim/insexpand.c
  src/nvim/lua/executor.c
  test/functional/editor/completion_spec.lua
Labels: lua

#29380 Windows tilde expansion followup
  src/nvim/main.c
  src/nvim/os/env.c
  test/functional/core/main_spec.lua
Labels: ci:skip-news

#29388 refactor(lua): remove unnecessary strlen() in nlua_expand_pat()
  src/nvim/lua/executor.c
  test/functional/editor/completion_spec.lua
Labels: refactor, lua

#29397 vim-patch:9.1.0498: getcmdcompltype() interferes with cmdline completion
  src/nvim/ex_getln.c
  test/old/testdir/test_cmdline.vim
Labels: vim-patch, ci:backport release-0.10

#29393 vim-patch:26de90c: runtime(nohlsearch): include the the simple nohlsearch package
  runtime/doc/pattern.txt
  runtime/doc/usr_05.txt
  runtime/pack/dist/opt/nohlsearch/plugin/nohlsearch.vim
Labels: vim-patch

#29394 fix(mouse): early return when clicking in padded 'statuscolumn'
  src/nvim/mouse.c
  test/functional/ui/statuscolumn_spec.lua
Labels: mouse, ci:backport release-0.10

#29396 vim-patch:9718ed7: runtime(filetype): update htmldjango detection
  runtime/lua/vim/filetype/detect.lua
Labels: vim-patch, filetype

#29400 vim-patch:9.1.0499: MS-Windows: doesn't handle symlinks properly
  test/old/testdir/test_functions.vim
Labels: test, vim-patch

#29404 vim-patch:8.2.{4724,5047}: make CurSearch behavior match Vim
  runtime/doc/news.txt
  runtime/doc/syntax.txt
  runtime/doc/vim_diff.txt
  src/nvim/change.c
  src/nvim/drawscreen.c
  src/nvim/drawscreen.h
  src/nvim/match.c
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/search.c
  test/functional/ui/searchhl_spec.lua
  test/old/testdir/test_search.vim
Labels: vim-patch, breaking-change

#29406 fix(drawline): don't draw beyond end of window with 'rnu'
  src/nvim/drawline.c
  test/functional/ui/diff_spec.lua
Labels: ci:backport release-0.10

#29395 vim-patch:1ce65e3: runtime(csv): include a simple csv filetype and syntax plugin
  runtime/ftplugin/csv.vim
  runtime/syntax/csv.vim
Labels: vim-patch

#29321 fix(diagnostics): don't apply extmarks to invalid lines
  runtime/lua/vim/diagnostic.lua
Labels: diagnostic

#29417 vim-patch:aeca717: runtime(nohlsearch): simplify mapping
  runtime/doc/usr_05.txt
  runtime/pack/dist/opt/nohlsearch/plugin/nohlsearch.vim
Labels: vim-patch

#29420 vim-patch:9.1.0504: inner-tag textobject confused about ">" in attributes
  src/nvim/textobject.c
  test/old/testdir/test_textobjects.vim
Labels: vim-patch

#29413 vim-patch:partial:9.1.{0497,0501}: termdebug can be further improved
  runtime/doc/nvim_terminal_emulator.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  test/old/testdir/test_termdebug.vim
Labels: vim-patch

#29423 vim-patch:94c5d8a: runtime(java): Remove the group exclusion list from @javaTop
  runtime/syntax/java.vim
Labels: vim-patch

#29426 vim-patch:9.1.0505: filetype: Faust files are not recognized
  runtime/doc/filetype.txt
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/filetype/detect.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#29425 build(vim-patch.sh): don't ignore changes to version*.txt
  runtime/doc/news-0.9.txt
  runtime/doc/news.txt
  scripts/vim-patch.sh
Labels: build

#28709 fix(treesitter): don't open fold when adding a line below it with o/O
  runtime/lua/vim/treesitter/_fold.lua
  test/functional/treesitter/fold_spec.lua
Labels: treesitter

#29433 vim-patch:6ccf6da: runtime(gomod): add gomod filetype plugin
  runtime/ftplugin/gomod.vim
Labels: vim-patch

#29436 vim-patch:9.1.{0507,0511}: CursorMovedC autocommand
  runtime/doc/autocmd.txt
  src/nvim/auevents.lua
  src/nvim/autocmd.c
  src/nvim/ex_getln.c
  test/old/testdir/test_autocmd.vim
Labels: vim-patch

#29437 vim-patch:9.1.0512: Mode message for spell completion doesn't match allowed keys
  src/nvim/insexpand.c
  test/old/testdir/test_spell.vim
Labels: vim-patch, ci:backport release-0.10

#29439 vim-patch:9.1.0506: filetype: .envrc & .prettierignore not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#29450 vim-patch:fc64ac0: runtime(vim): Update base-syntax, fix function tail comments
  runtime/syntax/vim.vim
Labels: vim-patch

#29445 fix(filetype): source ftdetect/* after creating scripts.vim autocmds
  runtime/filetype.lua
  test/functional/core/startup_spec.lua
Labels: filetype

#29458 vim-patch:01a4fb1: runtime(java): Compose "g:java_highlight_signature" and "g:java_highlight_functions"
  runtime/doc/syntax.txt
  runtime/syntax/java.vim
Labels: vim-patch

#29460 fix(treesitter): do not modify highlight state for _on_spell_nav
  runtime/lua/vim/treesitter/highlighter.lua
  test/functional/treesitter/highlight_spec.lua
Labels: treesitter

#29358 refactor(typval): don't use msgpack_packer for msgpackdump()
  src/nvim/api/private/converter.c
  src/nvim/eval/encode.c
  src/nvim/eval/encode.h
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/eval/typval_encode.c.h
  src/nvim/lua/converter.c
  src/nvim/msgpack_rpc/packer.c
  src/nvim/shada.c
Labels: refactor

#29344 perf(treesitter): remove unnecessary foldexpr loop
  runtime/lua/vim/treesitter/_fold.lua
  test/functional/treesitter/query_spec.lua
Labels: treesitter

#29472 refactor(filetype): change some patterns to extensions
  runtime/lua/vim/filetype.lua
Labels: refactor, filetype

#27323 feat(lsp): add textDocument/rangesFormatting support to vim.lsp.buf.format()
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/protocol.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#29476 vim-patch:ecd642a: runtime(doc): clarify, that register 1-9 will always be shifted
  runtime/doc/change.txt
Labels: documentation, vim-patch

#29481 vim-patch:9.1.0516: need more tests for nested dicts and list comparison
  test/old/testdir/test_listdict.vim
Labels: test, vim-patch

#29480 ci(lintcommit): allow capitalized letter after colon in description
  scripts/lintcommit.lua
Labels: ci

#29280 Add several updates to `vim._with` (tests, granular option contexts, `env` context)
  runtime/lua/vim/shared.lua
  test/functional/lua/with_spec.lua
Labels: lua, ci:skip-news

#29478 fix(lsp): :LspStop vim.keymap.del error
  runtime/lua/vim/lsp.lua
Labels: lsp

#29491 fix(lsp): pre-filter matches on label if filterText is missing
  runtime/lua/vim/lsp/completion.lua
  test/functional/plugin/lsp/completion_spec.lua
Labels: lsp

#29483 refactor(typval)!: remove binary distinction of binary and nonbinary strings
  runtime/autoload/msgpack.vim
  runtime/autoload/shada.vim
  runtime/doc/builtin.txt
  runtime/doc/news.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/api/private/converter.c
  src/nvim/eval.c
  src/nvim/eval.lua
  src/nvim/eval/decode.c
  src/nvim/eval/encode.c
  src/nvim/eval/typval_encode.c.h
  src/nvim/eval_defs.h
  src/nvim/lua/converter.c
  test/functional/api/vim_spec.lua
  test/functional/lua/luaeval_spec.lua
  test/functional/plugin/msgpack_spec.lua
  test/functional/plugin/shada_spec.lua
  test/functional/vimscript/json_functions_spec.lua
  test/functional/vimscript/msgpack_functions_spec.lua
Labels: refactor, breaking-change

#29244 refactor: use `vim._with` where possible
  runtime/filetype.lua
  runtime/lua/tohtml.lua
  runtime/lua/vim/_inspector.lua
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/filetype/detect.lua
  runtime/lua/vim/highlight.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/shared.lua
  runtime/lua/vim/snippet.lua
  runtime/lua/vim/treesitter/highlighter.lua
  runtime/lua/vim/ui.lua
  test/functional/api/window_spec.lua
  test/functional/autocmd/autocmd_spec.lua
  test/functional/plugin/lsp_spec.lua
  test/functional/ui/title_spec.lua
  test/functional/vimscript/api_functions_spec.lua
Labels: refactor

#29507 refactor: remove special-case conversion for german sharp s
  src/nvim/mbyte.c
Labels: refactor

#29467 refactor(shada): don't use msgpack_packer for shada
  src/nvim/eval/encode.c
  src/nvim/msgpack_rpc/packer.c
  src/nvim/shada.c
Labels: refactor

#29512 refactor: remove special handling for lowercase German sharp s
  src/nvim/mbyte.c
  src/nvim/ops.c
Labels: refactor

#29347 feat(jumplist): allow opting out of removing unloaded buffers
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/buffer.c
  src/nvim/option_vars.h
  src/nvim/options.lua
  src/nvim/optionstr.c
  test/functional/editor/jump_spec.lua
  test/old/testdir/setup.vim
Labels: ci:skip-news, jumps-navigation
