Repository neovim/neovim, pull requests merged in 2024-01, with the labels that each got.

#26826 build: ensure `make clean` doesn't remove source files
  src/nvim/CMakeLists.txt
Labels: build

#26451 docs: clarify on_bytes arguments
  runtime/doc/api.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/buffer.c
Labels: documentation

#26819 feat(l10n): update Ukrainian translations
  src/nvim/po/uk.po
Labels: localization

#26836 ci: write the correct cherry-picked commit id when backporting
  .github/workflows/backport.yml
Labels: ci

#26824 feat(runtime): default treesitter highlighting for Lua
  runtime/doc/news.txt
  runtime/ftplugin/lua.lua
Labels: runtime, treesitter

#26838 refactor: remove redundant NOLINT comments
  src/nvim/assert_defs.h
  src/nvim/autocmd.h
  src/nvim/buffer.c
  src/nvim/cmdexpand.c
  src/nvim/eval/typval.h
  src/nvim/ex_eval.c
  src/nvim/file_search.c
  src/nvim/globals.h
  src/nvim/indent_c.c
  src/nvim/option.c
  src/nvim/os/env.c
  src/nvim/os/pty_conpty_win.h
  src/nvim/path.c
  src/nvim/quickfix.c
  src/nvim/rbuffer.h
  src/nvim/regexp.c
  src/nvim/runtime.c
  src/nvim/shada.c
  src/nvim/spellfile.c
Labels: refactor, spell

#26839 refactor(health): refactor provider healthchecks
  runtime/lua/provider/clipboard/health.lua
  runtime/lua/provider/health.lua
  runtime/lua/provider/node/health.lua
  runtime/lua/provider/perl/health.lua
  runtime/lua/provider/python/health.lua
  runtime/lua/provider/ruby/health.lua
  runtime/lua/vim/health.lua
  test/functional/plugin/health_spec.lua
Labels: refactor

#26807 feature(diagnostic): add `vim.diagnostic.count()`
  runtime/doc/deprecated.txt
  runtime/doc/diagnostic.txt
  runtime/doc/news.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: diagnostic

#26032 feat(lsp): support connect via named pipes/unix domain sockets
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/rpc.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#26849 refactor(lsp): fix remaining luals warnings in lsp.rpc
  runtime/lua/vim/lsp/rpc.lua
Labels: refactor, lsp

#26803 refactor(drawline): consider current position in linebuf for foldcolumn
  src/nvim/drawline.c
  src/nvim/statusline.c
Labels: refactor

#26846 vim-patch:10b4f75d4c03
  runtime/doc/filetype.txt
  runtime/lua/vim/filetype/detect.lua
Labels: vim-patch, filetype

#26852 docs(lsp): add supports_method to vim.lsp.client docs
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
Labels: documentation, lsp

#26059 refactor(api): redundant `ml_mfp` check
  src/nvim/api/buffer.c
Labels: api, refactor

#26856 refactor: remove redundant struct names
  src/nvim/arglist_defs.h
  src/nvim/buffer_defs.h
  src/nvim/cmdexpand_defs.h
  src/nvim/cmdhist.h
  src/nvim/cursor_shape.h
  src/nvim/digraph.c
  src/nvim/edit.c
  src/nvim/eval.h
  src/nvim/eval/typval_defs.h
  src/nvim/event/libuv_process.h
  src/nvim/ex_cmds_defs.h
  src/nvim/ex_getln.c
  src/nvim/file_search.c
  src/nvim/fold_defs.h
  src/nvim/garray_defs.h
  src/nvim/getchar_defs.h
  src/nvim/hashtab_defs.h
  src/nvim/highlight_defs.h
  src/nvim/mark_defs.h
  src/nvim/memfile_defs.h
  src/nvim/memline_defs.h
  src/nvim/normal.c
  src/nvim/normal_defs.h
  src/nvim/ops.h
  src/nvim/option.h
  src/nvim/os/pty_process_unix.h
  src/nvim/profile.c
  src/nvim/quickfix.c
  src/nvim/search.c
  src/nvim/search.h
  src/nvim/shada.c
  src/nvim/sign_defs.h
  src/nvim/spell.c
  src/nvim/spell_defs.h
  src/nvim/spellfile.c
  src/nvim/spellsuggest.c
  src/nvim/syntax.c
  src/nvim/syntax_defs.h
  src/nvim/tag.c
  src/nvim/terminal.c
  src/nvim/ugrid.h
  src/nvim/ui.c
Labels: refactor, terminal, spell, folds, column

#26781 docs: small fixes
  runtime/doc/develop.txt
  runtime/doc/lua.txt
  runtime/doc/luaref.txt
  runtime/lua/man.lua
Labels: documentation

#26858 feat(lua): add noref to deepcopy
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/keymap.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/shared.lua
  runtime/lua/vim/version.lua
  test/benchmark/deepcopy_spec.lua
Labels: performance, lua, lsp, diagnostic

#26876 vim-patch:9.1.0002: a closing fold expr, may start a new fold
  src/nvim/fold.c
  test/old/testdir/test_fold.vim
Labels: vim-patch, folds

#26874 vim-patch:9.1.0001: when closing window, wincmd p may fail
  src/nvim/window.c
  test/old/testdir/test_window_cmd.vim
Labels: vim-patch

#26845 refactor(column): define and use maximum 'statuscolumn' width
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/drawline.c
  src/nvim/option_vars.h
  src/nvim/options.lua
  src/nvim/statusline.c
  src/nvim/statusline_defs.h
Labels: refactor, column

#26791 refactor(gen_vimdoc): general refactoring on vimdoc generation
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/shared.lua
  runtime/lua/vim/text.lua
  scripts/gen_vimdoc.py
Labels: build, documentation, refactor

#26886 fix(health): fix tmux RGB capability detection
  runtime/lua/nvim/health.lua
Labels: backport release-0.9

#26888 vim-patch:9.1.0010: Keymap completion is not available
  runtime/doc/builtin.txt
  runtime/doc/map.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/cmdexpand.c
  src/nvim/cmdexpand_defs.h
  src/nvim/eval.lua
  src/nvim/option.c
  src/nvim/usercmd.c
  test/old/testdir/test_cmdline.vim
  test/old/testdir/test_options.vim
Labels: vim-patch

#26892 fix(terminal): check if mouse on statusline/tabline/winbar/vsep
  src/nvim/mouse.c
  src/nvim/terminal.c
  test/functional/terminal/mouse_spec.lua
Labels: terminal, mouse, backport release-0.9

#26891 fix(column): fill 'statuscolumn' clickdefs with evaluated width
  src/nvim/statusline.c
  test/functional/ui/statuscolumn_spec.lua
Labels: column

#26899 refactor: move structs from regexp_defs.h to regexp.c
  src/nvim/regexp.c
  src/nvim/regexp_defs.h
Labels: refactor

#26905 fix(test): call separate_arguments() correctly to honor $BUSTED_ARGS
  cmake/RunTests.cmake
Labels: build, test, backport release-0.9

#26907 [Backport release-0.9] fix(test): call separate_arguments() correctly to honor $BUSTED_ARGS (#26905)
  cmake/RunTests.cmake
Labels: build

#26909 vim-patch:9.1.{0007,0012}: can select empty inner text blocks
  runtime/doc/motion.txt
  src/nvim/textobject.c
  test/old/testdir/test_textobjects.vim
Labels: vim-patch

#26910 vim-patch:9.1.0014: incorrect use of W_WINROW in edit.c
  src/nvim/edit.c
Labels: vim-patch

#26913 fix(test/tui_spec): pass the expected NULL-sentinel to execl()
  test/functional/terminal/tui_spec.lua
Labels: test, backport release-0.9

#26920 [Backport release-0.9] fix(test/tui_spec): pass the expected NULL-sentinel to execl()
  test/functional/terminal/tui_spec.lua
Labels: test

#26922 fix(highlight): update `IncSearch` to link to `CurSearch`
  src/nvim/highlight_group.c
Labels: highlight

#26933 fix(defaults): use augroup for default autocommands
  runtime/lua/vim/_defaults.lua
Labels: defaults

#26942 fix(tui): use buflen to calculate remaining buffer size
  src/nvim/tui/input.c
Labels: tui, backport release-0.9

#26916 docs(treesitter): improve 'no parser' error message for InspectTree
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/dev.lua
  runtime/lua/vim/treesitter/language.lua
Labels: documentation, treesitter

#26872 refactor(options): use schar_T for fillchars and listchars
  src/nvim/api/ui.c
  src/nvim/api/vim.c
  src/nvim/buffer_defs.h
  src/nvim/cmdexpand.c
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/eval/funcs.c
  src/nvim/grid.c
  src/nvim/match.c
  src/nvim/message.c
  src/nvim/option.c
  src/nvim/optionstr.c
  src/nvim/optionstr.h
  src/nvim/popupmenu.c
  src/nvim/statusline.c
  src/nvim/window.c
  test/functional/options/chars_spec.lua
  test/unit/statusline_spec.lua
Labels: refactor, options, ci-s390x

#26951 fix(extmarks): handle overwriting right half of wide char
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#26959 refactor(drawline): remove unused save_extra argument
  src/nvim/drawline.c
Labels: refactor

#26960 fix(extmarks): blending space shouldn't overwrite wide char
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#26884 fix(docs): make lines not overflow in vim docs
  runtime/doc/api.txt
  runtime/doc/diagnostic.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/_meta/api.lua
  scripts/gen_vimdoc.py
Labels: build, documentation

#22159 feat(terminal): trigger TermRequest autocommand events
  runtime/doc/autocmd.txt
  runtime/doc/news.txt
  runtime/doc/vvars.txt
  runtime/lua/vim/_meta/vvars.lua
  src/nvim/auevents.lua
  src/nvim/eval.c
  src/nvim/eval.h
  src/nvim/terminal.c
  src/nvim/vvars.lua
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/tui_spec.lua
Labels: terminal, events

#26956 vim-patch:3a5b3df7764d
  runtime/autoload/tar.vim
  runtime/plugin/tarPlugin.vim
Labels: vim-patch

#26963 refactor(options): remove `OPT_FREE`
  src/nvim/autocmd.c
  src/nvim/diff.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/fileio.c
  src/nvim/help.c
  src/nvim/indent.c
  src/nvim/main.c
  src/nvim/option.c
  src/nvim/option.h
  src/nvim/optionstr.c
  src/nvim/popupmenu.c
  src/nvim/quickfix.c
  src/nvim/statusline.c
Labels: refactor, options

#26969 vim-patch:71d0ba07a33a
  runtime/autoload/netrw.vim
  runtime/doc/pi_netrw.txt
Labels: vim-patch

#26974 fix(terminal): use terminal buffer for TermRequest autocommand
  src/nvim/terminal.c
  test/functional/terminal/buffer_spec.lua
Labels: terminal

#26786 feat(vim.iter): flattening for list-like iterators
  runtime/doc/lua.txt
  runtime/lua/vim/iter.lua
  test/functional/lua/iter_spec.lua
Labels: lua

#26967 fix(doc): improve doc generation of types using lpeg
  runtime/doc/api.txt
  runtime/doc/diagnostic.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_system.lua
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/health.lua
  runtime/lua/vim/iter.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/shared.lua
  runtime/lua/vim/treesitter/query.lua
  scripts/gen_vimdoc.py
  scripts/lua2dox.lua
  src/nvim/CMakeLists.txt
  src/nvim/generators/luacats_grammar.lua
  test/functional/luacats_grammar_spec.lua
Labels: build

#26961 refactor(screen): simplify grid_clear() and win_draw_end()
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/grid.c
  src/nvim/message.c
  src/nvim/ui.c
Labels: refactor

#26992 vim-patch:9.1.0011: regexp cannot match combining chars in collection
  src/nvim/regexp.c
  test/old/testdir/test_regexp_utf8.vim
Labels: vim-patch

#26996 vim-patch:2357765304e4
  runtime/autoload/netrw.vim
Labels: runtime, vim-patch, netrw

#26955 fix(flake): clang-tools moved to nativeBuildInputs
  contrib/flake.nix
Labels: platform:nix

#26998 vim-patch:9.1.0025: A few typos in tests and justify.vim
  runtime/pack/dist/opt/justify/plugin/justify.vim
  test/old/testdir/test_normal.vim
Labels: documentation, vim-patch

#26911 vim-patch:8.2.3439,9.1.{0015,0021}
  runtime/doc/insert.txt
  src/nvim/ops.c
  test/old/testdir/test_normal.vim
  test/old/testdir/test_registers.vim
Labels: vim-patch

#27001 vim-patch:9.1.0022: Coverity complains about improper use of negative value
  src/nvim/edit.c
Labels: vim-patch

#26869 refactor: minor decor refactors
  src/nvim/api/extmark.c
  src/nvim/decoration.c
  src/nvim/extmark.c
  src/nvim/marktree.c
Labels: extmarks

#26921 fix(colorscheme): default statusline groups usability
  runtime/doc/news.txt
  src/nvim/highlight_group.c
  test/functional/ui/embed_spec.lua
Labels: defaults, highlight

#26971 fix(lsp): fix incorrect typing and doc for `vim.lsp.rpc`
  runtime/doc/lsp.txt
  runtime/lua/vim/_system.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/rpc.lua
Labels: documentation, lsp

#26989 docs: auto-generate docs for `vim.lpeg` and `vim.re`
  MAINTAIN.md
  runtime/doc/lua.txt
  runtime/lua/vim/_meta/lpeg.lua
  runtime/lua/vim/_meta/re.lua
  runtime/lua/vim/re.lua
  scripts/gen_vimdoc.py
  src/nvim/CMakeLists.txt
Labels: documentation

#27009 docs(builtin): overload some functions with union return types for better ls-diagnostics
  runtime/lua/vim/_meta/vimfn.lua
  scripts/gen_eval_files.lua
  src/nvim/eval.lua
Labels: documentation, lua

#27013 build: disable conversion warnings for older GCC versions
  src/nvim/CMakeLists.txt
Labels: build

#27010 ci(s390x): enable CI_BUILD
  .github/workflows/optional.yml
Labels: ci, ci-s390x

#27015 docs: add lua typing for `vim.NIL`
  runtime/doc/lsp.txt
  runtime/lua/vim/_meta/builtin.lua
  runtime/lua/vim/_meta/vvars.lua
  runtime/lua/vim/lsp/util.lua
  src/nvim/vvars.lua
Labels: documentation, lua

#26898 fix(column): keep track of number of lines with number of signs
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/decoration.c
  src/nvim/drawscreen.c
  src/nvim/extmark.c
  src/nvim/map.c
  src/nvim/map_defs.h
  src/nvim/types_defs.h
  src/nvim/undo.c
  test/functional/ui/decorations_spec.lua
  test/functional/ui/statuscolumn_spec.lua
Labels: column

#27028 vim-patch:9.1.0009: Cannot easily get the list of matches
  runtime/doc/builtin.txt
  runtime/doc/usr_41.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/globals.h
  src/nvim/quickfix.c
  src/nvim/sign.c
  test/old/testdir/test_functions.vim
  test/old/testdir/vim9.vim
Labels: vimscript, vim-patch

#27029 vim-patch:8.1.1968: crash when using nested map()
  src/nvim/eval.c
  test/old/testdir/test_filter_map.vim
  test/old/testdir/test_functions.vim
Labels: vim-patch, backport release-0.9

#27033 fix(edit): don't go to Terminal mode when stopping Insert mode
  src/nvim/edit.c
  test/functional/terminal/ex_terminal_spec.lua
Labels: terminal, backport release-0.9

#27037 vim-patch:partial:9.1.0027: Vim is missing a foreach() func
  runtime/doc/builtin.txt
  runtime/doc/usr_41.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.c
  src/nvim/eval.lua
  test/old/testdir/test_filter_map.vim
  test/old/testdir/vim9.vim
Labels: vim-patch

#27039 docs(builtin): remove signatures of undocumented functions
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: documentation, vimscript

#27035 ci: stale bot should close the issue with "not planned"
  .github/scripts/close_unresponsive.js
Labels: ci

#27040 vim-patch:ef79c5783782
  runtime/syntax/fortran.vim
Labels: vim-patch

#27041 build(deps): bump tree-sitter to HEAD - 660481dbf
  cmake.deps/deps.txt
Labels: build, dependencies

#26962 fix(diagnostic): typing
  runtime/doc/diagnostic.txt
  runtime/lua/vim/F.lua
  runtime/lua/vim/diagnostic.lua
  scripts/lua2dox.lua
Labels: diagnostic

#27020 vim-patch:9.1.0013: Modula2 filetype support lacking
  runtime/autoload/modula2.vim
  runtime/compiler/gm2.vim
  runtime/doc/filetype.txt
  runtime/doc/syntax.txt
  runtime/ftplugin/modula2.vim
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/filetype/detect.lua
  runtime/makemenu.vim
  runtime/synmenu.vim
  runtime/syntax/modula2.vim
  runtime/syntax/modula2/opt/iso.vim
  runtime/syntax/modula2/opt/pim.vim
  runtime/syntax/modula2/opt/r10.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#27045 test: use integers for API Buffer/Window/Tabpage EXT types
  test/client/msgpack_rpc_stream.lua
  test/functional/api/buffer_spec.lua
  test/functional/api/buffer_updates_spec.lua
  test/functional/api/extmark_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/api/window_spec.lua
  test/functional/autocmd/win_scrolled_resized_spec.lua
  test/functional/editor/mark_spec.lua
  test/functional/editor/tabpage_spec.lua
  test/functional/example_spec.lua
  test/functional/lua/vim_spec.lua
  test/functional/terminal/buffer_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/ui/fold_spec.lua
  test/functional/ui/mouse_spec.lua
  test/functional/ui/multigrid_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/ui/screen.lua
  test/functional/ui/searchhl_spec.lua
  test/functional/ui/statusline_spec.lua
  test/functional/ui/tabline_spec.lua
  test/functional/ui/title_spec.lua
  test/functional/ui/winbar_spec.lua
  test/functional/vimscript/buf_functions_spec.lua
Labels: test

#27016 refactor(lsp): deprecate `vim.lsp.util.lookup_section`
  runtime/doc/deprecated.txt
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/util.lua
Labels: refactor, lsp

#27048 vim-patch:211211052d04
  runtime/ftplugin/odin.vim
  runtime/indent/odin.vim
  runtime/syntax/odin.vim
Labels: runtime, vim-patch

#27049 vim-patch:9.1.0035: i_CTRL-] triggers InsertCharPre
  src/nvim/edit.c
  test/old/testdir/test_edit.vim
Labels: vim-patch

#27051 vim-patch:9.1.0033: Insert mode not stopped if closing prompt buffer modifies hidden buffer
  src/nvim/window.c
  test/functional/legacy/prompt_buffer_spec.lua
  test/old/testdir/test_prompt_buffer.vim
Labels: vim-patch

#26929 docs: various fixes
  INSTALL.md
  MAINTAIN.md
  runtime/doc/dev_style.txt
  runtime/doc/options.txt
  runtime/doc/ui.txt
  runtime/lua/vim/_meta/options.lua
  runtime/tutor/en/vim-01-beginner.tutor
  src/nvim/options.lua
Labels: documentation

#27047 fix(column): pass kFalse when initializing "b_signcols.count"
  src/nvim/decoration.c
  src/nvim/drawscreen.c
  test/functional/ui/sign_spec.lua
Labels: column

#27058 build(deps): bump tree-sitter-vimdoc to v2.1.0
  cmake.deps/deps.txt
Labels: build, dependencies

#27024 test: big cleanup followup + typing
  runtime/lua/vim/_editor.lua
  test/client/msgpack_rpc_stream.lua
  test/client/session.lua
  test/client/uv_stream.lua
  test/deprecated.lua
  test/format_string.lua
  test/functional/api/vim_spec.lua
  test/functional/ex_cmds/swapfile_preserve_recover_spec.lua
  test/functional/helpers.lua
  test/functional/lua/fs_spec.lua
  test/functional/lua/luaeval_spec.lua
  test/functional/shada/merging_spec.lua
  test/functional/shada/shada_spec.lua
  test/functional/terminal/channel_spec.lua
  test/functional/ui/messages_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/vimscript/ctx_functions_spec.lua
  test/functional/vimscript/input_spec.lua
  test/functional/vimscript/timer_spec.lua
  test/helpers.lua
  test/unit/helpers.lua
  test/unit/viml/expressions/parser_spec.lua
  test/unit/viml/expressions/parser_tests.lua
Labels: refactor, test

#27059 vim-patch:{9b03d3e75b42,0daafaa7d99e,9712ff1288f9}: translate Vim9 script Godot files to legacy
  runtime/ftplugin/gdscript.vim
  runtime/ftplugin/gdshader.vim
  runtime/indent/gdscript.vim
Labels: runtime

#27064 fix(lua): return after assert returns assert message
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/glob.lua
  scripts/gen_help_html.lua
Labels: lua, diagnostic

#27070 vim-patch:9.1.0039: too vague errors for 'listchars'/'fillchars'
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/option.c
  src/nvim/options.lua
  src/nvim/optionstr.c
  test/functional/options/chars_spec.lua
  test/old/testdir/test_display.vim
  test/old/testdir/test_listchars.vim
Labels: vim-patch

#27071 vim-patch:9.1.0040: issue with prompt buffer and hidden buffer
  src/nvim/autocmd.c
  src/nvim/autocmd_defs.h
  test/functional/legacy/prompt_buffer_spec.lua
  test/old/testdir/test_prompt_buffer.vim
Labels: vim-patch

#27074 vim-patch:9.0.1437: test fails with different error number
  test/old/testdir/test_listdict.vim
Labels: test, vim-patch

#25289 docs
  CONTRIBUTING.md
  cmake.deps/CMakeLists.txt
  runtime/doc/autocmd.txt
  runtime/doc/lsp.txt
  runtime/doc/motion.txt
  runtime/doc/recover.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  src/nvim/README.md
  src/nvim/tui/tui.c
  test/functional/lua/watch_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: documentation

#27018 docs(vim.iter): correct `bool` to `boolean`
  runtime/doc/lua.txt
  runtime/lua/vim/iter.lua
Labels: documentation, lua

#27080 fix(treesitter): validate language alias for injections
  runtime/lua/vim/treesitter/languagetree.lua
Labels: treesitter

#27079 refactor(drawline): more win_line() improvements
  src/nvim/drawline.c
Labels: refactor

#27060 docs: delete commands for removed features
  INSTALL.md
Labels: documentation

#27061 fix(extmarks): do not remove invalid marks from decor upon deletion
  runtime/doc/api.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/extmark.c
  src/nvim/extmark.c
  src/nvim/extmark.h
  test/functional/api/extmark_spec.lua
Labels: extmarks

#27077 refactor(lua): refactored glob
  runtime/lua/vim/glob.lua
  test/functional/lua/glob_spec.lua
Labels: lua

#27027 fix(vim.deprecate): show deprecation warning in devel versions as well
  runtime/lua/vim/_editor.lua
  test/functional/lua/vim_spec.lua
Labels: lua, backport release-0.9

#27093 feat(ui): add chdir UI event
  runtime/doc/ui.txt
  src/nvim/api/ui_events.in.h
  src/nvim/os/fs.c
  src/nvim/tui/tui.c
  src/nvim/ui.c
  test/functional/ui/embed_spec.lua
  test/functional/ui/screen.lua
Labels: ui, tui

#26868 feat(api): support abbr in nvim_get_keymap and nvim_buf_get_keymap
  runtime/doc/news.txt
  src/nvim/mapping.c
  test/functional/api/keymap_spec.lua
Labels: api

#27100 ci: bump cache action to version 4
  .github/actions/cache/action.yml
Labels: ci

#27098 build: create separate targets for nvim with and without runtime files
  CMakeLists.txt
  cmake.config/CMakeLists.txt
  runtime/CMakeLists.txt
  src/nvim/CMakeLists.txt
  src/nvim/po/CMakeLists.txt
  test/CMakeLists.txt
  test/functional/fixtures/CMakeLists.txt
Labels: build

#27102 fix(lsp): clean up duplicate and unused meta type annotations
  runtime/lua/vim/lsp/_meta.lua
  runtime/lua/vim/lsp/_meta/protocol.lua
  scripts/gen_lsp.lua
Labels: lsp

#27067 feat(treesitter)!: use new standard captures
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/queries/bash/folds.scm
  runtime/queries/bash/highlights.scm
  runtime/queries/c/folds.scm
  runtime/queries/c/highlights.scm
  runtime/queries/c/injections.scm
  runtime/queries/lua/folds.scm
  runtime/queries/lua/highlights.scm
  runtime/queries/lua/injections.scm
  runtime/queries/markdown/folds.scm
  runtime/queries/markdown/highlights.scm
  runtime/queries/markdown/injections.scm
  runtime/queries/markdown_inline/highlights.scm
  runtime/queries/markdown_inline/injections.scm
  runtime/queries/python/folds.scm
  runtime/queries/python/highlights.scm
  runtime/queries/query/highlights.scm
  runtime/queries/vim/folds.scm
  runtime/queries/vim/highlights.scm
  runtime/queries/vim/injections.scm
  runtime/queries/vimdoc/highlights.scm
  runtime/queries/vimdoc/injections.scm
  src/nvim/highlight_group.c
  test/functional/treesitter/fold_spec.lua
  test/functional/treesitter/highlight_spec.lua
  test/old/testdir/test_syntax.vim
Labels: highlight, treesitter, breaking-change

#27025 feat(vim.version): add `vim.version.le` and `vim.version.ge`
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/version.lua
  test/functional/lua/version_spec.lua
Labels: lua

#27113 build: fix parser installation location
  src/nvim/CMakeLists.txt
Labels: build

#27116 fix(extmarks): missing "spell" and "conceal" in details
  src/nvim/decoration.c
  test/functional/api/extmark_spec.lua
Labels: extmarks

#27120 build: create BINARY_LIB_DIR directory before adding parser
  src/nvim/CMakeLists.txt
Labels: build

#25494 fix(rpc): assertion failure due to invalid msgpack input
  src/nvim/msgpack_rpc/channel.c
  test/functional/core/channels_spec.lua
Labels: rpc

#26813 perf: make screen size and position calculations more efficient
  runtime/doc/news.txt
  src/nvim/arabic.c
  src/nvim/cursor.c
  src/nvim/drawline.c
  src/nvim/edit.c
  src/nvim/getchar.c
  src/nvim/indent.c
  src/nvim/macros_defs.h
  src/nvim/mbyte.c
  src/nvim/mbyte.h
  src/nvim/mbyte_defs.h
  src/nvim/mouse.c
  src/nvim/ops.c
  src/nvim/plines.c
  src/nvim/plines.h
  test/benchmark/screenpos_spec.lua
Labels: performance, ci-s390x

#27123 refactor: use "csarg" for CharsizeArg variables
  src/nvim/cursor.c
  src/nvim/drawline.c
  src/nvim/edit.c
  src/nvim/getchar.c
  src/nvim/indent.c
  src/nvim/mouse.c
  src/nvim/ops.c
  src/nvim/plines.c
  src/nvim/plines.h
Labels: refactor

#27076 refactor(api): use hl id directly in nvim_buf_set_extmark
  runtime/lua/vim/_meta/api_keysets.lua
  scripts/gen_eval_files.lua
  src/nvim/api/extmark.c
  src/nvim/api/keysets_defs.h
  src/nvim/api/private/defs.h
  src/nvim/api/private/helpers.c
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/lua/converter.c
Labels: api, refactor

#20750 feat(folds): transparent fold text
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/options.lua
  test/functional/ui/fold_spec.lua
Labels: folds

#27106 build: make genappimage.sh work with existing CMAKE_INSTALL_PREFIX
  scripts/genappimage.sh
Labels: build

#27129 docs(options): remove misleading sentence
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: options

#27011 perf(extmarks): add metadata for efficient filtering of special decorations
  src/nvim/api/buffer.c
  src/nvim/buffer.h
  src/nvim/buffer_defs.h
  src/nvim/change.c
  src/nvim/decoration.c
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/edit.c
  src/nvim/eval/buffer.c
  src/nvim/extmark.c
  src/nvim/marktree.c
  src/nvim/marktree.h
  src/nvim/marktree_defs.h
  src/nvim/plines.c
  src/nvim/sign.c
  src/nvim/undo.c
  test/unit/marktree_spec.lua
Labels: extmarks, column

#27128 fix(column): clear "b_signcols" when marktree is cleared
  src/nvim/extmark.c
  test/functional/ui/decorations_spec.lua
Labels: column

#26941 refactor: rewrite python provider in lua
  runtime/autoload/provider/python3.vim
  runtime/autoload/provider/pythonx.vim
  runtime/autoload/remote/host.vim
  runtime/lua/nvim/health.lua
  runtime/lua/provider/python/health.lua
  runtime/lua/vim/provider/python.lua
  test/functional/ex_cmds/script_spec.lua
  test/functional/helpers.lua
  test/functional/provider/python3_spec.lua
  test/old/testdir/test_python3.vim
  test/old/testdir/test_pyx3.vim
Labels: refactor, provider

#27139 build(deps): bump luajit to HEAD - 3ca0a8071
  cmake.deps/deps.txt
Labels: build, dependencies

#27140 vim-patch:9.1.0043: ml_get: invalid lnum when :s replaces visual selection
  src/nvim/regexp.c
  test/old/testdir/test_visual.vim
Labels: vim-patch

#27145 fix(extmarks): crash with sign after many marks
  src/nvim/marktree.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#27112 fix(treesitter): update `@markup` default links
  src/nvim/highlight_group.c
  test/functional/treesitter/highlight_spec.lua
Labels: treesitter

#27143 fix(diagnostic): fix typing on field |diagnostic-severity|
  runtime/lua/vim/diagnostic.lua
Labels: diagnostic

#27141 test: typing for screen.lua
  runtime/lua/vim/_editor.lua
  test/functional/helpers.lua
  test/functional/ui/screen.lua
Labels: test

#22981 fix(colorscheme): link LSP semantic token groups to treesitter groups
  src/nvim/highlight_group.c
Labels: lsp

#27157 build(deps): bump luajit to HEAD - f2336c48f
  cmake.deps/deps.txt
Labels: build, dependencies

#27158 fix(sign): avoid deleting from sign map while looping over it
  src/nvim/sign.c
  test/functional/ui/sign_spec.lua
Labels: column

#27165 vim-patch:9.1.0046: :drop does not re-use empty buffer
  src/nvim/arglist.c
  src/nvim/ex_cmds2.c
  test/functional/core/remote_spec.lua
  test/functional/ex_cmds/drop_spec.lua
  test/old/testdir/test_excmd.vim
  test/old/testdir/test_tabpage.vim
Labels: vim-patch

#27169 fix(options): use a union for def_val
  src/nvim/generators/gen_options.lua
  src/nvim/option.c
  src/nvim/option.h
  src/nvim/options.lua
Labels: options, ci-s390x

#27156 fix(treesitter): prefix TSHiglighter annotation
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/highlighter.lua
  runtime/lua/vim/treesitter/language.lua
  runtime/lua/vim/treesitter/query.lua
Labels: treesitter

#27170 docs(treesitter): add more examples, and improve consistency
  runtime/doc/treesitter.txt
Labels: documentation, treesitter

#27172 fix(spell): always accept ':' as filename char in 'spellfile'
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/charset.c
  src/nvim/options.lua
  test/functional/core/spellfile_spec.lua
Labels: spell

#27138 refactor: rewrite perl provider in lua
  runtime/autoload/provider/perl.vim
  runtime/lua/provider/perl/health.lua
  runtime/lua/vim/provider/perl.lua
  test/functional/helpers.lua
Labels: refactor, provider

#27130 build: various build improvements
  CMakeLists.txt
  Makefile
  cmake.deps/CMakeLists.txt
  cmake.deps/cmake/BuildLpeg.cmake
  cmake.deps/cmake/BuildLuv.cmake
  cmake/Util.cmake
  contrib/minimal.lua
  runtime/CMakeLists.txt
  src/nvim/CMakeLists.txt
  src/nvim/po/CMakeLists.txt
Labels: build

#27149 refactor: rewrite ruby provider in lua
  runtime/autoload/provider/ruby.vim
  runtime/lua/provider/ruby/health.lua
  runtime/lua/vim/provider/perl.lua
  runtime/lua/vim/provider/python.lua
  runtime/lua/vim/provider/ruby.lua
  test/functional/helpers.lua
Labels: refactor, provider

#27109 feat(ui): add support for OSC 8 hyperlinks
  runtime/doc/api.txt
  runtime/doc/news.txt
  runtime/doc/ui.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/api_keysets.lua
  src/nvim/api/extmark.c
  src/nvim/api/keysets_defs.h
  src/nvim/api/ui.c
  src/nvim/api/vim.c
  src/nvim/decoration.c
  src/nvim/decoration_defs.h
  src/nvim/highlight.c
  src/nvim/highlight_defs.h
  src/nvim/highlight_group.c
  src/nvim/map_defs.h
  src/nvim/terminal.c
  src/nvim/tui/tui.c
  src/nvim/ui_client.c
  test/functional/api/extmark_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/ui/decorations_spec.lua
  test/functional/ui/screen.lua
Labels: ui, tui, ci-s390x

#27063 docs: various fixes
  INSTALL.md
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/ex_cmds.c
  src/nvim/highlight.c
  src/nvim/plines.c
  src/nvim/plines.h
  src/nvim/textformat.c
Labels: documentation

#27186 refactor: IWYU
  src/nvim/api/buffer.c
  src/nvim/buffer.h
  src/nvim/change.c
  src/nvim/cursor.c
  src/nvim/decoration.c
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  src/nvim/edit.c
  src/nvim/extmark.c
  src/nvim/grid.c
  src/nvim/indent.c
  src/nvim/mbyte.h
  src/nvim/memory.h
  src/nvim/mouse.c
  src/nvim/ops.c
  src/nvim/plines.c
  src/nvim/plines.h
  src/nvim/tui/tui.c
  src/nvim/ui.c
  src/nvim/undo.c
Labels: refactor

#27190 build(deps): bump luajit to HEAD - 343ce0eda
  cmake.deps/deps.txt
Labels: build, dependencies

#27191 build(deps): bump tree-sitter-bash to v0.20.4
  cmake.deps/deps.txt
Labels: build, dependencies

#27189 fix(runtime): update 'vim' color scheme to use new tree-sitter groups
  runtime/colors/vim.lua
  test/functional/treesitter/highlight_spec.lua
Labels: runtime

#27199 vim-patch:9.1.0055: formatting long lines is slow
  src/nvim/textformat.c
Labels: vim-patch

#27201 vim-patch:9.1.{0054,0056}
  src/nvim/plines.c
  test/old/testdir/test_listlbr.vim
  test/old/testdir/test_put.vim
Labels: vim-patch

#27204 vim-patch:9.1.0058: Cannot map Super Keys in GTK UI
  runtime/doc/builtin.txt
  runtime/doc/map.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  test/old/testdir/test_mapping.vim
Labels: vim-patch

#27208 vim-patch:046a0f75d025
  runtime/syntax/mail.vim
Labels: vim-patch

#27206 ci(release): fix broken link
  .github/workflows/notes.md
Labels: documentation, ci

#27215 fix(extmarks): do not remove decor from invalid old marks
  src/nvim/extmark.c
Labels: extmarks

#27217 Revert "feat(treesitter): add foldtext with treesitter highlighting (#25391)"
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/_fold.lua
  test/functional/treesitter/fold_spec.lua
Labels: treesitter

#27167 feat(ex_cmds): support ranged :lua
  runtime/doc/lua.txt
  runtime/doc/news.txt
  src/nvim/ex_cmds.lua
  src/nvim/lua/executor.c
  src/nvim/runtime.c
  test/functional/lua/commands_spec.lua
Labels: lua

#27224 test(tui_spec): get &background from child session directly
  test/functional/terminal/tui_spec.lua
Labels: test

#27225 fix(api): limit depth of nvim_cmd
  src/nvim/api/private/helpers.c
  src/nvim/ex_docmd.c
  test/functional/api/vim_spec.lua
Labels: api

#27226 fix(events): check for WinResized/WinScrolled in terminal mode
  src/nvim/terminal.c
  src/nvim/window.c
  test/functional/autocmd/win_scrolled_resized_spec.lua
Labels: terminal, events
