Repository neovim/neovim, pull requests merged in 2024-10, with the labels that each got.

#30606 vim-patch:9.1.0749: filetype: http files not recognized
  runtime/ftplugin/http.vim
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#30605 vim-patch:85f054a: runtime(java): Recognise the CommonMark form (///) of Javadoc comments
  runtime/autoload/javaformat.vim
  runtime/doc/filetype.txt
  runtime/doc/syntax.txt
  runtime/ftplugin/java.vim
  runtime/syntax/java.vim
Labels: vim-patch

#30602 fix(tabline): restore behavior of click after last tabpage
  src/nvim/statusline.c
  test/functional/ui/mouse_spec.lua
Labels: mouse, statusline

#28727 fix(treesitter): indent size for inspect_tree
  runtime/lua/vim/treesitter/dev.lua
Labels: treesitter, ci:backport release-0.10

#30614 vim-patch:9.1.0753: Wrong display when typing in diff mode with 'smoothscroll'
  src/nvim/drawscreen.c
  test/functional/legacy/scroll_opt_spec.lua
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch, ci:backport release-0.10

#30617 vim-patch:baee844: runtime(doc): add `usr` tag to usr_toc.txt
  runtime/doc/usr_toc.txt
Labels: documentation, vim-patch

#30616 vim-patch:9.1.0752: can set 'cedit' to an invalid value
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/ex_getln.c
  src/nvim/options.lua
Labels: vim-patch

#30618 build(deps): bump luajit to HEAD - 2240d8446
  cmake.deps/deps.txt
  src/nvim/CMakeLists.txt
Labels: build

#30589 build(deps): bump tree-sitter to HEAD - 94a826211
  cmake.deps/deps.txt
Labels: build

#30620 build(deps): bump luajit to HEAD - b2915e9ab
  cmake.deps/deps.txt
Labels: build

#30622 build(deps): bump luajit to HEAD - 97813fb92
  cmake.deps/deps.txt
Labels: build

#30595 fix(watch): ignore nonexistent paths (ENOENT)
  runtime/lua/vim/_watch.lua
  test/functional/lua/watch_spec.lua
Labels: lsp

#30619 vim-patch:9.1.0754: fixed order of items in insert-mode completion menu
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  runtime/optwin.vim
  src/nvim/insexpand.c
  src/nvim/insexpand.h
  src/nvim/option_vars.h
  src/nvim/options.lua
  src/nvim/optionstr.c
  src/nvim/popupmenu.c
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_popup.vim
Labels: vim-patch

#30630 vim-patch:ae62fe5: runtime(doc): 'filetype', 'syntax' and 'keymap' only allow alphanumeric + some characters
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#30631 refactor: fix incorrect use of enum
  src/nvim/ex_cmds.c
  src/nvim/os/shell.c
Labels: refactor

#30632 fix(defaults): properly pass count to quickfix commands
  runtime/lua/vim/_defaults.lua
Labels: defaults

#30635 vim-patch:f416a22: runtime(systemd): small fixes to &keywordprg in ftplugin
  runtime/ftplugin/systemd.vim
Labels: vim-patch

#30576 fix(ui): make sure that the screen is updated before waiting for input
  src/nvim/state.c
  test/functional/ui/multigrid_spec.lua
Labels: ui, event-loop

#30637 vim-patch:9.1.0755: quickfix list does not handle hardlinks well
  src/nvim/quickfix.c
  test/old/testdir/test_quickfix.vim
Labels: vim-patch

#30621 perf(treesitter): do not use tree cursors with a small lifetime
  src/nvim/lua/treesitter.c
Labels: treesitter

#30643 docs(treesitter): generate TSNode and TSTree docs
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/_meta.lua
  runtime/lua/vim/treesitter/_meta/misc.lua
  runtime/lua/vim/treesitter/_meta/tsnode.lua
  runtime/lua/vim/treesitter/_meta/tstree.lua
  scripts/gen_vimdoc.lua
Labels: documentation, treesitter

#30649 docs: render `@since` versions, support `@since 0` to mark experimental
  runtime/doc/develop.txt
  runtime/doc/diagnostic.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/_inspector.lua
  runtime/lua/vim/_meta/builtin.lua
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/loader.lua
  runtime/lua/vim/secure.lua
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/version.lua
  scripts/gen_eval_files.lua
  scripts/gen_vimdoc.lua
  scripts/util.lua
  test/functional/script/text_utils_spec.lua
Labels: treesitter, filetype

#30650 fix(lsp): enable `additionalPropertiesSupport`
  runtime/lua/vim/lsp/protocol.lua
Labels: lsp

#30655 fix(mouse): indicate X1 and X2 button clicks on statusline
  src/nvim/mouse.c
  test/functional/ui/statusline_spec.lua
Labels: mouse, statusline

#30472 feat(completion): completion for vim.fn, variable, and option accessors
  runtime/doc/news.txt
  runtime/lua/vim/_editor.lua
  test/functional/lua/command_line_completion_spec.lua
Labels: lua, completion

#30651 build(deps): bump tree-sitter to v0.24.1
  cmake.deps/deps.txt
Labels: build

#30642 fix(defaults): use "range" instead of "count" for some mappings
  runtime/lua/vim/_defaults.lua
Labels: defaults

#30662 vim-patch:9.1.0758: it's possible to set an invalid key to 'wildcharm'
  src/nvim/option.c
Labels: vim-patch

#30667 vim-patch:60310a4: runtime(java): Manage circularity for every :syn-included syntax file
  runtime/syntax/java.vim
Labels: vim-patch

#30623 ci: bump ubuntu runner version to ubuntu-24.04
  .github/scripts/install_deps.sh
  .github/workflows/test.yml
  runtime/doc/support.txt
  src/nvim/CMakeLists.txt
Labels: ci

#30681 vim-patch:9.1.0759: screenpos() may return invalid position
  src/nvim/option.c
  test/old/testdir/test_cursor_func.vim
Labels: vim-patch, ci:backport release-0.10

#30683 vim-patch:9.1.0003: Cannot build against Ruby 33 dynamically
  test/old/testdir/test_ruby.vim
Labels: test, vim-patch

#30684 vim-patch: doc updates
  runtime/doc/cmdline.txt
  runtime/doc/indent.txt
  runtime/doc/intro.txt
  runtime/doc/motion.txt
  runtime/doc/repeat.txt
  runtime/doc/spell.txt
  runtime/doc/syntax.txt
  runtime/doc/usr_29.txt
  runtime/doc/usr_toc.txt
  runtime/doc/various.txt
  runtime/syntax/help.vim
Labels: vim-patch

#30680 fix(docs): markdown instead of vimdoc in meta docstrings
  runtime/lua/vim/_meta/api.lua
  scripts/gen_eval_files.lua
  scripts/util.lua
Labels: documentation

#30668 fix(runtime): fully port emoji_list to Lua
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  runtime/tools/emoji_list.lua
  runtime/tools/emoji_list.vim
  src/nvim/eval.lua
Labels: runtime

#30677 ci: bump macos runner version to macos-15
  .github/workflows/test.yml
  MAINTAIN.md
  runtime/doc/support.txt
  test/functional/lua/watch_spec.lua
Labels: ci

#30693 feat(docs): improve `@see` meta docstrings
  runtime/lua/vim/_meta/api.lua
  scripts/gen_eval_files.lua
Labels: ci:skip-news

#30661 docs: update LspAttach and LspDetach examples
  runtime/doc/lsp.txt
Labels: documentation, lsp

#30695 feat(lsp): improve LSP doc hover rendering
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp/utils_spec.lua
Labels: lsp, ci:skip-news

#30701 vim-patch:fd4e47e: runtime(doc): clarify the effect of 'startofline' option
  runtime/doc/motion.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#30703 vim-patch:9.1.0761: :cd completion fails on Windows with backslash in path
  src/nvim/fileio.c
  src/nvim/path.c
  test/old/testdir/test_cmdline.vim
Labels: vim-patch

#30704 vim-patch:9.1.0762: 'cedit', 'termwinkey' and 'wildchar' may not be parsed correctly
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/option.c
  src/nvim/options.lua
Labels: vim-patch

#30705 vim-patch:9.1.0764: [security]: use-after-free when closing a buffer
  src/nvim/buffer.c
  src/nvim/ex_cmds.c
  test/old/testdir/test_autocmd.vim
Labels: vim-patch

#30700 fix(lsp): tagfunc fails in unusual buffer
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#30706 fix(drawline): correct priority order with Visual selection
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
  test/functional/ui/fold_spec.lua
  test/functional/ui/spell_spec.lua
Labels: highlight

#30713 vim-patch:9.1.0765: No test for patches 6.2.418 and 7.3.489
  runtime/doc/map.txt
  test/old/testdir/test_cmdline.vim
  test/old/testdir/test_mapping.vim
  test/old/testdir/test_quickfix.vim
Labels: vim-patch

#30687 fix(coverity/510275): linematch out of bounds access
  src/nvim/linematch.c
Labels: diff, ci:backport release-0.10

#30715 vim-patch:9.1.0766: too many strlen() calls in ex_getln.c
  src/nvim/ex_getln.c
  src/nvim/search.c
Labels: vim-patch

#30712 vim-patch:4f51f3a: runtime(spec): set comments and commentstring options
  runtime/ftplugin/spec.vim
Labels: vim-patch

#30679 Fix deps build for newer ARM64 MSVC
  cmake.deps/cmake/GettextCMakeLists.txt
Labels: build

#30727 vim-patch:d3b55d7: runtime(help): highlight CTRL-<Key> correctly
  runtime/syntax/help.vim
Labels: vim-patch

#30726 vim-patch:9.1.0767: A condition is always true in ex_getln.c
  test/old/testdir/test_mapping.vim
Labels: test, vim-patch

#30728 vim-patch:9.1.0770: current command line completion is a bit limited
  runtime/doc/builtin.txt
  runtime/doc/map.txt
  runtime/doc/usr_41.txt
  runtime/lua/vim/_meta/vimfn.lua
  runtime/syntax/vim.vim
  src/nvim/cmdexpand.c
  src/nvim/cmdexpand_defs.h
  src/nvim/eval.lua
  src/nvim/ex_getln.c
  src/nvim/usercmd.c
  test/old/testdir/test_cmdline.vim
Labels: vim-patch

#30731 vim-patch:9.1.0769: filetype: MLIR files are not recognized
  runtime/ftplugin/mlir.vim
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#30733 docs(lua): "vim.bo" is always equivalent to :setlocal
  runtime/doc/lua.txt
  runtime/lua/vim/_options.lua
Labels: documentation, lua, ci:backport release-0.10

#30736 build(deps): bump wasmtime to v25.0.2
  cmake.deps/deps.txt
  src/nvim/CMakeLists.txt
Labels: build

#30742 vim-patch:9.1.{0771,0772}
  runtime/doc/insert.txt
  runtime/lua/vim/lsp/completion.lua
  src/nvim/cmdexpand.c
  src/nvim/insexpand.c
  src/nvim/popupmenu.c
  src/nvim/popupmenu.h
  test/functional/plugin/lsp/completion_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_popup.vim
Labels: vim-patch

#30689 build(deps): bump tree-sitter to v0.24.3
  cmake.deps/deps.txt
Labels: build

#30659 fix(lsp): fix cursor position after snippet expansion
  runtime/lua/vim/lsp/completion.lua
  test/functional/plugin/lsp/completion_spec.lua
Labels: lsp

#30750 vim-patch:9.1.0774: "shellcmdline" doesn't work with getcompletion()
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/cmdexpand.c
  src/nvim/eval.lua
  test/old/testdir/test_cmdline.vim
Labels: vim-patch

#30751 test(tui_spec): better prevent race between paste and input
  test/functional/terminal/tui_spec.lua
Labels: test, ci:backport release-0.10

#29980 feat(ui): introduce cascading style inheritance for Pmenu* highlights
  runtime/doc/news.txt
  runtime/doc/syntax.txt
  runtime/doc/vim_diff.txt
  src/nvim/popupmenu.c
  test/functional/ui/popupmenu_spec.lua
Labels: ui, highlight, breaking-change

#30754 vim-patch:9.1.0773: filetype: some Apache files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#30755 build(deps): bump libuv to v1.49.1
  cmake.deps/deps.txt
Labels: build

#30748 fix(lsp): set 'smoothscroll' in docs hover
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#30757 test(tui_spec): use child_exec_lua() more
  test/functional/terminal/tui_spec.lua
Labels: test

#30629 feat(treesitter): introduce child_with_descendant()
  runtime/doc/deprecated.txt
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/_meta/tsnode.lua
  src/nvim/CMakeLists.txt
  src/nvim/lua/treesitter.c
  test/functional/treesitter/node_spec.lua
  test/functional/treesitter/query_spec.lua
Labels: treesitter

#30563 fix(treesitter): remove duplicate symbol names in language.inspect()
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/_query_linter.lua
  runtime/lua/vim/treesitter/language.lua
  src/nvim/lua/treesitter.c
  test/functional/treesitter/language_spec.lua
  test/functional/treesitter/parser_spec.lua
Labels: treesitter

#30764 feat(defaults): map gri to vim.lsp.buf.implementation()
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_defaults.lua
Labels: defaults

#30766 fix(build): remove USE_FNAME_CASE, redundant with CASE_INSENSITIVE_FILENAME
  CMakeLists.txt
  cmake.config/config.h.in
  src/nvim/buffer.c
  src/nvim/ex_cmds.c
  src/nvim/main.c
  src/nvim/path.c
  test/old/testdir/test_edit.vim
Labels: build

#30753 fix(lua): avoid recursive vim.on_key() callback
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/_editor.lua
  src/nvim/lua/executor.c
  test/functional/lua/vim_spec.lua
Labels: input, lua

#30774 docs(lua): clarify when on_key "typed" will be empty
  runtime/doc/lua.txt
  runtime/lua/vim/_editor.lua
Labels: documentation, lua, ci:backport release-0.10

#30771 fix(treesitter): mark supertype nodes as named
  src/nvim/lua/treesitter.c
  test/functional/treesitter/language_spec.lua
Labels: treesitter

#29976 feat(ui): allow statusline-like ui elements to combine highlight attrs
  runtime/doc/news.txt
  src/nvim/statusline.c
  test/functional/ui/highlight_spec.lua
  test/functional/ui/multibyte_spec.lua
  test/functional/ui/statusline_spec.lua
  test/functional/ui/tabline_spec.lua
  test/functional/ui/winbar_spec.lua
Labels: ui, highlight, breaking-change

#30780 vim-patch:9.1.0776: test_strftime may fail because of missing TZ data
  test/old/testdir/test_functions.vim
Labels: test, vim-patch, ci:backport release-0.10

#30782 vim-patch:05d0893: runtime(java): Define javaBlockStart and javaBlockOtherStart hl groups
  runtime/syntax/java.vim
Labels: vim-patch

#30783 vim-patch:9.1.0777: filetype: Some upstream php files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#30785 vim-patch:9.1.0775: tests: not enough tests for setting options
  src/nvim/eval/vars.c
  test/old/testdir/test_options.vim
Labels: vim-patch

#30787 test(autocmd/termxx_spec): properly setup TextChangedT tests
  test/functional/autocmd/termxx_spec.lua
Labels: test, ci:backport release-0.10

#30788 test(autocmd/termxx_spec): properly setup TextChangedT tests
  test/functional/autocmd/termxx_spec.lua
Labels: test, target:release

#30796 docs: update autotrigger description of vim.lsp.compleiton.BufferOpts
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/completion.lua
Labels: lsp

#30798 vim-patch:8.2.{0985,0986}: simplify() does not remove slashes from "///path"
  src/nvim/path.c
  test/old/testdir/test_functions.vim
Labels: vim-patch

#30805 vim-patch:a420547: runtime(misc): Use consistent "Vim script" spelling
  runtime/doc/editing.txt
  runtime/menu.vim
  runtime/syntax/modula2/opt/r10.vim
  test/old/testdir/script_util.vim
  test/old/testdir/test_expr.vim
Labels: vim-patch

#30807 test(tui_spec): use Unicode in cursor_address test
  test/functional/terminal/tui_spec.lua
Labels: test

#30801 vim-patch:9.1.0778: filetype: lf config files are not recognized
  runtime/doc/syntax.txt
  runtime/lua/vim/filetype.lua
  runtime/syntax/lf.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#30800 vim-patch:6e91853: runtime(gleam): add ftplugin for gleam files
  runtime/ftplugin/gleam.vim
Labels: vim-patch

#30793 fix(tui): avoid flushing buffer halfway an OSC 2 sequence
  src/nvim/tui/tui.c
  test/functional/terminal/tui_spec.lua
Labels: tui, ci:backport release-0.10

#30817 vim-patch: doc updates
  runtime/doc/editing.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#30818 vim-patch:9.1.0783: 'spell' option setting has problems
  src/nvim/option.c
  src/nvim/optionstr.c
  src/nvim/spell.c
  test/old/testdir/test_spellfile.vim
Labels: vim-patch, spell

#30814 vim-patch:9.1.0782: tests: using wrong neomuttlog file name
  test/old/testdir/test_filetype.vim
Labels: test, vim-patch

#30460 fix(lsp): handle multiline signature help labels
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp, ci:backport release-0.10

#30820 vim-patch:9.1.0785: cannot preserve error position when setting quickfix list
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/quickfix.c
  test/old/testdir/test_quickfix.vim
Labels: vim-patch

#30819 fix(runtime): use CTRL-W_q to close window (#30743)
  runtime/doc/news.txt
  runtime/ftplugin/man.vim
  runtime/lua/man.lua
Labels: runtime

#30777 feat(runtime): cleanup one-off scripts
  runtime/CMakeLists.txt
  runtime/autoload/README.txt
  runtime/autoload/paste.vim
  runtime/colors/README.txt
  runtime/doc/builtin.txt
  runtime/doc/various.txt
  runtime/doc/vim_diff.txt
  runtime/ftplugin/ada.vim
  runtime/ftplugin/erlang.vim
  runtime/ftplugin/plaintex.vim
  runtime/ftplugin/spec.vim
  runtime/ftplugin/tex.vim
  runtime/lua/vim/_meta/vimfn.lua
  runtime/macmap.vim
  runtime/macros/editexisting.vim
  runtime/macros/justify.vim
  runtime/macros/matchit.vim
  runtime/macros/shellmenu.vim
  runtime/macros/swapmous.vim
  runtime/scripts/emoji_list.lua
  runtime/scripts/less.bat
  runtime/scripts/less.sh
  runtime/scripts/less.vim
  runtime/scripts/mswin.vim
  runtime/tools/check_colors.vim
  src/nvim/eval.lua
Labels: build, runtime

#30828 vim-patch:9.1.0786: tests: quickfix update test does not test location list
  test/old/testdir/test_quickfix.vim
Labels: test, vim-patch

#30747 fix(lsp): str_byteindex_enc bounds checking
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#30835 vim-patch:9.1.0789: tests: ':resize + 5' has invalid space after '+'
  test/old/testdir/test_window_cmd.vim
Labels: test, vim-patch

#30836 vim-patch: doc updates
  runtime/doc/builtin.txt
  runtime/doc/options.txt
  runtime/doc/repeat.txt
  runtime/lua/vim/_meta/options.lua
  runtime/lua/vim/_meta/vimfn.lua
  runtime/syntax/help.vim
  runtime/syntax/help_it.vim
  src/nvim/eval.lua
  src/nvim/options.lua
Labels: vim-patch

#30839 vim-patch:5e53fca: runtime(jinja): Support jinja syntax as secondary filetype
  runtime/syntax/jinja.vim
Labels: vim-patch

#30830 feat(lsp): add option to show server name in code actions
  runtime/doc/news.txt
  runtime/lua/vim/lsp/buf.lua
Labels: lsp

#30825 refactor/lsputil
  runtime/doc/builtin.txt
  runtime/doc/lsp.txt
  runtime/lua/vim/_meta/builtin_types.lua
  runtime/lua/vim/_meta/vimfn.lua
  runtime/lua/vim/lsp/_tagfunc.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/util.lua
  src/nvim/eval.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#30833 perf(validate): use lighter version
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_system.lua
  runtime/lua/vim/_watch.lua
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/fs.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/secure.lua
  runtime/lua/vim/shared.lua
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/dev.lua
  runtime/lua/vim/treesitter/language.lua
  runtime/lua/vim/ui.lua
Labels: performance, lsp, treesitter, diagnostic, filesystem, filetype

#30851 fix(lsp.util): wrong arguments to 'validate' function
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#30850 vim-patch: make gen_opt_test.vim work with Nvim
  .gitignore
  scripts/vim-patch.sh
  test/old/testdir/Makefile
  test/old/testdir/gen_opt_test.vim
Labels: vim-patch

#30856 fix(options): fix some 'belloff' flags not working properly
  src/nvim/optionstr.c
  test/functional/options/belloff_spec.lua
Labels: options

#30861 build(deps): bump libuv to v1.49.2
  cmake.deps/deps.txt
Labels: build

#30863 ci: bump Intel macOS runners to 13
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: ci

#30859 feat(terminal)!: make 'belloff' and 'visualbell' apply to terminal bell
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/option_vars.h
  src/nvim/options.lua
  src/nvim/optionstr.c
  src/nvim/terminal.c
  test/functional/terminal/buffer_spec.lua
Labels: terminal, breaking-change

#30870 vim-patch:9.1.0792: tests: Test_set_values() is not comprehensive enough
  test/old/testdir/gen_opt_test.vim
Labels: test

#30864 fix(deps): revert accidental test commits
  cmake.deps/deps.txt
Labels: build

#30874 vim-patch:9.1.0794: tests: tests may fail on Windows environment
  test/old/testdir/shared.vim
  test/old/testdir/test_autocmd.vim
  test/old/testdir/test_functions.vim
  test/old/testdir/test_swap.vim
  test/old/testdir/test_windows_home.vim
Labels: test, vim-patch

#30722 feat(lsp): support multiple clients in lsp.buf.references
  runtime/doc/news.txt
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/handlers.lua
Labels: lsp

#30844 feat(float): allow enabling mouse for non-focusable window
  runtime/doc/api.txt
  runtime/doc/news.txt
  runtime/doc/ui.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/api_keysets.lua
  src/nvim/api/keysets_defs.h
  src/nvim/api/ui_events.in.h
  src/nvim/api/win_config.c
  src/nvim/buffer_defs.h
  src/nvim/grid_defs.h
  src/nvim/message.c
  src/nvim/mouse.c
  src/nvim/ui_compositor.c
  src/nvim/window.c
  src/nvim/winfloat.c
  test/functional/ui/float_spec.lua
Labels: api, mouse, floatwin

#30877 feat(lsp)!: support multiple clients in goto methods
  runtime/doc/deprecated.txt
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp, breaking-change

#30840 refactor: rename vim.highlight => vim.hl
  MAINTAIN.md
  runtime/doc/deprecated.txt
  runtime/doc/lsp.txt
  runtime/doc/lua-guide.txt
  runtime/doc/lua.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_meta.lua
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/hl.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/shared.lua
  runtime/lua/vim/treesitter/highlighter.lua
  scripts/gen_vimdoc.lua
  test/functional/lua/hl_spec.lua
  test/functional/lua/vim_spec.lua
Labels: refactor, lsp, treesitter, diagnostic

#30865 test(rpc): retry flaky 'vim.rpcrequest and vim.rpcnotify' test
  test/functional/lua/vim_spec.lua
Labels: test

#30855 feat(vim.validate): improve fast form and deprecate spec form
  runtime/doc/deprecated.txt
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_watch.lua
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/fs.lua
  runtime/lua/vim/func/_memoize.lua
  runtime/lua/vim/hl.lua
  runtime/lua/vim/keymap.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/secure.lua
  runtime/lua/vim/shared.lua
  runtime/lua/vim/termcap.lua
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/language.lua
  runtime/lua/vim/ui.lua
  scripts/bump_deps.lua
  scripts/gen_help_html.lua
  test/functional/lua/vim_spec.lua
Labels: lsp, treesitter, diagnostic, filesystem

#30886 fix(meta): do not use hyphens in param names
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: ci:skip-news

#30893 vim-patch:9.1.0797: testing of options can be further improved
  runtime/doc/options.txt
  scripts/gen_eval_files.lua
  src/nvim/main.c
  test/old/testdir/Makefile
  test/old/testdir/gen_opt_test.vim
  test/old/testdir/test_options.vim
  test/old/testdir/test_options_all.vim
Labels: vim-patch

#30894 fix(options): fix :setglobal not working for 'spelloptions'
  src/nvim/option.c
  src/nvim/optionstr.c
  test/functional/ui/spell_spec.lua
  test/old/testdir/gen_opt_test.vim
Labels: options

#30895 vim-patch:9.1.0798: too many strlen() calls in cmdhist.c
  src/nvim/cmdhist.c
  src/nvim/cmdhist.h
  src/nvim/ex_cmds.c
  src/nvim/ex_getln.c
  src/nvim/shada.c
Labels: vim-patch

#30891 vim-patch:9.1.0795: filetype: Vivado memory info file are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#30896 fix(options): fix 'winhl' still accepting invalid value
  src/nvim/option.c
  test/functional/ui/highlight_spec.lua
  test/old/testdir/gen_opt_test.vim
Labels: highlight

#30806 build: remove enforcement of cmake build type
  cmake/Util.cmake
Labels: build

#30749 build(lpeg): lpeg.so is missed due to looking for lpeg.dylib on MacOS
  cmake/FindLpeg.cmake
Labels: platform:macos, build

#30903 docs(options): remove description for hidden options
  runtime/doc/filetype.txt
  runtime/doc/gui.txt
  runtime/doc/options.txt
  runtime/doc/syntax.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_meta/options.lua
  scripts/gen_eval_files.lua
Labels: options

#30335 test: port libvterm unit test to neovim test suite
  CMakeLists.txt
  cmake.config/config.h.in
  src/vterm/vterm.c
  src/vterm/vterm.h
  test/cmakeconfig/paths.lua.in
  test/unit/testutil.lua
  test/unit/vterm_spec.lua
Labels: test

#30902 fix(lsp): support multiple clients in typehierarchy
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/ui.lua
Labels: lsp

#30907 vim-patch:9.1.{0799,0805},19be0eb
  runtime/doc/syntax.txt
  test/old/testdir/gen_opt_test.vim
  test/old/testdir/test_getvar.vim
Labels: test, vim-patch

#30910 vim-patch:9.1.0809: filetype: petalinux config files not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#30884 fix(defaults): improve error handling for unimpaired mappings
  runtime/lua/vim/_defaults.lua
Labels: defaults

#30735 refactor: extend and wrap str_{byte,utf}index
  runtime/doc/lua.txt
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/_meta/builtin.lua
  src/nvim/lua/stdlib.c
  test/functional/lua/vim_spec.lua
Labels: refactor

#30918 vim-patch:9.1.{0802,0803,0804,0806,0812}: :setglobal fixes
  src/nvim/buffer.c
  src/nvim/charset.c
  src/nvim/indent.c
  src/nvim/option.c
  src/nvim/options.lua
  src/nvim/optionstr.c
  src/nvim/window.c
  test/old/testdir/gen_opt_test.vim
Labels: vim-patch

#30920 test(012_directory_spec): fix flakiness on Windows
  test/functional/legacy/012_directory_spec.lua
Labels: test, ci:backport release-0.10

#30919 fix(options): missing error check for global 'scl' and 'winhl'
  src/nvim/option.c
  src/nvim/optionstr.c
  src/nvim/winfloat.c
  test/old/testdir/gen_opt_test.vim
Labels: options

#30906 fix(lsp): handle mixed encoding in tagfunc params
  runtime/lua/vim/lsp/_tagfunc.lua
Labels: lsp

#30929 fix(lsp.buf): use correct offset_encoding for all requests
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/protocol.lua
  scripts/gen_vimdoc.lua
Labels: lsp

#30927 fix(lsp): set tagstack on jump via goto methods
  runtime/lua/vim/lsp/buf.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#30931 fix(lsp): better multi-client support for callHierarchy
  runtime/lua/vim/lsp/buf.lua
Labels: lsp

#30932 feat(lsp): deprecate execute_command with client:exec_cmd
  runtime/doc/deprecated.txt
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/lsp/completion.lua
Labels: lsp, ci:skip-news

#30933 feat(lsp): deprecate vim.lsp.buf.completion
  runtime/doc/deprecated.txt
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/handlers.lua
Labels: lsp

#30941 vim-patch:9.1.0814: mapset() may remove unrelated mapping
  src/nvim/mapping.c
  src/nvim/mapping.h
  test/old/testdir/test_map_functions.vim
Labels: vim-patch

#30943 fix(defaults): add missing unimpaired mappings
  runtime/lua/vim/_defaults.lua
Labels: defaults

#26691 refactor(options)!: use `OptVal` for option default values
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  src/nvim/generators/gen_options.lua
  src/nvim/option.c
  src/nvim/option.h
  src/nvim/options.lua
  test/old/testdir/test_options.vim
  test/old/testdir/test_undo.vim
Labels: refactor, breaking-change, options, ci:s390x

#30915 refactor: remove str_enc wrappers
  runtime/doc/news.txt
  runtime/lua/man.lua
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/completion.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/lsp/sync.lua
  runtime/lua/vim/lsp/util.lua
  src/nvim/lua/stdlib.c
  test/functional/plugin/lsp/diagnostic_spec.lua
Labels: refactor, lsp

#30951 docs(treesitter): specify predicate boolean return value
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/query.lua
Labels: treesitter

#30954 docs(lsp): document alternative for vim.lsp.util.jump_to_location
  runtime/doc/deprecated.txt
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#30917 refactor(options): always allocate option values
  src/nvim/generators/gen_options.lua
  src/nvim/globals.h
  src/nvim/option.c
  src/nvim/option_vars.h
  src/nvim/options.lua
  src/nvim/optionstr.c
  src/nvim/quickfix.c
Labels: refactor, options

#30962 fix(lsp): compare URI instead of workspace folder name
  runtime/lua/vim/lsp.lua
Labels: lsp

#30898 feat(diagnostics)!: sort underline severity_sort
  runtime/doc/diagnostic.txt
  runtime/doc/news.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: diagnostic, breaking-change
