Repository neovim/neovim, pull requests merged in 2024-02, with the labels that each got.

#27280 vim-patch:8.2.0117: crash when using gettabwinvar() with invalid arguments
  test/old/testdir/test_getvar.vim
Labels: test, vim-patch

#27281 vim-patch:8.2.0085: dead code in builtin functions
  src/nvim/eval/vars.c
Labels: vim-patch

#25550 feat(api): make nvim_open_win support normal (non-floating) windows
  runtime/doc/api.txt
  runtime/doc/news.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/api_keysets.lua
  src/nvim/api/keysets_defs.h
  src/nvim/api/win_config.c
  src/nvim/buffer_defs.h
  src/nvim/window.c
  src/nvim/window.h
  test/functional/api/window_spec.lua
  test/functional/ui/float_spec.lua
Labels: api

#27278 build(deps): bump luajit to HEAD - 9cc2e42b1
  cmake.deps/deps.txt
Labels: build, dependencies

#27283 refactor(api): remove some unnecessary HAS_KEY()
  src/nvim/api/vim.c
  src/nvim/api/win_config.c
Labels: api, refactor

#27232 build: various fixes
  .github/scripts/build_universal_macos.sh
  .github/workflows/build.yml
  .github/workflows/release.yml
  CMakeLists.txt
  runtime/CMakeLists.txt
  scripts/genappimage.sh
  src/nvim/CMakeLists.txt
  test/old/testdir/Makefile
Labels: build, ci

#27122 fix(column): clear "b_signcols" before moving saved marks
  src/nvim/decoration.c
  src/nvim/drawscreen.c
  src/nvim/extmark.c
  src/nvim/undo.c
  test/functional/ui/decorations_spec.lua
Labels: column

#27297 vim-patch:69866449ddb2,e3e3934bb182
  runtime/syntax/vim.vim
Labels: runtime, vim-patch

#27298 refactor(runtime): remove nvimMap and nvimUnmap syntax groups
  runtime/syntax/vim.vim
Labels: refactor, runtime

#27302 vim-patch:9204f39580bd
  runtime/syntax/fortran.vim
Labels: vim-patch

#27303 feat(quickfix): support -q - to read 'errorfile' from stdin
  runtime/doc/news.txt
  src/nvim/main.c
  src/nvim/os/fileio.c
  src/nvim/os/fs.c
  src/nvim/quickfix.c
  test/functional/ui/embed_spec.lua
Labels: io

#27300 fix(vim.system): don't process non-fast events during wait()
  runtime/lua/vim/_system.lua
  test/functional/lua/system_spec.lua
Labels: job-control, lua

#27306 test(old): correct path to .valgrind.supp
  test/old/testdir/Makefile
Labels: build, test

#27307 fix(drawline): missing NUL termination when drawing TAB
  src/nvim/drawline.c
Labels: display

#27314 vim-patch:9.0.1105: code is indented too much
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
Labels: vim-patch

#27315 vim-patch:partial:9.0.1196: code is indented more than necessary
  src/nvim/eval.c
  src/nvim/eval/typval.c
  src/nvim/mapping.c
  src/nvim/move.c
  src/nvim/os/lang.c
Labels: vim-patch

#27319 refactor(strcase_save): optimize memory allocation
  src/nvim/strings.c
Labels: refactor

#27216 refactor: create function for deferred loading
  runtime/autoload/provider/perl.vim
  runtime/autoload/provider/python3.vim
  runtime/autoload/provider/ruby.vim
  runtime/lua/provider/perl/health.lua
  runtime/lua/provider/python/health.lua
  runtime/lua/provider/ruby/health.lua
  runtime/lua/vim/_init_packages.lua
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/_completion.lua
  runtime/lua/vim/lsp/_dynamic.lua
  runtime/lua/vim/lsp/_watchfiles.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/health.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/provider.lua
  runtime/lua/vim/shared.lua
  runtime/lua/vim/snippet.lua
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/health.lua
  runtime/lua/vim/treesitter/language.lua
  runtime/lua/vim/treesitter/query.lua
Labels: refactor, lua, lsp, treesitter

#27317 feat: update unicode tables
  src/unicode/CaseFolding.txt
  src/unicode/EastAsianWidth.txt
  src/unicode/UnicodeData.txt
  src/unicode/emoji-data.txt
Labels: unicode 💩

#27326 vim-patch:9.1.{0073,0074}
  src/nvim/keycodes.c
  src/nvim/option.c
  src/nvim/optionstr.c
Labels: vim-patch

#27327 vim-patch:7c5aeaffa2be
  runtime/syntax/vim.vim
Labels: vim-patch

#27332 vim-patch:9.1.0075: insert completion not correct when adding new leader
  src/nvim/insexpand.c
  test/old/testdir/test_popup.vim
Labels: vim-patch

#27334 vim-patch:9.1.0076: luau config file not detected
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#27336 fix(treesitter): inspect-tree remember opts on buf change
  runtime/lua/vim/treesitter/dev.lua
Labels: treesitter

#27338 build(deps): bump luajit to HEAD - 0d313b243
  cmake.deps/deps.txt
Labels: build, dependencies

#27340 perf(redraw): only redraw Visual area when cursor has moved
  src/nvim/move.c
  src/nvim/normal.c
  src/nvim/optionstr.c
  test/functional/ui/decorations_spec.lua
Labels: performance, visual-mode

#27341 fix(inccommand): update topline after moving cursor
  src/nvim/ex_cmds.c
  test/functional/ui/inccommand_spec.lua
Labels: backport release-0.9

#27343 fix(redraw): update Visual selection properly with splits
  src/nvim/move.c
  src/nvim/optionstr.c
  test/functional/ui/highlight_spec.lua
Labels: visual-mode

#27328 fix(lsp): fix infinite loop on vim.lsp.tagfunc
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/_tagfunc.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#26879 fix(lsp): handle adjacent snippet tabstops
  runtime/lua/vim/snippet.lua
  test/functional/lua/snippet_spec.lua
Labels: test, lsp

#27295 feat(treesitter): use 0-based indexing to show ranges in `:InspectTree`
  runtime/doc/news.txt
  runtime/lua/vim/treesitter/dev.lua
  test/functional/treesitter/inspect_tree_spec.lua
Labels: treesitter

#27352 fix(tui): `space_buf` overflow when clearing screen
  src/nvim/tui/tui.c
  test/functional/terminal/tui_spec.lua
Labels: tui

#27355 test: add test for 'foldcolumn' with cmdwin
  test/functional/editor/fold_spec.lua
  test/functional/ui/fold_spec.lua
Labels: test

#27356 test(tui_spec): prevent race between nvim_input and nvim_paste
  test/functional/terminal/helpers.lua
  test/functional/terminal/tui_spec.lua
Labels: test

#27359 vim-patch:9.1.0077: Unnecessary call to redraw_for_cursorline() in nv_mousescroll()
  src/nvim/drawscreen.c
  src/nvim/mouse.c
  src/nvim/move.c
Labels: vim-patch

#27360 vim-patch:f7f33e3719c8
  runtime/doc/syntax.txt
  runtime/syntax/dosbatch.vim
Labels: vim-patch

#27213 docs: small fixes
  runtime/doc/news.txt
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/uri.lua
  src/nvim/drawscreen.c
  src/nvim/input.c
  src/nvim/mbyte.c
  src/nvim/mbyte.h
  src/nvim/mbyte_defs.h
  src/nvim/message.c
  src/nvim/os/input.c
  src/nvim/plines.h
  test/functional/ui/highlight_spec.lua
Labels: documentation

#27363 vim-patch:9.1.0079: LineNrAbove/Below highlighting wrong on wrapped lines
  src/nvim/drawline.c
  test/functional/ui/highlight_spec.lua
  test/old/testdir/test_number.vim
Labels: vim-patch

#27365 fix(column): handle w_redr_statuscol at end filler lines
  src/nvim/drawline.c
  src/nvim/drawscreen.c
  test/functional/ui/statuscolumn_spec.lua
Labels: column

#26944 feat(treesitter): show root nodes in :InspectTree
  runtime/doc/news.txt
  runtime/lua/vim/treesitter/dev.lua
  test/functional/treesitter/inspect_tree_spec.lua
Labels: treesitter

#27358 fix(event-loop): process input before events
  src/nvim/state.c
  test/functional/api/vim_spec.lua
Labels: event-loop

#27353 perf: improve utf_char2cells() performance
  src/nvim/mbyte.c
  test/benchmark/screenpos_spec.lua
Labels: performance, unicode 💩

#27376 refactor(lsp): move client code to a regular Lua class
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/_dynamic.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/shared.lua
Labels: refactor, lsp

#27377 fix(runtime): source c ftplugins in correct order
  runtime/ftplugin/cpp.vim
Labels: runtime

#27379 vim-patch:partial:9.1.0080,c9c2e2d2ff44
  runtime/doc/eval.txt
Labels: documentation, vim-patch

#27378 build(deps): bump libuv to v1.48.0
  cmake.deps/deps.txt
Labels: build, dependencies

#27284 refactor(api): use keydict and arena for more api return values
  scripts/gen_vimdoc.py
  src/nvim/api/extmark.c
  src/nvim/api/private/helpers.c
  src/nvim/api/private/helpers.h
  src/nvim/api/win_config.c
  src/nvim/decoration.c
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/lua/converter.c
  src/nvim/statusline.c
  test/functional/ui/float_spec.lua
Labels: api, refactor

#27321 feat(api): `nvim_get_chan_info` pass 0 for current channel
  runtime/doc/api.txt
  runtime/doc/news.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/vim.c
  test/functional/api/vim_spec.lua
Labels: api

#27387 vim-patch:b8170143c8f8
  runtime/doc/eval.txt
Labels: documentation, vim-patch

#27386 refactor(lsp): tidy up logging
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/lsp/log.lua
  runtime/lua/vim/lsp/rpc.lua
Labels: refactor, lsp

#27388 vim-patch:9.1.{0082,0083}: redrawing can be improved
  src/nvim/change.c
  src/nvim/drawscreen.c
  test/functional/legacy/number_spec.lua
  test/functional/ui/highlight_spec.lua
  test/old/testdir/test_highlight.vim
  test/old/testdir/test_number.vim
Labels: vim-patch

#27194 refactor(treesitter): add typing for Query, TSQuery, and TSQueryInfo
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/_meta.lua
  runtime/lua/vim/treesitter/highlighter.lua
  runtime/lua/vim/treesitter/query.lua
  src/nvim/lua/treesitter.c
Labels: documentation, refactor, treesitter

#27346 refactor(treesitter): {start,stop} are optional in Query:iter_* methods
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/query.lua
Labels: refactor, treesitter

#27350 docs(install): add more specific Linux install instructions
  INSTALL.md
Labels: documentation

#27390 feat(lsp): deprecate severity_limit
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/diagnostic.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
Labels: lsp

#27391 refactor(api): refactor more api functions to use arena return
  src/nvim/api/buffer.c
  src/nvim/api/extmark.c
  src/nvim/api/vim.c
  src/nvim/buffer.c
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/highlight_group.h
  src/nvim/statusline.c
  test/unit/statusline_spec.lua
Labels: api, refactor

#27291 fix(vim.lsp.util.rename): create directory for destination file
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#27394 build: stop installing parser.h from treesitter
  cmake.deps/cmake/TreesitterCMakeLists.txt
Labels: build, dependencies

#27397 refactor: rename `FloatConfig` to `WinConfig`
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/api_keysets.lua
  src/nvim/api/keysets_defs.h
  src/nvim/api/win_config.c
  src/nvim/buffer_defs.h
  src/nvim/popupmenu.c
  src/nvim/window.c
  src/nvim/winfloat.c
Labels: refactor

#27404 vim-patch:9.1.0084: Visual hl wrong when it ends before multibyte 'showbreak'
  test/functional/legacy/listlbr_utf8_spec.lua
  test/old/testdir/test_listlbr_utf8.vim
Labels: test, vim-patch

#27405 vim-patch:9.1.0088: TextChanged not triggered for :norm! commands
  src/nvim/edit.c
  test/functional/autocmd/textchanged_spec.lua
  test/old/testdir/test_autocmd.vim
Labels: vim-patch

#26790 fix(startuptime): multiprocess startuptime
  runtime/doc/news.txt
  src/nvim/globals.h
  src/nvim/main.c
  src/nvim/normal.c
  src/nvim/profile.c
  test/functional/core/startup_spec.lua
Labels: startup

#27407 build(clint): don't allow INIT() in non-header files
  src/clint.py
  src/nvim/sign.c
Labels: build

#27409 test: add test for scroll wheel at right-click menu
  test/functional/terminal/tui_spec.lua
  test/functional/ui/popupmenu_spec.lua
Labels: test

#27411 vim-patch:9.1.0087: Restoring lastused_tabpage too early in do_arg_all()
  src/nvim/arglist.c
  test/old/testdir/test_tabpage.vim
Labels: vim-patch

#27412 test(ui/mouse_spec): make sure click is processed
  test/functional/ui/mouse_spec.lua
Labels: test

#27398 refactor(api): use arena for more stuff
  src/nvim/api/command.c
  src/nvim/api/deprecated.c
  src/nvim/api/options.c
  src/nvim/api/private/helpers.c
  src/nvim/api/private/helpers.h
  src/nvim/api/ui.c
  src/nvim/api/vim.c
  src/nvim/api/win_config.c
  src/nvim/autocmd.c
  src/nvim/decoration.c
  src/nvim/eval/funcs.c
  src/nvim/highlight.c
  src/nvim/highlight_group.c
  src/nvim/message.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/option.c
  src/nvim/os/fs.c
  src/nvim/popupmenu.c
  src/nvim/sign.c
  src/nvim/ui.c
  src/nvim/usercmd.c
  src/nvim/window.c
Labels: api, refactor

#27406 refactor: reduce some globals
  src/nvim/globals.h
  src/nvim/profile.c
Labels: refactor

#27417 build(deps): bump tree-sitter-bash to v0.20.5
  cmake.deps/deps.txt
  runtime/queries/bash/highlights.scm
Labels: build, dependencies, treesitter

#27418 vim-patch:9.1.{0089,0093}: qsort() comparison function fixes
  src/nvim/channel.c
  src/nvim/decoration.c
  src/nvim/ex_cmds.c
  src/nvim/mbyte.c
  src/nvim/normal.c
  src/nvim/search.c
  src/nvim/shada.c
  src/nvim/sign.c
  src/nvim/spellsuggest.c
  src/nvim/window.c
  src/nvim/winfloat.c
Labels: vim-patch

#27253 feat(lsp): add opts to vim.lsp.codelens.refresh
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/codelens.lua
Labels: lsp

#27419 refactor: rename `win_T.w_float_config` to `w_config`
  src/nvim/api/win_config.c
  src/nvim/autocmd.c
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/drawscreen.c
  src/nvim/ex_cmds2.c
  src/nvim/grid.c
  src/nvim/highlight.c
  src/nvim/mouse.c
  src/nvim/option.c
  src/nvim/popupmenu.c
  src/nvim/ui.c
  src/nvim/window.c
  src/nvim/winfloat.c
Labels: refactor

#27421 fix(messages): clear new lines when increasing 'cmdheight'
  src/nvim/message.c
  test/functional/legacy/messages_spec.lua
  test/functional/ui/messages_spec.lua
Labels: ui, messages

#27414 refactor(api): use an arena for nvim_buf_get_lines and buffer updates
  src/nvim/api/buffer.c
  src/nvim/api/deprecated.c
  src/nvim/api/vim.c
  src/nvim/buffer_updates.c
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/highlight_group.c
Labels: api, refactor

#27420 refactor(lsp): fix type annotations and add shared diagnostic helper
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/_changetracking.lua
  runtime/lua/vim/lsp/_dynamic.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/health.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/sync.lua
Labels: refactor, lsp

#27399 refactor(lsp): move more code to client.lua
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/rpc.lua
  test/functional/plugin/lsp_spec.lua
Labels: refactor, lsp

#27426 vim-patch:6d91227267a5
  runtime/syntax/gpg.vim
Labels: runtime, vim-patch

#27252 refactor(indent): refactor functions for computing indent size of a string
  src/nvim/change.c
  src/nvim/indent.c
  test/unit/indent_spec.lua
Labels: refactor

#27432 vim-patch:9.1.0097: 'breakindent' behaves inconsistently with 'list' and splits
  src/nvim/indent.c
  test/old/testdir/test_breakindent.vim
Labels: vim-patch

#27431 fix(column): use a single path for sign sorting
  src/nvim/decoration.c
  src/nvim/sign.c
  src/nvim/sign_defs.h
  test/functional/ui/decorations_spec.lua
Labels: column

#27433 vim-patch:b614b284ee06
  runtime/syntax/vim.vim
Labels: vim-patch

#27435 perf(extmarks): avoid unnecessary invalidations for virt_text
  src/nvim/change.c
  src/nvim/decoration.c
  src/nvim/extmark.c
  src/nvim/help.c
  src/nvim/move.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#27436 vim-patch:9.1.0098: CompletionChanged not triggered when new leader added without matches
  src/nvim/insexpand.c
  test/old/testdir/test_popup.vim
Labels: vim-patch

#27429 docs: correct on_key docs
  runtime/doc/lua.txt
  runtime/lua/vim/_editor.lua
Labels: documentation, lua

#27438 fix(lsp): re-add client.commands and mark private
  runtime/lua/vim/lsp/client.lua
Labels: lsp

#27437 fix(extmarks): redraw pre-undo position
  src/nvim/extmark.c
  src/nvim/undo.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#27348 fix: crashes with large msgpack messages
  src/mpack/lmpack.c
  src/nvim/api/ui.c
  src/nvim/ui_defs.h
  test/functional/ui/hlstate_spec.lua
Labels: api, rpc

#27441 refactor(tests): use nvim_get_chan_info to get channel id
  test/functional/api/buffer_updates_spec.lua
  test/functional/api/server_notifications_spec.lua
  test/functional/api/server_requests_spec.lua
  test/functional/autocmd/cmdline_spec.lua
  test/functional/core/exit_spec.lua
  test/functional/core/job_spec.lua
  test/functional/ex_cmds/dict_notifications_spec.lua
  test/functional/lua/vim_spec.lua
  test/functional/provider/define_spec.lua
  test/functional/vimscript/wait_spec.lua
Labels: refactor, test

#27448 vim-patch:9.0.0245: mechanism to prevent recursive screen updating is incomplete
  src/nvim/change.c
  src/nvim/drawscreen.c
  src/nvim/drawscreen.h
  src/nvim/ex_getln.c
  src/nvim/message.c
  src/nvim/statusline.c
  src/nvim/winfloat.c
Labels: vim-patch

#27442 perf(redraw): reduce redraw with undo and extmarks or 'spell'
  src/nvim/change.c
  src/nvim/drawscreen.c
Labels: performance, display

#27450 vim-patch:9.1.0102: settabvar() may change the last accessed tabpage
  src/nvim/eval/vars.c
  test/old/testdir/test_tabpage.vim
Labels: vim-patch

#27451 vim-patch:9.1.0103: 'breakindentopt' "min" not correct with 'signcolumn'
  src/nvim/indent.c
  test/functional/ui/diff_spec.lua
  test/old/testdir/test_breakindent.vim
  test/old/testdir/test_diffmode.vim
Labels: vim-patch

#27449 vim-patch:9.1.0101: upper-case of German sharp s should be U+1E9E
  src/nvim/mbyte.c
  src/nvim/ops.c
  test/functional/legacy/039_visual_block_mode_commands_spec.lua
  test/old/testdir/test_normal.vim
  test/old/testdir/test_utf8_comparisons.vim
  test/old/testdir/test_visual.vim
Labels: vim-patch

#27452 fix(loader): remove cyclic dependency on vim.fs (when --luamod-dev)
  runtime/lua/vim/loader.lua
  test/functional/lua/loader_spec.lua
Labels: lua

#27428 refactor(lua): use Arena when converting from lua stack to API args
  runtime/doc/api.txt
  runtime/doc/news.txt
  runtime/lua/vim/_meta/api_keysets.lua
  src/nvim/api/autocmd.c
  src/nvim/api/buffer.c
  src/nvim/api/command.c
  src/nvim/api/deprecated.c
  src/nvim/api/keysets_defs.h
  src/nvim/api/private/helpers.c
  src/nvim/api/private/helpers.h
  src/nvim/api/vim.c
  src/nvim/api/win_config.c
  src/nvim/api/window.c
  src/nvim/autocmd.c
  src/nvim/buffer_updates.c
  src/nvim/cmdexpand.c
  src/nvim/decoration_provider.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/ex_docmd.c
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/getchar.c
  src/nvim/highlight.c
  src/nvim/lua/converter.c
  src/nvim/lua/executor.c
  src/nvim/lua/executor.h
  src/nvim/lua/xdiff.c
  src/nvim/main.c
  src/nvim/mapping.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/runtime.c
  src/nvim/ui.c
  src/nvim/ui_client.c
  src/nvim/version.c
  test/functional/lua/vim_spec.lua
  test/functional/lua/xdiff_spec.lua
Labels: refactor, lua

#27443 refactor(lsp): resolve the config-client entanglement
  runtime/doc/lsp.txt
  runtime/lua/vim/_meta.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/_changetracking.lua
  runtime/lua/vim/lsp/_dynamic.lua
  runtime/lua/vim/lsp/_watchfiles.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/health.lua
  test/functional/plugin/lsp_spec.lua
Labels: refactor, lsp

#27462 vim-patch:9.1.0105: Style: typos found
  src/nvim/regexp.c
  test/old/testdir/test_mapping.vim
  test/old/testdir/test_utf8_comparisons.vim
  test/old/testdir/test_visual.vim
Labels: vim-patch

#27463 fix(extmarks): redraw line on adding/removing conceal
  src/nvim/decoration.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#27408 fix(lsp): rename: load and list new buffer if attached to window
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#27474 vim-patch:9.1.{0068,0106}: Visual highlighting can be improved
  runtime/colors/vim.lua
  test/functional/ex_cmds/cmd_map_spec.lua
  test/functional/legacy/breakindent_spec.lua
  test/functional/legacy/display_spec.lua
  test/functional/legacy/highlight_spec.lua
  test/functional/legacy/listlbr_spec.lua
  test/functional/legacy/listlbr_utf8_spec.lua
  test/functional/legacy/matchparen_spec.lua
  test/functional/legacy/search_spec.lua
  test/functional/legacy/statusline_spec.lua
  test/functional/legacy/tabline_spec.lua
  test/functional/legacy/visual_spec.lua
  test/functional/ui/bufhl_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/decorations_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/ui/fold_spec.lua
  test/functional/ui/highlight_spec.lua
  test/functional/ui/mouse_spec.lua
  test/functional/ui/multigrid_spec.lua
  test/functional/ui/syntax_conceal_spec.lua
  test/functional/ui/winbar_spec.lua
Labels: vim-patch

#27473 vim-patch:1da0e8581671
  runtime/doc/filetype.txt
  runtime/ftplugin/asciidoc.vim
Labels: vim-patch

#27472 vim-patch: update filetype detection
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#27460 refactor(eval): use arena when converting typvals to Object
  src/nvim/api/buffer.c
  src/nvim/api/command.c
  src/nvim/api/deprecated.c
  src/nvim/api/private/converter.c
  src/nvim/api/private/helpers.c
  src/nvim/api/private/helpers.h
  src/nvim/api/tabpage.c
  src/nvim/api/ui.c
  src/nvim/api/vim.c
  src/nvim/api/vimscript.c
  src/nvim/api/window.c
  src/nvim/context.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/lua/converter.c
  src/nvim/lua/executor.c
  src/nvim/main.c
  src/nvim/mapping.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/msgpack_rpc/helpers.c
  src/nvim/terminal.c
  test/unit/api/private_helpers_spec.lua
Labels: refactor

#27479 build(deps): bump tree-sitter-c to v0.20.8
  cmake.deps/deps.txt
Labels: build, dependencies

#27485 vim-patch:9.1.{0112,0113}
  src/nvim/buffer.c
  src/nvim/fileio.c
  src/nvim/quickfix.c
  src/nvim/undo.c
  test/functional/legacy/autocmd_spec.lua
  test/old/testdir/test_autocmd.vim
Labels: vim-patch

#27484 docs: document breaking change for nvim_create_autocmd callback
  runtime/doc/api.txt
  runtime/doc/news.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/autocmd.c
  src/nvim/api/buffer.c
Labels: documentation

#27487 fix(genvimvim): generate prefixed boolean options properly
  src/nvim/generators/gen_vimvim.lua
  test/functional/plugin/vim_syntax_spec.lua
Labels: runtime

#27483 vim-patch: update runtime file
  runtime/macros/less.vim
Labels: vim-patch

#27464 vim-patch: update Vim syntax
  runtime/syntax/vim.vim
Labels: vim-patch

#27493 build(vim-patch.sh): don't add vim/vim to issue of another repo
  scripts/vim-patch.sh
Labels: build

#24738 fix(treesitter): correctly handle query quantifiers
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/_meta.lua
  runtime/lua/vim/treesitter/_query_linter.lua
  runtime/lua/vim/treesitter/languagetree.lua
  runtime/lua/vim/treesitter/query.lua
  src/nvim/lua/treesitter.c
  test/functional/treesitter/highlight_spec.lua
  test/functional/treesitter/parser_spec.lua
Labels: treesitter

#27495 build: set deps default build type to Release
  CMakeLists.txt
  Makefile
  cmake.deps/CMakeLists.txt
  cmake/Util.cmake
Labels: build, dependencies

#27496 fix: fix iter_matches call in query linter
  runtime/lua/vim/treesitter/_query_linter.lua
Labels: treesitter

#27501 fix(api): don't use stl 'fillchar' for "use_statuscol_lnum"
  src/nvim/api/vim.c
  test/functional/api/vim_spec.lua
Labels: api

#27503 ci(test.yml): explicitly set build type
  .github/workflows/test.yml
Labels: ci

#27276 ci: also test on macOS M1
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: platform:macos, ci

#27505 build(macos): release workflow on M1
  .github/scripts/build_universal_macos.sh
  .github/workflows/release.yml
Labels: platform:macos, build, ci

#27514 vim-patch:9.1.0114: Setting some options may change curswant
  src/nvim/generators/gen_options.lua
  src/nvim/option.c
  src/nvim/option_vars.h
  src/nvim/options.lua
  test/old/testdir/test_goto.vim
Labels: vim-patch

#27515 fix(options): don't update curswant for 'winhl' or 'winbl'
  src/nvim/options.lua
  test/functional/editor/mode_normal_spec.lua
Labels: options

#27517 fix(eval): skip over v:lua properly
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  test/functional/lua/luaeval_spec.lua
Labels: vimscript, lua

#27513 ci: issue labeler splits on word boundaries
  .github/workflows/labeler_issue.yml
Labels: ci

#27511 refactor(api): use arena for mappings, autocmd, channel info
  src/nvim/api/autocmd.c
  src/nvim/api/buffer.c
  src/nvim/api/extmark.c
  src/nvim/api/private/helpers.c
  src/nvim/api/private/helpers.h
  src/nvim/api/ui.c
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/autocmd.c
  src/nvim/channel.c
  src/nvim/eval/funcs.c
  src/nvim/eval/typval.c
  src/nvim/lua/executor.c
  src/nvim/main.c
  src/nvim/mapping.c
  src/nvim/message.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/os/process.c
  src/nvim/strings.c
  src/nvim/strings.h
  src/nvim/tui/tui.c
  src/nvim/usercmd.c
Labels: api, refactor

#27520 refactor(api): use arena for metadata; msgpack_rpc_to_object delenda est
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/msgpack_rpc/helpers.c
  src/nvim/msgpack_rpc/unpacker.c
  src/nvim/shada.c
  src/nvim/version.c
Labels: api, refactor

#27525 vim-patch:9.1.0115: Using freed memory with full tag stack and user data
  src/nvim/tag.c
  test/old/testdir/test_tagjump.vim
Labels: vim-patch

#27522 feat(tabline): middle mouse button now closes tab
  runtime/doc/news.txt
  src/nvim/mouse.c
  test/functional/ui/tabline_spec.lua
Labels: mouse

#27526 refactor(lsp): typings for protocol constants
  runtime/lua/vim/lsp/protocol.lua
Labels: refactor, lsp

#27539 build: disable conversion warnings for GCC
  src/nvim/CMakeLists.txt
Labels: build

#27534 refactor(api): next PR to make use of the arena
  src/nvim/api/command.c
  src/nvim/api/private/helpers.c
  src/nvim/api/tabpage.c
  src/nvim/api/vim.c
  src/nvim/ops.c
  src/nvim/runtime.c
  src/nvim/usercmd.c
Labels: api, refactor

#27536 refactor(api): reduce temporary allocations when replacing lines
  src/nvim/api/buffer.c
  src/nvim/api/deprecated.c
  src/nvim/api/vim.c
  src/nvim/ex_cmds.c
  src/nvim/fold.c
  src/nvim/memline.c
  src/nvim/memory.c
  src/nvim/runtime.c
Labels: api, refactor, folds

#27547 refactor(quickfix): improve hiding filename of help outline using conceal
  runtime/ftplugin/help.vim
  runtime/ftplugin/qf.vim
  runtime/syntax/qf.vim
Labels: refactor, runtime

#27541 refactor(api): use an arena for nvim_parse_expression
  src/nvim/api/vimscript.c
Labels: api, refactor

#26947 fix(vim.ui.open): use explorer.exe instead of wslview
  runtime/lua/vim/ui.lua
  test/functional/lua/ui_spec.lua
Labels: refactor

#27553 vim-patch:ef387c062bb1
  runtime/lua/vim/filetype/detect.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#27554 vim-patch:f9ca139e3aa1
  runtime/autoload/netrw.vim
  runtime/autoload/netrwFileHandlers.vim
  runtime/autoload/netrwSettings.vim
  runtime/autoload/tar.vim
  runtime/autoload/zip.vim
  runtime/ftplugin/r.vim
  runtime/ftplugin/rhelp.vim
  runtime/ftplugin/rmd.vim
  runtime/ftplugin/rnoweb.vim
  runtime/ftplugin/rrst.vim
  runtime/indent/r.vim
  runtime/indent/rhelp.vim
  runtime/indent/rmd.vim
  runtime/indent/rnoweb.vim
  runtime/indent/rrst.vim
  runtime/plugin/netrwPlugin.vim
  runtime/plugin/zipPlugin.vim
  runtime/syntax/amiga.vim
  runtime/syntax/csh.vim
  runtime/syntax/dcl.vim
  runtime/syntax/elmfilt.vim
  runtime/syntax/exports.vim
  runtime/syntax/gpg.vim
  runtime/syntax/lex.vim
  runtime/syntax/lisp.vim
  runtime/syntax/maple.vim
  runtime/syntax/netrw.vim
  runtime/syntax/quarto.vim
  runtime/syntax/r.vim
  runtime/syntax/rhelp.vim
  runtime/syntax/rmd.vim
  runtime/syntax/rpcgen.vim
  runtime/syntax/sh.vim
  runtime/syntax/sm.vim
  runtime/syntax/tags.vim
  runtime/syntax/tex.vim
  runtime/syntax/xmath.vim
  runtime/syntax/xxd.vim
  runtime/syntax/yacc.vim
Labels: vim-patch

#27552 refactor(api): make freeing of return-value opt-in instead of opt out.
  src/nvim/api/buffer.c
  src/nvim/api/deprecated.c
  src/nvim/api/extmark.c
  src/nvim/api/options.c
  src/nvim/api/private/dispatch.h
  src/nvim/api/private/helpers.h
  src/nvim/api/vim.c
  src/nvim/api/vimscript.c
  src/nvim/eval/funcs.c
  src/nvim/func_attr.h
  src/nvim/generators/c_grammar.lua
  src/nvim/generators/gen_api_dispatch.lua
  src/nvim/msgpack_rpc/channel.c
  src/uncrustify.cfg
Labels: api, refactor

#27560 fix(lsp): add parentheses to generated union array types
  runtime/lua/vim/lsp/_meta/protocol.lua
  scripts/gen_lsp.lua
Labels: lsp

#27558 docs: remove mention of foreground/background/special keys in nvim_set_hl
  runtime/doc/api.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/vim.c
Labels: documentation

#27361 feat(extmark): window scoped namespace
  runtime/doc/api.txt
  runtime/doc/news.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/api_keysets.lua
  src/nvim/api/deprecated.c
  src/nvim/api/extmark.c
  src/nvim/api/keysets_defs.h
  src/nvim/buffer_defs.h
  src/nvim/decoration.c
  src/nvim/extmark.c
  src/nvim/marktree.c
  src/nvim/marktree.h
  src/nvim/sign.c
  src/nvim/window.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#27569 fix(extmarks): redraw properly with scoped inline virt_text
  src/nvim/api/extmark.c
  src/nvim/plines.c
  test/functional/ui/decorations_spec.lua
Labels: extmarks

#27570 fix(api): don't leak memory with nvim_win_get_ns
  src/nvim/api/extmark.c
  test/functional/ui/decorations_spec.lua
Labels: api

#27573 refactor(terminal): rename confusing variable name "rv"
  src/nvim/terminal.c
Labels: refactor, terminal

#27349 feat(lua): highlight.on_yank use win-local highlight
  runtime/lua/vim/highlight.lua
  test/functional/lua/highlight_spec.lua
Labels: lua

#27574 vim-patch:e8f6af609178
  runtime/syntax/tmux.vim
Labels: vim-patch

#27575 build(deps): bump luv to v1.48.0-0
  cmake.deps/deps.txt
  runtime/doc/luvref.txt
Labels: build, dependencies

#27571 fix(defaults): remove tmux background detection passthrough
  runtime/lua/vim/_defaults.lua
Labels: defaults

#27579 vim-patch:20d61e1b94e5
  runtime/syntax/java.vim
Labels: runtime, vim-patch

#27581 fix(defaults): make terminal autoclose not block other events
  runtime/lua/vim/_defaults.lua
  test/functional/options/defaults_spec.lua
Labels: defaults

#27518 feat(treesitter): add folding for `InspectTree`
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/dev.lua
Labels: treesitter

#27578 vim-patch:9.1.{0120,0126,0127): add getregion() function
  runtime/doc/builtin.txt
  runtime/doc/usr_41.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  src/nvim/ops.c
  src/nvim/ops.h
  test/old/testdir/test_visual.vim
Labels: vim-patch

#27582 vim-patch:1624970d321c
  runtime/syntax/vim.vim
Labels: vim-patch
