Repository neovim/neovim, pull requests merged in 2024-12, with the labels that each got.

#31416 vim-patch:9.1.0899: default for 'backspace' can be set in C code
  runtime/doc/vim_diff.txt
  test/old/testdir/setup.vim
  test/old/testdir/test_autocmd.vim
  test/old/testdir/test_digraph.vim
  test/old/testdir/test_ins_complete.vim
  test/old/testdir/test_options.vim
Labels: vim-patch

#31390 fix(api): make `nvim_set_hl()` respect all `cterm` attributes
  src/nvim/highlight.c
  test/functional/api/highlight_spec.lua
Labels: api, ci:backport release-0.10

#31419 fix(ui): clamp 'cmdheight' for other tabpages on screen resize
  src/nvim/drawscreen.c
  src/nvim/option.c
  src/nvim/window.c
  test/functional/ui/screen_basic_spec.lua
Labels: ui

#31414 vim-patch:9a39483: runtime(typst): provide a formatlistpat in ftplugin
  runtime/ftplugin/typst.vim
Labels: vim-patch

#31413 vim-patch:768728b: runtime(doc): Update documentation for "noselect" in 'completeopt'
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: documentation, vim-patch

#30456 fix(api): deprecate nvim_subscribe, nvim_unsubscribe
  src/nvim/api/deprecated.c
  src/nvim/generators/c_grammar.lua
  src/nvim/generators/gen_api_dispatch.lua
  test/functional/api/version_spec.lua
Labels: api

#31387 fix(extmark): restore extmarks when completion leader changes
  src/nvim/insexpand.c
  test/functional/editor/completion_spec.lua
Labels: marks, completion, ci:backport release-0.10

#31411 docs: provide example for configuring LSP foldexpr
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
Labels: lsp

#31431 vim-patch:9.1.0900: Vim9: digraph_getlist() does not accept bool arg
  src/nvim/digraph.c
  test/old/testdir/test_digraph.vim
Labels: vim-patch

#31408 test(vterm): move test functions into vterm_test fixture
  src/vterm/vterm.c
  src/vterm/vterm.h
  test/unit/fixtures/vterm_test.c
  test/unit/fixtures/vterm_test.h
  test/unit/vterm_spec.lua
Labels: build, test

#31428 docs: misc
  runtime/doc/api.txt
  runtime/doc/builtin.txt
  runtime/doc/dev_arch.txt
  runtime/doc/develop.txt
  runtime/doc/gui.txt
  runtime/doc/intro.txt
  runtime/doc/lua.txt
  runtime/doc/map.txt
  runtime/doc/nvim.txt
  runtime/doc/ui.txt
  runtime/doc/various.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/api/vim.c
  src/nvim/eval.lua
Labels: lsp

#31445 vim-patch:9.1.0902: filetype: Conda configuration files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#31341 feat(lsp): deprecate vim.lsp.start_client
  runtime/doc/deprecated.txt
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/rpc.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
  test/functional/plugin/lsp/semantic_tokens_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp, ci:skip-news

#31439 fix(column): check if signcolumn changed in all windows
  src/nvim/drawscreen.c
  test/functional/ui/sign_spec.lua
Labels: column

#31443 defaults: disable 'number', 'relativenumber', and 'signcolumn' in terminal buffers
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_defaults.lua
  test/functional/terminal/cursor_spec.lua
Labels: defaults

#31442 fix(vim.system): close pipe handles after process handle
  runtime/lua/vim/_system.lua
  test/functional/lua/system_spec.lua
Labels: ci:backport release-0.10

#31358 Fix test failures for release / tarball builds
  .github/workflows/test.yml
  src/nvim/marktree.c
  test/functional/api/version_spec.lua
  test/functional/core/main_spec.lua
  test/functional/lua/fs_spec.lua
Labels: ci, ci:backport release-0.10

#31441 test(screen): adjust screen state to more closely follow stylua
  test/functional/treesitter/highlight_spec.lua
  test/functional/ui/screen.lua
Labels: test

#30868 `vim.diagnostic.setqflist` improvements
  runtime/doc/news.txt
  runtime/lua/vim/diagnostic.lua
Labels: needs:response, diagnostic

#31449 docs: mention new terminal defaults
  runtime/doc/news.txt
  runtime/doc/terminal.txt
Labels: documentation

#31440 refactor(runtime.c): misc
  src/nvim/runtime.c
Labels: refactor, runtime

#31452 Backport release build test fixes
  .github/workflows/test.yml
  src/nvim/marktree.c
  test/functional/api/version_spec.lua
  test/functional/core/main_spec.lua
  test/functional/lua/fs_spec.lua
Labels: ci, target:release

#31458 test(system_spec): check for .git dir before using git
  test/functional/lua/system_spec.lua
Labels: test

#31455 vim-patch:9.1.0905: Missing information in CompleteDone event
  runtime/doc/autocmd.txt
  runtime/doc/vvars.txt
  runtime/lua/vim/_meta/vvars.lua
  src/nvim/insexpand.c
  src/nvim/vvars.lua
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#31456 vim-patch:9.1.0903: potential overflow in spell_soundfold_wsal()
  src/nvim/spell.c
Labels: vim-patch, spell

#31460 fix(defaults): don't replace keycodes in Visual search mappings
  runtime/lua/vim/_defaults.lua
  test/functional/editor/defaults_spec.lua
Labels: defaults

#31461 fix(defaults): don't replace keycodes in Visual search mappings (#31460)
  runtime/lua/vim/_defaults.lua
  test/functional/editor/defaults_spec.lua
Labels: defaults, target:release

#31466 fix(diagnostic): only update stored quickfix id when we create a new quickfix
  runtime/lua/vim/diagnostic.lua
Labels: diagnostic

#31459 vim-patch:ea0e41a: runtime(doc): make tag alignment more consistent in filetype.txt
  runtime/doc/filetype.txt
Labels: documentation, vim-patch

#31474 vim-patch:9.1.0906: filetype: Nvidia PTX files are not recognized
  runtime/ftplugin/ptx.vim
  runtime/lua/vim/filetype.lua
  runtime/syntax/ptx.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#31448 fix(completion): avoid deleting text when completion leader changes
  src/nvim/edit.c
  src/nvim/insexpand.c
  test/functional/editor/completion_spec.lua
Labels: completion, ci:backport release-0.10

#30973 docs: fix some line wrappings
  runtime/doc/cmdline.txt
Labels: documentation

#30085 feat(treesitter): #trim! can trim all whitespace
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/query.lua
  test/functional/treesitter/parser_spec.lua
  test/functional/treesitter/testutil.lua
Labels: treesitter

#31463 fix(lsp): add foldingrange method support check
  runtime/lua/vim/lsp/_folding_range.lua
Labels: lsp

#31492 vim-patch:9.1.0908: not possible to configure :messages
  runtime/doc/message.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  runtime/optwin.vim
  src/nvim/ex_docmd.c
  src/nvim/generators/gen_options.lua
  src/nvim/message.c
  src/nvim/normal.c
  src/nvim/option.c
  src/nvim/option_vars.h
  src/nvim/options.lua
  src/nvim/optionstr.c
  test/functional/legacy/messages_spec.lua
  test/old/testdir/gen_opt_test.vim
  test/old/testdir/test_cmdline.vim
  test/old/testdir/test_messages.vim
  test/old/testdir/test_options.vim
Labels: vim-patch

#31485 fix(inspect): show priority for treesitter highlights
  runtime/lua/vim/_inspector.lua
Labels: ci:backport release-0.10

#31340 fix(lsp): check for configuration workspace folders when reusing clients
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/client.lua
Labels: lsp

#31483 fix(lsp): cancel pending requests before refreshing
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#31484 fix: remove vim.lsp._with_extend
  runtime/lua/vim/lsp.lua
  test/functional/plugin/lsp/handler_spec.lua
Labels: lsp

#31488 fix(treesitter): proper #trim! range for nodes ending at col 0
  runtime/lua/vim/treesitter/query.lua
  test/functional/treesitter/parser_spec.lua
Labels: treesitter

#31475 fix(marks): check gravity at range bounds when deleting text
  src/nvim/extmark.c
  test/functional/api/extmark_spec.lua
Labels: marks

#31493 feat(ex_cmds): :sleep! hides the cursor while sleeping
  runtime/doc/index.txt
  runtime/doc/various.txt
  runtime/doc/vim_diff.txt
  src/nvim/ex_docmd.c
  test/functional/ui/cursor_spec.lua
Labels: ci:skip-news

#31497 fix(inspect): always show priority
  runtime/lua/vim/_inspector.lua
Labels: ci:backport release-0.10

#31499 refactor: add vim._resolve_bufnr
  runtime/lua/vim/_inspector.lua
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/codelens.lua
  runtime/lua/vim/lsp/completion.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/shared.lua
  runtime/lua/vim/treesitter.lua
Labels: refactor, lsp, treesitter, diagnostic

#31504 vim-patch:9.1.{0910,0911}: 'messagesopt' followup
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  runtime/optwin.vim
  src/nvim/message.c
  src/nvim/option_vars.h
  src/nvim/options.lua
  test/old/testdir/gen_opt_test.vim
  test/old/testdir/test_messages.vim
Labels: vim-patch

#31505 fix(lua): avoid vim._with() double-free with cmdmod
  src/nvim/lua/stdlib.c
  test/functional/lua/with_spec.lua
Labels: lua

#31511 vim-patch:9.1.0913: no error check for neg values for 'messagesopt'
  src/nvim/message.c
  test/old/testdir/gen_opt_test.vim
Labels: vim-patch

#31498 refactor(lsp): better tracking of requests
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/client.lua
Labels: refactor, lsp

#31516 vim-patch:9.1.0915: GVim: default font size a bit too small
  test/old/testdir/runtest.vim
  test/old/testdir/test_highlight.vim
Labels: test, vim-patch

#31523 vim-patch: netrw fixes
  runtime/autoload/netrw.vim
Labels: vim-patch, netrw

#31524 docs: fix type of vim.validate value
  runtime/doc/lua.txt
  runtime/lua/vim/shared.lua
Labels: typo

#31412 build: mark CMake variables advanced
  CMakeLists.txt
  cmake/Deps.cmake
  src/nvim/CMakeLists.txt
Labels: build

#31532 fix(events): don't expand `args.file` for Lua callback (#31473)
  runtime/doc/api.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/autocmd.c
  src/nvim/autocmd.c
  src/nvim/autocmd_defs.h
  test/functional/api/autocmd_spec.lua
Labels: events, target:release

#31534 vim-patch: line shifting fixes
  src/nvim/indent_c.c
  src/nvim/math.c
  src/nvim/ops.c
  test/old/testdir/test_indent.vim
  test/old/testdir/test_shift.vim
Labels: vim-patch

#31508 fix(ui): update title in more cases
  src/nvim/drawscreen.c
  src/nvim/ex_getln.c
  src/nvim/normal.c
  src/nvim/terminal.c
  test/functional/ui/title_spec.lua
Labels: ui

#30869 perf(decor): improve performance for long lines
  runtime/doc/news.txt
  src/nvim/decoration.c
  src/nvim/decoration.h
  src/nvim/decoration_provider.c
  src/nvim/drawline.c
  test/benchmark/decor_spec.lua
Labels: performance, marks

#31519 fix(messages): no message kind for bufwrite
  runtime/doc/ui.txt
  src/nvim/bufwrite.c
  test/functional/ui/messages_spec.lua
Labels: messages

#31031 feat(lsp): add `vim.lsp.config` and `vim.lsp.enable`
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/health.lua
  runtime/lua/vim/shared.lua
  scripts/gen_vimdoc.lua
  src/nvim/options.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#30559 feat(treesitter): include capture id in return value of `get_captures_at_pos()`
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter.lua
  test/functional/treesitter/highlight_spec.lua
Labels: treesitter

#29745 fix(float): close preview float window when no selected
  src/nvim/popupmenu.c
  test/functional/ui/popupmenu_spec.lua
Labels: completion, floatwin, ci:backport release-0.10

#31284 fix(uri): add escape char for RFC2732 in `uri_encode()` (#31270)
  runtime/lua/vim/uri.lua
  test/functional/lua/uri_spec.lua
Labels: ci:backport release-0.10

#31486 feat(diagnostic): store a unique quickfix list per title
  runtime/doc/diagnostic.txt
  runtime/doc/news.txt
  runtime/lua/vim/diagnostic.lua
Labels: diagnostic

#31553 fix: ensure we've selected the diagnostics quickfix list
  runtime/lua/vim/diagnostic.lua
Labels: diagnostic

#31514 refactor(lsp/rpc): move transport logic to separate module
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/_transport.lua
  runtime/lua/vim/lsp/rpc.lua
  scripts/luacats_grammar.lua
Labels: refactor, lsp

#31557 fix: broken variable reference
  runtime/lua/vim/diagnostic.lua
Labels: diagnostic

#31561 vim-patch:9.1.0919: filetype: some assembler files are not recognized
  runtime/doc/syntax.txt
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#31560 vim-patch:5c42c77: runtime(netrw): do not pollute search history with symlinks
  runtime/autoload/netrw.vim
Labels: vim-patch, netrw

#31566 vim-patch:9.1.{0921,0922}
  src/nvim/popupmenu.c
Labels: vim-patch

#31569 fix(Man.lua): trigger completion even without arguments
  runtime/lua/man.lua
Labels: ci:backport release-0.10

#31565 fix(lsp): reuse client if configs match and no root dir
  runtime/lua/vim/lsp.lua
  test/functional/plugin/lsp/completion_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#31575 feat(ui): allow 'sign/statuscolumn' to combine highlight attrs
  runtime/doc/news.txt
  src/nvim/drawline.c
  test/functional/api/extmark_spec.lua
  test/functional/legacy/signs_spec.lua
  test/functional/ui/decorations_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/ui/sign_spec.lua
  test/functional/ui/statuscolumn_spec.lua
Labels: ui

#31580 vim-patch: doc updates
  runtime/doc/motion.txt
  runtime/doc/options.txt
  runtime/doc/windows.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#31581 vim-patch:9.1.0927: style issues in insexpand.c
  src/nvim/insexpand.c
Labels: vim-patch

#31583 build(deps): bump tree-sitter to v0.24.5
  cmake.deps/deps.txt
Labels: build

#31584 vim-patch:9.1.0926: filetype: Pixi lock files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#31588 vim-patch:9.1.0929: filetype: lalrpop files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#31576 fix(api): nvim_win_set_buf(0, 0) fails if 'winfixbuf' is set
  src/nvim/api/vim.c
  src/nvim/api/window.c
  test/functional/options/winfixbuf_spec.lua
Labels: terminal

#31590 fix(messages): no message kind for :undo messages
  runtime/doc/ui.txt
  src/nvim/undo.c
  test/functional/ui/messages_spec.lua
Labels: messages

#31500 fix(lsp): cancel pending requests before refreshing
  runtime/lua/vim/lsp/util.lua
Labels: lsp, target:release

#31595 refactor(api): duplicated error handling
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/window.c
  test/functional/api/window_spec.lua
  test/functional/options/winfixbuf_spec.lua
  test/old/testdir/test_winfixbuf.vim
Labels: api, refactor

#31539 refactor(wininfo): change wininfo from a linked list to an array
  src/klib/kvec.h
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/eval/buffer.c
  src/nvim/eval/funcs.c
  src/nvim/ex_session.c
  src/nvim/globals.h
  src/nvim/window.c
Labels: refactor

#31585 fix(diagnostic): open diagnostics quickfix list when calling `vim.diagnostic.setqflist` for the first time
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: diagnostic

#31599 ci(build.yml): disable security restriction
  .github/workflows/build.yml
Labels: ci

#31598 build(deps): bump luajit to HEAD - f73e649a9
  cmake.deps/deps.txt
Labels: build

#31596 fix(api): generic error messages, not using TRY_WRAP
  runtime/doc/api.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/vim.c
  src/nvim/api/vimscript.c
  src/nvim/api/window.c
  test/functional/api/vim_spec.lua
  test/functional/api/window_spec.lua
  test/functional/autocmd/dirchanged_spec.lua
  test/functional/lua/vim_spec.lua
Labels: api

#31602 vim-patch: doc updates
  runtime/doc/change.txt
  runtime/doc/fold.txt
  runtime/doc/motion.txt
Labels: documentation, vim-patch

#31605 vim-patch:9.1.0934: hard to view an existing buffer in the preview window
  runtime/doc/index.txt
  runtime/doc/windows.txt
  src/nvim/ex_cmds.lua
  src/nvim/ex_docmd.c
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_popup.vim
  test/old/testdir/test_preview.vim
  test/old/testdir/test_statusline.vim
  test/old/testdir/test_window_cmd.vim
  test/old/testdir/test_winfixbuf.vim
Labels: vim-patch

#31600 refactor(api): always use TRY_WRAP
  src/nvim/api/buffer.c
  src/nvim/api/private/helpers.c
  src/nvim/api/private/helpers.h
  src/nvim/api/tabpage.c
  src/nvim/api/vim.c
  src/nvim/api/vimscript.c
  src/nvim/api/window.c
  src/nvim/ex_getln.c
  src/nvim/lua/stdlib.c
  src/nvim/option.c
Labels: api, refactor

#31562 feat(terminal)!: cursor shape and blink
  runtime/doc/deprecated.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/syntax.txt
  runtime/doc/terminal.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_meta/options.lua
  runtime/syntax/vim.vim
  src/nvim/cursor.c
  src/nvim/cursor_shape.c
  src/nvim/cursor_shape.h
  src/nvim/highlight.h
  src/nvim/highlight_defs.h
  src/nvim/highlight_group.c
  src/nvim/option_vars.h
  src/nvim/options.lua
  src/nvim/state.c
  src/nvim/terminal.c
  src/nvim/tui/tui.c
  test/functional/api/vim_spec.lua
  test/functional/autocmd/focus_spec.lua
  test/functional/core/job_spec.lua
  test/functional/core/log_spec.lua
  test/functional/core/main_spec.lua
  test/functional/core/startup_spec.lua
  test/functional/legacy/highlight_spec.lua
  test/functional/lua/ui_event_spec.lua
  test/functional/terminal/altscreen_spec.lua
  test/functional/terminal/api_spec.lua
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/cursor_spec.lua
  test/functional/terminal/highlight_spec.lua
  test/functional/terminal/mouse_spec.lua
  test/functional/terminal/scrollback_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/terminal/window_spec.lua
  test/functional/terminal/window_split_tab_spec.lua
  test/functional/testterm.lua
  test/functional/ui/cursor_spec.lua
  test/functional/ui/hlstate_spec.lua
  test/functional/ui/messages_spec.lua
  test/functional/ui/output_spec.lua
  test/functional/ui/screen.lua
Labels: terminal

#31615 vim-patch:9.1.{0936,0941,0942}: ComplMatchIns highlight
  runtime/colors/vim.lua
  runtime/doc/motion.txt
  runtime/doc/news.txt
  runtime/doc/syntax.txt
  src/nvim/drawline.c
  src/nvim/highlight_group.c
  src/nvim/insexpand.c
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_popup.vim
Labels: vim-patch

#31616 vim-patch:9.1.0940: Wrong cursor shape with "gq" and 'indentexpr' executes :normal
  src/nvim/textformat.c
  test/functional/ui/mode_spec.lua
  test/old/testdir/test_indent.vim
Labels: vim-patch

#31617 vim-patch:a977883: runtime(doc): Fix style in fold.txt
  runtime/doc/fold.txt
Labels: documentation, vim-patch

#31619 test(old): fix incorrect comment in test_preview.vim
  test/old/testdir/test_preview.vim
Labels: test

#31611 feat(lsp): add server version information to `:checkhealth`
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/health.lua
Labels: lsp, checkhealth

#31608 fix(lsp): vim.lsp.start failed when an existing client has no workspace_folders
  runtime/lua/vim/lsp.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#31601 refactor(man.lua): various changes
  runtime/lua/man.lua
  runtime/plugin/man.lua
  test/functional/plugin/man_spec.lua
Labels: refactor

#31620 fix(terminal): restore cursor from 'guicursor' on TermLeave
  src/nvim/terminal.c
  test/functional/terminal/cursor_spec.lua
Labels: terminal

#31613 test(cursor_spec): global highlight definitions
  test/functional/terminal/cursor_spec.lua
Labels: test

#31628 vim-patch:9.1.0945: ComplMatchIns highlight doesn't end after inserted text
  runtime/colors/vim.lua
  src/nvim/drawline.c
  src/nvim/highlight_group.c
  src/nvim/insexpand.c
  test/functional/ui/mode_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_indent.vim
  test/old/testdir/test_popup.vim
Labels: vim-patch

#31627 fix(messages): better formatting for :highlight with ext_messages
  src/nvim/highlight_group.c
  src/nvim/message.c
  test/functional/ui/messages_spec.lua
Labels: messages

#31634 docs(api): specify when decor provider on_buf callback is called
  runtime/doc/api.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/extmark.c
Labels: api

#31645 vim-patch:9.1.0948: Missing cmdline completion for :pbuffer
  src/nvim/cmdexpand.c
  test/old/testdir/test_preview.vim
Labels: vim-patch

#31648 vim-patch:c363ca1: runtime(netrw): change indent size from 1 to 2
  runtime/autoload/netrw.vim
  runtime/plugin/netrwPlugin.vim
Labels: vim-patch, netrw

#31646 fix(messages): no message kind for completion menu messages
  runtime/doc/ui.txt
  src/nvim/insexpand.c
  test/functional/ui/messages_spec.lua
Labels: messages

#31662 vim-patch:c673b80: runtime(netrw): more reformating vim/vim#16248
  runtime/autoload/netrw.vim
Labels: vim-patch, netrw

#31658 vim-patch:9.1.0950: filetype: fennelrc files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#31659 vim-patch:70881ba: runtime(dockerfile): do not set commentstring in syntax script
  runtime/ftplugin/dockerfile.vim
  runtime/syntax/dockerfile.vim
Labels: vim-patch

#31656 build: bump lua dev dependencies
  cmake.deps/deps.txt
Labels: build

#31663 feat(lsp): return table from lsp/ files on runtimepath
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp.lua
Labels: lsp

#31668 test: format C test files and fix clang-tidy warnings
  test/functional/fixtures/printargs-test.c
  test/functional/fixtures/shell-test.c
  test/functional/fixtures/streams-test.c
  test/unit/fixtures/multiqueue.c
  test/unit/fixtures/multiqueue.h
  test/unit/fixtures/posix.h
  test/unit/fixtures/vterm_test.c
  test/unit/fixtures/vterm_test.h
Labels: test

#31677 vim-patch:9.1.0951: filetype: jshell files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#31669 fix(messages): bug and unwanted truncation in msg_outtrans_long
  src/nvim/ex_getln.c
  src/nvim/message.c
  src/nvim/ops.c
  src/nvim/quickfix.c
  src/nvim/undo.c
Labels: messages

#31679 vim-patch:9.1.0953: filetype: APKBUILD files not correctly detected
  runtime/lua/vim/filetype.lua
  runtime/syntax/apkbuild.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#31661 feat(ui): additional arguments for cmdline_show/hide events
  runtime/doc/news.txt
  runtime/doc/ui.txt
  src/nvim/api/ui_events.in.h
  src/nvim/ex_getln.c
  src/nvim/message.c
  test/functional/lua/ui_event_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/messages_spec.lua
  test/functional/ui/screen.lua
Labels: ui, ui-extensibility, cmdline-mode

#31676 fix(inspect): use correct default highlight
  runtime/lua/vim/_inspector.lua
Labels: target:release

#31694 vim-patch:4ce1cb5: runtime(graphql): contribute vim-graphql to Vim core
  runtime/ftplugin/graphql.vim
  runtime/indent/graphql.vim
  runtime/syntax/graphql.vim
Labels: vim-patch

#31700 fix: fix broken wasmtime build
  src/nvim/lua/treesitter.c
Labels: treesitter

#31650 refactor(eval): move funcs to deprecated.c
  src/nvim/eval/deprecated.c
  src/nvim/eval/funcs.c
Labels: refactor

#31699 build: remove `lintcommit` from `lint` target
  CMakeLists.txt
  CONTRIBUTING.md
Labels: build

#31705 fix(build): <termios.h> is system-dependent
  src/nvim/tui/termkey/termkey.c
Labels: build

#31701 fix(diagnostic): silence chistory command
  runtime/lua/vim/diagnostic.lua
Labels: diagnostic

#31703 fix(terminal): set cursor cell percentage
  src/nvim/terminal.c
  test/functional/terminal/cursor_spec.lua
Labels: ui, terminal

#31711 vim-patch:9.1.0958: filetype: supertux2 config files detected as lisp
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#31697 feat(test): support and document lua test case debugging
  test/README.md
  test/functional/testnvim.lua
Labels: test, ci:skip-news

#31713 vim-patch:9.1.{0954,0956}
  src/nvim/drawline.c
  src/nvim/insexpand.c
  src/nvim/popupmenu.c
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_popup.vim
Labels: vim-patch

#31708 docs(api): fix return type of `nvim[_buf]_get_keymap()`
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/api_keysets_extra.lua
  scripts/gen_eval_files.lua
Labels: documentation, api

#31724 vim-patch:9.1.{0960,0961}: some filetypes are not recognized
  runtime/ftplugin/gel.vim
  runtime/lua/vim/filetype.lua
  runtime/syntax/gel.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#31735 ci(build.yml): disable security restriction
  .github/workflows/build.yml
Labels: ci, target:release

#31738 vim-patch:9b67a2e: runtime(vim): Update base-syntax, allow parens in default arguments
  runtime/syntax/vim.vim
Labels: vim-patch

#31741 vim-patch:9.1.0963: fuzzy-matching does not prefer full match
  runtime/doc/pattern.txt
  src/nvim/search.c
  test/old/testdir/test_matchfuzzy.vim
Labels: vim-patch

#31736 vim-patch:9.1.0962: filetype: bun.lock file is not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#31744 build(deps): bump tree-sitter to v0.24.6
  cmake.deps/deps.txt
Labels: build

#31630 feat(lsp): support function for client root_dir
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp, ci:skip-news

#31747 vim-patch:6c57c30: runtime(compiler): include a basic bash syntax checker compiler
  runtime/compiler/bash.vim
Labels: vim-patch

#28187 feat(lua): add `vim.fs.abspath`
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/fs.lua
  test/functional/lua/fs_spec.lua
Labels: lua, filesystem

#31755 vim-patch:e6ccb64: runtime(doc): fix doc error in :r behaviour
  runtime/doc/insert.txt
Labels: documentation, vim-patch

#31749 vim-patch:9.1.0965: filetype: sh filetype set when detecting the use of bash
  runtime/lua/vim/filetype/detect.lua
  test/functional/lua/filetype_spec.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#31763 vim-patch:9.1.0968: tests: GetFileNameChecks() isn't fully sorted by filetype name
  test/old/testdir/test_filetype.vim
Labels: test, vim-patch

#31764 fix(treesitter.foldexpr): refresh in the buffers affected by OptionSet
  runtime/lua/vim/treesitter/_fold.lua
Labels: treesitter

#31768 vim-patch:f2e08a1: runtime(doc): Fix documentation typos
  runtime/doc/windows.txt
Labels: documentation, vim-patch

#31774 vim-patch:df67fc0: runtime(sh): set shellcheck as the compiler for supported shells
  runtime/ftplugin/sh.vim
Labels: vim-patch

#31773 vim-patch:9.1.0971: filetype: SLNX files are not recognized
  runtime/ftplugin/lnkmap.vim
  runtime/lua/vim/filetype.lua
  runtime/syntax/lnkmap.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#31775 fix(lsp): check if signature help window is focusable when configuring cycle keymap
  runtime/lua/vim/lsp/buf.lua
Labels: lsp

#31776 fix(treesitter.foldexpr): only refresh valid buffers
  runtime/lua/vim/treesitter/_fold.lua
Labels: treesitter

#31783 vim-patch:9.1.0977: filetype: msbuild filetypes are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#31785 vim-patch:9.1.0978: GUI tests sometimes fail when setting 'scroll' options
  test/old/testdir/gen_opt_test.vim
Labels: test, vim-patch

#31794 vim-patch:9.1.0981: tests: typo in test_filetype.vim
  runtime/syntax/lnkmap.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch

#31796 vim-patch:9.1.0983: not able to get the displayed items in complete_i…
  runtime/doc/builtin.txt
  runtime/doc/insert.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#31797 vim-patch:8dc98bf: runtime(chordpro): update syntax script
  runtime/syntax/chordpro.vim
Labels: vim-patch

#31798 vim-patch:9.1.0982: TI linker files are not recognized
  runtime/ftplugin/lnk.vim
  runtime/lua/vim/filetype.lua
  runtime/lua/vim/filetype/detect.lua
  runtime/syntax/cmacro.vim
  runtime/syntax/lnk.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype
