Repository neovim/neovim, pull requests merged in 2025-05, with the labels that each got.

#33738 vim-patch: doc updates
  runtime/doc/options.txt
  runtime/doc/tagsrch.txt
  runtime/doc/windows.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
  src/nvim/tag.c
Labels: vim-patch

#33717 fix(display): adjust setting winline info for concealed lines
  src/nvim/drawline.c
  src/nvim/drawline.h
  src/nvim/drawscreen.c
  test/functional/ui/decorations_spec.lua
Labels: display, marks, conceal, ci:backport release-0.11

#33742 fix(display): adjust setting winline info for concealed lines
  src/nvim/drawline.c
  src/nvim/drawline.h
  src/nvim/drawscreen.c
  test/functional/ui/decorations_spec.lua
Labels: display, target:release

#33517 fix(diagnostic): allow virtual_{lines,text} cursor exclusivity
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: diagnostic

#33746 fix(lsp): handle `nil` buffer state in `documentColor` clear
  runtime/lua/vim/lsp/document_color.lua
Labels: lsp

#33757 vim-patch:f57c065: runtime(sh): Update syntax, highlight escaped chars in test expressions
  runtime/syntax/sh.vim
Labels: vim-patch

#33758 vim-patch:1c58019: runtime(vim): Update base-syntax, improve enum highlighting
  runtime/syntax/vim.vim
Labels: vim-patch

#27855 feat(ui): ext_cmdline/messages for the TUI
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/_extui.lua
  runtime/lua/vim/_extui/cmdline.lua
  runtime/lua/vim/_extui/messages.lua
  runtime/lua/vim/_extui/shared.lua
  src/gen/gen_vimdoc.lua
Labels: ui, lua, ui-extensibility, messages, cmdline-mode

#33762 fix(vim.lsp.enable): shouldn't run LSP configs on startup
  runtime/lua/vim/lsp.lua
Labels: lsp

#33759 fix(tui): forward C0 control codes literally
  src/nvim/tui/input.c
  src/nvim/tui/termkey/termkey.c
  src/nvim/tui/termkey/termkey_defs.h
  test/functional/terminal/tui_spec.lua
Labels: tui

#33429 feat(messages): add hl-StderrMsg and hl-StdoutMsg
  runtime/doc/syntax.txt
  src/nvim/highlight.h
  src/nvim/highlight_defs.h
  src/nvim/highlight_group.c
  src/nvim/os/shell.c
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/cursor_spec.lua
  test/functional/ui/messages_spec.lua
  test/functional/ui/output_spec.lua
Labels: highlight, messages

#33777 vim-patch:c3f48e3: runtime(abnf): include ABNF filetype plugin
  runtime/ftplugin/abnf.vim
Labels: vim-patch

#33774 fix(extui): cmdline visibility, cmdheight cursor position
  runtime/lua/vim/_extui/cmdline.lua
  runtime/lua/vim/_extui/messages.lua
  runtime/lua/vim/_extui/shared.lua
Labels: ui-extensibility, floatwin, cmdline-mode

#33788 fix(treesitter): close `:InspectTree` with `q`
  runtime/lua/vim/treesitter/dev.lua
Labels: treesitter, ci:backport release-0.11

#33797 docs: add missing change to getcharstr() signature
  runtime/doc/builtin.txt
  src/nvim/eval.lua
Labels: ci:backport release-0.11

#33799 fix(tui): don't try to add unsupported modifiers
  src/nvim/tui/input.c
  test/functional/terminal/tui_spec.lua
Labels: tui, ci:backport release-0.11

#33782 fix(lsp): improper diagnostic end_col computation
  runtime/lua/vim/lsp/diagnostic.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
Labels: lsp, ci:backport release-0.11

#33809 build(deps): bump tree-sitter-vim to v0.6.0
  build.zig.zon
  cmake.deps/deps.txt
  runtime/queries/vim/highlights.scm
Labels: build, treesitter

#33764 fix(runtime): conceal paths in help and man table of contents loclist
  runtime/lua/man.lua
  runtime/lua/vim/treesitter/_headings.lua
Labels: runtime, treesitter, ci:backport release-0.11

#33815 docs: fixups
  runtime/doc/diagnostic.txt
  runtime/doc/lsp.txt
Labels: documentation, ci:backport release-0.11

#33811 docs: fix some treesitter parse issues
  runtime/doc/autocmd.txt
  runtime/doc/debug.txt
  runtime/doc/deprecated.txt
  runtime/doc/dev_style.txt
  runtime/doc/dev_tools.txt
  runtime/doc/develop.txt
  runtime/doc/fold.txt
  runtime/doc/ft_ada.txt
  runtime/doc/ft_hare.txt
  runtime/doc/ft_ps1.txt
  runtime/doc/ft_rust.txt
  runtime/doc/if_perl.txt
  runtime/doc/if_pyth.txt
  runtime/doc/if_ruby.txt
  runtime/doc/intro.txt
  runtime/doc/job_control.txt
  runtime/doc/lua-bit.txt
  runtime/doc/luaref.txt
  runtime/doc/mbyte.txt
  runtime/doc/nvim.txt
  runtime/doc/pi_msgpack.txt
  runtime/doc/provider.txt
  runtime/doc/remote_plugin.txt
  runtime/doc/russian.txt
  runtime/doc/syntax.txt
  runtime/doc/ui.txt
  runtime/doc/userfunc.txt
  runtime/doc/vietnamese.txt
  runtime/doc/vim_diff.txt
Labels: documentation, typo

#33703 feat(lsp): add a `vim.lsp.is_enabled`
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#33810 fix(window): skip unfocusable and hidden floats with "{count}<C-W>w"
  runtime/doc/windows.txt
  src/nvim/window.c
  test/functional/ui/float_spec.lua
Labels: window

#33756 refactor(tui): redundant input->in_fd assignment
  src/nvim/tui/input.c
Labels: tui, ci:backport release-0.11

#33807 fix(quickfix): always split from current window
  src/nvim/quickfix.c
  test/functional/ui/quickfix_spec.lua
Labels: floatwin, quickfix

#33765 fix(statusline): clear ruler when it is no longer drawn
  src/nvim/drawscreen.c
  src/nvim/statusline.c
  test/functional/ui/messages_spec.lua
Labels: ui-extensibility, display, statusline

#33819 feat(lua): allow function `behavior` for `vim.tbl_extend`/`vim.tbl_deep_extend`
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/shared.lua
  test/functional/lua/vim_spec.lua
Labels: lua

#33707 feat(lsp): automatically stop LSP clients when filetype changes
  runtime/lua/vim/lsp.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#33828 fix(treesitter): invalidate conceal_lines marks
  runtime/lua/vim/treesitter/highlighter.lua
Labels: treesitter, ci:backport release-0.11

#33706 docs: default mappings
  runtime/doc/editing.txt
  runtime/doc/insert.txt
  runtime/doc/quickfix.txt
  runtime/doc/tagsrch.txt
  runtime/doc/various.txt
  runtime/doc/windows.txt
Labels: documentation, ci:backport release-0.11

#33832 fix(treesitter): invalidate conceal_lines marks
  runtime/lua/vim/treesitter/highlighter.lua
Labels: treesitter, target:release

#33820 vim-patch:9.1.1361: [security]: possible use-after-free when closing a buffer
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/errors.h
  src/nvim/ex_cmds.c
  test/functional/api/window_spec.lua
  test/old/testdir/test_autocmd.vim
  test/old/testdir/test_buffer.vim
Labels: vim-patch

#29446 Use ui_busy_start()/ui_busy_stop() when search
  src/nvim/search.c
Labels: ui

#33834 fix(lsp): only auto-detach lsp.config clients
  runtime/lua/vim/lsp.lua
Labels: lsp

#33812 fix(lsp): improve error notification formatting on completion
  runtime/lua/vim/lsp/completion.lua
Labels: lsp

#33800 feat(lsp): support `documentColor` dynamic registration
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/document_color.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/protocol.lua
  test/functional/plugin/lsp/document_color_spec.lua
Labels: lsp

#33837 fix(build): use correct cmake expression for $<CONFIG>
  build.zig
  cmake.config/versiondef.h.in
  src/versiondef.h.in
Labels: build

#33848 fix(build): musl libc build.zig
  .gitignore
  build.zig
Labels: build

#33796 fix(lsp): check if client is stopping before reusing
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/client.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#33675 fix(lua): vim.validate `message` param
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/shared.lua
  test/functional/lua/vim_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: lua, lsp, ci:backport release-0.11

#33855 fix(messages): list_cmd kind for buffer line messages
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  test/functional/ui/messages_spec.lua
Labels: ui-extensibility, messages

#30103 feat(api): nvim_cmd supports plus ("+cmd", "++opt") flags
  src/nvim/api/command.c
  src/nvim/ex_docmd.c
  test/functional/api/vim_spec.lua
Labels: api, ci:skip-news

#33842 fix(treesitter): eliminate flicker for single windows
  runtime/lua/vim/treesitter/highlighter.lua
Labels: treesitter

#33868 fix(termkey): fix out-of-bounds write in array
  src/nvim/tui/termkey/driver-csi.c
Labels: ci:backport release-0.11

#33274 refactor(tests): lint float_spec, etc.
  .stylua2.toml
  .styluaignore
  CMakeLists.txt
  src/gen/luacats_grammar.lua
  test/functional/lua/luaeval_spec.lua
  test/functional/ui/decorations_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/ui/multigrid_spec.lua
Labels: refactor

#33876 vim-patch:0fb6cea: runtime(lua): update 'path' option in filetype plugin
  runtime/ftplugin/lua.vim
Labels: vim-patch

#33875 fix(treesitter): invalidate conceal_lines cache earlier
  runtime/lua/vim/treesitter/highlighter.lua
  test/functional/treesitter/highlight_spec.lua
Labels: treesitter

#33874 fix(messages): "list_cmd" kind for mark commands
  src/nvim/mark.c
Labels: ui-extensibility, messages

#33879 vim-patch: runtime file updates
  runtime/syntax/sh.vim
  runtime/syntax/spec.vim
Labels: vim-patch

#33896 test(swapfile): don't check for line with full file path
  test/functional/ex_cmds/swapfile_preserve_recover_spec.lua
Labels: test, ci:backport release-0.11

#33907 fix(messages): messages added to history missing from ext_messages "g<"
  src/nvim/message.c
  test/functional/ui/messages_spec.lua
Labels: ui-extensibility, messages

#33905 fix(lsp): nil error in ColorScheme autocmd
  runtime/lua/vim/lsp/document_color.lua
Labels: lsp

#33850 feat(diagnostic): add `on_jump` callback option
  runtime/doc/deprecated.txt
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: diagnostic

#33918 vim-patch:9.1.{1373,1374}
  runtime/doc/insert.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/insexpand.c
  src/nvim/options.lua
  src/nvim/search.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#33858 fix(decor): extmark highlight not applied
  src/nvim/decoration.c
  test/functional/ui/decorations_spec.lua
Labels: marks, ci:backport release-0.11

#33924 feat(extui): assign 'filetype' to extui windows
  runtime/doc/lua.txt
  runtime/lua/vim/_extui.lua
  runtime/lua/vim/_extui/shared.lua
Labels: ui-extensibility, messages, ci:skip-news

#33915 fix(terminal): check size when switching buffers
  src/nvim/buffer.c
  src/nvim/ex_cmds.c
  test/functional/terminal/buffer_spec.lua
Labels: terminal, ci:backport release-0.11

#33912 test(treesitter): disable flaky test when TEST_SKIP_FRAGILE is set
  test/functional/treesitter/fold_spec.lua
Labels: test, treesitter

#33860 fix(extui): close cmdwin to enter "more" window
  runtime/lua/vim/_extui/messages.lua
Labels: ui-extensibility, cmdline-mode

#33930 vim-patch: doc updates
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: vim-patch

#33932 fix(folds): avoid unnecessary loop with horizontal scrolling
  src/nvim/drawline.c
  test/functional/ui/fold_spec.lua
Labels: folds, ci:backport release-0.11

#33940 vim-patch:6b7637e: runtime(lf): use syn iskeyword in syntax script
  runtime/syntax/lf.vim
Labels: vim-patch

#33942 vim-patch:9.1.1378: sign without text overwrites number option
  test/functional/ui/sign_spec.lua
  test/old/testdir/test_signs.vim
Labels: test, vim-patch

#33951 refactor(docs): remove unnecessary `@private`/`@nodoc` annotations
  CONTRIBUTING.md
  runtime/lua/editorconfig.lua
  runtime/lua/vim/_comment.lua
  runtime/lua/vim/_editor.lua
  runtime/lua/vim/filetype/detect.lua
  runtime/lua/vim/func.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/document_color.lua
  runtime/lua/vim/lsp/handlers.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/treesitter/_range.lua
  runtime/lua/vim/treesitter/languagetree.lua
Labels: refactor, lsp, treesitter, filetype, editorconfig, comment

#33948 fix(treesitter): proper tree `contains()` logic with combined injections
  runtime/lua/vim/treesitter/languagetree.lua
Labels: treesitter, ci:backport release-0.11

#33961 build(deps): bump luv to 1.51.0-0
  build.zig.zon
  cmake.deps/deps.txt
  runtime/doc/luvref.txt
  runtime/lua/uv/_meta.lua
Labels: build

#33963 fix(runtime): remove erroneously added syntax tests
  runtime/syntax/testdir/dumps/html_fold_expr_00.dump
  runtime/syntax/testdir/dumps/html_fold_expr_01.dump
  runtime/syntax/testdir/dumps/html_fold_expr_02.dump
  runtime/syntax/testdir/dumps/html_fold_expr_03.dump
  runtime/syntax/testdir/dumps/html_fold_expr_04.dump
  runtime/syntax/testdir/dumps/html_fold_expr_05.dump
  runtime/syntax/testdir/dumps/html_fold_expr_06.dump
  runtime/syntax/testdir/dumps/html_fold_syntax_00.dump
  runtime/syntax/testdir/dumps/html_fold_syntax_01.dump
  runtime/syntax/testdir/dumps/html_fold_syntax_02.dump
  runtime/syntax/testdir/dumps/html_fold_syntax_03.dump
  runtime/syntax/testdir/dumps/html_fold_syntax_04.dump
  runtime/syntax/testdir/dumps/html_fold_syntax_05.dump
  runtime/syntax/testdir/dumps/html_fold_syntax_06.dump
  runtime/syntax/testdir/input/html_fold_expr.html
  runtime/syntax/testdir/input/html_fold_syntax.html
  runtime/syntax/testdir/input/setup/html_fold_expr.vim
Labels: runtime

#33966 vim-patch:9.1.1381: completion: cannot return to original text
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#33943 vim-patch:9.1.{1375,1376}: quickfix dummy buffer fixes
  src/nvim/quickfix.c
  test/old/testdir/test_quickfix.vim
Labels: vim-patch, ci:backport release-0.11

#33968 build(deps): bump tree-sitter to v0.25.4
  build.zig.zon
  cmake.deps/deps.txt
Labels: build

#33969 vim-patch:9.1.{1375,1376}: quickfix dummy buffer fixes
  src/nvim/quickfix.c
  test/old/testdir/test_quickfix.vim
Labels: vim-patch, target:release

#33889 feat(exrc): search in parent directories
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_defaults.lua
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
  test/functional/core/startup_spec.lua
Labels: defaults

#33970 vim-patch:9.1.1380: 'eventignorewin' only checked for current buffer
  src/nvim/autocmd.c
  test/old/testdir/test_autocmd.vim
Labels: vim-patch

#33974 refactor(treesitter): remove empty parse callback
  src/nvim/lua/treesitter.c
Labels: refactor, treesitter

#33985 build(deps): bump tree-sitter-query to v0.6.0
  build.zig.zon
  cmake.deps/deps.txt
Labels: build

#33982 fix(diagnostic): accept multiple namespaces when setting loclist/qflist
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: diagnostic

#33977 feat(diagnostic): add `format` option to `setloclist`/`setqflist`
  runtime/doc/diagnostic.txt
  runtime/doc/news.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: diagnostic

#33994 vim-patch:37045b5,9.1.1384 && fix(tutor): `l:lang` is undefined
  runtime/autoload/tutor.vim
  runtime/ftplugin/tutor.vim
  runtime/plugin/tutor.vim
  runtime/tutor/tutor.tutor
  test/old/testdir/test_plugin_tutor.vim
Labels: vim-patch

#33999 vim-patch:9.1.1383: completion: 'isexpand' option does not handle space char correct
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#33958 feat(extui): show "g<" hint when message spills 'cmdheight'
  runtime/lua/vim/_extui/messages.lua
Labels: ui-extensibility, messages, ci:skip-news

#33959 refactor(treesitter): move functions from executor.c to treesitter.c
  src/nvim/lua/executor.c
  src/nvim/lua/treesitter.c
Labels: refactor, treesitter

#33981 feat(diagnostic): add `enabled` filter
  runtime/doc/diagnostic.txt
  runtime/doc/news.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: diagnostic

#33933 docs(diagnostic): add `on_jump` example
  runtime/doc/diagnostic.txt
Labels: documentation, diagnostic

#34015 refactor(tui): remove scroll_region_is_full_screen global state
  src/nvim/tui/tui.c
Labels: refactor, tui

#34003 fix(extui): handle carriage return in messages
  runtime/doc/lua.txt
  runtime/lua/vim/_extui.lua
  runtime/lua/vim/_extui/messages.lua
Labels: ui-extensibility, messages

#34026 vim-patch:9.1.1389: completion: still some issue when 'isexpand' contains a space
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#34023 vim-patch:9.1.1388: Scrolling one line too far with 'nosmoothscroll' page scrolling
  src/nvim/move.c
  test/old/testdir/test_normal.vim
Labels: vim-patch, ci:backport release-0.11

#34032 fix(tui): clear primary device callback before invoking it
  src/nvim/tui/input.c
  src/nvim/tui/tui.c
Labels: tui, ci:backport release-0.11

#34016 fix(tui): don't disable vsplit scrolling in all xterm-like terminals
  src/nvim/tui/tui.c
  src/nvim/tui/tui_defs.h
Labels: tui

#34038 refactor(tui): don't use pseudo-terminfo for custom modes
  src/nvim/tui/tui.c
  src/nvim/tui/tui_defs.h
Labels: refactor, tui

#34050 build(deps): bump tree-sitter-query to v0.6.1
  build.zig.zon
  cmake.deps/deps.txt
Labels: build

#34051 build(deps): bump tree-sitter-vimdoc to v4.0.0
  build.zig.zon
  cmake.deps/deps.txt
Labels: build

#34046 fix(:print): don't use schar_from_ascii() for illegal byte
  src/nvim/message.c
  test/functional/ex_cmds/print_commands_spec.lua
Labels: ci:backport release-0.11

#34058 vim-patch:9.1.1395: search_stat not reset when pattern differs in case
  src/nvim/search.c
  test/functional/legacy/search_stat_spec.lua
  test/old/testdir/test_search_stat.vim
Labels: vim-patch, ci:backport release-0.11

#34060 vim-patch:9.1.1396: 'grepformat' is a global option
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/option.c
  src/nvim/options.lua
  src/nvim/optionstr.c
  src/nvim/quickfix.c
  test/old/testdir/test_quickfix.vim
Labels: vim-patch

#34064 build(deps): bump luv to 1.51.0-1
  build.zig.zon
  cmake.deps/deps.txt
  runtime/doc/luvref.txt
  runtime/lua/uv/_meta.lua
Labels: build

#34055 fix(extui): translate <Tab> in cmdline text
  runtime/lua/vim/_extui/cmdline.lua
  runtime/lua/vim/_extui/messages.lua
Labels: ui-extensibility, messages

#34067 build(deps): bump tree-sitter-lua to v0.4.0
  build.zig.zon
  cmake.deps/deps.txt
Labels: build

#33886 feat(logs): show full paths in lsp logs
  runtime/lua/vim/lsp/log.lua
Labels: lsp, ci:skip-news

#34072 build(deps): bump tree-sitter-markdown to v0.5.0
  build.zig.zon
  cmake.deps/deps.txt
Labels: build

#34075 vim-patch: Vim syntax updates
  runtime/doc/syntax.txt
  runtime/syntax/vim.vim
Labels: vim-patch

#34069 build(deps): bump uncrustify to uncrustify-0.81.0
  cmake.deps/deps.txt
  src/uncrustify.cfg
Labels: build

#34071 refactor(helptags): remove useless homegrown encoding check
  src/nvim/help.c
Labels: refactor

#33990 feat(clipboard): wayclip primary clipboard and correct mimetype
  runtime/autoload/provider/clipboard.vim
Labels: clipboard, ci:skip-news

#34084 vim-patch:9.1.1398: completion: trunc does not follow Pmenu highlighting attributes
  src/nvim/popupmenu.c
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_popup.vim
Labels: vim-patch

#34094 vim-patch:5a8f995: runtime(doc): remove outdated Contribution section…
  runtime/doc/pi_tutor.txt
Labels: documentation, vim-patch, ci:backport release-0.11

#34037 fix(diagnostic): deprecate `float` in `vim.diagnostic.Opts.Jump`
  runtime/doc/deprecated.txt
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
Labels: diagnostic

#34017 fix(diagnostics): fixed virtual_text cursormoved autocmd error
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
  test/functional/ui/decorations_spec.lua
Labels: diagnostic

#34073 fix(diagnostic): accept multiple namespace in `open_float()`
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: diagnostic

#34119 fix(extui): reset message state after "search_cmd" message
  runtime/lua/vim/_extui/messages.lua
Labels: ui-extensibility, messages

#34121 vim-patch:b0691b4: runtime(sh): Fix various syntax highlighting problems in ksh93 scripts
  runtime/doc/syntax.txt
  runtime/syntax/sh.vim
Labels: vim-patch

#33605 feat(glob): New Glob Implementation Based on Peglob
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/glob.lua
  test/functional/lua/glob_spec.lua
Labels: lua, lsp

#34005 feat: smaller indentation for outline
  runtime/lua/vim/treesitter/_headings.lua
Labels: treesitter

#33901 fix(lsp): avoid `foldclose()` after the buffer in the window has changed
  runtime/lua/vim/lsp/_folding_range.lua
Labels: lsp

#34010 fix: use nvim namespace convention
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/plugin/shada.vim
  test/functional/plugin/shada_spec.lua
Labels: lsp

#34130 vim-patch:f4b2fce: runtime(vim): Update base-syntax, fix missing luaParenError error
  runtime/syntax/vim.vim
Labels: vim-patch

#34131 vim-patch:9.1.1402: multi-byte mappings not properly stored in session file
  src/nvim/keycodes.c
  src/nvim/mapping.c
  test/old/testdir/test_mksession_utf8.vim
Labels: vim-patch, ci:backport release-0.11

#34146 vim-patch:9.1.1405: tests: no test for mapping with special keys in session file
  test/old/testdir/test_mksession.vim
  test/old/testdir/test_mksession_utf8.vim
Labels: test, vim-patch, ci:backport release-0.11

#34143 fix(move): consume skipcol before revealing filler lines
  src/nvim/move.c
  test/functional/ui/decorations_spec.lua
Labels: window

#34148 fix(move): consume skipcol before revealing filler lines
  src/nvim/move.c
  test/functional/ui/decorations_spec.lua
Labels: target:release

#34154 fix(extui): using tracked message column in cleared buffer
  runtime/lua/vim/_extui/cmdline.lua
  runtime/lua/vim/_extui/messages.lua
Labels: ui-extensibility, messages

#34054 build.zig: LuaJIT / unittests
  .github/workflows/test.yml
  build.zig
  test/lua_runner.lua
  test/run_tests.zig
Labels: ci

#34167 fix(system): don't treat NUL at start as no input
  src/nvim/os/shell.c
  test/functional/vimscript/system_spec.lua
Labels: system, ci:backport release-0.11

#34175 fix(lsp): announce `normalizesLineEndings` capability
  runtime/lua/vim/lsp/protocol.lua
Labels: lsp

#34177 vim-patch:9.1.1407: Can't use getpos('v') in OptionSet when using setbufvar()
  src/nvim/autocmd.c
  test/functional/legacy/autocmd_spec.lua
  test/functional/lua/vim_spec.lua
  test/old/testdir/test_autocmd.vim
Labels: vim-patch, ci:backport release-0.11

#34188 fix(extui): write each message chunk pattern separately
  runtime/lua/vim/_extui/messages.lua
  runtime/lua/vim/_extui/shared.lua
Labels: ui-extensibility, messages

#34122 perf(runtime): vim.trim for long only whitespace strings
  runtime/lua/vim/shared.lua
  test/benchmark/trim_spec.lua
  test/functional/lua/vim_spec.lua
Labels: performance

#34193 vim-patch: Correct allowed characters at :help 'filetype'
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#34178 build: unset $TMUX when running tests
  cmake/RunTests.cmake
Labels: build

#34182 build: lint decorations_spec etc. with lintlua
  CMakeLists.txt
Labels: build

#34195 vim-patch:9.1.1413: spurious CursorHold triggered in GUI on startup
  src/nvim/autocmd.h
  test/functional/autocmd/cursorhold_spec.lua
Labels: vim-patch

#33979 fix(folds): adjust filler text drawing for transparent folds
  src/nvim/drawline.c
  test/functional/ui/fold_spec.lua
Labels: folds, ci:backport release-0.11

#34201 fix(extui): incorrect cmdline cursor position
  runtime/lua/vim/_extui/cmdline.lua
Labels: ui-extensibility, cmdline-mode

#33998 feat(api): set nvim_echo() kind for ext_messages
  runtime/doc/api.txt
  runtime/doc/news.txt
  runtime/lua/vim/_inspector.lua
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/api_keysets.lua
  src/nvim/api/keysets_defs.h
  src/nvim/api/vim.c
  test/functional/ui/messages_spec.lua
Labels: api, ui-extensibility, messages

#34211 build(deps): bump tree-sitter to v0.25.5
  build.zig.zon
  cmake.deps/deps.txt
Labels: build

#34218 vim-patch:0bc8709: runtime(doc): Correct allowed flags after :substitute repeat
  runtime/doc/change.txt
Labels: documentation, vim-patch

#33715 fix(vim.system): improve error message when cwd does not exist
  runtime/lua/vim/_system.lua
  test/functional/lua/system_spec.lua
Labels: ci:backport release-0.11

#34226 fix(treesitter): parser metadata annotations
  runtime/lua/vim/treesitter/_meta/misc.lua
Labels: treesitter, ci:backport release-0.11

#34237 ci(release): bump windows runner to windows-2022
  .github/workflows/release.yml
Labels: ci, ci:backport release-0.11

#34240 vim-patch:570e71a: runtime(vim): Update base-syntax, improve :set highlighting
  runtime/syntax/vim.vim
Labels: vim-patch

#34241 fix(redraw): update curswant for Visual selection
  src/nvim/drawscreen.c
  test/functional/ui/highlight_spec.lua
Labels: ci:backport release-0.11

#34243 vim-patch: doc updates
  runtime/doc/options.txt
  runtime/doc/usr_30.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#34245 vim-patch:9.1.1419: It is difficult to ignore all but some events
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/autocmd.c
  src/nvim/options.lua
  src/nvim/optionstr.c
  test/old/testdir/gen_opt_test.vim
  test/old/testdir/test_autocmd.vim
  test/old/testdir/test_options.vim
Labels: vim-patch
