Repository neovim/neovim, pull requests merged in 2025-08, with the labels that each got.

#35125 fix(diagnostic): check if the buffer is loaded
  runtime/lua/vim/diagnostic.lua
Labels: diagnostic

#35131 vim-patch:b88f9e4: runtime(vim): Update base syntax, fix :map termination in :command RHS
  runtime/syntax/vim.vim
Labels: vim-patch

#35063 build: bump lua-bitop to 1.0.3
  runtime/doc/lua-bit.txt
  src/bit.c
Labels: build

#35052 test(pack): add `vim.pack` tests
  .github/workflows/test.yml
  runtime/doc/pack.txt
  runtime/ftplugin/nvim-pack.lua
  runtime/lua/vim/_async.lua
  runtime/lua/vim/pack.lua
  test/functional/plugin/pack_spec.lua
Labels: test, ci:skip-news, packages

#35077 fix(api): nvim_create_user_command addr option should allow ranges
  src/nvim/api/command.c
  test/functional/api/command_spec.lua
Labels: api, ci:backport release-0.11

#35139 fix(lsp): handle nil response in references request
  runtime/lua/vim/lsp/buf.lua
Labels: lsp, needs:backport, ci:backport release-0.11

#35141 vim-patch:9.1.1590: cannot perform autocompletion
  runtime/doc/insert.txt
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  runtime/lua/vim/lsp/completion.lua
  runtime/optwin.vim
  src/nvim/cursor.c
  src/nvim/edit.c
  src/nvim/insexpand.c
  src/nvim/option_vars.h
  src/nvim/options.lua
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#35142 vim-patch:3add0d5: runtime(ccomplete): use complete_check() in ccomplete plugin
  runtime/autoload/ccomplete.vim
Labels: vim-patch

#35045 feat: ":restart" can run arbitrary commands
  runtime/doc/gui.txt
  src/nvim/api/ui.c
  src/nvim/ex_cmds.lua
  src/nvim/ex_docmd.c
  test/functional/terminal/tui_spec.lua
Labels: ci:skip-news

#35130 fix(options): make 'cdhome' take effect on any platform
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/ex_docmd.c
  src/nvim/options.lua
Labels: options

#34849 fix(lsp): decode 'null' in server responses as vim.NIL
  runtime/doc/news.txt
  runtime/lua/vim/lsp/_meta/protocol.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/util.lua
  src/gen/gen_lsp.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp/document_color_spec.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#35115 fix(snippet): early return for final tabstop
  runtime/lua/vim/snippet.lua
  test/functional/lua/snippet_spec.lua
  test/functional/plugin/lsp/completion_spec.lua
Labels: snippet

#35092 fix(lsp): check if buffer is valid when resolving code lenses
  runtime/lua/vim/lsp/codelens.lua
Labels: lsp

#35153 docs(lsp): mention default enablement of document colors
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/document_color.lua
Labels: lsp

#35154 fix(lsp): compare to `vim.NIL` in `lsp/buf.lua`
  runtime/lua/vim/lsp/buf.lua
Labels: lsp

#35174 vim-patch:8.2.{307,512,1123,1555,1912,3602},9.0.1689
  src/nvim/eval/typval_defs.h
  test/old/testdir/test_listdict.vim
  test/old/testdir/test_python3.vim
Labels: vim-patch

#35185 vim-patch:3769100: runtime(doc): fix mismatch between 'backspace' and |i_backspacing|
  runtime/doc/insert.txt
Labels: documentation, vim-patch

#35176 docs(lsp): include snippet to display progress using native indicator
  runtime/doc/lsp.txt
Labels: documentation, lsp

#35181 fix(lsp): show title when global winborder is set
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp/utils_spec.lua
Labels: lsp, diagnostic

#35129 refactor(build): don't use the preprocessor when generating headers
  build.zig
  src/gen/c_grammar.lua
  src/gen/gen_declarations.lua
  src/gen/gen_steps.zig
  src/nvim/CMakeLists.txt
  src/nvim/arabic.h
  src/nvim/base64.c
  src/nvim/lua/converter.c
  src/nvim/lua/converter.h
  src/nvim/lua/stdlib.h
  src/nvim/main.h
  src/nvim/mark.c
  src/nvim/mbyte.c
  src/nvim/msgpack_rpc/channel.c
  src/nvim/msgpack_rpc/server.h
  src/nvim/os/dl.h
  src/nvim/os/fs.c
  src/nvim/os/proc.c
  src/nvim/os/proc.h
  src/nvim/os/pty_proc_unix.c
  src/nvim/os/time.h
  src/nvim/sha256.h
  src/nvim/shada.c
  src/nvim/spellsuggest.h
Labels: build, refactor

#35190 feat(lsp): improve signature help display
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#35202 fix(ui): check for cmdline mode properly
  src/nvim/drawscreen.c
  src/nvim/message.c
  src/nvim/state.c
  src/nvim/ui.c
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/ui/screen.lua
Labels: ui

#35209 vim-patch:54fb7ba: runtime(doc): remove mentioning of netrwSettings.vim
  runtime/pack/dist/opt/netrw/doc/netrw.txt
Labels: vim-patch

#35212 vim-patch:9c4de84: runtime(doc): Update ft-vim-syntax documentation
  runtime/doc/syntax.txt
Labels: documentation, vim-patch

#35216 vim-patch:9.1.1599: :bnext doesn't go to unlisted help buffers
  src/nvim/buffer.c
  test/old/testdir/test_buffer.vim
Labels: vim-patch, ci:backport release-0.11

#35224 Backport #35198 #35202 #35210
  src/nvim/drawscreen.c
  src/nvim/message.c
  src/nvim/popupmenu.c
  src/nvim/state.c
  src/nvim/ui.c
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/float_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/functional/ui/screen.lua
Labels: target:release

#35225 vim-patch:{8.1.0425,9.1.1601}
  test/old/testdir/test_buffer.vim
  test/old/testdir/test_bufline.vim
Labels: test, vim-patch, ci:backport release-0.11

#35227 fix(lsp): update capability maps
  runtime/lua/vim/lsp/protocol.lua
Labels: lsp

#35221 fix(tui): do not remove SIGWINCH handler when resize events are enabled
  src/nvim/tui/tui.c
Labels: tui, ci:backport release-0.11

#35238 fix(tui): do not remove SIGWINCH handler when resize events are enabled (#35221)
  src/nvim/tui/tui.c
Labels: tui, target:release

#35239 vim-patch:9.1.1605: cannot specify scope for chdir()
  runtime/doc/news.txt
  runtime/doc/vimfn.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/eval/fs.c
  test/old/testdir/test_cd.vim
Labels: vim-patch

#35243 vim-patch:9.1.1610: completion: hang or E684 when 'tagfunc' calls complete()
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#35252 vim-patch:9.1.{0748,1608}
  src/nvim/cmdexpand.c
  src/nvim/ex_docmd.c
  test/old/testdir/test_cmdline.vim
  test/old/testdir/test_cmdmods.vim
  test/old/testdir/test_exists.vim
Labels: vim-patch, ci:backport release-0.11

#35256 fix(cmdline): completion for command after :restart
  src/nvim/cmdexpand.c
  test/functional/editor/completion_spec.lua
Labels: completion, cmdline-mode

#35250 fix(snippet): sync tabstop text also if pmenu is visible
  runtime/lua/vim/snippet.lua
Labels: snippet

#35260 vim-patch:9.1.{1603,1609}
  src/nvim/buffer.c
  src/nvim/buffer_defs.h
  src/nvim/eval.c
  src/nvim/insexpand.c
  src/nvim/option.c
  src/nvim/optionstr.c
  test/old/testdir/test_ins_complete.vim
  test/old/testdir/test_options.vim
Labels: vim-patch

#35268 vim-patch:9.1.1606: filetype: a few more files are not recognized
  runtime/lua/vim/filetype/detect.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#35276 vim-patch:9.1.1615: diff format erroneously detected
  runtime/lua/vim/filetype/detect.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#35284 vim-patch:9.1.1618: completion: incorrect selected index returned from complete_info()
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#35285 vim-patch:9.1.1619: Incorrect E535 error message
  test/old/testdir/test_ins_complete.vim
  test/old/testdir/test_options.vim
Labels: test, vim-patch

#35286 vim-patch:partial:fc3c204: runtime(doc): Fix style and typos in builtin.txt and usr_41.txt
  runtime/doc/usr_41.txt
Labels: documentation, vim-patch

#35288 vim-patch:9.1.1622: Patch v9.1.1432 causes performance regressions
  runtime/menu.vim
  test/old/testdir/test_gui.vim
Labels: vim-patch

#35296 vim-patch: runtime file updates
  runtime/ftplugin/racket.vim
  runtime/indent/racket.vim
  runtime/syntax/python.vim
  runtime/syntax/racket.vim
Labels: vim-patch

#35297 vim-patch:32d6bd6: runtime(doc): remove dead links
  runtime/doc/ft_sql.txt
  runtime/doc/pi_tar.txt
  runtime/doc/syntax.txt
  runtime/pack/dist/opt/netrw/doc/netrw.txt
  src/nvim/sha256.c
  src/nvim/spell.c
Labels: vim-patch

#35283 vim-patch:8.1.{636,1681,1700,1711},8.2.0115
  src/nvim/memline.c
Labels: vim-patch

#35294 fix(lsp): check for lens range in `vim.lsp.codelens.run()`
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/codelens.lua
Labels: lsp

#35274 fix(lsp): deprecate `vim.lsp.set_log_level` and `vim.lsp.get_log_path`
  runtime/doc/deprecated.txt
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/health.lua
  runtime/lua/vim/lsp/log.lua
Labels: lsp

#34838 feat(lsp): support signature help noActiveParameterSupport
  runtime/doc/news.txt
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/lsp/util.lua
Labels: lsp, ci:backport release-0.11

#35270 Improve `vim.pack.add()` options
  runtime/doc/pack.txt
  runtime/lua/vim/pack.lua
  test/functional/plugin/pack_spec.lua
Labels: ci:skip-news, packages

#35309 vim-patch:dba9eb4: runtime(python): Also sync syntax at 'async def'
  runtime/syntax/python.vim
Labels: vim-patch

#35228 fix(api): fix crash in command preview with %
  src/nvim/api/command.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  test/functional/ui/inccommand_user_spec.lua
Labels: api

#35315 docs: Add git to prerequisites
  BUILD.md
Labels: documentation

#35307 fix(treesitter): inconsistent highlight of multiline combined injection #32619
  runtime/lua/vim/treesitter/highlighter.lua
Labels: treesitter, target:release

#35329 fix(build): also check os_win sources with uncrustify in CI
  src/nvim/CMakeLists.txt
  src/nvim/os/os_win_console.c
  src/nvim/os/pty_conpty_win.c
  src/nvim/os/pty_proc_win.c
Labels: build

#35353 vim-patch:9.1.1623: Buffer menu does not handle unicode names correctly
  runtime/menu.vim
  test/old/testdir/test_gui.vim
Labels: vim-patch

#35332 build(deps): CMake generation fails when path contains spaces
  cmake.deps/CMakeLists.txt
Labels: build

#35273 feat(provider): detect venv python via "pynvim-python" tool
  INSTALL.md
  runtime/doc/faq.txt
  runtime/doc/news.txt
  runtime/doc/provider.txt
  runtime/lua/vim/provider/python.lua
Labels: provider

#35359 vim-patch:b405c79: runtime(vim): set 'comments' based on script type (legacy/Vim9)
  runtime/ftplugin/vim.vim
Labels: vim-patch

#35362 vim-patch:3cee950: runtime(diff): fix mixed translations in zh_CN
  runtime/syntax/diff.vim
  runtime/syntax/shared/hgcommitDiff.vim
  src/nvim/po/zh_CN.UTF-8.po
Labels: vim-patch

#35364 refactor(tests): remove redundant test
  test/functional/plugin/lsp_spec.lua
Labels: refactor, test

#35365 docs(windows): wsl build instructions
  BUILD.md
Labels: documentation

#35383 vim-patch:9.1.1649: attrs allocation and fuzzy growarray could leak
  src/nvim/popupmenu.c
Labels: vim-patch

#35378 feat(snippet): highlight active tabstop
  runtime/colors/vim.lua
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/doc/syntax.txt
  runtime/lua/vim/snippet.lua
  src/nvim/highlight_group.c
  test/functional/lua/snippet_spec.lua
Labels: snippet

#35399 vim-patch: runtime file updates
  runtime/doc/syntax.txt
  runtime/lua/vim/filetype.lua
  runtime/makemenu.vim
  runtime/synmenu.vim
  runtime/syntax/cangjie.vim
  runtime/syntax/python.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#34186 build: generate helptags without running "nvim" binary
  .github/workflows/test.yml
  build.zig
  runtime/gen_runtime.zig
  src/build_lua.zig
  src/gen/gen_helptags.lua
  src/nlua0.zig
Labels: build

#35344 fix(ui): proper event ordering for nested cmdline_block events
  src/nvim/ex_docmd.c
  test/functional/ui/cmdline_spec.lua
Labels: ui, ui-extensibility

#35410 vim-patch: doc updates
  runtime/doc/usr_41.txt
  runtime/doc/vimfn.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: vim-patch

#35352 vim-patch:8.1.2008,v8.2.{844,853,3348,3795,4379}
  src/nvim/buffer.c
  src/nvim/change.c
  src/nvim/diff.c
  src/nvim/eval/buffer.c
  src/nvim/ex_cmds.c
  src/nvim/ex_docmd.c
  src/nvim/fileio.c
  src/nvim/insexpand.c
  src/nvim/memline.c
  src/nvim/memline.h
  src/nvim/normal.c
  src/nvim/quickfix.c
  src/nvim/spell.c
  src/nvim/terminal.c
  src/nvim/undo.c
  test/old/testdir/test_jumplist.vim
Labels: vim-patch

#35402 fix(startup): keep empty file arg w/ stdin
  src/nvim/main.c
  test/functional/core/startup_spec.lua
Labels: ci:backport release-0.11

#35310 feat(extui): support paging in the dialog window
  runtime/lua/vim/_extui/cmdline.lua
  runtime/lua/vim/_extui/messages.lua
  runtime/lua/vim/_extui/shared.lua
  test/functional/ui/messages2_spec.lua
Labels: ci:skip-news, ui2

#35360 feat(pack): add arbitrary user-defined `data` field to plugin spec
  runtime/doc/pack.txt
  runtime/lua/vim/pack.lua
  test/functional/plugin/pack_spec.lua
Labels: ci:skip-news, packages

#35416 vim-patch:8.2.1672: v_lock is used when it is not initialized
  src/nvim/eval.c
Labels: vim-patch, ci:backport release-0.11

#35423 fix(lsp): handle array with empty string when checking empty hover
  runtime/lua/vim/lsp/buf.lua
Labels: lsp

#35425 vim-patch:014d50d: runtime(systemverilog): Add syntax highlighting for 1800-2023 block strings
  runtime/syntax/systemverilog.vim
Labels: vim-patch

#35406 feat(tui): add nvim_ui_send
  runtime/doc/api-ui-events.txt
  runtime/doc/api.txt
  runtime/doc/autocmd.txt
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/tohtml.lua
  runtime/lua/vim/_defaults.lua
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/termcap.lua
  runtime/lua/vim/ui/clipboard/osc52.lua
  runtime/plugin/osc52.lua
  src/nvim/api/ui.c
  src/nvim/api/ui_events.in.h
  src/nvim/tui/tui.c
  test/functional/api/ui_spec.lua
  test/functional/ui/screen.lua
Labels: defaults, tui

#35436 vim-patch:9.1.1665: Outdated comment in eval.c
  src/nvim/eval.c
Labels: vim-patch

#35447 vim-patch:9.1.1672: completion: cannot add timeouts for 'cpt' sources
  runtime/doc/insert.txt
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/lua/vim/_meta/options.lua
  runtime/optwin.vim
  src/nvim/insexpand.c
  src/nvim/option_vars.h
  src/nvim/options.lua
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#35451 fix(diff): set default diff flags properly (#35450)
  src/nvim/diff.c
  test/functional/core/startup_spec.lua
  test/functional/fixtures/diff/startup_new.txt
  test/functional/fixtures/diff/startup_old.txt
  test/functional/ui/diff_spec.lua
Labels: diff, target:release

#35452 vim-patch:9.1.1681: tests: no test for actually moving cursor with 'acl'
  test/functional/editor/completion_spec.lua
  test/old/testdir/test_ins_complete.vim
Labels: test, vim-patch

#35454 vim-patch: runtime file updates
  runtime/ftplugin/fstab.vim
  runtime/syntax/fstab.vim
  runtime/syntax/python.vim
  runtime/syntax/sh.vim
Labels: vim-patch

#35458 fix(lsp): treat nil inlay hint result as empty array
  runtime/lua/vim/lsp/inlay_hint.lua
Labels: lsp

#35461 fix(lsp): check whether buffer is valid when scheduled
  runtime/lua/vim/lsp/_folding_range.lua
Labels: lsp

#33972 feat(lsp): support `textDocument/inlineCompletion`
  runtime/colors/vim.lua
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/doc/syntax.txt
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/_capability.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/inline_completion.lua
  runtime/lua/vim/lsp/protocol.lua
  runtime/lua/vim/pos.lua
  src/gen/gen_vimdoc.lua
  src/nvim/highlight_group.c
  test/functional/plugin/lsp/inline_completion_spec.lua
Labels: lsp, gsoc

#35467 test: increase timeout in 'autocompletedelay' test
  test/functional/editor/completion_spec.lua
Labels: test

#35496 vim-patch:9.1.1689: CmdlineChanged not triggered by <Del>
  src/nvim/ex_getln.c
  test/old/testdir/test_autocmd.vim
Labels: vim-patch

#35497 vim-patch:9.1.1688: potential buffer overrun in bufwrite.c
  src/nvim/bufwrite.c
Labels: vim-patch

#35498 refactor: rename ga_concat_strings_sep() to ga_concat_strings()
  src/nvim/eval/fs.c
  src/nvim/garray.c
  src/nvim/lua/executor.c
  src/nvim/path.c
  test/unit/garray_spec.lua
Labels: refactor

#35519 vim-patch:9.1.{1701,1702}
  test/old/testdir/test_edit.vim
Labels: test, vim-patch

#35520 vim-patch:9.1.1700: Multiline ignorecase specific pattern does not match with 'ignorecase'
  src/nvim/regexp.c
  test/old/testdir/test_regexp_utf8.vim
Labels: vim-patch, ci:backport release-0.11

#35522 vim-patch:9.1.1698: Some error numbers are not documented
  runtime/doc/autocmd.txt
  runtime/doc/options.txt
  src/nvim/options.lua
Labels: vim-patch

#35489 refactor(lua): consistent use of local aliases
  runtime/lua/man.lua
  runtime/lua/vim/_comment.lua
  runtime/lua/vim/diagnostic.lua
  runtime/lua/vim/fs.lua
  runtime/lua/vim/hl.lua
  runtime/lua/vim/loader.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/_changetracking.lua
  runtime/lua/vim/lsp/_folding_range.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/completion.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/document_color.lua
  runtime/lua/vim/lsp/inlay_hint.lua
  runtime/lua/vim/lsp/inline_completion.lua
  runtime/lua/vim/lsp/log.lua
  runtime/lua/vim/lsp/rpc.lua
  runtime/lua/vim/lsp/semantic_tokens.lua
  runtime/lua/vim/lsp/sync.lua
  runtime/lua/vim/lsp/util.lua
  runtime/lua/vim/pack.lua
  runtime/lua/vim/treesitter/dev.lua
  runtime/lua/vim/treesitter/health.lua
  runtime/lua/vim/treesitter/language.lua
  src/gen/gen_api_dispatch.lua
  src/gen/gen_vimdoc.lua
Labels: refactor, lua, lsp, treesitter, diagnostic, filesystem, comment, checkhealth

#35531 vim-patch:b760062: runtime(debversions): Move bullseye, focal, and oracular to "unsupported"
  runtime/syntax/shared/debversions.vim
Labels: vim-patch

#35551 vim-patch:8.1.1136: decoding of mouse click escape sequence is not tested
  src/nvim/api/vim.c
  src/nvim/ex_docmd.c
Labels: vim-patch

#35542 vim-patch:9.1.1709: filetype: kyaml files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#35534 docs: typo
  runtime/doc/lsp.txt
Labels: documentation

#35561 fix(lua): report error in Lua Funcref callback properly (#35555)
  src/nvim/lua/executor.c
  test/functional/lua/luaeval_spec.lua
Labels: lua, target:release

#35564 fix(provider): update `:checkhealth` advice for Python
  runtime/lua/vim/provider/health.lua
Labels: provider, checkhealth
