Repository neovim/neovim, pull requests merged in 2025-03, with the labels that each got.

#32684 vim-patch:56957ed: runtime(misc): add support for bzip3 to tar, vimball and gzip plugins
  runtime/autoload/tar.vim
  runtime/plugin/gzip.vim
  runtime/plugin/tarPlugin.vim
Labels: vim-patch

#32657 feat: add more metadata to _ts_inspect_language()
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/_meta/misc.lua
  runtime/lua/vim/treesitter/health.lua
  runtime/lua/vim/treesitter/language.lua
  src/nvim/lua/treesitter.c
  test/functional/treesitter/language_spec.lua
Labels: treesitter, ci:skip-news

#32688 vim-patch:8ac975d: runtime(tar): fix syntax error in tar.vim
  runtime/autoload/tar.vim
Labels: vim-patch

#32666 build!: turn off translations by default
  runtime/doc/news.txt
  src/nvim/po/CMakeLists.txt
  test/cmakeconfig/paths.lua.in
  test/functional/ui/messages_spec.lua
  test/testutil.lua
Labels: build, breaking-change

#32470 test: enable more multigrid popup tests
  test/functional/ui/popupmenu_spec.lua
Labels: test

#32685 test: simplify ASAN detection
  test/cmakeconfig/paths.lua.in
  test/functional/legacy/memory_usage_spec.lua
  test/functional/testnvim.lua
  test/testutil.lua
  test/unit/testutil.lua
Labels: test

#30501 feat(comment): allow commentstring to be determined from node metadata
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/_comment.lua
  runtime/lua/vim/treesitter/query.lua
  test/functional/lua/comment_spec.lua
Labels: treesitter, comment

#32690 feat(lua): better filter private fields from command line completion
  runtime/lua/vim/_editor.lua
  test/functional/lua/command_line_completion_spec.lua
Labels: lua, ci:skip-news

#31996 docs: misc
  .editorconfig
  runtime/doc/api.txt
  runtime/doc/autocmd.txt
  runtime/doc/builtin.txt
  runtime/doc/change.txt
  runtime/doc/filetype.txt
  runtime/doc/lsp.txt
  runtime/doc/lua.txt
  runtime/doc/options.txt
  runtime/doc/repeat.txt
  runtime/doc/starting.txt
  runtime/doc/ui.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/builtin.lua
  runtime/lua/vim/_meta/options.lua
  runtime/lua/vim/_meta/vimfn.lua
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/completion.lua
  runtime/lua/vim/lsp/util.lua
  src/nvim/api/vim.c
  src/nvim/eval.lua
  src/nvim/options.lua
  test/functional/lua/command_line_completion_spec.lua
  test/functional/lua/thread_spec.lua
  test/functional/options/defaults_spec.lua
  test/functional/script/luacats_grammar_spec.lua
Labels: documentation

#32701 vim-patch:9.1.1164: [security]: code execution with tar.vim and special crafted tar files
  runtime/autoload/tar.vim
Labels: vim-patch

#32702 vim-patch:9.1.1165: diff: regression with multi-file diff blocks
  src/nvim/diff.c
  test/functional/ui/diff_spec.lua
  test/old/testdir/test_diffmode.vim
Labels: vim-patch, diff

#32709 vim-patch:9.1.{1166,1168}: 'wildmode' noselect
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/cmdexpand.c
  src/nvim/cmdexpand.h
  src/nvim/ex_getln.c
  src/nvim/options.lua
  test/old/testdir/gen_opt_test.vim
  test/old/testdir/test_cmdline.vim
Labels: vim-patch

#32711 vim-patch:659cb28: runtime(doc): fix typo "bet" in :h 'completeopt'
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#32712 vim-patch:9.1.1167: mark '] wrong after copying text object
  src/nvim/ops.c
  test/old/testdir/test_registers.vim
Labels: vim-patch

#32608 refactor(tests): use new-style highlight spec in legacy/
  test/functional/legacy/breakindent_spec.lua
  test/functional/legacy/cmdline_spec.lua
  test/functional/legacy/display_spec.lua
  test/functional/legacy/messages_spec.lua
  test/functional/legacy/number_spec.lua
  test/functional/legacy/scroll_opt_spec.lua
  test/functional/legacy/search_spec.lua
  test/functional/legacy/search_stat_spec.lua
Labels: refactor, test

#32703 fix(diagnostic): virtual_lines diagnostic columns
  runtime/lua/vim/diagnostic.lua
  test/functional/lua/diagnostic_spec.lua
Labels: diagnostic

#32716 fix(lsp): open_floating_preview() ignores max_height
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp/utils_spec.lua
Labels: lsp

#32708 fix(display): adjust winline info for concealed lines below last line
  src/nvim/drawscreen.c
  test/functional/plugin/lsp/utils_spec.lua
Labels: display

#32727 vim-patch:9.1.1171: tests: wrong arguments passed to assert_equal()
  test/old/testdir/test_registers.vim
Labels: test, vim-patch

#32728 vim-patch:9.1.1170: wildmenu highlighting in popup can be improved
  src/nvim/popupmenu.c
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_cmdline.vim
Labels: vim-patch

#12049 convert non-string errors using tostring()
  src/nvim/lua/executor.c
  test/functional/lua/loop_spec.lua
Labels: lua, logging

#32739 vim-patch:9.1.1172: [security]: overflow with 'nostartofline' and Ex command in tag file
  src/nvim/tag.c
  test/old/testdir/test_tagjump.vim
Labels: vim-patch

#32742 vim-patch:4783a2c: runtime(doc): mention bzip3 in gzip plugin documentation
  runtime/doc/pi_gzip.txt
Labels: documentation, vim-patch

#32743 vim-patch:9.1.1174: tests: Test_complete_cmdline() may fail
  test/old/testdir/test_ins_complete.vim
Labels: test, vim-patch

#32745 vim-patch:9.1.1175: inconsistent behaviour with exclusive selection and motion commands
  src/nvim/globals.h
  src/nvim/normal.c
  src/nvim/textobject.c
  test/old/testdir/test_visual.vim
Labels: vim-patch

#32746 vim-patch:9.1.1176: wrong indent when expanding multiple lines
  src/nvim/change.c
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_popup.vim
Labels: vim-patch

#32723 fix(tui): remove DCS escaping in tmux
  runtime/doc/provider.txt
  runtime/lua/vim/_defaults.lua
  runtime/lua/vim/termcap.lua
Labels: defaults, tui

#32704 feat(lsp): support for resolving code action command
  runtime/doc/news.txt
  runtime/lua/vim/lsp/buf.lua
  runtime/lua/vim/lsp/protocol.lua
  test/functional/fixtures/fake-lsp-server.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp

#32596 fix(terminal): improve cursor refresh handling
  src/nvim/terminal.c
  test/functional/terminal/cursor_spec.lua
Labels: terminal

#32752 vim-patch:08a410f: runtime(vim): recognize <...> strings (and keys) for 'keywordprg'
  runtime/ftplugin/vim.vim
Labels: vim-patch

#32747 fix(marks): wrong winline info for concealed line with below virt line
  src/nvim/drawscreen.c
  test/functional/ui/decorations_spec.lua
Labels: marks

#32760 vim-patch:9.1.1177: filetype: tera files not detected
  runtime/ftplugin/tera.vim
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#32715 fix(lua): always use vim.inspect() for :lua=
  runtime/doc/lua.txt
  runtime/lua/vim/_editor.lua
  src/nvim/lua/executor.c
  test/functional/lua/commands_spec.lua
Labels: lua

#32736 feat(defaults): jump between :terminal shell prompts with ]]/[[
  runtime/doc/news.txt
  runtime/doc/terminal.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_defaults.lua
  test/functional/api/extmark_spec.lua
  test/functional/api/vim_spec.lua
  test/functional/lua/inspector_spec.lua
  test/functional/lua/ui_event_spec.lua
  test/functional/ui/bufhl_spec.lua
  test/functional/ui/decorations_spec.lua
Labels: defaults

#32766 fix(marks): mark winline as invalid if change is in a concealed line
  src/nvim/buffer_defs.h
  src/nvim/change.c
  test/functional/ui/decorations_spec.lua
Labels: marks

#32768 perf(keycodes): use hashy for string lookup
  src/gen/gen_keycodes.lua
  src/gen/hashy.lua
  src/nvim/CMakeLists.txt
  src/nvim/keycodes.c
  src/nvim/keycodes.lua
  test/benchmark/keycodes_spec.lua
Labels: performance, ci:skip-news

#32775 vim-patch:6bdfeb0: runtime(vim): Update base-syntax, bug fixes
  runtime/syntax/vim.vim
Labels: vim-patch

#32706 fix(events): always allow some events to be nested
  src/nvim/api/ui.c
  src/nvim/channel.c
  src/nvim/terminal.c
  test/functional/core/channels_spec.lua
  test/functional/terminal/buffer_spec.lua
  test/functional/terminal/tui_spec.lua
Labels: tui, terminal, channels-rpc, events

#32777 perf(events): remove unnecessary loop in event_nr2name()
  src/nvim/autocmd.c
Labels: events, ci:skip-news

#32771 docs: OSC 133 bash config
  runtime/doc/motion.txt
  runtime/doc/terminal.txt
  src/nvim/lua/executor.c
  src/nvim/terminal.c
  test/functional/plugin/lsp_spec.lua
Labels: terminal

#32782 test(lsp/utils): prevent CursorMoved closing float immediately
  test/functional/plugin/lsp/utils_spec.lua
Labels: test

#32788 vim-patch:62e8228: runtime(go): add 'keywordprg' and 'formatprg' to ftplugin
  runtime/ftplugin/go.vim
Labels: vim-patch

#32767 refactor(multiqueue): rename multiqueue_new_parent
  src/nvim/eval/funcs.c
  src/nvim/event/loop.c
  src/nvim/event/multiqueue.c
  src/nvim/terminal.c
  src/nvim/tui/tui.c
  test/unit/multiqueue_spec.lua
Labels: refactor, tui

#32778 docs(events): document events that can always be nested
  runtime/doc/autocmd.txt
Labels: documentation, events

#32780 refactor(generator): remove nested loop for event aliases
  src/gen/gen_events.lua
  src/gen/gen_vimvim.lua
  src/nvim/auevents.lua
Labels: refactor

#32792 vim-patch:9.1.1184: Unnecessary use of vim_tolower() in vim_strnicmp_asc()
  src/gen/hashy.lua
  src/nvim/strings.c
Labels: vim-patch

#32795 refactor(hashy): use case labels instead of TOLOWER_ASC()
  src/gen/hashy.lua
Labels: refactor

#32797 vim-patch:{3d1a437,d89770e}
  runtime/doc/cmdline.txt
  runtime/doc/insert.txt
Labels: documentation, vim-patch

#32798 vim-patch:9.1.1187: matchparen plugin wrong highlights shell case statement
  runtime/plugin/matchparen.vim
  test/functional/legacy/matchparen_spec.lua
  test/old/testdir/test_plugin_matchparen.vim
Labels: vim-patch

#32799 vim-patch:9.1.1188: runtime(tera): tera support can be improved
  runtime/ftplugin/tera.vim
  runtime/makemenu.vim
  runtime/synmenu.vim
  runtime/syntax/tera.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch

#32796 build(generator): add dependencies on hashy
  src/gen/hashy.lua
  src/nvim/CMakeLists.txt
Labels: build

#32789 docs(highlight): collect all default highlight groups
  runtime/doc/syntax.txt
  runtime/doc/vim_diff.txt
Labels: documentation, highlight

#32801 fix(build): vimdoc tags are not validated
  runtime/doc/autocmd.txt
  runtime/doc/develop.txt
  runtime/doc/editing.txt
  runtime/doc/help.txt
  runtime/doc/index.txt
  runtime/doc/insert.txt
  runtime/doc/lua-bit.txt
  runtime/doc/options.txt
  runtime/doc/syntax.txt
  runtime/doc/ui.txt
  runtime/lua/vim/_meta/options.lua
  scripts/lintdoc.lua
  src/gen/gen_help_html.lua
  src/nvim/options.lua
Labels: build

#32687 feat(messages): "g<" mapping for ext_messages
  src/nvim/memory.c
  src/nvim/message.c
  src/nvim/message.h
  src/nvim/message_defs.h
  test/functional/ui/messages_spec.lua
  test/unit/eval/decode_spec.lua
  test/unit/eval/typval_spec.lua
Labels: ui-extensibility, messages, ci:skip-news

#32806 docs(api): show "since" in API docs
  runtime/doc/api.txt
  src/gen/cdoc_parser.lua
Labels: api

#32802 perf(events): use hashy for event name lookup
  src/gen/gen_events.lua
  src/nvim/CMakeLists.txt
  src/nvim/autocmd.c
Labels: events, ci:skip-news

#32808 vim-patch:9.1.1190: C indentation does not detect multibyte labels
  src/nvim/indent_c.c
  test/old/testdir/test_indent.vim
Labels: vim-patch

#32811 refactor(gen_events): sort enums case-insensitively
  src/gen/gen_events.lua
  src/nvim/autocmd.c
Labels: refactor

#32804 vim-patch:42e498d: runtime(plsql): move fold option from syntax to filetype plugin
  runtime/doc/filetype.txt
  runtime/ftplugin/plsql.vim
  runtime/syntax/plsql.vim
Labels: vim-patch

#32812 vim-patch:d49ba7b: runtime(sh): set b:match_skip to ignore matches for matchit
  runtime/ftplugin/sh.vim
Labels: vim-patch

#32700 fix(lua-types): add enums for vim.api.keyset.win_config
  runtime/lua/vim/_meta/api_keysets.lua
  src/gen/gen_eval_files.lua
Labels: needs:response

#32793 feat(lsp): add support for completion context
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/completion.lua
  runtime/lua/vim/lsp/protocol.lua
  test/functional/plugin/lsp/completion_spec.lua
Labels: lsp

#32785 fix(lsp)!: pass buffer number to root_dir function
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp, breaking-change, ci:skip-news

#32825 feat(checkhealth): group parsers by name and path in output
  runtime/lua/vim/treesitter/health.lua
Labels: treesitter, checkhealth

#32813 fix(events): fix incorrect capitalization of Cmdwin* events
  runtime/doc/cmdline.txt
  runtime/doc/vim_diff.txt
  src/nvim/auevents.lua
  test/functional/autocmd/cmdline_spec.lua
Labels: events

#32829 vim-patch:9.1.1193: Unnecessary use of STRCAT() in au_event_disable()
  src/nvim/autocmd.c
  src/nvim/ex_getln.c
  test/old/testdir/test_arglist.vim
Labels: vim-patch

#32836 ci(deps): bump lua-language-server to 3.13.7
  CMakeLists.txt
Labels: build, ci

#32790 feat(treesitter): disable captures and patterns on TSQuery
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter.lua
  runtime/lua/vim/treesitter/_meta/misc.lua
  runtime/lua/vim/treesitter/_meta/tsquery.lua
  runtime/lua/vim/treesitter/query.lua
  src/gen/gen_vimdoc.lua
  src/nvim/lua/treesitter.c
  test/functional/treesitter/highlight_spec.lua
  test/functional/treesitter/query_spec.lua
Labels: treesitter

#32776 fix(lsp): rename `on_publish_diagnostics` parameter: result->params
  runtime/colors/vim.lua
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp

#32827 fix(ui): schedule UI detach
  src/nvim/msgpack_rpc/channel.c
Labels: ui

#32845 vim-patch:0a336cc: runtime(doc): clarify that a umask is applied to mkdir()
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: vim-patch

#32848 runtime(tera): remove unwanted code and fix issues in syntax script
  runtime/syntax/tera.vim
Labels: runtime

#32851 feat(treesitter): allow passing lang to InspectTree
  runtime/lua/vim/_defaults.lua
Labels: defaults, treesitter, ci:skip-news

#32853 vim-patch:2347330: runtime(compiler): allow customizing exe and args for tsc
  runtime/compiler/tsc.vim
  runtime/doc/quickfix.txt
Labels: vim-patch

#32855 build(deps): bump luajit to 538a82133
  cmake.deps/deps.txt
Labels: build

#32838 feat(treesitter): allow `iter_captures` to accept `opts`
  runtime/doc/news.txt
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/query.lua
Labels: treesitter

#32856 vim-patch:4fa2dd2: runtime(compiler): add comment for Dispatch
  runtime/compiler/context.vim
  runtime/compiler/javac.vim
  runtime/compiler/powershell.vim
  runtime/compiler/tex.vim
  runtime/compiler/typst.vim
Labels: vim-patch

#32858 ci(deps): bump lua-language-server to 3.13.8
  CMakeLists.txt
Labels: build, ci

#32865 vim-patch:c1c3b5d: runtime(doc): remove unnecessary "an"
  runtime/doc/builtin.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
Labels: vim-patch

#32868 test: reduce flakiness in blocking wait tests
  test/functional/core/job_spec.lua
  test/functional/ui/cursor_spec.lua
  test/functional/ui/messages_spec.lua
Labels: test

#32866 vim-patch:9.1.1195: inside try-block: fn body executed with default arg undefined
  src/nvim/eval/userfunc.c
  test/old/testdir/test_user_func.vim
Labels: vim-patch

#32867 vim-patch:9.1.1198: [security]: potential data loss with zip.vim
  runtime/autoload/zip.vim
  test/old/testdir/samples/poc.zip
  test/old/testdir/test_plugin_zip.vim
Labels: vim-patch

#32872 ci(deps): bump lua-language-server to 3.13.9
  CMakeLists.txt
Labels: build, ci

#32873 vim-patch:9.1.1196: filetype: config files for container tools are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#32879 vim-patch:9.1.1200: cmdline pum not cleared for input() completion
  test/functional/legacy/cmdline_spec.lua
  test/old/testdir/test_cmdline.vim
Labels: test, vim-patch

#32880 Backport #32739 to release-0.10
  src/nvim/tag.c
  test/old/testdir/test_tagjump.vim
Labels: target:release

#32881 vim-patch:4d2c4b9: runtime(doc): document gitrebase filetype
  runtime/doc/filetype.txt
Labels: documentation, vim-patch

#32882 refactor(gen_keycodes): put TAB and K_TAB together
  src/gen/gen_keycodes.lua
  src/gen/preload_nlua.lua
Labels: refactor

#32859 fix(vim.fs): change default `follow` value
  runtime/doc/lua.txt
  runtime/doc/news.txt
  runtime/lua/vim/fs.lua
Labels: filesystem

#31887 feat(snippet): set snippet keymaps permanent instead of dynamic
  runtime/doc/lua.txt
  runtime/lua/vim/_defaults.lua
  runtime/lua/vim/snippet.lua
  test/functional/lua/snippet_spec.lua
  test/functional/plugin/lsp/completion_spec.lua
Labels: defaults, snippet

#32885 test: flaky loop_spec.lua
  test/functional/lua/loop_spec.lua
Labels: test

#32884 test: do not dedent() in feed()
  test/functional/ex_cmds/cmd_map_spec.lua
  test/functional/legacy/034_user_function_spec.lua
  test/functional/legacy/069_multibyte_formatting_spec.lua
  test/functional/plugin/man_spec.lua
  test/functional/testnvim.lua
Labels: test

#32888 vim-patch:f22580e: runtime(doc): update a few minor omissions from 5876016 and 4d2c4b9
  runtime/doc/filetype.txt
Labels: documentation, vim-patch

#32895 vim-patch: buffer overflow when expanding long file name
  src/nvim/path.c
Labels: vim-patch

#32899 vim-patch:2329bd4: runtime(doc): fix a typo in gitrebase filetype
  runtime/doc/filetype.txt
Labels: documentation, vim-patch

#32900 vim-patch:9.1.1203: matchparen keeps cursor on case label in sh filetype
  runtime/plugin/matchparen.vim
  test/functional/legacy/matchparen_spec.lua
  test/old/testdir/test_plugin_matchparen.vim
Labels: vim-patch

#32901 vim-patch:96395e1: runtime(cs): Update C# runtime files
  runtime/doc/syntax.txt
  runtime/ftplugin/cs.vim
  runtime/syntax/cs.vim
Labels: vim-patch

#32902 vim-patch:9.1.1204: MS-Windows: crash when passing long string to expand()
  src/nvim/path.c
  test/old/testdir/test_expand_func.vim
Labels: vim-patch, ci:backport release-0.10

#32903 vim-patch:9.1.1205: completion: preinserted text not removed when closing pum
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#32905 vim-patch:9.1.1206: tests: test_filetype fails when a file is a directory
  test/old/testdir/test_filetype.vim
Labels: test, vim-patch

#32907 test(old): fix test_tabline failure
  test/old/testdir/test_sha256.vim
  test/old/testdir/test_tabline.vim
Labels: test

#32875 fix(cmdline): ext_cmdline block events for conditionals
  src/nvim/ex_docmd.c
  test/functional/ui/cmdline_spec.lua
Labels: ui-extensibility, cmdline-mode

#32909 feat(defaults): completeopt=popup
  runtime/doc/options.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
  test/functional/ui/popupmenu_spec.lua
Labels: defaults, ci:skip-news

#32892 fix(lsp): autocmds to close lsp preview windows not cleared
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#32910 fix(lsp): correctly check for "codeAction/resolve" support
  runtime/lua/vim/lsp/buf.lua
Labels: lsp

#32912 fix(column): appropriate v:lnum for 'statuscolumn' virtual lines
  src/nvim/drawline.c
  test/functional/ui/statuscolumn_spec.lua
Labels: column

#32915 refactor(test): deprecate n.feed_command()
  runtime/doc/news.txt
  test/functional/editor/completion_spec.lua
  test/functional/testnvim.lua
Labels: refactor, test

#32896 docs(lsp): simplify example of enabling LSP folding
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp.lua
Labels: lsp

#32336 refactor(tui): disable kitty key event reporting
  src/nvim/tui/tui.c
Labels: refactor, tui

#32862 fix(marks): issues with invalid marks and marks beyond eob
  src/nvim/decoration.c
  src/nvim/drawscreen.c
  src/nvim/extmark.c
  test/functional/ui/decorations_spec.lua
Labels: marks

#32919 refactor(test): move runtime_spec.lua to editor/
  test/functional/editor/runtime_spec.lua
Labels: refactor, test

#32918 fix(checkhealth): when plugin has nested lua directory
  runtime/lua/vim/health.lua
  test/functional/fixtures/lua/test_plug/lua/health.lua
  test/functional/plugin/health_spec.lua
Labels: checkhealth

#32911 refactor(lsp)!: rename lsp.completion.trigger() to get()
  runtime/doc/deprecated.txt
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/completion.lua
  test/functional/plugin/lsp/completion_spec.lua
Labels: refactor, lsp, breaking-change

#32617 build(contrib): add zsh completion
  contrib/zsh-completion.zsh
Labels: build

#32929 perf(lsp): don't construct potentially expensive strings
  runtime/doc/news.txt
  runtime/lua/vim/lsp/rpc.lua
Labels: lsp

#32931 vim-patch:3c7d9b1: runtime(prql): include prql syntax script
  runtime/syntax/prql.vim
Labels: vim-patch

#32871 test(lsp): add some tests for LSP bugs
  test/functional/plugin/lsp/inlay_hint_spec.lua
  test/functional/plugin/lsp/semantic_tokens_spec.lua
Labels: test, lsp

#32810 docs: misc
  .editorconfig
  runtime/doc/api.txt
  runtime/doc/autocmd.txt
  runtime/doc/intro.txt
  runtime/doc/lsp.txt
  runtime/doc/motion.txt
  runtime/doc/options.txt
  runtime/doc/quickref.txt
  runtime/doc/terminal.txt
  runtime/doc/ui.txt
  runtime/doc/vvars.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/options.lua
  runtime/lua/vim/_meta/vvars.lua
  runtime/lua/vim/lsp/completion.lua
  src/nvim/api/buffer.c
  src/nvim/api/command.c
  src/nvim/api/deprecated.c
  src/nvim/api/extmark.c
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/api/window.c
  src/nvim/options.lua
  src/nvim/vvars.lua
Labels: editorconfig

#32944 fix(column): unnecessary redraws with resized 'statuscolumn'
  src/nvim/buffer_defs.h
  src/nvim/decoration.c
  src/nvim/drawscreen.c
Labels: display, column

#32935 vim-patch: too many strlen() calls in edit.c
  src/nvim/change.c
  src/nvim/edit.c
  src/nvim/ops.c
  test/old/testdir/test_put.vim
Labels: vim-patch

#32938 fix(diagnostic): remove deprecated `severity_limit` option
  runtime/doc/news.txt
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp, diagnostic

#32948 test: cleanup ftplugin_spec.lua
  runtime/lua/vim/_ftplugin/lua.lua
  test/functional/editor/ftplugin_spec.lua
Labels: test

#32940 fix(lua): ensure inspect_pos() only shows visible highlight extmarks
  runtime/lua/vim/_inspector.lua
  test/functional/lua/inspector_spec.lua
Labels: lua, marks

#32950 fix(runtime): E15: Invalid expression in lua file when `gf`
  runtime/ftplugin/lua.lua
Labels: runtime

#32957 fix(help): remove runnable code virtual text
  runtime/ftplugin/help.lua
Labels: documentation, runtime, revisit-at-release

#32962 build(deps): bump tree-sitter-vimdoc to v3.0.1
  cmake.deps/deps.txt
Labels: build

#32963 build(deps): bump tree-sitter-query to v0.5.1
  cmake.deps/deps.txt
Labels: build

#31074 feat(float): add winborder option
  runtime/doc/api.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/options.lua
  runtime/lua/vim/lsp/util.lua
  src/nvim/api/win_config.c
  src/nvim/option_vars.h
  src/nvim/options.lua
  src/nvim/optionstr.c
  test/functional/ui/float_spec.lua
  test/old/testdir/gen_opt_test.vim
Labels: floatwin

#32976 vim-patch:9.1.1221: Wrong cursor pos when leaving Insert mode just after 'autoindent'
  src/nvim/edit.c
  test/old/testdir/test_edit.vim
Labels: vim-patch

#32955 vim-patch:9.1.1220: filetype: uv.lock file not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#32978 fix(options): fix 'winborder' accepting multiple string values
  src/nvim/options.lua
  src/nvim/optionstr.c
  test/old/testdir/gen_opt_test.vim
Labels: options

#32981 fix(api): fix 'winborder' preventing splits with nvim_open_win
  src/nvim/api/win_config.c
  src/nvim/option_vars.h
  src/nvim/options.lua
  test/functional/api/window_spec.lua
Labels: api

#32973 fix(marks): ensure decor is removed with proper range
  src/nvim/extmark.c
  test/functional/ui/decorations_spec.lua
Labels: marks

#32971 fix(runtime): gO always says "Help TOC"
  runtime/ftplugin/checkhealth.lua
  runtime/ftplugin/help.lua
  runtime/ftplugin/markdown.lua
  runtime/lua/man.lua
  runtime/lua/vim/treesitter/_headings.lua
Labels: runtime, treesitter

#32979 fix(diagnostic): clear autocmd only for valid buf for virtual_lines handler
  runtime/lua/vim/diagnostic.lua
Labels: diagnostic

#32227 fix(filetype): normalize full path before matching with patterns
  runtime/lua/vim/filetype.lua
  test/functional/lua/filetype_spec.lua
Labels: filetype

#32992 fix(path): crash with nvim_get_runtime_file during wildcard expansion
  src/nvim/path.c
Labels: event-loop

#32970 fix(snippet): wrong indentation when snippet contains `^ `
  runtime/lua/vim/snippet.lua
  test/functional/lua/snippet_spec.lua
Labels: snippet

#32988 fix(checkhealth): fail to find the module when `&rtp` have nested paths
  runtime/lua/vim/health.lua
Labels: checkhealth

#32990 fix(messages): incorrect error message splitting and kind
  src/nvim/eval/funcs.c
  src/nvim/ex_docmd.c
  src/nvim/getchar.c
  src/nvim/lua/executor.c
  src/nvim/main.c
  src/nvim/mapping.c
  src/nvim/message.c
  test/functional/lua/ui_event_spec.lua
  test/functional/ui/messages_spec.lua
Labels: ui-extensibility, messages

#32998 vim-patch:9.1.1226: "shellcmdline" completion doesn't work with input()
  src/nvim/cmdexpand.c
  test/old/testdir/test_functions.vim
Labels: vim-patch

#33013 docs(treesitter): document TSNode:named_children()
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/_meta/tsnode.lua
Labels: treesitter

#33006 docs: LSP completion
  runtime/doc/insert.txt
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/completion.lua
Labels: lsp

#33018 build(deps): bump tree-sitter parsers
  cmake.deps/deps.txt
Labels: build

#33016 fix: considering opts.title as [string,string][] in _make_floating_pop_size
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/util.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp, ci:skip-news

#33022 feat(provider/python)!: add python 3.13, drop 3.7 and 3.8 (EOL)
  runtime/lua/vim/provider/python.lua
Labels: provider, breaking-change

#33026 build(release.sh): fix hang when generating docs
  scripts/release.sh
Labels: build

#33035 vim-patch:9.1.1231: filetype: SPA JSON files are not recognized
  runtime/ftplugin/spajson.vim
  runtime/indent/spajson.vim
  runtime/lua/vim/filetype.lua
  runtime/syntax/spajson.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#33017 test(log): redirect to tempfile when testing for expected logs
  test/functional/lua/ui_event_spec.lua
  test/functional/ui/decorations_spec.lua
Labels: test

#33034 test(checkhealth): when &rtp contain nested path
  test/functional/fixtures/pack/foo/opt/healthy/lua/nest/health.lua
  test/functional/plugin/health_spec.lua
Labels: test, checkhealth
