Repository neovim/neovim, pull requests merged in 2025-09, with the labels that each got.

#35345 ci: Add support for building windows on arm packages
  .github/scripts/env.ps1
  .github/workflows/release.yml
  cmake.packaging/CMakeLists.txt
Labels: build, ci

#35585 ci(release): link to release notes
  .github/workflows/notes.md
  .github/workflows/release.yml
Labels: ci

#35581 vim-patch:9.1.1717: filetype: AWS cli alias file is not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#35583 vim-patch:9.1.1718: filetype: kubectl config file is not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#35533 feat(progress): better default format + history sync
  runtime/doc/news.txt
  runtime/doc/syntax.txt
  src/nvim/api/vim.c
  src/nvim/highlight.h
  src/nvim/highlight_defs.h
  src/nvim/highlight_group.c
  src/nvim/lua/executor.c
  src/nvim/message.c
  test/functional/ui/cursor_spec.lua
  test/functional/ui/messages_spec.lua
Labels: ci:skip-news

#35595 vim-patch:9.1.1724: Compiler warning about ununitialized variable in ex_docmd.
  src/nvim/ex_docmd.c
Labels: vim-patch

#29073 docs: add guide for developing Lua plugins
  runtime/doc/lua-guide.txt
  runtime/doc/lua-plugin.txt
Labels: documentation, ci:backport release-0.11

#35596 vim-patch:71149df: runtime(java): Dismiss "g:markdown_fenced_languages" for Java buffers
  runtime/syntax/java.vim
Labels: vim-patch

#35613 vim-patch:9.1.1730: filetype: vivado journal/log files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#35617 fix(window): avoid referencing cmdline_win after it is closed
  src/nvim/window.c
  test/functional/lua/ui_event_spec.lua
Labels: floatwin, window

#35634 vim-patch:9.1.1731: Not using const qualifier for opchars
  src/nvim/ops.c
Labels: vim-patch

#35635 vim-patch:9.1.1732: filetype: .inc file detection can be improved
  runtime/lua/vim/filetype/detect.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#35625 feat(pack): use `nvim_echo` with `kind='progress'` to report progress
  runtime/lua/vim/pack.lua
  test/functional/plugin/pack_spec.lua
Labels: ci:skip-news, packages

#35645 vim-patch: Python syntax updates
  runtime/syntax/python.vim
Labels: vim-patch

#35646 vim-patch:9.1.1734: Memory leak when allocating match fails
  src/nvim/match.c
Labels: vim-patch

#35647 vim-patch: runtime file updates
  runtime/ftplugin/ada.vim
  runtime/ftplugin/hamster.vim
  runtime/syntax/m4.vim
Labels: vim-patch

#35657 docs(lsp): tweak `inline_completion.get` code snippet
  runtime/doc/lsp.txt
  runtime/lua/vim/lsp/inline_completion.lua
Labels: lsp

#35661 build(deps): bump tree-sitter-query to v0.7.0
  build.zig.zon
  cmake.deps/deps.txt
Labels: build

#35600 docs: adjust *lua-plugin-init* wording
  runtime/doc/lua-plugin.txt
Labels: documentation

#35565 fix(cjson): fix `strbuf_set_length` incorrectness introduced by #32114
  src/cjson/fpconv.c
  src/cjson/strbuf.c
  src/cjson/strbuf.h
Labels: ci:backport release-0.11

#35673 vim-patch: cmdline completion fixes
  src/nvim/cmdexpand.c
  src/nvim/cmdexpand.h
  src/nvim/ex_getln.c
  test/functional/legacy/cmdline_spec.lua
  test/functional/ui/cmdline_spec.lua
  test/functional/ui/popupmenu_spec.lua
  test/old/testdir/test_cmdline.vim
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#35675 docs: backport
  runtime/doc/api.txt
  runtime/doc/change.txt
  runtime/doc/develop.txt
  runtime/doc/lua-guide.txt
  runtime/doc/lua-plugin.txt
  scripts/cliff.toml
  scripts/release.sh
  src/gen/gen_help_html.lua
  src/nvim/README.md
  src/nvim/api/vim.c
Labels: target:release

#35659 Fix unittests on aarch64 / arm64
  .github/workflows/test.yml
  test/unit/testutil.lua
Labels: ci, ci:backport release-0.11

#35679 fix(api): crash when moving curwin to other tabpage
  src/nvim/api/win_config.c
  src/nvim/buffer.c
  src/nvim/version.c
  src/nvim/window.c
  test/functional/api/window_spec.lua
Labels: api, refactor

#35689 fix(tests): ignore vector math types
  test/unit/testutil.lua
Labels: test, target:release

#35693 vim-patch: Python syntax updates
  runtime/syntax/python.vim
Labels: vim-patch

#35536 perf(highlight): allow decoration providers to skip ranges without data
  runtime/doc/api.txt
  runtime/lua/vim/_meta/api.lua
  runtime/lua/vim/_meta/api_keysets.lua
  runtime/lua/vim/treesitter/highlighter.lua
  src/nvim/api/extmark.c
  src/nvim/api/keysets_defs.h
  src/nvim/decoration.c
  src/nvim/decoration.h
  src/nvim/decoration_defs.h
  src/nvim/decoration_provider.c
  src/nvim/lua/executor.c
  src/nvim/lua/executor.h
Labels: highlight, treesitter

#35697 vim-patch:80981e1: runtime(doc): mention 'findfunc' at :h :find
  runtime/doc/editing.txt
Labels: documentation, vim-patch, ci:backport release-0.11

#35698 vim-patch:9.1.1747: completion: redo (.) broken with preinsert and autocompletion
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#35701 refactor: remove cmdline_pum_create() return value
  src/nvim/cmdexpand.c
Labels: refactor

#35577 vim-patch:8.1.{1751,1920,1940},9.0.0729
  runtime/doc/rileft.txt
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/main.c
  src/nvim/mouse.c
Labels: vim-patch

#35703 refactor(lua): fix coverity warning from #35536
  src/nvim/lua/executor.c
Labels: refactor, lua

#35705 vim-patch:9.1.1751: potential buffer-overflow in find_pattern_in_path()
  src/nvim/search.c
Labels: vim-patch

#35741 vim-patch:e8bbdb9: runtime(doc): Add :defe[r] shortname spec and tag
  runtime/doc/userfunc.txt
Labels: documentation, vim-patch

#35736 vim-patch:2328a39,ec961b0,6d6ec2e,73d8222,ee1a24b,5b97947,da53af5,29d596c,d623773,839fd94,d1a975a,09a62e6,1319009,600cd88,f5e3b5c,7e47c1e,2249cc0,ef92555,b3eaae2,0bda783,c849b17,6a6a44f,5346688,5f83674,9e100b8
  runtime/pack/dist/opt/netrw/autoload/netrw.vim
  runtime/pack/dist/opt/netrw/autoload/netrw/fs.vim
  runtime/pack/dist/opt/netrw/autoload/netrw/msg.vim
  runtime/pack/dist/opt/netrw/autoload/netrw/os.vim
  runtime/pack/dist/opt/netrw/doc/netrw.txt
  runtime/pack/dist/opt/netrw/plugin/netrwPlugin.vim
Labels: vim-patch

#35715 vim-patch:8.1.1964: crash when using nested map() and filter()
  src/nvim/eval.c
Labels: vim-patch

#35745 fix(tui): don't wait for DA1 response when stdin is closed
  src/nvim/tui/tui.c
  test/functional/terminal/tui_spec.lua
Labels: tui, ci:backport release-0.11

#35733 feat(pack): add a choice to confirm all installations in current session
  runtime/lua/vim/pack.lua
  test/functional/plugin/pack_spec.lua
Labels: ci:skip-news, packages

#35707 fix(ui): forward 'rulerformat' to msg_ruler event
  runtime/doc/news.txt
  src/nvim/api/vim.c
  src/nvim/cmdexpand.c
  src/nvim/option.c
  src/nvim/statusline.c
  src/nvim/statusline.h
  test/functional/legacy/statusline_spec.lua
  test/functional/ui/messages_spec.lua
  test/old/testdir/test_statusline.vim
Labels: ui, ui-extensibility, statusline

#32535 feat(ui): support grid=0 in nvim_input_mouse
  runtime/doc/api.txt
  runtime/doc/develop.txt
  runtime/doc/news.txt
  runtime/lua/vim/_meta/api.lua
  src/nvim/api/vim.c
  src/nvim/getchar.c
  src/nvim/mouse.c
  src/nvim/popupmenu.c
  src/nvim/terminal.c
  src/nvim/ui_compositor.c
  src/nvim/window.c
  src/nvim/winfloat.c
  test/functional/ui/float_spec.lua
  test/functional/ui/mouse_spec.lua
  test/functional/ui/popupmenu_spec.lua
Labels: ui

#35748 vim-patch:partial:450d591: runtime(doc): tweak documentation style
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#35750 build(gen_helptags): update check for example
  src/gen/gen_helptags.lua
Labels: build

#35749 fix(lsp): misleading logs in non-applicable filetypes
  runtime/lua/vim/lsp.lua
  test/functional/plugin/lsp_spec.lua
Labels: lsp, ci:backport release-0.11

#35761 vim-patch:partial:235e77a: runtime(doc): Tweak documentation style more in options and ft_hare
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#35762 vim-patch:c37f25c: runtime(doc): update Markdown syntax documentation and mention Pandoc
  runtime/doc/syntax.txt
Labels: documentation, vim-patch

#35763 vim-patch:81ca991: runtime(html): guard against an existing b:undo_ftplugin var
  runtime/ftplugin/html.vim
Labels: vim-patch

#35769 fix(lua): don't leak handle when vim._watch.watch() fails (#35768)
  runtime/lua/vim/_watch.lua
  test/functional/ui/decorations_spec.lua
Labels: lua, target:release

#35765 build: allow comments in deps.txt
  cmake.deps/deps.txt
  cmake/Deps.cmake
Labels: build

#35773 fix(paste): don't use :echo immediately before :redraw
  runtime/lua/vim/_editor.lua
Labels: ci:backport release-0.11

#35784 backport: feat(help): gx opens help tag in web browser
  runtime/doc/news.txt
  runtime/ftplugin/help.lua
  test/functional/lua/ui_spec.lua
Labels: target:release

#35782 test(swapfile_preserve_recover_spec): fix flaky test
  test/functional/ex_cmds/swapfile_preserve_recover_spec.lua
Labels: test, ci:backport release-0.11

#35785 vim-patch:8e0d374: runtime(doc): Improve the doc for :syn-containedin
  runtime/doc/syntax.txt
Labels: documentation, vim-patch

#35774 fix(lsp): avoid re-enabling `document_color` on `registerCapability`
  runtime/lua/vim/lsp.lua
  runtime/lua/vim/lsp/client.lua
Labels: lsp

#35788 vim-patch:d4c2cb4: runtime(doc): Improve doc for cmdline-ranges in cmdline.txt
  runtime/doc/cmdline.txt
  runtime/doc/usr_10.txt
Labels: documentation, vim-patch

#35787 vim-patch:9.1.{1755,1759}
  runtime/syntax/log.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch

#35789 vim-patch:9.1.1764: filetype: CODEOWNERS file not recognized
  runtime/ftplugin/codeowners.vim
  runtime/lua/vim/filetype.lua
  runtime/syntax/codeowners.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#35804 build(deps): bump tree-sitter-markdown to v0.5.1
  build.zig.zon
  cmake.deps/deps.txt
Labels: build

#35817 test(ui/messages2_spec): close unfinished timers at end of test
  test/functional/ui/messages2_spec.lua
Labels: test

#35822 vim-patch:5bf41e7: runtime(netrw): update regex to handle remote archives
  runtime/pack/dist/opt/netrw/autoload/netrw.vim
Labels: vim-patch

#35823 vim-patch:9.1.{1550,1761}
  runtime/doc/vim_diff.txt
  test/old/testdir/setup.vim
  test/old/testdir/test_autocmd.vim
  test/old/testdir/test_display.vim
  test/old/testdir/test_options.vim
  test/old/testdir/test_registers.vim
  test/old/testdir/test_scroll_opt.vim
Labels: vim-patch

#35825 vim-patch:6701480: runtime(filetype): Use s:StarSetf for all patterns ending in *
  runtime/lua/vim/filetype.lua
Labels: vim-patch, filetype

#35832 vim-patch: Autoconf M4 syntax updates
  runtime/syntax/config.vim
Labels: vim-patch

#35829 vim-patch:9.1.1775: filetype: Mamba configuration files are not recognized
  runtime/lua/vim/filetype.lua
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#35833 vim-patch:9.1.{1621,1771}
  src/nvim/cmdexpand.c
  src/nvim/ex_getln.c
  src/nvim/insexpand.c
  test/functional/legacy/cmdline_spec.lua
  test/old/testdir/test_cmdline.vim
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#35834 vim-patch:9.1.1769: completion: "preinsert" insert wrong word with 'smartcase' and 'autocomplete'
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#35835 vim-patch:9.1.1772: completion: inconsistent selection of first item with 'autocomplete'
  src/nvim/insexpand.c
  test/functional/editor/completion_spec.lua
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#35838 fix(tests): fix flakiness on prompt mark set after buftype change
  test/functional/legacy/prompt_buffer_spec.lua
Labels: test

#35843 build(contrib): add bash completion for nvim
  contrib/nvim.bash
Labels: build

#35849 vim-patch:9.1.{1774,1778}: cannot calculate sha256 of a Blob
  runtime/doc/vimfn.txt
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/eval.lua
  src/nvim/eval/funcs.c
  test/old/testdir/test_sha256.vim
Labels: vim-patch

#35851 vim-patch:9.1.1777: Mouse click to open fold doesn't work with utf-8 "foldclose" chars
  test/old/testdir/test_termcodes.vim
Labels: test, vim-patch

#35850 vim-patch:9.1.1776: completion: "adding" expansion doesn't work with cfc=keyword
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#35852 vim-patch:841becd: runtime(lf): update syntax to support lf version r38
  runtime/syntax/lf.vim
Labels: vim-patch

#35856 test: fix 'autocompletedelay' test flakiness
  test/functional/editor/completion_spec.lua
Labels: test

#35862 refactor: remove unused fn `au_event_is_empty`
  src/nvim/autocmd.c
Labels: refactor

#35865 fix: Fix spurious errors in :checkhealth when using pyenv-virtualenv.
  runtime/lua/vim/provider/health.lua
Labels: checkhealth, ci:backport release-0.11

#35871 perf(events): skip Progress prep if there are no subscribers
  src/nvim/message.c
Labels: events, ci:skip-news

#35873 test: reduce some clear() calls
  test/functional/ex_cmds/echo_spec.lua
  test/functional/legacy/increment_spec.lua
  test/functional/legacy/undolevels_spec.lua
  test/functional/plugin/msgpack_spec.lua
  test/functional/plugin/shada_spec.lua
  test/functional/testnvim.lua
  test/functional/vimscript/json_functions_spec.lua
  test/functional/vimscript/minmax_functions_spec.lua
  test/functional/vimscript/msgpack_functions_spec.lua
  test/functional/vimscript/operators_spec.lua
  test/functional/vimscript/printf_spec.lua
  test/functional/vimscript/screenchar_spec.lua
  test/functional/vimscript/sort_spec.lua
  test/functional/vimscript/string_spec.lua
  test/functional/vimscript/uniq_spec.lua
Labels: test

#35863 fix: allow list of strings for vim.diagnostic.Opts.border
  runtime/doc/diagnostic.txt
  runtime/lua/vim/diagnostic.lua
Labels: typo, diagnostic

#35866 show diagnostics of freshly loaded buffer
  runtime/lua/vim/diagnostic.lua
Labels: diagnostic

#35841 fix: remove typo from buffer-local LSP docs
  runtime/doc/lsp.txt
Labels: documentation, typo

#35878 vim-patch:9.1.{1781,1783}
  src/nvim/eval.c
  src/nvim/insexpand.c
Labels: vim-patch

#35879 vim-patch:224f8ca: runtime(doc): clarify 'fileignorecase' option setting
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#35895 vim-patch:11bde1f: runtime(sh): refactored sh.vim syntax script
  runtime/syntax/sh.vim
Labels: vim-patch

#35898 vim-patch:b1446df: runtime(vim): Update base syntax, match :wincmd
  runtime/syntax/vim.vim
Labels: vim-patch

#35901 test: don't call clear() in both before_each() and after_each()
  test/functional/lua/glob_spec.lua
  test/functional/lua/pos_spec.lua
  test/functional/lua/range_spec.lua
  test/functional/lua/snippet_spec.lua
  test/functional/plugin/lsp/codelens_spec.lua
  test/functional/plugin/lsp/completion_spec.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
  test/functional/plugin/lsp/snippet_spec.lua
Labels: test

#35902 test(lua/secure_spec): clean up properly
  test/functional/lua/secure_spec.lua
Labels: test

#35888 fix(highlight): allow ephemeral extmarks past final newline
  src/nvim/api/extmark.c
Labels: highlight

#35913 test(unit): disable JIT when using mocks
  test/unit/eval/typval_spec.lua
  test/unit/testutil.lua
Labels: test, ci:backport release-0.11

#35916 vim-patch:b6f9d38: runtime(doc): Improve documentation of the ..= assignment operator
  runtime/doc/cmdline.txt
  runtime/doc/filetype.txt
  runtime/doc/quickfix.txt
  runtime/doc/usr_40.txt
  runtime/doc/vimeval.txt
Labels: documentation, vim-patch

#35917 vim-patch:9.1.1790: completion: Enter does not insert match with "noinsert"
  src/nvim/insexpand.c
  test/old/testdir/test_edit.vim
Labels: vim-patch

#35918 vim-patch:900c747: runtime(python): fix 'type' syntax highlighting
  runtime/syntax/python.vim
Labels: vim-patch

#35921 fix(plines): count 'showbreak' in EOL inline virt_text in line size
  src/nvim/plines.c
  test/functional/ui/decorations_spec.lua
Labels: ci:backport release-0.11

#35922 fix(plines): count 'showbreak' in EOL inline virt_text in line size (#35921)
  src/nvim/plines.c
  test/functional/ui/decorations_spec.lua
Labels: target:release

#35790 vim-patch:8.1.{2021,2077}
  src/gen/gen_ex_cmds.lua
  src/nvim/api/command.c
  src/nvim/api/vim.c
  src/nvim/edit.c
  src/nvim/eval.c
  src/nvim/eval/funcs.c
  src/nvim/eval/vars.c
  src/nvim/ex_docmd.c
  src/nvim/ex_getln.c
  src/nvim/insexpand.c
  src/nvim/main.c
  src/nvim/memory.c
  src/nvim/message.c
  src/nvim/mouse.c
  src/nvim/normal.c
  src/nvim/ops.c
  src/nvim/ops.h
  src/nvim/register.c
  src/nvim/register.h
  src/nvim/register_defs.h
  src/nvim/shada.c
Labels: vim-patch

#35928 fix(highlight): ensure extmark range is within buffer bounds
  runtime/lua/vim/treesitter/highlighter.lua
  src/nvim/api/extmark.c
Labels: highlight, treesitter

#35911 build(vim-patch.sh): ignore runtime/*/testdir/
  runtime/indent/Makefile
  runtime/indent/README.txt
  runtime/indent/testdir/README.txt
  runtime/indent/testdir/bash.in
  runtime/indent/testdir/bash.ok
  runtime/indent/testdir/bitbake.in
  runtime/indent/testdir/bitbake.ok
  runtime/indent/testdir/dts.in
  runtime/indent/testdir/dts.ok
  runtime/indent/testdir/html.in
  runtime/indent/testdir/html.ok
  runtime/indent/testdir/krl.in
  runtime/indent/testdir/krl.ok
  runtime/indent/testdir/lua.in
  runtime/indent/testdir/lua.ok
  runtime/indent/testdir/make.in
  runtime/indent/testdir/make.ok
  runtime/indent/testdir/matlab.in
  runtime/indent/testdir/matlab.ok
  runtime/indent/testdir/python.in
  runtime/indent/testdir/python.ok
  runtime/indent/testdir/rapid.in
  runtime/indent/testdir/rapid.ok
  runtime/indent/testdir/runtest.vim
  runtime/indent/testdir/sshconfig.in
  runtime/indent/testdir/sshconfig.ok
  runtime/indent/testdir/tcl.in
  runtime/indent/testdir/tcl.ok
  runtime/indent/testdir/thrift.in
  runtime/indent/testdir/thrift.ok
  runtime/indent/testdir/vb.in
  runtime/indent/testdir/vb.ok
  runtime/indent/testdir/vim.in
  runtime/indent/testdir/vim.ok
  runtime/indent/testdir/xml.in
  runtime/indent/testdir/xml.ok
  runtime/indent/testdir/yaml.in
  runtime/indent/testdir/yaml.ok
  scripts/vim-patch.sh
Labels: build

#35931 vim-patch:9.1.1798: Wrong display with 'sms' and long wrapped virt text at EOL (#35930)
  src/nvim/drawline.c
  test/functional/ui/decorations_spec.lua
Labels: vim-patch, target:release

#35937 fix(lsp): use correct `workspace.diagnostics` capability key
  runtime/lua/vim/lsp/protocol.lua
Labels: lsp

#35938 fix(lsp): remove `vim.lsp.diagnostic.reset()`
  runtime/doc/deprecated.txt
  runtime/lua/vim/lsp/diagnostic.lua
Labels: lsp

#35946 vim-patch:9.1.1802: 'nowrap' in a modeline may hide malicious code
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/buffer_defs.h
  src/nvim/drawline.c
  src/nvim/option.c
  src/nvim/options.lua
  test/old/testdir/test_modeline.vim
Labels: vim-patch

#35947 vim-patch:91ac18c: runtime(java): Recognise _module_ import declarations
  runtime/doc/syntax.txt
  runtime/syntax/java.vim
Labels: vim-patch

#35958 vim-patch:05e44e9: runtime(tex): add amsmath support to tex syntax script
  runtime/syntax/tex.vim
Labels: vim-patch

#35962 vim-patch:9.1.{1797,1800,1810}
  runtime/doc/options.txt
  runtime/doc/usr_41.txt
  runtime/doc/vimfn.txt
  runtime/lua/vim/_meta/options.lua
  runtime/lua/vim/_meta/vimfn.lua
  src/nvim/edit.c
  src/nvim/eval.lua
  src/nvim/insexpand.c
  src/nvim/options.lua
  test/functional/editor/completion_spec.lua
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#35963 vim-patch:9.1.1799: completion: crash with autcompletion
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch
