Repository neovim/neovim, pull requests merged in 2025-10, with the labels that each got.

#35969 test(terminal/mouse_spec): forwarding works with resized grid
  src/nvim/plines.c
  test/functional/terminal/mouse_spec.lua
Labels: test

#35924 build: remove redundant variable in cmake/Deps.cmake
  cmake/Deps.cmake
Labels: build

#35978 vim-patch:9.1.{0689,0695,0698}
  src/nvim/search.c
  test/old/testdir/crash/reverse_text_overflow
  test/old/testdir/test_crash.vim
Labels: vim-patch, ci:backport release-0.11

#35970 fix(treesitter): don't add final newline if not present
  src/nvim/lua/treesitter.c
  test/functional/treesitter/parser_spec.lua
Labels: treesitter

#35982 vim-patch:8337d77: runtime(netrw): MS-Windows: fix netrw not being able to navigate to parent folder
  runtime/pack/dist/opt/netrw/autoload/netrw.vim
  runtime/pack/dist/opt/netrw/autoload/netrw/fs.vim
Labels: vim-patch

#35985 vim-patch: doc updates
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/options.lua
Labels: vim-patch

#35973 feat(tui): draw native progress bars for Progress events
  runtime/doc/news.txt
  runtime/doc/vim_diff.txt
  runtime/lua/vim/_defaults.lua
Labels: defaults, tui

#35988 refactor(treesitter): use scratch buffer for string parser
  runtime/doc/treesitter.txt
  runtime/lua/vim/treesitter/_meta/misc.lua
  runtime/lua/vim/treesitter/languagetree.lua
  src/nvim/lua/treesitter.c
  test/functional/treesitter/parser_spec.lua
Labels: refactor, treesitter

#35996 ci: stop using macos-13 runner
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: ci

#35986 vim-patch: tutor updates
  runtime/doc/faq.txt
  runtime/tutor/en/vim-02-beginner.tutor
  runtime/tutor/en/vim-02-beginner.tutor.json
Labels: vim-patch

#36000 Backport to release-0.11
  test/functional/api/autocmd_spec.lua
  test/functional/api/buffer_updates_spec.lua
  test/functional/api/version_spec.lua
  test/functional/autocmd/completedone_spec.lua
  test/functional/core/exit_spec.lua
  test/functional/ex_cmds/echo_spec.lua
  test/functional/legacy/increment_spec.lua
  test/functional/legacy/undolevels_spec.lua
  test/functional/lua/fs_spec.lua
  test/functional/lua/glob_spec.lua
  test/functional/lua/snippet_spec.lua
  test/functional/lua/text_spec.lua
  test/functional/options/keymap_spec.lua
  test/functional/plugin/lsp/codelens_spec.lua
  test/functional/plugin/lsp/completion_spec.lua
  test/functional/plugin/lsp/diagnostic_spec.lua
  test/functional/plugin/lsp/snippet_spec.lua
  test/functional/plugin/lsp/utils_spec.lua
  test/functional/plugin/msgpack_spec.lua
  test/functional/plugin/shada_spec.lua
  test/functional/terminal/tui_spec.lua
  test/functional/testnvim.lua
  test/functional/treesitter/fold_spec.lua
  test/functional/treesitter/node_spec.lua
  test/functional/treesitter/utils_spec.lua
  test/functional/vimscript/functions_spec.lua
  test/functional/vimscript/json_functions_spec.lua
  test/functional/vimscript/minmax_functions_spec.lua
  test/functional/vimscript/msgpack_functions_spec.lua
  test/functional/vimscript/operators_spec.lua
  test/functional/vimscript/printf_spec.lua
  test/functional/vimscript/screenchar_spec.lua
  test/functional/vimscript/sort_spec.lua
  test/functional/vimscript/string_spec.lua
  test/functional/vimscript/uniq_spec.lua
Labels: test, target:release

#36002 vim-patch:0a8b4ef: runtime(log): remove domain highlight
  runtime/syntax/log.vim
Labels: vim-patch

#36005 test(tui_spec): deduplicate (#36003)
  test/functional/terminal/tui_spec.lua
Labels: test, target:release

#36008 vim-patch:9.1.1821: filetype: Not all PKL files are recognized
  runtime/ftplugin/pkl.vim
  runtime/lua/vim/filetype.lua
  runtime/syntax/pkl.vim
  test/old/testdir/test_filetype.vim
Labels: vim-patch, filetype

#36010 vim-patch:9.1.1819: Cannot configure the inner foldlevel indicator
  runtime/doc/fold.txt
  runtime/doc/news.txt
  runtime/doc/options.txt
  runtime/lua/vim/_meta/options.lua
  src/nvim/buffer_defs.h
  src/nvim/drawline.c
  src/nvim/options.lua
  src/nvim/optionstr.c
  test/old/testdir/test_display.vim
Labels: vim-patch

#36012 refactor(terminal): remove an unnecessary xmemdupz() for OSC 8
  src/nvim/terminal.c
Labels: refactor, terminal, ci:backport release-0.11

#35601 fix(api): nvim_open_win respects requested split window size
  src/nvim/api/win_config.c
  test/functional/api/window_spec.lua
Labels: ci:backport release-0.11

#36016 fix(api): nvim_open_win respects requested split window size (#35601)
  src/nvim/api/win_config.c
  test/functional/api/window_spec.lua
Labels: api, target:release

#36019 vim-patch:9.1.1824: tests: no test for displaying 'foldcolumn' with Unicode "foldinner"
  test/old/testdir/test_display.vim
Labels: test, vim-patch

#36021 vim-patch:420923c: runtime(doc): update credits section
  runtime/doc/credits.txt
Labels: documentation, vim-patch

#36040 vim-patch:9.1.1827: completion: v9.1.1797 broke Ctrl-Y behaviour
  src/nvim/edit.c
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#36041 vim-patch:a76ea52: runtime(doc): Use the optional tail command-name spec at :help :sign
  runtime/doc/sign.txt
Labels: documentation, vim-patch

#34919 feat(vim.pack): more actions in confirm-update
  runtime/doc/pack.txt
  runtime/ftplugin/nvim-pack.lua
  runtime/lua/vim/pack.lua
  runtime/lua/vim/pack/_lsp.lua
  test/functional/plugin/pack_spec.lua
Labels: lsp, ci:skip-news, packages

#36047 fix: remove quotes around `nil` deprecation alternatives
  runtime/lua/vim/lsp/util.lua
Labels: lsp

#36046 feat(lsp): pass client ID in code action filter
  runtime/doc/lsp.txt
  runtime/doc/news.txt
  runtime/lua/vim/lsp/buf.lua
Labels: lsp

#36035 vim-patch:8.1.1957,8.2.0200
  src/nvim/api/deprecated.c
  src/nvim/api/private/helpers.c
  src/nvim/api/vim.c
  src/nvim/bufwrite.c
  src/nvim/diff.c
  src/nvim/eval.c
  src/nvim/eval/typval.c
  src/nvim/eval/vars.c
  src/nvim/eval/vars.h
  src/nvim/ex_getln.c
  src/nvim/ex_session.c
  src/nvim/globals.h
  src/nvim/lua/stdlib.c
  src/nvim/menu.c
  src/nvim/shada.c
  src/nvim/spellsuggest.c
  src/nvim/terminal.c
Labels: vim-patch

#36045 vim-patch:9.1.1831: stray vseps in right-most 'winfixwidth' window
  src/nvim/window.c
  test/functional/legacy/window_cmd_spec.lua
  test/old/testdir/test_window_cmd.vim
Labels: vim-patch, ci:backport release-0.11

#36048 vim-patch:adc729c: runtime(doc): fix typo in :h credits section
  runtime/doc/credits.txt
Labels: documentation, vim-patch

#36060 vim-patch:cd6e209: runtime(kerml): update KerML comments to handle more cases
  runtime/ftplugin/kerml.vim
Labels: vim-patch

#36061 vim-patch:8824526: runtime(zip): add *.pkpass to list of zip extensions
  runtime/doc/pi_zip.txt
  runtime/plugin/zipPlugin.vim
Labels: vim-patch

#36062 vim-patch:9.1.1833: completion: fuzzy candidates are not sorted
  src/nvim/insexpand.c
  test/old/testdir/test_ins_complete.vim
Labels: vim-patch

#36052 vim-patch:8.1.{1978,1981}
  scripts/vim-patch.sh
  src/gen/gen_eval.lua
  src/nvim/errors.h
  src/nvim/eval.c
  src/nvim/eval/executor.c
  src/nvim/eval/executor.h
  src/nvim/eval/funcs.c
  src/nvim/eval/list.c
  src/nvim/eval/list.h
Labels: vim-patch

#36069 fix(lsp): use LSP method type in more places
  runtime/lua/vim/lsp/_meta.lua
  runtime/lua/vim/lsp/_meta/protocol.lua
  runtime/lua/vim/lsp/diagnostic.lua
  runtime/lua/vim/lsp/rpc.lua
  src/gen/gen_lsp.lua
Labels: lsp

#36064 fix(pack): handle lockfile in case of install errors
  runtime/lua/vim/pack.lua
  test/functional/plugin/pack_spec.lua
Labels: packages

#36067 fix(cmdline): don't treat c_CTRL-D as wildmenu
  src/nvim/cmdexpand.c
  src/nvim/ex_getln.c
  src/nvim/globals.h
  test/functional/ui/wildmode_spec.lua
Labels: ci:backport release-0.11

#36077 fix(lsp): typos in methods
  runtime/lua/vim/lsp/client.lua
  runtime/lua/vim/lsp/handlers.lua
Labels: lsp
